﻿@model Protein.Web.Models.ExportModel.ExportVM
@{
    Layout = "~/Views/Shared/_ProteinCompanyLayout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Hasar Prim Raporu</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="5">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 5
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="10">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" data-toggle="modal" data-target="#modalExport" class="mbui-exel" style="background-color:green" data-tooltip="tooltip" data-placement="bottom" title="Excel Dışa Aktar">
                                <i class="fa fa-file-excel-o"></i>
                            </a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active Enterclick">
                    <form class="form-horizontal" role="form" action="/ProviderCompany/ProviderGroupFilter" method="post" id="frmProviderGroup" data-toggle="validator">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="product" class="control-label">Ürün</label>
                                    <select class="chosen-select w-100-pr mbui-select bg-white" multiple name="product" id="product" title="Seçiniz">
                                        <option>TÜMÜ</option>
                                        @foreach (var item in ViewBag.ProductList)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="subproduct" class="control-label">Alt Ürün</label>
                                    <select class="chosen-select w-100-pr mbui-select bg-white" multiple name="subproduct" id="subproduct" title="Seçiniz">
                                        <option>TÜMÜ</option>
                                        @foreach (var item in ViewBag.SubProductList)
                                        {
                                            <option value="@item.SUBPRODUCT_ID">@item.SUBPRODUCT_NAME</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="package" class="control-label">Paket</label>
                                    <select class="chosen-select w-100-pr mbui-select bg-white" multiple name="package" id="package" title="Seçiniz">
                                        <option>TÜMÜ</option>
                                        @foreach (var item in ViewBag.PackageList)
                                        {
                                            <option value="@item.PACKAGE_ID">@item.PACKAGE_NAME</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="claimSource" class="control-label">Üretim Kanalı</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="claimSource" id="claimSource" title="Seçiniz">
                                        @foreach (var ClaimStatus in ViewBag.ClaimSourceList)
                                        {
                                            <option value="@ClaimStatus.Key">@ClaimStatus.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="policyNo" class="control-label">Poliçe No</label>
                                    <input name="policyNo" class="form-control" id="policyNo" type="text" placeholder="Poliçe No giriniz" />
                                </div>
                                <div class="col-sm-2">
                                    <label for="insuredTCKN" class="control-label">Sigortalı TCKN</label>
                                    <input name="insuredTCKN" class="form-control" id="insuredTCKN" type="text" placeholder="Poliçe No giriniz" />
                                </div>
                                <div class="col-sm-2">
                                    <label for="insuredNo" class="control-label">Sigortalı No</label>
                                    <input name="insuredNo" class="form-control" id="insuredNo" type="text" placeholder="Poliçe No giriniz" />
                                </div>
                                <div class="col-sm-2">
                                    <label for="insuredName" class="control-label">Sigortalı Adı Soyadı</label>
                                    <input name="insuredName" class="form-control" id="insuredName" type="text" placeholder="Sigortalı Adı Soyadını giriniz" />
                                </div>
                                <div class="col-sm-2">
                                    <label for="AgencyNo" class="control-label">Acente No</label>
                                    <input name="AgencyNo" class="form-control" id="insuredName" type="text" placeholder="Acente No Giriniz" />
                                </div>


                                <input type="hidden" name="isFilter" id="isFilter" value="0" />


                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button onclick="FilterClean();" type="button" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtreleri Sıfırla</button>

                                    <button type="button" onclick="Fclick('tblRptClaimPremium')" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-custom" id="tblRptClaimPremium">
                                <thead>
                                    <tr>
                                        <th>AGENCY_ID</th>
                                        <th>ACENTENO</th>
                                        <th>ACENTEAD</th>
                                        <th>POLICENO</th>
                                        <th>GRUPID</th>
                                        <th>YENILEMENO</th>
                                        <th>YENIISYENILEME</th>
                                        <th>BASTAR</th>
                                        <th>BITTAR</th>
                                        <th>TANTAR</th>
                                        <th>SIGETID</th>
                                        <th>SIGETTIREN</th>
                                        <th>HOLDINGID</th>
                                        <th>HOLDINGAD</th>
                                        <th>POLICY_STATUS</th>
                                        <th>POLICEDURUMU</th>
                                        <th>POLICY_TYPE</th>
                                        <th>POLICETIPI</th>
                                        <th>PRODUCT_ID</th>
                                        <th>PRODUCT_CODE</th>
                                        <th>URUN</th>
                                        <th>POLID</th>
                                        <th>PORTNO</th>
                                        <th>SIGORTALI</th>
                                        <th>INDIVIDUAL_TYPE</th>
                                        <th>BRYTIP</th>
                                        <th>TCKN</th>
                                        <th>KOMISYON</th>
                                        <th>TOPLAM_SURE</th>
                                        <th>KALANSURE</th>
                                        <th>PRIM</th>
                                        <th>VERGI</th>
                                        <th>KAZPRIM</th>
                                        <th>FATTUTARI</th>
                                        <th>HPORAN</th>
                                        <th>PACKAGE_ID</th>
                                        <th>PLAN</th>
                                        <th>PAKETAD</th>
                                        <th>ORT_YAS</th>
                                        <th>TALEPTUTAR</th>
                                        <th>KABULTUTAR</th>
                                        <th>ONAYTUTAR</th>
                                        <th>SIRKETTUTAR</th>
                                        <th>ACNILKOD</th>
                                        <th>ACNILAD</th>
                                        <th>ACNILCE</th>
                                        <th>SIGILKOD</th>
                                        <th>SIGILAD</th>
                                        <th>SIGILCE</th>
                                        <th>ZEYLBASTAR</th>
                                        <th>IPTALTAR</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model)
</section>

<script>
    var table = null;
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));

        $('.mbui-list .dropdown-menu li a').click(function () {
            var dataShow = $(this).attr('data-value');
            $('.dataTables_length select option').prop('selected', '');
            $(this).closest('.mbui-form').find('.dataTables_length select option[value="' + dataShow + '"]').prop('selected', 'selected').trigger('change');
        });

        table = $("#tblRptClaimPremium").DataTable({
            "ajax": {
                "url": "/ReportCompany/GetRptClaimPremium",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    Loading();
                },
                "data": function (filter) {
                    filter.product = $('#product').val();
                    filter.subproduct = $('#subproduct').val();
                    filter.package = $('#package').val();
                    filter.claimSource = $('#claimSource').val();
                    filter.policyNo = $('#policyNo').val();
                    filter.insuredTCKN = $('#insuredTCKN').val();
                    filter.insuredNo = $('#insuredNo').val();
                    filter.insuredName = $('#insuredName').val();
                    filter.AgencyNo = $('#AgencyNo').val();               
                    filter.isFilter = $('#isFilter').val();
                },
                "complete": function (settings, json) {
                    $.unblockUI();

                    var responseText = JSON.parse(settings.responseText);
                    $("#WhereCondition").val(responseText.whereConditition);
                },
                "error": function () {
                    $.unblockUI();
                }
            },
            "columns": [
                { "data": "AGENCY_ID", "name": "AGENCY_ID" },
                { "data": "ACENTENO", "name": "ACENTENO" },
                { "data": "ACENTEAD", "name": "ACENTEAD" },
                { "data": "POLICENO", "name": "POLICENO" },
                { "data": "GRUPID", "name": "GRUPID" },
                { "data": "YENILEMENO", "name": "YENILEMENO" },
                { "data": "YENIISYENILEME", "name": "YENIISYENILEME" },
                { "data": "BASTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "BITTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "TANTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "SIGETID", "name": "SIGETID" },
                { "data": "SIGETTIREN", "name": "SIGETTIREN" },
                { "data": "HOLDINGID", "name": "HOLDINGID" },
                { "data": "HOLDINGAD", "name": "HOLDINGAD" },
                { "data": "POLICY_STATUS", "name": "POLICY_STATUS" },
                { "data": "POLICEDURUMU", "name": "POLICEDURUMU" },
                { "data": "POLICY_TYPE", "name": "POLICY_TYPE" },
                { "data": "POLICETIPI", "name": "POLICETIPI" },
                { "data": "PRODUCT_ID", "name": "PRODUCT_ID" },
                { "data": "PRODUCT_CODE", "name": "PRODUCT_CODE" },
                { "data": "URUN", "name": "URUN" },
                { "data": "POLID", "name": "POLID" },
                { "data": "PORTNO", "name": "PORTNO" },
                { "data": "SIGORTALI", "name": "SIGORTALI" },
                { "data": "INDIVIDUAL_TYPE", "name": "INDIVIDUAL_TYPE" },
                { "data": "BRYTIP", "name": "BRYTIP" },
                { "data": "TCKN", "name": "TCKN" },
                { "data": "KOMISYON", "name": "KOMISYON" },
                { "data": "TOPLAM_SURE", "name": "TOPLAM_SURE" },
                { "data": "KALANSURE", "name": "KALANSURE" },
                { "data": "PRIM", "name": "PRIM" },
                { "data": "VERGI", "name": "VERGI" },
                { "data": "KAZPRIM", "name": "KAZPRIM" },
                { "data": "FATTUTARI", "name": "FATTUTARI" },
                { "data": "HPORAN", "name": "HPORAN" },
                { "data": "PACKAGE_ID", "name": "PACKAGE_ID" },
                { "data": "PLAN", "name": "PLAN" },
                { "data": "PAKETAD", "name": "PAKETAD" },
                { "data": "ORT_YAS", "name": "ORT_YAS" },
                { "data": "TALEPTUTAR", "name": "TALEPTUTAR" },
                { "data": "KABULTUTAR", "name": "KABULTUTAR" },
                { "data": "ONAYTUTAR", "name": "ONAYTUTAR" },
                { "data": "SIRKETTUTAR", "name": "SIRKETTUTAR" },
                { "data": "ACNILKOD", "name": "ACNILKOD" },
                { "data": "ACNILAD", "name": "ACNILAD" },
                { "data": "ACNILCE", "name": "ACNILCE" },
                { "data": "SIGILKOD", "name": "SIGILKOD" },
                { "data": "SIGILAD", "name": "SIGILAD" },
                { "data": "SIGILCE", "name": "SIGILCE" },
                { "data": "ZEYLBASTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "IPTALTAR", "name": "IPTALTAR" },
            ],
            pageLength: 5,
            scrollX: true,
            scrollY: false,
            "serverSide": "true",
            "aLengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": " ",
                "infoEmpty": " ",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });

    });

    function Fclick(tbl) {
        $('#isFilter').val("1");

        table.ajax.reload();
    }



    debugger;
    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });
    debugger;
    function getEnterFunction() {
        Fclick('tblRptProduction');
    }
</script>


