﻿@model Protein.Web.Models.ExportModel.ExportVM
@{
                /**/

                Layout = "~/Views/Shared/_ProteinCompanyLayout.cshtml";
}
<section class="content">
    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Hasar Detay Raporu</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="5">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 5
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="10">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" data-toggle="modal" data-target="#modalExport" class="mbui-exel" style="background-color:green" data-tooltip="tooltip" data-placement="bottom" title="Excel Dışa Aktar">
                                <i class="fa fa-file-excel-o"></i>
                            </a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active Enterclick">
                    <form class="form-horizontal" role="form" action="" method="post" id="frmProviderGroup" data-toggle="validator">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">

                                <div class="col-sm-2">
                                    <label for="product" class="control-label">Ürün</label>
                                    <select class="chosen-select w-100-pr mbui-select bg-white" multiple name="product" id="product" title="Seçiniz">
                                        <option>TÜMÜ</option>
                                        @foreach (var item in ViewBag.ProductList)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="subproduct" class="control-label">Alt Ürün</label>
                                    <select class="chosen-select w-100-pr mbui-select bg-white" multiple name="subproduct" id="subproduct" title="Seçiniz">
                                        <option>TÜMÜ</option>
                                        @foreach (var item in ViewBag.SubProductList)
                                        {
                                            <option value="@item.SUBPRODUCT_ID">@item.SUBPRODUCT_NAME</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="package" class="control-label">Paket</label>
                                    <select class="chosen-select w-100-pr mbui-select bg-white" multiple name="package" id="package" title="Seçiniz">
                                        <option>TÜMÜ</option>
                                        @foreach (var item in ViewBag.PackageList)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="ProviderID" class="control-label">Kurum Kodu</label>
                                    <input name="ProviderID" class="form-control" id="ProviderID" type="text" placeholder="Acente No giriniz" />
                                </div>
                                <div class="col-sm-2">
                                    <label for="claimListProvider" class="control-label">Sağlık Merkezi</label>
                                    <select tabindex="3" class="chosen-select w-100-pr mbui-select bg-white" multiple id="claimListProvider" name="claimListProvider" title="Seçiniz">
                                        @foreach (var ProviderType in ViewBag.claimListProviderTypes)
                                        {
                                            <optgroup label="@ProviderType.Value">
                                                @foreach (var Provider in ViewBag.claimListProviders)
                                                {
                                                    if (Provider.PROVIDER_TYPE == ProviderType.Key)
                                                    {
                                                        <option value="@Provider.PROVIDER_ID">@Provider.PROVIDER_NAME</option>
                                                    }
                                                }
                                            </optgroup>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="providerGroup" class="control-label">Sağlık Merkezi Grubu</label>
                                    <select class="chosen-select w-100-pr mbui-select bg-white" name="providerGroup" id="providerGroup" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var ProviderGroup in ViewBag.ProviderGroupList)
                                        {
                                            <option value="@ProviderGroup.Id">@ProviderGroup.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="claimListClaimNo" class="control-label">Hasar No</label>
                                    <input name="claimListClaimNo" class="form-control" placeholder="Hasar No giriniz" type="text" id="claimListClaimNo" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="policyNo" class="control-label">Poliçe No</label>
                                    <input name="policyNo" class="form-control" id="policyNo" type="text" placeholder="Poliçe No giriniz" />
                                </div>
                                <div class="col-sm-2">
                                    <label for="portNo" class="control-label">Sigortalı No - Müşteri No</label>
                                    <input name="portNo" class="form-control" id="portNo" type="text" placeholder="Poliçe No giriniz" />
                                </div>
                                <div class="col-sm-2">
                                    <label for="insuredTCKN" class="control-label">Sigortalı TCKN</label>
                                    <input name="insuredTCKN" class="form-control" id="insuredTCKN" type="number" placeholder="Sigortalı TCKN giriniz" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="insuredName" class="control-label">Sigortalı Adı</label>
                                    <input name="insuredName" class="form-control" id="insuredName" type="text" placeholder="Sigortalı Adı giriniz" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="insuredSurName" class="control-label">Sigortalı Soyadı</label>
                                    <input name="insuredSurName" class="form-control" id="insuredSurName" type="text" placeholder="Sigortalı Soyadı giriniz" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="insurerTCKN" class="control-label">Sigorta Ettiren TCKN/VKN</label>
                                    <input name="insurerTCKN" class="form-control" id="insurerTCKN" type="text" placeholder="Sigortalı Soyadı giriniz" />
                                </div>
                                <div class="col-sm-2">
                                    <label for="insurerName" class="control-label">Sigorta Ettiren Ad-Soyad</label>
                                    <input name="insurerName" class="form-control" id="insurerName" type="text" placeholder="Sigortalı Soyadı giriniz" />
                                </div>
                                <div class="col-sm-2">
                                    <label for="AgencyNo" class="control-label">Acente No</label>
                                    <input name="AgencyNo" class="form-control" id="AgencyNo" type="text" placeholder="Acente No giriniz" />
                                </div>
                                <div class="col-sm-2">
                                    <label for="policyGroup" class="control-label">Holding / Police Grubu</label>
                                    <select class="chosen-select w-100-pr mbui-select bg-white" name="policyGroup" id="policyGroup" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var PolicyGroup in ViewBag.PolicyGroupList)
                                        {
                                            <option value="@PolicyGroup.Id">@PolicyGroup.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="jobType" class="control-label">İş Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="jobType" id="jobType" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        <option value="YENİ İŞ">Yeni İş</option>
                                        <option value="YENİLEME">Yenileme</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="claimPaymentType" class="control-label">Ödeme Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="claimPaymentType" id="claimPaymentType" title="Seçiniz">
                                        @foreach (var ClaimPaymentType in ViewBag.ClaimPaymentTypeList)
                                        {
                                            <option value="@ClaimPaymentType.Key">@ClaimPaymentType.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="productType" class="control-label">Ürün Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="productType" id="productType" title="Seçiniz">
                                        @foreach (var ProductType in ViewBag.ProductTypeList)
                                        {
                                            <option value="@ProductType.Key">@ProductType.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="coverageType" class="control-label">Teminat Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="coverageType" id="coverageType" title="Seçiniz">
                                        @foreach (var CoverageType in ViewBag.CoverageTypeList)
                                        {
                                            <option value="@CoverageType.Key">@CoverageType.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="claimSource" class="control-label">Üretim Kanalı</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="claimSource" id="claimSource" title="Seçiniz">
                                        @foreach (var ClaimStatus in ViewBag.ClaimSourceList)
                                        {
                                            <option value="@ClaimStatus.Key">@ClaimStatus.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="claimStatus" class="control-label">Hasar Durumu</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="claimStatus" id="claimStatus" title="Seçiniz">
                                        @foreach (var ClaimStatus in ViewBag.ClaimStatusList)
                                        {
                                            <option value="@ClaimStatus.Key">@ClaimStatus.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="policyStartDateStart" class="control-label">Poliçe Başlangıç Tarihi (&lt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="policyStartDateStart" id="policyStartDateStart" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="policyStartDateEnd" class="control-label">Poliçe Başlangıç Tarihi (&gt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="policyStartDateEnd" id="policyStartDateEnd" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="policyEntranceDateStart" class="control-label">Poliçe Giriş Tarihi (&lt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="policyEntranceDateStart" id="policyEntranceDateStart" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="policyEntranceDateEnd" class="control-label">Poliçe Giriş Tarihi (&gt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="policyEntranceDateEnd" id="policyEntranceDateEnd" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>


                                <div class="col-sm-2">
                                    <label for="policyIssueDateStart" class="control-label">Poliçe Tanzim Tarihi (&lt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="policyIssueDateStart" id="policyIssueDateStart" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="policyIssueDateEnd" class="control-label">Poliçe Tanzim Tarihi (&gt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="policyIssueDateEnd" id="policyIssueDateEnd" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>



                                <div class="col-sm-2">
                                    <label for="claimListClaimDateStart" class="control-label">Hasar Tarihi (&gt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="claimListClaimDateStart" id="claimListClaimDateStart" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label for="claimListClaimDateEnd" class="control-label">Hasar Tarihi (&lt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="claimListClaimDateEnd" id="claimListClaimDateEnd" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label for="claimStatusDateStart" class="control-label">Hasar Durum Tarihi (&lt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="claimStatusDateStart" id="claimStatusDateStart" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="claimStatusDateEnd" class="control-label">Hasar Durum Tarihi (&gt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="claimStatusDateEnd" id="claimStatusDateEnd" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="paymentDateStart" class="control-label">Ödeme Tarihi (&lt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="paymentDateStart" id="paymentDateStart" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="paymentDateEnd" class="control-label">Ödeme Tarihi (&gt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="paymentDateEnd" id="paymentDateEnd" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <input type="hidden" name="isFilter" id="isFilter" value="0" />
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button onclick="FilterClean();" type="button" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtreleri Sıfırla</button>

                                    <button type="button" onclick="Fclick('tblRptProduction')" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-custom" id="tblRptClaimDeteils">
                                <thead>
                                    <tr>
                                        <th>GRUPID</th>
                                        <th>POLICENO</th>
                                        <th>YENILEMENO</th>
                                        <th>SIGETID</th>
                                        <th>SIGETAD</th>
                                        <th>PORTNO</th>
                                        <th>SIGORTALI</th>
                                        <th>TCKN</th>
                                        <th>POLBASTAR</th>
                                        <th>POLBITTAR</th>
                                        <th>HASARTAR</th>
                                        <th>MASTERID</th>
                                        <th>CLAIM_STATUS</th>
                                        <th>HSRSTAT</th>
                                        <th>HSRSTATAD</th>
                                        <th>HSRSTATTAR</th>
                                        <th>HSRALTSTAT</th>
                                        <th>HSRSLTSTATACK</th>
                                        <th>PACKAGE_ID</th>
                                        <th>TEMPAKETNO</th>
                                        <th>TEMPAKETAD</th>
                                        <th>REGION_CODE</th>
                                        <th>ACENTEBOLGE</th>
                                        <th>POLICY_TYPE</th>
                                        <th>POLICETIPI</th>
                                        <th>CLAIM_SOURCE_TYPE</th>
                                        <th>KAYNAKADI</th>
                                        <th>SIKAYET</th>
                                        <th>HASARNOTLAR</th>
                                        <th>ICMALNO</th>
                                        <th>ANATEMKOD</th>
                                        <th>ANATEMADI</th>
                                        <th>ALTTEMKOD</th>
                                        <th>TEMINATADI</th>
                                        <th>KURUMKODU</th>
                                        <th>KURUMADI</th>
                                        <th>KURUMVKN</th>
                                        <th>KURUMTICARIUNVAN</th>
                                        <th>ODEMETARIHI</th>
                                        <th>ODEMEYERIACIKLAMA</th>
                                        <th>FATURANO</th>
                                        <th>FATURATARIHI</th>
                                        <th>KURUMTIPI</th>
                                        <th>URUNKODU</th>
                                        <th>URUNADI</th>
                                        <th>POLTANTAR</th>
                                        <th>FATURATUTAR</th>
                                        <th>ODENEBILIRTUTAR</th>
                                        <th>ODENENTUTAR</th>
                                        <th>KISMIRETTUTARI</th>
                                        <th>ANLASMADISITUTAR</th>
                                        <th>SIGORTALIPAYI</th>
                                        <th>TANIBILGILERI</th>
                                        <th>HAVUZ</th>
                                        <th>DOKTORADI</th>
                                        <th>UZMANLIKALANI</th>
                                        <th>ILACBILGISI</th>
                                        <th>KURUMSOZLESMEBILGISI</th>
                                        <th>MEDULATAKIPNO</th>
                                        <th>BTCLAIMID</th>
                                        <th>SIGYAS</th>
                                        <th>IHBARTAR</th>
                                        <th>KAYITTAR</th>
                                        <th>KURUMGRUP</th>
                                        <th>KURUMGRUPAD</th>
                                        <th>SGKTUTAR</th>
                                        <th>SIRKET_HSR_ID</th>
                                        <th>SIRKET_HSR_NO</th>
                                        <th>SIRKETPAKETID</th>
                                        <th>SIRKETPAKETNO</th>
                                        <th>KURUMICMALNO</th>
                                        <th>ICMALTAR</th>
                                        <th>BANKAADI</th>
                                        <th>SUBEADI</th>
                                        <th>HESAPADI</th>
                                        <th>HESAPNO</th>
                                        <th>IBANNO</th>
                                        <th>TALEPTUTAR</th>
                                        <th>KABULTUTAR</th>
                                        <th>ONAYTUTAR</th>
                                        <th>SIRKETTUTAR</th>
                                        <th>ACENTENO</th>
                                        <th>KAYITUSR</th>
                                        <th>SIGORTALI_AD</th>
                                        <th>SIGORTALI_SOYAD</th>
                                        <th>KURUM_ADRES</th>
                                        <th>COUNTRY_ID</th>
                                        <th>KURUM_IL</th>
                                        <th>COUNTY_ID</th>
                                        <th>COUNTY_CODE</th>
                                        <th>KURUM_ILCE</th>
                                        <th>TEDAVI</th>
                                        <th>INDIVIDUAL_TYPE</th>
                                        <th>BRYTIP</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model)
</section>

<script>
    var table = null;
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));

        $('.mbui-list .dropdown-menu li a').click(function () {
            var dataShow = $(this).attr('data-value');
            $('.dataTables_length select option').prop('selected', '');
            $(this).closest('.mbui-form').find('.dataTables_length select option[value="' + dataShow + '"]').prop('selected', 'selected').trigger('change');
        });

        table = $("#tblRptClaimDeteils").DataTable({
            "ajax": {
                "url": "/ReportCompany/GetRptClaimDetails",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                "data": function (filter) {
                    filter.Company = $('#Company').val();
                    filter.product = $('#product').val();
                    filter.subproduct = $('#subproduct').val();
                    filter.package = $('#package').val();
                    filter.claimListProvider = $('#claimListProvider').val();
                    filter.providerGroup = $('#providerGroup').val();
                    filter.policyGroup = $('#policyGroup').val();
                    filter.productType = $('#productType').val();
                    filter.policyType = $('#policyType').val();
                    filter.coverageType = $('#coverageType').val();
                    filter.claimStatus = $('#claimStatus').val();
                    filter.claimSource = $('#claimSource').val();
                    filter.claimPaymentType = $('#claimPaymentType').val();
                    filter.jobType = $('#jobType').val();
                    filter.AgencyNo = $('#AgencyNo').val();
                    filter.claimListClaimNo = $('#claimListClaimNo').val();
                    filter.policyNo = $('#policyNo').val();
                    filter.insuredTCKN = $('#insuredTCKN').val();
                    filter.insuredName = $('#insuredName').val();
                    filter.insuredSurName = $('#insuredSurName').val();
                    filter.policyStartDateStart = $('#policyStartDateStart').val();
                    filter.policyStartDateEnd = $('#policyStartDateEnd').val();
                    filter.claimListClaimDateStart = $('#claimListClaimDateStart').val();
                    filter.claimListClaimDateEnd = $('#claimListClaimDateEnd').val();
                    filter.policyIssueDateStart = $('#policyIssueDateStart').val();
                    filter.policyIssueDateEnd = $('#policyIssueDateEnd').val();
                    filter.paymentDateStart = $('#paymentDateStart').val();
                    filter.paymentDateEnd = $('#paymentDateEnd').val();
                    filter.policyEntranceDateStart = $('#policyEntranceDateStart').val();
                    filter.policyEntranceDateEnd = $('#policyEntranceDateEnd').val();
                    filter.claimStatusDateStart = $('#claimStatusDateStart').val();
                    filter.claimStatusDateEnd = $('#claimStatusDateEnd').val();
                    filter.ProviderID = $('#ProviderID').val();
                    filter.portNo = $('#portNo').val();
                    filter.insurerTCKN = $('#insurerTCKN').val();

                    filter.isFilter = $('#isFilter').val();
                },
                "complete": function (settings, json) {
                    var responseText = JSON.parse(settings.responseText);
                    $("#WhereCondition").val(responseText.whereConditition);
                    $.unblockUI();
                }
            },
            "columns": [
                { "data": "GRUPID", "name": "GRUPID" },
                { "data": "POLICENO", "name": "POLICENO" },
                { "data": "YENILEMENO", "name": "YENILEMENO" },
                { "data": "SIGETID", "name": "SIGETID" },
                { "data": "SIGETAD", "name": "SIGETAD" },
                { "data": "PORTNO", "name": "PORTNO" },
                { "data": "SIGORTALI", "name": "SIGORTALI" },
                { "data": "TCKN", "name": "TCKN" },
                { "data": "POLBASTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "POLBITTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "HASARTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "MASTERID", "name": "MASTERID" },
                { "data": "CLAIM_STATUS", "name": "CLAIM_STATUS" },
                { "data": "HSRSTAT", "name": "HSRSTAT" },
                { "data": "HSRSTATAD", "name": "HSRSTATAD" },
                { "data": "HSRSTATTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "HSRALTSTAT", "name": "HSRALTSTAT" },
                { "data": "HSRSLTSTATACK", "name": "HSRSLTSTATACK" },
                { "data": "PACKAGE_ID", "name": "PACKAGE_ID" },
                { "data": "TEMPAKETNO", "name": "TEMPAKETNO" },
                { "data": "TEMPAKETAD", "name": "TEMPAKETAD" },
                { "data": "REGION_CODE", "name": "REGION_CODE" },
                { "data": "ACENTEBOLGE", "name": "ACENTEBOLGE" },
                { "data": "POLICY_TYPE", "name": "POLICY_TYPE" },
                { "data": "POLICETIPI", "name": "POLICETIPI" },
                { "data": "CLAIM_SOURCE_TYPE", "name": "CLAIM_SOURCE_TYPE" },
                { "data": "KAYNAKADI", "name": "KAYNAKADI" },
                { "data": "SIKAYET", "name": "SIKAYET" },
                { "data": "HASARNOTLAR", "name": "HASARNOTLAR" },
                { "data": "ICMALNO", "name": "ICMALNO" },
                { "data": "ANATEMKOD", "name": "ANATEMKOD" },
                { "data": "ANATEMADI", "name": "ANATEMADI" },
                { "data": "ALTTEMKOD", "name": "ALTTEMKOD" },
                { "data": "TEMINATADI", "name": "TEMINATADI" },
                { "data": "KURUMKODU", "name": "KURUMKODU" },
                { "data": "KURUMADI", "name": "KURUMADI" },
                { "data": "KURUMVKN", "name": "KURUMVKN" },
                { "data": "KURUMTICARIUNVAN", "name": "KURUMTICARIUNVAN" },
                { "data": "ODEMETARIHI", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "ODEMEYERIACIKLAMA", "name": "ODEMEYERIACIKLAMA" },
                { "data": "FATURANO", "name": "FATURANO" },
                { "data": "FATURATARIHI", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "KURUMTIPI", "name": "KURUMTIPI" },
                { "data": "URUNKODU", "name": "URUNKODU" },
                { "data": "URUNADI", "name": "URUNADI" },
                { "data": "POLTANTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "FATURATUTAR", "name": "FATURATUTAR" },
                { "data": "ODENEBILIRTUTAR", "name": "ODENEBILIRTUTAR" },
                { "data": "ODENENTUTAR", "name": "ODENENTUTAR" },
                { "data": "KISMIRETTUTARI", "name": "KISMIRETTUTARI" },
                { "data": "ANLASMADISITUTAR", "name": "ANLASMADISITUTAR" },
                { "data": "SIGORTALIPAYI", "name": "SIGORTALIPAYI" },
                { "data": "TANIBILGILERI", "name": "TANIBILGILERI" },
                { "data": "HAVUZ", "name": "HAVUZ" },
                { "data": "DOKTORADI", "name": "DOKTORADI" },
                { "data": "UZMANLIKALANI", "name": "UZMANLIKALANI" },
                { "data": "ILACBILGISI", "name": "ILACBILGISI" },
                { "data": "KURUMSOZLESMEBILGISI", "name": "KURUMSOZLESMEBILGISI" },
                { "data": "MEDULATAKIPNO", "name": "MEDULATAKIPNO" },
                { "data": "BTCLAIMID", "name": "BTCLAIMID" },
                { "data": "SIGYAS", "name": "SIGYAS" },
                { "data": "IHBARTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "KAYITTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "KURUMGRUP", "name": "KURUMGRUP" },
                { "data": "KURUMGRUPAD", "name": "KURUMGRUPAD" },
                { "data": "SGKTUTAR", "name": "SGKTUTAR" },
                { "data": "SIRKET_HSR_ID", "name": "SIRKET_HSR_ID" },
                { "data": "SIRKET_HSR_NO", "name": "SIRKET_HSR_NO" },
                { "data": "SIRKETPAKETID", "name": "SIRKETPAKETID" },
                { "data": "SIRKETPAKETNO", "name": "SIRKETPAKETNO" },
                { "data": "KURUMICMALNO", "name": "KURUMICMALNO" },
                { "data": "ICMALTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "BANKAADI", "name": "BANKAADI" },
                { "data": "SUBEADI", "name": "SUBEADI" },
                { "data": "HESAPADI", "name": "HESAPADI" },
                { "data": "HESAPNO", "name": "HESAPNO" },
                { "data": "IBANNO", "name": "IBANNO" },
                { "data": "TALEPTUTAR", "name": "TALEPTUTAR" },
                { "data": "KABULTUTAR", "name": "KABULTUTAR" },
                { "data": "ONAYTUTAR", "name": "ONAYTUTAR" },
                { "data": "SIRKETTUTAR", "name": "SIRKETTUTAR" },
                { "data": "ACENTENO", "name": "ACENTENO" },
                { "data": "KAYITUSR", "name": "KAYITUSR" },
                { "data": "SIGORTALI_AD", "name": "SIGORTALI_AD" },
                { "data": "SIGORTALI_SOYAD", "name": "SIGORTALI_SOYAD" },
                { "data": "KURUM_ADRES", "name": "KURUM_ADRES" },
                { "data": "COUNTRY_ID", "name": "COUNTRY_ID" },
                { "data": "KURUM_IL", "name": "KURUM_IL" },
                { "data": "COUNTY_ID", "name": "COUNTY_ID" },
                { "data": "COUNTY_CODE", "name": "COUNTY_CODE" },
                { "data": "KURUM_ILCE", "name": "KURUM_ILCE" },
                { "data": "TEDAVI", "name": "TEDAVI" },
                { "data": "INDIVIDUAL_TYPE", "name": "INDIVIDUAL_TYPE" },
                { "data": "BRYTIP", "name": "BRYTIP" },

            ],
            pageLength: 5,
            scrollX: true,
            scrollY: false,
            "serverSide": "true",
            "aLengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": " ",
                "infoEmpty": " ",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });

    });

    function Fclick(tbl) {
        $('#isFilter').val("1");
        table.ajax.reload();
    }

    debugger;
    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });
    debugger;
    function getEnterFunction() {
        Fclick('tblRptProduction');
    }


</script>


