﻿<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">
                <div class="mbui-header">
                    <h3><strong>Şifre Değiştir</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" href="/Dashboard" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/Common/ChangePassword" id="frmChangePassword" method="post" data-toggle="validator">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-4">
                                                    <label for="newPassword" class="control-label"><span class="color-danger">*</span>Yeni Şifreniz</label>
                                                    <input value="" name="newPassword" class="form-control" id="newPassword" minlength="8" maxlength="20" placeholder="Yeni Şifrenizi giriniz" type="password" required />
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-4">
                                                    <label for="newPasswordAgain" class="control-label"><span class="color-danger">*</span>Yeni Şifreniz Tekrar</label>
                                                    <input value="" name="newPasswordAgain" class="form-control" id="newPasswordAgain" minlength="8" maxlength="20" placeholder="Yeni Şifrenizi Tekrar giriniz" type="password" required />
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <button type="submit" class="btn btn-success btn-sm mr-10">Değiştir</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });
</script>