﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" href="~/Content/images/dark-favicon.png" />
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>Protein</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Content/fonts/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/Content/css/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/css/chosen.css" rel="stylesheet" />
    <link href="~/Content/css/checkbox.css" rel="stylesheet" />
    <link href="~/Content/css/toastr.min.css" rel="stylesheet">
    <link href="~/Content/css/main.css" rel="stylesheet">
</head>
<body id="page-top">

    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="~/Content/css/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/css/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>

    @RenderBody()

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    @RenderPage("~/Views/Shared/LogoutModal.cshtml")

    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery.blockUI.js?v=2.70.0"></script>
</body>
</html>