﻿<div class="modal fade" id="frmDoctor_Modal" tabindex="-1" role="dialog" aria-labelledby="frmDoctor_Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="doctorModalLabel">Doktor</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="form-horizontal" role="form" action="/Common/DoctorSave" method="post" id="frmDoctor">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="DOCTOR_BRANCH_ID" class="control-label"><span class="color-danger">*</span>Bölüm/Doktor Branş</label>
                                <select class="chosen-select" name="DOCTOR_BRANCH_ID" id="DOCTOR_BRANCH_ID" style="width: 90%;" required>
                                    @foreach (var DoctorBranch in ViewBag.DoctorBranchList)
                                    {
                                        <option value="@DoctorBranch.Id">@DoctorBranch.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="DOCTOR_TITLE" name="DOCTOR_TITLE" class="form-control" placeholder="Ünvanı">
                                    <label for="DOCTOR_TITLE">Unvanı</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="DIPLOMA_NO" name="DIPLOMA_NO" class="form-control" placeholder="Diploma No">
                                    <label for="DIPLOMA_NO">Diploma No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="REGISTER_NO" name="REGISTER_NO" class="form-control" placeholder="Sicil No" required >
                                    <label for="REGISTER_NO"><span class="color-danger">*</span>Sicil No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="FIRST_NAME" name="FIRST_NAME" class="form-control" placeholder="Adı" >
                                    <label for="FIRST_NAME">Adı</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="LAST_NAME" name="LAST_NAME" class="form-control" placeholder="Soyadı">
                                    <label for="LAST_NAME">Soyadı</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <button type="button" id="btnfrmDoctorSave" onclick="ValidateAndSave('frmDoctor');" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>