﻿<div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="fileUploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fileUploadModalLabel">Dosya Seçimi</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="fileName" maxlength="11" class="form-control" placeholder="Adı" required="required">
                                    <label for="fileName">Adı</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">İçeri Alınacak Dosyayı Seçiniz</label>
                                <div class="col-sm-10">
                                    <input type="file" class="filestyle" data-buttonText="Find file" data-iconName="fa fa-inbox" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <button type="button" class="btn btn-success">İçeri Aktar ve Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>