﻿<!-- Sticky Footer -->
<footer class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.1.1
            </div>
            <span><strong>Copyright © 2018 <a href="http://mooryazilim.com" target="_blank">Moor Yazılım</a>.</strong> All rights reserved.</span>
        </div>
    </div>
</footer>