﻿@{
    #region Menu selection

    string[] urlSegments = Request.RawUrl.ToLower().Split(new char[] { '/' }, StringSplitOptions.RemoveEmptyEntries);

    //Sidebar menu selection

    //Product sub menu active
    string dashboardActive = string.Empty;
    string insuredActive = string.Empty;
    string claimActive = string.Empty;
    string payrollActive = string.Empty;
    string providerActive = string.Empty;

    if (urlSegments.Count() > 0)
    {
        switch (urlSegments[0])
        {
            case "ınsured":
            case "insured":
                insuredActive = " active";
                break;

            case "claim":
                claimActive = " active";
                break;

            case "payroll":
                payrollActive = " active";
                break;

            case "provider":
                providerActive = " active";
                break;

            case "dashboard":
            default:
                dashboardActive = " active";
                break;
        }
    }

    #endregion
}

<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item@(dashboardActive)">
        <a onclick="Loading();" class="nav-link" href="/Dashboard/Index">
            <i class="fas fa-fw fa-home"></i>
            <span>Anasayfa</span>
        </a>
    </li>
    <li class="nav-item@(insuredActive)">
        <a  onclick="Loading();" class="nav-link" href="/Insured/Index">
            <i class="fas fa-file-medical-alt"></i>
            <span>Provizyon Giriş</span>
        </a>
    </li>
    <li class="nav-item@(claimActive)">
        <a class="nav-link" href="/Claim/Index">
            <i class="fas fa-file-archive"></i>
            <span>Provizyon Listesi</span>
        </a>
    </li>
    <li class="nav-item@(payrollActive)">
        <a onclick="Loading();" class="nav-link" href="/Payroll/Index">
            <i class="fas fa-envelope"></i>
            <span>İcmal/Ödeme Listesi</span>
        </a>
    </li>
    <li class="nav-item @(providerActive)">
        <a onclick="Loading();" class="nav-link" href="/Provider/Index">
            <i class="fas fa-cogs"></i>
            <span>Kurum Bilgileri</span>
        </a>
    </li>
</ul>