﻿<div class="modal fade" id="frmOldClaim_Modal" tabindex="-1" role="dialog" aria-labelledby="oldTenzimatModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:1050px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="oldTenzimatModalLabel">Eski Tazminatlar</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="form-horizontal" role="form" action="" method="post" id="frmOldClaim">
                <div class="modal-body">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" width="100%" id="tblOldClaimList" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Durum</th>
                                            <th>Sigorta Şirketi</th>
                                            <th>Hasar No</th>
                                            <th>Zarf No</th>
                                            <th>Kurum Adı</th>
                                            <th>Hasar Tarihi</th>
                                            <th>Fatura Tarihi</th>
                                            <th>Şirket Tutarı</th>
                                            <th>Sigortalı Payı</th>
                                            <th>İşlemler</th>
                                        </tr>
                                    </thead>
                                    @*<tbody>
                                            <tr>
                                                <td class="success-bold">PROVİZYON</td>
                                                <td>HALK SİGORTA A.Ş</td>
                                                <td>812816</td>
                                                <td></td>
                                                <td>ESKİŞEHİR OSMANGAZİ ÜNİVERSİTE HASTANESİ</td>
                                                <td>2011/04/25</td>
                                                <td>2013/01/29</td>
                                                <td>1000 $</td>
                                                <td>2000 $</td>
                                                <td>
                                                    <div class="btn-group fr">
                                                        <span><a href="#" class="myIcon icon-green" data-toggle="tooltip" title="Ekle"><i class="fa fa-plus"></i></a></span>
                                                        <span><a href="#" class="myIcon icon-blue" data-toggle="tooltip" title="Düzenle"><i class="fa fa-edit"></i></a></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="error-bold">RED</td>
                                                <td>HALK SİGORTA A.Ş</td>
                                                <td>812816</td>
                                                <td></td>
                                                <td>ESKİŞEHİR OSMANGAZİ ÜNİVERSİTE HASTANESİ</td>
                                                <td>2011/04/25</td>
                                                <td>2013/01/29</td>
                                                <td>1000 $</td>
                                                <td>2000 $</td>
                                                <td>
                                                    <div class="btn-group fr">
                                                        <span><a href="#" class="myIcon icon-orange" data-toggle="tooltip" title="Görüntüle"><i class="fa fa-search"></i></a></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="warning-bold">UYARI</td>
                                                <td>HALK SİGORTA A.Ş</td>
                                                <td>812816</td>
                                                <td></td>
                                                <td>ESKİŞEHİR OSMANGAZİ ÜNİVERSİTE HASTANESİ</td>
                                                <td>2011/04/25</td>
                                                <td>2013/01/29</td>
                                                <td>1000 $</td>
                                                <td>2000 $</td>
                                                <td>
                                                    <div class="btn-group fr">
                                                        <span><a href="#" class="myIcon icon-red" data-toggle="tooltip" title="Sil"> <i class="fas fa-trash-alt"></i></a></span><br />
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>*@
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var tblOldClaimList = null;
    $(document).ready(function () {
        LoadBillList();
    });

    function LoadBillList() {

        var data = JSON.parse("[]");

        tblOldClaimList = $('#tblOldClaimList').DataTable({
            pageLength: 5,
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "sLengthMenu": " _MENU_  Adet Kayıt Listelendi",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            },
            "aLengthMenu": [[5, 25, 50, 75, 100, -1], [5, 25, 50, 75, 100, "Tümü"]],
            //"scrollX": true,
            //"scrollY": false,
            //"scrollCollapse": false,
            //"data": data,
            "order": [5, "asc"],
            "columns": [
                {
                    "data": null,
                    "render": function (data) {
                        if (data != null) {
                            if (data.STATUS == "0") { //ProteinEnums.ClaimStatus.GIRIS
                                return '<p class="durum color-warning"><strong>GİRİŞ</strong></p>';
                            }
                            else if (data.STATUS == "1") {//ProteinEnums.ClaimStatus.SILINDI
                                return '<p class="error-bold"><strong>SİLİNMİŞ</strong></p>';
                            }
                            else if (data.STATUS == "2") {//ProteinEnums.ClaimStatus.PROVIZYON
                                return '<p class="success-bold"><strong>PROVİZYON</strong></p>';
                            }
                            else if (data.STATUS == "3") {//ProteinEnums.ClaimStatus.BEKLEME
                                return '<p class="warning-bold"><strong>PROVİZYON BEKLEME</strong></p>';
                            }
                            else if (data.STATUS == "4") {//ProteinEnums.ClaimStatus.RET
                                return '<p class="error-bold"><strong>RET</strong></p>';
                            }
                            else if (data.STATUS == "5") {//ProteinEnums.ClaimStatus.ÖDENECEK
                                return '<p class="warning-bold"><strong>ÖDENECEK</strong></p>';
                            }
                            else if (data.STATUS == "6") {//ProteinEnums.ClaimStatus.İPTAL
                                return '<p class="error-bold"><strong>İPTAL</strong></p>';
                            }
                            else if (data.STATUS == "7") {//ProteinEnums.ClaimStatus.ÖDENDİ
                                return '<p class="success-bold"><strong>ÖDENDİ</strong></p>';
                            }
                            else if (data.STATUS == "8") {//ProteinEnums.ClaimStatus.BEKLEME
                                return '<p class="warning-bold"><strong>TAZMİNAT BEKLEME</strong></p>';
                            }
                        }
                    }
                },
                { "data": "COMPANY_NAME", name: "COMPANY_NAME" },
                { "data": "CLAIM_ID", name: "CLAIM_ID" },
                { "data": "PAYROLL_ID", name: "PAYROLL_ID" },
                { "data": "PROVIDER_NAME", name: "PROVIDER_NAME" },
                {
                    "data": "CLAIM_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        return (data.BILL_DATE == null ? "-" : formatdate(data.BILL_DATE));
                    }
                },
                { "data": "PAID", name: "PAID" },
                {
                    "data": null,
                    "render": function (data) {
                        var insuredPaid = data.REQUESTED - data.PAID;
                        return parseFloat(Math.round(insuredPaid * 100) / 100).toFixed(2);
                    }
                },
                {
                    "data": "CLAIM_ID",
                    "render": function (data) {
                        return '<div class="islem">' +
                            '<div class="btn-group fr">' +
                            '<a onclick="OpenClaimDetails(' + data + ');" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>' +
                            '</div>' +
                            '</div>';
                    }
                }
            ]
        });
    }

    function GetOldClaimList() {
        var insuredId = $('#hdInsuredId').val();
        debugger;
        if (insuredId != null && insuredId > 0) {
            $.ajax({
                type: "post",
                contentType: "application/json; charset=utf-8",
                url: "/Common/GetOldClaimList?insuredId=" + insuredId,
                cache: false,
                contentType: false,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                complete: function () {
                    $.unblockUI();
                },
                success: function (data) {
                    debugger;
                    var responseData = $.parseJSON(data);
                    if (responseData.ResultCode == "100") {
                        RefreshTable('tblOldClaimList', JSON.parse(responseData.Data.jsonData));
                        $('#frmOldClaim_Modal').modal("toggle");
                    }
                    else {
                        getErrorMessage("error", responseData.ResultMessage);
                    }
                },
                error: function (xhr, err) {
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                }
            })
        }
        else {
            getErrorMessage("warning", "Sigortalı Seçilmesi Gerekmektedir");
        }
    }
</script>