﻿<!-- Zarf Düzenle Modal-->
<div class="modal fade" id="frmPayrollEdit_Modal" tabindex="-1" role="dialog" aria-labelledby="zarfDuzenleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="zarfDuzenleModalLabel">Zarf Düzenle</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="form-horizontal" role="form" action="/Common/PayrollCreateOrUpdate" method="post" id="frmPayrollEdit">
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" name="hdPayrollId" id="hdPayrollId" value="0" />
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="payrollProviderNo" name="payrollProviderNo" class="form-control" placeholder="Kurum İcmal No" required="required">
                                    <label for="payrollProviderNo">Kurum İcmal No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <select class="chosen-select" name="payrollCompany" id="payrollCompany" style="width: 90%;">
                                    <option value="">Sigorta Şirketi Seçiniz</option>
                                    @foreach (var item in ViewBag.v_company)
                                    {
                                        <option value="@item.COMPANY_ID">@item.COMPANY_NAME</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <select class="chosen-select" name="payrollCategory" id="payrollCategory" style="width: 90%;">
                                    <option value="">Zarf Kategorisi Seçiniz</option>
                                    @foreach (var item in ViewBag.PayrollCategoryTypeList)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="date" id="payrollDate" name="payrollDate" maxlength="11" class="form-control" placeholder="Bordrolama Tarihi" required="required">
                                    <label for="payrollDate">Bordrolama Tarihi</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <button type="button" onclick="SavePayrollData('frmPayrollEdit','payrollList')" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function SavePayrollData(frmName,screen) {

        var form = $('#' + frmName);
        form.validate();

        if (form.valid()) {

            var formData = new FormData(form[0]);
            debugger;
            $.ajax({
                type: form[0].method,
                contentType: "application/json; charset=utf-8",
                url: form[0].action,
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    $.unblockUI();
                    var responseData = $.parseJSON(data);
                    if (responseData.ResultCode == "100") {
                        getErrorMessage("success", responseData.ResultMessage);

                        $('#frmPayrollEdit_Modal').modal('toggle');
                        if (screen == 'payrollList') {
                            tblPayroll.ajax.reload();
                        }
                    }
                    else {
                        getErrorMessage("error", responseData.ResultMessage);
                    }
                },
                error: function (xhr,err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
                    getErrorMessage("error", "Kayıt sırasında hata oluştu! Lütfen Tekrar Deneyiniz...");
                    $.unblockUI();
                }
            })
        } else {
            $.unblockUI();
            swal({
                title: "Hata",
                text: "Zorunlu alanları doldurunuz!",
                icon: "success"
            });
        }
    }

    function OpenPayrollModal(payrollId) {
        $('#hdPayrollId').val(payrollId);
        $('#frmPayrollEdit_Modal').modal('toggle');
    }

</script>