﻿<div class="modal fade" id="frmRemainingCoverage_Modal" tabindex="-1" role="dialog" aria-labelledby="modModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:1150px !important;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modModalLabel">Kalan Teminat</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="form-horizontal" role="form" action="" method="post" id="frmRemainingCoverage">
                <div class="modal-body">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" width="100%" id="tblRemainingCoverageList">
                                    <thead>
                                        <tr>
                                            <th>Teminat</th>
                                            <th>Katılım Oranı</th>
                                            <th>Toplam Limit</th>
                                            <th>Kullanılan Limit</th>
                                            <th>Kalan Limit</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var tblRemainingCoverageList = null;
    $(document).ready(function () {
        LoadRemainingCoverageList();
    });

    function LoadRemainingCoverageList() {

        var data = JSON.parse("[]");

        tblRemainingCoverageList = $('#tblRemainingCoverageList').DataTable({
            pageLength: 5,
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "sLengthMenu": " _MENU_  Adet Kayıt Listelendi",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            },
            "aLengthMenu": [[5, 25, 50, 75, 100, -1], [5, 25, 50, 75, 100, "Tümü"]],
            //"scrollX": true,
            //"scrollY": false,
            //"scrollCollapse": false,
            //"data": data,
            "order": [0, "asc"],
            "columns": [
                { "data": "CoverageName", name: "CoverageName" },
                { "data": "AgrCoinsuranceRatio", name: "AgrCoinsuranceRatio", "orderable": false },
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        debugger;
                        if (data.CoverageId == 95 && data.PackageType == "0") {
                            return data.AgrNumberLimit;
                        } else {
                            return data.AgrPriceLimitTL;
                        }
                    }
                },
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        if (data.CoverageId == 95 && data.PackageType == "0") {
                            return data.AgrNumberLimitUse;
                        } else {
                            return data.AgrPriceLimitUse;
                        }
                    }
                },
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        if (data.CoverageId == 95 && data.PackageType=="0") {
                            return data.AgrNumberLimitRemaining;
                        } else {
                            return data.AgrPriceLimitRemaining;
                        }
                    }
                }
            ]
        });
    }

    function GetRemainingCoverageList() {
        var insuredId = $('#hdInsuredId').val();
        debugger;
        if (insuredId != null && insuredId > 0) {
            $.ajax({
                type: "post",
                contentType: "application/json; charset=utf-8",
                url: "/Common/GetRemainingCoverageList?insuredId=" + insuredId,
                cache: false,
                contentType: false,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                complete: function () {
                    $.unblockUI();
                },
                success: function (data) {
                    debugger;
                    var responseData = $.parseJSON(data);
                    if (responseData.ResultCode == "100") {
                        RefreshTable('tblRemainingCoverageList', JSON.parse(responseData.Data.jsonData));
                        $('#frmRemainingCoverage_Modal').modal("toggle");
                    }
                    else {
                        getErrorMessage("error", responseData.ResultMessage);
                    }
                },
                error: function (xhr, err) {
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                }
            })
        }
        else {
            getErrorMessage("warning", "Sigortalı Seçilmesi Gerekmektedir");
        }
    }
</script>