﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderPage("~/Views/Shared/Header.cshtml")

<div id="wrapper">

    @RenderPage("~/Views/Shared/LeftSidebar.cshtml")

    <div id="content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
        <!-- /.container-fluid -->
    </div>

    @RenderPage("~/Views/Shared/Footer.cshtml")
</div>
<!-- /#wrapper -->