﻿@{
    Layout = "~/Views/Dashboard/_DashboardLayout.cshtml";
}

<!-- Icon Cards-->
<div class="row">
    <div class="col-xl-12 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body-two">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-home"></i>
                </div>
                <h5>Anasayfa</h5>
            </div>

        </div>
        
    </div>

</div>
<div class="card mb-3">
    <div class="card-body">
        <div class="card-header">
            <h6>Kullanım Kılavuzu</h6>
        </div>
        <div class="card-body">
            <label>Kullanım klavuzu için <span><a href="~/Content/excelfiles/kullanim_klavuzu.pdf" target="_blank" role="button" tabindex="0"  >tıklayınız.</a></span></label>
            
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <div class="card-header">
            <h6>ÖSS-YSS Bilgilendirme</h6>
        </div>
        <div class="card-body">
            <label>Fatura düzenleme süreçlerine ilişkin bilgi için <span><a href="~/Content/excelfiles/oss-yss_bilgilendirme.pdf" target="_blank" role="button" tabindex="0">tıklayınız.</a></span></label>
            
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body" style="text-align: center;">
        <div class="card-header">
            <h6><b>İMECE DESTEK DANIŞMANLIK HİZMETLERİ A.Ş. İLETİŞİM BİLGİLERİ</b></h6>
        </div>
        <div class="card-body">
            <label>Anlaşmalı kurumlar süreçleri ile ilgili soru/sorun ve talepleriniz için <a href="mailto:ankur@imecedestek.com?Subject=PROTEIN%20ANKUR%20SORU/TALEP" target="_top">ankur@imecedestek.com</a> adresine,</label>
        </div>
        <div class="card-body">
            <label>Tazminat süreçleri ile ilgili soru/sorun ve talepleriniz için <a href="mailto:tazminat@imecedestek.com?Subject=PROTEIN%20TAZMİNAT%20SORU/TALEP" target="_top">tazminat@imecedestek.com</a> adresine,</label>
        </div>
        <div class="card-body">
            <label>Provizyon süreçleri  ile ilgili soru/sorun ve talepleriniz için <a href="mailto:ossprovizyon@imecedestek.com?Subject=PROTEIN%20PROVIZYON%20SORU/TALEP" target="_top">ossprovizyon@imecedestek.com</a> adresine e-mail göndererek bizlere ulaşabilirsiniz.</label>
        </div>
    </div>
</div>