﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <title>Protein - Login</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Content/fonts/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/Content/css/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/css/chosen.css" rel="stylesheet" />
    <link href="~/Content/css/checkbox.css" rel="stylesheet" />
    <link href="~/Content/css/toastr.min.css" rel="stylesheet">
    <link href="~/Content/css/main.css" rel="stylesheet">

</head>
<body class="bg-gradient-login">
    <div class="container">
        <div class="loading" id="domMessage" style="display:none; position:absolute;">
            <div class="loadingCenter loadingContainer">
                <div class="loadContainer">
                    <div class="loader2"></div>
                    <div class="loader3"></div>
                    <div class="loader4"></div>
                </div>
                <span> Yükleniyor...</span>
            </div>
        </div>
        @RenderBody()
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="~/Content/css/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/css/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>

    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery.blockUI.js?v=2.70.0"></script>
    <script>
        $('.input').keypress(function (e) {
            if (e.which == 13) {
                $('form#formLogin').submit();
                return false;
            }
        });
        $(document).ready(function () {
            $("#inputEmail").focus();
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });
    </script>
</body>
</html>