﻿@{
    Layout = "~/Views/Login/_LoginLayout.cshtml";
}

<div class="card card-login mx-auto mt-5">
    <div class="card-header">
        <img src="~/Content/images/protein-dark-logo.png" />
    </div>
    <div class="card-body">
        <form id="formLogin" class="form-horizontal" role="form" action="/Login/Index" method="post" data-toggle="validator">
            <div class="form-group">
                <div class="form-label-group">
                    <input id="inputEmail" name="inputEmail" class="form-control" placeholder="Kullanıcı Adı" required="required" autofocus="autofocus" value="@ViewBag.inputEmail">
                    <label for="inputEmail">Kullanıcı Adı</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Şifre" required="required" value="@ViewBag.inputPassword">
                    <label for="inputPassword">Şifre</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Giriş</button>
            <button type="button" data-toggle="modal" data-target="#frmRefreshPassword_Modal" class="btn btn-primary btn-block">Şifremi Unuttum</button>
        </form>
    </div>
</div>

<div class="modal fade" id="frmRefreshPassword_Modal" tabindex="-1" role="dialog" aria-labelledby="frmRefreshPassword_Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="frmRefreshPassword_Modal">Şifreyi Hatırlat</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="form-horizontal" role="form" action="/Common/DoctorSave" method="post" id="frmRefreshPassword">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="PROVIDER_ID" name="PROVIDER_ID" maxlength="11" class="form-control" placeholder="Kurum Kodunuzu Giriniz">
                                    <label for="PROVIDER_ID">Kurum Kodu</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label style="color:red;font-size:small">*Girilen Kurum Koduna Ait Kurumun Yetkilisine Şifre Mail ile İletilecektir.</label>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <button type="button" id="btnfrmRefreshPassword" onclick="RefreshPasword();" class="btn btn-success">Gönder</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function RefreshPasword() {
        var providerId = $('#PROVIDER_ID').val();
        if (providerId == null || providerId == "") {
            swal({
                title: "Uyarı",
                text: "Kurum Kodu Girilmesi Gerekmektedir.",
                icon: "warning"
            });
        }
        else {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/Login/RefreshPasword?providerId=" + providerId,
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    var responseData = $.parseJSON(data);
                    if (responseData.ResultCode == "100") {
                        swal({
                            title: "İşlem Başarılı",
                            text: responseData.ResultMessage,
                            icon: "success"
                        });
                        $('#frmRefreshPassword_Modal').modal("toggle");
                    } else {
                        swal({
                            title: "Uyarı",
                            text: responseData.ResultMessage,
                            icon: "warning"
                        });
                    }
                    $.unblockUI();

                },
                error: function (xhr, err) {
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                    $.unblockUI();

                }
            })
        }
    }
    
</script>