﻿@model Protein.Web.Models.ExportModel.ExportVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderPage("~/Views/Shared/Header.cshtml")

<div id="wrapper">

    @RenderPage("~/Views/Shared/LeftSidebar.cshtml")

    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Icon Cards-->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card text-white bg-info o-hidden h-100">
                            <div class="card-body-two">
                                <div class="">
                                    <span><a href="#" style="float:right" role="button" tabindex="0" data-toggle="modal" data-target="#modalExport" class="btn btn-success" title="Dışa Aktar - Excel"><i class="fa fa-download"></i> </a></span>
                                </div>
                                <h5>Provizyon Listeleme</h5>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="CLAIM_ID" name="CLAIM_ID" class="form-control" placeholder="Hasar No" required="required">
                                    <label for="CLAIM_ID">Hasar No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="MEDULA_NO" name="MEDULA_NO" class="form-control" placeholder="Medula No" required="required">
                                    <label for="MEDULA_NO">Medula No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <select class="chosen-select company" name="COMPANY_ID" id="COMPANY_ID" data-placeholder="Sigorta Şirketi Seçiniz" style="width: 90%;" title="Sigorta Şirketi Seçiniz">
                                    <option> </option>
                                    <option value="">TÜMÜ</option>
                                    @foreach (var item in ViewBag.v_company)
                {
                    <option value="@item.COMPANY_ID">@item.COMPANY_NAME</option>
}
                                </select>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="BILL_NO" name="BILL_NO" class="form-control" placeholder="Fatura No" required="required">
                                    <label for="BILL_NO">Fatura No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="PAYROLL_ID" name="PAYROLL_ID" class="form-control" placeholder="Zarf No" required="required">
                                    <label for="PAYROLL_ID">İcmal No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="EXT_PAYROLL_ID" name="EXT_PAYROLL_ID" class="form-control" placeholder="Zarf No" required="required">
                                    <label for="EXT_PAYROLL_ID">Kurum İcmal No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="POLICY_NUMBER" name="POLICY_NUMBER" class="form-control" placeholder="Poliçe No" required="required">
                                    <label for="POLICY_NUMBER">Poliçe No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <select class="chosen-select" name="CLAIM_TYPE" id="CLAIM_TYPE" style="width: 90%;">
                                    <option value="">Hasar Tipini Seçiniz</option>
                                    @foreach (var item in ViewBag.ClaimTypeList)
                {
                    <option value="@item.Key">@item.Value</option>
}
                                </select>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="IDENTITY_NO" name="IDENTITY_NO" maxlength="11" class="form-control" placeholder="TCKN / VKN / Pasaport No" required="required">
                                    <label for="IDENTITY_NO">TCKN</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="TAX_NUMBER" name="TAX_NUMBER" maxlength="10" class="form-control" placeholder="Vergi Kimlik No" required="required">
                                    <label for="TAX_NUMBER">Vergi Kimlik No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="Pasaport_NO" name="Pasaport_NO" class="form-control" placeholder="Pasaport No" required="required">
                                    <label for="Pasaport_NO">Pasaport No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="FIRST_NAME" name="FIRST_NAME" class="form-control" placeholder="Sigortalı Adı" required="required">
                                    <label for="FIRST_NAME">Sigortalı Adı</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="LAST_NAME" name="LAST_NAME" class="form-control" placeholder="Sigortalı Soyadı" required="required">
                                    <label for="LAST_NAME">Sigortalı Soyadı</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="date" id="CLAIM_DATE_START" name="CLAIM_DATE_START" class="form-control" placeholder="Hasar Tarihi (<)" required="required">
                                    <label for="CLAIM_DATE_START">Hasar Tarihi (<)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="date" id="CLAIM_DATE_END" name="CLAIM_DATE_END" maxlength="11" class="form-control" placeholder="Hasar Tarihi (>)" required="required">
                                    <label for="CLAIM_DATE_END">Hasar Tarihi (>)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="INSURER" name="" class="form-control" placeholder="Sigorta Ettiren" required="required">
                                    <label for="INSURER">Sigorta Ettiren</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <select class="chosen-select" name="CLAIM_STATUS" id="CLAIM_STATUS" style="width: 90%;">
                                    <option value="">Hasar Durumunu Seçiniz</option>
                                    @foreach (var item in ViewBag.ClaimStatusList)
                {
                    if (item.Key != "1")
                    {
                        <option value="@item.Key">@item.Value</option>

}
}
                                </select>
                            </div>
                        </div>

                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="date" id="PAYMENT_DATE_START" name="PAYMENT_DATE_START" maxlength="11" class="form-control" placeholder="Ödeme Tarihi(>)" required="required">
                                    <label for="PAYMENT_DATE_START">Ödeme Tarihi (>)</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="date" id="PAYMENT_DATE_END" name="PAYMENT_DATE_END" maxlength="11" class="form-control" placeholder="Ödeme Tarihi(<)" required="required">
                                    <label for="PAYMENT_DATE_END">Ödeme Tarihi (<)</label>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="isFilter" id="isFilter" value="0" />
                        <div class="col-lg-12">
                            <button class="col-lg-3 form-control btn btn-info text-white float-right filter " onclick="GetClaimList();">
                                <i class="fas fa-filter"></i> FİLTRELE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="hdclaimId" id="hdClaimId" value="0" />
            <input type="hidden" id="hdInsuredId" name="hdInsuredId" value="0" />
            <!-- DataTables Example -->

            <div class="card mb-3">
                <div class="col-lg-12">
                    <button class="col-lg-2 form-control btn btn-info text-white" onclick="SaveBillList();">
                        <i class="fas fa-plus"></i> Seçilenleri İcmale Al
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblClaimList" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>İcmal Seçimi/ No</th>
                                    <th>Detay Görüntüle</th>
                                    <th>İbraname Basım</th>
                                    <th>Provizyon İptal</th>
                                    <th>Provizyon No</th>
                                    <th>Provizyon Tipi</th>
                                    <th>Medula No</th>
                                    <th>Kurum İcmal No</th>
                                    <th>Provizyon Tarihi</th>
                                    <th>Provizyon Durum</th>
                                    <th>Provizyon Durum Açıklama</th>
                                    <th>Sigorta Şirketi</th>
                                    <th>Adı Soyadı</th>
                                    <th>TCKN</th>
                                    <th>Anlaşmalı Tutar</th>
                                    <th>Onaylanan Tutar</th>
                                    <th>Sigortalı Payı</th>
                                    <th>Fatura No</th>
                                    <th>Fatura Tarihi</th>
                                    <th>Banka</th>
                                    <th>IBAN</th>
                                    <th>Ödeme Tarihi</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="col-lg-12">
                    <button class="col-lg-2 form-control btn btn-info text-white" onclick="SaveBillList();">
                        <i class="fas fa-plus"></i> Seçilenleri İcmale Al
                    </button>
                </div>
            </div>
        </div>

    </div>
    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model)
    @RenderPage("~/Views/Shared/Footer.cshtml")
</div>
<!-- /#wrapper -->

@RenderBody()

<script>
    var tblClaim = null;
    var selectedClaim = null;
    var selectedClaimId = -1;
    jQuery(document).ready(function () {
        jQuery("#COMPANY_ID").attr("data-placeholder", "Sigorta Şirketi Seçiniz");
        jQuery("#COMPANY_ID").on('chosen:ready', function (ev, args) {
            var sender = args.chosen;
            sender.search_field.attr('placeholder', sender.default_text);
        }).chosen();
    });
    $(document).ready(function () {
        LoadClaimList();

        $('#tblClaimList tbody').on('click', 'tr', function () {
            if ($(this).hasClass('warning-bold')) {
                // $(this).removeClass('selected');
            }
            else {
                tblClaim.$('tr.warning-bold').removeClass('warning-bold');
                $(this).addClass('warning-bold');
                var data = tblClaim.row(this).data();
                SelectClaim(data, data.INSURED_ID, data.CLAIM_ID);
            }
        });


    });

    function ClaimCreate() {
        if (selectedClaim != null) {
            window.open("/Claim/Create?claimId=" + selectedClaim.CLAIM_ID, "_blank");
        }
        else {
            getErrorMessage("warning", "Tazminat Seçimi Yapınız!");
        }
    }

    function SaveBillList() {
        var selected = [];
        debugger;
        $(".checkSingle").each(function () {
            if (this.checked == true) {
                selected.push(this.value);
            }
        })

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Claim/CheckBill?ClaimIdList=" + selected,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            success: function (data) {
                var responseData = $.parseJSON(data);
                debugger;
                if (responseData.ResultCode == "100") {
                    if (selected != null) {
                        window.open("/Bill/Create?ClaimIdList=" + selected, "_blank");
                    }
                } else {
                    getErrorMessage("warning", responseData.ResultMessage);
                }

                $.unblockUI();
            },
            error: function (xhr, err) {
                $.unblockUI();
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
            }
        });


    }

    function LoadClaimList() {
        tblClaim = $("#tblClaimList").DataTable({
            "ajax": {
                "url": "/Claim/GetClaimList",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                "data": function (item) {
                    item.CLAIM_ID = $('#CLAIM_ID').val();
                    item.MEDULA_NO = $('#MEDULA_NO').val();
                    item.COMPANY_ID = $('#COMPANY_ID').val();
                    item.BILL_NO = $('#BILL_NO').val();
                    item.PAYROLL_ID = $('#PAYROLL_ID').val();
                    item.POLICY_NUMBER = $('#POLICY_NUMBER').val();
                    item.CLAIM_TYPE = $('#CLAIM_TYPE').val();
                    item.IDENTITY_NO = $('#IDENTITY_NO').val();
                    item.TAX_NUMBER = $('#TAX_NUMBER').val();
                    item.Pasaport_NO = $('#Pasaport_NO').val();
                    item.FIRST_NAME = $('#FIRST_NAME').val();
                    item.LAST_NAME = $('#LAST_NAME').val();
                    item.CLAIM_DATE_START = $('#CLAIM_DATE_START').val();
                    item.CLAIM_DATE_END = $('#CLAIM_DATE_END').val();
                    item.INSURER = $('#INSURER').val();
                    item.CLAIM_STATUS = $('#CLAIM_STATUS').val();
                    item.EXT_PAYROLL_ID = $('#EXT_PAYROLL_ID').val();
                    item.PAYMENT_DATE_START = $('#PAYMENT_DATE_START').val();
                    item.PAYMENT_DATE_END = $('#PAYMENT_DATE_END').val();
                    item.isFilter = $('#isFilter').val();
                },
                "complete": function (settings, json) {
                    debugger;
                    var responseText = JSON.parse(settings.responseText);
                    $("#WhereCondition").val(responseText.whereConditition);
                    $.unblockUI();
                },
                "error": function () {
                    $.unblockUI();
                }
            },
            "columns": [
                {
                    "data": null, "name": "PAYROLL_ID", "orderable": false,
                    "render": function (data) {
                        if (data.PAYROLL_ID != null) {
                            return '<div class="islem" style="width: 89px;text-align:-webkit-center;">' +
                                '<strong>' + data.PAYROLL_ID + '</strong>'
                            '</div>';
                        }
                        else if (data.PAID != null && data.PAID > 0 && (data.STATUS == "2" || data.STATUS == "4" || data.STATUS == "3")) {
                            return '<div class="islem" style="width: 89px;text-align:-webkit-center;">' +
                                '<div class="btn-group">' +
                                '<label class="checkbox mbui-checkbox-custom-alt checkbox-customm-lg fr">' +
                                '<input class="checkSingle" onchange="" type="checkbox" value="' + data.CLAIM_ID + '" name="selectClaimList" id="selectClaim_' + data.CLAIM_ID + '" style="width: 30px;height: 40px;">' +
                                '<i style="height: 20px;width: 20px;"></i>' +
                                '</label>' +
                                '</div>' +
                                '</div>';
                        }
                        else {
                            return '<div class="islem" style="width: 89px;text-align:-webkit-center;">' +
                                '<strong>-</strong>'
                            '</div>';
                        }
                    }
                },
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        return '<div class="btn-group fr">' +
                            ' <span><a href="#" onclick="GetClaimGeneralDetails()" class="myIcon icon-blue" data-toggle="tooltip" title="Detayını Görüntüle"><i class="fa fa-search"></i></a></span>' +
                            '</div>';
                    }
                },
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        if (data.STATUS == "2") {
                            return '<div class="btn-group fr">' +
                                ' <span><a href="#" onclick="GetReport()"><strong>İbraname Bas</sotrong></a></span>' +
                                '</div>';
                        } else {
                            return "";
                        }
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        if (data.PAYROLL_ID == null && (data.STATUS == '0' || data.STATUS == '2' || data.STATUS == '3' || data.STATUS == '8') && data.CLAIM_TYPE != '0') {
                            return '<div class="btn-group fr">' +
                                '<span data-toggle="modal" data-target="#cancelModal"><a href="#" class="myIcon icon-red" data-toggle="tooltip" title="İptal"> <i class="fas fa-ban"></i></a></span>' +
                                '</div>';
                        } else {
                            return "";
                        }
                    }
                },
                { "data": "CLAIM_ID", name: "CLAIM_ID" },
                {
                    "data": "CLAIM_TYPE", name: "CLAIM_TYPE",
                    "render": function (data) {
                        return '<p><strong>' + GetValueOfEnum('ClaimType', data) + '</strong></p>';
                    }
                },
                { "data": "MEDULA_NO", name: "MEDULA_NO" },
                { "data": "EXT_PROVIDER_NO", name: "EXT_PROVIDER_NO" },
                {
                    "data": "CLAIM_DATE", name: "CLAIM_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        if (data != null) {
                            if (data.STATUS == "0") { //ProteinEnums.ClaimStatus.GIRIS
                                return '<p class="warning-bold"><strong>GİRİŞ</strong></p>';
                            }
                            else if (data.STATUS == "1") {//ProteinEnums.ClaimStatus.SILINDI
                                return '<p class="error-bold"><strong>SİLİNMİŞ</strong></p>';
                            }
                            else if (data.STATUS == "2") {//ProteinEnums.ClaimStatus.PROVIZYON
                                return '<p class="success-bold"><strong>PROVİZYON</strong></p>';
                            }
                            else if (data.STATUS == "3") {//ProteinEnums.ClaimStatus.BEKLEME
                                return '<p class="warning-bold"><strong>BEKLEME</strong></p>';
                            }
                            else if (data.STATUS == "4") {//ProteinEnums.ClaimStatus.RET
                                return '<p class="error-bold"><strong>RET</strong></p>';
                            }
                            else if (data.STATUS == "5") {//ProteinEnums.ClaimStatus.ÖDENECEK
                                return '<p class="warning-bold"><strong>ÖDENECEK</strong></p>';
                            }
                            else if (data.STATUS == "6") {//ProteinEnums.ClaimStatus.İPTAL
                                return '<p class="error-bold"><strong>İPTAL</strong></p>';
                            }
                            else if (data.STATUS == "7") {//ProteinEnums.ClaimStatus.ÖDENDİ
                                return '<p class="success-bold"><strong>ÖDENDİ</strong></p>';
                            }
                            else if (data.STATUS == "8") {//ProteinEnums.ClaimStatus.BEKLEME
                                return '<p class="warning-bold"><strong>BEKLEME</strong></p>';
                            }
                        }
                    }
                },
                { "data": "REASON_DESCRIPTION", name: "REASON_DESCRIPTION", "orderable": false },
                { "data": "COMPANY_NAME", name: "COMPANY_NAME" },
                {
                    "data": null,
                    "render": function (data) {
                        return (data.FIRST_NAME == null ? "-" : data.FIRST_NAME) + " " + (data.LAST_NAME == null ? "-" : data.LAST_NAME);
                    }
                },
                { "data": "IDENTITY_NO", name: "IDENTITY_NO" },
                { "data": "REQUESTED", name: "REQUESTED" },
                { "data": "PAID", name: "PAID" },
                {
                    "data": null,
                    "render": function (data) {
                        var insuredPaid = data.REQUESTED - data.PAID;
                        return parseFloat(Math.round(insuredPaid * 100) / 100).toFixed(2);
                    }
                },
                { "data": "BILL_NO", name: "BILL_NO" },
                {
                    "data": "BILL_DATE", name: "BILL_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                { "data": "BANK_NAME", name: "BANK_NAME" },
                { "data": "IBAN", name: "IBAN" },
                {
                    "data": "PAYMENT_DATE", name: "PAYMENT_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
            ],
            pageLength: 50,
            "scrollX": true,
            "serverSide": "true",
            "aLengthMenu": [[5, 10,25, 50, 75, 100, -1], [5,10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [5, "desc"],
            "processing": "true",
            language: {
                "processing": " ",
                "emptyTable": " ",
                "infoEmpty": " ",
                "sLengthMenu": " _MENU_  Adet Kayıt Listelendi",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    }

    function SelectClaim(claim, insuredId, claimId) {
        debugger;
        if (selectedClaimId != claimId) {
            selectedClaim = claim;
            if (selectedClaim != null) {
                $('#hdClaimId').val(claimId);
                $('#hdInsuredId').val(insuredId);
                if (isGetReport) {
                    GetReport();
                }
                if (isGetDetails) {
                    GetClaimGeneralDetails();
                }
            } else {
                swal({
                    title: "Hata!",
                    text: "Tazminat listesinde seçilen tazminat bulunamadı!",
                    icon: "warning"
                });
                $.unblockUI();
            }
        }
    }
    var isGetReport = false, isGetDetails = false;
    function GetReport() {

        if (selectedClaim != null) {
            isGetReport = false;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/Claim/GetOtherReport?claimId=' + $('#hdClaimId').val(),
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (responseData) {
                    $.unblockUI();

                    var response = responseData;
                    if (response.Code == "100") {
                        $.ajax({
                            url: '/Common/PrintGenerator?url=' + response.FileUrl + '&filename=' + response.FileName,
                            type: 'POST',
                            dataType: 'json',
                            success: function (data) {

                                var response = data;
                                if (typeof (data) != "undefined") {
                                    window.location = '/Common/Download?FileGuid=' + response.FileUrl
                                        + '&filename=' + response.FileName;
                                }
                            },
                        });
                    }
                    else {
                        swal({
                            title: "Hata!",
                            text: responseData.Message,
                            icon: "warning"
                        });
                    }
                },
                error: function (xhr, err) {
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                    $.unblockUI();
                }
            })
        }
        else {
            isGetReport = true;
        }
    }

    function GetClaimGeneralDetails() {

        if (selectedClaim != null) {
            isGetDetails = false;
            debugger;
            $('#frmClaimDetailsModal').modal("toggle");

            // Hasar Notları
            $.ajax({
                type: "POST",
                url: "/Claim/GetNoteList?claimId=" + selectedClaim.CLAIM_ID,
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        var responseData = $.parseJSON(data);
                        if (responseData != null && responseData.ResultCode == "100" && responseData.Data.jsonData != null) {
                            var claimNoteList = $.parseJSON(responseData.Data.jsonData);
                            var table = document.getElementById("tblClaimNoteList");
                            var tableBody = document.createElement('TBODY');
                            table.removeChild(table.childNodes[3]);
                            if (claimNoteList != null && claimNoteList.length > 0) {
                                $.each(claimNoteList, function (index) {
                                    var dataItem = claimNoteList[index];
                                    var tr = document.createElement('TR');
                                    var td = document.createElement('TD');
                                    td.appendChild(document.createTextNode("Epikriz"));
                                    tr.appendChild(td);
                                    td = document.createElement('TD');
                                    td.appendChild(document.createTextNode(dataItem.NOTE_DESCRIPTION));
                                    tr.appendChild(td);
                                    tableBody.appendChild(tr);
                                });
                            } else {
                                var tr = document.createElement('TR');
                                var td = document.createElement('TD');
                                td.setAttribute("valign", "top");
                                td.setAttribute("colspan", "4");
                                td.setAttribute("class", "dataTables_empty");
                                td.appendChild(document.createTextNode("Kayıt Bulunamadı"));
                                tr.appendChild(td);
                                tableBody.appendChild(tr);
                            }
                            table.appendChild(tableBody);
                        } else {
                            getErrorMessage("error", responseData.ResultMessage);
                        }
                    } else {
                        getErrorMessage("error", "Hasar notları getirilirken hata oluştu!");
                    }
                    $.unblockUI();
                },
                error: function (xhr, err) {
                    getErrorMessage("error", "Hasar notları getirilirken hata oluştu!");
                    $.unblockUI();
                }
            });

            // Genel sekmesindeki diğer alanlar
            document.getElementById("claimMedulaNo").value = selectedClaim.MEDULA_NO;
            document.getElementById("companyClaimId").value = selectedClaim.COMPANY_CLAIM_ID;
            document.getElementById("claimSourceType").value = GetValueOfEnum('ClaimSource', selectedClaim.SOURCE_TYPE);
            document.getElementById("claimProviderId").value = selectedClaim.PROVIDER_ID;
            document.getElementById("claimProviderName").value = selectedClaim.PROVIDER_NAME;
            document.getElementById("noticeDate").value = formatdate(selectedClaim.NOTICE_DATE);
            document.getElementById("claimBillDate").value = formatdate(selectedClaim.BILL_DATE);
            document.getElementById("claimBillNo").value = selectedClaim.BILL_NO;

            // Sigortalı sekmesindeki alanlar
            document.getElementById("claimInsuredTckn").value = selectedClaim.IDENTITY_NO;
            document.getElementById("claimInsuredFirstName").value = selectedClaim.FIRST_NAME;
            document.getElementById("claimInsuredLastName").value = selectedClaim.LAST_NAME;
            document.getElementById("claimInsuredBirthdate").value = formatdate(selectedClaim.BIRTHDATE);
            document.getElementById("claimInsuredFirstInsuredDate").value = formatdate(selectedClaim.FIRST_INSURED_DATE);
            document.getElementById("claimFirstAmbulantCoverageDate").value = formatdate(selectedClaim.FIRST_AMBULANT_COVERAGE_DATE);
            document.getElementById("claimInsuredFirstCompanyInsuredDate").value = formatdate(selectedClaim.COMPANY_ENTRANCE_DATE);
            document.getElementById("insuredListPolicyNo").value = selectedClaim.POLICY_NUMBER;
            document.getElementById("insuredListPackageName").value = selectedClaim.PACKAGE_NAME;
            document.getElementById("insuredListProductName").value = selectedClaim.PRODUCT_NAME;
            document.getElementById("insurerName").value = selectedClaim.INSURER_NAME;

            // Ödeme sekmesindeki hasarda bulunan alanlar
            document.getElementById("billPaymentType").value = GetValueOfEnum('PaymentType', selectedClaim.BILL_PAYMENT_TYPE);
            document.getElementById("payrollDueDate").value = formatdate(selectedClaim.PAYROLL_DUE_DATE);
            document.getElementById("paymentDate").value = formatdate(selectedClaim.PAYMENT_DATE);
            document.getElementById("paymentAmount").value = selectedClaim.PAID;
            document.getElementById("bankAccountName").value = selectedClaim.BANK_ACCOUNT_NAME;
            document.getElementById("bankAccountIban").value = selectedClaim.IBAN;
            document.getElementById("payrollDate").value = formatdate(selectedClaim.PAYROLL_DATE);
            document.getElementById("payrollType").value = GetValueOfEnum('Payroll', selectedClaim.PAYROLL_TYPE);
            document.getElementById("payrollCategory").value = GetValueOfEnum('PayrollCategory', selectedClaim.PAYROLL_CATEGORY);
            document.getElementById("providerPayrollNo").value = selectedClaim.EXT_PROVIDER_NO;
            document.getElementById("providerPayrollDate").value = formatdate(selectedClaim.EXT_PROVIDER_DATE);
            document.getElementById("billNo").value = selectedClaim.BILL_NO;
            document.getElementById("billDate").value = formatdate(selectedClaim.BILL_DATE);

            // Detay sekemesindeki hasarda bulunan alanlar
            document.getElementById("claimEventDate").value = formatdate(selectedClaim.EVENT_DATE);
            document.getElementById("claimEventType").value = GetValueOfEnum('Event', selectedClaim.EVENT_TYPE);
            document.getElementById("claimEventDescription").value = selectedClaim.EVENT_DESCRIPTION;

            isfetchICD = false;
            isFetchProcess = false;
            isFetchCoverage = false;

            //selectedClaimId = claimId;
            //isICDListFetched = false;
            //isPaymentDetailsFetched = false;
            //isHospitalizationDetailsFetched = false;
            //isExclusionAndTransferListFetched = false;
            //isNoteAndDeclerationListFetched = false;
            //isClaimProcessListFetched = false;
            //isMedicineListFetched = false;
            //isClaimCoverageListFetched = false;

            $('#pills-tab li a').each(function () {
                $(this).removeClass('active');
                $(this).removeClass('show');
            })

            $('#pills-tabContent div').each(function () {
                $(this).removeClass('active');
                $(this).removeClass('show');
            })

            $('#pills-section-one').addClass('active');
            $('#pills-section-one').addClass('show');
            $('#pills-section-one-tab').addClass('show');
            $('#pills-section-one-tab').addClass('active');
        }
        else {
            isGetDetails = true;
        }
    }

    function GetClaimList() {
        $('#isFilter').val(1);
        tblClaim.ajax.reload();
    }

    function GetValueOfEnum(typeName, ordinal) {
        if (ordinal != null) {
            if (typeName == "ClaimStatus") {
                var ClaimStatusList = @Html.Raw(Json.Encode(@ViewBag.ClaimStatusList));
                return ClaimStatusList == null ? "-" : ClaimStatusList[ordinal];
            }
            else if (typeName == "ClaimType") {
                var ClaimTypeList = @Html.Raw(Json.Encode(@ViewBag.ClaimTypeList));
                return ClaimTypeList == null ? "-" : ClaimTypeList[ordinal];
            }
            else if (typeName == "ClaimStatus") {
                var ClaimStatusList = @Html.Raw(Json.Encode(@ViewBag.ClaimStatusList));
                return ClaimStatusList == null ? "-" : ClaimStatusList[ordinal];
            }
            else if (typeName == "ClaimSource") {
                var ClaimSourceList = @Html.Raw(Json.Encode(@ViewBag.ClaimSourceList));
                return ClaimSourceList == null ? "-" : ClaimSourceList[ordinal];
            }
            else if (typeName == "PaymentType") {
                var PaymentTypeList = @Html.Raw(Json.Encode(@ViewBag.PaymentTypeList));
                return PaymentTypeList == null ? "-" : PaymentTypeList[ordinal];
            }
            else if (typeName == "Event") {
                var EventTypeList = @Html.Raw(Json.Encode(@ViewBag.EventTypeList));
                return EventTypeList == null ? "-" : EventTypeList[ordinal];
            }
            else if (typeName == "PayrollCategory") {
                var PayrollCategoryList = @Html.Raw(Json.Encode(@ViewBag.PayrollCategoryList));
                return PayrollCategoryList == null ? "-" : PayrollCategoryList[ordinal];
            }
            else if (typeName == "Payroll") {
                var PayrollTypeList = @Html.Raw(Json.Encode(@ViewBag.PayrollTypeList));
                return PayrollTypeList == null ? "-" : PayrollTypeList[ordinal];
            }
            else if (typeName == "Icd") {
                var IcdTypeList = @Html.Raw(Json.Encode(@ViewBag.IcdTypeList));
                return IcdTypeList == null ? "-" : IcdTypeList[ordinal];
            }
        }
        else {
            return "-";
        }
    }
</script>

<script>
    function LoadClaimICDs(jsonValue) {
        var tbl = "tblIcds";

        if ($('#' + tbl).length > 0) {
            var data = JSON.parse(jsonValue);

            $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": false,
                "columns": [
                    { "data": "ICD_CODE" },
                    { "data": "ICD_NAME" },
                    {
                        "data": null,
                        "render": function (data) {
                            return GetValueOfEnum('Icd', data.ICD_TYPE);
                        }
                    }
                ]
            });
        }
    }

    function LoadClaimProcesses(jsonValue) {
        var tbl = "tblClaimProcesses";

        if ($('#' + tbl).length > 0) {
            var data = JSON.parse(jsonValue);

            $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": false,
                "columns": [
                    { "data": "PROCESS_CODE" },
                    { "data": "PROCESS_NAME" },
                    { "data": "REQUESTED_AMOUNT" }
                ]
            });
        }
    }

    var tblCoverage = null;
    //ClaimCoverages
    function LoadClaimCoverages(jsonValue) {
        var tbl = "tblClaimCoverages";

        if ($('#' + tbl).length > 0) {
            var data = JSON.parse(jsonValue);

            if (tblCoverage == null) {
                tblCoverage = $('#' + tbl).DataTable({
                    pageLength: 10,
                    language: {
                        "emptyTable": "Kayıt Bulunamadı",
                        "infoEmpty": "",
                        "info": "",
                        "search": "Arama: "
                    },
                    "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                    "bPaginate": false,
                    //"data": data,
                    "columns": [
                        { "data": "COVERAGE_NAME" },
                        { "data": "PROCESS_NAME" },
                        { "data": "REQUESTED" },
                        { "data": "AGREED_AMOUNT" },
                        { "data": "PROCESS_LIMIT" },
                        { "data": "COUNT" },
                        { "data": "DAY" },
                        { "data": "COINSURANCE" },
                        { "data": "CONFIRMED" },
                        { "data": "ACCEPTED" },
                        { "data": "EXGRACIA" },
                        { "data": "STOPPAGE" },
                        { "data": "SGK_AMOUNT" },
                        { "data": "INSURED_AMOUNT" },
                        { "data": "PAID" },
                        { "data": "RESULT" }
                    ]
                });
            }
            else {
                RefreshTable(tbl, data);

            }

            debugger;
            var totalRequested = 0.0, totalConfirmed = 0.0, totalPaid = 0.0, totalInsured = 0.0;
            $.each(data, function (index, claimProcessCoverage) {
                totalRequested += parseFloat(claimProcessCoverage.REQUESTED.replace(',', '.'));
                totalConfirmed += parseFloat(claimProcessCoverage.CONFIRMED.replace(',', '.'));
                totalPaid += parseFloat(claimProcessCoverage.PAID.replace(',', '.'));
                totalInsured += parseFloat(claimProcessCoverage.REQUESTED.replace(',', '.')) - parseFloat(claimProcessCoverage.PAID.replace(',', '.'));
            });

            $('#totalRequested').val(totalRequested.toFixed(2));
            $('#totalConfirmed').val(totalConfirmed.toFixed(2));
            $('#totalPaid').val(totalPaid.toFixed(2));
            $('#totalInsured').val(totalInsured.toFixed(2));
        }

    }
</script>

<script>
    $(document).ready(function () {
        LoadClaimICDs("[]");
        LoadClaimProcesses("[]");
        LoadClaimCoverages("[]");
    });
    var isfetchICD = false, isFetchProcess = false, isFetchCoverage = false;
    function GetClaimICDs() {
        debugger;
        if (selectedClaim != null && !isfetchICD) {
            $.ajax({
                url: "/Claim/ICDs?claimId=" + $('#hdClaimId').val(),
                cache: false,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    debugger;
                    var responseData = $.parseJSON(data);
                    if (responseData != null && responseData.ResultCode == "100") {
                        if (responseData.Data != null && responseData.Data.jsonData != null) {
                            RefreshTable('tblIcds', JSON.parse(responseData.Data.jsonData));
                        } else {
                            RefreshTable('tblIcds', JSON.parse("[]"));
                        }
                        isfetchICD = true;

                        $.unblockUI();
                    } else {
                        swal({
                            title: "Hata!",
                            text: "Hasar tanı bilgilerine ulaşılamadı!",
                            icon: "warning"
                        });
                        $.unblockUI();
                    }
                },
                error: function (xhr, err) {
                    swal({
                        title: "Hata!",
                        text: "Hasar tanıları getirilirken hata oluştu!",
                        icon: "warning"
                    });
                    $.unblockUI();
                }
            });
        }
    }

    function GetClaimProcesses() {
        if (selectedClaim != null && !isFetchProcess) {
            $.ajax({
                url: "/Claim/Processes?claimId=" + $('#hdClaimId').val(),
                cache: false,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    var responseData = $.parseJSON(data);
                    if (responseData != null && responseData.ResultCode == "100") {
                        if (responseData.Data != null && responseData.Data.jsonData != null) {
                            RefreshTable('tblClaimProcesses', JSON.parse(responseData.Data.jsonData));
                        } else {
                            RefreshTable('tblClaimProcesses', JSON.parse("[]"));

                        }
                        isFetchProcess = true;

                        $.unblockUI();
                    } else {
                        swal({
                            title: "Hata!",
                            text: "Hasar işlem bilgilerine ulaşılamadı!",
                            icon: "warning"
                        });
                        $.unblockUI();
                    }
                },
                error: function (xhr, err) {
                    swal({
                        title: "Hata!",
                        text: "Hasar işlemleri getirilirken hata oluştu!",
                        icon: "warning"
                    });
                    $.unblockUI();
                }
            });
        }
    }

    function GetClaimCoverages() {
        if (selectedClaim != null && !isFetchCoverage) {
            $.ajax({
                url: "/Claim/Coverages?claimId=" + $('#hdClaimId').val(),
                cache: false,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    var responseData = $.parseJSON(data);
                    if (responseData != null) {
                        LoadClaimCoverages(JSON.parse(data));
                    }
                    isFetchCoverage = true;

                    $.unblockUI();
                },
                error: function (xhr, err) {
                    swal({
                        title: "Hata!",
                        text: "Hasar teminatları getirilirken hata oluştu!",
                        icon: "warning"
                    });
                    $.unblockUI();
                }
            });
        }
    }
</script>