﻿<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">İptal</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post" action="/Claim/ClaimCancellation" id="frmClaimCancel">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <select class="chosen-select" name="ClaimCancelReasonId" id="ClaimCancelReasonId" style="width: 90%;">
                                    <option value="">İptal Gerekçesini Seçiniz</option>
                                    @foreach (var item in ViewBag.ClaimReasonList)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <button type="button"  onclick="ClaimCancellation('frmClaimCancel');" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function ClaimCancellation(frm) {
        debugger;
        claimId = $('#hdClaimId').val();
        var reasonId = $('#ClaimCancelReasonId').val();
        if (claimId > 0) {
            var form = $('#' + frm);

            var action = form[0].action + '?claimId=' + claimId + '&reasonId=' + reasonId;
            $.ajax({
                type: form[0].method,
                contentType: "application/json; charset=utf-8",
                url: action,
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    var responseData = $.parseJSON(data);
                    $.unblockUI();

                    if (responseData.ResultCode == "100") {
                        getErrorMessage("success", "Provizyon Başarıyla İptal Edildi");
                        $('#cancelModal').modal("toggle");

                        tblClaim.ajax.reload();
                    }

                },
                error: function (xhr, err) {
                    $.unblockUI();
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                }
            });
        }
    }
</script>