﻿<div class="loading" id="domMessage" style="display:none; position:absolute;">
    <div class="loadingCenter loadingContainer">
        <div class="loadContainer">
            <div class="loader2"></div>
            <div class="loader3"></div>
            <div class="loader4"></div>
        </div>
        <span> Yükleniyor...</span>
    </div>
</div>
<header>
    <nav class="navbar navbar-expand navbar-dark bg-gradient static-top">
        <div class="row">
            <div class="col-md-3">
                <a class="navbar-brand mr-1" href="/Dashboard/Index"><img width="150px" src="~/Content/images/protein-light-logo.png"></a>
            </div>
            <div class="col-md-1">
                <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="col-md-3 header-button">
                <a class="btn btn-success text-white " href="#" onclick="ClaimCreate()">
                    <i class="fab fa-rev"></i> Hasar Güncelle
                </a>
            </div>
            <div class="col-md-3 header-button">
                <a class="btn btn-info text-white" onclick="GetRemainingCoverageList()">
                    <i class="fab fa-modx"></i> Kalan Teminat
                </a>
            </div>
            <div class="col-md-2 header-button">
                <a class="btn btn-danger text-white " href="#">
                    <i class="far fa-plus-square"></i> İbraname Bas
                </a>
            </div>
        </div>
        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <a class="hide-corparate" href="/Provider/Index" style="color:white;">@ViewBag.ProviderId-@ViewBag.ProviderName</a>
        </form>
        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/Provider/Index">Profil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">Çıkış Yap</a>
                </div>
            </li>
        </ul>
    </nav>
</header>