﻿<div class="modal fade" id="frmClaimDetailsModal" tabindex="-1" role="dialog" aria-labelledby="frmClaimDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:1250px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="frmClaimDetailsModalLabel">Provizyon Detayı</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post">
                <div class="card mb-3">
                    <div class="card-header">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-section-one-tab" data-toggle="pill" href="#pills-section-one" role="tab" aria-controls="pills-section-one" aria-selected="true">Genel</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-section-two-tab" data-toggle="pill" href="#pills-section-two" role="tab" aria-controls="pills-section-two" aria-selected="false">Sigortalı</a>
                            </li>
                            <li class="nav-item">
                                <a onclick="GetClaimICDs()" class="nav-link" id="pills-section-three-tab" data-toggle="pill" href="#pills-section-three" role="tab" aria-controls="pills-section-three" aria-selected="false">Tanı</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-section-four-tab" data-toggle="pill" href="#pills-section-four" role="tab" aria-controls="pills-section-four" aria-selected="false">Ödeme</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-section-five-tab" data-toggle="pill" href="#pills-section-five" role="tab" aria-controls="pills-section-five" aria-selected="false">Detay</a>
                            </li>
                            <li class="nav-item">
                                <a onclick="GetClaimProcesses()" class="nav-link" id="pills-section-six-tab" data-toggle="pill" href="#pills-section-six" role="tab" aria-controls="pills-section-six" aria-selected="false">İşlem</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-section-seven-tab" data-toggle="pill" href="#pills-section-seven" role="tab" aria-controls="pills-section-seven" aria-selected="false">İlaç</a>
                            </li>
                            <li class="nav-item">
                                <a onclick="GetClaimCoverages()" class="nav-link" id="pills-section-eight-tab" data-toggle="pill" href="#pills-section-eight" role="tab" aria-controls="pills-section-eight" aria-selected="false">Teminat</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-section-one" role="tabpanel" aria-labelledby="pills-section-one-tab">
                            <div class="card-header">
                                <h2 style="text-align:center;">HASAR NOTLARI</h2>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-short table-bordered" id="tblClaimNoteList" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>TİP</th>
                                                <th>AÇIKLAMA</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-head ">
                                    <div class="row border-section">
                                        <div class="col-lg-12">
                                            <h5 class="card-head-text">Genel</h5>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="number" disabled="disabled" id="claimMedulaNo" name="claimMedulaNo" class="form-control" placeholder="Medula Takip No" required="required">
                                                    <label for="claimMedulaNo">Medula Takip No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" disabled="disabled" id="claimSourceType" name="claimSourceType" class="form-control" placeholder="Geliş Kaynağı" required="required">
                                                    <label for="claimSourceType">Geliş Kaynağı</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="number" disabled="disabled" id="coporateEnvelopeNo" class="form-control" placeholder="Kurum Zarf No" required="required">
                                                    <label for="coporateEnvelopeNo">Kurum Zarf No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="number" disabled="disabled" id="companyClaimId" name="companyClaimId" class="form-control" placeholder="Sigorta Şirketi Hasar No" required="required">
                                                    <label for="companyClaimId">Sigorta Şirketi Hasar No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" disabled="disabled" id="noticeDate" class="form-control" placeholder="İhbar Tarihi" required="required">
                                                    <label for="noticeDate">İhbar Tarihi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="number" disabled="disabled" id="claimProviderId" name="claimProviderId" class="form-control" placeholder="Kurum No" required="required">
                                                    <label for="claimProviderId">Kurum No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" disabled="disabled" id="claimProviderName" name="claimProviderName" class="form-control" placeholder="Kurum Adı" required="required">
                                                    <label for="claimProviderName">Kurum Adı</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" disabled="disabled" id="claimBillDate" name="claimBillDate" class="form-control" placeholder="Fatura Tarihi" required="required">
                                                    <label for="claimBillDate">Fatura Tarihi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="number" disabled="disabled" id="claimBillNo" name="claimBillNo" class="form-control" placeholder="Fatura No" required="required">
                                                    <label for="claimBillNo">Fatura No</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="pills-section-two" role="tabpanel" aria-labelledby="pills-section-two-tab">
                            <div class="card-body">
                                <div class="card-head">
                                    <div class="row  border-section">
                                        <div class="col-lg-12">
                                            <h5 class="card-head-text">Sigortalı</h5>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="number" id="claimInsuredTckn" name="claimInsuredTckn" disabled="disabled" class="form-control" placeholder="TCKN" required="required">
                                                    <label for="claimInsuredTckn">TCKN</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="claimInsuredFirstName" name="claimInsuredFirstName" disabled="disabled" class="form-control" placeholder="Adı" required="required">
                                                    <label for="claimInsuredFirstName">Adı</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="claimInsuredLastName" name="claimInsuredLastName" disabled="disabled" class="form-control" placeholder="Soyadı" required="required">
                                                    <label for="claimInsuredLastName">Soyadı</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="claimInsuredBirthdate" name="claimInsuredBirthdate" disabled="disabled" class="form-control" placeholder="Doğum Tarihi" required="required">
                                                    <label for="claimInsuredBirthdate">Doğum Tarihi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="claimInsuredFirstInsuredDate" name="claimInsuredFirstInsuredDate" disabled="disabled" class="form-control" placeholder="İlk Sigorta Tarihi" required="required">
                                                    <label for="claimInsuredFirstInsuredDate">İlk Sigorta Tarihi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="claimFirstAmbulantCoverageDate" name="claimFirstAmbulantCoverageDate" disabled="disabled" class="form-control" placeholder="İlk Ayakta Teminat Tarihi" required="required">
                                                    <label for="claimFirstAmbulantCoverageDate">İlk Ayakta Teminat Tarihi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="claimInsuredFirstCompanyInsuredDate" name="claimInsuredFirstCompanyInsuredDate" disabled="disabled" class="form-control" placeholder="Sigorta Şirketi İlk Giriş Tarihi" required="required">
                                                    <label for="claimInsuredFirstCompanyInsuredDate">Sigorta Şirketi İlk Giriş Tarihi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="number" id="insuredListPolicyNo" name="insuredListPolicyNo" disabled="disabled" class="form-control" placeholder="Poliçe No" required="required">
                                                    <label for="insuredListPolicyNo">Poliçe No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="insuredListPackageName" name="insuredListPackageName" disabled="disabled" class="form-control" placeholder="Paket Adı" required="required">
                                                    <label for="insuredListPackageName">Paket Adı</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="insuredListProductName" name="insuredListProductName" disabled="disabled" class="form-control" placeholder="Ürün Adı" required="required">
                                                    <label for="insuredListProductName">Ürün Adı</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-yd">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="insurerName" name="insurerName" disabled="disabled" class="form-control" placeholder="Sigorta Ettiren" required="required">
                                                    <label for="insurerName">Sigorta Ettiren</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-section-three" role="tabpanel" aria-labelledby="pills-section-three-tab">
                            <div class="card-body">
                                <h2 style="text-align:center;">Tanı Kodları (ICD)</h2>
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="tblIcds" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>KOD</th>
                                                <th>TANI ADI</th>
                                                <th>TİPİ</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-section-four" role="tabpanel" aria-labelledby="pills-section-four-tab">
                            <div class="card-body">
                                <div class="card-body">
                                    <div class="card-head">
                                        <div class="row  border-section">
                                            <div class="col-lg-12">
                                                <h5 class="card-head-text">Ödeme</h5>
                                            </div>
                                            <div class="col-yd">
                                                <div class="form-group">
                                                    <div class="form-label-group">
                                                        <input type="text" id="billPaymentType" name="billPaymentType" disabled="disabled" class="form-control" placeholder="Ödeme Tipi" required="required">
                                                        <label for="billPaymentType">Ödeme Tipi</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-yd">
                                                <div class="form-group">
                                                    <div class="form-label-group">
                                                        <input type="text" id="payrollDueDate" name="payrollDueDate" disabled="disabled" class="form-control" placeholder="Vade Tarihi" required="required">
                                                        <label for="payrollDueDate">Vade Tarihi</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-yd">
                                                <div class="form-group">
                                                    <div class="form-label-group">
                                                        <input type="text" id="paymentDate" name="paymentDate" disabled="disabled" class="form-control" placeholder="Ödeme Tarihi" required="required">
                                                        <label for="paymentDate">Ödeme Tarihi</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-yd">
                                                <div class="form-group">
                                                    <div class="form-label-group">
                                                        <input type="text" id="paymentAmount" name="paymentAmount" disabled="disabled" class="form-control" placeholder="Ödeme Tutarı" required="required">
                                                        <label for="paymentAmount">Ödeme Tutarı</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-yd">
                                                <div class="form-group">
                                                    <div class="form-label-group">
                                                        <input type="text" id="bankAccountName" name="bankAccountName" disabled="disabled" class="form-control" placeholder="Alıcı Adı / Ticari Ünvanı" required="required">
                                                        <label for="bankAccountName">Alıcı Adı / Ticari Ünvanı</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-yd">
                                                <div class="form-group">
                                                    <div class="form-label-group">
                                                        <textarea rows="3" id="bankAccountIban" name="bankAccountIban" disabled="disabled" class="form-control" required="required"></textarea>
                                                        <label for="bankAccountIban">İban</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-yd">
                                                <div class="form-group">
                                                    <div class="form-label-group">
                                                        <input type="text" id="payrollDate" name="payrollDate" disabled="disabled" class="form-control" required="required">
                                                        <label for="payrollDate">Zarf Bordrolama Tarihi</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-yd">
                                                <div class="form-group">
                                                    <div class="form-label-group">
                                                        <input type="text" id="payrollType" name="payrollType" disabled="disabled" class="form-control" placeholder="Zarf Tipi" required="required">
                                                        <label for="payrollType">Zarf Tipi</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-yd">
                                                <div class="form-group">
                                                    <div class="form-label-group">
                                                        <input type="text" id="payrollCategory" name="payrollCategory" disabled="disabled" class="form-control" placeholder="Zarf Kategorisi" required="required">
                                                        <label for="payrollCategory">Zarf Kategorisi</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-yd">
                                                <div class="form-group">
                                                    <div class="form-label-group">
                                                        <input type="text" id="providerPayrollNo" name="providerPayrollNo" disabled="disabled" class="form-control" placeholder="Kurum Zarf No" required="required">
                                                        <label for="providerPayrollNo">Kurum Zarf No</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-yd">
                                                <div class="form-group">
                                                    <div class="form-label-group">
                                                        <input type="text" id="providerPayrollDate" name="providerPayrollDate" disabled="disabled" class="form-control" placeholder="Kurum Bordrolama Tarihi" required="required">
                                                        <label for="providerPayrollDate">Kurum Bordrolama Tarihi</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-yd">
                                                <div class="form-group">
                                                    <div class="form-label-group">
                                                        <input type="number" id="billNo" name="billNo" disabled="disabled" class="form-control" placeholder="Fatura No" required="required">
                                                        <label for="billNo">Fatura No</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-yd">
                                                <div class="form-group">
                                                    <div class="form-label-group">
                                                        <input type="text" id="billDate" name="billDate" disabled="disabled" class="form-control" placeholder="Fatura Tarihi" required="required">
                                                        <label for="billDate">Fatura Tarihi</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-section-five" role="tabpanel" aria-labelledby="pills-section-five-tab">
                            <div class="card-body">
                                <div class="card-head">
                                    <div class="row  border-section">
                                        <div class="col-lg-12">
                                            <h5 class="card-head-text">Vaka Bilgileri</h5>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="claimEventDate" name="claimEventDate" disabled="disabled" class="form-control" placeholder="Tarihi" required="required">
                                                    <label for="claimEventDate">Tarihi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="claimEventType" name="claimEventType" disabled="disabled" class="form-control" placeholder="Tipi" required="required">
                                                    <label for="claimEventType">Tipi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <textarea rows="5" id="claimEventDescription" name="claimEventDescription" disabled="disabled" class="form-control" required="required"></textarea>
                                                    <label for="claimEventDescription">Açıklama</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-head">
                                    <div class="row  border-section">
                                        <div class="col-lg-12">
                                            <h5 class="card-head-text">Yatış Bilgileri</h5>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="detailLoginDate" disabled="disabled" class="form-control" placeholder="Giriş Tarihi" required="required">
                                                    <label for="detailLoginDate">Giriş Tarihi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="detailExitDate" disabled="disabled" class="form-control" placeholder="Çıkış Tarihi" required="required">
                                                    <label for="detailExitDate">Çıkış Tarihi</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-head">
                                    <div class="row  border-section">
                                        <div class="col-lg-12">
                                            <h5 class="card-head-text">Doktor</h5>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="doctorSearchType" disabled="disabled" class="form-control" placeholder="Araştırma Tipi" required="required">
                                                    <label for="doctorSearchType">Anlaşma Tipi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="doctorBrans" disabled="disabled" class="form-control" placeholder="Bölüm / Doktor Branş" required="required">
                                                    <label for="doctorBrans">Bölüm / Doktor Branş </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="number" id="doctorRecordNo" disabled="disabled" class="form-control" placeholder="Sicil No" required="required">
                                                    <label for="doctorRecordNo">Sicil No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="number" id="doctorDiplomaNo" disabled="disabled" class="form-control" placeholder="Diploma No" required="required">
                                                    <label for="doctorDiplomaNo">Diploma No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="number" id="doctorDegree" disabled="disabled" class="form-control" placeholder="Ünvanı" required="required">
                                                    <label for="doctorDegree">Ünvanı</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="number" id="doctorName" disabled="disabled" class="form-control" placeholder="Adı" required="required">
                                                    <label for="doctorName">Adı</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="number" id="doctorSurname" disabled="disabled" class="form-control" placeholder="Soyadı" required="required">
                                                    <label for="doctorSurname">Soyadı</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="number" id="doctorTcknNo" disabled="disabled" class="form-control" placeholder="TCKN" required="required">
                                                    <label for="doctorTcknNo">TCKN</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-section-six" role="tabpanel" aria-labelledby="pills-section-six-tab">
                            <div class="card-body">
                                <h2 style="text-align:center;">İşlem</h2>
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="tblClaimProcesses" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>İŞLEM KODU</th>
                                                <th>İŞLEM ADI</th>
                                                <th>TALEP EDİLEN TUTAR</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-section-seven" role="tabpanel" aria-labelledby="pills-section-seven-tab">
                            <div class="card-body">
                                <h2 style="text-align:center;">İlaç</h2>
                                <div class="table-responsive">
                                    <table class="table table-short table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>İLAÇ ADI</th>
                                                <th>BORKOD NO</th>
                                                <th>FİYAT</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-section-eight" role="tabpanel" aria-labelledby="pills-section-eight-tab">
                            <div class="card-body">
                                <h2 style="text-align:center;">Teminat</h2>
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="tblClaimCoverages" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Teminat Adı</th>
                                                <th>İşlem Adı</th>
                                                <th>Talep Tutar</th>
                                                <th>Sözleşme Tutarı</th>
                                                <th>İşlem Limiti</th>
                                                <th>Adet</th>
                                                <th>Gün</th>
                                                <th>Katılım Oranı</th>
                                                <th>Onay Tutar</th>
                                                <th>Kısmi Ret</th>
                                                <th>Jest Ödeme</th>
                                                <th>Stopaj</th>
                                                <th>SGK Tutar</th>
                                                <th>Sigortalı Payı</th>
                                                <th>Şirket Tutar</th>
                                                <th>Sonuç</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="card-head">
                                    <div class="row  border-section">
                                        <div class="col-lg-12">
                                            <h5 class="card-head-text">Teminat</h5>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="totalRequested" class="form-control" disabled="disabled" placeholder="TL Talep Tutar" required="required">
                                                    <label for="totalRequested">TL Talep Tutar</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="totalConfirmed" class="form-control" disabled="disabled" placeholder="Kabul Tutar" required="required">
                                                    <label for="totalConfirmed">Onay Tutar</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="totalPaid" class="form-control" disabled="disabled" placeholder="Onay Tutar" required="required">
                                                    <label for="totalPaid">Şirket Tutar</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="totalInsured" class="form-control" disabled="disabled" placeholder="Şirket Tutar" required="required">
                                                    <label for="totalInsured">Sigortalı Payı</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>