﻿<div class="modal fade" id="documentAddModal" tabindex="-1" role="dialog" aria-labelledby="documentAddModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="documentAddModalLabel">Eksik Evrak Ekle</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-short table-bordered" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Tip</th>
                                        <th>Geliş Tarihi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>A300</td>
                                        <td>
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="date" id="doctorBrans" class="form-control" placeholder="Geliş Tarihi" required="required">
                                                    <label for="documentDate">Geliş Tarihi</label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>