﻿<div class="modal fade" id="tarihceModal" tabindex="-1" role="dialog" aria-labelledby="tarihceModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:950px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tarihceModalLabel">Sözleşme Tarihcesi</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-short table-bordered" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Versiyon No</th>
                                        <th>Değişen Alan</th>
                                        <th>Yeni Alan</th>
                                        <th>Yeni Değer</th>
                                        <th>Eski Değer</th>
                                        <th>Kullanıcı Adı</th>
                                        <th>Değişiklik Tarihi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>E3100</td>
                                        <td>B200</td>
                                        <td>B300</td>
                                        <td>1000</td>
                                        <td>100</td>
                                        <td>moor</td>
                                        <td>11-09-2018</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>