﻿<div class="modal fade" id="frmIcdList_Modal" tabindex="-1" role="dialog" aria-labelledby="identifyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="identifyModalLabel">Tanı</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="form-horizontal" role="form" action="/Claim/ClaimIcdSave" method="post" name="frmIcdList" id="frmIcdList" data-toggle="validator">
                <div class="row border-section">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="icdName" name="icdName" class="form-control" placeholder="Tanı Adı" required="required">
                                <label for="icdName">Tanı Adı</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="icdCode" name="icdCode" class="form-control" placeholder="Tanı Kodu" required="required">
                                <label for="icdCode">Tanı Kodu</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="form-control btn btn-info text-white filter" onclick="GetICD10Processes();">
                            <i class="fas fa-filter"></i> FİLTRELE
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblIcdListModal" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Tanı Kodu</th>
                                    <th>Tanı Adı</th>
                                    <th>Tanı Tipi</th>
                                    <th>Seç</th>
                                </tr>
                            </thead>
                            @*<tbody>
                        <tr>
                            <td>A00</td>
                            <td>KOLERA</td>
                            <td>
                                <div class="form-group">
                                    <select class="chosen-select" name="insuranceCompany" id="insuranceCompany" style="width: 90%;">
                                        <option value="0">Tanı Tipini Seçiniz</option>
                                        <option value="1">Ön</option>
                                        <option value="2">Arka</option>
                                    </select>
                                </div>
                            </td>
                            <td><a href="#" class="btn btn-success">Seç</a></td>
                        </tr>
                        <tr>
                            <td>A00</td>
                            <td>KOLERA</td>
                            <td>
                                <div class="form-group">
                                    <select class="chosen-select" name="insuranceCompany" id="insuranceCompany" style="width: 90%;">
                                        <option value="0">Tanı Tipini Seçiniz</option>
                                        <option value="1">Ön</option>
                                        <option value="2">Arka</option>
                                    </select>
                                </div>
                            </td>
                            <td><a href="#" class="btn btn-success">Seç</a></td>
                        </tr>
                        <tr>
                            <td>A00</td>
                            <td>KOLERA</td>
                            <td>
                                <div class="form-group">
                                    <select class="chosen-select" name="insuranceCompany" id="insuranceCompany" style="width: 90%;">
                                        <option value="0">Tanı Tipini Seçiniz</option>
                                        <option value="1">Ön</option>
                                        <option value="2">Arka</option>
                                    </select>
                                </div>
                            </td>
                            <td><a href="#" class="btn btn-success">Seç</a></td>
                        </tr>


                    </tbody>*@
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var tblIcdListModal = null;
    $(document).ready(function () {

        tblIcdListModal = $("#tblIcdListModal").DataTable({
            "ajax": {
                "url": "/Claim/GetIcdList",
                "type": "POST",
                "datatype": "json",
                "data": function (dt) {
                    dt.icdName = $('#icdName').val();
                    dt.icdCode = $('#icdCode').val();
                    dt.isOpen = $('#isOpen_frmIcdList').val();
                },
            },

            "columns": [
                { "data": "Code", "name": "Code" },
                { "data": "Name", "name": "Name" },
                {
                    "data": null,
                    "render": function (data) {
                        return '<div class="form-group">' +
                            '<select class="chosen-select" style="width: 90%;" name="ICD_TYPE_' + data.Id + '" id="ICD_TYPE_' + data.Id + '">' +
                            '<option value="1">Ön</option>' +
                            '<option value="2">Kesin</option>' +
                            '</select>'+
                            '</div>';
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        return '<div class="btn-wrapper-center">' +
                            '<button type="button"  onclick="AddIcd(\'frmIcdList\',' + data.Id + ','+0+');" class="btn btn-success btn-sm mr-10" >Seç</button>' +
                            '</div>';
                    }
                }
            ],
            pageLength: 5,
            //"serverSide": "true",
            "aLengthMenu": [[5, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    });

    // Get ICD10 processes
    function GetICD10Processes() {
        tblIcdListModal.clear();
        tblIcdListModal.ajax.reload();
    }

    function AddIcd(frmName,icdId,claimIcdId) {
        debugger;
        claimId = $('#hdClaimId').val();
        if (claimId > 0) {
            var form = $('#' +frmName);
            var formData = new FormData(form[0]);

            var action = form[0].action + '?claimId=' + claimId + '&icdId=' + icdId + '&claimIcdId=' + claimIcdId;
            $.ajax({
                type: form[0].method,
                contentType: "application/json; charset=utf-8",
                url: action,
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    var responseData = $.parseJSON(data);

                    if (responseData.ResultCode == "100") {
                        getErrorMessage("success", responseData.ResultMessage);
                        RefreshTable('tblIcds', JSON.parse(responseData.Data.jsonData));
                    } else {
                        getErrorMessage("error", responseData.ResultMessage);
                    }
                    
                    $.unblockUI();
                },
                error: function (xhr, err) {
                    $.unblockUI();
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                }
            });
        }
    }
</script>