﻿<div class="modal fade" id="frmIcdEdit_Modal" tabindex="-1" role="dialog" aria-labelledby="taniEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taniEditModalLabel">Tanı Düzenle</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="form-horizontal" role="form" action="/Claim/ClaimIcdSave" method="post" name="frmIcdList" id="frmIcdEdit" data-toggle="validator">
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" name="CLAIM_ICD_ID" id="CLAIM_ICD_ID" value="0" />

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="icdNameEdit" name="icdNameEdit" disabled="disabled" maxlength="11" class="form-control" placeholder="Tanı Adı ve Kodu" required="required">
                                    <label for="icdNameEdit">Tanı Adı ve Kodu</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <select class="chosen-select" name="ICD_TYPE_Edit" id="ICD_TYPE_Edit" style="width: 90%;">
                                    <option value="">Tanı Tipini Seçiniz</option>
                                    @foreach (var ICDType in ViewBag.IcdTypeList)
                                    {
                                        <option value="@ICDType.Key">@ICDType.Value</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <button type="button" onclick="IcdEdit();" class="btn btn-success">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function UpdateIcd(icdName, icdType, claimIcdId) {
        debugger;
        $('#CLAIM_ICD_ID').val(claimIcdId);
        $('#icdNameEdit').val(icdName);
        $('#ICD_TYPE_Edit').val(icdType).trigger("chosen:updated");
    }

    function IcdEdit() {
        var claimIcdId= $('#CLAIM_ICD_ID').val();

        AddIcd('frmIcdEdit', 0, claimIcdId);
        $('#frmIcdEdit_Modal').modal("toggle");
    }
</script>