﻿<div class="modal fade" id="frmNoteEdit_Modal" tabindex="-1" role="dialog" aria-labelledby="noteEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="noteEditModalLabel">Not Düzenle</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="form-horizontal" role="form" action="/Claim/ClaimNoteSave" method="post" name="frmNoteEdit" id="frmNoteEdit" data-toggle="validator">
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" id="hdNoteId" name="hdNoteId" value="0" />
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <textarea rows="10" id="noteDescriptionModal" name="noteDescription" class="form-control" placeholder="Açıklama" required="required"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <button type="button" onclick="SaveNote('frmNoteEdit')" class="btn btn-success">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>