﻿<div class="modal fade" id="frmNote_Modal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="noteModalLabel">Yeni Not Ekle</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="form-horizontal" role="form" action="/Claim/ClaimNoteSave" method="post" name="frmNote" id="frmNote" data-toggle="validator">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <textarea rows="10" id="noteDescription" name="noteDescription" class="form-control" placeholder="Açıklama" required="required"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <button type="button" onclick="SaveNote('frmNote');" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function SaveNote(frm) {
        debugger;
        var noteId = $('#hdNoteId').val() == null ? 0 : $('#hdNoteId').val();
        claimId = $('#hdClaimId').val();
        if (claimId > 0) {
            var form = $('#'+frm);
            var formData = new FormData(form[0]);

            var action = form[0].action + '?claimId=' + claimId + '&noteId' + noteId;
            $.ajax({
                type: form[0].method,
                contentType: "application/json; charset=utf-8",
                url: action,
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    var responseData = $.parseJSON(data);

                    if (responseData.ResultCode == "100") {
                        getErrorMessage("success", responseData.ResultMessage);
                        RefreshTable('tblNoteList', JSON.parse(responseData.Data.jsonData));
                        $('#' + frm + '_Modal').modal("toggle");
                    } else {
                        getErrorMessage("error", responseData.ResultMessage);
                    }

                    $.unblockUI();
                },
                error: function (xhr, err) {
                    $.unblockUI();
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                }
            });
        }
    }
</script>