﻿<div class="modal fade" id="zarfEkleModal" tabindex="-1" role="dialog" aria-labelledby="zarfEkleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="zarfEkleModalLabel">Zarf Ekle</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <select class="chosen-select" name="envelopeType" id="envelopeType" style="width: 90%;">
                                    <option value="0">Zarf Tipi Seçiniz</option>
                                    <option value="1">A100</option>
                                    <option value="2">B300</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <select class="chosen-select" name="envelopeCategory" id="envelopeCategory" style="width: 90%;">
                                    <option value="0">Zarf Kategorisi Seçiniz</option>
                                    <option value="1">D400</option>
                                    <option value="2">Q500</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <select class="chosen-select" name="insuranceCompany" id="insuranceCompany" style="width: 90%;">
                                    <option value="0">Sigorta Şirketi Seçiniz</option>
                                    <option value="1">MOOR</option>
                                    <option value="2">IMC</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="envelopeNo" class="form-control" placeholder="Şirket Zarf No" required="required">
                                    <label for="envelopeNo">Şirket Zarf No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="corporateNo" class="form-control" placeholder="Kurum İcmal No" required="required">
                                    <label for="corporateNo">Kurum İcmal No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="date" id="bordDate" maxlength="11" class="form-control" placeholder="Bordrolama Tarihi" required="required">
                                    <label for="bordDate">Bordrolama Tarihi</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="date" id="vadeDate" maxlength="11" class="form-control" placeholder="Vade Tarihi " required="required">
                                    <label for="vadeDate">Vade Tarihi </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>