﻿<div class="modal fade" id="zarfSecModal" tabindex="-1" role="dialog" aria-labelledby="zarfSecModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:1050px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="zarfSecModalLabel">Zarf Seç</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <select class="chosen-select" name="envelopeTypeFilter" id="envelopeTypeFilter" style="width: 90%;">
                                        <option value="0">Zarf Tipi Seçiniz</option>
                                        <option value="1">A100</option>
                                        <option value="2">B300</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <select class="chosen-select" name="envelopeCategoryFilter" id="envelopeCategoryFilter" style="width: 90%;">
                                        <option value="0">Zarf Kategorisi Seçiniz</option>
                                        <option value="1">D400</option>
                                        <option value="2">Q500</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <select class="chosen-select" name="insuranceCompanyFilter" id="insuranceCompanyFilter" style="width: 90%;">
                                        <option value="0">Sigorta Şirketi Seçiniz</option>
                                        <option value="1">MOOR</option>
                                        <option value="2">IMC</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <input type="number" id="envelopeNoFilter" class="form-control" placeholder="Şirket Zarf No">
                                        <label for="envelopeNoFilter">Şirket Zarf No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <input type="number" id="corporateNoFilter" class="form-control" placeholder="Kurum İcmal No">
                                        <label for="corporateNoFilter">Kurum İcmal No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <input type="date" id="bordDateFilter" maxlength="11" class="form-control" placeholder="Bordrolama Tarihi">
                                        <label for="bordDateFilter">Bordrolama Tarihi</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <input type="date" id="vadeDateFilter" maxlength="11" class="form-control" placeholder="Vade Tarihi ">
                                        <label for="vadeDateFilter">Vade Tarihi </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <button type="submit" class="btn btn-info text-white form-control"> FİLTRELE</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-short table-bordered" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Zarf Tipi</th>
                                        <th>Zarf Kategorisi</th>
                                        <th>Sigorta Şirketi</th>
                                        <th>Şirket Zarf No</th>
                                        <th>Kurum İcmal No</th>
                                        <th>Bordrolama Tarihi</th>
                                        <th>Vade Tarihi</th>
                                        <th>Seç</th>
                                    </tr>
                                </thead>
                                @*<tbody>
                                    <tr>
                                        <td>A100</td>
                                        <td>B200</td>
                                        <td>IMC</td>
                                        <td>CE23134</td>
                                        <td>AS973</td>
                                        <td>19-09-2018</td>
                                        <td>11-09-2018</td>
                                        <td><a href="#" class="btn btn-success" href="#">Seç</a></td>
                                    </tr>
                                </tbody>*@
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                </div>
            </form>
        </div>
    </div>
</div>