﻿<div class="modal fade" id="frmProcessList_Modal" tabindex="-1" role="dialog" aria-labelledby="processModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:1050px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="processModalLabel">İşlem</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="form-horizontal" role="form" action="/Claim/ClaimProcess" method="post" name="frmProcessList" id="frmProcessList" data-toggle="validator">
                <div class="row border-section">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="processName" name="processName" maxlength="11" class="form-control" placeholder="İşlem Adı" required="required">
                                <label for="processName">İşlem Adı</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="processCode" name="processCode" maxlength="11" class="form-control" placeholder="İşlem Kodu" required="required">
                                <label for="processCode">İşlem Kodu</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="form-control btn btn-info text-white filter " onclick="GetClaimProcessList();">
                            <i class="fas fa-filter"></i> FİLTRELE
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="tblClaimProcessModal" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        @*<th>İşlem Listesi</th>
                                        <th>Hizmet Grubu</th>*@
                                        <th>İşlem Kodu</th>
                                        <th>İşlem Adı</th>
                                        @*<th>Branş</th>*@
                                        <th>TTB Birimi</th>
                                        @*<th>Birim Fiyatı</th>
                                        <th>İl Katsayısı</th>
                                        <th>Sözleşme Katsayısı</th>*@
                                        <th>Anlaşmalı Tutar</th>
                                        <th>Seç</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var tblClaimProcessModal = null;
    $(document).ready(function () {
        tblClaimProcessModal = $("#tblClaimProcessModal").DataTable({
            "ajax": {
                "url": "/Claim/GetClaimProcess",
                "type": "POST",
                "datatype": "json",
                "data": function (dt) {
                    dt.ClaimId = $('#hdClaimId').val();
                    dt.ProcessName = $('#processName').val();
                    dt.ProcessCode = $('#processCode').val();
                },
            },
            "columns": [
                //{ "data": "PROCESS_LIST_NAME", "name": "PROCESS_LIST_NAME" },
                //{ "data": "PROCESS_GROUP_NAME", "name": "PROCESS_GROUP_NAME" },
                { "data": "PROCESS_CODE", "name": "PROCESS_CODE" },
                { "data": "PROCESS_NAME", "name": "PROCESS_NAME" },
                //{ "data": "PARENT_NAME", "name": "PARENT_NAME" },
                //{ "data": "PROCESS_AMOUNT", "name": "PROCESS_AMOUNT" },
                { "data": "PROCESS_PRICE", "name": "PROCESS_PRICE" },
                //{ "data": "CITY_FACTOR", "name": "CITY_FACTOR" },
                //{ "data": "CONTRACT_PRICE", "name": "CONTRACT_PRICE" },
                { "data": "CONTRACT_AMOUNT", "name": "CONTRACT_AMOUNT" },
                {
                    "data": null,
                    "render": function (data) {
                        return '<div class="btn-wrapper-center">' +
                            '<button type="button"  onclick="AddClaimProcesses(' + data.PROCESS_ID + ');" class="btn btn-success btn-sm mr-10" >Seç</button>' +
                            '</div>';
                    }
                }
            ],
            pageLength: 5,
            "serverSide": "true",
            "aLengthMenu": [[5, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    });

    function GetClaimProcessList() {
        tblClaimProcessModal.ajax.reload();
    }

    
</script>