﻿@{
    var isEdit = ViewBag.isEdit ?? false;

    string CLOSE_DOWN_DATE = string.Empty;
    string ADDRESS_ID = "0";
    string IS_OPEN = string.Empty;
    string COMPANY_NAME = string.Empty;
    string PLATE_NO = string.Empty;
    string CONTACT_PHONE = string.Empty;
    string COUNTY_ID = string.Empty;
    string CONTACT_FIRST_NAME = string.Empty;
    string TITLE = string.Empty;
    string NEW_VERSION_ID = string.Empty;
    string CONTACT_ID = "0";
    string STATUS = string.Empty;
    string TAX_OFFICE = string.Empty;
    string REGION_CODE = string.Empty;
    string TAX_NUMBER = string.Empty;
    string COUNTRY_NAME = string.Empty;
    string ESTABLISHMENT_DATE = string.Empty;
    string COMPANY_ID = string.Empty;
    string AGENCY_NO = string.Empty;
    string TYPE = string.Empty;
    string CONTACT_LAST_NAME = string.Empty;
    string COUNTY_NAME = string.Empty;
    string CITY_ID = string.Empty;
    string CITY_NAME = string.Empty;
    string ZIP_CODE = string.Empty;
    string DETAILS = string.Empty;
    string AGENCY_NAME = string.Empty;
    string SP_RESPONSE_ID = string.Empty;
    string REGION_NAME = string.Empty;
    string AGENCY_ID = "0";
    string COUNTRY_ID = string.Empty;
    
    string AGENCY_PHONE_ID = "0";
    string PHONE_ID = "0";
    string PHONE_NO = string.Empty;

    string AGENCY_MOBILE_PHONE_ID = "0";
    string MOBILE_PHONE_ID = "0";
    string MOBILE_PHONE_NO = string.Empty;

    string AGENCY_FAX_PHONE_ID = "0";
    string FAX_PHONE_ID = "0";
    string FAX_PHONE_NO = string.Empty;


    if (isEdit)
    {
        if (ViewBag.Agency != null)
        {
            var agency = ViewBag.Agency;

            AGENCY_ID = Convert.ToString(agency.AGENCY_ID);
            ADDRESS_ID = Convert.ToString(agency.ADDRESS_ID);
            TYPE = Convert.ToString(agency.TYPE);
            AGENCY_NAME = Convert.ToString(agency.AGENCY_NAME);
            AGENCY_NO = Convert.ToString(agency.AGENCY_NO);
            CITY_ID = Convert.ToString(agency.CITY_ID);
            COMPANY_ID = Convert.ToString(agency.COMPANY_ID);
            CONTACT_ID = Convert.ToString(agency.CONTACT_ID);
            COUNTY_ID = Convert.ToString(agency.COUNTY_ID);
            DETAILS = Convert.ToString(agency.DETAILS);
            IS_OPEN = Convert.ToString(agency.IS_OPEN);
            PLATE_NO = Convert.ToString(agency.PLATE_NO);
            REGION_CODE = Convert.ToString(agency.REGION_CODE);
            REGION_NAME = Convert.ToString(agency.REGION_NAME);
            TAX_NUMBER = Convert.ToString(agency.TAX_NUMBER);
            TAX_OFFICE = Convert.ToString(agency.TAX_OFFICE);
            TITLE = Convert.ToString(agency.TITLE);
            ZIP_CODE = Convert.ToString(agency.ZIP_CODE);
            CONTACT_FIRST_NAME = Convert.ToString(agency.CONTACT_FIRST_NAME);
            CONTACT_LAST_NAME = Convert.ToString(agency.CONTACT_LAST_NAME);
            CONTACT_PHONE = Convert.ToString(agency.CONTACT_PHONE);

            ESTABLISHMENT_DATE = agency.ESTABLISHMENT_DATE==null ? string.Empty : DateTime.Parse(agency.ESTABLISHMENT_DATE.ToString()).ToString("dd-MM-yyyy");
            CLOSE_DOWN_DATE = agency.CLOSE_DOWN_DATE==null ? string.Empty : DateTime.Parse(agency.CLOSE_DOWN_DATE.ToString()).ToString("dd-MM-yyyy");

            if (ViewBag.Phone != null)
            {
                var phone = ViewBag.Phone;

                AGENCY_PHONE_ID= Convert.ToString(phone.AGENCY_PHONE_ID);
                PHONE_ID= Convert.ToString(phone.PHONE_ID);
                PHONE_NO= Convert.ToString(phone.PHONE_NO);
            }

            if (ViewBag.MobilePhone != null)
            {
                var mobilePhone = ViewBag.MobilePhone;

                AGENCY_MOBILE_PHONE_ID = Convert.ToString(mobilePhone.AGENCY_PHONE_ID);
                MOBILE_PHONE_ID = Convert.ToString(mobilePhone.PHONE_ID);
                MOBILE_PHONE_NO = Convert.ToString(mobilePhone.PHONE_NO);
            }

            if (ViewBag.FaxPhone != null)
            {
                var faxPhone = ViewBag.FaxPhone;

                AGENCY_FAX_PHONE_ID = Convert.ToString(faxPhone.AGENCY_PHONE_ID);
                FAX_PHONE_ID = Convert.ToString(faxPhone.PHONE_ID);
                FAX_PHONE_NO = Convert.ToString(faxPhone.PHONE_NO);
            }
        }
    }
}

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">

                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" href="/Production/Agency" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/Production/AgencyFormSave" method="post" data-toggle="validator" id="frmAgency">
                                <input type="hidden" name="hdAgencyId" value="@AGENCY_ID" />
                                <input type="hidden" name="hdAddressId" value="@ADDRESS_ID" />
                                <input type="hidden" name="hdContactId" value="@CONTACT_ID" />

                                <div class="row">

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="agencyCompany" class="control-label"><span class="color-danger">*</span>Sigorta Şirketi</label>
                                                <select name="agencyCompany" class="chosen-select" title="Seçiniz" id="agencyCompany" required>
                                                    <option value=""></option>
                                                    @foreach (var Company in ViewBag.CompanyList)
                        {
                            <option value="@Company.Id" @(COMPANY_ID == Convert.ToString(Company.Id) ? "selected" : "")>@Company.Name</option>
}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="agencyNo" class="control-label">No</label>
                                                <input value="@AGENCY_NO" name="agencyNo" maxlength="20" class="form-control" id="agencyNo" type="text" placeholder="No giriniz" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="agencyName" class="control-label"><span class="color-danger">*</span>Adı</label>
                                                <input value="@AGENCY_NAME" name="agencyName" maxlength="100" class="form-control" id="agencyName" type="text" placeholder="Adı giriniz" required />
                                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="AGENCY_TYPE" class="control-label">Tipi</label>
                                                <select name="AGENCY_TYPE" class="selectpicker w-100-pr mbui-select bg-white" id="AGENCY_TYPE" title="Seçiniz">
                                                    @foreach (var AgencyType in ViewBag.AgencyTypeList)
                        {
                            <option value="@AgencyType.Key" @(TYPE == Convert.ToString(AgencyType.Key) ? "selected" : "")>@AgencyType.Value</option>
}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="TAX_NUMBER" class="control-label">Vergi Kimlik No</label>
                                                <input value="@TAX_NUMBER" name="TAX_NUMBER" class="form-control money" id="TAX_NUMBER" minlength="10" maxlength="10" type="text" placeholder="Vergi Kimlik No Giriniz"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="TAX_OFFICE" class="control-label">Vergi Dairesi</label>
                                                <input value="@TAX_OFFICE" name="TAX_OFFICE" class="form-control" maxlength="100" id="TAX_OFFICE" type="text" placeholder="Bölge Adı giriniz" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="REGION_CODE" class="control-label">Bölge Kodu</label>
                                                <input value="@REGION_CODE" name="REGION_CODE" maxlength="20" class="form-control" id="REGION_CODE" type="text" placeholder="Bölge Kodu giriniz" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="REGION_NAME" class="control-label">Bölge Adı</label>
                                                <input value="@REGION_NAME" name="REGION_NAME" class="form-control" maxlength="1000" id="REGION_NAME" type="text" placeholder="Bölge Adı giriniz" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="PLATE_NO" class="control-label">Levha No</label>
                                                <input value="@PLATE_NO" name="PLATE_NO" maxlength="20" class="form-control" id="PLATE_NO" type="text" placeholder="Levha No giriniz" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="onoffswitch-wrap">
                                                    <label for="IS_OPEN" class="control-label fl pt-0 mr-10">Açık Mı?</label>
                                                    <div class="onoffswitch greensea inline-block fl">
                                                        <input type="checkbox" id="IS_OPEN" name="IS_OPEN" value="açık" onchange="IsOpen('IS_OPEN','CLOSE_DOWN_DATE')" @(IS_OPEN == "1" ? "checked" : "") />
                                                        <label class="switch mt-5" for="IS_OPEN">
                                                            <div></div>
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-12">
                                                <label for="ESTABLISHMENT_DATE" class="control-label">Kuruluş Tarihi</label>
                                                <div class='input-group datepicker mb-20'>
                                                    <input type='text' class="form-control dateMask" name="ESTABLISHMENT_DATE" id="ESTABLISHMENT_DATE" value="@ESTABLISHMENT_DATE" />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-12">
                                                <label for="CLOSE_DOWN_DATE" class="control-label">Kapanış Tarihi</label>
                                                <div class='input-group datepicker mb-20'>
                                                    <input type='text' class="form-control dateMask" name="CLOSE_DOWN_DATE" id="CLOSE_DOWN_DATE" value="@CLOSE_DOWN_DATE" @(IS_OPEN == "1" ? "disabled" : "") />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="mbui-inside-form mb-20 b-full mbui-panel">

                                    <div class="mbui-inside-header heading-color">
                                        <h4>Yetkili Bilgileri</h4>
                                        <ul class="mbui-controls">

                                            <li>
                                                <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                    <span class="mbui-minimize" data-tooltip="tooltip" data-placement="bottom" title="Göster"><i class="fa fa-angle-down"></i></span>
                                                    <span class="mbui-expand" data-tooltip="tooltip" data-placement="bottom" title="Gizle"><i class="fa fa-angle-up"></i></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="mbui-body mbui-inside-body">

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="CONTACT_FIRST_NAME" class="control-label">Adı</label>
                                                        <input value="@CONTACT_FIRST_NAME" name="CONTACT_FIRST_NAME" class="form-control" maxlength="1000" id="CONTACT_FIRST_NAME" type="text" placeholder="Yetkili Adı giriniz" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="CONTACT_LAST_NAME" class="control-label">Soyadı</label>
                                                        <input value="@CONTACT_LAST_NAME" name="CONTACT_LAST_NAME" class="form-control" maxlength="1000" id="CONTACT_LAST_NAME" type="text" placeholder="Yetkili Soyadı giriniz" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class=" col-sm-4 ">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="CONTACT_PHONE" class="control-label">Cep Telefonu Numarası</label>
                                                        <input name="CONTACT_PHONE" class="form-control phoneMask" id="CONTACT_PHONE" type="tel" placeholder="Yekili Telefon Numarası giriniz" value="@CONTACT_PHONE" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mbui-inside-form mb-20 b-full mbui-panel">

                                    <div class="mbui-inside-header heading-color">
                                        <h4>Telefon Bilgileri</h4>
                                        <ul class="mbui-controls">

                                            <li>
                                                <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                    <span class="mbui-minimize" data-tooltip="tooltip" data-placement="bottom" title="Göster"><i class="fa fa-angle-down"></i></span>
                                                    <span class="mbui-expand" data-tooltip="tooltip" data-placement="bottom" title="Gizle"><i class="fa fa-angle-up"></i></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="mbui-body mbui-inside-body">

                                        <input type="hidden" name="hdPhoneId" value="@PHONE_ID" />
                                        <input type="hidden" name="hdAgencyPhoneId" value="@AGENCY_PHONE_ID" />
                                        <input type="hidden" name="hdMobilePhoneId" value="@MOBILE_PHONE_ID" />
                                        <input type="hidden" name="hdAgencyMobilePhoneId" value="@AGENCY_MOBILE_PHONE_ID" />
                                        <input type="hidden" name="hdFaxPhoneId" value="@FAX_PHONE_ID" />
                                        <input type="hidden" name="hdAgencyFaxPhoneId" value="@AGENCY_FAX_PHONE_ID" />

                                        <div class="row">
                                            <div class=" col-sm-4 ">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="AgencyGsmPhoneNo" class="control-label">Cep Telefon Numarası</label>
                                                        <input name="AgencyGsmPhoneNo" class="form-control phoneMask" id="AgencyGsmPhoneNo" type="tel" placeholder="Cep Telefon Numarası giriniz" value="@MOBILE_PHONE_NO" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class=" col-sm-4 ">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="AgencyPhoneNo" class="control-label">Telefon Numarası</label>
                                                        <input name="AgencyPhoneNo" class="form-control phoneMask" id="AgencyPhoneNo" type="tel" placeholder="Telefon Numarası giriniz" value="@PHONE_NO" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class=" col-sm-4 ">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="AgencyFaxNo" class="control-label">Faks Numarası</label>
                                                        <input name="AgencyFaxNo" class="form-control phoneMask" id="AgencyFaxNo" type="tel" placeholder="Faks Numarası giriniz" value="@FAX_PHONE_NO" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mbui-inside-form mb-20 b-full mbui-panel">

                                    <div class="mbui-inside-header heading-color">
                                        <h4>Adres Bilgileri</h4>
                                        <ul class="mbui-controls">

                                            <li>
                                                <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                    <span class="mbui-minimize" data-tooltip="tooltip" data-placement="bottom" title="Göster"><i class="fa fa-angle-down"></i></span>
                                                    <span class="mbui-expand" data-tooltip="tooltip" data-placement="bottom" title="Gizle"><i class="fa fa-angle-up"></i></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="mbui-body mbui-inside-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="agencyAdress" class="control-label">Adres</label>
                                                        <input value="@DETAILS" name="agencyAdress" class="form-control" id="agencyAdress" type="text" placeholder="Adres giriniz" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="agencyZipCode" class="control-label">Posta Kodu</label>
                                                        <input value="@ZIP_CODE" name="agencyZipCode" class="form-control" id="agencyCode" type="text" placeholder="Posta Kodu giriniz" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group has-feedback">
                                                    <div class="col-sm-12">
                                                        <label for="agencyCity" class="control-label">İl</label>
                                                        <select class="chosen-select" id="agencyCity" title="Seçiniz" name="agencyCity" onchange="FillCounty('agencyCity', 'agencyCounty',1);">
                                                            <option value="">SEÇİNİZ</option>
                                                            @foreach (var City in ViewBag.CityList)
                                {
                                    <option value="@City.Name" @(CITY_ID == Convert.ToString(City.Id) ? "selected" : "")>@City.Name</option>
    }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group has-feedback">
                                                    <div class="col-sm-12">
                                                        <label for="agencyCounty" class="control-label">İlçe</label>
                                                        <select class="chosen-select" id="agencyCounty" title="Seçiniz" name="agencyCounty">
                                                            @if (!String.IsNullOrEmpty(COUNTY_ID))
                                {
                                    foreach (var County in ViewBag.CountyList)
                                    {
                                        <option value="@County.Name" @(COUNTY_ID == Convert.ToString(County.Id) ? "selected" : "")>@County.Name</option>
        }
    }
    else
    {
                            <option value="">SEÇİNİZ</option>
}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="btn-wrapper-center">
                                            <button onclick="SaveData('frmAgency');" type="button" class="btn btn-success btn-sm mr-10">@(ViewBag.Agency != null ? "Güncelle" : "Kaydet")</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- /.content -->

<script>
    $(document).ready(function () {

        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))

    });

    function SaveData(frmName) {

        var form = $('#' + frmName);
        form.validate();

        if (form.valid()) {

            var formData = new FormData(form[0]);

            $.ajax({
                type: form[0].method,
                contentType: "application/json; charset=utf-8",
                url: form[0].action,
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                    console.log('btnSave disabled');
                    $('.btn').css('pointer-events', 'none');
                },
                success: function (data) {
                    console.log('success');
                    var responseData = $.parseJSON(data);

                    if (responseData.Code != "100") {
                        $.unblockUI();

                        $('.btn').css('pointer-events', 'auto');
                        swal({
                            title: "Hata!",
                            text: responseData.Code + " : " + responseData.Message,
                            icon: "warning"
                        });
                    } else {
                        document.location.href = "/Production/Agency";
                    }
                },
                error: function (xhr, err) {
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                    $.unblockUI();
                }
            })

        } else {
            $.unblockUI();
            swal({
                title: "Hata",
                text: "Zorunlu alanları doldurunuz!",
                icon: "success"
            });
        }
    }

    function IsOpen(sourceSelect, targetInput) {
        debugger;
        var isChecked = $('#' + sourceSelect).prop('checked');
        if (isChecked) {
            $('#' + targetInput).val("");
            $('#' + targetInput).prop('disabled', 'disabled');
        } else {
            $('#' + targetInput).val("");
            $('#' + targetInput).prop('disabled', false);
        }
    }
</script>