﻿@model Protein.Web.Models.AgencyModel.AgencyVM
<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Acente</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a href="/Production/AgencyForm" tabindex="0" class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="15">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="modal" data-target="#modalExport" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            @*<ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                    <li>
                                        <a role="button" tabindex="0" class="mbui-print">
                                            <i class="fa fa-print" aria-hidden="true"></i> Yazdır
                                        </a>
                                    </li>
                                    <li>
                                        <a role="button" tabindex="0" class="mbui-pdf">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Pdf
                                        </a>
                                    </li>
                                    <li>
                                        <a role="button" tabindex="0" class="mbui-exel">
                                            <i class="fa fa-file-excel-o"></i> Exel
                                        </a>
                                    </li>
                                </ul>*@
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle import" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="İçe Aktar">
                                <i class="fa fa-download"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel" data-toggle="modal" data-target="#modalImport" data-tooltip="tooltip" data-placement="bottom" title="" data-original-title="Excel">
                                        <i class="fa fa-file-excel-o"></i> Excel
                                    </a>
                                </li>

                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel" href="/assets/excelfiles/ACENTE.xlsx">
                                        <i class="fa fa-file-excel-o"></i> Örnek Dosya
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active Enterclick">
                    <form class="form-horizontal" role="form" action="" method="post">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="agencyCompanyId" class="control-label">Sigorta Şirketi</label>
                                    <select class="chosen-select bg-white" title="Seçiniz" name="agencyCompanyId" id="agencyCompanyId">
                                        <option value="">Tümü</option>
                                        @foreach (var company in ViewBag.CompanyList)
                                        {
                                            <option value="@company.Id" @(ViewBag.COMPANY_ID == Convert.ToString(company.Id) ? "selected" : "")>@company.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label for="agencyCompanyName" class="control-label">Adı</label>
                                    <input name="agencyCompanyName" class="form-control" placeholder="Adı giriniz" type="text" id="agencyCompanyName" value="@ViewBag.AGENCY_NAME" />
                                </div>

                                <div class="col-sm-3">
                                    <label for="agencyCompanyNo" class="control-label">No</label>
                                    <input name="agencyCompanyNo" class="form-control" placeholder="No giriniz" type="text" id="agencyCompanyNo" value="@ViewBag.AGENCY_NO" />
                                </div>
                                <input type="hidden" name="isFilter" id="isFilter" value="0" />
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button onclick="Fclick('tblAgency')" type="button" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtrele</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-md table-custom" id="tblAgency">
                                <thead>
                                    <tr>
                                        <th>Sigorta Şirketi</th>
                                        <th>Adı</th>
                                        <th>No</th>
                                        <th>Aktif/Pasif</th>
                                        <th>Oluşturma Tarihi</th>
                                        <th>Güncelleme Tarihi</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partials/_Import.cshtml", Model.ImportVM)
    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model.ExportVM)
</section>
<script>
var table = null;
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));

        @(Html.Raw(""));

        $('.mbui-list .dropdown-menu li a').click(function () {
            var dataShow = $(this).attr('data-value');
            $('.dataTables_length select option').prop('selected', '');
            $(this).closest('.mbui-form').find('.dataTables_length select option[value="' + dataShow + '"]').prop('selected', 'selected').trigger('change');
        });
        debugger;
        table = $("#tblAgency").DataTable({
            "ajax": {
                "url": "/Production/AgencyFilter",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                "data": function (item) {
                    debugger;
                    item.agencyCompanyId = $('#agencyCompanyId').val();
                    item.agencyCompanyName = $('#agencyCompanyName').val();
                    item.agencyCompanyNo = $('#agencyCompanyNo').val();
                    item.isFilter = $('#isFilter').val();
                },
                "complete": function (settings, json) {
                    $.unblockUI();
                    var responseText = JSON.parse(settings.responseText);
                    $("#WhereCondition").val(responseText.whereConditition);
                },
            },
            "columns": [
                { "data": "COMPANY_NAME", "name": "COMPANY_NAME" },
                { "data": "AGENCY_NAME", "name": "AGENCY_NAME" },
                { "data": "AGENCY_NO", "name": "AGENCY_NO" },        
                { "data": "STATUS", "name": "STATUS" },   
                { "data": "CREATE_DATE", "name": "CREATE_DATE" },   
                { "data": "MODIFICATION_DATE", "name": "MODIFICATION_DATE" },   
                {
                    "data": "AGENCY_ID",
                    "render": function (data) {
                        return '<div class="islem">' +
                            '<div class="btn-group fr">' +
                            '<a href="/Production/AgencyForm/Edit/' + data + '" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>' +

                            '<a onclick="Confirm(\'Sil\',\'Silmek istediğinizden emin misiniz ? \',\'warning\',\'/Production/AgencyDelete/ ' + data + '\');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>'
                            '</div>' +
                            '</div>';
                    }
                }
             
            ],
            pageLength: 10,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    });
    function Fclick(tbl) {
        debugger;
        $('#isFilter').val("1");
        table.ajax.reload();
    }

    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });

    function getEnterFunction() {
        Fclick('tblAgency');
    }
</script>