﻿<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">
                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" href="/Production/Declaration" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body">
                    <form class="form-horizontal" role="form" action="/Production/DeclarationFormSave" method="post" id="frmDeclaration">
                        <fieldset>
                            <input type="hidden" name="hdQueryId" id="hdQueryId" value="@(ViewBag.Query!=null ? ViewBag.Query.Id : "0")" />
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="queryName" class="control-label fl mr-10">Adı</label>
                                    <input value="@(ViewBag.Query!=null ? ViewBag.Query.Name : "")" name="declarationName" class="form-control" id="declarationName" type="text" />
                                </div>
                            </div>
                            <div class="mbui-inside-form mb-20 b-full mbui-panel">
                                <div class="mbui-inside-header heading-color">
                                    <h4>Sorular</h4>
                                    <ul class="mbui-controls">
                                        <li>
                                            <a href="#" tabindex="0" data-toggle="modal" data-target="#frmtblChoice_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                <span class="mbui-minimize" data-tooltip="tooltip" data-placement="bottom" title="Göster"><i class="fa fa-angle-down"></i></span>
                                                <span class="mbui-expand" data-tooltip="tooltip" data-placement="bottom" title="Gizle"><i class="fa fa-angle-up"></i></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <input type="hidden" name="hdSelectQuestionId" id="hdSelectQuestionId" value="@(ViewBag.SelectQuestionId!=null ? ViewBag.SelectQuestionId : "0")" />
                                <input type="hidden" name="hdJSON" id="hdJSON" value="@(ViewBag.JSON!=null ? ViewBag.JSON : "0")" />
                                <div class="none-visible clearfix">
                                    <div class="col-sm-12">
                                        <div class="visible-elements-wrapper">
                                            @foreach (var Question in ViewBag.QuestionList)
                                            {
                                                <label class="checkbox-label mr-10 fl rounded btn-success" for="@Question.Id">
                                                    @Question.Description
                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                </label>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="mbui-body mbui-inside-body active">
                                    <div class="info-wrapper ">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="position-right">
                                                    <button type="button" class="checkbox_check btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Seç</button>
                                                    <button type="button" class="checkbox_cancel btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Kaldır</button>
                                                    <button type="button" class="checkbox_close btn btn-rounded btn-default btn-md fl mbui-info-btn">Seçimi Tamamla</button>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="tree-list  mbui-panel-scroll">
                                            @foreach (var Question in ViewBag.QuestionList)
                                            {
                                                <li class="parent new-list">
                                                    <div class="parent-tree tree clearfix">
                                                        <span class="list-name">@Question.Description</span>
                                                        <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                            <input type="checkbox" value="@Question.Id" name="questionChecked" onchange="SelectQuestion('hdSelectQuestionId',@Question.Id)" id="@Question.Id" @(ViewBag.Listid != null ? ViewBag.Listid.Contains(Question.Id) ? "checked" : "" : "")>
                                                            <i></i>
                                                        </label>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="btn-wrapper-center">
                                        <button type="submit" class="btn btn-success btn-sm mr-10">@(ViewBag.Query != null ? "Güncelle" : "Kaydet")</button>
                                        <a href="/Production/Declaration" class="btn btn-danger btn-sm">İptal</a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmtblChoice_Modal -->
    <div class="modal" id="frmtblChoice_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmtblChoice_Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmtblChoice_Modal">Yeni Soru Ekle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="@(ViewBag.Question != null ? "/Production/QuestionFormUpdate" : "/Production/QuestionFormSave")" method="post" id="form1">
                                <fieldset @ViewBag.FormDisabled>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label class="control-label">Tipi </label>
                                            <div class="btn-group width-100-pr">
                                                <label class="btn-label width-50-pr">
                                                    <input type="radio" name="questionType" value="0" @(ViewBag.Question != null ? (ViewBag.Question.IsOptional == "0" ? "checked" : "") : "")>
                                                    <span class="btn btn-radio btn-border-radio btn-radius-left-10">
                                                        Metin
                                                    </span>
                                                </label><label class="btn-label width-50-pr">
                                                    <input type="radio" name="questionType" value="1" @(ViewBag.Question != null ? (ViewBag.Question.IsOptional == "1" ? "checked" : "") : "")>
                                                    <span class="btn btn-radio btn-border-radio btn-radius-right-10">
                                                        Seçenekler
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label class="control-label mr-10" for="questionDescription">Soru </label>
                                            <textarea class="form-control" name="questionDescription" required id="question" rows="5">@(ViewBag.Question!=null ? ViewBag.Question.Description : "")</textarea>
                                        </div>
                                    </div>

                                    <div class="mbui-form mbui-inside-form mb-20 b-full mbui-panel">
                                        <div class="mbui-inside-header heading-color">
                                            <h4>Seçenekler</h4>
                                            <ul class="mbui-controls">
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#frmChoice_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                        <span class="mbui-minimize" data-tooltip="tooltip" data-placement="bottom" title="Göster"><i class="fa fa-angle-down"></i></span>
                                                        <span class="mbui-expand" data-tooltip="tooltip" data-placement="bottom" title="Gizle"><i class="fa fa-angle-up"></i></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mbui-body mbui-inside-body">
                                            <div class="table-responsive">
                                                <table class="table table-md table-custom" id="tblChoice">
                                                    <thead>
                                                        <tr>
                                                            <th>Seçenekler</th>
                                                            <th>İşlemler</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <a onclick="SaveData('form1');" class="btn btn-success btn-sm mr-10">@(ViewBag.Question != null ? "Güncelle" : "Kaydet")</a>
                                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">İptal</button>
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" value="" id="hdChoice" name="hdChoice" />

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmChoice_Modal -->
    <div class="modal" id="frmChoice_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmChoice_Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmChoice_Modal">Yeni Seçenek</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post" id="frmChoice">
                                    <fieldset @ViewBag.FormDisabled>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="hidden" name="CHOICE_ID" id="CHOICE_ID" value="" />
                                                <input type="hidden" name="STATUS" id="frmChoice_STATUS" value="0" />
                                                <input type="hidden" name="ClientId" id="frmChoice_ClientId" value="0" />

                                                <label for="choiceDescription" class="control-label fl mr-10">Seçenek</label>
                                                <input name="choiceDescription" class="form-control" id="choiceDescription" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class="btn-wrapper-center">
                                            <button type="button" onclick="addData('frmChoice', 'hdChoice'); RefreshTable('tblChoice','hdChoice');" class="btn btn-success btn-sm mr-10">Kaydet</button>
                                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">İptal</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        LoadChoice();
@(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))

    });

    function SaveData(frmName) {

        var form = $('#' + frmName);
        form.validate();

        if (form.valid()) {
            console.log('everything looks good!');

            var formData = new FormData(form[0]);

            $.ajax({
                type: form[0].method,
                contentType: "application/json; charset=utf-8",
                url: form[0].action,
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {

                    var responseData = $.parseJSON(data);

                    $("#lblMsg").html("Sonuç : " + responseData.ResultCode + " : " + responseData.ResultMessage);

                    if (responseData.ResultCode == "100") {

                        switch (frmName) {

                            case "form1":
                                $('#hdChoice').val(data);
                                break;
                            default:
                                break;
                        }

                    }

                },
                error: function (xhr, err) {
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                }
            })

        } else {
            console.log('handle the invalid form...');

        }
    }

    function SelectQuestion(hd, id) {
        $('#' + hd).val = $('#' + hd).val + id+",";
    }

    function LoadChoice() {

        var frm = "frmChoice"
        var tbl = "tblChoice";
        var hdi = "hdChoice";
        var updateFunc = "UpdateChoice";

        if ($('#' + tbl).length > 0) {

            var jsonValue = $('#' + hdi).val();
            var data;

            if (jsonValue != "") {
                var data = JSON.parse(jsonValue);
            }

            var table = $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": false,
                "data": data,
                "columns": [
                    { "data": "choiceDescription" },
                    {
                        "data": "CHOICE_ID",
                        "render": function (data) {
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<a href="#" class="myIcon icon-warning"  data-toggle="modal" data-target="#providerModal" data-tooltip="tooltip" data-placement="bottom" title="Düzenle" onclick="' + updateFunc + '(\'' + frm + '\',\'' + hdi + '\',\'' + data + '\');RefreshTable(\'' + tbl + '\',\'' + hdi + '\');">' +
                                '<i class="fa fa-pencil-square-o"></i>' +
                                '</a >' +
                                '<a href="#" class="myIcon icon-danger" onclick="deleteData(\'' + hdi + '\',\'' + data + '\');RefreshTable(\'' + tbl + '\',\'' + hdi + '\');" data-tooltip="tooltip" data-placement="bottom" title="Sil">' +
                                '<i class="fa fa-trash-o"></i>' +
                                '</a >' +
                                '</div>' +
                                '</div>';
                        }
                    }
                ]
            });
        }
    }

</script>