﻿<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Zeyl Listesi</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li>
                            <a onclick="GetReportMultiple(@ViewBag.PolicyId)" class="icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Toplu Zeyil Basım"><i class="fa fa-cloud-download"></i></a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="15">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" href="/Production/Policy" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active">
                    <form class="form-horizontal" role="form" action="/Production/EndorsementFilter/@ViewBag.PolicyId" method="post">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">
                                <input type="hidden" name="hdPolicyId" id="hdPolicyId" value="@ViewBag.PolicyId" />
                                <div class="col-sm-2">
                                    <label for="endorsementNo" class="control-label">Zeyl No</label>
                                    <input name="endorsementNo" class="form-control" id="endorsementNo" type="text" placeholder="Zeyl No giriniz" value="@ViewBag.endorsementNo" />
                                </div>

                                <div class="col-sm-3">
                                    <label for="endorsementType" class="control-label">Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="endorsementType" id="endorsementType" title="Seçiniz">
                                        @foreach (var EndorsementType in ViewBag.EndorsementTypeList)
                                        {
                                            <option value="@EndorsementType.Key">@EndorsementType.Value</option>
                                        }
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" onclick="Filter()" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtrele</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-md table-custom" id="tblEndorsement">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Sigorta Şirketi</th>
                                        <th>Sigorta Ettiren</th>
                                        <th>Tipi</th>
                                        <th>Toplam Prim</th>
                                        <th>Başlangıç Tarihi</th>
                                        <th>Tanzim Tarihi</th>
                                        <th>Sigortalılar</th>
                                        <th>Tanzim Durumu</th>
                                        <th>Basım Seçimi (<a onclick="SelectAllEndorsement()" title="Tümünü Seç">Tümünü_Seç</a>)</th>
                                        <th>Basım</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

    <!-- Modal frmEndorsement_Modal -->
    <div class="modal" id="frmEndorsement_Modal" tabindex="-1" role="dialog" aria-labelledby="frmEndorsement_Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmEndorsement_Modal">Zeyl Ekle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="/Production/EndorsementStatusChange" method="post" id="frmEndorsement" data-toggle="validator">
                                    <fieldset>
                                        <input type="hidden" class="inputHidden" name="hdEndorsementId_Modal" id="hdEndorsementId_Modal" value="0" />
                                        <input type="hidden" class="inputHidden" name="hdPolicyId" id="hdPolicyId_frmEndorsement" value="0" />
                                        <div class="row">
                                            
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="DATE_OF_ISSUE" class="control-label"><span class="color-danger">*</span>Tanzim Tarihi</label>
                                                        <div class='input-group datepicker'>
                                                            <input type='text' class="form-control dateMask" name="DATE_OF_ISSUE" id="DATE_OF_ISSUE" value="@DateTime.Now.ToString("dd-MM-yyyy")" required/>
                                                            <span class="input-group-addon">
                                                                <span class="fa fa-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="REGISTRATION_DATE" class="control-label">Muhasebeleştirme Tarihi</label>
                                                        <div class='input-group datepicker'>
                                                            <input type='text' class="form-control dateMask" name="REGISTRATION_DATE" id="REGISTRATION_DATE" value="@DateTime.Now.ToString("dd-MM-yyyy")"/>
                                                            <span class="input-group-addon">
                                                                <span class="fa fa-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="btn-wrapper-center">
                                            <button type="submit" id="btnfrmEndorsementSave" class="btn btn-success btn-sm mr-10">Kaydet</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmPolicyZeylInsured_Modal -->
    <div class="modal" id="frmPolicyZeylInsured_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sigortalı Listesi</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">

                                <form class="form-horizontal" role="form" action="" method="post">

                                    <input type="hidden" class="inputHidden" name="hdEndorsementId" id="hdEndorsementId" value="0" />
                                    <input type="hidden" class="inputHidden" name="hdPolicyId" id="hdPolicyId_frmPolicyZeylInsured" value="0" />

                                    <div class="mbui-inside-form mb-20">

                                        <div class="mbui-body mbui-inside-body">

                                            <div class="table-responsive">
                                                <table class="table table-md table-custom" id="tblEndorsementInsured">
                                                    <thead>
                                                        <tr>
                                                            <th>Adı</th>
                                                            <th>Soyadı</th>
                                                            <th>T.C. Kimlik No</th>
                                                            <th>Birey Tipi</th>
                                                            <th>Aile No</th>
                                                            <th>Toplam Prim</th>
                                                            <th>Kullanılan Prim</th>
                                                            <th>Çıkış Prim</th>
                                                            <th>Doğum Tarihi</th>
                                                            <th>Zeyil Listesi</th>
                                                            <th>İşlemler</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->

<script>
    var tblEndorsementInsured = null, tblEndorsement = null;
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))

        $.getJSON("/Common/ClearTempData?key=Alert", function (data) { });

        //$('#tblEndorsement').dataTable({
        //    "columnDefs": [
        //        { "type": "num", "targets": 0 }
        //    ],
        //    "searching": false
        //});

        tblEndorsement = $("#tblEndorsement").DataTable({
            "ajax": {
                "url": "/Production/GetEndorsementList",
                "type": "POST",
                "datatype": "json",
                "data": function (dttt) {
                    dttt.POLICY_ID = $('#hdPolicyId').val();
                    dttt.ENDORSEMENT_NO = $('#endorsementNo').val();
                    dttt.COMPANY_ID = $('#endorsementCompany').val();
                    dttt.INSURER_TCKN = $('#insurerTCKN').val();
                    dttt.INSURER_NAME = $('#insurerName').val();
                    dttt.ENDORSEMENT_TYPE = $('#endorsementType').val();
                }
            },

            "columns": [
                { "data": "ENDORSEMENT_NO", "name": "ENDORSEMENT_NO" },
                { "data": "COMPANY_NAME", "name": "COMPANY_NAME" },
                { "data": "INSURER_NAME", "name": "INSURER_NAME" },
                { "data": "ENDORSEMENT_TYPE_TEXT", "name": "ENDORSEMENT_TYPE" },
                { "data": "ENDORSEMENT_PREMIUM", "name": "ENDORSEMENT_PREMIUM" },
                { "data": "ENDORSEMENT_START_DATE", "name": "ENDORSEMENT_START_DATE" },
                { "data": "ENDORSEMENT_DATE_OF_ISSUE", "name": "ENDORSEMENT_ISSUE_DATE" },
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        return '<div class="islem popup">' +
                            '<div class="btn-group">' +
                            '<a onclick="GetInsuredbyEndorsement('+data.ENDORSEMENT_ID+','+data.POLICY_ID+');" class="myIcon icon-primary" data-toggle="modal" data-target="#frmPolicyZeylInsured_Modal" data-tooltip="tooltip" data-placement="bottom" title="Sigortalıları Görüntüle"><i class="fa fa-user"></i></a>' +
                            '</div>' +
                            '</div>';
                    }
                },
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        if (data.STATUS == "0") {
                            return '<div class="btn-group">' +
                                '<a class="myIcon icon-success" data-tooltip="tooltip" data-placement="bottom" title="Tanzim Edilmiş"><i class="fa fa-check"></i></a>' +
                                '</div>';
                        }
                        else {
                            return '<div class="islem pro-red">' +
                                '<div class="btn-group">' +
                                '<a href="#" class="red myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title=""><i class="fa fa-times"></i></a>' +
                                '<a onclick="GetEndorsementInfo(' + data.ENDORSEMENT_ID + ',' + data.POLICY_ID + ');" class="ekle myIcon icon-success" data-toggle="modal" data-target="#frmEndorsement_Modal" data-tooltip="tooltip" data-placement="bottom" title="Tanzim Et"><i class="fa fa-check"></i></a>' +
                                '</div>' +
                                '</div>';
                        }
                    }
                },
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        return '<div>' +
                            '<label class="checkbox mbui-checkbox-custom-alt checkbox-customm-lg fr"  style="width: 130px;">' +
                            '<input class="checkSingle" onchange="" type="checkbox" value="' + data.ENDORSEMENT_ID + '" name="selectEndorsementList" id="selectEndorsement_' + data.ENDORSEMENT_ID + '" style="height: 15px;">' +
                            '<i style="height: 20px;width: 20px;"></i>' +
                            '</label>' +
                            '</div>';
                    }
                },
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                       
                        debugger;
                        if (data.ENDORSEMENT_TYPE == "1" || data.ENDORSEMENT_TYPE == "3" || data.ENDORSEMENT_TYPE == "5" || data.ENDORSEMENT_TYPE == "7") {
                            return '<div class="islem">' +
                                '<div class="btn-group">' +
                                '<a onclick="GetReport(' + data.ENDORSEMENT_ID + ',' + data.POLICY_ID + ',\'0\',\'1\');" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Zeyil Basım"><i class="fa fa-cloud-download"></i></a>' +
                                '<a onclick="GetReport(' + data.ENDORSEMENT_ID + ',' + data.POLICY_ID + ',\'1\',\'1\');" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Poliçe Sertifika"><i class="fa fa-certificate"></i></a>'+
                                '</div>' +
                                '</div>';
                        }
                        else {
                            return '<div class="islem">' +
                                '<div class="btn-group">' +
                                '<a onclick="GetReport(' + data.ENDORSEMENT_ID + ',' + data.POLICY_ID + ',\'0\');" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Zeyil Basım"><i class="fa fa-cloud-download"></i></a>' +
                                '</div>' +
                                '</div>';
                        }
                    }
                },
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        if (data.STATUS == "0") {
                            if (data.IS_BACK_STATUS=="0") {
                                return '<div class="islem">' +
                                    '<div class="btn-group fr">' +
                                    '<a onclick="Loading();" href="/Production/EndorsementForm/View/' + data.ENDORSEMENT_ID + '?PolicyId=' + data.POLICY_ID + '" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>' +
                                    '</div>' +
                                    '</div>';
                            }
                            else {
                                return '<div class="islem">' +
                                    '<div class="btn-group fr">' +
                                    '<a onclick="Loading();" href="/Production/EndorsementForm/View/' + data.ENDORSEMENT_ID + '?PolicyId=' + data.POLICY_ID + '" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>' +
                                    '<a onclick="Confirm(\'Geri Al\', \'Zeyil Durumunu Tanzimsize Döndürmek istediğinize emin misiniz ?\', \'warning\', \'/Production/EndorsementBackStatus/' + data.ENDORSEMENT_ID + '?PolicyId=' + data.POLICY_ID +'\');" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Geri Al"><i class="fa fa-undo"></i></a>' +
                                    '</div>' +
                                    '</div>';
                            }
                        }
                        else {
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<a onclick="Loading();" href="/Production/EndorsementForm/Edit/' + data.ENDORSEMENT_ID + '?PolicyId=' + data.POLICY_ID+'" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>' +
                                '<a onclick="Confirm(\'Sil\', \'Silmek istediğinizden emin misiniz ?\', \'warning\', \'/Production/EndorsementDelete/'+data.ENDORSEMENT_ID+'\');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>' +
                                '</div>' +
                                '</div>';
                        }
                    }
                }
            ],
            "searching": false,
            pageLength: 10,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "order": [0, "desc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });

        //EndorsementInsured
        tblEndorsementInsured = $("#tblEndorsementInsured").DataTable({
            "ajax": {
                "url": "/Production/GetEndorsementInsuredList",
                "type": "POST",
                "datatype": "json",
                "data": function (dttt) {
                    debugger;
                    dttt.ENDORSEMENT_ID = $('#hdEndorsementId').val();
                    dttt.POLICY_ID = $('#hdPolicyId_frmPolicyZeylInsured').val();
                }
            },

            "columns": [
                { "data": "FIRST_NAME", "name": "FIRST_NAME" },
                { "data": "LAST_NAME", "name": "LAST_NAME" },
                { "data": "IDENTITY_NO", "name": "IDENTITY_NO" },
                { "data": "INDIVIDUAL_TYPE_TEXT", "name": "INDIVIDUAL_TYPE_TEXT" },
                { "data": "FAMILY_NO", "name": "FAMILY_NO" },
                { "data": "PREMIUM", "name": "PREMIUM" },
                { "data": "USE_PREMIUM", "name": "USE_PREMIUM" },
                { "data": "EXIT_PREMIUM", "name": "EXIT_PREMIUM" },
                { "data": "BIRTHDATE", "name": "BIRTHDATE" },
                { "data": "ENDORSEMENT_ID_LIST", "name": "ENDORSEMENT_ID_LIST" },
                {
                    "data": null,
                    "render": function (data) {
                        return '<div class="islem">' +
                            '<div class="btn-group fr">' +
                            '<a href="/Production/Insured/View/'+data.INSURED_ID+'" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>' +
                            '</div>' +
                            '</div>';
                    }
                }
            ],
            pageLength: 10,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": true,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    });
    var isCheckAllEndorsement = false;
    function SelectAllEndorsement() {
        //document.getElementsByName("selectIcdList").not(this).prop('checked', this.checked);
        if (isCheckAllEndorsement == false) {
            isCheckAllEndorsement = true;
            $(".checkSingle").each(function () {
                this.checked = true;
            })
        } else {
            isCheckAllEndorsement = false;

            $(".checkSingle").each(function () {
                this.checked = false;
            })
        }
    }

    function Filter() {
        tblEndorsement.ajax.reload();
    }

    function GetReportMultiple(policyId) {
        $.blockUI({ message: $('#domMessage') });

        $(".checkSingle").each(function () {
            if (this.checked == true) {
                console.log(this.value);
                GetReport(this.value, policyId, '0','0');
            }
        })
        $.unblockUI();
    }

    function GetReport(endorsementId, policyId,type,isblock) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Production/GetEndorsementReport?EndorsementId=" + endorsementId + "&PolicyId=" + policyId + "&Type=" + type,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function () {
                if (isblock=="1") {
                    $.blockUI({ message: $('#domMessage') });
                }
            },
            success: function (responseData) {
                if (isblock=="1") {
                    $.unblockUI();
                }
                var response = responseData;
                if (response.Code == "100") {
                    $.ajax({
                        url: '/Common/PrintGenerator?url=' + response.FileUrl + '&filename=' + response.FileName,
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            var response = data;
                            if (typeof (data) != "undefined" && response.FileUrl != null) {
                                window.location = '/Common/Download?FileGuid=' + response.FileUrl
                                    + '&filename=' + response.FileName;
                            }
                            else {
                                debugger;

                            }
                        },
                    });
                }
                else {
                    swal({
                        title: "Hata!",
                        text: responseData.Message,
                        icon: "warning"
                    });
                }
            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
                if (isblock == "1") {
                    $.unblockUI();
                }
            }
        });
    }

    function GetInsuredbyEndorsement(endorsementId, policyId) {
        $('#hdEndorsementId').val(endorsementId);
        $('#hdPolicyId_frmPolicyZeylInsured').val(policyId);
        tblEndorsementInsured.ajax.reload();
    }

    function GetEndorsementInfo(EndorsementId, policyId) {
        $('#hdEndorsementId_Modal').val(EndorsementId);
        $('#hdPolicyId_frmEndorsement').val(policyId);
    }

</script>