﻿<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Poliçe Grubu</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a href="/Production/PolicyGroupForm" tabindex="0" class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="15">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-print">
                                        <i class="fa fa-print" aria-hidden="true"></i> Yazdır
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-pdf">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Pdf
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Exel
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle import" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="İçe Aktar">
                                <i class="fa fa-download"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Exel
                                    </a>
                                </li>

                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Örnek Dosya
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active">
                    <form class="form-horizontal" role="form" action="/Production/PolicyGroupFilter" method="post">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">

                                <div class="col-sm-3">
                                    <label for="POLICY_GROUP_NAME" class="control-label">Adı</label>
                                    <input name="POLICY_GROUP_NAME" class="form-control" id="POLICY_GROUP_NAME" type="text" placeholder="Adı giriniz" value="@ViewBag.POLICY_GROUP_NAME" />
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtrele</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-md table-custom">
                                <thead>
                                    <tr>
                                        <th>Adı</th>
                                        <th>Üst Poliçe Grubu Adı</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var PolicyGroup in ViewBag.PolicyGroupList)
                                    {
                                        <tr>
                                            <td>@PolicyGroup.POLICY_GROUP_NAME</td>
                                            <td>@PolicyGroup.PARENT_NAME</td>
                                            <td class="islem">
                                                <div class="btn-group fr">
                                                    <a onclick="Loading();" href="/Production/PolicyGroupForm/Edit/@PolicyGroup.POLICY_GROUP_ID" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>
                                                    <a onclick="Confirm('Sil','Silmek istediğinizden emin misiniz ? ','warning','/Production/PolicyGroupDelete/@PolicyGroup.POLICY_GROUP_ID');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

</section>
<!-- /.content -->

<script>
$(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))

        $.getJSON("/Common/ClearTempData?key=Alert", function (data) { });
    });
</script>