﻿@{
    bool isEdit = ViewBag.isEdit;
    
    //Özel Şart
    string jsonRuleSpecial = ViewBag.RuleSpecialList != null ? ViewBag.RuleSpecialList : "[]";

    //Ek Protocol
    string jsonRuleExtra = ViewBag.RuleExtraList != null ? ViewBag.RuleExtraList : "[]";

    string POLICY_GROUP_ID = string.Empty;
    string POLICY_GROUP_NAME = string.Empty;
    string PARENT_ID = string.Empty;

    if (isEdit)
    {
        isEdit = true;

        if (ViewBag.PolicyGroup != null)
        {
            //Genel bilgiler
            var policyGroup = ViewBag.PolicyGroup;

            POLICY_GROUP_ID = Convert.ToString(policyGroup.Id);
            POLICY_GROUP_NAME = Convert.ToString(policyGroup.Name);
            PARENT_ID = Convert.ToString(policyGroup.ParentId);
        }
    }

}
<section class="content">

    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form">

                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" href="/Production/PolicyGroup" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mbui-tabs-container clearfix b-full">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-justified" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">GENEL</a></li>
                                    <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">ÖZEL ŞART</a></li>
                                    <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">EK PROTOKOL</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    @*Genel Bilgiler*@
                                    <div role="tabpanel" class="tab-pane active" id="tab1">
                                        <form class="form-horizontal" role="form" id="form1" action="/Production/PolicyGroupSave" method="post" data-toggle="validator">
                                            <fieldset>
                                                <div class="col-sm-12 mt-10">
                                                    <div class="row">

                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <label for="PARENT_ID" class="control-label">Üst Poliçe Grubu</label>
                                                                    <select tabindex="3" class="chosen-select" id="PARENT_ID" name="PARENT_ID" title="Seçiniz">
                                                                        <option value="">SEÇİNİZ</option>
                                                                        @foreach (var PolicyGroup in ViewBag.PolicyGroupList)
                                                                        {
                                                                            if (Convert.ToString(PolicyGroup.Id) != POLICY_GROUP_ID)
                                                                            {
                                                                                <option value="@PolicyGroup.Id" @(PARENT_ID == Convert.ToString(PolicyGroup.Id) ? "selected" : "" )>@PolicyGroup.Name</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <label for="POLICY_GROUP_NAME" class="control-label">Adı</label>
                                                                    <input name="POLICY_GROUP_NAME" class="form-control" id="POLICY_GROUP_NAME" type="text" placeholder="Adı giriniz" value="@POLICY_GROUP_NAME" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <div class="btn-wrapper-center">
                                                                <a onclick="SaveData('form1');" class="btn btn-success btn-sm mr-10"> @(isEdit ? "Güncelle" : "Kaydet")</a>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <input type="hidden" id="hdPolicyGroupId1" name="hdPolicyGroupId" value="@(String.IsNullOrEmpty(POLICY_GROUP_ID) ? " 0" : POLICY_GROUP_ID)" />


                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                    @*Özel Şartlar*@
                                    <div role="tabpanel" class="tab-pane" id="tab2">
                                        <form class="form-horizontal" role="form" action="/Production/PolicyGroupSaveStep2" method="post" id="form2">
                                            <fieldset>
                                                <div class="col-sm-12">

                                                    <div class="mbui-form mbui-inside-form mb-20 mt-20 b-full mbui-panel ">
                                                        <div class="mbui-inside-header heading-color">
                                                            <h4>Özel Şartlar</h4>
                                                            <ul class="mbui-controls">
                                                                <li>
                                                                    <a onclick="CreateData('frmRuleGroupSpecial')" tabindex="0" data-toggle="modal" data-target="#frmRuleGroupSpecial_Modal" data-tooltip="tooltip" data-placement="bottom" title="Kural Grubu Ekle">
                                                                        <i class="fa"><b style="color:white">G</b></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a onclick="CreateData('frmRuleSpecial')" tabindex="0" data-toggle="modal" data-target="#frmRuleSpecial_Modal" data-tooltip="tooltip" data-placement="bottom" title="Kural Ekle">
                                                                        <i class="fa"><b style="color:white">K</b></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="mbui-body mbui-inside-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-create table-custom" id="tblRuleSpecial">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Kural Grubu Adı</th>
                                                                            <th>Kural Kategorisi</th>
                                                                            <th>Kural Adı</th>
                                                                            <th>Sonuç</th>
                                                                            <th>Kalıtıldığı Öğe</th>
                                                                            <th>Katıldığı Öğe Kodu</th>
                                                                            <th>İşlemler</th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" value="[]" id="hdRuleSpecial" name="hdRuleSpecial" />
                                                    <input type="hidden" id="hdPolicyGroupId2" name="hdPolicyGroupId" value="@(String.IsNullOrEmpty(POLICY_GROUP_ID) ? " 0" : POLICY_GROUP_ID)" />

                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                    @*Ek Protokol*@
                                    <div role="tabpanel" class="tab-pane" id="tab3">
                                        <form class="form-horizontal" role="form" action="/Production/PolicyGroupSaveStep3" method="post" id="form3" name="form3">
                                            <fieldset>
                                                <div class="col-sm-12">

                                                    <div class="mbui-form mbui-inside-form mb-20 mt-20 b-full mbui-panel ">
                                                        <div class="mbui-inside-header heading-color">
                                                            <h4>Ek Protokoller</h4>
                                                            <ul class="mbui-controls">
                                                                <li>
                                                                    <a onclick="CreateData('frmRuleGroupExtra')" tabindex="0" data-toggle="modal" data-target="#frmRuleGroupExtra_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                                                        <i class="fa"><b style="color:white">G</b></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a onclick="CreateData('frmRuleExtra')" tabindex="0" data-toggle="modal" data-target="#frmRuleExtra_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                                                        <i class="fa"><b style="color:white">K</b></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="mbui-body mbui-inside-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-create table-custom" id="tblRuleExtra">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Kural Grubu Adı</th>
                                                                            <th>Kural Kategorisi</th>
                                                                            <th>Kural Adı</th>
                                                                            <th>Sonuç</th>
                                                                            <th>Kalıtıldığı Öğe</th>
                                                                            <th>Katıldığı Öğe Kodu</th>
                                                                            <th>İşlemler</th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" id="hdPolicyGroupId3" name="hdPolicyGroupId" value="@(String.IsNullOrEmpty(POLICY_GROUP_ID) ? " 0" : POLICY_GROUP_ID)" />
                                                    <input type="hidden" value="[]" id="hdRuleExtra" name="hdRuleExtra" />
                                                </div>


                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmRuleSpecial_Modal -->
    <div class="modal" id="frmRuleSpecial_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmRuleSpecial_Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmRuleSpecial_Modal">Özel Şart Seçimi</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        @*Kural*@
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post" name="frmRuleSpecial" id="frmRuleSpecial">
                                    <fieldset>
                                        <input type="hidden" class="inputHidden" name="STATUS" id="frmRuleSpecial_STATUS" value="0" />
                                        <input type="hidden" class="inputHidden" name="ClientId" id="frmRuleSpecial_ClientId" value="0" />

                                        <input type="hidden" name="RULE_TYPE" id="frmRuleSpecial_RULE_TYPE" value="0" />
                                        <input type="hidden" class="inputHidden" name="RULE_POLICY_GROUP_ID" id="frmRuleSpecial_RULE_POLICY_GROUP_ID" value="0" />
                                        <input type="hidden" name="isOpen" id="frmRuleSpecial_isOpen" value="1" />

                                        <div class="mbui-inside-form mb-20 b-full mbui-panel">
                                            <div class="mbui-inside-header heading-color">
                                                <h4>Kural Listesi</h4>
                                                <ul class="mbui-controls">
                                                    <li>
                                                        <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                            <span class="mbui-minimize"><i class="fa fa-angle-down"></i></span>
                                                            <span class="mbui-expand"><i class="fa fa-angle-up"></i></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="mbui-body mbui-inside-body active">
                                                <div class="info-wrapper">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <div class="fl">
                                                                <input type="text" class="form-control search" placeholder="Arama.." value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="tree-list mbui-panel-scroll">
                                                        @foreach (var Rule in ViewBag.RuleList)
                                                        {
                                                            <li class="parent new-list">
                                                                <div class="parent-tree tree clearfix">
                                                                    <span class="list-name" data-tooltip="tooltip" data-placement="bottom" title="@(Rule.RULE_NAME + (Rule.RULE_CATEGORY_TYPE != null ? (" / " + ((Dictionary<string, string>)ViewBag.RuleCategoryTypeList)[Rule.RULE_CATEGORY_TYPE]) : ""))">@(Rule.RULE_NAME + (Rule.RULE_CATEGORY_TYPE != null ? (" / " + ((Dictionary<string, string>)ViewBag.RuleCategoryTypeList)[Rule.RULE_CATEGORY_TYPE]) : ""))</span>
                                                                    <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                        <input type="checkbox" value="@(Rule.RULE_ID+"-"+Rule.RULE_NAME)" class="display-none" name="chkRule" id="@(Rule.RULE_ID+"-"+Rule.RULE_NAME)" data-id="@Rule.RULE_ID" />
                                                                        <i></i>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-wrapper-center">
                                            <button type="button" id="btnfrmRuleSpecialSave" onclick="ValidateAndSave('frmRuleSpecial', 'hdRuleSpecial', 'form2','frmRuleSpecial_Modal');" class="btn btn-success btn-sm mr-10" data-dismiss="modal">Kaydet</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmRuleGroupSpecial_Modal -->
    <div class="modal" id="frmRuleGroupSpecial_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmRuleGroupSpecial_Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmRuleGroupSpecial_Modal">Kural Grubu Seçimi</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post" name="frmRuleGroupSpecial" id="frmRuleGroupSpecial">
                                    <fieldset>
                                        <input type="hidden" class="inputHidden" name="STATUS" id="frmRuleGroupSpecial_STATUS" value="0" />
                                        <input type="hidden" class="inputHidden" name="ClientId" id="frmRuleGroupSpecial_ClientId" value="0" />

                                        <input type="hidden" name="RULE_TYPE" id="frmRuleGroupSpecial_RULE_TYPE" value="0" />
                                        <input type="hidden" class="inputHidden" name="RULE_POLICY_GROUP_ID" id="frmRuleGroupSpecial_RULE_POLICY_GROUP_ID" value="0" />
                                        <input type="hidden" name="isOpen" id="frmRuleGroupSpecial_isOpen" value="1" />

                                        <div class="mbui-inside-form mb-20 b-full mbui-panel">
                                            <div class="mbui-inside-header heading-color">
                                                <h4>Kural Grubu Listesi</h4>
                                                <ul class="mbui-controls">
                                                    <li>
                                                        <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                            <span class="mbui-minimize"><i class="fa fa-angle-down"></i></span>
                                                            <span class="mbui-expand"><i class="fa fa-angle-up"></i></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="mbui-body mbui-inside-body active">
                                                <div class="info-wrapper">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <div class="fl">
                                                                <input type="text" class="form-control search" placeholder="Arama.." value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="tree-list mbui-panel-scroll">
                                                        @foreach (var RuleGroup in ViewBag.RuleGroupList)
                                                        {
                                                            <li class="parent new-list">
                                                                <div class="parent-tree tree clearfix">
                                                                    <span class="list-name">@(RuleGroup.Name)</span>
                                                                    <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                        <input type="checkbox" value="@(RuleGroup.Name)" class="display-none" name="chkRuleGroup" id="@(RuleGroup.Name)" data-id="@RuleGroup.Id" />
                                                                        <i></i>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-wrapper-center">
                                            <button type="button" id="btnfrmRuleGroupSpecialSave" onclick="ValidateAndSave('frmRuleGroupSpecial', 'hdRuleSpecial', 'form2', 'frmRuleGroupSpecial_Modal');" class="btn btn-success btn-sm mr-10" data-dismiss="modal">Kaydet</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmRuleExtra_Modal -->
    <div class="modal" id="frmRuleExtra_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmRuleExtra_Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmRuleSpecial_Modal">Özel Şart Seçimi</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        @*Kural*@
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post" name="frmRuleExtra" id="frmRuleExtra">
                                    <fieldset>
                                        <input type="hidden" class="inputHidden" name="STATUS" id="frmRuleExtra_STATUS" value="0" />
                                        <input type="hidden" class="inputHidden" name="ClientId" id="frmRuleExtra_ClientId" value="0" />

                                        <input type="hidden" name="RULE_TYPE" id="frmRuleExtra_RULE_TYPE" value="1" />
                                        <input type="hidden" class="inputHidden" name="RULE_POLICY_GROUP_ID" id="frmRuleExtra_RULE_POLICY_GROUP_ID" value="0" />
                                        <input type="hidden" name="isOpen" id="frmRuleExtra_isOpen" value="1" />

                                        <div class="mbui-inside-form mb-20 b-full mbui-panel">
                                            <div class="mbui-inside-header heading-color">
                                                <h4>Kural Listesi</h4>
                                                <ul class="mbui-controls">
                                                    <li>
                                                        <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                            <span class="mbui-minimize"><i class="fa fa-angle-down"></i></span>
                                                            <span class="mbui-expand"><i class="fa fa-angle-up"></i></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="mbui-body mbui-inside-body active">
                                                <div class="info-wrapper">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <div class="fl">
                                                                <input type="text" class="form-control search" placeholder="Arama.." value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="tree-list mbui-panel-scroll">
                                                        @foreach (var Rule in ViewBag.RuleList)
                                                        {
                                                            <li class="parent new-list">
                                                                <div class="parent-tree tree clearfix">
                                                                    <span class="list-name" data-tooltip="tooltip" data-placement="bottom" title="@(Rule.RULE_NAME + (Rule.RULE_CATEGORY_TYPE != null ? (" / " + ((Dictionary<string, string>)ViewBag.RuleCategoryTypeList)[Rule.RULE_CATEGORY_TYPE]) : ""))">@(Rule.RULE_NAME + (Rule.RULE_CATEGORY_TYPE != null ? (" / " + ((Dictionary<string, string>)ViewBag.RuleCategoryTypeList)[Rule.RULE_CATEGORY_TYPE]) : ""))</span>
                                                                    <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                        <input type="checkbox" value="@(Rule.RULE_ID+"-"+Rule.RULE_NAME)" class="display-none" name="chkRule" id="@(Rule.RULE_ID+"-"+Rule.RULE_NAME)" data-id="@Rule.RULE_ID" />
                                                                        <i></i>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-wrapper-center">
                                            <button type="button" id="btnfrmRuleSpecialSave" onclick="ValidateAndSave('frmRuleExtra', 'hdRuleExtra', 'form3', 'frmRuleExtra_Modal');" class="btn btn-success btn-sm mr-10" data-dismiss="modal">Kaydet</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmRuleGroupExtra_Modal -->
    <div class="modal" id="frmRuleGroupExtra_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmRuleGroupExtra_Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmRuleGroupExtra_Modal">Kural Grubu Seçimi</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post" name="frmRuleGroupExtra" id="frmRuleGroupExtra">
                                    <fieldset>
                                        <input type="hidden" class="inputHidden" name="STATUS" id="frmRuleGroupExtra_STATUS" value="0" />
                                        <input type="hidden" class="inputHidden" name="ClientId" id="frmRuleGroupExtra_ClientId" value="0" />

                                        <input type="hidden" name="RULE_TYPE" id="frmRuleGroupExtra_RULE_TYPE" value="1" />
                                        <input type="hidden" class="inputHidden" name="RULE_POLICY_GROUP_ID" id="frmRuleGroupExtra_RULE_POLICY_GROUP_ID" value="0" />
                                        <input type="hidden" name="isOpen" id="frmRuleGroupExtra_isOpen" value="1" />

                                        <div class="mbui-inside-form mb-20 b-full mbui-panel">
                                            <div class="mbui-inside-header heading-color">
                                                <h4>Kural Grubu Listesi</h4>
                                                <ul class="mbui-controls">
                                                    <li>
                                                        <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                            <span class="mbui-minimize"><i class="fa fa-angle-down"></i></span>
                                                            <span class="mbui-expand"><i class="fa fa-angle-up"></i></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="mbui-body mbui-inside-body active">
                                                <div class="info-wrapper">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <div class="fl">
                                                                <input type="text" class="form-control search" placeholder="Arama.." value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="tree-list mbui-panel-scroll">
                                                        @foreach (var RuleGroup in ViewBag.RuleGroupList)
                                                        {
                                                            <li class="parent new-list">
                                                                <div class="parent-tree tree clearfix">
                                                                    <span class="list-name">@(RuleGroup.Name)</span>
                                                                    <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                        <input type="checkbox" value="@(RuleGroup.Name)" class="display-none" name="chkRuleGroup" id="@(RuleGroup.Name)" data-id="@RuleGroup.Id" />
                                                                        <i></i>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-wrapper-center">
                                            <button type="button" id="btnfrmRuleGroupExtraSave" onclick="ValidateAndSave('frmRuleGroupExtra', 'hdRuleExtra', 'form3', 'frmRuleGroupExtra_Modal');" class="btn btn-success btn-sm mr-10" data-dismiss="modal">Kaydet</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        LoadRuleSpecial();
        LoadRuleExtra();
        @(isEdit ? Html.Raw("$('.mbui-body .nav-tabs > li > a').css('pointer-events', 'auto');") : Html.Raw(""));
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
        $.getJSON("/Common/ClearTempData?key=Alert", function (data) { });
    });

    function ValidateAndSave(frm, hdi, frmName, modalId) {

        var formData = $("#" + frm).serializeArray();
        var hiddenInput = $("#" + hdi);
        var jsons = new Array();
        var strJSON = "";

        var form = $('#' + frm);
        form.validate();

        if (form.valid()) {
            addData(frm, hdi);
            SaveData(frmName);

            $("#" + modalId).modal("toggle");

        } else {
            swal({
                title: "Hata",
                text: "Zorunlu alanları doldurunuz!",
                icon: "success"
            });
        }
    }

    function SaveData(frmName) {

        var form = $('#' + frmName);
        form.validate();

        if (form.valid()) {
            var formData = new FormData(form[0]);

            $.ajax({
                type: form[0].method,
                contentType: "application/json; charset=utf-8",
                url: form[0].action,
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                    console.log('btnSave disabled');
                    $('btn').css('pointer-events', 'none');
                },
                success: function (data) {
                    console.log('success');
                    $('.btn').css('pointer-events', 'auto');
                    $.unblockUI();
                    var responseData = $.parseJSON(data);
                    if (responseData.ResultCode == "100") {
                        $('.btn').css('pointer-events', 'auto');
                        swal({
                            title: "İşlem Başarılı!",
                            text: "Tüm veriler başarılı kaydedildi",
                            icon: "success"
                        });
                    }
                    else {
                        $('.btn').css('pointer-events', 'auto');
                        swal({
                            title: "Hata!",
                            text: responseData.ResultCode + " : " + responseData.ResultMessage,
                            icon: "warning"
                        });
                    }
                    switch (frmName) {

                        case "form1":
                            $('.mbui-body .nav-tabs > li > a').css('pointer-events', 'auto');
                            $("#hdSagmerRegistryDateParameterId").val(responseData.Data.sagmerRegistryDateParameterId);
                            $("#hdSagmerRegistryDateProductParameterId").val(responseData.Data.sagmerRegistryDateProductParameterId);
                            $("#hdSagmerNoParameterId").val(responseData.Data.sagmerNoParameterId);
                            $("#hdSagmerNoProductParameterId").val(responseData.Data.sagmerNoProductParameterId);

                            var hdPolicyGroupIds = document.getElementsByName("hdPolicyGroupId");

                            for (i = 0; i < hdPolicyGroupIds.length; i++) {
                                hdPolicyGroupIds[i].value = responseData.Data.policyGroupId;
                            }
                            break;

                        case "form2":
                            $("#hdRuleSpecial").val(responseData.Data.jsonData);
                            RefreshTable('tblRuleSpecial', 'hdRuleSpecial');
                            break;

                        case "form3":
                            $("#hdRuleExtra").val(responseData.Data.jsonData);
                            RefreshTable('tblRuleExtra', 'hdRuleExtra');
                            break;

                        default:
                            break;
                    };
                },
                error: function (xhr, err) {
                    $('.btn').css('pointer-events', 'auto');
                    $.unblockUI();
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                }
            })
        } else {
            $.unblockUI();
            swal({
                title: "İşlem Başarısız!",
                text: "Lütfen Zorunlu Alanları Doldurunuz!",
                icon: "info"
            });
        }
    }

    function LoadRuleSpecial() {
        var frm = "frmRuleSpecial"
        var tbl = "tblRuleSpecial";
        var hdi = "hdRuleSpecial";
        var targetfrm = "form2";

        if ($('#' + tbl).length > 0) {
            var jsonValue = '@Html.Raw(jsonRuleSpecial)';
            var data = JSON.parse(jsonValue);
            $('#' + hdi).val(JSON.stringify(data));

            var table = $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": true,
                "data": data,
                "columns": [
                    { "data": "RULE_GROUP" },
                    { "data": "RULE_CATEGORY" },
                    { "data": "RULE_NAME" },
                    { "data": "RESULT" },
                    { "data": "INHERITED_NAME" },
                    { "data": "INHERITED_CODE" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<a href="#" class="myIcon icon-danger" onclick="ConfirmDeleteAndSave(\'Sil\',\'Silmek istediğinizden emin misiniz ? \',\'warning\',\'' + hdi + '\',\'' + data + '\',\'' + tbl + '\',\'' + targetfrm + '\');" data-tooltip="tooltip" data-placement="bottom" title="Sil">' +
                                '<i class="fa fa-trash-o"></i>' +
                                '</a >' +
                                '</div>' +
                                '</div>';
                        }
                    }
                ]
            });
            RefreshTable(tbl, hdi);
        }
    }

    function LoadRuleExtra() {
        var frm = "frmRuleExtra";
        var tbl = "tblRuleExtra";
        var hdi = "hdRuleExtra";
        var targetfrm = "form3";

        if ($('#' + tbl).length > 0) {
            var jsonValue = '@Html.Raw(jsonRuleExtra)';
            var data = JSON.parse(jsonValue);
            $('#' + hdi).val(JSON.stringify(data));

            var table = $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": true,
                "data": data,
                "columns": [
                    { "data": "RULE_GROUP" },
                    { "data": "RULE_CATEGORY" },
                    { "data": "RULE_NAME" },
                    { "data": "RESULT" },
                    { "data": "INHERITED_NAME" },
                    { "data": "INHERITED_CODE" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<a href="#" class="myIcon icon-danger" onclick="ConfirmDeleteAndSave(\'Sil\',\'Silmek istediğinizden emin misiniz ? \',\'warning\',\'' + hdi + '\',\'' + data + '\',\'' + tbl + '\',\'' + targetfrm + '\');" data-tooltip="tooltip" data-placement="bottom" title="Sil">' +
                                '<i class="fa fa-trash-o"></i>' +
                                '</a >' +
                                '</div>' +
                                '</div>';
                        }
                    }
                ]
            });
            RefreshTable(tbl, hdi);
        }
    }
</script>