﻿@{ 
    string jsonChoice = ViewBag.ChoiceList!=null ? ViewBag.ChoiceList : "[]";
}

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">
                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" href="/Production/Question" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body">
                    <form class="form-horizontal" role="form" action="/Production/QuestionFormSave" method="post" id="form1" data-toggle="validator">
                        <fieldset @ViewBag.FormDisabled>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">Tipi </label>
                                    <div class="btn-group width-100-pr">
                                        <label class="btn-label width-50-pr">
                                            <input type="radio" name="questionType" value="0" onclick="GetChoose('questionType')" data-text="0" @(ViewBag.Question != null ? (ViewBag.Question.IsOptional == "0" ? "checked" : "") : "")>
                                            <span class="btn btn-radio btn-border-radio">
                                                Metin
                                            </span>
                                        </label><label class="btn-label width-50-pr">
                                            <input type="radio" name="questionType" value="1" onclick="GetChoose('questionType')"  data-text="1" @(ViewBag.Question != null ? (ViewBag.Question.IsOptional == "1" ? "checked" : "") : "")>
                                            <span class="btn btn-radio btn-border-radio">
                                                Seçenekler
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label mr-10" for="questionDescription"><span class="color-danger">*</span>Soru </label>
                                    <textarea class="form-control" name="questionDescription" required id="question" rows="5">@(ViewBag.Question!=null ? ViewBag.Question.Description : "")</textarea>
                                </div>
                            </div>

                            <div class="mbui-form mbui-inside-form mb-20 b-full mbui-panel" id="dvChoose">
                                <div class="mbui-inside-header heading-color">
                                    <h4>Seçenekler</h4>
                                    <ul class="mbui-controls">
                                        <li>
                                            <a onclick="CreateData('frmNetwork');" tabindex="0" data-toggle="modal" data-target="#frmChoice_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </li><li>
                                            <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                <span class="mbui-minimize" data-tooltip="tooltip" data-placement="bottom" title="Göster"><i class="fa fa-angle-down"></i></span>
                                                <span class="mbui-expand" data-tooltip="tooltip" data-placement="bottom" title="Gizle"><i class="fa fa-angle-up"></i></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mbui-body mbui-inside-body">
                                    <div class="table-responsive">
                                        <table class="table table-md table-custom" id="tblChoice">
                                            <thead>
                                                <tr>
                                                    <th>Seçenekler</th>
                                                    <th>İşlemler</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="btn-wrapper-center">
                                        <button type="submit" class="btn btn-success btn-sm mr-10">@(ViewBag.Question != null ? "Güncelle" : "Kaydet")</button>
                                        <button type="reset" class="btn btn-danger btn-sm">İptal</button>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" value="" id="hdChoice" name="hdChoice" />
                            <input type="hidden" value="@(ViewBag.Question != null ? ViewBag.Question.Id : "0")" id="hdQuestionId" name="hdQuestionId" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmChoice_Modal -->
    <div class="modal" id="frmChoice_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Yeni Seçenek</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post" id="frmChoice">
                                    <fieldset @ViewBag.FormDisabled>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="hidden" name="CHOICE_ID" id="CHOICE_ID" value="0" />
                                                <input type="hidden" name="STATUS" id="frmChoice_STATUS" value="0" />
                                                <input type="hidden" name="ClientId" id="frmChoice_ClientId" value="0" />

                                                <label for="choiceDescription" class="control-label fl mr-10">Seçenek</label>
                                                <input name="choiceDescription" class="form-control" id="choiceDescription" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class="btn-wrapper-center">
                                            <button type="button" onclick="addData('frmChoice', 'hdChoice'); RefreshTable('tblChoice','hdChoice');" name="btnfrmChoiceSave" id="btnfrmChoiceSave" class="btn btn-success btn-sm mr-10" data-dismiss="modal">Kaydet</button>
                                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">İptal</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        LoadChoice();
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
        GetChoose('questionType');
    });

    function SaveData(frmName) {

        var form = $('#' + frmName);
        form.validate();

        if (form.valid()) {
            console.log('everything looks good!');

            var formData = new FormData(form[0]);

            $.ajax({
                type: form[0].method,
                contentType: "application/json; charset=utf-8",
                url: form[0].action,
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {

                    var responseData = $.parseJSON(data);

                    $("#lblMsg").html("Sonuç : " + responseData.ResultCode + " : " + responseData.ResultMessage);

                    if (responseData.ResultCode == "100") {

                        switch (frmName) {

                            case "form1":
                                $('#hdChoice').val(data);
                                break;
                            default:
                                break;
                        }

                    }

                },
                error: function (xhr, err) {
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                }
            })

        } else {
            console.log('handle the invalid form...');

        }
    }

    function GetChoose(radio) {
        var val = $('input[name=' + radio + ']:checked').val();
        var x = document.getElementById("dvChoose");

        if (val=='1') {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function LoadChoice() {

        var frm = "frmChoice"
        var tbl = "tblChoice";
        var hdi = "hdChoice";
        var updateFunc = "UpdateChoice";

        if ($('#' + tbl).length > 0) {

            
            var jsonValue = '@Html.Raw(jsonChoice)';
            
            var data = JSON.parse(jsonValue);
            $('#' + hdi).val(JSON.stringify(data));
            
            //var jsonValue = $('#' + hdi).val();
            //var data;

            //if (jsonValue != "") {
            //    var data = JSON.parse(jsonValue);
            //}
            debugger;
            var table = $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": false,
                "data": data,
                "columns": [
                    { "data": "choiceDescription" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<a href="#" class="myIcon icon-warning"  data-toggle="modal" data-target="#frmChoice_Modal" data-tooltip="tooltip" data-placement="bottom" title="Düzenle" onclick="' + updateFunc + '(\'' + frm + '\',\'' + hdi + '\',\'' + data + '\');RefreshTable(\'' + tbl + '\',\'' + hdi + '\');">' +
                                '<i class="fa fa-pencil-square-o"></i>' +
                                '</a >' +
                                '<a href="#" class="myIcon icon-danger" onclick="deleteData(\'' + hdi + '\',\'' + data + '\');RefreshTable(\'' + tbl + '\',\'' + hdi + '\');" data-tooltip="tooltip" data-placement="bottom" title="Sil">' +
                                '<i class="fa fa-trash-o"></i>' +
                                '</a >' +
                                '</div>' +
                                '</div>';
                        }
                    }
                ]
            });
            RefreshTable(tbl, hdi);

        }
    }

    function UpdateChoice(frm, hdi, id) {
        var hiddenInput = $("#" + hdi);
        var jsons = new Array();
        jsons = JSON.parse(hiddenInput.val());

        $.each(jsons, function (i, item) {
            debugger;

            if (item.id == id) {

                $('#' + frm + '_ClientId').val(id);

                $('#CHOICE_ID').val(item.CHOICE_ID);
                $('#choiceDescription').val(item.choiceDescription);

                $("#btn" + frm + "Save").html("GÜNCELLE");
            }
        });
    }

</script>
