﻿
@{
    ViewBag.Title = "AgreementIndex";
    Layout = "~/Views/Shared/_ProteinLayout.cshtml";
}

<section class="content">

    <div class="row">

        <div class="col-sm-12">
            <div class="mbui-header mbui-inside-header">
                <h3><strong>Mutabakat Log</strong></h3>
                <ul class="mbui-controls">
                    <li>
                        <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                            <i class="fa fa-filter"></i>
                        </a>
                    </li>
                    <li class="dropdown mbui-list">
                        <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                            <i class="fa fa-hashtag"></i>
                        </a>
                        <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                            <li>
                                <a role="button" tabindex="0" data-value="15">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" data-value="25">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" data-value="50">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" data-value="100">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" data-value="-1">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i>
                                    <i class="ion-ios-infinite" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                            <i class="fa fa-expand"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <form class="form-horizontal" role="form" action="" method="post">

                <div class="mbui-body mbui-inside-body active Enterclick">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <label for="PolicyNo" class="control-label">Police No</label>
                            <input name="PolicyNo" class="form-control" id="PolicyNo" placeholder="Poliçe No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="insuredID" class="control-label">Müşteri No</label>
                            <input name="insuredID" class="form-control" id="insuredID" placeholder="Müşteri No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="MedulaNo" class="control-label">Medula No</label>
                            <input name="MedulaNo" class="form-control" id="MedulaNo" placeholder="Medula No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="PayrollID" class="control-label">Zarf No</label>
                            <input name="PayrollID" class="form-control" id="PayrollID" placeholder="Zarf No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="ProviderPayrollID" class="control-label">Kurum Zarf No</label>
                            <input name="ProviderPayrollID" class="form-control" id="ProviderPayrollID" placeholder="Kurum Zarf No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="ClaimID" class="control-label">Hasar No</label>
                            <input name="ClaimID" class="form-control" id="ClaimID" placeholder="Hasar No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="TCKN" class="control-label">TCKN/VKN/Pasaport No</label>
                            <input name="TCKN" class="form-control" id="TCKN" placeholder="TC Kimlik No giriniz" type="text" />
                        </div>

                        <input type="hidden" name="isFilter" id="isFilter" value="0" />
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="button" onclick="FilterClean();" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtreleri Temizleme</button>
                            <button type="button" onclick="Filter();" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtrele</button>
                        </div>
                    </div>
                </div>
                <div class="mbui-body mbui-inside-body active">

                    <div class="table-responsive">
                        <table class="table table-custom" id="tblAgreementLog">
                            <thead>
                                <tr>
                                    <th>Tipi</th>
                                    <th>Mutabakat Tarihi</th>
                                    <th>Şirket Adı</th>
                                    <th>Durum</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </form>

        </div>
    </div>


    <!-- Modal description -->
    <div class="modal" id="frm_LogDescription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width:109%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Log İçerik</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">

                                <form class="form-horizontal" role="form" action="/System/GetAgreementDescription" method="post" id="frmLogDetail">
                                    <input type="hidden" class="inputHidden" name="hdCORRELATION_ID" id="hdCORRELATION_ID" value="" />

                                    <div class="mbui-inside-form mb-20">

                                        <div class="mbui-body mbui-inside-body">

                                            <center><textarea id="agreementDescription" disabled style="height:300px; width:60%"></textarea></center>

                                            @*<center> <button type="button" onclick="GetLogDetailbyCorrelationId('hdCORRELATION_ID')" id="btnDetail" data-toggle="modal" data-target="#frmLogDetail_Modal" class="btn btn-success btn-sm mr-10">Detay</button></center>*@
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">

                                <form class="form-horizontal" role="form" action="/System/GetAgreementLogDetail" method="post" id="frmLogDetail">
                                    <input type="hidden" class="inputHidden" name="hdCORRELATION_ID" id="hdCORRELATION_ID_details" value="0" />

                                    <div class="mbui-inside-form mb-20">

                                        <div class="mbui-body mbui-inside-body">

                                            <div class="table-responsive">
                                                <table class="table table-sm table-custom" id="tblLogDetail">
                                                    <thead>
                                                        <tr>
                                                            <th>Servis Metodu</th>
                                                            <th>WsRequestDate</th>
                                                            <th>Sonuç Kodu</th>
                                                            <th>Sonuç Açıklama</th>
                                                            <th>Kurum Id</th>
                                                            <th>Hasar Id</th>
                                                            <th>Poliçe Id</th>
                                                            <th>Sigortali Id</th>
                                                            <th>Zarf Id</th>
                                                            <th>Şirket Id</th>
                                                            <th>Response Xml</th>
                                                            <th>Request Xml </th>
                                                            <th>İşlemler</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Detail -->
    @*<div class="modal" id="frmLogDetail_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width:109%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Log Detay</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">

                                <form class="form-horizontal" role="form" action="/System/GetAgreementLogDetail" method="post" id="frmLogDetail">
                                    <input type="hidden" class="inputHidden" name="hdCORRELATION_ID" id="hdCORRELATION_ID_details" value="0" />

                                    <div class="mbui-inside-form mb-20">

                                        <div class="mbui-body mbui-inside-body">

                                            <div class="table-responsive">
                                                <table class="table table-sm table-custom" id="tblLogDetail">
                                                    <thead>
                                                        <tr>
                                                            <th>Servis Metodu</th>
                                                            <th>WsRequestDate</th>
                                                            <th>Sonuç Kodu</th>
                                                            <th>Sonuç Açıklama</th>
                                                            <th>Kurum Id</th>
                                                            <th>Hasar Id</th>
                                                            <th>Poliçe Id</th>
                                                            <th>Sigortali Id</th>
                                                            <th>Zarf Id</th>
                                                            <th>Şirket Id</th>
                                                            <th>Response Xml</th>
                                                            <th>Request Xml </th>
                                                            <th>İşlemler</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <!-- ModalXml Detail -->
    <div class="modal" id="xmlLogDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Xml Log Detay</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="height:500px">

                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/System/xmlLogList" method="post" id="frmLogDetail">

                                <textarea id="xmlText" name="xmlText" disabled style="width:100% ; height:500px"></textarea>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
       var table = null;
    $('#isFilter').val("1");
       $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));
           table = $("#tblAgreementLog").DataTable({
               "ajax": {
                   "url": "/System/GetAgreementLogList",
                   "type": "POST",
                   "datatype": "json",
                   "beforeSend": function (xhr) {
                       $.blockUI({ message: $('#domMessage') });
                   },
                   "data": function (a) {
                       a.CorrelationID = $('#CorrelationID').val();

                       return a;
                   },
                   "complete": function (settings, json) {
                       $.unblockUI();
                   }
               },
               "columns": [
                   { "data": "TypeText", "name": "TypeText" },
                   //{ "data": "CORRELATION_ID", "name": "CORRELATION_ID" },
                   {
                         "data": "AgreementDate",
                       "render": function (data) {
                           return data == null ? "-" : formatdateHour(data);
                       }
                   },
                   { "data": "CompanyName", "name": "CompanyName" },
                   { "data": "StatusText", "name": "StatusText" },

                   {
                       "data": null,
                       "render": function (data) {
                           return '<div class="islem">' +
                               '<div class="btn-group fr">' +
                               '<a onclick="AgreementDescriptionDetail(\'' + data.Id + '\',\'' + data.CorrelationId + '\')" class="myIcon icon-primary" data-toggle="modal" data-target="#frm_LogDescription"  data-tooltip="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>' +
                               '</div>' +
                               '</div>';
                       }
                   }


               ],
               pageLength: 10,
               "serverSide": "true",
               "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
               "searching": false,
               "order": [0, "asc"],
               "processing": "true",
               language: {
                   "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                   "emptyTable": "Kayıt Bulunamadı",
                   "infoEmpty": "Kayıt Bulunamadı",
                   "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                   oPaginate: {
                       sNext: 'İleri <i class="fa fa-angle-right"></i>',
                       sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                       sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                       sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                   }
               }
           });

    });

    function GetLogDetailbyCorrelationId(corId) {
        debugger;
        $('#hdCORRELATION_ID_details').val(corId);
        $('#hdCORRELATION_ID').val(corId);
        console.log(corId);

        tblLogDetail.ajax.reload();
    }

    function Filter() {
        $('#isFilter').val("1");
        table.ajax.reload();
    }

    function xmlLogDetail(id, type) {

        debugger;
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: "/System/xmlLogList?logId=" + id + '&type=' + type,
            cache: false,
            contentType: false,
            processData: false,
            data: null,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },

            success: function (responseData) {
                $.unblockUI();

                var response = $.parseJSON(responseData);
                //$.each(response, function (index , value) {

                $('#xmlText').val(response.ResultMessage);


                //});
            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
                $.unblockUI();
            }
        })
    }


     var tblLogDetail = null;
       $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));


           tblLogDetail = $("#tblLogDetail").DataTable({
               "ajax": {
                   "url": "/System/GetAgreementLogDetail",
                   "type": "POST",
                   "datatype": "json",
                   "data": function (a) {
                       a.CORRELATION_ID = $('#hdCORRELATION_ID').val();

                       return a;
                   }
               },
               "columns": [
                   { "data": "WS_METHOD", "name": "WS_METHOD" },
                   {
                       "data": "WS_REQUEST_DATE",
                       "render": function (data) {
                           return data == null ? "-" : formatdate(data);
                       }
                   },
                   { "data": "RESPONSE_STATUS_CODE", "name": "RESPONSE_STATUS_CODE" },
                   { "data": "RESPONSE_STATUS_DESC", "name": "RESPONSE_STATUS_DESC" },
                   { "data": "PROVIDER_ID", "name": "PROVIDER_ID" },
                   { "data": "CLAIM_ID", "name": "CLAIM_ID" },
                   { "data": "POLICY_ID", "name": "POLICY_ID" },
                   { "data": "INSURED_ID", "name": "INSURED_ID" },
                   { "data": "PAYROLL_ID", "name": "PAYROLL_ID" },
                   { "data": "COMPANY_ID", "name": "COMPANY_ID" },
                   {
                       "data": null,
                       "render": function (data) {
                           return '<div class="islem">' +
                               '<div class="btn-group fr">' +
                               '<a onclick="xmlLogDetail(\'' + data.ID + '\',\'' + "0" + '\')" class="myIcon icon-primary" data-toggle="modal" data-target="#xmlLogDetail"  data-tooltip="tooltip" data-placement="bottom" title="Request Xml Görüntüle"><i class="fa fa-search"></i></a>' +
                               '</div>' +
                               '</div>';
                       }
                   },
                   {
                       "data": null,
                       "render": function (data) {
                           return '<div class="islem">' +
                               '<div class="btn-group fr">' +
                               '<a onclick="xmlLogDetail(\'' + data.ID + '\',\'' + "1" + '\')" class="myIcon icon-primary" data-toggle="modal" data-target="#xmlLogDetail"  data-tooltip="tooltip" data-placement="bottom" title="Response Xml Görüntüle"><i class="fa fa-search"></i></a>' +
                               '</div>' +
                               '</div>';
                       }
                   },
                   {
                       "data": null,
                       "render": function (data) {
                           debugger;
                           if (data.Type == '3') {
                               return '<div class="islem">' +
                                   '<div class="btn-group fr">' +
                                   '<a onclick="LogSend(\'frmLogDetail\',' + data.Id + ');" class="myIcon icon-primary" data-toggle="modal" data-target="#frmLogDetail_Modal"  data-tooltip="tooltip" data-placement="bottom" title="Tekrar Gönder"><i class="fa fa-undo"></i></a>' +
                                   '</div>' +
                                   '</div>';
                           }
                           else {
                               return '<div class="islem">' +
                                   '<div class="btn-group fr">' +
                                   '</div>' +
                                   '</div>';

                           }
                       }
                   }

               ],
               pageLength: 10,
               "serverSide": "true",
               "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
               "searching": false,
               "order": [0, "asc"],
               "processing": "true",
               language: {
                   "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                   "emptyTable": "Kayıt Bulunamadı",
                   "infoEmpty": "Kayıt Bulunamadı",
                   "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                   oPaginate: {
                       sNext: 'İleri <i class="fa fa-angle-right"></i>',
                       sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                       sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                       sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                   }
               }
           });

    });


    function AgreementDescriptionDetail(id, corrid) {

        debugger;
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: "/System/GetAgreementDescription?agreementId=" + id + '&corrid='+corrid,
            cache: false,
            contentType: false,
            processData: false,
            data: null,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },

            success: function (responseData) {
                $.unblockUI();

                var response = $.parseJSON(responseData);
                //$.each(response, function (index , value) {

                $('#agreementDescription').val(response.ResultMessage);
                $('#hdCORRELATION_ID').val(corrid);
                console.log(id);
                //});
            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
                $.unblockUI();
            }
        })
        GetLogDetailbyCorrelationId(corrid);

    }
</script>
