﻿
<style>
    #sortable tr:hover {
        background-color: #0094ff;
        color: #fff;
    }
</style>

<script>
    $(document).ready(function () {
        $('#sortable').sortable({
            update: function (event, ui) {
                var itemIds = "";
                $('#sortable').find(".taskSigleInline").each(function () {
                    var itemId = $(this).attr("data-taskid");
                    itemIds = itemIds + itemId + ",";
                });
            }
        });
    });
</script>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">
                <div class="mbui-header">
                    <h3><strong>Excel Ayarları</strong></h3>
                    <ul class="mbui-controls">
                        @*<li>
                            <a  tabindex="0" class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>*@
                        <li>
                            <a role="button" tabindex="0" href="/System/ExcelColumnHeader" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form action="@(ViewBag.SelectViewName!=null ? "/System/UpdateTableColumn" : "/System/ExcelColumnHeader")" method="post">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label for="planName" class="control-label"><span class="color-danger">*</span>Tablo Adı</label>
                                        <select class="chosen-select" name="viewNameList" id="viewNameList" required @(ViewBag.SelectViewName != null ? "disabled" : "")>
                                            <option value="">Tablo Adı Seçiniz</option>
                                            @foreach (var item in ViewBag.ViewNameList)
                                            {
                                                <option value="@item" @(ViewBag.SelectViewName == item ? "selected" : "")>@item</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit" id="btnPlanSave" class="btn btn-success btn-sm" style="margin-top: 25px;display:@(ViewBag.SelectViewName != null ? "none" : "block")" >Düzenle</button>
                                    </div>
                                </div>
                                <div class="col-lg-12" id="divTableDetails" style="display:@(ViewBag.SelectViewName != null ? "block" : "none")">
                                    <table class="table table-bordered" style="background-color: white; margin-top: 50px !important;">
                                        <thead>
                                            <tr>
                                                <th>Sıra No</th>
                                                <th>DataBase Adı</th>
                                                <th>Excel Karşılığı</th>
                                                <th>Görüntülensin Mi?</th>
                                            </tr>
                                        </thead>
                                        <tbody id="sortable" style="cursor:pointer;">
                                            @if (ViewBag.TableColumnHeaderList != null)
                                            {
                                                foreach (var item in ViewBag.TableColumnHeaderList)
                                                {
                                                <tr>
                                                    <td class="taskSigleInline" id="task@(item.Id)" data-taskid="@(item.Id)">@item.ORDER_NUM</td>
                                                    <td>@item.COLUMN_NAME</td>
                                                    <td><input name="columnHeader-@(item.Id)" class="form-control" id="columnHeader-@(item.Id)" placeholder="Excel Karşılığını giriniz" type="text" value="@item.COLUMN_HEADER" style="width:300px !important" /></td>
                                                    <td>
                                                        <div class="islem" style="width: 89px;">
                                                            <div class="btn-group">
                                                                <label class="checkbox mbui-checkbox-custom-alt checkbox-customm-lg fr">
                                                                    <input class="checkSingle" onchange="" type="checkbox" @(item.STATUS == "0" ? "checked" : "") name="isView_@(item.Id)" id="isView_@(item.Id)" style="height: 15px;">
                                                                    <i style="height: 20px;width: 20px;"></i>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <button class="btn btn-primary" type="submit">Güncelle</button>
                                    @*<a class="btn btn-primary" href="@Url.Action("ExcelColumnHeader","System")">Güncelle</a>*@
                                    <input type="hidden" name="hditemIds" id="hditemIds" value="@ViewBag.itemIds" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
