﻿
@{
    Layout = "~/Views/Shared/_ProteinLayout.cshtml";
}
@model Protein.Web.Models.ImportModel.ImportVM
<!-- Main content -->
<section class="content">

    <div class="row">

        <div class="col-sm-12">
            <div class="mbui-header mbui-inside-header">
                <h3><strong>Log</strong></h3>
                <ul class="mbui-controls">
                    <li>
                        <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                            <i class="fa fa-filter"></i>
                        </a>
                    </li>
                    <li class="dropdown mbui-list">
                        <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                            <i class="fa fa-hashtag"></i>
                        </a>
                        <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                            <li>
                                <a role="button" tabindex="0" data-value="15">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" data-value="25">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" data-value="50">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" data-value="100">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" data-value="-1">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i>
                                    <i class="ion-ios-infinite" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                            <i class="fa fa-expand"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <form class="form-horizontal" role="form" action="" method="post">

                <div class="mbui-body mbui-inside-body active Enterclick">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="serviceType" class="control-label">Servis Tipi</label>
                            <select class="chosen-select bg-white" name="serviceType" id="serviceType" title="Seçiniz" onchange="FillServiceMethod('serviceType', 'serviceMethod');">
                                <option value="">TÜMÜ</option>
                                <option value="1">ÜRETİM</option>
                                <option value="2">HASAR</option>
                                <option value="3">SAGMER</option>
                                <option value="4">PORT_TSS</option>
                                <option value="5">MUTABAKAT</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="serviceMethod" class="control-label">Servis Metodu</label>
                            <select class="chosen-select bg-white" name="serviceMethod" id="serviceMethod" title="Seçiniz"></select>
                        </div>
                        <div class="col-sm-3">
                            <label for="CompanyID" class="control-label">Sigorta Şirketi</label>
                            <select class="chosen-select bg-white" name="CompanyID" id="CompanyID" title="Seçiniz">
                                <option value="">TÜMÜ</option>
                                @foreach (var Company in ViewBag.CompanyList)
                                {
                                    <option value="@Company.Id">@Company.Name</option>
                                }
                            </select>
                        </div>
                        @*<div class="col-xs-6 col-sm-3">
            <label for="CorrelationId" class="control-label">Correlation Id</label>
            <input name="CorrelationId" class="form-control" id="CorrelationID" placeholder="Correlation ID giriniz" type="text" />
        </div>*@
                        <div class="col-xs-6 col-sm-3">
                            <label for="PolicyNo" class="control-label">Police No</label>
                            <input name="PolicyNo" class="form-control" id="PolicyNo" placeholder="Poliçe No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="insuredID" class="control-label">Müşteri No</label>
                            <input name="insuredID" class="form-control" id="insuredID" placeholder="Müşteri No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="MedulaNo" class="control-label">Medula No</label>
                            <input name="MedulaNo" class="form-control" id="MedulaNo" placeholder="Medula No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="PayrollID" class="control-label">Zarf No</label>
                            <input name="PayrollID" class="form-control" id="PayrollID" placeholder="Zarf No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="ProviderPayrollID" class="control-label">Kurum Zarf No</label>
                            <input name="ProviderPayrollID" class="form-control" id="ProviderPayrollID" placeholder="Kurum Zarf No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="ClaimID" class="control-label">Hasar No</label>
                            <input name="ClaimID" class="form-control" id="ClaimID" placeholder="Hasar No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="TCKN" class="control-label">TCKN/VKN/Pasaport No</label>
                            <input name="TCKN" class="form-control" id="TCKN" placeholder="TC Kimlik No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="WS_REQUEST_DATE" class="control-label">İstenilen Tarih</label>
                            <div class='input-group datepicker'>
                                <input type='text' class="form-control dateMask" name="WS_REQUEST_DATE" id="WS_REQUEST_DATE" value="" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>

                        <input type="hidden" name="isFilter" id="isFilter" value="0" />
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="button" onclick="FilterClean();" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtreleri Temizleme</button>
                            <button type="button" onclick="Filter();" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtrele</button>
                        </div>
                    </div>
                </div>
                <div class="mbui-body mbui-inside-body active">

                    <div class="table-responsive">
                        <table class="table table-custom" id="tblLog">
                            <thead>
                                <tr>
                                    <th>Servis Metodu</th>
                                    @*<th>CorrelationId</th>*@
                                    <th>Sonuç Kod</th>
                                    <th>Sonuç Açıklama</th>
                                    <th>Şirket Kod</th>
                                    <th>İstek Tarihi</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </form>
        </div>

    </div>


    <!-- Modal Detail -->
    <div class="modal" id="frmLogDetail_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width:109%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Log Detay</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">

                                <form class="form-horizontal" role="form" action="/System/LogSend" method="post" id="frmLogDetail">
                                    <input type="hidden" class="inputHidden" name="hdCORRELATION_ID" id="hdCORRELATION_ID" value="0" />

                                    <div class="mbui-inside-form mb-20">

                                        <div class="mbui-body mbui-inside-body">

                                            <div class="table-responsive">
                                                <table class="table table-sm table-custom" id="tblLogDetail">
                                                    <thead>
                                                        <tr>
                                                            <th>Servis Metodu</th>
                                                            <th>WsRequestDate</th>
                                                            <th>Sonuç Kodu</th>
                                                            <th>Sonuç Açıklama</th>
                                                            <th>Kurum Id</th>
                                                            <th>Hasar Id</th>
                                                            <th>Poliçe Id</th>
                                                            <th>Sigortali Id</th>
                                                            <th>Zarf Id</th>
                                                            <th>Şirket Id</th>
                                                            <th>Response Xml</th>
                                                            <th>Request Xml </th>
                                                            <th>İşlemler</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ModalXml Detail -->
    <div class="modal" id="xmlLogDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Xml Log Detay</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="height:500px">

                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/System/xmlLogList" method="post" id="frmLogDetail">

                                <textarea id="xmlText" name="xmlText" disabled style="width:100% ; height:500px"></textarea>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

<script>
    var table = null;
    $('#isFilter').val("0");
       $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));
           table = $("#tblLog").DataTable({
               "ajax": {
                   "url": "/System/GetLogList",
                   "type": "POST",
                   "datatype": "json",
                   "beforeSend": function (xhr) {
                       $.blockUI({ message: $('#domMessage') });
                   },
                   "data": function (a) {
                       a.CorrelationID = $('#CorrelationID').val();
                       a.PayrollID = $('#PayrollID').val();
                       a.MedulaNo = $('#MedulaNo').val();
                       a.PolicyNo = $('#PolicyNo').val();
                       a.insuredID = $('#insuredID').val();
                       a.TCKN = $('#TCKN').val();
                       a.CompanyID = $('#CompanyID').val();
                       a.ProviderPayrollID = $('#ProviderPayrollID').val();
                       a.ClaimID = $('#ClaimID').val();
                       a.serviceType = $('#serviceType').val();
                       a.serviceMethod = $('#serviceMethod').val();
                       a.isFilter = $("#isFilter").val();
                       a.WS_REQUEST_DATE = $("#WS_REQUEST_DATE").val();
                       return a;
                   },
                   "complete": function (settings, json) {
                       $.unblockUI();
                   }
               },
               "columns": [
                   { "data": "WS_METHOD", "name": "WS_METHOD" },
                   //{ "data": "CORRELATION_ID", "name": "CORRELATION_ID" },
                   { "data": "RESPONSE_STATUS_CODE", "name": "RESPONSE_STATUS_CODE" },
                   { "data": "RESPONSE_STATUS_DESC", "name": "RESPONSE_STATUS_DESC" },
                   { "data": "COMPANY_NAME", "name": "COMPANY_NAME" },
                   {
                       "data": "WS_REQUEST_DATE",
                       "render": function (data) {
                           return data == null ? "-" : formatdateHour(data);
                       }
                   },
                   {
                       "data": null,
                       "render": function (data) {
                           return '<div class="islem">' +
                               '<div class="btn-group fr">' +
                               '<a onclick="GetLogDetailbyCorrelationId(\'' + data.CORRELATION_ID + '\')" class="myIcon icon-primary" data-toggle="modal" data-target="#frmLogDetail_Modal"  data-tooltip="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>' +
                               '</div>' +
                               '</div>';
                       }
                   }


               ],
               pageLength: 10,
               "serverSide": "true",
               "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
               "searching": false,
               "order": [0, "asc"],
               "processing": "true",
               language: {
                   "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                   "emptyTable": "Kayıt Bulunamadı",
                   "infoEmpty": "Kayıt Bulunamadı",
                   "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                   oPaginate: {
                       sNext: 'İleri <i class="fa fa-angle-right"></i>',
                       sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                       sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                       sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                   }
               }
           });

       });

    function GetLogDetailbyCorrelationId(corId) {
        $('#hdCORRELATION_ID').val(corId);
        tblLogDetail.ajax.reload();
    }

    function Filter() {
        $('#isFilter').val("1");
        table.ajax.reload();
    }

    function FillServiceMethod(sourceSelectedBox, targetSelectBox) {
        debugger;
        var serviceType = $('#' + sourceSelectedBox).val();
        $("#" + targetSelectBox).html("");
        $("#" + targetSelectBox).append('<option value="">Tümü</option>');
        if (serviceType == "1") {
            $("#" + targetSelectBox).append($('<option></option>').val('PoliceAktar').html('Police Aktar'));
            $("#" + targetSelectBox).append($('<option></option>').val('ZeyilSigortaliCikar').html('Zeyil Sigortali Cikar'));
            $("#" + targetSelectBox).append($('<option></option>').val('ZeyilSigortaliEkle').html('Zeyil Sigortali Ekle'));
            $("#" + targetSelectBox).append($('<option></option>').val('PoliceIptal').html('Police Iptal'));
            $("#" + targetSelectBox).append($('<option></option>').val('AcenteTransfer').html('Acente Transfer'));
            $("#" + targetSelectBox).append($('<option></option>').val('ProviderTransfer').html('Kurum Transfer'));
            $("#" + targetSelectBox).append($('<option></option>').val('PoliceBilgiSorgula').html('Police Bilgi Sorgula'));
            $("#" + targetSelectBox).append($('<option></option>').val('PoliceSorgula').html('Police Sorgula'));
            $("#" + targetSelectBox).append($('<option></option>').val('UpdateSagmerPolicyInfo').html('Police Sagmer Sorgulama (NN Hayat)'));
        } else if (serviceType == "2") {
            $("#" + targetSelectBox).append($('<option></option>').val('ClaimTransfer').html('Hasar Bildirim'));
            $("#" + targetSelectBox).append($('<option></option>').val('ClaimUpdate').html('Hasar Güncelleme'));
            $("#" + targetSelectBox).append($('<option></option>').val('ClaimApproval').html('Hasar Onay'));
            $("#" + targetSelectBox).append($('<option></option>').val('ClaimCancellation').html('Hasar İptal'));
            $("#" + targetSelectBox).append($('<option></option>').val('ClaimRejection').html('Hasar Ret'));
            $("#" + targetSelectBox).append($('<option></option>').val('ClaimWait').html('Hasar Bekleme'));
            $("#" + targetSelectBox).append($('<option></option>').val('PayrollTransfer').html('Zarf Transfer'));
            $("#" + targetSelectBox).append($('<option></option>').val('PolicyState').html('Kurum Hak Sorgula'));
            $("#" + targetSelectBox).append($('<option></option>').val('TazminatGiris').html('Tazminat Giris (NN Hayat)'));
            $("#" + targetSelectBox).append($('<option></option>').val('SetProvisionStatus').html('Tazminat Statü Değişikliği (NN Hayat)'));
            $("#" + targetSelectBox).append($('<option></option>').val('IcmalGiris').html('Icmal Giriş (NN Hayat)'));
            $("#" + targetSelectBox).append($('<option></option>').val('hakSahipligiSorgula').html('Hak Sahipliği Sorgula (NN Hayat)'));
        } else if (serviceType == "3") {
            $("#" + targetSelectBox).append($('<option></option>').val('SbmPolicyCreate').html('SbmPolicyCreate'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmInsuredEntranceEndorsement').html('SbmInsuredEntranceEndorsement'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmInsuredExitEndorsement').html('SbmInsuredExitEndorsement'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmInsuredAccrualEndorsement').html('SbmInsuredAccrualEndorsement'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmPolicyAccrualEndorsement').html('SbmPolicyAccrualEndorsement'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmInsurerChangeEndorsement').html('SbmInsurerChangeEndorsement'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmAgencyChangeEndorsement').html('SbmAgencyChangeEndorsement'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmPolicyCancelEndorsement').html('SbmPolicyCancelEndorsement'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmPolicyReturnStartEndorsement').html('SbmPolicyReturnStartEndorsement'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmPolicyDelete').html('SbmPolicyDelete'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmInsuredPackageChangeEndorsement').html('SbmInsuredPackageChangeEndorsement'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmInsuredInfoChangeEndorsement').html('SbmInsuredInfoChangeEndorsement'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmTravelPolicyCreate').html('SbmTravelPolicyCreate'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmTravelInsuredEntranceEndorsement').html('SbmTravelInsuredEntranceEndorsement'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmTravelInsuredExitEndorsement').html('SbmTravelInsuredExitEndorsement'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmClaimCreate').html('SbmClaimCreate'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmClaimUpdate').html('SbmClaimUpdate'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmClaimEntrancePayroll').html('SbmClaimEntrancePayroll'));
            $("#" + targetSelectBox).append($('<option></option>').val('SbmClaimPayment').html('SbmClaimPayment'));
        } else if (serviceType == "4") {
            $("#" + targetSelectBox).append($('<option></option>').val('TamamlayiciSaglikTazminatGiris').html('Tamamlayici Saglik Tazminat Giris'));
            $("#" + targetSelectBox).append($('<option></option>').val('TamamlayiciSaglikProvizyonIptal').html('Tamamlayici Saglik Provizyon Iptal'));
            $("#" + targetSelectBox).append($('<option></option>').val('SigortaliHakSorgula').html('Sigortali HakSorgula'));
            $("#" + targetSelectBox).append($('<option></option>').val('IcmalGiris').html('Icmal Giris'));
            $("#" + targetSelectBox).append($('<option></option>').val('IcmalTazminatCikarma').html('Icmal Tazminat Cikarma'));
            $("#" + targetSelectBox).append($('<option></option>').val('RedDurumBildirim').html('Red Durum Bildirim'));
            $("#" + targetSelectBox).append($('<option></option>').val('RedDurumIptal').html('Red Durum Iptal'));
        }




        $("#" + targetSelectBox).trigger("chosen:updated");
    }
</script>

<script>
    var tblLogDetail = null;
       $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));


           tblLogDetail = $("#tblLogDetail").DataTable({
               "ajax": {
                   "url": "/System/GetLogListDetail",
                   "type": "POST",
                   "datatype": "json",
                   "data": function (a) {
                       a.CORRELATION_ID = $('#hdCORRELATION_ID').val();

                       return a;
                   }
               },
               "columns": [
                   { "data": "WsMethod", "name": "WS_METHOD" },
                   {
                       "data": "WsRequestDate",
                       "render": function (data) {
                           return data == null ? "-" : formatdate(data);
                       }
                       },
                   { "data": "ResponseStatusCode", "name": "RESPONSE_STATUS_CODE" },
                   { "data": "ResponseStatusDesc", "name": "RESPONSE_STATUS_DESC" },
                   { "data": "ProviderId", "name": "PROVIDER_ID" },
                   { "data": "ClaimId", "name": "CLAIM_ID" },
                   { "data": "PolicyId", "name": "POLICY_ID" },
                   { "data": "InsuredId", "name": "INSURED_ID" },
                   { "data": "PayrollId", "name": "PAYROLL_ID" },
                   { "data": "CompanyId", "name": "COMPANY_ID" },
                   {
                       "data": null,
                       "render": function (data) {
                           return '<div class="islem">' +
                               '<div class="btn-group fr">' +
                               '<a onclick="xmlLogDetail(\'' + data.Id + '\',\''+"0"+'\')" class="myIcon icon-primary" data-toggle="modal" data-target="#xmlLogDetail"  data-tooltip="tooltip" data-placement="bottom" title="Request Xml Görüntüle"><i class="fa fa-search"></i></a>' +
                               '</div>' +
                               '</div>';
                       }
                   },
                   {
                       "data": null,
                       "render": function (data) {
                           return '<div class="islem">' +
                               '<div class="btn-group fr">' +
                               '<a onclick="xmlLogDetail(\'' + data.Id + '\',\''+ "1" +'\')" class="myIcon icon-primary" data-toggle="modal" data-target="#xmlLogDetail"  data-tooltip="tooltip" data-placement="bottom" title="Response Xml Görüntüle"><i class="fa fa-search"></i></a>' +
                               '</div>' +
                               '</div>';
                       }
                   },
                   {
                       "data": null,
                       "render": function (data) {
                           debugger;
                           if (data.Type == '3') {
                               return '<div class="islem">' +
                                   '<div class="btn-group fr">' +
                                   '<a onclick="LogSend(\'frmLogDetail\','+data.Id+');" class="myIcon icon-primary" data-toggle="modal" data-target="#frmLogDetail_Modal"  data-tooltip="tooltip" data-placement="bottom" title="Tekrar Gönder"><i class="fa fa-undo"></i></a>' +
                                   '</div>' +
                                   '</div>';
                           }
                           else {
                               return '<div class="islem">' +
                                   '<div class="btn-group fr">' +
                                   '</div>' +
                                   '</div>';

                           }
                       }
                   }
               ],
               pageLength: 10,
               "serverSide": "true",
               "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
               "searching": false,
               "order": [0, "asc"],
               "processing": "true",
               language: {
                   "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                   "emptyTable": "Kayıt Bulunamadı",
                   "infoEmpty": "Kayıt Bulunamadı",
                   "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                   oPaginate: {
                       sNext: 'İleri <i class="fa fa-angle-right"></i>',
                       sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                       sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                       sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                   }
               }
           });

       });

    function xmlLogDetail(id, type) {

        debugger;
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: "/System/xmlLogList?logId=" + id + '&type='+type,
            cache: false,
            contentType: false,
            processData: false,
            data: null,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },

            success: function (responseData) {
                $.unblockUI();

                var response = $.parseJSON(responseData);
                //$.each(response, function (index , value) {

                $('#xmlText').val(response.ResultMessage);


                //});
            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
                $.unblockUI();
            }
        })
    }

    function LogSend(frm, id) {
        var form = $('#' + frm);

        $.ajax({
            type: form[0].method,
            contentType: "application/json; charset=utf-8",
            url: form[0].action + "?logId=" + id,
            cache: false,
            contentType: false,
            processData: false,
            data: null,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            success: function (responseData) {
                $.unblockUI();

                var response = $.parseJSON(responseData);
                //$.each(response, function (index , value) {

                if (response.ResultCode == "100") {
                        swal({
                            title: "İşlem Başarılı",
                            text: "İşlem Başarılı",
                            icon: "warning"
                        });
                    }
                    else {
                        swal({
                            title: "Hata!",
                            text: response.ResultMessage,
                            icon: "warning"
                        });
                    }
                //});
            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
                $.unblockUI();
            }
        })
    }
    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });

    function getEnterFunction() {
        Filter();
    }
</script>
