﻿
@{
    ViewBag.Title = "SagmerEndorsementTransfer";
    Layout = "~/Views/Shared/_ProteinLayout.cshtml";
}

<section class="content">

    <div class="row">

        <div class="col-sm-12">
            <div class="mbui-header mbui-inside-header">
                <h3><strong>Sagmer Zeyil Transfer</strong></h3>
                <ul class="mbui-controls">
                    <li>
                        <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                            <i class="fa fa-filter"></i>
                        </a>
                    </li>
                    <li class="dropdown mbui-list">
                        <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                            <i class="fa fa-hashtag"></i>
                        </a>
                        <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                            <li>
                                <a role="button" tabindex="0" data-value="15">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" data-value="25">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" data-value="50">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" data-value="100">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" data-value="-1">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i>
                                    <i class="ion-ios-infinite" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                            <i class="fa fa-expand"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <form class="form-horizontal" role="form" action="" method="post">
                <input type="hidden" class="inputHidden" name="hdPolicyId" id="hdPolicyId" value="0" />

                <div class="mbui-body mbui-inside-body active Enterclick">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="CompanyID" class="control-label">Sigorta Şirketi</label>
                            <select class="chosen-select bg-white" name="CompanyID" id="CompanyID" onchange="FillProductChosen('CompanyID', 'Product','1');" title="Seçiniz">
                                <option value="">TÜMÜ</option>
                                @foreach (var company in ViewBag.CompanyList)
                                {
                                    <option value="@company.Id">@company.Name</option>
                                }

                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="Product" class="control-label">Ürün</label>
                            <select class="chosen-select bg-white" name="Product" id="Product" title="Seçiniz">
                                <option value="">TÜMÜ</option>

                                <option value="1">Name</option>

                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="policyNo" class="control-label">Poliçe No</label>
                            <input name="policyNo" class="form-control" id="policyNo" placeholder="Poliçe No giriniz" type="text" />
                        </div>

                        <div class="col-sm-3">
                            <label for="renewalNo" class="control-label">Yenileme No</label>
                            <input name="renewalNo" class="form-control" id="renewalNo" placeholder="Yenileme No giriniz" type="text" />
                        </div>
                        <div class="col-sm-3">
                            <label for="endorsementNo" class="control-label">Zeyil No</label>
                            <input name="endorsementNo" class="form-control" id="endorsementNo" placeholder="Zeyil No giriniz" type="text" />
                        </div>


                        <input type="hidden" name="isFilter" id="isFilter" value="0" />
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="button" onclick="FilterClean();" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtreleri Temizleme</button>
                            <button type="button" onclick="Filter();" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtrele</button>
                        </div>
                    </div>
                </div>
                <div class="mbui-body mbui-inside-body active">
                    <div class="table-responsive">
                        <div class="btn-wrapper-left">
                            <input type="text" class="form-control" required placeholder="Authorization Kod giriniz" id="authorizationCodePolicy" />
                        </div>
                        <table class="table table-custom" id="tblPolicyList">
                            <thead>
                                <tr>
                                    <th>Sigorta Şirketi</th>
                                    <th>Sigorta Ettiren</th>
                                    <th>Tip</th>
                                    <th>PoliçeNo - YenilemeNo</th>
                                    <th>Ürün Adı</th>
                                    <th>Başlangıç Tarihi</th>
                                    <th>Bitiş Tarihi</th>
                                    <th>Prim</th>
                                    <th>İşlemler</th>
                                    <th>Sgm Transfer</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </form>
        </div>

    </div>


    <!-- ModalXml Detail -->
    <div class="modal" id="Modal_Endorsement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Zeyil</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="height:auto">

                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/System/GetEndorsementList" method="post" id="endorsementList">
                                <div class="btn-wrapper-left">
                                    <input type="text"  class="form-control" required placeholder="Authorization Kod giriniz" id="authorizationCode" />
                                    <button type="button" onclick="getTransferSagmerEndorsement()" class="btn btn-blue btn-sm mr-10 form-control">Sagmer Transfer</button>
                                </div>

                                <input type="hidden" class="inputHidden" name="hdEndorsementTransferList" id="hdEndorsementTransferList"  />

                                <div class="table-responsive">
                                    <table class="table table-custom" id="tblEndorsementList">
                                        <thead>
                                            <tr>
                                                <th>Seç</th>
                                                <th>No</th>
                                                <th>Sigorta Şirketi</th>
                                                <th>Sigorta Ettiren</th>
                                                <th>Tipi</th>
                                                <th>Toplam Prim</th>
                                                <th>Başlangıç Tarihi</th>
                                                <th>Tanzim Tarihi</th>
                                                <th>SBM NO</th>
                                                <th>SBM Status</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>


                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</section>


<script>
    function SagmerTransfer(policyId) {
        debugger;
        $.ajax({
            url: "/System/SagmerTransfer?policyId=" + policyId,
            cache: false,
            type:"POST",
            contentType: false,
            processData: false,
            datatype: "json",
            data: null,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
   
            },
            success: function (data) {
                debugger;
                if (data !== null && data > 0) {
            
                }
                $.unblockUI();
            },
            error: function (xhr, err) {
               
                $.unblockUI();
            }
        });
    }



    var table = null;
    $('#isFilter').val("0");
       $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));
           table = $("#tblPolicyList").DataTable({
               "ajax": {
                   "url": "/System/GetSagmerEndorsementTransferList",
                   "type": "POST",
                   "datatype": "json",
                   "beforeSend": function (xhr) {
                       $.blockUI({ message: $('#domMessage') });
                   },
                   "data": function (a) {
                       a.CompanyID = $('#CompanyID').val();
                       a.policyNo = $('#policyNo').val();
                       a.renewalNo = $('#renewalNo').val();
                       a.Product = $('#Product').val();
                       a.authorizationCodePolicy = $('#authorizationCodePolicy').val();
                       
                       return a;
                   },
                   "complete": function (settings, json) {
                       $.unblockUI();
                   }
               },
               "columns": [
                   { "data": "COMPANY_NAME", "name": "COMPANY_NAME" },
                   { "data": "INSURER_NAME", "name": "INSURER_NAME" },
                   { "data": "POLICY_TYPE_TEXT", "name": "POLICY_TYPE_TEXT" },
                   { "data": "POLICY_NUMBER_RENEWAL_NO", "name": "POLICY_NUMBER" },
                   { "data": "PRODUCT_NAME", "name": "PRODUCT_NAME" },
                   {
                       "data": "POLICY_START_DATE",
                       "render": function (data) {
                           return data == null ? "-" : formatdate(data);
                       }
                   },
                   {
                       "data": "POLICY_END_DATE",
                       "render": function (data) {
                           return data == null ? "-" : formatdate(data);
                       }
                   },
                   { "data": "PREMIUM", "name": "PREMIUM" },
                   {
                       "data": null,
                       "render": function (data) {
                           return '<div class="islem">' +
                               '<div class="btn-group fr">' +
                               '<a onclick="GetPolicyProcess(\'' + data.POLICY_ID + '\')" class="myIcon icon-primary" data-toggle="modal" data-target="#Modal_Endorsement"  data-tooltip="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>' +
                               '</div>' +
                               '</div>';
                       }
                   },
                   {
                       "data": null,
                       "render": function (data) {
                           return '<div class="islem">' +
                               '<div class="btn-group fr">' +
                               '<a onclick="SagmerTransfer(\'' + data.POLICY_ID + '\')" class="myIcon icon-primary" data-toggle="modal" data-tooltip="tooltip" data-placement="bottom" title="Sagmere Gönder"><i class="fa fa-exchange"></i></a>' +
                               '</div>' +
                               '</div>';
                       }
                   }


               ],
               pageLength: 10,
               "serverSide": "true",
               "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
               "searching": false,
               "order": [0, "asc"],
               "processing": "true",
               language: {
                   "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                   "emptyTable": "Kayıt Bulunamadı",
                   "infoEmpty": "Kayıt Bulunamadı",
                   "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                   oPaginate: {
                       sNext: 'İleri <i class="fa fa-angle-right"></i>',
                       sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                       sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                       sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                   }
               }
           });

       });
    debugger;
    function GetPolicyProcess(policyId) {
        $('#hdPolicyId').val(policyId);
        console.log(policyId + "poliçe id");
        tblEndorsementList.ajax.reload();
    }

   

    function GetSagmerTransfer(policyId) {
        //$('#hdPolicyId').val(policyId);
     //   console.log(policyId + "poliçe id");
        tblEndorsementList.ajax.reload();
    }

    function Filter() {
        $('#isFilter').val("1");
        table.ajax.reload();
    }

     var tblEndorsementList= null;
       $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));


           tblEndorsementList = $("#tblEndorsementList").DataTable({
               "ajax": {
                   "url": "/System/GetEndorsementList",
                   "type": "POST",
                   "datatype": "json",
                   "data": function (a) {
                       a.POLICY_ID = $('#POLICY_ID').val();
                       a.hdPolicyId = $('#hdPolicyId').val();
                       a.endorsementNoSpan = $('#endorsementNoSpan').val();
                       a.hdEndorsementTransferList = $('#hdEndorsementTransferList').val();
                       a.authorizationCode = $('#authorizationCode').val();

                       return a;
                   }
               },
               "columns": [
                   {
                       "data": null, "name": "ENDORSEMENT_NO", "orderable": false,
                       "render": function (data) {
                          
                               return '<div class="islem" style="width: 89px;">' +
                                   '<div class="btn-group">' +
                                   '<label class="checkbox mbui-checkbox-custom-alt checkbox-customm-lg fr">' +
                                   '<input class="checkSingle" onchange="SelectAllIcd(\'' + data.ENDORSEMENT_NO + '\' )" type="checkbox" value="' + data.ENDORSEMENT_NO + '" name="selectIcdList" id="selectIcd_' + data.ENDORSEMENT_NO + '" style="height: 15px;">' +
                                   '<i style="height: 20px;width: 20px;"></i>' +
                                   '</label>' +
                                   '</div>' +
                                   '</div>';
                           
                       }
                   },
                   {
                       "data": "ENDORSEMENT_NO",
                       "render": function (data) {
                           return "<span id='endorsementNoSpan'>" + data + "</span>";
                       }
                   },
                   { "data": "COMPANY_NAME", "name": "COMPANY_NAME" },
                   { "data": "INSURER_NAME", "name": "INSURER_NAME" },
                   { "data": "ENDORSEMENT_TYPE_TEXT", "name": "ENDORSEMENT_TYPE" },
                   { "data": "ENDORSEMENT_PREMIUM", "name": "ENDORSEMENT_PREMIUM" },
                   {
                       "data": "ENDORSEMENT_START_DATE",
                       "render": function (data) {
                           return data == null ? "-" : formatdate(data);
                       }
                   },
                   {
                       "data": "ENDORSEMENT_ISSUE_DATE",
                       "render": function (data) {
                           return data == null ? "-" : formatdate(data);
                       }
                   },
                   { "data": "SBM_NO", "name": "SBM_NO" },
                   { "data": "SBM_STATUS", "name": "SBM_STATUS" }
                
               ],
               pageLength: 10,
               "serverSide": "true",
               "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
               "searching": false,
               "order": [0, "asc"],
               "processing": "true",
               language: {
                   "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                   "emptyTable": "Kayıt Bulunamadı",
                   "infoEmpty": "Kayıt Bulunamadı",
                   "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                   oPaginate: {
                       sNext: 'İleri <i class="fa fa-angle-right"></i>',
                       sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                       sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                       sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                   }
               }
           });

       });
    
    function SelectAllIcd(endorsementNo) {
        //document.getElementsByName("selectIcdList").not(this).prop('checked', this.checked);
        debugger;
        var EndorsNo = [];
        var endorsementNoList = $('#endorsementNoSpan').text();
        EndorsNo.push(endorsementNo);
        $('span[id="endorsementNoSpan"]').each(function (i, item) {
            debugger;
            var val = item.textContent;
            if (val < endorsementNo) {
                $('#selectIcd_' + val).prop('checked', true);
                EndorsNo.push(val);
            }

            if (endorsementNo < val) {
               
                $('#selectIcd_' + val).prop('checked', false);
            }
        })
        
        console.log(EndorsNo);

        $('#hdEndorsementTransferList').val(EndorsNo)
    }
    
    function getTransferSagmerEndorsement() {
        debugger;
        var endorsListTransfer = [];
        var authorizationCode = $("#authorizationCode").val();
        if (authorizationCode != "") {
        $(".checkSingle").each(function () {
            if (this.checked == true) {
                endorsListTransfer.push(this.value);
               
            }

        })
        $('#hdEndorsementTransferList').val(endorsListTransfer);
        console.log($('#hdEndorsementTransferList').val());
        tblEndorsementList.ajax.reload();
        }
        else {
            swal({
                title: "Hata!",
                text: "Authorization Kod Boş olamaz",
                icon: "warning"
            });
        }
    }

    function xmlLogDetail(id, type) {

        debugger;
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: "/System/xmlLogList?logId=" + id + '&type='+type,
            cache: false,
            contentType: false,
            processData: false,
            data: null,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },

            success: function (responseData) {
                $.unblockUI();

                var response = $.parseJSON(responseData);
                //$.each(response, function (index , value) {

                $('#xmlText').val(response.ResultMessage);


                //});
            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
                $.unblockUI();
            }
        })
    }

    function LogSend(frm, id) {
        var form = $('#' + frm);

        $.ajax({
            type: form[0].method,
            contentType: "application/json; charset=utf-8",
            url: form[0].action + "?logId=" + id,
            cache: false,
            contentType: false,
            processData: false,
            data: null,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            success: function (responseData) {
                $.unblockUI();

                var response = $.parseJSON(responseData);
                //$.each(response, function (index , value) {

                if (response.ResultCode == "100") {
                        swal({
                            title: "İşlem Başarılı",
                            text: "İşlem Başarılı",
                            icon: "warning"
                        });
                    }
                    else {
                        swal({
                            title: "Hata!",
                            text: response.ResultMessage,
                            icon: "warning"
                        });
                    }
                //});
            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
                $.unblockUI();
            }
        })
    }
    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });

    function getEnterFunction() {
        Filter();
    }
</script>
