﻿<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">

                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a onclick="Confirm('İptal', 'İptal etmek istediğinizden emin misiniz?', 'warning', '/Network');" role="button" tabindex="0" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/Network/Create" method="post" data-toggle="validator">
                                <fieldset @ViewBag.FormDisabled>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="networkName" class="control-label"><span class="color-danger">*</span>Adı</label>
                                                    <input value="@(ViewBag.Network!=null ? ViewBag.Network.Name : "")" name="networkName" class="form-control" minlength="1" maxlength="100" id="networkName" placeholder="Adı giriniz" type="text" required />
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="networkCategory" class="control-label"><span class="color-danger">*</span>Kategori</label>
                                                    <select name="networkCategory" class="selectpicker w-100-pr mbui-select bg-white" id="networkCategory" title="Seçiniz" required>
                                                        @foreach (var NetworkCategoryType in ViewBag.NetworkCategoryTypeList)
                                                        {
                                                            <option value="@NetworkCategoryType.Key" @(ViewBag.Network != null ? (ViewBag.Network.Category == NetworkCategoryType.Key ? "selected" : "") : "")>@NetworkCategoryType.Value</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="networkType" class="control-label"><span class="color-danger">*</span>Tipi</label>
                                                    <select name="networkType" class="selectpicker w-100-pr mbui-select bg-white" id="networkType" title="Seçiniz" required>
                                                        @foreach (var NetworkType in ViewBag.NetworkTypeList)
                                                        {
                                                            <option value="@NetworkType.Key" @(ViewBag.Network != null ? (ViewBag.Network.Type == NetworkType.Key ? "selected" : "") : "")>@NetworkType.Value</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <button type="submit" class="btn btn-success btn-sm mr-10">@(ViewBag.Network != null ? "Güncelle" : "Kaydet")</button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="hdNetworkId" value="@(ViewBag.Network!=null ? ViewBag.Network.Id : "0")" />
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>s

<script>
    $(document).ready(function () {
@(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });

    $('.btn.btn-success').click(function () {
        $.blockUI({ message: $('#domMessage') });
    });
</script>