﻿@*@model IEnumerable<Protein.Common.Entities.ProteinEntities.Network>*@
@model Protein.Web.Models.NetworkModel.NetworkVM
@{
    ViewBag.Title = "Network";
}

<section class="content">
    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a href="/Network/Create" tabindex="0" class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="15">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="modal" data-target="#modalExport" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle import" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="İçe Aktar">
                                <i class="fa fa-download"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Exel
                                    </a>
                                </li>

                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Örnek Dosya
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active">
                    <form class="form-horizontal" role="form" action="" method="post">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">

                                <div class="col-xs-6 col-sm-3">
                                    <label for="networkName" class="control-label">Adı</label>
                                    <input name="networkName" class="form-control" id="networkName" placeholder="Adı giriniz" type="text" value="@ViewBag.networkName" onkeydown="if (event.keyCode == 13) { Filter('tblNetwork');
    return false; }" />
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="networkCategory" class="control-label">Kategori</label>
                                    <select name="networkCategory" class="selectpicker w-100-pr mbui-select bg-white" id="networkCategory" title="Seçiniz">
                                        @foreach (var NetworkCategoryType in ViewBag.NetworkCategoryTypeList)
                                        {
                                            <option value="@NetworkCategoryType.Key" @(Convert.ToString(NetworkCategoryType.Key) == ViewBag.networkType ? "selected" : "")>@NetworkCategoryType.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="networkType" class="control-label">Tipi</label>
                                    <select name="networkType" class="selectpicker w-100-pr mbui-select bg-white" id="networkType" title="Seçiniz">
                                        @foreach (var NetworkType in ViewBag.NetworkTypeList)
                                        {
                                            <option value="@NetworkType.Key" @(Convert.ToString(NetworkType.Key) == ViewBag.networkCategory ? "selected" : "")>@NetworkType.Value</option>
                                        }
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" onclick="Filter()" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtrele</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-md table-custom" id="tblNetwork">
                                <thead>
                                    <tr>
                                        <th>Adı</th>
                                        <th>Kategori</th>
                                        <th>Tipi</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model.ExportVM)
</section>

<script>
    var table = null;
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));

        @(Html.Raw(""));

        $('.mbui-list .dropdown-menu li a').click(function () {
            var dataShow = $(this).attr('data-value');
            $('.dataTables_length select option').prop('selected', '');
            $(this).closest('.mbui-form').find('.dataTables_length select option[value="' + dataShow + '"]').prop('selected', 'selected').trigger('change');
        });

        table = $("#tblNetwork").DataTable({

            "ajax": {
                "url": "/Network/Index",
                "type": "POST",
                "datatype": "json",
                "data": function (a) {
                    debugger;
                    a.networkName = $('#networkName').val();
                    a.networkCategory = $('#networkCategory').val();
                    a.networkType = $('#networkType').val();
                },
                 "complete": function (settings, json) {
                    debugger;
                    var responseText = JSON.parse(settings.responseText);
                    $("#WhereCondition").val(responseText.whereConditition);
                }
            },

            "columns": [
                { "data": "NETWORK_NAME", "name": "NETWORK_NAME" },
                {
                    "data": "NetworkCategory",
                    "render": function (data) {
                        return '<p><strong>' + GetValueOfEnum('NetworkCategory', data) + '</strong></p>';
                    }
                },
                {
                    "data": "NetworkType",
                    "render": function (data) {
                        return '<p><strong>' + GetValueOfEnum('NetworkType', data) + '</strong></p>';
                    }
                },
                {
                    "data": "NETWORK_ID",
                    "render": function (data) {
                        return '<div class="islem">' +
                            '<div class="btn-group fr">' +
                            '<a href="/Network/Edit/' + data +'" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>'+
                            '<a onclick="Confirm(\'Sil\',\'Silmek istediğinizden emin misiniz ? \',\'warning\',\'/Network/Delete/ ' + data +'\');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>'+
                            '</div>' +
                            '</div>';
                    }
                }
            ],
            pageLength: 10,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    });

    function GetValueOfEnum(typeName, ordinal) {
        debugger;
        if (ordinal != null) {
            if (typeName == "NetworkCategory") {
                var NetworkCategoryTypeList = @Html.Raw(Json.Encode(@ViewBag.NetworkCategoryTypeList));
                return NetworkCategoryTypeList == null ? "-" : NetworkCategoryTypeList[ordinal];
            }
            else if (typeName == "NetworkType") {
                var NetworkTypeList = @Html.Raw(Json.Encode(@ViewBag.NetworkTypeList));
                return NetworkTypeList == null ? "-" : NetworkTypeList[ordinal];
            }
        }
        else {
            return "-";
        }
    }

    function Filter() {
        table.ajax.reload();
    }
</script>