﻿@model Protein.Web.Models.ContractModel.ContractVM

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Sözleşme</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a href="/Provider/ContractForm" tabindex="0" class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>

                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>

                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="15">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="modal" data-target="#modalExport" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle import" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="İçe Aktar">
                                <i class="fa fa-download"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Exel
                                    </a>
                                </li>

                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Örnek Dosya
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active">
                    <form class="form-horizontal" role="form" action="/Provider/ContractFilter" method="post">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="contractNo" class="control-label">Sözleşme No</label>
                                    <input name="contractNo" class="form-control" placeholder="Sözleşme No giriniz" type="text" id="contractNo" value="@ViewBag.contractNo" />
                                </div>

                                <div class="col-sm-3">
                                    <label for="contractProviderList" class="control-label">Kurum</label>
                                    <select tabindex="3" class="chosen-select" id="contractListFirma" name="contractProviderList" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var ProviderType in ViewBag.ProviderTypeList)
                                        {
                                            <optgroup label="@ProviderType.Value">
                                                @foreach (var Provider in ViewBag.ProviderList)
                                                {
                                                    if (Provider.PROVIDER_TYPE == ProviderType.Key)
                                                    {
                                                        <option value="@Provider.PROVIDER_ID" @(Convert.ToString(Provider.PROVIDER_ID) == ViewBag.contractProviderList ? "selected" : "")>@Provider.PROVIDER_NAME</option>
                                                    }
                                                }
                                            </optgroup>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label for="contractStatus" class="control-label">Durum</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" name="contractStatus" id="contractListProcess">
                                        @foreach (var ContractStatusType in ViewBag.ContractStatusTypeList)
                                        {
                                            <option value="@ContractStatusType.Key" @(Convert.ToString(ContractStatusType.Key) == ViewBag.contractStatus ? "selected" : "")>@ContractStatusType.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerName" class="control-label">Kurum Adı</label>
                                    <input name="providerName" class="form-control" id="providerName" placeholder="Kurum adı giriniz" type="text" value="@ViewBag.providerName" />
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerCode" class="control-label">Kodu</label>
                                    <input name="providerCode" class="form-control" id="providerCode" placeholder="Kodu giriniz" type="number" value="@ViewBag.providerCode" />
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerType" class="control-label">Kurum Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="providerType" id="providerType" title="Seçiniz">
                                        @foreach (var ProviderType in ViewBag.ProviderTypeList)
                                        {
                                            <option value="@ProviderType.Key" @(Convert.ToString(ProviderType.Key) == ViewBag.providerType ? "selected" : "")>@ProviderType.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerTaxNumber" class="control-label">Vergi No</label>
                                    <input name="providerTaxNumber" class="form-control" id="providerTaxNumber" placeholder="Vergi No giriniz" type="number" value="@ViewBag.providerTaxNumber" />
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerCity" class="control-label">İl</label>
                                    <select class="form-control" name="providerCity" id="providerCity" title="Seçiniz" onchange="FillCounty('providerCity', 'providerCounty');">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var CityList in ViewBag.CityList)
                                        {
                                            <option value="@CityList.Id" @(Convert.ToString(CityList.Id) == ViewBag.providerCity ? "selected" : "")>@CityList.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerCounty" class="control-label">İlçe</label>
                                    <select class="form-control" name="providerCounty" id="providerCounty" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var County in ViewBag.CountyList)
                                        {
                                            <option value="@County.Id" @(Convert.ToString(County.Id) == ViewBag.providerCounty ? "selected" : "")>@County.Name</option>
                                        }

                                    </select>
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerGroup" class="control-label">Kurum Grubu</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" name="providerGroup" id="providerGroup">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var ProviderGroup in ViewBag.ProviderGroupList)
                                        {
                                            <option value="@ProviderGroup.Id" @(Convert.ToString(ProviderGroup.Id) == ViewBag.providerGroup ? "selected" : "")>@ProviderGroup.Name</option>
                                        }
                                    </select>
                                </div>



                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerTitle" class="control-label">Ticari Unvanı</label>
                                    <input name="providerTitle" class="form-control" placeholder="Ticari Unvanı giriniz" type="text" id="providerUnvani" value="@ViewBag.providerTitle" />
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerContractType" class="control-label">Sözleşme Tipi</label>
                                    <select name="providerContractType" id="providerContractType" class="selectpicker w-100-pr mbui-select bg-white" multiple title="Seçiniz">
                                        @foreach (var ContractType in ViewBag.ContractTypeList)
                                        {
                                            <option value="@ContractType.Key">@ContractType.Value</option>
                                        }
                                    </select>
                                </div>
                                <input type="hidden" name="isFilter" id="isFilter" value="0" />
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-md table-custom">
                                <thead>
                                    <tr>
                                        <th>Sözleşme No</th>
                                        <th>Anlaşmalı Kurum</th>
                                        <th>Tipi</th>
                                        <th>Başlangıç Tarihi</th>
                                        <th>Bitiş Tarihi</th>
                                        <th>Durum</th>
                                        <th>Durum Değişikliği</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                @if (@ViewBag.ContractList == null)
                                {
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                }
                                else
                                {
                                    <tbody>
                                        @foreach (var Contract in ViewBag.ContractList)
                                        {
                                            <tr>
                                                <td>@Contract.CONTRACT_NO</td>
                                                <td>@Contract.PROVIDER_NAME</td>
                                                @if (Contract.CONTRACT_TYPE == "0")
                                                {
                                                    <td>TSS</td>
                                                }
                                                else if (Contract.CONTRACT_TYPE == "1")
                                                {
                                                    <td>ÖSS</td>
                                                }
                                                else if (Contract.CONTRACT_TYPE == "2")
                                                {
                                                    <td>DOĞUM</td>
                                                }
                                                else if (Contract.CONTRACT_TYPE == "3")
                                                {
                                                    <td>MDP</td>
                                                }
                                                else
                                                {
                                                    <td>@Contract.CONTRACT_TYPE</td>
                                                }
                                                <td>@(Contract.START_DATE.ToString("dd/MM/yyyy"))</td>
                                                <td>@(Contract.END_DATE == null ? "" : Contract.END_DATE.ToString("dd/MM/yyyy"))</td>
                                                @if (Contract.STATUS == "1")
                                                {
                                                    <td>
                                                        <p class="durum bg-default">Silinmiş</p>
                                                    </td>
                                                    <td class="islem">
                                                        <div class="btn-group fr">
                                                        </div>
                                                    </td>
                                                    <td class="islem">
                                                        <div class="btn-group fr">
                                                            <a href="/Provider/ContractForm/Edit/@Contract.CONTRACT_ID" class="myIcon icon-warning" data-toggle="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>
                                                            @*<a href="/Provider/ContractForm/Reflesh/@Contract.CONTRACT_ID" class="myIcon icon-cyan" data-toggle="tooltip" data-placement="bottom" title="Yenile"><i class="fa fa-refresh"></i></a>*@
                                                            <a href="#" data-id="@Contract.CONTRACT_ID" data-HistoryTitle="@Contract.CONTRACT_NO" class="myIcon icon-primary mbui-modal historyDetail" @*data-toggle="modal" data-target="#frmHistory_Modal"*@ data-title="Sözleşme Tarihçesi" title="Tarihçe"><i class="fa fa-hourglass-start"></i></a>
                                                        </div>
                                                    </td>
                                                }
                                                else if (Contract.STATUS == "0")
                                                {
                                                    <td>
                                                        <p class="durum color-warning"><strong>Teklif Aşamasında</strong></p>
                                                    </td>
                                                    <td class="islem">
                                                        <div class="btn-group fr">
                                                            <a onclick="openPopup(@Contract.CONTRACT_ID,2);" class="myIcon icon-success" data-toggle="modal" data-target="#frmAktif_Modal" data-tooltip="tooltip" data-placement="bottom" title="Aktif"><i class="fa fa-check"></i></a>
                                                            <a onclick="openPopup(@Contract.CONTRACT_ID,3);" class="myIcon icon-danger" data-toggle="modal" data-target="#frmRed_Modal" data-tooltip="tooltip" data-placement="bottom" title="Teklif Red"><i class="fa fa-times"></i></a>
                                                        </div>
                                                    </td>
                                                    <td class="islem">
                                                        <div class="btn-group fr">
                                                            @*<a href="/Provider/ContractForm/View/@Contract.CONTRACT_ID" class="myIcon icon-primary" data-toggle="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>*@
                                                            <a href="/Provider/ContractForm/Edit/@Contract.CONTRACT_ID" class="myIcon icon-warning" data-toggle="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>
                                                            @*<a href="/Provider/ContractForm/Reflesh/@Contract.CONTRACT_ID" class="myIcon icon-cyan" data-toggle="tooltip" data-placement="bottom" title="Yenile"><i class="fa fa-refresh"></i></a>*@
                                                            @*<a href="/Provider/ContractDelete/@Contract.CONTRACT_ID" class="myIcon icon-danger" data-toggle="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>*@
                                                            <a href="#" data-id="@Contract.CONTRACT_ID" data-HistoryTitle="@Contract.CONTRACT_NO" class="myIcon icon-primary mbui-modal historyDetail" title="Tarihçe"><i class="fa fa-hourglass-start"></i></a>
                                                        </div>
                                                    </td>
                                                }
                                                else if (Contract.STATUS == "3")
                                                {
                                                    <td>
                                                        <p class="durum color-danger"><strong>Teklif Ret</strong></p>
                                                    </td>
                                                    <td class="islem">
                                                        <div class="btn-group fr">
                                                            <a onclick="UpdateStatus24(@Contract.CONTRACT_ID,0)" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Yeniden teklife gönder"><i class="fa fa-share flip-horizontal"></i></a>
                                                        </div>
                                                    </td>
                                                    <td class="islem">
                                                        <div class="btn-group fr">
                                                            @*<a href="/Provider/ContractForm/View/@Contract.CONTRACT_ID" class="myIcon icon-primary" data-toggle="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>*@
                                                            @*<a href="/Provider/ContractForm/Edit/@Contract.CONTRACT_ID" class="myIcon icon-warning" data-toggle="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>*@
                                                            @*<a href="/Provider/ContractForm/Reflesh/@Contract.CONTRACT_ID" class="myIcon icon-cyan" data-toggle="tooltip" data-placement="bottom" title="Yenile"><i class="fa fa-refresh"></i></a>*@
                                                            <a onclick="Confirm('Sil','Silmek istediğinizden emin misiniz ? ','warning','/Provider/ContractDelete/@Contract.CONTRACT_ID');" class="myIcon icon-danger" data-toggle="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>
                                                            <a href="#" class="myIcon icon-primary mbui-modal historyDetail" data-HistoryTitle="@Contract.CONTRACT_NO" data-id="@Contract.CONTRACT_ID" data-title="Sözleşme Tarihçesi" title="Tarihçe"><i class="fa fa-hourglass-start"></i></a>
                                                        </div>
                                                    </td>
                                                }
                                                else if (Contract.STATUS == "2")
                                                {
                                                    <td>
                                                        <p class="durum color-success"><strong>Aktif</strong></p>
                                                    </td>
                                                    <td class="islem">
                                                        <div class="btn-group fr">
                                                            <a onclick="openPopup(@Contract.CONTRACT_ID,4);" class="myIcon icon-danger" data-toggle="modal" data-target="#frmFesih_Modal"><i class="fa fa-ban" data-toggle="tooltip" data-placement="bottom" title="Fesih"></i></a>
                                                            @*<a onclick="openPopup(@Contract.CONTRACT_ID,3);" class="myIcon icon-danger" data-toggle="modal" data-target="#frmRed_Modal"><i class="fa fa-times" data-toggle="tooltip" data-placement="bottom" title="Teklif Red"></i></a>*@
                                                        </div>
                                                    </td>
                                                    <td class="islem">
                                                        <div class="btn-group fr">
                                                            @*<a href="/Provider/ContractForm/View/@Contract.CONTRACT_ID" class="myIcon icon-primary" data-toggle="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>*@
                                                            <a href="/Provider/ContractForm/Edit/@Contract.CONTRACT_ID" class="myIcon icon-warning" data-toggle="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>
                                                            @*<a href="/Provider/ContractForm/Reflesh/@Contract.CONTRACT_ID" class="myIcon icon-cyan" data-toggle="tooltip" data-placement="bottom" title="Yenile"><i class="fa fa-refresh"></i></a>*@
                                                            @*<a href="/Provider/ContractDelete/@Contract.CONTRACT_ID" class="myIcon icon-danger" data-toggle="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>*@
                                                            <a href="#" class="myIcon icon-primary mbui-modal historyDetail" data-HistoryTitle="@Contract.CONTRACT_NO" data-id="@Contract.CONTRACT_ID" data-title="Sözleşme Tarihçesi" title="Tarihçe"><i class="fa fa-hourglass-start"></i></a>
                                                        </div>
                                                    </td>
                                                }
                                                else if (Contract.STATUS == "4")
                                                {
                                                    <td>
                                                        <p class="durum color-danger"><strong>Fesih</strong></p>
                                                    </td>
                                                    <td class="islem">
                                                        <div class="btn-group fr">
                                                            <a onclick="UpdateStatus24(@Contract.CONTRACT_ID,0)" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Yeniden teklife gönder"><i class="fa fa-share flip-horizontal"></i></a>
                                                        </div>
                                                    </td>
                                                    <td class="islem">
                                                        <div class="btn-group fr">
                                                            @*<a href="/Provider/ContractForm/View/@Contract.CONTRACT_ID" class="myIcon icon-primary" data-toggle="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>*@
                                                            @*<a href="/Provider/ContractForm/Edit/@Contract.CONTRACT_ID" class="myIcon icon-warning" data-toggle="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>*@
                                                            @*<a href="/Provider/ContractForm/Reflesh/@Contract.CONTRACT_ID" class="myIcon icon-cyan" data-toggle="tooltip" data-placement="bottom" title="Yenile"><i class="fa fa-refresh"></i></a>*@
                                                            @*<a href="/Provider/ContractDelete/@Contract.CONTRACT_ID" class="myIcon icon-danger" data-toggle="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>*@
                                                            <a onclick="Confirm('Sil','Silmek istediğinizden emin misiniz ? ','warning','/Provider/ContractDelete/@Contract.CONTRACT_ID');" class="myIcon icon-danger" data-toggle="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>

                                                            <a href="#" data-id="@Contract.CONTRACT_ID" data-HistoryTitle="@Contract.CONTRACT_NO" class="myIcon icon-primary historyDetail" title="Tarihçe"><i class="fa fa-hourglass-start"></i></a>
                                                        </div>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                }
                            </table>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>


    <!-- Modal Red -->
    <div class="modal" id="frmRed_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Teklif Red</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="frmRed_Modal">
                                <form role="form" action="" method="post" id="frmRed">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="contractRedType" class="control-label text-align-left width-100-pr">Gerekçesi</label>
                                            <select class="selectpicker w-100-pr mb-20 mbui-select bg-white" title="Seçiniz" name="contractRedType" id="contractRedType">
                                                @foreach (var ReasonType in ViewBag.ReasonTypeList)
                                                {
                                                    if (ReasonType.StatusName == "ContractStatus" && ReasonType.StatusOrdinal == "3")
                                                    {
                                                        <option value="@ReasonType.Id">@ReasonType.Description</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="contractRedNote" class="control-label text-align-left" style="width:100%;">Açıklama</label>
                                            <textarea class="form-control" name="contractRedNote" id="contractRedNote" placeholder="Açıklama Yazınız" rows="3"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label for="contractRedDate" class="control-label text-align-left" style="width:100%;">Tarih</label>
                                            <div class='input-group datepicker'>
                                                <input type='text' class="form-control" name="contractRedDate" id="contractRedDate" />
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <label for="contractRedReplyDate" class="control-label text-align-left" style="width:100%;">Yanıt Tarihi</label>
                                            <div class='input-group datepicker'>
                                                <input type='text' class="form-control" name="contractRedReplyDate" id="contractRedReplyDate" />
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="btn-wrapper-center mt-10">

                                        <input type="hidden" name="CONTRACT_ID" id="CONTRACT_ID3" value="" />

                                        <a onclick="UpdateStatus36(3,'frmRed')" class="btn btn-success btn-sm mr-10">Kaydet</a>
                                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">İptal</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- frmAktif_Modal -->
    <div class="modal" id="frmAktif_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Aktif Et</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="frmAktif_Modal">
                                <form role="form" action="" method="post" id="frmAktif">

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="contractAktifNote" class="control-label text-align-left" style="width:100%;">Açıklama</label>
                                            <textarea class="form-control" name="contractAktifNote" id="contractAktifNote" placeholder="Açıklama Yazınız" rows="3"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <label for="contractAktifDate" class="control-label text-align-left" style="width:100%;">Tarih</label>
                                        <div class='input-group datepicker'>
                                            <input type='text' class="form-control" name="contractAktifDate" id="contractAktifDate" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="btn-wrapper-center mt-10">

                                            <input type="hidden" name="CONTRACT_ID" id="CONTRACT_ID16" value="" />

                                            <a onclick="UpdateStatus36(2,'frmAktif')" class="btn btn-success btn-sm mr-10">Kaydet</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Fesih -->
    <div class="modal" id="frmFesih_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Teklif Fesih</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">
                                <form role="form" action="" method="post" id="frmFesih">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="contractFesType" class="control-label text-align-left" style="width:100%;"><span class="color-danger">*</span>Gerekçesi</label>
                                            <select class="selectpicker w-100-pr mb-20 mbui-select bg-white" title="Seçiniz" name="contractFesType" required id="contractFesType">
                                                @foreach (var ReasonType in ViewBag.ReasonTypeList)
                                                {
                                                    if (ReasonType.StatusName == "ContractStatus" && ReasonType.StatusOrdinal == "6")
                                                    {
                                                        <option value="@ReasonType.Id">@ReasonType.Description</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="contractFesNote" class="control-label text-align-left" style="width:100%;">Açıklama</label>
                                            <textarea class="form-control" name="contractFesNote" id="contractFesNote" placeholder="Açıklama Yazınız" rows="3"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label for="contractFesDate" class="control-label text-align-left" style="width:100%;">Tarih</label>
                                            <div class='input-group datepicker'>
                                                <input type='text' class="form-control" name="contractFesDate" id="contractFesDate" />
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <label for="contractFesReplyDate" class="control-label text-align-left" style="width:100%;">Yanıt Tarihi</label>
                                            <div class='input-group datepicker'>
                                                <input type='text' class="form-control" name="contractFesReplyDate" id="contractFesReplyDate" />
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="btn-wrapper-center mt-10">
                                        <input type="hidden" name="CONTRACT_ID" id="CONTRACT_ID6" value="" />
                                        <a onclick="UpdateStatus36(4,'frmFesih')" class="btn btn-success btn-sm mr-10">Kaydet</a>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    @Html.Partial("~/Views/Shared/Partials/_History.cshtml", Model.HistoryVM)
    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model.ExportVM)
</section>

<script>
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))


    });

    function GetValueOfEnum(typeName, ordinal) {
        if (ordinal != null) {
            if (typeName == "ContractType") {
                var ContractTypeList = @Html.Raw(Json.Encode(@ViewBag.ContractTypeList));
                return ContractTypeList == null ? "-" : ContractTypeList[ordinal];
            }
        }
        else {
            return "-";
        }
    }

    function openPopup(CONTRACT_ID, CONTRACT_STATUS) {

        switch (CONTRACT_STATUS) {

            case 3:
                //Red
                $('div.modal').hide();
                $('#frmRed_Modal').show();
                $('#CONTRACT_ID3').val(CONTRACT_ID);
                break;

            case 4:
                //Fesih
                $('div.modal').hide();
                $('#frmFesih_Modal').show();
                $('#CONTRACT_ID6').val(CONTRACT_ID);
                break;

            case 2:
                //aktif
                $('div.modal').hide();
                $('#frmAktif_Modal').show();
                $('#CONTRACT_ID16').val(CONTRACT_ID);
                break;

            default:
                break;
        }
    }

    function UpdateStatus36(CONTRACT_STATUS,frm) {

        var form = $('#' + frm);
        if (form.valid()) {
            var data;

            switch (CONTRACT_STATUS) {

                case 3:
                    //Red
                    var strJSON = "{" + getJson($('#frmRed').serializeArray())
                    strJSON = strJSON.substring(0, strJSON.length - 1) + "}";

                    var frmData = JSON.parse(strJSON);

                    data = {
                        'CONTRACT_ID': frmData.CONTRACT_ID,
                        'STATUS': CONTRACT_STATUS,
                        'TYPE': frmData.contractRedType,
                        'NOTE': frmData.contractRedNote,
                        'DATE': frmData.contractRedDate,
                        'REPLYDATE': frmData.contractRedReplyDate,
                        'TYPETEXT': frmData.contractRedTypeSelectedText
                    }

                    break;

                case 4:
                    //Fesih
                    var strJSON = "{" + getJson($('#frmFesih').serializeArray())
                    strJSON = strJSON.substring(0, strJSON.length - 1) + "}";

                    var frmData = JSON.parse(strJSON);

                    data = {
                        'CONTRACT_ID': frmData.CONTRACT_ID,
                        'STATUS': CONTRACT_STATUS,
                        'TYPE': frmData.contractFesType,
                        'NOTE': frmData.contractFesNote,
                        'DATE': frmData.contractFesDate,
                        'REPLYDATE': frmData.contractFesReplyDate,
                        'TYPETEXT': frmData.contractFesTypeSelectedText
                    }

                    break;

                case 2:
                    //Aktif
                    var strJSON = "{" + getJson($('#frmAktif').serializeArray())
                    strJSON = strJSON.substring(0, strJSON.length - 1) + "}";

                    var frmData = JSON.parse(strJSON);

                    data = {
                        'CONTRACT_ID': frmData.CONTRACT_ID,
                        'STATUS': CONTRACT_STATUS,
                        'TYPE': "",
                        'NOTE': frmData.contractAktifNote,
                        'DATE': frmData.contractAktifDate,
                        'REPLYDATE': "",
                        'TYPETEXT': ""
                    }

                    break;
                default:
                    break;
            }



            $.ajax({
                type: "post",
                contentType: "application/json; charset=utf-8",
                url: "/Provider/ContractUpdateStatus36",
                cache: false,
                dataType: "json",
                data: JSON.stringify(data),
                beforeSend: function (xhr) {
                    console.log('btnSave disabled');
                    $('.myIcon').css('pointer-events', 'none');
                },
                success: function (data) {
                    $('.myIcon').css('pointer-events', 'auto');
                    window.location.href = "/Provider/Contract";
                },
                error: function (xhr, err) {
                    $('.myIcon').css('pointer-events', 'auto');

                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                }
            })
        }
        else {
            swal({
                title: "Hata",
                text: "Zorunlu alanları doldurunuz!",
                icon: "success"
            });
        }
    }

    function UpdateStatus24(CONTRACT_ID, CONTRACT_STATUS) {

        console.log("UpdateStatus24 => id:" + CONTRACT_ID + " status: " + CONTRACT_STATUS);

        var data = {
            'id': CONTRACT_ID,
            'status': CONTRACT_STATUS
        }

        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            url: "/Provider/ContractUpdateStatus24",
            cache: false,
            dataType: "json",
            data: JSON.stringify(data),
            beforeSend: function (xhr) {
                console.log('btnSave disabled');
                $('.myIcon').css('pointer-events', 'none');
            },
            success: function (data) {
                console.log('redirect to /Provider/Contract');
                $('.myIcon').css('pointer-events', 'auto');
                window.location.href = "/Provider/Contract";
            },
            error: function (xhr, err) {
                $('.myIcon').css('pointer-events', 'auto');

                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
            }
        })

    }

</script>