﻿@{
    bool isEdit = ViewBag.isEdit ?? false;

    //Banka bilgileri
    string jsonNetworks = ViewBag.ContractNetwork != null ? ViewBag.ContractNetwork : "[]";

    //Banka bilgileri
    string jsonProcessGroups = ViewBag.ContractProcessGroup != null ? ViewBag.ContractProcessGroup : "[]";

    string CONTRACT_ID = string.Empty;
    string CONTRACT_TYPE = string.Empty;
    string END_DATE = string.Empty;
    string PROVIDER_ID = string.Empty;
    string PROVIDER_NAME = string.Empty;
    string START_DATE = string.Empty;
    string STATUS = string.Empty;
    string DISCOUNT_RATIO = string.Empty;
    string PAYMENT_DAY = string.Empty;
    string PROCESS_LIST_ID = string.Empty;
    string CONTRACT_NO = ViewBag.AutoNo != null ? Convert.ToString(ViewBag.AutoNo) : string.Empty;
    string REASON_ID = string.Empty;
    string REVISION_DATE = string.Empty;


    if (ViewBag.SelectedProviderId != null)
    {
        PROVIDER_ID = Convert.ToString(ViewBag.SelectedProviderId);
    }

    if (ViewBag.SelectedContractTypeKey != null)
    {
        CONTRACT_TYPE = Convert.ToString(ViewBag.SelectedContractTypeKey);
    }

    if (isEdit)
    {
        if (ViewBag.Contract != null)
        {
            var contract = ViewBag.Contract;

            CONTRACT_ID = Convert.ToString(contract.CONTRACT_ID);
            CONTRACT_TYPE = Convert.ToString(contract.CONTRACT_TYPE);
            PROVIDER_ID = Convert.ToString(contract.PROVIDER_ID);
            PROVIDER_NAME = Convert.ToString(contract.PROVIDER_NAME);

            START_DATE = Convert.ToString(contract.START_DATE);
            START_DATE = string.IsNullOrEmpty(START_DATE) ? string.Empty : DateTime.Parse(START_DATE).ToString("dd-MM-yyyy");

            END_DATE = Convert.ToString(contract.END_DATE);
            END_DATE = string.IsNullOrEmpty(END_DATE) ? string.Empty : DateTime.Parse(END_DATE).ToString("dd-MM-yyyy");

            REVISION_DATE = Convert.ToString(contract.REVISION_DATE);
            REVISION_DATE = string.IsNullOrEmpty(REVISION_DATE) ? string.Empty : DateTime.Parse(REVISION_DATE).ToString("dd-MM-yyyy");

            STATUS = Convert.ToString(contract.STATUS);
            DISCOUNT_RATIO = Convert.ToString(contract.DISCOUNT_RATIO);
            PAYMENT_DAY = Convert.ToString(contract.PAYMENT_DAY);
            CONTRACT_NO = Convert.ToString(contract.CONTRACT_NO);
            REASON_ID = Convert.ToString(contract.REASON_ID);


        }
    }
}
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">

                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a onclick="Confirm('İptal', 'İptal etmek istediğinizden emin misiniz?', 'warning', '/Provider/Contract');" role="button" tabindex="0" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/Provider/ContractCreate" method="post" data-toggle="validator">
                                <fieldset>
                                    <input type="hidden" name="hdCONTRACTID" id="hdCONTRACTID" value="@(string.IsNullOrEmpty(CONTRACT_ID) ? "0" : CONTRACT_ID)" />
                                    <input type="hidden" name="contractStatus" id="contractStatus" value="@(string.IsNullOrEmpty(STATUS) ? "0" : STATUS)" />
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="selectProvider" class="control-label"><span class="color-danger">*</span>Kurum</label>
                                                    <select tabindex="3" class="chosen-select" id="selectProvider" name="selectProvider" title="Seçiniz" required>
                                                        <option value=""></option>
                                                        @foreach (var Provider in ViewBag.ProviderList)
                                                        {
                                                            <option value="@Provider.PROVIDER_ID" @(!String.IsNullOrEmpty(PROVIDER_ID) ? (Provider.PROVIDER_ID == long.Parse(PROVIDER_ID) ? "selected" : "") : "")>@Provider.PROVIDER_NAME</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="contractType" class="control-label"><span class="color-danger">*</span>Tipi</label>
                                                    <select class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" name="contractType" id="contractType" onchange="ChangePayDay('contractType','contractPayDate')" required>
                                                        @foreach (var ContractType in ViewBag.ContractTypeList)
                                                        {
                                                            <option value="@ContractType.Key" @(CONTRACT_TYPE == ContractType.Key ? "selected" : "")>@ContractType.Value</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group has-feedback">
                                                        <div class="col-sm-12">
                                                            <label for="contractPayDate" class="control-label"><span class="color-danger">*</span>Ödeme Günü</label>
                                                            <input type="text" name="contractPayDate" id="contractPayDate" value="@(String.IsNullOrEmpty(PAYMENT_DAY) ? (!string.IsNullOrEmpty(CONTRACT_TYPE) && CONTRACT_TYPE=="1" ? "30" : "15") : PAYMENT_DAY)" class="form-control touchspin payDay" data-min='0' data-max="365" data-step="1" required>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <label for="contractDiscount" class="control-label">İlaç İndirim Oranı</label>
                                                            <input type="text" name="contractDiscount" id="contractDiscount" value="@(!String.IsNullOrEmpty(DISCOUNT_RATIO) ? DISCOUNT_RATIO.Replace(',','.') : "0")" class="form-control touchspin" data-min='0' data-max="100" data-step="0.1" data-decimals="2" data-boostat="5" data-maxboostedstep="10" data-postfix="%">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="contractNo" class="control-label"><span class="color-danger">*</span>Sözleşme No</label>
                                                    <input name="contractNo" class="form-control" value="@CONTRACT_NO" placeholder="Sözleşme No giriniz" type="number" minlength="1" maxlength="200" id="contractNo" required />
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="contractStartDate" class="control-label"><span class="color-danger">*</span>Başlangıç Tarihi</label>
                                                    <div class='input-group mb-20' id="contractFormStartDate">
                                                        <input type='text' class="form-control dateMask" name="contractStartDate" value="@(string.IsNullOrEmpty(START_DATE) ? DateTime.Now.ToString("dd-MM-yyyy") : START_DATE)" id="contractStartDate" required />
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label for="contractEndDate" class="control-label">Bitiş Tarihi</label>
                                                    <div class='input-group mb-20' id="contractFormEndDate">
                                                        <input type='text' class="form-control dateMask" name="contractEndDate" value="@(string.IsNullOrEmpty(END_DATE)? "" :END_DATE)" id="contractEndDate" />
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="revisionDate" class="control-label"><span class="color-danger">*</span>@(isEdit ? "Revizyon Tarihi" : "Geçerlilik Tarihi")</label>
                                                    <div class='input-group datepicker mb-20'>
                                                        <input type='text' class="form-control dateMask" name="revisionDate" value="@(string.IsNullOrEmpty(REVISION_DATE)? DateTime.Now.ToString("dd-MM-yyyy"):REVISION_DATE)" id="revisionDate" required />
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="mbui-inside-form mb-20 b-full mbui-panel">

                                        <div class="mbui-inside-header heading-color">
                                            <h4>Networkler</h4>
                                            <ul class="mbui-controls">
                                                <li>
                                                    <a onclick="CreateData('frmNetwork');" tabindex="0" data-toggle="modal" data-target="#frmNetwork_Modal"  class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="mbui-body mbui-inside-body active popup-scroll mbui-panel-scroll">
                                            <div class="table-responsive">
                                                <table class="table table-md table-custom" id="tblNetwork">
                                                    <thead>
                                                        <tr>
                                                            <th>Network</th>
                                                            <th>Sigorta Şirketleri</th>
                                                            <th>İşlemler</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                        <input type="hidden" id="hdNetworks" name="hdNetworks" value="" />
                                    </div>

                                    <div class="mbui-form mbui-inside-form mb-20 b-full mbui-panel">
                                        <div class="mbui-header mbui-inside-header heading-color">
                                            <h4>Ücretlendirme</h4>
                                            <ul class="mbui-controls">
                                                <li>
                                                    <a onclick="CreateData('frmProcessGroup');" tabindex="0" data-toggle="modal" data-target="#frmProcessGroup_Modal" class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="mbui-body mbui-inside-body popup-scroll mbui-panel-scroll">
                                            <div class="table-responsive">
                                                <table class="table table-md table-custom" id="tblProcessGroup">
                                                    <thead>
                                                        <tr>
                                                            <th>Hizmet Adı</th>
                                                            <th>Tip</th>
                                                            <th>Anlaşma Oranı</th>
                                                            <th>İşlemler</th>
                                                        </tr>
                                                    </thead>
                                                </table>

                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" id="hdProcessGroups" name="hdProcessGroups" value="" />
                                    
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <button onclick="Loading();" type="submit" id="btnContractSave" class="btn btn-success btn-sm mr-10">@(ViewBag.Contract != null ? "Güncelle" : "Kaydet")</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Modal frmNetwork_Modal -->
    <div class="modal" id="frmNetwork_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Yeni Network Ekle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post" id="frmNetwork">
                                    <fieldset>
                                        <input type="hidden" name="CONTRACT_NETWORK_ID" id="CONTRACT_NETWORK_ID" value="0" />

                                        <input type="hidden" name="STATUS" id="frmNetwork_STATUS" value="0" />
                                        <input type="hidden" name="ClientId" id="frmNetwork_ClientId" value="0" />
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">

                                                    <div class="col-sm-12">
                                                        <label for="COMPANY_NAME_Array" class="control-label"><span class="color-danger">*</span>Şirketler</label>
                                                        <select tabindex="3" class="chosen-select" id="COMPANY_NAME_Array" name="COMPANY_NAME_Array" title="Seçiniz" multiple required>
                                                            <option value=""></option>                           
                                                            @foreach (var Company in ViewBag.CompanyList)
                                                            { 
                                                                <option value="@Company.Id" data-code="@Company.Name">@Company.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="col-sm-12">

                                                <label for="NETWORK_ID" class="control-label"><span class="color-danger">*</span>Network</label>
                                                <select tabindex="3" class="chosen-select" id="NETWORK_ID" name="NETWORK_ID" title="Seçiniz" required>
                                                    <option value=""></option>
                                                    @foreach (var Network in ViewBag.NetworkList)
                                                    {
                                                        <option value="@Network.Id">@Network.Name</option>
                                                    }
                                                </select>

                                            </div>
                                        </div>

                                        <div class="btn-wrapper-center">
                                            <button type="button" id="btnfrmNetworkSave" onclick="ValidateAndSave('frmNetwork', 'hdNetworks','frmNetwork_Modal','tblNetwork');" class="btn btn-success btn-sm mr-10" >Kaydet</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmProcessGroup_Modal -->
    <div class="modal" id="frmProcessGroup_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Hizmet Grubu Seçimi</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post" id="frmProcessGroup">
                                    <fieldset>
                                        <input type="hidden" class="inputHidden" name="CONTRACT_PROCESS_GROUP_ID" id="CONTRACT_PROCESS_GROUP_ID" value="0" />

                                        <input type="hidden" class="inputHidden" name="STATUS" id="frmProcessGroup_STATUS" value="0" />
                                        <input type="hidden" class="inputHidden" name="ClientId" id="frmProcessGroup_ClientId" value="0" />
                                        <input type="hidden" class="inputHidden" id="hdProcessGroup" name="hdProcessGroup" value="0" />

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="PROCESS_LIST_ID" class="control-label"><span class="color-danger">*</span>Hizmet Listesi</label>
                                                <select class="chosen-select" title="Seçiniz" name="PROCESS_LIST_ID" id="PROCESS_LIST_ID" onchange="FillProcessGroup('PROCESS_LIST_ID', 'PROCESS_GROUP_ID','hdProcessGroup');" required>
                                                    <option value=""></option>
                                                    @foreach (var ProcessList in ViewBag.ProcessListList)
                                                    {
                                                        <option value="@ProcessList.Id">@ProcessList.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="PROCESS_GROUP_ID" class="control-label"><span class="color-danger">*</span>Hizmet Grubu</label>
                                                <select class="chosen-select" title="Seçiniz" name="PROCESS_GROUP_ID" id="PROCESS_GROUP_ID" required></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="PRICING_TYPE" class="control-label"><span class="color-danger">*</span>Fiyat Tipi</label>
                                                <select name="PRICING_TYPE" id="PRICING_TYPE" class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" required>
                                                    @foreach (var PriceType in ViewBag.PriceTypeList)
                                                    {
                                                        <option value="@PriceType.Key">@PriceType.Value</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="AMOUNT" class="control-label"><span class="color-danger">*</span>Anlaşma Oranı</label>
                                                <input type="number" name="AMOUNT" id="AMOUNT" value="1" class="form-control" data-min='0' data-max="100" data-step="0.1" data-decimals="2" data-boostat="5" data-maxboostedstep="10000000000" required>
                                                @*<input name="amount" class="form-control" placeholder="0,00" />*@
                                            </div>
                                        </div>

                                        <div class="btn-wrapper-center">
                                            <button type="button" id="btnfrmProcessGroupSave" onclick="ValidateAndSave('frmProcessGroup', 'hdProcessGroups', 'frmProcessGroup_Modal','tblProcessGroup');" class="btn btn-success btn-sm mr-10">Kaydet</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        LoadProcessGroup();
        LoadNetwork();
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });
    
    function ValidateAndSave(frm, hdi, modalId, tbl) {

        var form = $('#' + frm);

        $.validator.setDefaults({ ignore: ":hidden:not(.chosen-select)" })
        form.validate();

        if (form.valid()) {
            addData(frm, hdi);
            RefreshTable(tbl, hdi);
            $("#" + modalId).modal("toggle");

        } else {
            swal({
                title: "Hata",
                text: "Zorunlu alanları doldurunuz!",
                icon: "success"
            });
        }
    }

    function ChangePayDay(typeInput, payDayInput) {
        var type = $('#' + typeInput).val();
        if (type == "1") {
            $('#' + payDayInput).val("30");
        }
        else {
            $('#' + payDayInput).val("15");
        }
    }

    function LoadNetwork() {

        var frm = "frmNetwork"
        var tbl = "tblNetwork";
        var hdi = "hdNetworks";
        var updateFunc = "UpdateNetwork";

        if ($('#' + tbl).length > 0) {

            var jsonValue = '@Html.Raw(jsonNetworks)';
            var data = JSON.parse(jsonValue);
            $('#' + hdi).val(JSON.stringify(data));

            if (jsonValue != "") {
                var data = JSON.parse(jsonValue);
            }

            var table = $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": false,
                "data": data,
                "columns": [
                    { "data": "NETWORK_IDSelectedText" },
                    {
                        "data": "COMPANY_NAME_ArraySelectedText",
                        "render": function (data) {
                            var result = '';
                            if (data.length > 1) {
                                for (var i = 0; i < data.length; i++) {
                                    result += '<span class="text btn-success" >' + data[i] + '</span>&nbsp;&nbsp;&nbsp;';
                                }
                            }
                            else {
                                result += '<span class="text btn-success">' + data + '</span>';
                            }
                            return result;
                        }
                    },
                    {
                        "data": "id",
                        "render": function (data) {
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<span class="myIcon icon-warning"  data-toggle="modal" data-target="#' + frm + '_Modal" data-tooltip="tooltip" data-placement="bottom" title="Düzenle" onclick="' + updateFunc + '(\'' + frm + '\',\'' + hdi + '\',\'' + data + '\');RefreshTable(\'' + tbl + '\',\'' + hdi + '\');">' +
                                '<i class="fa fa-pencil-square-o"></i>' +
                                '</span>' +
                                '<span class="myIcon icon-danger" onclick="ConfirmDelete(\'Sil\',\'Silmek istediğinizden emin misiniz ? \',\'warning\',\'' + hdi + '\',\'' + data + '\',\'' + tbl + '\');" data-tooltip="tooltip" data-placement="bottom" title="Sil">' +
                                '<i class="fa fa-trash-o"></i>' +
                                '</span>' +                               
                                '</div>' +
                                '</div>';
                        }
                    }
                ]
            });

            RefreshTable(tbl, hdi);
        }
    }

    function UpdateNetwork(frm, hdi, id) {
        debugger;
        var hiddenInput = $("#" + hdi);
        var jsons = new Array();
        jsons = JSON.parse(hiddenInput.val());

        $.each(jsons, function (i, item) {
            if (item.id == id) {
                $('#' + frm + '_ClientId').val(id);
                $("#COMPANY_NAME_Array").val(item.COMPANY_NAME_ArraySelectedId);
                $('#COMPANY_NAME_Array').trigger("chosen:updated");
                $('#NETWORK_ID').val(item.NETWORK_ID);
                $('#NETWORK_ID').trigger("chosen:updated");
                $('#btnfrmNetworkSave').html("GÜNCELLE");
            }
        });
    }

    function LoadProcessGroup() {

        var frm = "frmProcessGroup"
        var tbl = "tblProcessGroup";
        var hdi = "hdProcessGroups";
        var updateFunc = "UpdateProcessGroup";

        if ($('#' + tbl).length > 0) {

            var jsonValue = '@Html.Raw(jsonProcessGroups)';
            var data = JSON.parse(jsonValue);
            $('#' + hdi).val(JSON.stringify(data));

            if (jsonValue != "") {
                var data = JSON.parse(jsonValue);
            }

            var table = $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": false,
                "data": data,
                "columns": [
                    { "data": "PROCESS_GROUP_IDSelectedText" },
                    { "data": "PRICING_TYPESelectedText" },
                    { "data": "AMOUNT" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<span class="myIcon icon-warning"  data-toggle="modal" data-target="#' + frm +'_Modal" data-tooltip="tooltip" data-placement="bottom" title="Düzenle" onclick="' + updateFunc + '(\'' + frm + '\',\'' + hdi + '\',\'' + data + '\');RefreshTable(\'' + tbl + '\',\'' + hdi + '\');">' +
                                '<i class="fa fa-pencil-square-o"></i>' +
                                '</span>' +
                                '<span class="myIcon icon-danger" onclick="ConfirmDelete(\'Sil\',\'Silmek istediğinizden emin misiniz ? \',\'warning\',\'' + hdi + '\',\'' + data + '\',\'' + tbl + '\');" data-tooltip="tooltip" data-placement="bottom" title="Sil"">' +
                                '<i class="fa fa-trash-o"></i>' +
                                '</span>' +
                                '</div>' +
                                '</div>';
                        }
                    }
                ]
            });

            RefreshTable(tbl, hdi);
        }
    }

    function UpdateProcessGroup(frm, hdi, id) {

        var hiddenInput = $("#" + hdi);
        var jsons = new Array();
        jsons = JSON.parse(hiddenInput.val());
        $.each(jsons, function (i, item) {

            if (item.id == id) {
                $('#' + frm + '_ClientId').val(id);
                $('#' + frm + '_STATUS').val(item.STATUS);

                $("#hdProcessGroup").val(item.PROCESS_GROUP_ID);

                $('#CONTRACT_PROCESS_GROUP_ID').val(item.CONTRACT_PROCESS_GROUP_ID);
                $('#PROCESS_LIST_ID').val(item.PROCESS_LIST_ID).trigger("chosen:updated").change();
                $('#PROCESS_GROUP_ID').val(item.PROCESS_GROUP_ID).trigger("chosen:updated");

                $('#PRICING_TYPE').val(item.PRICING_TYPE).change();
                $('#AMOUNT').val(item.AMOUNT);

                $('#btnfrmProcessGroupSave').html("GÜNCELLE");
                $('#PROCESS_GROUP_ID').val(item.PROCESS_GROUP_ID).change();

            }
        });
    }

    function setStatus(value) {
        $('#contractStatus').val(value);
    }

</script>