﻿@model Protein.Web.Models.ExportModel.ExportVM
@{
    Layout = "~/Views/Provider/_PaymentListLayout.cshtml";
}
<section class="content" style="margin-top: 0px;">
    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Ödeme Listesi (HALK SİGORTA)</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="10">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-toggle="modal" data-target="#modalExport" class="mbui-exel">
                                        <i class="ExcelExport fa fa-file-excel-o"></i> Excel
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active">
                    <form class="form-horizontal" role="form" action="" method="post" id="frmPaymentList" data-toggle="validator">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="payrollNo" class="control-label">Zarf No</label>
                                            <input name="payrollNo" class="form-control" id="payrollNo" placeholder="İcmal noyu giriniz" type="text" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="claimNo" class="control-label">Hasar No</label>
                                            <input name="claimNo" class="form-control" id="claimNo" placeholder="Provizyon noyu giriniz" type="text" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <label for="paymentStartDate" class="control-label">Ödeme Başlangıç Tarih</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control" name="paymentStartDate" id="paymentStartDate" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <label for="paymentEndDate" class="control-label">Ödeme Bitiş Tarih</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control" name="paymentEndDate" id="paymentEndDate" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                            </div>

                            <input type="hidden" name="hdProviderId" id="hdProviderId" value="@ViewBag.ProviderId" />
                            <input type="hidden" name="isFilter" id="isFilter" value="@(ViewBag.isFilter != "0" ? "1" : "0")" />

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" onclick="Fclick('tblPaymentList')" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-custom" id="tblPaymentList">
                                <thead>
                                    <tr>
                                        <th>Şirket</th>
                                        <th>Zarf No</th>
                                        <th>Hasar No</th>
                                        <th>Sigortalı Adı Soyadı</th>
                                        <th>Fatura No</th>
                                        <th>Fatura Tarihi</th>
                                        <th>Durum</th>
                                        <th>Ödeme Tarihi</th>
                                        <th>Ödeme Tutar (TL)</th>
                                        <th>Banka</th>
                                        <th>IBAN</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model)
</section>


<script>
    var table = null;
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));

        $('.mbui-list .dropdown-menu li a').click(function () {
            var dataShow = $(this).attr('data-value');
            $('.dataTables_length select option').prop('selected', '');
            $(this).closest('.mbui-form').find('.dataTables_length select option[value="' + dataShow + '"]').prop('selected', 'selected').trigger('change');
        });

        table=$("#tblPaymentList").DataTable({
            "ajax": {
                "url": "/Provider/GetPaymentList",
                "type": "POST",
                "datatype": "json",
                "data": function (a) {
                    a.payrollNo = $('#payrollNo').val();
                    a.claimNo = $('#claimNo').val();
                    a.paymentStartDate = $('#paymentStartDate').val();
                    a.paymentEndDate = $('#paymentEndDate').val();
                    a.providerId = $('#hdProviderId').val();
                    a.isFilter = $('#isFilter').val();
                    return a;
                },
                "complete": function (settings, json) {
                    var responseText = JSON.parse(settings.responseText);
                    $("#WhereCondition").val(responseText.whereConditition);
                }
            },
            "columns": [
                { "data": "COMPANY_NAME", "name": "COMPANY_NAME" },
                { "data": "PAYROLL_ID", "name": "PAYROLL_ID" },
                { "data": "CLAIM_ID", "name": "CLAIM_ID" },
                { "data": "INSURED_NAME_SURNAME", "name": "INSURED_NAME_SURNAME" },
                { "data": "BILL_NO", "name": "BILL_NO" },
                {
                    "data": "BILL_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                {
                    "data": "CLAIM_STATUS",
                    "render": function (data) {
                        if (data == 0) {
                            return 'GİRİŞ';
                        } else if (data == 1) {
                            return 'SİLİNDİ';
                        } else if (data == 2) {
                            return 'PROVİZYON';
                        } else if (data == 3) {
                            return 'BEKLEME';
                        } else if (data == 4) {
                            return 'RET';
                        } else if (data == 5) {
                            return 'ÖDENECEK';
                        } else if (data == 6) {
                            return 'İPTAL';
                        } else if (data == 7) {
                            return 'ÖDENDİ';
                        }
                        return '';
                    }
                },
                { "data": "PAYMENT_DATE", "name": "PAYMENT_DATE" },
                { "data": "PAID", "name": "PAID" },
                { "data": "BANK_NAME", "name": "BANK_NAME" },
                { "data": "IBAN", "name": "IBAN" }
            ],
            pageLength: 10,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    });

    function Fclick(tbl) {
        $('#isFilter').val("1");
        table.ajax.reload();
    }

</script>