﻿@model Protein.Web.Models.ExportModel.ExportVM
<section class="content">
    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Kurum</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a href="/Provider/ProviderForm" tabindex="0" class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="15">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="modal" data-target="#modalExport" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle import" data-toggle="dropdown">
                                <i class="fa fa-download" data-tooltip="tooltip" data-placement="bottom" title="İçe Aktar"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Excel
                                    </a>
                                </li>

                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel" href="/assets/excelfiles/ANLASMALI_KURUM.xlsx">
                                        <i class="fa fa-file-excel-o"></i> Örnek Dosya
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active Enterclick">
                    <form class="form-horizontal" role="form" action="/Provider/ProviderFilter" method="post">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerName" class="control-label">Kurum Adı</label>
                                    <input name="providerName" class="form-control" id="providerName" placeholder="Kurum adı giriniz" type="text" value="@ViewBag.providerName" />
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerCode" class="control-label">Kodu</label>
                                    <input name="providerCode" class="form-control" id="providerCode" placeholder="Kodu giriniz" type="number" value="@ViewBag.providerCode" />
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerType" class="control-label">Kurum Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="providerType" id="providerType" title="Seçiniz">
                                        @foreach (var ProviderType in ViewBag.ProviderTypeList)
                                        {
                                            <option value="@ProviderType.Key" @(Convert.ToString(ProviderType.Key) == ViewBag.providerType ? "selected" : "")>@ProviderType.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerTaxNumber" class="control-label">Vergi No</label>
                                    <input name="providerTaxNumber" class="form-control" id="providerTaxNumber" placeholder="Vergi No giriniz" type="number" value="@ViewBag.providerTaxNumber" />
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerCity" class="control-label">İl</label>
                                    <select class="form-control" name="providerCity" id="providerCity" title="Seçiniz" onchange="FillCounty('providerCity', 'providerCounty');">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var CityList in ViewBag.CityList)
                                        {
                                            <option value="@CityList.Id" @(Convert.ToString(CityList.Id) == ViewBag.providerCity ? "selected" : "")>@CityList.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerCounty" class="control-label">İlçe</label>
                                    <select class="form-control" name="providerCounty" id="providerCounty" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var County in ViewBag.CountyList)
                                        {
                                            <option value="@County.Id" @(Convert.ToString(County.Id) == ViewBag.providerCounty ? "selected" : "")>@County.Name</option>
                                        }

                                    </select>
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerGroup" class="control-label">Kurum Grubu</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" name="providerGroup" id="providerGroup">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var ProviderGroup in ViewBag.ProviderGroupList)
                                        {
                                            <option value="@ProviderGroup.Id" @(Convert.ToString(ProviderGroup.Id) == ViewBag.providerGroup ? "selected" : "")>@ProviderGroup.Name</option>
                                        }
                                    </select>
                                </div>



                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerTitle" class="control-label">Ticari Unvanı</label>
                                    <input name="providerTitle" class="form-control" placeholder="Ticari Unvanı giriniz" type="text" id="providerUnvani" value="@ViewBag.providerTitle" />
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="providerContractType" class="control-label">Sözleşme Tipi</label>
                                    <select name="providerContractType" id="providerContractType" class="selectpicker w-100-pr mbui-select bg-white" multiple title="Seçiniz">
                                        @foreach (var ContractType in ViewBag.ContractTypeList)
                                        {
                                            <option value="@ContractType.Key">@ContractType.Value</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <input type="hidden" name="isFilter" id="isFilter" value="0" />

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" onclick="Filter();" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtrele</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" onclick="FilterClean();" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtreleri Temizle</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-md table-custom" id="tblProvider">
                                <thead>
                                    <tr>
                                        <th>Kodu</th>
                                        <th>Adı</th>
                                        <th>Ticari Unvanı</th>
                                        <th>Kurum Tipi</th>
                                        <th>İl</th>
                                        <th>İlçe</th>
                                        @*<th>İletişim</th>*@
                                        <th>TSS</th>
                                        <th>ÖSS</th>
                                        <th>Doğum</th>
                                        <th>MDP</th>
                                        <th>Durum</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>

                                @*<tbody>
                                        @foreach (var Provider in ViewBag.ProviderList)
                                        {
                                            <tr>
                                                <td>@Provider.PROVIDER_ID</td>
                                                <td>@Provider.PROVIDER_NAME</td>
                                                <td>@Provider.PROVIDER_TITLE</td>
                                                <td>@Provider.PROVIDER_TYPE_TEXT</td>
                                                <td>@Provider.CITY_NAME</td>
                                                <td>@Provider.COUNTY_NAME</td>
                                                @if (Provider.TSS_CONTRACT_ID != null)
                                                {
                                                    <td class="islem pro-onay">
                                                        <div class="btn-group">
                                                            <a href="#" class="onay myIcon icon-success" data-tooltip="tooltip" data-placement="bottom" title="Var"><i class="fa fa-check"></i></a>
                                                            <a href="/Provider/ContractForm/Edit/@Provider.TSS_CONTRACT_ID" class="goruntule myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>
                                                        </div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="islem pro-red">
                                                        <div class="btn-group">
                                                            <a href="#" class="red myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Yok"><i class="fa fa-times"></i></a>
                                                            <a href="/Provider/ContractForm/Create/@(Provider.PROVIDER_ID+"-0")" class="ekle myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Ekle"><i class="fa fa-plus"></i></a>
                                                        </div>
                                                    </td>
                                                }

                                                @if (Provider.OSS_CONTRACT_ID != null)
                                                {
                                                    <td class="islem pro-onay">
                                                        <div class="btn-group">
                                                            <a href="#" class="onay myIcon icon-success" data-tooltip="tooltip" data-placement="bottom" title="Var"><i class="fa fa-check"></i></a>
                                                            <a href="/Provider/ContractForm/Edit/@Provider.OSS_CONTRACT_ID" class="goruntule myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>
                                                        </div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="islem pro-red">
                                                        <div class="btn-group">
                                                            <a href="#" class="red myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Yok"><i class="fa fa-times"></i></a>
                                                            <a href="/Provider/ContractForm/Create/@(Provider.PROVIDER_ID+"-1")" class="ekle myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Ekle"><i class="fa fa-plus"></i></a>
                                                        </div>
                                                    </td>
                                                }

                                                @if (Provider.DOGUM_CONTRACT_ID != null)
                                                {
                                                    <td class="islem pro-onay">
                                                        <div class="btn-group">
                                                            <a href="#" class="onay myIcon icon-success" data-tooltip="tooltip" data-placement="bottom" title="Var"><i class="fa fa-check"></i></a>
                                                            <a href="/Provider/ContractForm/Edit/@Provider.DOGUM_CONTRACT_ID" class="goruntule myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>
                                                        </div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="islem pro-red">
                                                        <div class="btn-group">
                                                            <a href="/Provider/ContractForm" class="red myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Yok"><i class="fa fa-times"></i></a>
                                                            <a href="/Provider/ContractForm/Create/@(Provider.PROVIDER_ID+"-2")" class="ekle myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Ekle"><i class="fa fa-plus"></i></a>
                                                        </div>
                                                    </td>
                                                }

                                                @if (Provider.MDP_CONTRACT_ID != null)
                                                {
                                                    <td class="islem pro-onay">
                                                        <div class="btn-group">
                                                            <a href="#" class="onay myIcon icon-success" data-tooltip="tooltip" data-placement="bottom" title="Var"><i class="fa fa-check"></i></a>
                                                            <a href="/Provider/ContractForm/Edit/@Provider.MDP_CONTRACT_ID" class="goruntule myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>
                                                        </div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="islem pro-red">
                                                        <div class="btn-group">
                                                            <a href="#" class="red myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Yok"><i class="fa fa-times"></i></a>
                                                            <a href="/Provider/ContractForm/Create/@(Provider.PROVIDER_ID+"-3")" class="ekle myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Ekle"><i class="fa fa-plus"></i></a>
                                                        </div>
                                                    </td>
                                                }

                                                @if ((Provider.MDP_CONTRACT_ID == null) && (Provider.TSS_CONTRACT_ID == null) && (Provider.OSS_CONTRACT_ID == null) && (Provider.DOGUM_CONTRACT_ID == null))
                                                {
                                                    <td>
                                                        <p class="durum color-default"><strong>PASİF</strong></p>
                                                    </td>
                                                }
                                                else if ((Provider.MDP_CONTRACT_ID != null) || (Provider.TSS_CONTRACT_ID != null) || (Provider.OSS_CONTRACT_ID != null) || (Provider.DOGUM_CONTRACT_ID != null))
                                                {
                                                    <td>
                                                        <p class="durum color-success"><strong>AKTİF</strong></p>
                                                    </td>
                                                }

                                                <td class="islem">
                                                    <div class="btn-group fr">
                                                        <a href="/Provider/ProviderForm/Edit/@Provider.PROVIDER_ID" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>

                                                        <a onclick="Confirm('Sil','Silmek istediğinizden emin misiniz?','warning','/Provider/ProviderDelete/@Provider.PROVIDER_ID');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>*@

                            </table>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal modal-first" id="" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <div class="mbui-form">
                                    <form class="form-horizontal" role="form" action="" method="post">

                                        <p><strong>Telefon Numarası: </strong>+90 (212) 012 23 23</p>

                                        <p><strong>E-posta: </strong>posta@posta.com.tr</p>


                                        <div class="mbui-inside-form mb-20 b-full mbui-panel">

                                            <div class="mbui-inside-header heading-color">
                                                <h4>İletişim Bilgileri</h4>
                                                <ul class="mbui-controls">

                                                    <li>
                                                        <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                            <span class="mbui-minimize"><i class="fa fa-angle-down" data-tooltip="tooltip" data-placement="bottom" title="Göster"></i></span>
                                                            <span class="mbui-expand"><i class="fa fa-angle-up" data-tooltip="tooltip" data-placement="bottom" title="Gizle"></i></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="mbui-body mbui-inside-body">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label for="providerAdress" class="control-label">Adres</label>
                                                        <input name="providerAdress" class="form-control" id="providerAdress" type="text" />
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <label for="district" class="control-label">Semt</label>
                                                        <input name="district" class="form-control" id="district" type="text" />
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <label for="country" class="control-label">Ülke</label>
                                                        <input name="country" class="form-control" id="country" type="text" />
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <label for="province" class="control-label">İl</label>
                                                        <input name="province" class="form-control" id="province" type="text" />
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <label for="district" class="control-label">İlçe</label>
                                                        <input name="district" class="form-control" id="district" type="text" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="btn-wrapper-center">
                                            <button type="button" class="btn btn-warning btn-sm mr-10">Düzenle</button>
                                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">İptal</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal modal-second" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="table-responsive">
                                <table class="table table-md table-custom">
                                    <thead>
                                        <tr>
                                            <th>Version No</th>
                                            <th>Değişiklik Tarihi</th>
                                            <th>Eski Değer</th>
                                            <th>Yeni Değer</th>
                                            <th>İşlem Yapılan Alan</th>
                                            <th>İşlem Yapan</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>23/12/2017</td>
                                            <td>Eski Değer</td>
                                            <td>Yeni Değer</td>
                                            <td>İşlem Yapılan Alan</td>
                                            <td>İşlem Yapan</td>
                                        </tr>

                                        <tr>
                                            <td>2</td>
                                            <td>03/10/2016</td>
                                            <td>Eski Değer</td>
                                            <td>Yeni Değer</td>
                                            <td>İşlem Yapılan Alan</td>
                                            <td>İşlem Yapan</td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model)
</section>

<script>
    var tblProvider = null;
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
        LoadProviderList();
    });

    function LoadProviderList() {
        tblProvider = $("#tblProvider").DataTable({
            "ajax": {
                "url": "/Provider/GetProviderList",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                "data": function (item) {
                    item.providerName = $('#providerName').val();
                    item.providerCode = $('#providerCode').val();
                    item.providerType = $('#providerType').val();
                    item.providerTaxNumber = $('#providerTaxNumber').val();
                    item.providerCity = $('#providerCity').val();
                    item.providerCounty = $('#providerCounty').val();
                    item.providerGroup = $('#providerGroup').val();
                    item.providerUnvani = $('#providerUnvani').val();
                    item.providerContractType = $('#providerContractType').val();
                    item.isFilter = $('#isFilter').val();
                },
                "complete": function (settings, json) {
                    $.unblockUI();
                    var responseText = JSON.parse(settings.responseText);
                    
                    if (responseText.message != "1" ) {
                        swAlert(responseText.message);

                        }
                    
                    $("#WhereCondition").val(responseText.whereConditition);
                },
                "error": function () {
                    $.unblockUI();
                }
            },
            "columns": [
                { "data": "PROVIDER_ID", "name": "PROVIDER_ID" },
                { "data": "PROVIDER_NAME", "name": "PROVIDER_NAME" },
                { "data": "PROVIDER_TITLE", "name": "PROVIDER_TITLE" },
                {
                    "data": "PROVIDER_TYPE",
                    "render": function (data) {
                        return '<p><strong>' + GetValueOfEnum('ProviderType', data) + '</strong></p>';
                    }
                },
                { "data": "CITY_NAME", "name": "CITY_NAME" },
                { "data": "COUNTY_NAME", "name": "COUNTY_NAME" },
                {

                    "data": null,
                    "render": function (data) {
                        if (data.TSS_CONTRACT_ID != null) {
                            return '<div class="islem pro-onay">' +
                                '<div class="btn-group">' +
                                '<a href="#" class="onay myIcon icon-success" data-tooltip="tooltip" data-placement="bottom" title="Var"><i class="fa fa-check"></i></a>' +
                                '<a href="/Provider/ContractForm/Edit/'+data.TSS_CONTRACT_ID+'" class="goruntule myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>' +
                                '</div>' +
                                '</div>';
                        }
                        else {
                            return '<div class="islem pro-red">' +
                                '<div class="btn-group">' +
                                '<a href="#" class="red myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Yok"><i class="fa fa-times"></i></a>' +
                                '<a href="/Provider/ContractForm/Create/' + data.PROVIDER_ID + '-0" class="ekle myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Ekle"><i class="fa fa-plus"></i></a>' +
                                '</div>' +
                                '</div>';
                        }
                    }
                },
                {

                    "data": null,
                    "render": function (data) {
                        if (data.OSS_CONTRACT_ID != null) {
                            return '<div class="islem pro-onay">' +
                                '<div class="btn-group">' +
                                '<a href="#" class="onay myIcon icon-success" data-tooltip="tooltip" data-placement="bottom" title="Var"><i class="fa fa-check"></i></a>' +
                                '<a href="/Provider/ContractForm/Edit/' + data.OSS_CONTRACT_ID+'" class="goruntule myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>' +
                                '</div>' +
                                '</div>';
                        }
                        else {
                            return '<div class="islem pro-red">' +
                                '<div class="btn-group">' +
                                '<a href="#" class="red myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Yok"><i class="fa fa-times"></i></a>' +
                                '<a href="/Provider/ContractForm/Create/' + data.PROVIDER_ID + '-1" class="ekle myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Ekle"><i class="fa fa-plus"></i></a>' +
                                '</div>' +
                                '</div>';
                        }
                    }
                },
                {

                    "data": null,
                    "render": function (data) {
                        if (data.DOGUM_CONTRACT_ID != null) {
                            return '<div class="islem pro-onay">' +
                                '<div class="btn-group">' +
                                '<a href="#" class="onay myIcon icon-success" data-tooltip="tooltip" data-placement="bottom" title="Var"><i class="fa fa-check"></i></a>' +
                                '<a href="/Provider/ContractForm/Edit/' + data.DOGUM_CONTRACT_ID+'" class="goruntule myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>' +
                                '</div>' +
                                '</div>';
                        }
                        else {
                            return '<div class="islem pro-red">' +
                                '<div class="btn-group">' +
                                '<a href="#" class="red myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Yok"><i class="fa fa-times"></i></a>' +
                                '<a href="/Provider/ContractForm/Create/' + data.PROVIDER_ID + '-2" class="ekle myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Ekle"><i class="fa fa-plus"></i></a>' +
                                '</div>' +
                                '</div>';
                        }
                    }
                },
                {

                    "data": null,
                    "render": function (data) {
                        if (data.MDP_CONTRACT_ID != null) {
                            return '<div class="islem pro-onay">' +
                                '<div class="btn-group">' +
                                '<a href="#" class="onay myIcon icon-success" data-tooltip="tooltip" data-placement="bottom" title="Var"><i class="fa fa-check"></i></a>' +
                                '<a href="/Provider/ContractForm/Edit/' + data.MDP_CONTRACT_ID+'" class="goruntule myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>' +
                                '</div>' +
                                '</div>';
                        }
                        else {
                            return '<div class="islem pro-red">' +
                                '<div class="btn-group">' +
                                '<a href="#" class="red myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Yok"><i class="fa fa-times"></i></a>' +
                                '<a href="/Provider/ContractForm/Create/' + data.PROVIDER_ID + '-3" class="ekle myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Ekle"><i class="fa fa-plus"></i></a>' +
                                '</div>' +
                                '</div>';
                        }
                    }
                },
                {

                    "data": null,
                    "render": function (data) {
                        if (data.MDP_CONTRACT_ID == null && data.DOGUM_CONTRACT_ID == null && data.OSS_CONTRACT_ID == null && data.TSS_CONTRACT_ID == null) {
                            return '<p class="durum color-default"><strong>PASİF</strong></p>';
                        }
                        else {
                            return '<p class="durum color-success"><strong>AKTİF</strong></p>';
                        }
                    }
                },
                {

                    "data": null,
                    "render": function (data) {
                        return '<div class="islem">' +
                            '<div class="btn-group fr">' +
                            '<a href="/Provider/ProviderForm/Edit/'+data.PROVIDER_ID+'" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>' +
                            '<a onclick="Confirm(\'Sil\',\'Silmek istediğinizden emin misiniz ? \',\'warning\',\'/Provider/ProviderDelete/ ' + data.PROVIDER_ID + '\');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>' +
                            '</div>' +
                            '</div>';
                    }
                }
            ],
            pageLength: 10,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı. Filtreleme Yapınız.",
                "infoEmpty": "Kayıt Bulunamadı. Filtreleme Yapınız.",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    }

    function GetValueOfEnum(typeName, ordinal) {
        debugger;
        if (ordinal != null) {
            if (typeName == "ProviderType") {
                var ProviderTypeList = @Html.Raw(Json.Encode(@ViewBag.ProviderTypeList));
                return ProviderTypeList == null ? "-" : ProviderTypeList[ordinal];
            }
        }
        else {
            return "-";
        }
    }
    function Filter() {
        $('#isFilter').val("1");

        tblProvider.ajax.reload();
    }

    function UpdateStatus24(CONTRACT_ID, CONTRACT_STATUS) {

        console.log("UpdateStatus24 => id:" + CONTRACT_ID + " status: " + CONTRACT_STATUS);

        var data = {
            'id': CONTRACT_ID,
            'status': CONTRACT_STATUS
        }

        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            url: "/Provider/ContractUpdateStatus24",
            cache: false,
            dataType: "json",
            data: JSON.stringify(data),
            beforeSend: function (xhr) {
                console.log('btnSave disabled');
                $('.myIcon').css('pointer-events', 'none');
            },
            success: function (data) {
                console.log('redirect to /Provider/Provider');
                $('.myIcon').css('pointer-events', 'auto');
                window.location.href = "/Provider/Provider";
            },
            error: function (xhr, err) {
                $('.myIcon').css('pointer-events', 'auto');

                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
            }
        })

    }

    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });

    function getEnterFunction() {
        Filter();
    }
</script>