﻿<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">
                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a onclick="Confirm('İptal', 'İptal etmek istediğinizden emin misiniz?', 'warning', '/Provider/ProviderGroup');" role="button" tabindex="0" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                 
                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/Provider/ProviderGroupFormSave" method="post" data-toggle="validator">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="providerGroupName" class="control-label"><span class="color-danger">*</span>Adı</label>
                                                    <input value="@(ViewBag.ProviderGroup!=null ? ViewBag.ProviderGroup.Name : "")" name="providerGroupName" class="form-control" id="departmentName" minlength="1" maxlength="100" placeholder="Bölüm adı giriniz" type="text" required />
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="providerGroupTaxNumber" class="control-label">Vergi Kimlik No</label>
                                                    <input value="@(ViewBag.ProviderGroup!=null ? ViewBag.ProviderGroup.TaxNumber : "")" name="providerGroupTaxNumber" class="form-control money" id="vergiKimlikNo" minlength="10" maxlength="11" placeholder="Vergi Kimlik no giriniz" type="text" />
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <button type="submit" id="prdgrpfrmSbmt" class="btn btn-success btn-sm mr-10">@(ViewBag.ProviderGroup != null ? "Güncelle" : "Kaydet")</button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="hdProviderGroupId" value="@(ViewBag.ProviderGroup != null ? ViewBag.ProviderGroup.Id : "0")" />
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });

    $('.btn.btn-success').click(function () {
        $.blockUI({ message: $('#domMessage') });
    });
</script>