﻿@model Protein.Web.Models.ExportModel.ExportVM

<section class="content">
    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Kurum Grubu</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a href="/Provider/ProviderGroupForm" tabindex="0" class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="10">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-print">
                                        <i class="PrintExport"></i>
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-pdf">
                                        <i class="PdfExport"></i>
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-toggle="modal" data-target="#modalExport" class="mbui-exel">
                                        <i class="ExcelExport fa fa-file-excel-o"></i> Excel
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle import" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="İçe Aktar">
                                <i class="fa fa-download"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Excel
                                    </a>
                                </li>

                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel" href="~/assets/excelfiles/KURUM_GRUBU.xlsx">
                                        <i class="fa fa-file-excel-o"></i> Örnek Dosya
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active">
                    <form class="form-horizontal" role="form" action="/Provider/ProviderGroupFilter" method="post" id="frmProviderGroup" data-toggle="validator">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">

                                <div class="col-xs-6 col-sm-3">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="providerGroupName" class="control-label">Adı</label>
                                            <input name="providerGroupName" class="form-control" id="providerGroupName" placeholder="Adı giriniz" type="text" value="@ViewBag.providerGroupName" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="providerTaxNumber" class="control-label">Vergi Kimlik Numarası</label>
                                            <input name="providerTaxNumber" class="form-control money" id="providerTaxNumber" minlength="10" maxlength="11" placeholder="Vergi Kimlik No giriniz" type="text" value="@ViewBag.providerTaxNumber" />
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" onclick="Fclick('tblProviderGroup')" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                </div>
                            </div>
                            @*<div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExport">
                                        Launch demo modal
                                    </button>
                                </div>
                            </div>*@
                        </div>

                        <div class="table-responsive">
                            <table class="table table-custom" id="tblProviderGroup">
                                <thead>
                                    <tr>
                                        <th>Adı</th>
                                        <th>Vergi Kimlik Numarası</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>

                                @*<tbody>
                                        @foreach (var providerGroup in ViewBag.ProviderGroupList)
                                        {
                                            <tr>
                                                <td>@providerGroup.Name</td>
                                                <td>@providerGroup.TaxNumber</td>
                                                <td class="islem">
                                                    <div class="btn-group fr">
                                                        <a href="/Provider/ProviderGroupForm/View/@providerGroup.Id" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>
                                                        <a href="/Provider/ProviderGroupForm/Edit/@providerGroup.Id" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>
                                                        <a href="/Provider/ProviderGroupDelete/@providerGroup.Id" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>*@

                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model)
</section>


<script>
    var table = null;
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));

        $('.mbui-list .dropdown-menu li a').click(function () {
            var dataShow = $(this).attr('data-value');
            $('.dataTables_length select option').prop('selected', '');
            $(this).closest('.mbui-form').find('.dataTables_length select option[value="' + dataShow + '"]').prop('selected', 'selected').trigger('change');
        });

        table=$("#tblProviderGroup").DataTable({
            "ajax": {
                "url": "/Provider/GetProviderGroupList",
                "type": "POST",
                "datatype": "json",
                "data": function (a) {
                    a.providerGroupName = $('#providerGroupName').val();
                    a.providerTaxNumber = $('#providerTaxNumber').val();
                    return a;
                },
                "complete": function (settings, json) {
                    var responseText = JSON.parse(settings.responseText);
                    $("#WhereCondition").val(responseText.whereConditition);
                }
            },
            "columns": [
                { "data": "Name", "name": "Name" },
                { "data": "TaxNumber", "name": "TAX_NUMBER" },
                {
                    "data": "Id",
                    "render": function (data) {
                        return '<div class="islem">' +
                            '<div class="btn-group fr">' +
                            '<a href="/Provider/ProviderGroupForm/Edit/' + data +'" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>'+
                            '<a onclick="Confirm(\'Sil\',\'Silmek istediğinizden emin misiniz ? \',\'warning\',\'/Provider/ProviderGroupDelete/ ' + data +'\');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>'+
                            '</div>' +
                            '</div>';
                    }
                }
            ],
            pageLength: 10,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });

        //var buttonExcel = new $.fn.dataTable.Buttons(table, {
        //    buttons: [
        //        {
        //            extend: 'excel',
        //            text: ' Excel',
        //            className: 'fa fa-file-excel-o',
        //            filename: $(".row").children('div').children('div').children('div').children('h3').children('strong').html().replace(' ', '').toLowerCase() + 'List',
        //            exportOptions: {
        //                columns: [0, 1]
        //                //modifier: {
        //                //    page: 'all'
        //                //}
        //            }
        //        }]
        //}).container().appendTo($('.ExcelExport'));

        var buttonPdf = new $.fn.dataTable.Buttons(table, {
            buttons: [
                {
                    extend: 'pdf',
                    text: ' Pdf',
                    filename: $(".row").children('div').children('div').children('div').children('h3').children('strong').html().replace(' ', '').toLowerCase(),
                    title: $(".row").children('div').children('div').children('div').children('h3').children('strong').html() + ' Pdf Çıktısı',
                    exportOptions: {
                        columns: [0, 1]
                        //modifier: {
                        //    page: 'all'
                        //}
                    },
                    className: 'fa fa-file-pdf-o'
                }]
        }).container().appendTo($('.PdfExport'));


        var buttonPrint = new $.fn.dataTable.Buttons(table, {
            buttons: [
                {
                    extend: 'print',
                    text: ' Yazdır',
                    className: 'fa fa-file-pdf-o',
                    title: $(".row").children('div').children('div').children('div').children('h3').children('strong').html()
                }]
        }).container().appendTo($('.PrintExport'));


    });

    function Fclick(tbl) {
        table.ajax.reload();
    }



</script>