﻿@model Protein.Web.Models.PayrollModel.PayrollVM
@{
    Layout = "~/Views/Shared/_ProteinCompanyLayout.cshtml";
}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form mbui-inside-form">
                <div class="mbui-header mbui-inside-header">
                    <h3><strong>İcmal/Ödeme Listesi</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="10">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" data-toggle="modal" data-target="#modalExport" class="mbui-exel" style="background-color:green" data-tooltip="tooltip" data-placement="bottom" title="Excel Dışa Aktar">
                                <i class="fa fa-file-excel-o"></i> 
                            </a>
                        </li>

                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body mbui-inside-body active Enterclick">
                    <form class="form-horizontal" role="form" action="/PayrollCompany/Index" method="post">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">

                                <div class="col-sm-2">
                                    <label for="PROVIDER_ID" class="control-label">Kurum</label>
                                    <select tabindex="3" class="chosen-select w-100-pr mbui-select bg-white" id="PROVIDER_ID" name="PROVIDER_ID" title="TÜMÜ"></select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="PROVIDER_Group" class="control-label">Kurum Grubu</label>
                                    <select tabindex="3" class="chosen-select" id="PROVIDER_Group" name="PROVIDER_Group" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var ProviderGroupList in ViewBag.ProviderGroupList)
                                        {
                                            <option value="@ProviderGroupList.Id">@ProviderGroupList.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="payrollNo" class="control-label">İcmal No</label>
                                    <input name="payrollNo" class="form-control" id="payrollNo" placeholder="İcmal noyu giriniz" type="number" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="payrollStatus" class="control-label">İcmal Durum</label>
                                    <select tabindex="3" class="selectpicker w-100-pr mbui-select bg-white" id="payrollStatus" name="payrollStatus" multiple title="Seçiniz">
                                        <option value="">Tümü</option>
                                        @foreach (var item in ViewBag.PayrollStatusList)
                                        {
                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="paymentStartDate" class="control-label">Ödeme Tarihi Başlangıç</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="paymentStartDate" id="paymentStartDate" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="paymentStartDate" class="control-label">Ödeme Tarihi Bitiş</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="paymentEndDate" id="paymentEndDate" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button onclick="FilterClean();" type="button" class="btn btn-rounded btn-default btn-md mt-10 fr mbui-btn">Filtreleri Sıfırla</button>

                                    <button onclick="GetPayrollList();" type="button" class="btn btn-rounded btn-default btn-md mt-10 fr mbui-btn">Filtrele</button>
                                </div>
                            </div>
                            <input type="hidden" name="payrollIsFilter" id="payrollIsFilter" value="0" />
                        </div>
                        <div class="table-responsive">
                            <table class="table table-responsive-sm table-custom" id="tblPayroll">
                                <thead>
                                    <tr>
                                        <th>Detay Görüntüle</th>
                                        <th>İcmal No</th>
                                        <th>Kurum</th>
                                        <th>İcmal Tarihi</th>
                                        <th>İcmal Durum</th>
                                        <th>Ödeme Tarihi</th>
                                        <th>İcmal Tutarı (TL)</th>
                                        <th>Fatura Adeti</th>
                                        @*<th>Banka</th>
                                            <th>IBAN</th>*@
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmBill_Modal -->
    <div class="modal" id="frmBill_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmBill_Modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmBill_Modal">Faturalar</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-md table-custom" id="tblBillList">
                                    <thead>
                                        <tr>
                                            <th>Hasar No</th>
                                            <th>Sigortalı Ad Soyad</th>
                                            <th>Sigortalı TCKN</th>
                                            <th>Poliçe No</th>
                                            <th>Poliçe Baş. Tar.</th>
                                            <th>Ürün Adı</th>
                                            <th>Fatura No</th>
                                            <th>Fatura Tarihi</th>
                                            <th>Hasar Durumu</th>
                                            <th>Ödeme Tarihi</th>
                                            <th>Ödeme Tutarı</th>
                                            <th>Banka Adı</th>
                                            <th>IBAN</th>
                                        </tr>
                                    </thead>
                                </table>
                                <input type="hidden" name="hdBillList" id="hdBillList" value="[]" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model.ExportVM)

</section>
<!-- /.content -->


<script>
    var tblPayroll = null, ttblBillList = null, tblPayrollHistory = null;

    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));

        LoadPayrollList();
        LoadBill();

        $("#PROVIDER_ID").chosen({
            placeholder_text_single: "Seçiniz",
            no_results_text: "Kurum bulunamadı!"
        });
        $("#PROVIDER_ID_chosen").bind("click", function () {
            FillProvider();
        });

        $('#BillTreeList radio').on('click', 'radio', function () {
            selectClaim(item.CLAIM_ID, 'hdClaimId_frmPayroll');
        });
    });

    var isCompanyListFetched = false;
    function FillProvider() {
        if (!isCompanyListFetched) {
            $.ajax({
                url: "/Provider/Providers",
                cache: false,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        debugger;
                        isCompanyListFetched = true;

                        var responseData = $.parseJSON(data);
                        var selectCompanyList = document.getElementById('PROVIDER_ID');
                        var optEmpty = document.createElement("option");
                        optEmpty.value = "";
                        optEmpty.innerHTML = "TÜMÜ"; // whatever property it has

                        selectCompanyList.appendChild(optEmpty);

                        responseData.forEach(function (providerType) {
                            debugger;
                            var OPTGROUP = document.createElement("OPTGROUP");
                            OPTGROUP.setAttribute("label", providerType.Value);

                            providerType.provider.forEach(function (provider) {
                                var opt = document.createElement("option");
                                opt.value = provider.PROVIDER_ID;
                                opt.innerHTML = provider.PROVIDER_NAME;
                                OPTGROUP.appendChild(opt);
                            });
                            selectCompanyList.appendChild(OPTGROUP);
                        });
                        $('#PROVIDER_ID').trigger("chosen:updated");
                    }
                    $.unblockUI();
                },
                error: function (xhr, err) {
                    swal({
                        title: "Hata!",
                        text: "Kurum listesi getirilirken hata oluştu!",
                        icon: "warning"
                    });
                    $.unblockUI();
                }
            });
        }
    }

    function LoadPayrollList() {
        tblPayroll = $("#tblPayroll").DataTable({
            "ajax": {
                "url": "/PayrollCompany/GetPayrollList",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    Loading();
                },
                "data": function (a) {
                    debugger;
                    a.payrollNo = $('#payrollNo').val();
                    a.providerId = $('#PROVIDER_ID').val();
                    a.paymentStartDate = $('#paymentStartDate').val();
                    a.paymentEndDate = $('#paymentEndDate').val();
                    a.payrollStatus = $('#payrollStatus').val();
                    a.PROVIDER_Group = $('#PROVIDER_Group').val();
                    a.isFilter = $('#payrollIsFilter').val();
                },
                "complete": function (settings, json) {
                    $.unblockUI();

                    var responseText = JSON.parse(settings.responseText);
                    $("#WhereCondition").val(responseText.whereConditition);
                },
                "error": function () {
                    $.unblockUI();
                }
            },
            "columns": [
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        return '<div class="btn-group fr" style="float: left !important;">' +
                            ' <span><a href="#" onclick="GetBill(' + data.PAYROLL_ID+')" class="myIcon icon-primary" data-toggle="tooltip" title="Detayını Görüntüle"><i class="fa fa-search"></i></a></span>' +
                            '</div>';
                    }
                },
                { "data": "PAYROLL_ID", "name": "PAYROLL_ID" },
                { "data": "PROVIDER_NAME", "name": "PROVIDER_NAME" },
                {
                    "data": "PAYROLL_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                {
                    "data": "STATUS",
                    "render": function (data) {
                        return data == null ? "-" : GetValueOfEnum('PayrollStatus', data);
                    }
                },
                {
                    "data": "PAYMENT_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                { "data": "TOTAL_AMOUNT", name: "TOTAL_AMOUNT" },
                { "data": "TOTAL_CLAIM", name: "TOTAL_CLAIM" },
                //{ "data": "PROVIDER_NAME", "name": "PROVIDER_NAME" },
                //{ "data": "PROVIDER_NAME", "name": "PROVIDER_NAME" },
            ],
            pageLength: 5,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [1, "desc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": " ",
                "infoEmpty": " ",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    }

    function SelectClaimBill(frmName) {
        var form = $('#' + frmName);
        var formData = new FormData(form[0]);
        var action = form[0].action;

        $.ajax({
            type: form[0].method,
            contentType: "application/json; charset=utf-8",
            url: "/PayrollCompany/SelectClaim",
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            success: function (data) {
                var responseData = $.parseJSON(data);
                if (responseData.ResultCode == "100") {
                    swal({
                        title: "İşlem Başarılı!",
                        text: responseData.ResultMessage,
                        icon: "success"
                    });
                    $('#frmClaimPayroll_Modal').modal("toggle");

                }
                else {
                    swal({
                        title: "Hata!",
                        text: responseData.ResultCode + " : " + responseData.ResultMessage,
                        icon: "warning"
                    });
                }
                $.unblockUI();
            },
            error: function (xhr, err) {
                $.unblockUI();

                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
            }
        });
    }

    function selectClaim(id, hdinput) {
        debugger;
        $("#" + hdinput).val(id);
    }

    function GetBillList(frmName) {
        $('#divVisible').empty();
        $('#BillTreeList').empty();

        var form = $('#' + frmName);
        var formData = new FormData(form[0]);
        var action = form[0].action;

        $.ajax({
            type: form[0].method,
            contentType: "application/json; charset=utf-8",
            url: action,
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            success: function (data) {
                $.unblockUI();

                $.each(JSON.parse(data), function (i, item) {
                    debugger;

                    var div = document.getElementById('divVisible');
                    var label = document.createElement("label");
                    label.className = "radio-label mr-10 fl rounded";
                    label.setAttribute("for", "ClaimBill-" + item.CLAIM_BILL_ID);
                    //var info = "Fatura No:" + item.BILL_NO + " - Hasar No:" + item.CLAIM_ID;
                    label.appendChild(document.createTextNode("Fatura No:" + item.BILL_NO + " - Hasar No:" + item.CLAIM_ID));
                    var span = document.createElement("SPAN");
                    span.className = "radio-button fr";
                    var i = document.createElement("i");
                    i.className = "fa fa-check";
                    span.appendChild(i);
                    label.appendChild(span);
                    div.appendChild(label);

                    var ul = document.getElementById('BillTreeList');
                    var li = document.createElement("li");
                    li.className = "parent new-list";
                    var div = document.createElement("div");
                    div.className = "parent-tree tree clearfix";
                    var span = document.createElement("SPAN");
                    span.className = "list-name";
                    span.appendChild(document.createTextNode("Fatura No:" + item.BILL_NO + " - Hasar No:" + item.CLAIM_ID));
                    var label = document.createElement("label");
                    label.className = "checkbox mbui-checkbox-custom checkbox-custom-lg fr";
                    var radio = document.createElement("input");
                    radio.type = "radio";
                    radio.name = "radioClaim";
                    //radio.setAttribute("onclick", "selectProvider(" + item.PROVIDER_ID + ", 'hdProvider')");
                    radio.value = item.CLAIM_ID;
                    radio.id = "ClaimBill-" + item.CLAIM_BILL_ID;
                    //radio.setAttribute("data-id", "Provider-" + item.PROVIDER_ID);
                    label.appendChild(radio);
                    var i = document.createElement("i");
                    label.appendChild(i);
                    div.appendChild(span);
                    div.appendChild(label);
                    li.appendChild(div);
                    ul.appendChild(li);
                });
            },
            error: function (xhr, err) {
                $.unblockUI();

                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
            }
        });
    }

    function GetPayrollList() {
        $('#payrollIsFilter').val("1");
        tblPayroll.ajax.reload();
    }

    function GetBill(payrollId) {
        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            url: "/PayrollCompany/GetBill?payrollId=" + payrollId,
            cache: false,
            contentType: false,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            complete: function () {
                $.unblockUI();
            },
            success: function (data) {
                var responseData = $.parseJSON(data);
                debugger;
                var statusList = responseData.claimStatusCount;

                var jsonValue = responseData.listBill;
                $('#hdBillList').val(JSON.stringify(jsonValue));
                //LoadBill();
                RefreshTableAllStatus('tblBillList', 'hdBillList');
                $('#frmBill_Modal').modal("toggle");
            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
            }
        })
    }

    function GetAllBill(payrollId,paymentMethod) {
        $('#divVisible').empty();
        $('#BillTreeList').empty();
        if (paymentMethod == "0") {
            document.getElementById("divProviderFilterBill").style.display = "none";
        }
        else if (paymentMethod == "1") {
            document.getElementById("divProviderFilterBill").style.display = "block";
        }
        $('#hdPayrollId_frmPayroll').val(payrollId);
        $('#frmClaimPayroll_Modal').modal("toggle");
    }
    
    function LoadBill() {
        var tbl = "tblBillList";
        var hdi = "hdBillList";


        var data = JSON.parse($('#' + hdi).val());

        tblBillList = $('#' + tbl).DataTable({
            pageLength: 5,
            language: {
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "",
                "info": "",
                "search": "Arama: "
            },
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "ordering": false,
            "data": data,
            "columns": [
                { "data": "CLAIM_ID" },
                { "data": "FIRST_NAME" },
                { "data": "IDENTITY_NO" },
                { "data": "POLICY_NUMBER" },
                { "data": "POLICY_START_DATE" },
                { "data": "PRODUCT_NAME" },
                { "data": "BILL_NO" },
                { "data": "BILL_DATE" },
                { "data": "STATUS_TEXT" },
                { "data": "PAYMENT_DATE" },
                { "data": "AMOUNT" },
                { "data": "BANK_NAME" },
                { "data": "IBAN"},
            ]
        });
        RefreshTable(tbl, hdi);
    }
    
    function GetValueOfEnum(typeName, ordinal) {
        if (ordinal != null) {
            if (typeName == "PayrollStatus") {
                var PayrollStatusList = @Html.Raw(Json.Encode(@ViewBag.PayrollStatusList));
                return PayrollStatusList == null ? "-" : PayrollStatusList[ordinal];
            }
        }
        else {
            return "-";
        }
    }

    debugger;
    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });
    debugger;
    function getEnterFunction() {
        GetPayrollList();
    }
</script>