﻿<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">

                <div class="mbui-header">
                    <h3><strong>Kural</strong></h3>
                </div>

                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="" method="post" id="form1">
                                <fieldset>

                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label for="ruleCategory" class="control-label">Kategorisi</label>
                                            <select name="ruleCategory" class="selectpicker w-100-pr mb-20 mbui-select bg-white" id="ruleCategory" title="Seçiniz">
                                                <option value="">KATILIM_ORAN/ÖDENMEZ</option>
                                                <option value="">TEMINAT_LIMIT/ORAN</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="mbui-tabs-container clearfix b-full">

                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs nav-justified" role="tablist">
                                                    <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">KURUM GRUBU</a></li>
                                                    <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">KURUM</a></li>
                                                    <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">TEMİNAT</a></li>
                                                    <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">ICD</a></li>
                                                    <li role="presentation"><a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">İŞLEM</a></li>
                                                </ul>

                                                <!-- Tab panes -->
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="tab1">
                                                        <div class="col-sm-12">

                                                            <div class="mbui-form mbui-inside-form mb-20 mt-20 b-full mbui-panel">
                                                                <div class="mbui-inside-header heading-color">
                                                                    <h4>Kurum Grubu</h4>
                                                                    <ul class="mbui-controls">
                                                                        <li>
                                                                            <a href="" tabindex="0" data-toggle="modal" data-target="#frmCompanyGroup_Modal">
                                                                                <i class="fa fa-plus" data-toggle="tooltip" data-placement="bottom" title="Ekle"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="mbui-body mbui-inside-body">

                                                                    <div class="table-responsive">
                                                                        <table class="table table-md table-custom">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Kodu</th>
                                                                                    <th>Adı</th>
                                                                                    <th>VKN</th>
                                                                                    <th>İşlemler</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>123456</td>
                                                                                    <td>Muayene</td>
                                                                                    <td>12345678901</td>
                                                                                    <td>
                                                                                        <div class="islem">
                                                                                            <div class="btn-group fr">
                                                                                                <a href="#" class="myIcon icon-danger" data-toggle="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div role="tabpanel" class="tab-pane" id="tab2">
                                                        <div class="col-sm-12">

                                                            <div class="mbui-form mbui-inside-form mb-20 mt-20 b-full mbui-panel">
                                                                <div class="mbui-inside-header heading-color">
                                                                    <h4>Kurum</h4>
                                                                    <ul class="mbui-controls">
                                                                        <li>
                                                                            <a href="" tabindex="0" data-toggle="modal" data-target="#frmCompany_Modal">
                                                                                <i class="fa fa-plus" data-toggle="tooltip" data-placement="bottom" title="Ekle"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="mbui-body mbui-inside-body">

                                                                    <div class="table-responsive">
                                                                        <table class="table table-md table-custom">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Kodu</th>
                                                                                    <th>Adı</th>
                                                                                    <th>VKN</th>
                                                                                    <th>İşlemler</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>123456</td>
                                                                                    <td>Muayene</td>
                                                                                    <td>12345678901</td>
                                                                                    <td>
                                                                                        <div class="islem">
                                                                                            <div class="btn-group fr">
                                                                                                <a href="#" class="myIcon icon-danger" data-toggle="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div role="tabpanel" class="tab-pane" id="tab3">
                                                        <div class="col-sm-12">

                                                            <div class="mbui-form mbui-inside-form mb-20 mt-20 b-full mbui-panel">
                                                                <div class="mbui-inside-header heading-color">
                                                                    <h4>Teminat</h4>
                                                                    <ul class="mbui-controls">
                                                                        <li>
                                                                            <a href="" tabindex="0" data-toggle="modal" data-target="#frmWarrant_Modal" data-title="Yeni İşlem">
                                                                                <i class="fa fa-plus" data-toggle="tooltip" data-placement="bottom" title="Ekle"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="mbui-body mbui-inside-body">

                                                                    <div class="table-responsive">
                                                                        <table class="table table-md table-custom">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Kodu</th>
                                                                                    <th>Tipi</th>
                                                                                    <th>Adı</th>
                                                                                    <th>İşlemler</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>123456</td>
                                                                                    <td>Sağlık</td>
                                                                                    <td>Muayene</td>
                                                                                    <td>
                                                                                        <div class="islem">
                                                                                            <div class="btn-group fr">
                                                                                                <a href="#" class="myIcon icon-danger" data-toggle="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div role="tabpanel" class="tab-pane" id="tab4">
                                                        <div class="col-sm-12">

                                                            <div class="mbui-form mbui-inside-form mb-20 mt-20 b-full mbui-panel">
                                                                <div class="mbui-inside-header heading-color">
                                                                    <h4>ICD</h4>
                                                                    <ul class="mbui-controls">
                                                                        <li>
                                                                            <a href="" tabindex="0" data-toggle="modal" data-target="#frmIcd_Modal">
                                                                                <i class="fa fa-plus" data-toggle="tooltip" data-placement="bottom" title="Ekle"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="mbui-body mbui-inside-body">

                                                                    <div class="table-responsive">
                                                                        <table class="table table-md table-custom">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Kodu</th>
                                                                                    <th>Adı</th>
                                                                                    <th>İşlemler</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>123456</td>
                                                                                    <td>Muayene</td>
                                                                                    <td>
                                                                                        <div class="islem">
                                                                                            <div class="btn-group fr">
                                                                                                <a href="#" class="myIcon icon-danger" data-toggle="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div role="tabpanel" class="tab-pane" id="tab5">
                                                        <div class="col-sm-12">

                                                            <div class="form-group">
                                                                <div class="col-sm-4">
                                                                    <label for="workList" class="control-label">İşlem Listesi</label>
                                                                    <select name="workList" class="selectpicker w-100-pr mbui-select bg-white" id="workList" title="Seçiniz">
                                                                        <option value="">KATILIM_ORAN/ÖDENMEZ</option>
                                                                        <option value="">TEMINAT_LIMIT/ORAN</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="mbui-form mbui-inside-form mb-20 b-full mbui-panel">
                                                                <div class="mbui-inside-header heading-color">
                                                                    <h4>İşlem</h4>
                                                                    <ul class="mbui-controls">
                                                                        <li>
                                                                            <a href="" tabindex="0" data-toggle="modal" data-target="#frmWork_Modal">
                                                                                <i class="fa fa-plus" data-toggle="tooltip" data-placement="bottom" title="Ekle"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="mbui-body mbui-inside-body">

                                                                    <div class="table-responsive">
                                                                        <table class="table table-md table-custom">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Kodu</th>
                                                                                    <th>Adı</th>
                                                                                    <th>İşlemler</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>123456</td>
                                                                                    <td>Muayene</td>
                                                                                    <td>
                                                                                        <div class="islem">
                                                                                            <div class="btn-group fr">
                                                                                                <a href="#" class="myIcon icon-danger" data-toggle="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label for="ruleData" class="control-label">Veri</label>
                                            <input value="" name="ruleData" class="form-control" id="ruleData" type="text" placeholder="Veri giriniz" />
                                        </div>

                                        <div class="col-sm-4">
                                            <label for="ruleResult" class="control-label">Sonuç</label>
                                            <input value="" name="ruleResult" class="form-control" id="ruleResult" type="text" placeholder="Sonuç giriniz" />
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <button type="submit" class="btn btn-success btn-sm mr-10">Kaydet</button>
                                                <button type="reset" class="btn btn-danger btn-sm">İptal</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Modal frmCompanyGroup_Modal -->
    <div class="modal" id="frmCompanyGroup_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Yeni Kurum Grubu</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="mbui-inside-form mb-20 b-full mbui-panel">

                                                    <div class="mbui-inside-header heading-color">
                                                        <h4></h4>
                                                        <ul class="mbui-controls">
                                                            <li>
                                                                <a role="button" tabindex="0" class="mbui-filter active">
                                                                    <i class="fa fa-filter" data-toggle="tooltip" data-placement="bottom" title="Filtrele"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                                    <span class="mbui-minimize"><i class="fa fa-angle-down" data-toggle="tooltip" data-placement="bottom" title="Göster"></i></span>
                                                                    <span class="mbui-expand"><i class="fa fa-angle-up" data-toggle="tooltip" data-placement="bottom" title="Gizle"></i></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="none-visible clearfix">
                                                        <div class="col-sm-12">
                                                            <div class="visible-elements-wrapper">
                                                                <label class="checkbox-label mr-10 fl rounded btn-success" for="checkbox01">
                                                                    PL-01
                                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </label>

                                                                <label class="checkbox-label mr-10 fl rounded btn-success" for="checkbox02">
                                                                    PL-02
                                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </label>

                                                                <label class="checkbox-label mr-10 fl rounded btn-success" for="checkbox03">
                                                                    PL-03
                                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mbui-body mbui-inside-body active">
                                                        <div class="mbui-filter-wrapper">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <label for="contractBolumName" class="control-label">Adı</label>
                                                                    <input name="contractBolumName" class="form-control" id="contractBolumName" type="text" placeholder="Adı giriniz" />
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <button type="button" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="info-wrapper">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="position-right">
                                                                        <button type="button" class="checkbox_check btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Seç</button>
                                                                        <button type="button" class="checkbox_cancel btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Kaldır</button>
                                                                        <button type="button" class="checkbox_close btn btn-rounded btn-default btn-md fl mbui-info-btn">Seçimi Tamamla</button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <ul class="tree-list">
                                                                <li class="parent new-list">
                                                                    <div class="parent-tree tree clearfix">
                                                                        <span class="list-name">KBB</span>
                                                                        <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                            <input type="checkbox" value="" name="kbb" id="checkbox01">
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </li>

                                                                <li class="parent new-list">
                                                                    <div class="parent-tree tree clearfix">
                                                                        <span class="list-name">Göz</span>
                                                                        <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                            <input type="checkbox" value="" name="goz" id="checkbox02">
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </li>

                                                                <li class="parent new-list">
                                                                    <div class="parent-tree tree clearfix">
                                                                        <span class="list-name">Ortopedi</span>
                                                                        <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                            <input type="checkbox" value="" name="ortopedi" id="checkbox03">
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="btn-wrapper-center">
                                            <button type="submit" class="btn btn-success btn-sm createList mr-10">Tamam</button>
                                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">İptal</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmWarrant_Modal -->
    <div class="modal" id="frmWarrant_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Yeni Teminat</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="mbui-inside-form mb-20 b-full mbui-panel">

                                                    <div class="mbui-inside-header heading-color">
                                                        <h4></h4>
                                                        <ul class="mbui-controls">
                                                            <li>
                                                                <a role="button" tabindex="0" class="mbui-filter active">
                                                                    <i class="fa fa-filter" data-toggle="tooltip" data-placement="bottom" title="Filtrele"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                                    <span class="mbui-minimize"><i class="fa fa-angle-down" data-toggle="tooltip" data-placement="bottom" title="Göster"></i></span>
                                                                    <span class="mbui-expand"><i class="fa fa-angle-up" data-toggle="tooltip" data-placement="bottom" title="Gizle"></i></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="none-visible clearfix">
                                                        <div class="col-sm-12">
                                                            <div class="visible-elements-wrapper">
                                                                <label class="checkbox-label mr-10 fl rounded btn-success" for="checkbox01">
                                                                    PL-01
                                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </label>

                                                                <label class="checkbox-label mr-10 fl rounded btn-success" for="checkbox02">
                                                                    PL-02
                                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </label>

                                                                <label class="checkbox-label mr-10 fl rounded btn-success" for="checkbox03">
                                                                    PL-03
                                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mbui-body mbui-inside-body active">
                                                        <div class="mbui-filter-wrapper">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <label for="contractBolumName" class="control-label">Adı</label>
                                                                    <input name="contractBolumName" class="form-control" id="contractBolumName" type="text" placeholder="Adı giriniz" />
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <button type="button" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="info-wrapper">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="position-right">
                                                                        <button type="button" class="checkbox_check btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Seç</button>
                                                                        <button type="button" class="checkbox_cancel btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Kaldır</button>
                                                                        <button type="button" class="checkbox_close btn btn-rounded btn-default btn-md fl mbui-info-btn">Seçimi Tamamla</button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <ul class="tree-list">
                                                                <li class="parent new-list">
                                                                    <div class="parent-tree tree clearfix">
                                                                        <span class="list-name">KBB</span>
                                                                        <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                            <input type="checkbox" value="" name="kbb" id="checkbox01">
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </li>

                                                                <li class="parent new-list">
                                                                    <div class="parent-tree tree clearfix">
                                                                        <span class="list-name">Göz</span>
                                                                        <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                            <input type="checkbox" value="" name="goz" id="checkbox02">
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </li>

                                                                <li class="parent new-list">
                                                                    <div class="parent-tree tree clearfix">
                                                                        <span class="list-name">Ortopedi</span>
                                                                        <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                            <input type="checkbox" value="" name="ortopedi" id="checkbox03">
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="btn-wrapper-center">
                                            <button type="submit" class="btn btn-success btn-sm createList mr-10">Tamam</button>
                                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">İptal</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmCompany_Modal -->
    <div class="modal" id="frmCompany_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Yeni Kurum</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="mbui-inside-form mb-20 b-full mbui-panel">

                                                    <div class="mbui-inside-header heading-color">
                                                        <h4></h4>
                                                        <ul class="mbui-controls">
                                                            <li>
                                                                <a role="button" tabindex="0" class="mbui-filter active">
                                                                    <i class="fa fa-filter" data-toggle="tooltip" data-placement="bottom" title="Filtrele"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                                    <span class="mbui-minimize"><i class="fa fa-angle-down" data-toggle="tooltip" data-placement="bottom" title="Göster"></i></span>
                                                                    <span class="mbui-expand"><i class="fa fa-angle-up" data-toggle="tooltip" data-placement="bottom" title="Gizle"></i></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="none-visible clearfix">
                                                        <div class="col-sm-12">
                                                            <div class="visible-elements-wrapper">
                                                                <label class="checkbox-label mr-10 fl rounded btn-success" for="checkbox01">
                                                                    PL-01
                                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </label>

                                                                <label class="checkbox-label mr-10 fl rounded btn-success" for="checkbox02">
                                                                    PL-02
                                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </label>

                                                                <label class="checkbox-label mr-10 fl rounded btn-success" for="checkbox03">
                                                                    PL-03
                                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mbui-body mbui-inside-body active">
                                                        <div class="mbui-filter-wrapper">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <label for="contractBolumName" class="control-label">Adı</label>
                                                                    <input name="contractBolumName" class="form-control" id="contractBolumName" type="text" placeholder="Adı giriniz" />
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <button type="button" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="info-wrapper">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="position-right">
                                                                        <button type="button" class="checkbox_check btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Seç</button>
                                                                        <button type="button" class="checkbox_cancel btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Kaldır</button>
                                                                        <button type="button" class="checkbox_close btn btn-rounded btn-default btn-md fl mbui-info-btn">Seçimi Tamamla</button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <ul class="tree-list">
                                                                <li class="parent new-list">
                                                                    <div class="parent-tree tree clearfix">
                                                                        <span class="list-name">KBB</span>
                                                                        <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                            <input type="checkbox" value="" name="kbb" id="checkbox01">
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </li>

                                                                <li class="parent new-list">
                                                                    <div class="parent-tree tree clearfix">
                                                                        <span class="list-name">Göz</span>
                                                                        <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                            <input type="checkbox" value="" name="goz" id="checkbox02">
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </li>

                                                                <li class="parent new-list">
                                                                    <div class="parent-tree tree clearfix">
                                                                        <span class="list-name">Ortopedi</span>
                                                                        <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                            <input type="checkbox" value="" name="ortopedi" id="checkbox03">
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="btn-wrapper-center">
                                            <button type="submit" class="btn btn-success btn-sm createList mr-10">Tamam</button>
                                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">İptal</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmIcd_Modal -->
    <div class="modal" id="frmIcd_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Yeni ICD</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="mbui-inside-form mb-20 b-full mbui-panel">

                                                    <div class="mbui-inside-header heading-color">
                                                        <h4></h4>
                                                        <ul class="mbui-controls">
                                                            <li>
                                                                <a role="button" tabindex="0" class="mbui-filter active">
                                                                    <i class="fa fa-filter" data-toggle="tooltip" data-placement="bottom" title="Filtrele"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                                    <span class="mbui-minimize"><i class="fa fa-angle-down" data-toggle="tooltip" data-placement="bottom" title="Göster"></i></span>
                                                                    <span class="mbui-expand"><i class="fa fa-angle-up" data-toggle="tooltip" data-placement="bottom" title="Gizle"></i></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="none-visible clearfix">
                                                        <div class="col-sm-12">
                                                            <div class="visible-elements-wrapper">
                                                                <label class="checkbox-label mr-10 fl rounded btn-success" for="checkbox01">
                                                                    PL-01
                                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </label>

                                                                <label class="checkbox-label mr-10 fl rounded btn-success" for="checkbox02">
                                                                    PL-02
                                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </label>

                                                                <label class="checkbox-label mr-10 fl rounded btn-success" for="checkbox03">
                                                                    PL-03
                                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mbui-body mbui-inside-body active">
                                                        <div class="mbui-filter-wrapper">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <label for="contractBolumName" class="control-label">Adı</label>
                                                                    <input name="contractBolumName" class="form-control" id="contractBolumName" type="text" placeholder="Adı giriniz" />
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <button type="button" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="info-wrapper">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="position-right">
                                                                        <button type="button" class="checkbox_check btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Seç</button>
                                                                        <button type="button" class="checkbox_cancel btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Kaldır</button>
                                                                        <button type="button" class="checkbox_close btn btn-rounded btn-default btn-md fl mbui-info-btn">Seçimi Tamamla</button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <ul class="tree-list">
                                                                <li class="parent new-list">
                                                                    <div class="parent-tree tree clearfix">
                                                                        <span class="list-name">KBB</span>
                                                                        <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                            <input type="checkbox" value="" name="kbb" id="checkbox01">
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </li>

                                                                <li class="parent new-list">
                                                                    <div class="parent-tree tree clearfix">
                                                                        <span class="list-name">Göz</span>
                                                                        <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                            <input type="checkbox" value="" name="goz" id="checkbox02">
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </li>

                                                                <li class="parent new-list">
                                                                    <div class="parent-tree tree clearfix">
                                                                        <span class="list-name">Ortopedi</span>
                                                                        <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                            <input type="checkbox" value="" name="ortopedi" id="checkbox03">
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="btn-wrapper-center">
                                            <button type="submit" class="btn btn-success btn-sm createList mr-10">Tamam</button>
                                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">İptal</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmWork_Modal -->
    <div class="modal" id="frmWork_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Yeni İşlem</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="mbui-inside-form mb-20 b-full mbui-panel">

                                                    <div class="mbui-inside-header heading-color">
                                                        <h4></h4>
                                                        <ul class="mbui-controls">
                                                            <li>
                                                                <a role="button" tabindex="0" class="mbui-filter active">
                                                                    <i class="fa fa-filter" data-toggle="tooltip" data-placement="bottom" title="Filtrele"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                                    <span class="mbui-minimize"><i class="fa fa-angle-down" data-toggle="tooltip" data-placement="bottom" title="Göster"></i></span>
                                                                    <span class="mbui-expand"><i class="fa fa-angle-up" data-toggle="tooltip" data-placement="bottom" title="Gizle"></i></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="none-visible clearfix">
                                                        <div class="col-sm-12">
                                                            <div class="visible-elements-wrapper">
                                                                <label class="checkbox-label mr-10 fl rounded btn-success" for="checkbox01">
                                                                    PL-01
                                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </label>

                                                                <label class="checkbox-label mr-10 fl rounded btn-success" for="checkbox02">
                                                                    PL-02
                                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </label>

                                                                <label class="checkbox-label mr-10 fl rounded btn-success" for="checkbox03">
                                                                    PL-03
                                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mbui-body mbui-inside-body active">
                                                        <div class="mbui-filter-wrapper">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <label for="contractBolumName" class="control-label">Adı</label>
                                                                    <input name="contractBolumName" class="form-control" id="contractBolumName" type="text" placeholder="Adı giriniz" />
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <button type="button" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="info-wrapper">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="position-right">
                                                                        <button type="button" class="checkbox_check btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Seç</button>
                                                                        <button type="button" class="checkbox_cancel btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Kaldır</button>
                                                                        <button type="button" class="checkbox_close btn btn-rounded btn-default btn-md fl mbui-info-btn">Seçimi Tamamla</button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <ul class="tree-list">
                                                                <li class="parent new-list">
                                                                    <div class="parent-tree tree clearfix">
                                                                        <span class="list-name">KBB</span>
                                                                        <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                            <input type="checkbox" value="" name="kbb" id="checkbox01">
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </li>

                                                                <li class="parent new-list">
                                                                    <div class="parent-tree tree clearfix">
                                                                        <span class="list-name">Göz</span>
                                                                        <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                            <input type="checkbox" value="" name="goz" id="checkbox02">
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </li>

                                                                <li class="parent new-list">
                                                                    <div class="parent-tree tree clearfix">
                                                                        <span class="list-name">Ortopedi</span>
                                                                        <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                            <input type="checkbox" value="" name="ortopedi" id="checkbox03">
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="btn-wrapper-center">
                                            <button type="submit" class="btn btn-success btn-sm createList mr-10">Tamam</button>
                                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">İptal</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->