﻿<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">
                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a onclick="Confirm('İptal', 'İptal etmek istediğinizden emin misiniz?', 'warning', '/Rule/RuleCategory');" role="button" tabindex="0" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/Rule/RuleCategoryFormSave" method="post" data-toggle="validator">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="ruleCategoryName" class="control-label"><span class="color-danger">*</span>Adı</label>
                                                    <input name="ruleCategoryName" class="form-control" id="ruleCategoryName" type="text" placeholder="Adını Giriniz" required value="@(ViewBag.RuleCategory != null ? ViewBag.RuleCategory.Name : "")" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="ruleCategoryTypeList" class="control-label"><span class="color-danger">*</span>Kural Kategorisinin Tipi</label>
                                                    <select name="ruleCategoryTypeList" class="selectpicker w-100-pr mb-20 mbui-select bg-white" id="ruleCategoryTypeList" title="Seçiniz" required>
                                                        @foreach (var CategoryType in ViewBag.CategoryTypeList)
                                                        {
                                                            <option value="@CategoryType.Key" @(ViewBag.RuleCategory != null ? (ViewBag.RuleCategory.Type == CategoryType.Key ? "selected" : "") : "")>@CategoryType.Value</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="ruleCategoryResultList" class="control-label"><span class="color-danger">*</span>Kuralın Cevap Tipi</label>
                                                    <select name="ruleCategoryResultList" class="selectpicker w-100-pr mb-20 mbui-select bg-white" id="ruleCategoryResultList" title="Seçiniz" required>
                                                        @foreach (var ResultType in ViewBag.ResultTypeList)
                                                        {
                                                            <option value="@ResultType.Key" @(ViewBag.RuleCategory != null ? (ViewBag.RuleCategory.ResultType == ResultType.Key ? "selected" : "") : "")>@ResultType.Value</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <button type="submit" class="btn btn-success btn-sm mr-10">@(ViewBag.RuleCategory != null ? "Güncelle" : "Kaydet")</button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="hdRuleCategoryId" value="@(ViewBag.RuleCategory != null ? ViewBag.RuleCategory.Id : "0")" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });

    $('.btn.btn-success').click(function () {
        $.blockUI({ message: $('#domMessage') });
    });
</script>