﻿<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form mbui-inside-form">
                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Kural</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a href="/Rule/RuleForm" tabindex="0" class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li><li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li><li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="15">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li><li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li><li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li><li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-print">
                                        <i class="fa fa-print" aria-hidden="true"></i> Yazdır
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-pdf">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Pdf
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Exel
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle import" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="İçe Aktar">
                                <i class="fa fa-download"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Exel
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Örnek Dosya
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body mbui-inside-body active">
                    <form class="form-horizontal" role="form" action="/Rule/RuleFilter" method="post">

                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="ruleCategoryList" class="control-label">Kategorisi</label>
                                    <select name="ruleCategoryList" class="selectpicker w-100-pr mb-20 mbui-select bg-white" id="ruleCategoryList" title="Seçiniz">
                                        <option value="">Tümü</option>
                                        @foreach (var RuleCategory in ViewBag.RuleCategoryList)
                                        {
                                            <option value="@RuleCategory.RULE_CATEGORY_ID"> @((((Dictionary<string, string>)ViewBag.RuleCategoryTypeList)[RuleCategory.RULE_CATEGORY_TYPE] + " / " + ((Dictionary<string, string>)ViewBag.ResultTypeList)[RuleCategory.RESULT_TYPE]))</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label for="ruleName" class="control-label">Adı</label>
                                    <input name="ruleName" class="form-control" id="ruleName" type="text" placeholder="Adını giriniz" />
                                </div>

                                <div class="col-sm-3">
                                    <label for="ruleResult" class="control-label">Sonuç</label>
                                    <input name="ruleResult" class="form-control" id="ruleResult" type="text" placeholder="Sonuç giriniz" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtrele</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-md table-custom">
                                <thead>
                                    <tr>
                                        <th>Adı</th>
                                        <th>Kategori</th>
                                        <th>Sonuç</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Rule in ViewBag.RuleList)
                                    {
                                        <tr>
                                            <td>@Rule.RULE_NAME</td>
                                            <td>@((Rule.RULE_CATEGORY_TYPE!=null ?((Dictionary<string, string>)ViewBag.RuleCategoryTypeList)[Rule.RULE_CATEGORY_TYPE] : "") + " / " + (Rule.RESULT_TYPE!=null ? ((Dictionary<string, string>)ViewBag.ResultTypeList)[Rule.RESULT_TYPE] : ""))</td>
                                            <td>@Rule.RESULT</td>
                                            <td class="islem">
                                                <div class="btn-group fr">
                                                    <a href="/Rule/RuleForm/Edit/@Rule.RULE_ID" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>
                                                    <a onclick="Confirm('Sil','Silmek istediğinizden emin misiniz?','warning','/Rule/RuleDelete/@Rule.RULE_ID');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });
</script>