﻿
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">
                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a onclick="Confirm('İptal', 'İptal etmek istediğinizden emin misiniz?', 'warning', '/Rule/RuleGroup');" role="button" tabindex="0" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="@(ViewBag.RuleGroup!=null ? "/Rule/RuleGroupFormUpdate":"/Rule/RuleGroupFormSave")" method="post">
                                <fieldset @ViewBag.FormDisabled>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label for="ruleGroupName" class="control-label">Adı</label>
                                            <input value="@(ViewBag.RuleGroup!=null ? ViewBag.RuleGroup.Name : "")" name="ruleGroupName" class="form-control" id="ruleGroupName" type="text" placeholder="Adı giriniz" />
                                        </div>
                                    </div>
                                    <div class="mbui-inside-form mb-20 b-full mbui-panel">
                                        <div class="mbui-inside-header heading-color">
                                            <h4>Kurallar</h4>
                                            <ul class="mbui-controls">
                                                @*<li>
                                                        <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="filtrele">
                                                            <i class="fa fa-filter"></i>
                                                        </a>
                                                    </li>*@
                                                <li>
                                                    <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                        <span class="mbui-minimize" data-tooltip="tooltip" data-placement="bottom" title="Göster"><i class="fa fa-angle-down"></i></span>
                                                        <span class="mbui-expand" data-tooltip="tooltip" data-placement="bottom" title="Gizle"><i class="fa fa-angle-up"></i></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="none-visible clearfix">
                                            <div class="col-sm-12">
                                                <div class="visible-elements-wrapper">
                                                    @foreach (var Rule in ViewBag.RuleList)
                                                    {
                                                        <label class="checkbox-label mr-10 fl rounded btn-success" for="@Rule.Id">
                                                            @Rule.Name
                                                            <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                        </label>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mbui-body mbui-inside-body active">
                                            @*<div class="mbui-filter-wrapper">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <label for="ruleGroupRulesName" class="control-label">Adı</label>
                                                            <input name="ruleGroupRulesName" class="form-control" id="ruleGroupRulesName" type="text" placeholder="Adı giriniz" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <button type="button" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtrele</button>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            <div class="info-wrapper">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="position-right">
                                                            <button type="button" class="checkbox_check btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Seç</button>
                                                            <button type="button" class="checkbox_cancel btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Kaldır</button>
                                                            <button type="button" class="checkbox_close btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Seçimi Tamamla</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ul class="tree-list">
                                                    @foreach (var Rule in ViewBag.RuleList)
                                                    {
                                                        <li class="parent new-list">
                                                            <div class="parent-tree tree clearfix">
                                                                <span class="list-name">@Rule.Name</span>
                                                                <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                    <input type="checkbox" value="@Rule.Id" name="ruleChecked" id="ruleChecked" @(ViewBag.SelectRuleId != null ? ViewBag.SelectRuleId.Contains(Rule.Id) ? "checked" : "" : "") />
                                                                    <i></i>
                                                                </label>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <button type="submit" class="btn btn-success btn-sm mr-10">@(ViewBag.RuleGroup != null ? "Güncelle" : "Kaydet")</button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="hdRuleGroupId" value="@(ViewBag.RuleGroup!=null ? ViewBag.RuleGroup.Id:"0")" />
                                    <input type="hidden" name="hdRuleGroupRuleJson" value="@(ViewBag.JSON ?? "")" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });

    $('.btn.btn-success').click(function () {
        $.blockUI({ message: $('#domMessage') });
    });
</script>