﻿@{
    bool isEdit = ViewBag.isEdit;

    //Doktor bilgileri
    string jsonProviderGroups = ViewBag.ProviderGroups != null ? ViewBag.ProviderGroups : "[]";

    //Yetkili Bilgileri
    string jsonProviders = ViewBag.Providers != null ? ViewBag.Providers : "[]";

    //Banka bilgileri
    string jsonCoverages = ViewBag.Coverages != null ? ViewBag.Coverages : "[]";

    //Cihaz bilgileri
    string jsonProcesss = ViewBag.Processs != null ? ViewBag.Processs : "[]";


    string RULE_ID = string.Empty;
    string RULE_NAME = string.Empty;
    string RULE_CATEGORY_ID = string.Empty;
    string RULE_CATEGORY_RULE_ID = string.Empty;
    string RESULT = string.Empty;
    string CLAIM_STATUS = string.Empty;
    string REASON_ID = string.Empty;

    if (isEdit)
    {
        if (ViewBag.Rule != null)
        {
            //Genel bilgiler
            var rule = ViewBag.Rule;

            RULE_CATEGORY_RULE_ID = Convert.ToString(rule.RULE_CATEGORY_ID);
            RULE_ID = Convert.ToString(rule.RULE_ID);
            RULE_NAME = Convert.ToString(rule.RULE_NAME);
            RULE_CATEGORY_ID = Convert.ToString(rule.RULE_CATEGORY_ID);
            RESULT = Convert.ToString(rule.RESULT);
            CLAIM_STATUS = Convert.ToString(rule.CLAIM_STATUS);
            REASON_ID = Convert.ToString(rule.REASON_ID);
        }
    }

}

<section class="content">

    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">

                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a onclick="Confirm('İptal', 'İptal etmek istediğinizden emin misiniz?', 'warning', '/Rule/Rule');" role="button" tabindex="0" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/Rule/RuleFormSave" method="post" id="form1">
                                <fieldset>
                                    @*<div class="form-group">
            <div class="col-sm-12">
                <div class="mbui-tabs-container clearfix b-full">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">KURUM GRUBU</a></li>
                        <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">KURUM</a></li>
                        <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">TEMİNAT</a></li>
                        <li role="presentation"><a href="#tab6" aria-controls="tab6" role="tab" data-toggle="tab">İŞLEM</a></li>

                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1">
                            <div class="col-sm-12">

                                <div class="mbui-form mbui-inside-form mb-20 mt-20 b-full mbui-panel">
                                    <div class="mbui-inside-header heading-color">
                                        <h4>Kurum Grubu</h4>
                                        <ul class="mbui-controls">
                                            <li>
                                                <a href="#" tabindex="0" data-toggle="modal" data-target="#frmCompanyGroup_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mbui-body mbui-inside-body">
                                        <div class="table-responsive">
                                            <table class="table table-md table-custom" id="tblProviderGroup">
                                                <thead>
                                                    <tr>
                                                        <th>Adı</th>
                                                        <th>Vergi Kimlik Numarası</th>
                                                        <th>İşlemler</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="hdProviderGroupList" name="hdProviderGroupList" value="[]" />

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="tab2">
                            <div class="col-sm-12">
                                <div class="mbui-form mbui-inside-form mb-20 mt-20 b-full mbui-panel">
                                    <div class="mbui-inside-header heading-color">
                                        <h4>Kurum</h4>
                                        <ul class="mbui-controls">
                                            <li>
                                                <a href="#" tabindex="0" data-toggle="modal" data-target="#frmProvider_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mbui-body mbui-inside-body">
                                        <div class="table-responsive">
                                            <table class="table table-md table-custom" id="tblProvider">
                                                <thead>
                                                    <tr>
                                                        <th>Kodu</th>
                                                        <th>Adı</th>
                                                        <th>Ticari Unvanı</th>
                                                        <th>Kurum Tipi</th>
                                                        <th>İl</th>
                                                        <th>İlçe</th>
                                                        <th>İşlemler</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="hdProviderList" name="hdProviderList" value="[]" />

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="tab3">
                            <div class="col-sm-12">

                                <div class="mbui-form mbui-inside-form mb-20 mt-20 b-full mbui-panel">
                                    <div class="mbui-inside-header heading-color">
                                        <h4>Teminat</h4>
                                        <ul class="mbui-controls">
                                            <li>
                                                <a href="#" tabindex="0" data-toggle="modal" data-target="#frmCoverage_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mbui-body mbui-inside-body">

                                        <div class="table-responsive">
                                            <table class="table table-md table-custom" id="tblCoverage">
                                                <thead>
                                                    <tr>
                                                        <th>Tipi</th>
                                                        <th>Adı</th>
                                                        <th>İşlemler</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <input type="hidden" name="hdCoverageList" id="hdCoverageList" />
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="tab6">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label for="processListList" class="control-label">İşlem Listesi</label>
                                        <select name="processListList" class="selectpicker w-100-pr mbui-select bg-white" id="processListList" title="Seçiniz" onchange="selectedProcessList('processListList')">
                                            @foreach (var ProcessList in ViewBag.ProcessList)
                                            {
                                                <option value="@ProcessList.PROCESS_LIST_ID">@ProcessList.PROCESS_LIST_NAME</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="ProcessGroup" class="control-label">Hizmet Grubu</label>
                                        <select name="ProcessGroup" class="selectpicker w-100-pr mbui-select bg-white" id="ProcessGroup" title="Seçiniz" onchange="selectedProcessGroup('ProcessGroup')">
                                            @foreach (var ProcessGroup in ViewBag.ProcessGroupList)
                                            {
                                                <option value="@ProcessGroup.PROCESS_GROUP_ID">@ProcessGroup.PROCESS_GROUP_NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="mbui-form mbui-inside-form mb-20 b-full mbui-panel">
                                    <div class="mbui-inside-header heading-color">
                                        <h4>İşlem</h4>
                                        <ul class="mbui-controls">
                                            <li>
                                                <a href="#" tabindex="0" data-toggle="modal" data-target="#frmWork_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mbui-body mbui-inside-body">

                                        <div class="table-responsive">
                                            <table class="table table-md table-custom" id="tblProcess">
                                                <thead>
                                                    <tr>
                                                        <th>Kodu</th>
                                                        <th>Adı</th>
                                                        <th>İşlemler</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="hdProcessList" name="hdProcessList" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label for="ruleName" class="control-label">Adı</label>
                                            <input value="@RULE_NAME" name="ruleName" class="form-control" id="ruleName" type="text" placeholder="Adını giriniz" />
                                        </div>

                                        <div class="col-sm-4">
                                            <label for="ruleCategory" class="control-label">Kategorisi</label>
                                            <select name="ruleCategory" class="selectpicker w-100-pr mb-20 mbui-select bg-white" id="ruleCategory" title="Seçiniz">
                                                @foreach (var RuleCategory in ViewBag.RuleCategoryList)
                                                {
                                                    <option value="@RuleCategory.RULE_CATEGORY_ID" data-content="<span title='@(RuleCategory.RULE_CATEGORY_NAME)'>@(RuleCategory.RULE_CATEGORY_NAME)</span>" @(RULE_CATEGORY_ID == Convert.ToString(RuleCategory.RULE_CATEGORY_ID) ? "selected" : "")>@(RuleCategory.RULE_CATEGORY_NAME)</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="col-sm-4">
                                            <label for="ruleResult" class="control-label">Sonuç</label>
                                            <input value="@RESULT" name="ruleResult" class="form-control" id="ruleResult" type="text" placeholder="Sonuç giriniz" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label for="ruleClaimStatus" class="control-label">Hasar Statüsü</label>
                                            <select class="chosen-select bg-white" name="ruleClaimStatus" id="ruleClaimStatus" title="Seçiniz" onchange="FillReasonChosen('ruleClaimStatus', 'ruleClaimReason','1');">
                                                <option value="">TÜMÜ</option>
                                                @foreach (var item in ViewBag.ClaimStatusList)
                                                {
                                                    <option value="@item.Key" @(CLAIM_STATUS == item.Key ? "selected" : "")>@item.Value</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="col-sm-9">
                                            <label for="ruleClaimReason" class="control-label">Alt Durum</label>
                                            <select name="ruleClaimReason" class="chosen-select bg-white" title="Seçiniz" id="ruleClaimReason"> </select>
                                        </div>
                                    </div>

                                    <input type="hidden" name="hdRuleId" id="hdRuleId" value="@(string.IsNullOrEmpty(RULE_ID) ? "0" : RULE_ID)" />
                                    <input type="hidden" name="hdRuleCategoryRuleId" id="hdRuleCategoryRuleId" value="@(string.IsNullOrEmpty(RULE_CATEGORY_RULE_ID) ? "0" : RULE_CATEGORY_RULE_ID)" />
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <button type="submit" class="btn btn-success btn-sm mr-10">@(ViewBag.isEdit ? "GÜNCELLE" : "KAYDET")</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
    </section>
<script>
    $(document).ready(function () {
        var claimStatus = '@CLAIM_STATUS';
        var reason = '@REASON_ID';

        if (claimStatus != null && claimStatus != '') {
            FillReasonChosen('ruleClaimStatus', 'ruleClaimReason', '1', reason);
        }
    });

    function FillReasonChosen(sourceSelectedBox, targetSelectBox, isChose,selected) {

        $("#" + targetSelectBox).html(""); // clear before appending new list 
        $("#" + targetSelectBox).trigger("chosen:updated");
        debugger;
        var Id = $('#' + sourceSelectedBox).val();
        $.ajax({
            url: '/Common/GetReason',
            type: "POST",
            dataType: "JSON",
            data: { claimStatus: Id },
            success: function (data) {
                debugger;
                if (isChose == "1")
                    $("#" + targetSelectBox).append('<option value="">Seçiniz</option>');

                $.each(JSON.parse(data), function (i, item) {
                    if (selected == item.Id) {
                        $("#" + targetSelectBox).append(('<option value="' + item.Id + '" selected="">' + item.Description + '</option>'));
                    }
                    else {
                        $("#" + targetSelectBox).append($('<option></option>').val(item.Id).html(item.Description));
                    }
                }); $("#" + targetSelectBox).trigger("chosen:updated");
            }
        });
    }
</script>
    <!-- Modal frmCompanyGroup_Modal -->
    @*<div class="modal" id="frmCompanyGroup_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Kurum Grubu</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="mbui-inside-form mb-20 b-full mbui-panel">

                                                    <div class="mbui-inside-header heading-color">
                                                        <h4></h4>
                                                        <ul class="mbui-controls">
                                                            <li>
                                                                <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                                    <span class="mbui-minimize" data-tooltip="tooltip" data-placement="bottom" title="Göster"><i class="fa fa-angle-down"></i></span>
                                                                    <span class="mbui-expand" data-tooltip="tooltip" data-placement="bottom" title="Gizle"><i class="fa fa-angle-up"></i></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="none-visible clearfix">
                                                        <div class="col-sm-12">
                                                            <div class="visible-elements-wrapper">
                                                                @foreach (var providerGroup in ViewBag.ProviderGroupList)
                                                                {
                                                                    <label class="checkbox-label mr-10 fl rounded btn-success" for="ProviderGroup-@providerGroup.Id">
                                                                        @providerGroup.Name
                                                                        <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                    </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mbui-body mbui-inside-body active">

                                                        <div class="info-wrapper">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="fl">
                                                                        <input type="text" class="form-control search" placeholder="Arama.." value="" />
                                                                    </div>
                                                                    <div class="position-right">
                                                                        <button type="button" class="checkbox_check btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Seç</button>
                                                                        <button type="button" class="checkbox_cancel btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Kaldır</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="info-wrapper mbui-panel-scroll">
                                                                <ul class="tree-list">
                                                                    @foreach (var providerGroup in ViewBag.ProviderGroupList)
                                                                    {
                                                                        <li class="parent new-list">
                                                                            <div class="parent-tree tree clearfix">
                                                                                <span class="list-name">@providerGroup.Name</span>
                                                                                <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                                    <input onclick="selectProviderGroup(@providerGroup.Id,'hdProviderGroup')" class="plus" type="checkbox" value="@providerGroup.Name" name="ProviderGroup-@providerGroup.Id" id="ProviderGroup-@providerGroup.Id" data-id="@providerGroup.Id">
                                                                                    <i></i>
                                                                                </label>
                                                                            </div>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <input type="hidden" id="hdProviderGroup" name="hdProviderGroup" value="" />
                                        <div class="btn-wrapper-center">
                                            <button onclick="setTable('hdProviderGroup','hdProviderGroupList'); RefreshTable('tblProviderGroup','hdProviderGroupList')" type="button" class="btn btn-success btn-sm createList mr-10" data-dismiss="modal">Seçimi Tamamla</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <!-- Modal frmCoverage_Modal -->
    @*<div class="modal" id="frmCoverage_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Teminat</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="mbui-inside-form mb-20 b-full mbui-panel">

                                                    <div class="mbui-inside-header heading-color">
                                                        <h4></h4>
                                                        <ul class="mbui-controls">
                                                            <li>
                                                                <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                                    <span class="mbui-minimize" data-tooltip="tooltip" data-placement="bottom" title="Göster"><i class="fa fa-angle-down"></i></span>
                                                                    <span class="mbui-expand" data-tooltip="tooltip" data-placement="bottom" title="Gizle"><i class="fa fa-angle-up"></i></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="none-visible clearfix">
                                                        <div class="col-sm-12">
                                                            <div class="visible-elements-wrapper">
                                                                @foreach (var item in ViewBag.CoverageList)
                                                                {
                                                                    <label class="checkbox-label mr-10 fl rounded btn-success" for="Coverage-@item.Id">
                                                                        @item.Name
                                                                        <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                    </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mbui-body mbui-inside-body active">

                                                        <div class="info-wrapper">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="fl">
                                                                        <input type="text" class="form-control search" placeholder="Arama.." value="" />
                                                                    </div>

                                                                    <div class="position-right">
                                                                        <button type="button" class="checkbox_check btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Seç</button>
                                                                        <button type="button" class="checkbox_cancel btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Kaldır</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="info-wrapper mbui-panel-scroll">
                                                                <ul class="tree-list">
                                                                    @foreach (var item in ViewBag.CoverageList)
                                                                    {
                                                                        <li class="parent new-list">
                                                                            <div class="parent-tree tree clearfix">
                                                                                <span class="list-name">@item.COVERAGE_NAME</span>
                                                                                <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                                    <input onclick="selectCoverage(@item.COVERAGE_ID,'hdCoverage')" class="plus" type="checkbox" value="@item.COVERAGE_NAME" name="Coverage-@item.COVERAGE_ID" id="Coverage-@item.COVERAGE_ID" data-id="@item.COVERAGE_ID">
                                                                                    <i></i>
                                                                                </label>
                                                                            </div>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <input type="hidden" name="hdCoverage" id="hdCoverage" />
                                        <div class="btn-wrapper-center">
                                            <button onclick="setTable('hdCoverage','hdCoverageList'); RefreshTable('tblCoverage','hdCoverageList')" type="button" class="btn btn-success btn-sm createList mr-10" data-dismiss="modal">Seçimi Tamamla</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <!-- Modal frmProvider_Modal -->
    @*<div class="modal" id="frmProvider_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Kurum</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="mbui-inside-form mb-20 b-full mbui-panel">

                                                    <div class="mbui-inside-header heading-color">
                                                        <h4></h4>
                                                        <ul class="mbui-controls">
                                                            <li>
                                                                <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                                    <span class="mbui-minimize" data-tooltip="tooltip" data-placement="bottom" title="Göster"><i class="fa fa-angle-down"></i></span>
                                                                    <span class="mbui-expand" data-tooltip="tooltip" data-placement="bottom" title="Gizle"><i class="fa fa-angle-up"></i></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="none-visible clearfix">
                                                        <div class="col-sm-12">
                                                            <div class="visible-elements-wrapper">
                                                                @foreach (var Provider in ViewBag.ProviderList)
                                                                    {
                                                                        <label class="checkbox-label mr-10 fl rounded btn-success" for="Provider-@Provider.PROVIDER_ID">
                                                                            @Provider.Name
                                                                            <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                        </label>
                                                                    }
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mbui-body mbui-inside-body active">

                                                        <div class="info-wrapper">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="fl">
                                                                        <input type="text" class="form-control search" placeholder="Arama.." value="" />
                                                                    </div>
                                                                    <div class="position-right">
                                                                        <button type="button" class="checkbox_check btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Seç</button>
                                                                        <button type="button" class="checkbox_cancel btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Kaldır</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="info-wrapper mbui-panel-scroll">
                                                                <ul class="tree-list">
                                                                    @foreach (var Provider in ViewBag.ProviderList)
                                                                    {
                                                                        <li class="parent new-list">
                                                                            <div class="parent-tree tree clearfix">
                                                                                <span class="list-name">@Provider.PROVIDER_NAME</span>
                                                                                <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                                    <input onclick="selectProvider(@Provider.PROVIDER_ID,'hdProvider')" class="plus" type="checkbox" value="@Provider.PROVIDER_NAME" id="Provider-@Provider.PROVIDER_ID" data-id="@Provider.PROVIDER_ID">
                                                                                    <i></i>
                                                                                </label>
                                                                            </div>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <input type="hidden" name="hdProvider" id="hdProvider" value="" />

                                        <div class="btn-wrapper-center">
                                            <button onclick="setTable('hdProvider','hdProviderList'); RefreshTable('tblProvider','hdProviderList')" type="button" class="btn btn-success btn-sm createList mr-10" data-dismiss="modal">Seçimi Tamamla</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <!-- Modal frmWork_Modal -->
    @*<div class="modal" id="frmWork_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">İşlem</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post" id="frmProcess">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="mbui-inside-form mb-20 b-full mbui-panel">

                                                    <div class="mbui-inside-header heading-color">
                                                        <h4></h4>
                                                    </div>

                                                    <div class="mbui-body mbui-inside-body">

                                                        <div class="info-wrapper">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="fl">
                                                                        <input type="text" class="form-control search" placeholder="Arama.." value="" />
                                                                    </div>
                                                                    <div class="position-right">
                                                                        <button type="button" class="checkbox_check btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Seç</button>
                                                                        <button type="button" class="checkbox_cancel btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Kaldır</button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="info-wrapper mbui-panel-scroll" id="processlist">


                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="hdProcess" id="hdProcess" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="btn-wrapper-center">
                                            <button onclick="setTable('hdProcess', 'hdProcessList'); RefreshTable('tblProcess', 'hdProcessList')" type="button" class="btn btn-success btn-sm createList mr-10" data-dismiss="modal">Tamam</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*<script id="root-template" type="text/x-custom-template">

    <ul class="tree-list tree-list-with-checkbox" id="root_${PROCESS_ID}">
        <li class="parent new-list">
            <div class="parent-tree tree clearfix">
                <span class="tree-bottun open-tree icon-circle btn-success fl rounded">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
                <span class="list-name">${NAME}</span>
                <input type="hidden" name="PROCESS_GROUP_PROCESS_ID" value="${PROCESS_GROUP_PROCESS_ID}" />
                <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                    <input onchange="selectProcess(${PROCESS_ID},'hdProcess')" type="checkbox" value="${PROCESS_ID}" name="rootProcess" id="${PROCESS_ID}" ${isChecked}>
                    <i></i>
                </label>
            </div>
        </li>
    </ul>
</script>

<script id="sub-template" type="text/x-custom-template">
    <ul class="tree-list tree-list-with-checkbox" id="sub_${PROCESS_ID}">
        <li class="child new-list">
            <div class="tree child-tree clearfix">
                <span class="tree-bottun open-tree icon-circle btn-success fl rounded">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
                <span class="list-name">${NAME}</span>
                <input type="hidden" name="PROCESS_GROUP_PROCESS_ID" value="${PROCESS_GROUP_PROCESS_ID}" />
                <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                    <input onchange="selectProcess(${PROCESS_ID},'hdProcess')" type="checkbox" value="${PROCESS_ID}" name="subProcess" id="${PROCESS_ID}" ${isChecked}>
                    <i></i>
                </label>
            </div>
        </li>
    </ul>
</script>*@


@*<script>
    $(document).ready(function () {
        LoadProviderGroup();
        LoadProvider();
        LoadCoverage();
        LoadICDProcess();
        LoadProcess();
        $('.mbui-body .nav-tabs > li > a').css('pointer-events', 'auto');
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))

    });

    function Save() {
        $.blockUI({ message: $('#domMessage') });
    }

    function setTable(hdValue, hdValueList) {
        $('#' + hdValueList).val($('#' + hdValue).val());
    }

    var headItemTpl = $('#head-template').text().split(/\$\{(.+?)\}/g);
    var rootItemTpl = $('#root-template').text().split(/\$\{(.+?)\}/g);
    var subItemTpl = $('#sub-template').text().split(/\$\{(.+?)\}/g);

    function render(props) {
        return function (tok, i) { return (i % 2) ? props[tok] : tok; };
    }


    function addTemplateRow(template, rowData) {

        var newRow = "";
        debugger;
        switch (template) {

            case "root":
                newRow = rootItemTpl.map(render(rowData)).join('');
                $('#processList').append(newRow);
                break;

            case "sub":
                newRow = subItemTpl.map(render(rowData)).join('');
                $('#processList').append(newRow);
                break;

            default:
                break;

        }
    }

    function addTemplateRowGroup(template, rowData) {

        var newRow = "";

        switch (template) {

            case "sub":
                newRow = subItemGroupTpl.map(render(rowData)).join('');
                $('#processGroups').append(newRow);
                //$('#processList').append(newRow);
                break;

            default:
                break;

        }
    }

    function selectedProcessList(selectedBox) {
        //debugger;
        var processListId = $('#' + selectedBox).val();
        console.log(processListId);
        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            url: "/Rule/GetProcessbyProcessList?processListId=" + processListId,
            cache: false,
            contentType: false,
            success: function (data) {

                $('#processList').empty();

                var responseData = $.parseJSON(data);

                $.each(responseData, function (index) {
                    var dataItem = responseData[index];

                    //if (dataItem.PARENT_ID == "") {
                    //    addTemplateRow("root", dataItem);
                    //} else {
                        addTemplateRow("sub", dataItem);
                    //}
                });

            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
            }
        })

    };

    function selectedProcessGroup(selectedBox) {
        var ProcessGroupId = $('#' + selectedBox).val();

        console.log(ProcessGroupId);
        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            url: "/Rule/GetProcessbyProcessGroup?ProcessGroupId=" + ProcessGroupId,
            cache: false,
            contentType: false,
            success: function (data) {
                $('#processList').empty();

                var responseData = $.parseJSON(data);

                $.each(responseData, function (index) {
                    var dataItem = responseData[index];

                    //if (dataItem.PARENT_ID == "") {
                    //    addTemplateRow("root", dataItem);
                    //} else {
                    addTemplateRow("sub", dataItem);
                    //}
                });

            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
            }
        })

    };



    function selectProviderGroup(id, hdi) {
        var clicks = $('#ProviderGroup-' + id).data('clicks');

        if ($('#ProviderGroup-' + id).data('clicks')) { //success turn not success
            var hiddenInput = $("#" + hdi);

            var jsons = new Array();
            jsons = JSON.parse(hiddenInput.val());

            $.each(jsons, function (i, item) {
                if (item.PROVIDER_GROUP_ID == id && item.PROVIDER_GROUP_RULE_ID == "0") {
                    item.STATUS = "1";
                } else if (item.PROVIDER_GROUP_ID == id && item.PROVIDER_GROUP_RULE_ID != "0") {
                    $.ajax({
                        url: '/Rule/RemoveProviderGroupRule',
                        type: "POST",
                        dataType: "JSON",
                        data: { providerGroupRuleId: item.PROVİDER_GROUP_RULE_ID },
                        success: function (data) {
                            var responseData = $.parseJSON(data);
                            var hiddenInput = $("#" + hdi);

                            hiddenInput.val(responseData);
                        }
                    });
                }
            });

            var hdValue = JSON.stringify(jsons);
            hiddenInput.val(hdValue);
            console.log(hdValue);
        } else {
            $.ajax({
                url: '/Rule/AddProviderGroupRule',
                type: "POST",
                dataType: "JSON",
                data: { providerGroupId: id },
                success: function (data) {
                    //var responseData = $.parseJSON(data);
                    var hiddenInput = $("#" + hdi);
                    //debugger;

                    //debugger;
                    var hdValue = "";
                    if (hiddenInput.val() != "") {
                        var val = hiddenInput.val();
                        hdValue = val.substring(0, val.length - 1) + "," + data.substring(1, data.length);
                    } else {
                        hdValue = data;
                    }
                    hiddenInput.val(hdValue);
                }
            });
        }
        $('#ProviderGroup-' + id).data("clicks", !clicks);
    }

    function selectProvider(id, hdi) {
        var clicks = $('#Provider-' + id).data('clicks');
        //debugger;
        if ($('#Provider-' + id).data('clicks')) { //success turn not success
            var hiddenInput = $("#" + hdi);

            var jsons = new Array();
            jsons = JSON.parse(hiddenInput.val());

            $.each(jsons, function (i, item) {
                if (item.PROVIDER_ID == id && item.PROVIDER_RULE_ID == "0") {
                    item.STATUS = "1";
                } else if (item.PROVIDER_ID == id && item.PROVIDER_RULE_ID != "0") {
                    $.ajax({
                        url: '/Rule/RemoveProviderRule',
                        type: "POST",
                        dataType: "JSON",
                        data: { providerRuleId: item.PROVİDER_RULE_ID },
                        success: function (data) {
                            var responseData = $.parseJSON(data);
                            var hiddenInput = $("#" + hdi);

                            hiddenInput.val(responseData);
                        }
                    });
                }
            });

            var hdValue = JSON.stringify(jsons);
            hiddenInput.val(hdValue);
            $('#Provider-' + id).find('i.fa').removeClass('fa-check');
            $('#Provider-' + id).find('i.fa').addClass('fa-plus');
            $('#Provider-' + id).removeClass('icon-success');
            $('#Provider-' + id).addClass('icon-primary');
            console.log(hdValue);
        } else {
            $.ajax({
                url: '/Rule/AddProviderRule',
                type: "POST",
                dataType: "JSON",
                data: { providerId: id },
                success: function (data) {
                    //var responseData = $.parseJSON(data);
                    var hiddenInput = $("#" + hdi);
                    //debugger;
                    var hdValue = "";
                    if (hiddenInput.val() != "") {
                        var val = hiddenInput.val();
                        hdValue = val.substring(0, val.length - 1) + "," + data.substring(1, data.length);
                    } else {
                        hdValue = data;
                    }
                    hiddenInput.val(hdValue);

                    $('#Provider-' + id).find('i.fa').removeClass('fa-plus');
                    $('#Provider-' + id).find('i.fa').addClass('fa-check');
                    $('#Provider-' + id).removeClass('icon-primary');
                    $('#Provider-' + id).addClass('icon-success');
                }
            });
        }
        $('#Provider-' + id).data("clicks", !clicks);
    }

    function selectCoverage(id, hdi) {
        var clicks = $('#Coverage-' + id).data('clicks');

        if ($('#Coverage-' + id).data('clicks')) { //success turn not success
            var hiddenInput = $("#" + hdi);

            var jsons = new Array();
            jsons = JSON.parse(hiddenInput.val());

            $.each(jsons, function (i, item) {
                if (item.COVERAGE_ID == id && item.COVERAGE_RULE_ID == "0") {
                    item.STATUS = "1";
                } else if (item.COVERAGE_ID == id && item.COVERAGE_RULE_ID != "0") {
                    $.ajax({
                        url: '/Rule/RemoveCoverageRule',
                        type: "POST",
                        dataType: "JSON",
                        data: { coverageRuleId: item.COVERAGE_RULE_ID },
                        success: function (data) {
                            var responseData = $.parseJSON(data);
                            var hiddenInput = $("#" + hdi);

                            hiddenInput.val(responseData);
                        }
                    });
                }
            });

            var hdValue = JSON.stringify(jsons);
            hiddenInput.val(hdValue);
            $('#Coverage-' + id).find('i.fa').removeClass('fa-check');
            $('#Coverage-' + id).find('i.fa').addClass('fa-plus');
            $('#Coverage-' + id).removeClass('icon-success');
            $('#Coverage-' + id).addClass('icon-primary');
            console.log(hdValue);
        } else {
            $.ajax({
                url: '/Rule/AddCoverageRule',
                type: "POST",
                dataType: "JSON",
                data: { coverageId: id },
                success: function (data) {
                    //var responseData = $.parseJSON(data);
                    var hiddenInput = $("#" + hdi);
                    //debugger;
                    var hdValue = "";
                    if (hiddenInput.val() != "") {
                        var val = hiddenInput.val();
                        hdValue = val.substring(0, val.length - 1) + "," + data.substring(1, data.length);
                    } else {
                        hdValue = data;
                    }
                    hiddenInput.val(hdValue);

                    $('#Coverage-' + id).find('i.fa').removeClass('fa-plus');
                    $('#Coverage-' + id).find('i.fa').addClass('fa-check');
                    $('#Coverage-' + id).removeClass('icon-primary');
                    $('#Coverage-' + id).addClass('icon-success');
                }
            });
        }
        $('#Coverage-' + id).data("clicks", !clicks);
    }

    function selectICDProcess(id, hdi) {
        var clicks = $('#ICDProcess-' + id).data('clicks');

        if ($('#ICDProcess-' + id).data('clicks')) { //success turn not success
            var hiddenInput = $("#" + hdi);

            var jsons = new Array();
            jsons = JSON.parse(hiddenInput.val());

            $.each(jsons, function (i, item) {
                if (item.PROCESS_ID == id && item.PROCESS_RULE_ID == "0") {
                    item.STATUS = "1";
                } else if (item.PROCESS_ID == id && item.PROCESS_RULE_ID != "0") {
                    $.ajax({
                        url: '/Rule/RemoveICDProcess',
                        type: "POST",
                        dataType: "JSON",
                        data: { processRuleId: item.PROCESS_RULE_ID },
                        success: function (data) {
                            var responseData = $.parseJSON(data);
                            var hiddenInput = $("#" + hdi);

                            hiddenInput.val(responseData);
                        }
                    });
                }
            });

            var hdValue = JSON.stringify(jsons);
            hiddenInput.val(hdValue);
            console.log(hdValue);
        } else {
            $.ajax({
                url: '/Rule/AddProcess',
                type: "POST",
                dataType: "JSON",
                data: { processId: id },
                success: function (data) {
                    //var responseData = $.parseJSON(data);
                    var hiddenInput = $("#" + hdi);
                    //debugger;

                    //debugger;
                    var hdValue = "";
                    if (hiddenInput.val() != "") {
                        var val = hiddenInput.val();
                        hdValue = val.substring(0, val.length - 1) + "," + data.substring(1, data.length);
                    } else {
                        hdValue = data;
                    }
                    hiddenInput.val(hdValue);
                }
            });
        }
        $('#ICDProcess-' + id).data("clicks", !clicks);
    }

    function selectProcess(id, hdi) {
        var clicks = $('#' + id).data('clicks');

        if ($('#' + id).data('clicks')) { //success turn not success
            var hiddenInput = $("#" + hdi);

            var jsons = new Array();
            jsons = JSON.parse(hiddenInput.val());

            $.each(jsons, function (i, item) {
                if (item.PROCESS_ID == id && item.PROCESS_RULE_ID == "0") {
                    item.STATUS = "1";
                } else if (item.PROCESS_ID == id && item.PROCESS_RULE_ID != "0") {
                    $.ajax({
                        url: '/Rule/RemoveProcess',
                        type: "POST",
                        dataType: "JSON",
                        data: { processRuleId: item.PROCESS_RULE_ID },
                        success: function (data) {
                            var responseData = $.parseJSON(data);
                            var hiddenInput = $("#" + hdi);

                            hiddenInput.val(responseData);
                        }
                    });
                }
            });

            var hdValue = JSON.stringify(jsons);
            hiddenInput.val(hdValue);
            console.log(hdValue);
        } else {
            $.ajax({
                url: '/Rule/AddProcess',
                type: "POST",
                dataType: "JSON",
                data: { processId: id },
                success: function (data) {
                    //var responseData = $.parseJSON(data);
                    var hiddenInput = $("#" + hdi);
                    //debugger;

                    //debugger;
                    var hdValue = "";
                    if (hiddenInput.val() != "") {
                        var val = hiddenInput.val();
                        hdValue = val.substring(0, val.length - 1) + "," + data.substring(1, data.length);
                    } else {
                        hdValue = data;
                    }
                    hiddenInput.val(hdValue);
                }
            });
        }
        $('#' + id).data("clicks", !clicks);
    }


    function LoadProviderGroup() {
        var frm = "frmProviderGroup"
        var tbl = "tblProviderGroup";
        var hdi = "hdProviderGroupList";

        if ($('#' + tbl).length > 0) {

            /**/
            var jsonValue = '@Html.Raw(jsonProviderGroups)';
            /**/
            var data = JSON.parse(jsonValue);
            $('#' + hdi).val(JSON.stringify(data));

            var table = $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": false,
                "data": data,
                "columns": [
                    { "data": "NAME" },
                    { "data": "TAX_NUMBER" },
                    {
                        "data": "PROVIDER_GROUP_ID",
                        "render": function (data) {
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<a href="#" class="myIcon icon-danger" onclick="deleteData(\'' + hdi + '\',\'' + data + '\');RefreshTable(\'' + tbl + '\',\'' + hdi + '\');" data-tooltip="tooltip" data-placement="bottom" title="Sil">' +
                                '<i class="fa fa-trash-o"></i>' +
                                '</a >' +
                                '</div>' +
                                '</div>';
                        }
                    }
                ]
            });
            RefreshTable(tbl, hdi);
        }
    }

    function LoadProvider() {
        var frm = "frmProvider"
        var tbl = "tblProvider";
        var hdi = "hdProviderList";

        if ($('#' + tbl).length > 0) {

            /**/
            var jsonValue = '@Html.Raw(jsonProviders)';
            /**/
            var data = JSON.parse(jsonValue);
            $('#' + hdi).val(JSON.stringify(data));

            var table = $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": false,
                "data": data,
                "columns": [
                    { "data": "PROVIDER_ID" },
                    { "data": "PROVIDER_NAME" },
                    { "data": "PROVIDER_TITLE" },
                    { "data": "PROVIDER_TYPE_TEXT" },
                    { "data": "CITY_NAME" },
                    { "data": "COUNTY_NAME" },
                    {
                        "data": "PROVIDER_ID",
                        "render": function (data) {
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<a href="#" class="myIcon icon-danger" onclick="deleteData(\'' + hdi + '\',\'' + data + '\');RefreshTable(\'' + tbl + '\',\'' + hdi + '\');" data-tooltip="tooltip" data-placement="bottom" title="Sil">' +
                                '<i class="fa fa-trash-o"></i>' +
                                '</a >' +
                                '</div>' +
                                '</div>';
                        }
                    }
                ]
            });
            RefreshTable(tbl, hdi);
        }
    }

    function LoadCoverage() {
        var frm = "frmCoverage"
        var tbl = "tblCoverage";
        var hdi = "hdCoverageList";

        if ($('#' + tbl).length > 0) {

            /**/
            var jsonValue = '@Html.Raw(jsonCoverages)';
            /**/
            var data = JSON.parse(jsonValue);
            $('#' + hdi).val(JSON.stringify(data));

            var table = $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": false,
                "data": data,
                "columns": [
                    { "data": "COVERAGE_TYPE_TEXT" },
                    { "data": "COVERAGE_NAME" },
                    {
                        "data": "COVERAGE_ID",
                        "render": function (data) {
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<a href="#" class="myIcon icon-danger" onclick="deleteData(\'' + hdi + '\',\'' + data + '\');RefreshTable(\'' + tbl + '\',\'' + hdi + '\');" data-tooltip="tooltip" data-placement="bottom" title="Sil">' +
                                '<i class="fa fa-trash-o"></i>' +
                                '</a >' +
                                '</div>' +
                                '</div>';
                        }
                    }
                ]
            });
            RefreshTable(tbl, hdi);
        }
    }

    function LoadICDProcess() {
        var frm = "frmICDProcess"
        var tbl = "tblICDProcess";
        var hdi = "hdICDProcessList";

        if ($('#' + tbl).length > 0) {

            var jsonValue = $('#' + hdi).val();
            var data;

            if (jsonValue != "") {
                var data = JSON.parse(jsonValue);
            }

            var table = $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": false,
                "data": data,
                "columns": [
                    { "data": "PROCESS_CODE" },
                    { "data": "PROCESS_NAME" },
                    { "data": "AMOUNT" },
                    {
                        "data": "PROCESS_ID",
                        "render": function (data) {
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<a href="#" class="myIcon icon-danger" onclick="deleteData(\'' + hdi + '\',\'' + data + '\');RefreshTable(\'' + tbl + '\',\'' + hdi + '\');" data-tooltip="tooltip" data-placement="bottom" title="Sil">' +
                                '<i class="fa fa-trash-o"></i>' +
                                '</a >' +
                                '</div>' +
                                '</div>';
                        }
                    }
                ]
            });
            RefreshTable(tbl, hdi);
        }
    }

    function LoadProcess() {
        var frm = "frmProcess";
        var tbl = "tblProcess";
        var hdi = "hdProcessList";

        if ($('#' + tbl).length > 0) {

            /**/
            var jsonValue = '@Html.Raw(jsonProcesss)';
            /**/
            var data = JSON.parse(jsonValue);
            $('#' + hdi).val(JSON.stringify(data));

            var table = $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": false,
                "data": data,
                "columns": [
                    { "data": "PROCESS_CODE" },
                    { "data": "PROCESS_NAME" },
                    {
                        "data": "PROCESS_ID",
                        "render": function (data) {
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<a href="#" class="myIcon icon-danger" onclick="deleteData(\'' + hdi + '\',\'' + data + '\');RefreshTable(\'' + tbl + '\',\'' + hdi + '\');" data-tooltip="tooltip" data-placement="bottom" title="Sil">' +
                                '<i class="fa fa-trash-o"></i>' +
                                '</a >' +
                                '</div>' +
                                '</div>';
                        }
                    }
                ]
            });
            RefreshTable(tbl, hdi);
        }
    }

</script>*@