﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderPage("~/Views/Shared/Header.cshtml")

<div id="wrapper">

    @RenderPage("~/Views/Shared/LeftSidebar.cshtml")

    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Icon Cards-->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card text-white bg-purple o-hidden h-100">
                            <div class="card-body-two">
                                <div class="card-body-icon">
                                    <i class="fas fa-fw fa-file-medical-alt"></i>
                                </div>
                                <h5>Provizyon Giriş</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-header">
                        <h4>Sigortalı Arama</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="POLICY_NUMBER" name="POLICY_NUMBER" class="form-control" maxlength="8" placeholder="Poliçe No" required="required">
                                    <label for="POLICY_NUMBER">Poliçe No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="IDENTITY_NO" name="IDENTITY_NO" maxlength="11" class="form-control" placeholder="TCKN / VKN / Pasaport No" required="required">
                                    <label for="IDENTITY_NO">TCKN</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="TAX_NUMBER" name="TAX_NUMBER" maxlength="10" class="form-control" placeholder="Vergi Kimlik No" required="required">
                                    <label for="TAX_NUMBER">Vergi Kimlik No</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="Pasaport_NO" name="Pasaport_NO" class="form-control" placeholder="Pasaport No" required="required">
                                    <label for="Pasaport_NO">Pasaport No</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="FIRST_NAME" name="FIRST_NAME" class="form-control" placeholder="Adı" required="required">
                                    <label for="FIRST_NAME">Adı</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="LAST_NAME" name="LAST_NAME" class="form-control" placeholder="Soyadı" required="required">
                                    <label for="LAST_NAME">Soyadı</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select class="chosen-select company" name="COMPANY_ID" id="COMPANY_ID" data-placeholder="Sigorta Şirketi Seçiniz" style="width: 90%;" title="Sigorta Şirketi Seçiniz">
                                    <option value=""> </option>
                                    <option value="">TÜMÜ</option>
                                    @foreach (var item in ViewBag.v_company)
                                    {
                                        <option value="@item.COMPANY_ID">@item.COMPANY_NAME</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="date" id="BIRTHDATE" name="BIRTHDATE" maxlength="11" class="form-control" placeholder="Doğum Tarihi" required="required">
                                    <label for="BIRTHDATE">Doğum Tarihi</label>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="isFilter" name="isFilter" value="0" />
                        <div class="col-lg-3">
                            <button class="form-control btn btn-info text-white filter " onclick="GetInsuredList();">
                                <i class="fas fa-filter"></i> FİLTRELE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="hdInsuredId" id="hdInsuredId" value="0" />
            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblInsuredList" width="100%" cellspacing="0" >
                            <thead>
                                <tr>
                                    <th>Provizyon Giriş</th>
                                    <th>Sigortalı Durumu</th>
                                    <th>Poliçe Durumu</th>
                                    <th>Sigorta Şirketi</th>
                                    <th>Poliçe No - Yenileme No</th>
                                    <th>TCKN/VKN/Pasaport No</th>
                                    <th>Adı Soyadı</th>
                                    <th>Doğum Tarihi</th>
                                    <th>Cinsiyet</th>
                                    <th>Paket</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            @*<div class="card mb-3">
                
                <div class="card-body">
                    <div class="table-responsive" id="divExclusion" style="display:none">
                        <div class="card-header">
                            <h4>İSTİSNALAR</h4>
                        </div>
                        <table class="table table-short table-bordered" id="tblExclusion" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>TİP</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="border-section">
                        <h4 class="card-head-text">Genel</h4>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <input type="text" id="insuredListAgencyName" disabled="disabled" class="form-control" placeholder="Acente Adı" required="required">
                                        <label for="insuredListAgencyName">Acente Adı</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <input type="text" id="insuredListInsurerName" disabled="disabled" class="form-control" placeholder="Sigorta Ettiren" required="required">
                                        <label for="insuredListInsurerName">Sigorta Ettiren</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <input type="text" id="insuredListPolicyGroupName" disabled="disabled" class="form-control" placeholder="Poliçe Grubu" required="required">
                                        <label for="insuredListPolicyGroupName">Poliçe Grubu</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <input type="text" id="insuredListBirthCoverageDate" disabled="disabled" class="form-control" placeholder="D. Teminat Tarihi)" required="required">
                                        <label for="insuredListBirthCoverageDate">D. Teminat Tarihi</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <input type="text" id="insuredListFirstCompanyInsuredDate" disabled="disabled" class="form-control" placeholder="Sigorta Şirketi İlk G. Tarihi" required="required">
                                        <label for="insuredListFirstCompanyInsuredDate">Sigorta Şirketi İlk G. Tarihi</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <button id="insuredListIsVip" disabled="disabled" class="btn btn-danger text-white form-control" href="#">
                                    VIP
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>

    @RenderPage("~/Views/Shared/Footer.cshtml")
</div>
<!-- /#wrapper -->

@RenderBody()



<script>
    var tblInsured = null;
    var selectedInsuredId = -1;
    var selectedInsured = null;
    jQuery(document).ready(function () {
        jQuery("#COMPANY_ID").attr("data-placeholder", "Sigorta Şirketi Seçiniz");
        jQuery("#COMPANY_ID").on('chosen:ready', function (ev, args) {
            var sender = args.chosen;
            sender.search_field.attr('placeholder', sender.default_text);
        }).chosen();
    });
    $(document).ready(function () {
        LoadInsuredList();

        $('#tblInsuredList tbody').on('click', 'tr', function () {
            if ($(this).hasClass('warning-bold')) {
                // $(this).removeClass('selected');

            }
            else {
                tblInsured.$('tr.warning-bold').removeClass('warning-bold');
                $(this).addClass('warning-bold');
                var data = tblInsured.row(this).data();
                GetInsuredDetails(data, data.INSURED_ID, data.POLICY_ID, data.PACKAGE_ID);
            }
        });
    });

    function LoadInsuredList() {
        debugger;
        tblInsured = $("#tblInsuredList").DataTable({
            "ajax": {
                "url": "/Insured/GetInsuredList",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                "data": function (item) {
                    item.POLICY_NUMBER = $('#POLICY_NUMBER').val();
                    item.IDENTITY_NO = $('#IDENTITY_NO').val();
                    item.TAX_NUMBER = $('#TAX_NUMBER').val();
                    item.Pasaport_NO = $('#Pasaport_NO').val();
                    item.FIRST_NAME = $('#FIRST_NAME').val();
                    item.LAST_NAME = $('#LAST_NAME').val();
                    item.COMPANY_ID = $('#COMPANY_ID').val();
                    item.BIRTHDATE = $('#BIRTHDATE').val();
                    item.isFilter = $('#isFilter').val();
                },
                "complete": function (settings, json) {
                    $.unblockUI();
                },
                "error": function () {
                    $.unblockUI();
                }
            },
            "columns": [
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        return '<div class="btn-group fr">' +
                            ' <span><a href="#" onclick="ClaimCreate()" class="myIcon icon-green" data-toggle="tooltip" title="Provizyon Ekle"><i class="fa fa-plus"></i></a></span>' +
                            '</div>';
                    }
                },
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        if (data != null) {
                            if (data.STATUS == "0") {
                                return '<p class="success-bold"><strong>AKTİF</strong></p>';
                            }
                            else {
                                return '<p class="error-bold"><strong>PASİF</strong></p>';
                            }
                        }
                    }
                },
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        if (data != null) {
                            if (data.POLICY_STATUS == "2") {
                                return '<p class="success-bold"><strong>YÜRÜLÜKTE</strong></p>';
                            }
                            else {
                                return '<p class="error-bold"><strong>SÜRESİ DOLMUŞ</strong></p>';
                            }
                        }
                    }
                },
                { "data": "COMPANY_NAME", name: "COMPANY_NAME" },
                {
                    "data": null,
                    "render": function (data) {
                        return data.POLICY_NUMBER + " - " + data.RENEWAL_NO;
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        return (data.IDENTITY_NO == null ? "-" : data.IDENTITY_NO) + " / " + (data.TAX_NUMBER == null ? "-" : data.TAX_NUMBER) + " / " + (data.PASSPORT_NO == null ? "-" : data.PASSPORT_NO);
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        return (data.FIRST_NAME == null ? "-" : data.FIRST_NAME) + " " + (data.LAST_NAME == null ? "-" : data.LAST_NAME);
                    }
                },
                {
                    "data": "BIRTHDATE", name: "BIRTHDATE", "orderable": false,
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                {
                    "data": null,"orderable": false,
                    "render": function (data) {
                        return GetValueOfEnum('GenderCode', data.GENDER);
                    }
                },
                { "data": "PACKAGE_NAME", "orderable": false, }
                
            ],
            pageLength: 10,
            "scrollX": true,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [3, "desc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "sLengthMenu": " _MENU_  Adet Kayıt Listelendi",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    }
    var isClaimCreate = false;
    function ClaimCreate() {
        debugger;
        if (selectedInsured != null) {
            isClaimCreate = false;
            window.open("/Claim/Create?insuredId=" + selectedInsured.INSURED_ID + "&contactId=" + selectedInsured.CONTACT_ID + "&policyId=" + selectedInsured.POLICY_ID + "&packageId=" + selectedInsured.PACKAGE_ID, "_blank");
        }
        else {
            isClaimCreate = true;
            //getErrorMessage("warning", "Sigortalı Seçimi Yapınız!");
        }
    }

    function GetInsuredDetails(insured, insuredId, policyId, packageId) {
        debugger;
        if (selectedInsuredId != insuredId) {
            selectedInsured = insured;

            if (selectedInsured != null) {

                // Genel
                //document.getElementById("divExclusion").style.display = "none";
                //document.getElementById("hdInsuredId").value = insuredId;
                //document.getElementById("insuredListAgencyName").value = selectedInsured.AGENCY_NAME;
                //document.getElementById("insuredListInsurerName").value = selectedInsured.INSURER_NAME;
                //document.getElementById("insuredListPolicyGroupName").value = selectedInsured.POLICY_GROUP_NAME == null ? "" : selectedInsured.POLICY_GROUP_NAME;
                //document.getElementById("insuredListBirthCoverageDate").value = formatdate(selectedInsured.BIRTH_COVERAGE_DATE);
                //document.getElementById("insuredListFirstCompanyInsuredDate").value = formatdate(selectedInsured.COMPANY_ENTRANCE_DATE);
                //if (selectedInsured.IS_VIP == "1") {
                //    document.getElementById("insuredListIsVip").style.setProperty('visibility', 'visible');
                //}
                //else {
                //    document.getElementById("insuredListIsVip").style.setProperty('visibility', 'hidden');
                //}

                //$.ajax({
                //    type: "post",
                //    contentType: "application/json; charset=utf-8",
                //    url: "/Insured/GetExclusion?insuredId=" + insuredId,
                //    cache: false,
                //    contentType: false,
                //    processData: false,
                //    beforeSend: function (xhr) {
                //        $.blockUI({ message: $('#domMessage') });
                //    },
                //    success: function (data) {

                //        var responseData = $.parseJSON(data);
                //        responseData = JSON.parse(responseData);
                //        debugger;
                //        // İstisna

                //        //RefreshTable("tblExclusion", responseData);
                //        var table = document.getElementById("tblExclusion");
                //        var tableBody = document.createElement('TBODY');
                //        debugger;
                //        if (responseData != null && responseData!="[]") {
                //            table.removeChild(table.childNodes[3]);
                //            $.each(responseData, function (index) {
                //                var dataItem = responseData[index];
                //                if (dataItem.RULE_CATEGORY_TYPE != null) {
                //                    document.getElementById("divExclusion").style.display = "none";

                //                    var tr = document.createElement('TR');
                //                    var td = document.createElement('TD');
                //                    td.appendChild(document.createTextNode(dataItem.RULE_CATEGORY_TYPE));
                //                    tr.appendChild(td);
                //                    tableBody.appendChild(tr);
                //                }
                //            });
                //            table.appendChild(tableBody);
                //        }
                //        $.unblockUI();
                //    },
                //    error: function (xhr, err) {
                //        swal({
                //            title: "Hata!",
                //            text: "Sigortalı bilgileri getirilirken hata oluştu!",
                //            icon: "warning"
                //        });
                //        $.unblockUI();

                //    }
                //});

                selectedInsuredId = insuredId;
                if (isClaimCreate) {
                    ClaimCreate();
                }
                debugger;
            } else {
                swal({
                    title: "Hata!",
                    text: "Sigortalı listesinde seçilen sigortalı bulunamadı!",
                    icon: "warning"
                });
                $.unblockUI();
            }
        }
    }

    function GetInsuredList() {
        $('#isFilter').val("1");
        tblInsured.ajax.reload();
    }

    function GetValueOfEnum(typeName, ordinal) {
        if (ordinal != null) {
            if (typeName == "GenderCode") {
                var GenderList = @Html.Raw(Json.Encode(@ViewBag.GenderList));
                return GenderList == null ? "-" : GenderList[ordinal];
            }
            else if (typeName == "IndividualTypeCode") {
                var IndividualTypeCodeList = @Html.Raw(Json.Encode(@ViewBag.IndividualTypeCodeList));
                return IndividualTypeCodeList == null ? "-" : IndividualTypeCodeList[ordinal];
            }
        }
        else {
            return "-";
        }
    }
</script>