﻿@model Protein.Web.Models.ExportModel.ExportVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
@RenderPage("~/Views/Shared/Header.cshtml")

<div id="wrapper">

    @RenderPage("~/Views/Shared/LeftSidebar.cshtml")

    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Icon Cards-->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card text-white bg-purple o-hidden h-100">
                            <div class="card-body-two">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5>İcmal/Ödeme Listesi</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <span><a href="#" style="float:right" role="button" tabindex="0" data-toggle="modal" data-target="#modalExport" class="btn btn-success" title="Dışa Aktar - Excel"><i class="fa fa-download"></i> </a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-yd">
                            <div class="form-group">
                                <select class="chosen-select" name="COMPANY_ID" data-placeholder="Sigorta Şirketi Seçiniz" id="COMPANY_ID" style="width: 90%;">
                                    <option value="">Sigorta Şirketi Seçiniz</option>
                                    @foreach (var item in ViewBag.v_company)
                                    {
                                        <option value="@item.COMPANY_ID">@item.COMPANY_NAME</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input name="payrollNo" class="form-control" id="payrollNo" placeholder="İcmal noyu giriniz" type="text" />
                                    <label for="payrollNo" class="control-label">İcmal No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input name="extpayrollNo" class="form-control" id="extpayrollNo" placeholder="İcmal noyu giriniz" type="text" />
                                    <label for="extpayrollNo" class="control-label">Kurum İcmal No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-label-group">
                                <select class="chosen-select" name="payrollStatus"  data-placeholder="İcmal Durum Seçiniz" id="payrollStatus" style="width: 90%;">
                                    <option value="">İcmal Durum Seçiniz</option>
                                    @foreach (var item in ViewBag.PayrollStatusList)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="date" id="paymentStartDate" name="paymentStartDate" maxlength="11" class="form-control" placeholder="Ödeme Başlangıç Tarih (>)">
                                    <label for="paymentStartDate">Ödeme Başlangıç Tarih</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-yd">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="date" id="paymentEndDate" name="paymentEndDate" maxlength="11" class="form-control" placeholder="Ödeme Bitiş Tarih (<)">
                                    <label for="paymentEndDate">Ödeme Bitiş Tarih</label>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="isFilter" id="isFilter" value="0" />

                        <div class="col-yd">
                            <div class="form-group">
                                <button onclick="GetPayrollList();" class="form-control btn btn-info text-white filter">
                                    <i class="fas fa-filter"></i> FİLTRELE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" cellspacing="0" id="tblPayrollList">
                            <thead>
                                <tr>
                                    <th>Şirket</th>
                                    <th>Detay Görüntüle</th>
                                    <th>İcmal No</th>
                                    <th>Kurum İcmal No</th>
                                    <th>İcmal Tarihi</th>
                                    <th>İcmal Durum</th>
                                    <th>Ödeme Tarihi</th>
                                    <th>İcmal Tutarı (TL)</th>
                                    <th>Banka</th>
                                    <th>IBAN</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal frmBill_Modal -->
        <div class="modal fade" id="frmBill_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmBill_Modal">
            <div class="modal-dialog" role="document" style="max-width:1150px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="invoiceViewModalLabel">Faturalar</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-md table-custom" id="tblBillList">
                                        <thead>
                                            <tr>
                                                <th>Sıra No</th>
                                                <th>Fatura No</th>
                                                <th>Fatura Tarihi</th>
                                                <th>Provizyon No</th>
                                                <th>Provizyon Tipi</th>
                                                <th>Medula No</th>
                                                <th>Provizyon Tarihi</th>
                                                <th>Provizyon Durum</th>
                                                <th>Sigorta Şirketi</th>
                                                <th>Sigortalı Ad Soyad</th>
                                                <th>Sigortalı TCKN</th>
                                                <th>Anlaşmalı Tutar</th>
                                                <th>Onaylanan Tutar</th>
                                                <th>Sigortalı Payı</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <input type="hidden" name="hdBillList" id="hdBillList" value="[]" />
                                </div>
                                <div class="card-head">
                                    <div class="row  border-section">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="totalRequested" class="form-control" disabled="disabled" placeholder="Anlaşmalı Tutar">
                                                    <label for="totalRequested">TL Talep Tutar</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="totalPaid" class="form-control" disabled="disabled" placeholder="Onaylanan Tutar">
                                                    <label for="totalPaid">Şirket Tutar</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="totalInsured" class="form-control" disabled="disabled" placeholder="Sigortalı Payı">
                                                    <label for="totalInsured">Sigortalı Payı</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.container-fluid -->
        @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model)

        @RenderPage("~/Views/Shared/Footer.cshtml")

    </div>
    <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->

@RenderBody()

<script>
    var tblPayroll = null;
    $(document).ready(function () {
        LoadPayrollList();
        LoadBill();
    });

    jQuery(document).ready(function () {
        jQuery("#COMPANY_ID").attr("data-placeholder", "Sigorta Şirketi Seçiniz");
        jQuery("#COMPANY_ID").on('chosen:ready', function (ev, args) {
            var sender = args.chosen;
            sender.search_field.attr('placeholder', sender.default_text);
        }).chosen();
    });

    function LoadPayrollList() {
        tblPayroll = $("#tblPayrollList").DataTable({
            "ajax": {
                "url": "/Payroll/GetPaymentList",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                "data": function (a) {
                    a.COMPANY_ID = $('#COMPANY_ID').val();
                    a.payrollNo = $('#payrollNo').val();
                    a.providerId = $('#PROVIDER_ID').val();
                    a.extpayrollNo = $('#extpayrollNo').val();
                    a.paymentStartDate = $('#paymentStartDate').val();
                    a.paymentEndDate = $('#paymentEndDate').val();
                    a.payrollStatus = $('#payrollStatus').val();
                    a.PROVIDER_Group = $('#PROVIDER_Group').val();
                    a.isFilter = $('#isFilter').val();
                    return a;
                },
                "complete": function (settings, json) {
                    var responseText = JSON.parse(settings.responseText);
                    $("#WhereCondition").val(responseText.whereConditition);
                    $.unblockUI();
                },
                "error": function () {
                    $.unblockUI();
                }
            },
            "columns": [
                { "data": "COMPANY_NAME", "name": "COMPANY_NAME" },
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        return '<div class="btn-group fr">' +
                            ' <span><a href="#" onclick="GetBill(' + data.PAYROLL_ID + ')" class="myIcon icon-blue" data-toggle="tooltip" title="Detayını Görüntüle"><i class="fa fa-search"></i></a></span>' +
                            '</div>';
                    }
                },
                { "data": "PAYROLL_ID", "name": "PAYROLL_ID" },
                { "data": "EXT_PROVIDER_NO", "name": "EXT_PROVIDER_NO" },
                {
                    "data": "PAYROLL_DATE",
                    "render": function (data) {
                       
                        return data == null ? "-" : data;
                    }
                },
                {
                    "data": "STATUS",
                    "render": function (data) {
                        return data == null ? "-" : GetValueOfEnum('PayrollStatus', data);
                    }
                },
                {
                    "data": "PAYMENT_DATE",
                    "render": function (data) {
                        return data == null ? "-" : data;
                    }
                },
                { "data": "TOTAL_AMOUNT", name: "TOTAL_AMOUNT" },
                { "data": "BANK_NAME", name: "BANK_NAME" },
                { "data": "IBAN", name: "IBAN" }
            ],
            pageLength: 10,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [2, "desc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": " ",
                "infoEmpty": " ",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    }

    function GetBill(payrollId) {
        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            url: "/Bill/GetBill?payrollId=" + payrollId,
            cache: false,
            contentType: false,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            complete: function () {
                $.unblockUI();
            },
            success: function (data) {
                var responseData = $.parseJSON(data);
                var jsonData = JSON.parse(responseData.Data.jsonData)
                debugger;

                var totalRequested = 0.0, totalPaid = 0.0, totalInsured = 0.0;
                $.each(jsonData, function (index, claimProcessCoverage) {
                    totalRequested += parseFloat(claimProcessCoverage.REQUESTED.replace(',', '.'));
                    totalPaid += parseFloat(claimProcessCoverage.PAID.replace(',', '.'));
                    totalInsured += parseFloat(claimProcessCoverage.REQUESTED.replace(',', '.')) - parseFloat(claimProcessCoverage.PAID.replace(',', '.'));
                });

                $('#totalRequested').val(totalRequested.toFixed(2));
                $('#totalPaid').val(totalPaid.toFixed(2));
                $('#totalInsured').val(totalInsured.toFixed(2));

                RefreshTable('tblBillList', jsonData);
                $('#frmBill_Modal').modal("toggle");
            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
            }
        })
    }

    function GetPayrollList() {
        $('#isFilter').val("1");
        tblPayroll.ajax.reload();
    }

    function LoadBill() {
        var tbl = "tblBillList";
        var hdi = "hdBillList";
        
        var data = JSON.parse($('#' + hdi).val());
        debugger;

        tblBillList = $('#' + tbl).DataTable({
            pageLength: 5,
            language: {
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": " ",
                "info": " ",
                "search": "Arama: ",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            },
            "aLengthMenu": [[5,10, 25, 50, 75, 100, -1], [5,10, 25, 50, 75, 100, "Tümü"]],
            "ordering": false,
            "data": data,
            "columns": [
                { "data": "NO" },
                { "data": "BILL_NO" },
                { "data": "BILL_DATE" },
                { "data": "CLAIM_ID" },
                { "data": "CLAIM_TYPE" },
                { "data": "MEDULA_NO" },
                { "data": "CLAIM_DATE" },
                { "data": "STATUS_TEXT" },
                { "data": "COMPANY_NAME" },
                { "data": "INSURED_NAME" },
                { "data": "IDENTITY_NO" },
                { "data": "REQUESTED" },
                { "data": "PAID" },
                { "data": "INSURED_AMOUNT" },
            ]
        });
    }
    
    function GetValueOfEnum(typeName, ordinal) {
        if (ordinal != null) {
            if (typeName == "PayrollStatus") {
                var PayrollStatusList = @Html.Raw(Json.Encode(@ViewBag.PayrollStatusList));
                return PayrollStatusList == null ? "-" : PayrollStatusList[ordinal];
            }
        }
        else {
            return "-";
        }
    }

</script>