﻿<!-- Faturaları Görüntüle Modal-->
<div class="modal fade" id="frmBillList_Modal" tabindex="-1" role="dialog" aria-labelledby="invoiceViewModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:1150px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="invoiceViewModalLabel">Zarftaki Faturalar</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="form-horizontal" role="form" action="/Payroll/GetBill" method="post" id="frmBillList">
                <div class="modal-body">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" width="100%" cellspacing="0" id="tblBillList">
                                    <thead>
                                        <tr>
                                            <th>Sigorta Şirketi</th>
                                            <th>Zarf No</th>
                                            <th>Hasar No</th>
                                            <th>Zarf Kategorisi</th>
                                            <th>Sigortalı Ad-Soyad</th>
                                            <th>TCKN</th>
                                            <th>Poliçe No</th>
                                            <th>Poliçe Başl. Tarihi</th>
                                            <th>Ürün Adı</th>
                                            <th>Fatura No</th>
                                            <th>Fatura Tarihi</th>
                                            <th>Hasar Durumu</th>
                                            <th>Ödeme Tarihi</th>
                                            <th>Ödeme Tutar</th>
                                            <th>Ödenen Banka Adı</th>
                                            <th>Ödenen IBAN</th>
                                            <th>İŞLEM</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var tblBillList = null;
    $(document).ready(function () {
        LoadBillList();
    });

    function LoadBillList() {
        var tbl = "tblBillList";

        var data = JSON.parse("[]");

        tblBillList = $('#' + tbl).DataTable({
            pageLength: 5,
            language: {
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "",
                "info": "",
                "search": "Arama: "
            },
            "aLengthMenu": [[5, 25, 50, 75, 100, -1], [5, 25, 50, 75, 100, "Tümü"]],
            "scrollX": true,
            "scrollY": false,
            "scrollCollapse": false,
            "data": data,
            "order": [5, "asc"],
            "columns": [
                { "data": "COMPANY_NAME" },
                { "data": "PAYROLL_ID" },
                { "data": "CLAIM_ID" },
                {
                    "data": "PAYROLL_CATEGORY",
                    "render": function (data) {
                        return '<p><strong>' + GetValueOfEnum('PayrollCategory', data) + '</strong></p>';
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        return data.FIRST_NAME + " " + data.LAST_NAME;
                    }
                },
                { "data": "IDENTITY_NO" },
                { "data": "POLICY_NUMBER" },
                { "data": "POLICY_START_DATE" },
                { "data": "PRODUCT_NAME" },
                { "data": "BILL_NO" },
                { "data": "BILL_DATE" },
                {
                    "data": "STATUS",
                    "render": function (data) {
                        return '<p><strong>' + GetValueOfEnum('ClaimStatus', data) + '</strong></p>';
                    }
                },
                { "data": "PAYMENT_DATE" },
                { "data": "AMOUNT" },
                { "data": "BANK_NAME" },
                { "data": "IBAN" },
                {
                    "data": null,
                    "render": function (data) {
                        if (data.PAYROLL_STATUS == "0") { //PayrollStatus
                            return '<div class="btn-group fr">' +
                                '<span><a href="#" onClick="DeleteBill(\'Zarftan Çıkar\',\'Faturayı ' + data.PAYROLL_ID + ' nolu Zarftan Çıkarmak emin misiniz ? \',\'info\',' + data.CLAIM_ID + ');" class="myIcon icon-red" data-toggle="tooltip" title="Faturayı Zarftan Çıkar"> <i class="fas fa-arrow-circle-right"></i></a></span><br />'+
                                '</div>';
                        }
                        else {
                            return "";
                        }
                    }
                }
            ]
        });
    }

    function GetBillList(payrollId) {
        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            url: "/Common/GetBillList?payrollId=" + payrollId,
            cache: false,
            contentType: false,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            complete: function () {
                $.unblockUI();
            },
            success: function (data) {
                debugger;
                var responseData = $.parseJSON(data);
                if (responseData.ResultCode == "100") {
                    RefreshTable('tblBillList', JSON.parse(responseData.Data.jsonData));
                    $('#frmBillList_Modal').modal("toggle");
                }
                else {
                    getErrorMessage("error", responseData.ResultMessage);
                }
            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
            }
        })
    }

    function DeleteBill(title, text, type, ClaimId) {
        swal({
            title: title,
            text: text,
            type: type,
            showCancelButton: true,
            cancelButtonText: "Hayır",
            confirmButtonText: "Evet",
            closeOnConfirm: true,
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "post",
                        contentType: "application/json; charset=utf-8",
                        url: "/Payroll/PayrollExit?claimId=" + ClaimId,
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function (xhr) {
                            Loading();
                        },
                        success: function (data) {
                            var responseData = $.parseJSON(data);
                            if (responseData.ResultCode == "100") {
                                getErrorMessage("success", responseData.ResultMessage);
                                RefreshTable('tblBillList', JSON.parse(responseData.Data.jsonData));
                            }
                            else {
                                getErrorMessage("error", responseData.ResultMessage);
                            }
                            $.unblockUI();
                        },
                        error: function (xhr, err) {
                            alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                            alert("responseText: " + xhr.responseText);
                        }
                    });
                }
                else {
                    $.unblockUI();

                }
            });
    }
</script>