﻿<!-- Fatura Ekle Modal-->
<div class="modal fade" id="invoiceAddModal" tabindex="-1" role="dialog" aria-labelledby="invoiceAddModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:900px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="invoiceAddModalLabel">Fatura Ekle</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="invoiceNo" class="form-control" placeholder="Fatura No" required="required">
                                    <label for="invoiceNo">Fatura No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="invoiceInsuranceName" class="form-control" placeholder="Sigortalı Adı" required="required">
                                    <label for="invoiceInsuranceName">Sigortalı Adı</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="invoiceInsuranceSurname" class="form-control" placeholder="Sigortalı Soyadı" required="required">
                                    <label for="invoiceInsuranceSurname">Sigortalı Soyadı</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="invoiceDamagePopupNo" class="form-control" placeholder="Hasar No" required="required">
                                    <label for="invoiceDamagePopupNo">Hasar No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="date" id="invoicePopStartDate" class="form-control" placeholder="Fatura Başlangıç Tarihi (<)" required="required">
                                    <label for="invoicePopStartDate">Fatura Başlangıç Tarihi (<)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="invoicePopStartDateTwo" class="form-control" placeholder="Fatura Başlangıç Tarihi (>)" required="required">
                                    <label for="invoicePopStartDateTwo">Fatura Başlangıç Tarihi (>)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="date" id="invoiceDamagePopStartDate" class="form-control" placeholder="Hasar Başlangıç Tarihi (<)" required="required">
                                    <label for="invoiceDamagePopStartDate">Hasar Başlangıç Tarihi (<)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="date" id="invoiceDamagePopStartDateTwo" class="form-control" placeholder="Hasar Başlangıç Tarihi (>)" required="required">
                                    <label for="invoiceDamagePopStartDateTwo">Hasar Başlangıç Tarihi (>)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <button class="form-control btn btn-info text-white filter " href="#">
                                <i class="fas fa-filter"></i> FİLTRELE
                            </button>
                        </div>
                        <div class="col-lg-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-long table-bordered" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Fatura No</th>
                                                    <th>Sigortalı Ad-Soyad </th>
                                                    <th>Hasar No</th>
                                                    <th>Fatura Başlangıç Tarihi</th>
                                                    <th>Hasar Başlangıç Tarihi</th>
                                                    <th>İşlemler</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>12423213</td>
                                                    <td>Can Berk</td>
                                                    <td>41251432</td>
                                                    <td>2018/07/12</td>
                                                    <td>2018/09/13</td>
                                                    <td><a href="#" class="btn btn-success" href="#">Seç</a></td>
                                                </tr>
                                                <tr>
                                                    <td>643213</td>
                                                    <td>Kemal Can</td>
                                                    <td>35146732</td>
                                                    <td>2017/02/27</td>
                                                    <td>2018/01/13</td>
                                                    <td><a href="#" class="btn btn-success" href="#">Seç</a></td>
                                                </tr>
                                                <tr>
                                                    <td>12423213</td>
                                                    <td>Can Berk</td>
                                                    <td>41251432</td>
                                                    <td>2018/07/12</td>
                                                    <td>2018/09/13</td>
                                                    <td><a href="#" class="btn btn-success" href="#">Seç</a></td>
                                                </tr>
                                                <tr>
                                                    <td>643213</td>
                                                    <td>Kemal Can</td>
                                                    <td>35146732</td>
                                                    <td>2017/02/27</td>
                                                    <td>2018/01/13</td>
                                                    <td><a href="#" class="btn btn-success" href="#">Seç</a></td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <a type="submit" class="btn btn-success" href="SCR001.html">Kaydet</a>
                </div>
            </form>
        </div>
    </div>
</div>