﻿<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="/assets/images/mini-light-logo.png" alt="Protein"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="/assets/images/protein-light-logo.png" alt="Protein"></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-fixed-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <button onclick="ViewPrivateTerms()" class="btn btn-rounded btn-default mbui-nav-btn"><i class="fa fa-file"></i> ÖZEL ŞART </button>
        <button onclick="ViewAdditionalTerms()" class="btn btn-rounded btn-default mbui-nav-btn"><i class="fa fa-copy"></i> EK PROTOKOL </button>
        <button onclick="GetOldClaimMedias();" class="btn btn-rounded btn-default mbui-nav-btn"><i class="fa fa-folder"></i>  ESKİ HASAR DOSYALARI </button>
        <button onclick="GetPlanCoverage();" class="btn btn-rounded btn-default mbui-nav-btn"><i class="fa fa-user-md"></i>  KALAN TEMİNATLAR </button>
        <button onclick="GetOldClaims();" class="btn btn-rounded btn-default mbui-nav-btn"><i class="fa fa-history"></i> ESKİ TAZMİNATLAR </button>
        <button onclick="GetMedicalNotes();" class="btn btn-rounded btn-default mbui-nav-btn"><i class="fa fa-history"></i> MEDİKAL NOT</button>
        <button onclick="GetClaimReport()" class="btn btn-rounded btn-default mbui-nav-btn"><i class="fa fa-envelope"></i> MEKTUP </button>

        <div class="navbar-custom-menu">
            @*<ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li>
                <a href="/Dashboard/Logout" class="sign-out">Çıkış <i class="fa fa-sign-out"></i></a>
            </li>
            <!-- Control Sidebar Toggle Button -->*@
            <!-- Right-side navigation -->
            <ul class="nav-right pull-right list-inline">
                <li class="dropdown nav-profile">

                    <a href="" class="dropdown-toggle" data-toggle="dropdown" th:with="personnel=${session[personnel]}">
                        <img src="/assets/images/profile-photo.jpg" alt="" class="img-circle size-30x30" />
                    </a>

                    <ul class="dropdown-menu animated littleFadeInRight getLeft" role="menu">
                        <li>
                            <a href="/Common/ChangePassword">
                                <i class="fa fa-lock"></i>Şifre Değiştir
                            </a>
                        </li>
                        <li>
                            <a href="/Dashboard/Logout">
                                <i class="fa fa-sign-out"></i>Çıkış
                            </a>
                        </li>

                    </ul>

                </li>
            </ul>
            <!-- Right-side navigation end -->
            @*<li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>*@
        </div>
    </nav>
</header>
