﻿@{
    bool isEdit = false;

    string EXT_PROVIDER_NO = string.Empty;
    string COMPANY_NAME = string.Empty;
    string PAYROLL_ID = string.Empty;
    string PROVIDER_ID = string.Empty;
    string STATUS = string.Empty;
    string PAYROLL_CATEGORY = string.Empty;
    string EXT_PROVIDER_DATE = string.Empty;
    string PROVIDER_NAME = string.Empty;
    string PAYROLL_DATE = DateTime.Now.ToString("dd-MM-yyyy");
    string DUE_DATE = DateTime.Now.AddDays(30).ToString("dd-MM-yyyy");
    string COMPANY_ID = string.Empty;
    string PAYMENT_DATE = string.Empty;
    string PROVIDER_TITLE = string.Empty;
    string PAYROLL_TYPE = string.Empty;
    string COMPANY_PAYROLL_ID = string.Empty;
    string COMPANY_PAYROLL_NO = string.Empty;

    if (ViewBag.Payroll != null)
    {
        isEdit = true;

        var payroll = ViewBag.Payroll;

        STATUS = Convert.ToString(payroll.STATUS);
        PAYMENT_DATE = Convert.ToString(payroll.PAYMENT_DATE);
        PAYMENT_DATE = string.IsNullOrEmpty(PAYMENT_DATE) ? string.Empty : DateTime.Parse(PAYMENT_DATE).ToString("dd-MM-yyyy");
        PROVIDER_TITLE = Convert.ToString(payroll.PROVIDER_TITLE);
        PROVIDER_NAME = Convert.ToString(payroll.PROVIDER_NAME);
        PAYROLL_CATEGORY = Convert.ToString(payroll.PAYROLL_CATEGORY);
        PAYROLL_DATE = Convert.ToString(payroll.PAYROLL_DATE);
        PAYROLL_DATE = string.IsNullOrEmpty(PAYROLL_DATE) ? string.Empty : DateTime.Parse(PAYROLL_DATE).ToString("dd-MM-yyyy");
        PAYROLL_ID = Convert.ToString(payroll.PAYROLL_ID);
        PAYROLL_TYPE = Convert.ToString(payroll.PAYROLL_TYPE);
        COMPANY_NAME = Convert.ToString(payroll.COMPANY_NAME);
        COMPANY_ID = Convert.ToString(payroll.COMPANY_ID);
        EXT_PROVIDER_DATE = Convert.ToString(payroll.EXT_PROVIDER_DATE);
        EXT_PROVIDER_DATE = string.IsNullOrEmpty(EXT_PROVIDER_DATE) ? string.Empty : DateTime.Parse(EXT_PROVIDER_DATE).ToString("dd-MM-yyyy");
        DUE_DATE = Convert.ToString(payroll.DUE_DATE);
        DUE_DATE = string.IsNullOrEmpty(DUE_DATE) ? string.Empty : DateTime.Parse(DUE_DATE).ToString("dd-MM-yyyy");
        EXT_PROVIDER_NO = Convert.ToString(payroll.EXT_PROVIDER_NO);
        PROVIDER_ID = Convert.ToString(payroll.PROVIDER_ID);
        COMPANY_PAYROLL_ID = Convert.ToString(payroll.COMPANY_PAYROLL_ID);
        COMPANY_PAYROLL_NO = Convert.ToString(payroll.COMPANY_PAYROLL_NO);
    }
}

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">
                <div class="mbui-header">
                    <h3><strong>Zarf Ekle</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" href="/Payroll/Index" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/Payroll/Create" method="post" data-toggle="validator">
                                <div class="row">
                                    <input type="hidden" name="hdPayrollId" id="hdPayrollId" value="@PAYROLL_ID" />
                                    <div class="col-sm-3">
                                        <label for="company" class="control-label"><span class="color-danger">*</span>Sigorta Şirketi</label>
                                        <select class="chosen-select bg-white" title="Seçiniz" @(ViewBag.CompanyNotChange ? "disabled" : "") name="company" id="company" required>
                                            <option value="">SEÇİNİZ</option>
                                            @foreach (var item in ViewBag.v_company)
    {
                                        <option value="@item.COMPANY_ID" @(COMPANY_ID == Convert.ToString(item.COMPANY_ID) ? "selected" : "")>@item.COMPANY_NAME</option>
}
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="companyPayrollNo" class="control-label">Şirket Zarf No</label>
                                        <input name="companyPayrollNo" class="form-control" id="companyPayrollNo" type="text" value="@COMPANY_PAYROLL_NO" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="type" class="control-label"><span class="color-danger">*</span>Zarf Tipi</label>
                                        <select name="type" class="selectpicker w-100-pr mbui-select bg-white" id="type" title="Seçiniz" onchange="SetDueDate('payrollDate','dueDate','type','category','provider')" required>
                                            @foreach (var item in ViewBag.PayrollTypeList)
                                            {
                                                <option value="@item.Key" @(PAYROLL_TYPE == Convert.ToString(item.Key) ? "selected" : "")>@item.Value</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="category" class="control-label"><span class="color-danger">*</span>Zarf Kategorisi</label>
                                        <select class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" name="category" id="category" onchange="SetDueDate('payrollDate','dueDate','type','category','provider')" required>
                                            @foreach (var envelopeCategory in ViewBag.EnvelopeCategoryList)
                                            {
                                                <option value="@envelopeCategory.Key" @(PAYROLL_CATEGORY == Convert.ToString(envelopeCategory.Key) ? "selected" : "")>@envelopeCategory.Value</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="provider" class="control-label">Kurum</label>
                                        <select tabindex="3" class="chosen-select" id="provider" name="provider" onchange="SetDueDate('payrollDate','dueDate','type','category','provider')" >
                                            <option value="">SEÇİNİZ</option>
                                            @foreach (var ProviderType in ViewBag.ProviderTypeList)
                                            {
                                                <optgroup label="@ProviderType.Value">
                                                    @foreach (var Provider in ViewBag.ProviderList)
                                                    {
                                                        if (Provider.PROVIDER_TYPE == ProviderType.Key)
                                                        {
                                                            <option value="@Provider.PROVIDER_ID" @(PROVIDER_ID == Convert.ToString(Provider.PROVIDER_ID) ? "selected" : "")>@Provider.PROVIDER_NAME</option>
                                                        }
                                                    }
                                                </optgroup>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="extProviderNo" class="control-label">Kurum İcmal No</label>
                                        <input name="extProviderNo" class="form-control" id="extProviderNo" type="text" value="@EXT_PROVIDER_NO" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="extProviderDate" class="control-label">Kurum Bordrolama Tarihi</label>
                                        <div class='input-group datepicker'>
                                            <input type='text' class="form-control dateMask" name="extProviderDate" id="extProviderDate" value="@EXT_PROVIDER_DATE" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="payrollDate" class="control-label"><span class="color-danger">*</span>Bordrolama Tarihi</label>
                                        <div class='input-group datepicker'>
                                            <input type='text' class="form-control dateMask" name="payrollDate" id="payrollDate" onchange="SetDueDate('payrollDate','dueDate','type','category','provider')" value="@(PAYROLL_DATE)" required />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="dueDate" class="control-label"><span class="color-danger">*</span>Vade Tarihi</label>
                                        <div class='input-group datepicker'>
                                            <input type='text' class="form-control dateMask" name="dueDate" id="dueDate" value="@DUE_DATE" required/>
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="btn-wrapper-center">
                                    <button type="submit" onclick="Loading()" class="btn btn-success btn-sm createList mr-10">@(isEdit ? "Güncelle" : "Kaydet")</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
@(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });
   
    function SetDueDate(payrollDateInput, dueDateInput, typeInput, categoryInput, providerInput) {
        debugger;
        var payrollDate = $('#' + payrollDateInput).val();
        var type = $('#' + typeInput).val();
        var category = $('#' + categoryInput).val();
        var provider = $('#' + providerInput).val();

        if (payrollDate != null && payrollDate != "") {
            
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Payroll/GetDueDate?payrollDate=" + payrollDate + "&type=" + type + "&category=" + category + "&providerId=" + provider,
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    $.unblockUI();
                    debugger;
                    var responseData = $.parseJSON(data);
                    if (responseData != "[]") {
                        $('#' + dueDateInput).val(responseData);
                    }
                },
                error: function (xhr, err) {
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                    $.unblockUI();
                }
            });
        }
    }

</script>