﻿@model Protein.Web.Models.PayrollModel.PayrollVM

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form mbui-inside-form">
                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Zarf</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a href="/Payroll/Create" tabindex="0" class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="10">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-print">
                                        <i class="fa fa-print" aria-hidden="true"></i> Yazdır
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-pdf">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Pdf
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-toggle="modal" data-target="#modalExport" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Excel
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle import" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="İçe Aktar">
                                <i class="fa fa-download"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel" data-toggle="modal" data-target="#modalImport" data-tooltip="tooltip" data-placement="bottom" title="" data-original-title="Excel">
                                        <i class="fa fa-file-excel-o"></i>Toplu Statü Değişikliği Excel
                                    </a>
                                </li>

                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel" href="/assets/excelfiles/ZARF_TOPLU_STATÜ_DEĞİŞİKLİĞİ.xlsx">
                                        <i class="fa fa-file-excel-o"></i> Örnek Dosya
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body mbui-inside-body active Enterclick">
                    <form class="form-horizontal" role="form" action="/Payroll/Index" method="post">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="payrollCompany" class="control-label">Sigorta Şirketi</label>
                                    <select class="chosen-select" title="Seçiniz" name="payrollCompany" id="payrollCompany" onchange="FillProductChosen('payrollCompany', 'product','1');">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var item in ViewBag.v_company)
                                        {
                                            <option value="@item.COMPANY_ID">@item.COMPANY_NAME</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="product" class="control-label">Ürün</label>
                                    <select name="product" class="chosen-select bg-white" title="Seçiniz" id="product"> </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="payrollNo" class="control-label">Zarf No</label>
                                    <input name="payrollNo" class="form-control" id="payrollNo" type="number" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="oldPayrollNo" class="control-label">Eski Zarf No</label>
                                    <input name="oldPayrollNo" class="form-control" id="oldPayrollNo" type="number" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="CompanyPayrollNo" class="control-label">Şirket Zarf No</label>
                                    <input name="CompanyPayrollNo" class="form-control" id="CompanyPayrollNo_Modal" type="text" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="providerPayrollNo" class="control-label">Kurum İcmal No</label>
                                    <input name="providerPayrollNo" class="form-control" id="providerPayrollNo" type="text" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="payrollProvider" class="control-label">Kurum</label>
                                    <select tabindex="3" class="chosen-select" id="payrollProvider" name="payrollProvider" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var ProviderType in ViewBag.ProviderTypeList)
                                        {
                                            <optgroup label="@ProviderType.Value">
                                                @foreach (var Provider in ViewBag.ProviderList)
                                                {
                                                    if (Provider.PROVIDER_TYPE == ProviderType.Key)
                                                    {
                                                        <option value="@Provider.PROVIDER_ID">@Provider.PROVIDER_NAME</option>
                                                    }
                                                }
                                            </optgroup>
                                        }
                                    </select>
                                </div>


                                <div class="col-sm-2">
                                    <label for="payrollPaymentDateStart" class="control-label">Ödeme Tarihi (&lt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="payrollPaymentDateStart" id="payrollPaymentDateStart" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="payrollPaymentDateEnd" class="control-label">Ödeme Tarihi (&gt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="payrollPaymentDateEnd" id="payrollPaymentDateEnd" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="payrollDate" class="control-label">Bordrolama Tarihi</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="payrollDate" id="payrollDate" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="payrollStatus" class="control-label">Durumu</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" name="payrollStatus" id="payrollStatus">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var item in ViewBag.PayrollStatusList)
                                        {
                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="payrollProviderGroup" class="control-label">Kurum Grubu</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" name="payrollProviderGroup" id="payrollProviderGroup">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var item in ViewBag.ProviderGroupList)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button onclick="FilterClean();" type="button" class="btn btn-rounded btn-default btn-md mt-10 fr mbui-btn">Filtreleri Sıfırla</button>

                                    <button onclick="GetPayrollList();" type="button" class="btn btn-rounded btn-default btn-md mt-10 fr mbui-btn">Filtrele</button>
                                </div>
                            </div>
                         
                            <input type="hidden" name="payrollIsFilter" id="payrollIsFilter" value="0" />
                        </div>
                        <div class="table-responsive">
                            <table class="table table-responsive-sm table-custom" id="tblPayroll">
                                <thead>
                                    <tr>
                                        <th>Sigorta Şirketi</th>
                                        <th>Bordrolama Tarihi</th>
                                        <th>Zarf Tipi</th>
                                        <th>Zarf No</th>
                                        <th>Eski Zarf No</th>
                                        <th>Zarf Kategorisi</th>
                                        <th>Şirket Zarf No</th>
                                        <th>Kurum / Sigortalı</th>
                                        <th>Kurum İcmal No</th>
                                        <th>Kurum Bordrolama Tarihi</th>
                                        <th>Ödeme Tarihi</th>
                                        <th>Vade Tarihi</th>
                                        <th>Toplam Fatura Adedi</th>
                                        <th>Toplam Fatura Tutarı</th>
                                        <th>Durumu</th>
                                        <th>Faturalar</th>
                                        <th>Mektup</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!---Modal frmClaimPayroll_Modal-->
    <div class="modal" id="frmClaimPayroll_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmClaimPayroll_Modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmClaimPayroll_Modal">Fatura Ekle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/Payroll/FilterBill" method="post" id="frmPayroll">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="mbui-inside-form mb-20 b-full mbui-panel">
                                                <input type="hidden" class="inputHidden" name="PayrollId" id="hdPayrollId_frmPayroll" value="0" />
                                                <input type="hidden" class="inputHidden" name="ClaimId" id="hdClaimId_frmPayroll" value="0" />
                                                <div class="mbui-inside-header heading-color">
                                                    <ul class="mbui-controls">
                                                        <li>
                                                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                                                <i class="fa fa-filter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                                <span class="mbui-minimize"><i class="fa fa-angle-down" data-tooltip="tooltip" data-placement="bottom" title="Göster"></i></span>
                                                                <span class="mbui-expand"><i class="fa fa-angle-up" data-tooltip="tooltip" data-placement="bottom" title="Gizle"></i></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="none-visible clearfix">
                                                    <div class="col-sm-12">
                                                        <div class="visible-elements-wrapper" id="divVisible">

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mbui-body mbui-inside-body active">
                                                    <div class="mbui-filter-wrapper">

                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <label for="claimNo" class="control-label">Hasar No</label>
                                                                <input name="claimNo" class="form-control" id="claimNo" type="text" />
                                                            </div>

                                                            <div class="col-sm-4" id="divProviderFilterBill">
                                                                <label for="payrollSelectProvider" class="control-label">Kurum</label>
                                                                <select tabindex="3" class="chosen-select" id="payrollSelectProvider" name="payrollSelectProvider" title="Tümü">
                                                                    <option value="">TÜMÜ</option>
                                                                    @foreach (var ProviderType in ViewBag.ProviderTypeList)
                                                                    {
                                                                        <optgroup label="@ProviderType.Value">
                                                                            @foreach (var Provider in ViewBag.ProviderList)
                                                                            {
                                                                                if (Provider.PROVIDER_TYPE == ProviderType.Key)
                                                                                {
                                                                                    <option value="@Provider.PROVIDER_ID">@Provider.PROVIDER_NAME</option>
                                                                                }
                                                                            }
                                                                        </optgroup>
                                                                    }
                                                                </select>
                                                            </div>

                                                            <div class="col-sm-4">
                                                                <label for="claimInsuredName" class="control-label">Sigortalı Adı</label>
                                                                <input name="claimInsuredName" class="form-control" id="claimInsuredName" type="text" placeholder="Sigortalı Adını giriniz" />
                                                            </div>

                                                            <div class="col-sm-4">
                                                                <label for="claimInsuredSurname" class="control-label">Sigortalı Soyadı</label>
                                                                <input name="claimInsuredSurname" class="form-control" id="claimInsuredSurname" type="text" placeholder="Sigortalı Soyadını giriniz" />
                                                            </div>

                                                            <div class="col-sm-4">
                                                                <label for="billNo" class="control-label">Fatura No</label>
                                                                <input name="billNo" class="form-control" id="billNo" type="text" />
                                                            </div>

                                                            <div class="col-sm-4">
                                                                <label for="billStartDate" class="control-label">Fatura Tarihi(&lt;)</label>
                                                                <div class='input-group datepicker'>
                                                                    <input type='text' class="form-control" name="billStartDate" id="billStartDate" />
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-4">
                                                                <label for="billEndDate" class="control-label">Fatura Tarihi(&gt;)</label>
                                                                <div class='input-group datepicker'>
                                                                    <input type='text' class="form-control" name="billEndDate" id="billEndDate" />
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-4">
                                                                <label for="claimStartDate" class="control-label">Hasar Tarihi(&lt;)</label>
                                                                <div class='input-group datepicker'>
                                                                    <input type='text' class="form-control" name="claimStartDate" id="claimStartDate" />
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-4">
                                                                <label for="claimEndDate" class="control-label">Hasar Tarihi(&gt;)</label>
                                                                <div class='input-group datepicker'>
                                                                    <input type='text' class="form-control" name="claimEndDate" id="claimEndDate" />
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="form-group mt-10">
                                                            <div class="col-sm-12">
                                                                <button type="button" onclick="GetBillList('frmPayroll')" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtrele</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="info-wrapper mbui-panel-scroll">
                                                        <ul class="tree-list" id="BillTreeList"></ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="btn-wrapper-center">
                                        <button onclick="SelectClaimBill('frmPayroll')" type="button" class="btn btn-success btn-sm createList mr-10">Kaydet</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmBill_Modal -->
    <div class="modal" id="frmBill_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmBill_Modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmBill_Modal">Faturalar</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                <div class='input-group'>
                                    <input type="text" disabled class="form-control" name="PROVIZYON_ONAY" id="PROVIZYON_ONAY" value="PROVIZYON ONAY - 0" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class='input-group'>
                                    <input type="text" disabled class="form-control" name="BEKLEME" id="BEKLEME" value="BEKLEME - 0" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class='input-group'>
                                    <input type="text" disabled class="form-control" name="RET" id="RET" value="RET - 0" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class='input-group'>
                                    <input type="text" disabled class="form-control" name="ODENECEK" id="ODENECEK" value="ÖDENECEK - 0" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class='input-group'>
                                    <input type="text" disabled class="form-control" name="IPTAL" id="IPTAL" value="İPTAL - 0" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class='input-group'>
                                    <input type="text" disabled class="form-control" name="ODENDI" id="ODENDI" value="ÖDENDİ - 0" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-md table-custom" id="tblBillList">
                                    <thead>
                                        <tr>
                                            @*<th>Hasar No</th>
                                                <th>Hasar Durumu</th>
                                                <th>Fatura No</th>
                                                <th>Fatura Tarihi</th>
                                                <th>Ödeme Tipi</th>
                                                <th>Döviz Cinsi</th>
                                                <th>Fatura Durumu</th>
                                                <th>İşlemler</th>*@

                                            <th>Şirket Adı</th>
                                            <th>Zarf No</th>
                                            <th>Hasar No</th>
                                            <th>Sigortalı Ad Soyad</th>
                                            <th>Sigortalı TCKN</th>
                                            <th>Poliçe No</th>
                                            <th>Poliçe Baş. Tar.</th>
                                            <th>Ürün Adı</th>
                                            <th>Fatura No</th>
                                            <th>Fatura Tarihi</th>
                                            <th>Hasar Durumu</th>
                                            @*<th>Hasar Durum Tarihi</th>*@
                                            <th>Ödeme Tarihi</th>
                                            <th>Ödeme Tutarı</th>
                                            <th>Banka Adı</th>
                                            <th>IBAN</th>
                                            <th>İşlemler</th>
                                        </tr>
                                    </thead>
                                </table>
                                <input type="hidden" name="hdBillList" id="hdBillList" value="[]" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmPayrollHistory_Modal -->
    <div class="modal" id="frmPayrollHistory_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmPayrollHistory_Modal">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmPayrollHistory_Modal">Zarf Tarihçesi</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-md table-custom" id="tblPayrollHistory">
                                    <thead>
                                        <tr>
                                            <th>İşlem</th>
                                            <th>İşlemi Gerçekleştiren Kullanıcı</th>
                                            <th>İşlem Tarihi</th>
                                        </tr>
                                    </thead>
                                </table>
                                <input type="hidden" name="hdPayrollHistoryList" id="hdPayrollHistoryList" value="[]" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/Partials/_Import.cshtml", Model.ImportVM)

    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model.ExportVM)

</section>
<!-- /.content -->


<script>
    var tblPayroll = null, ttblBillList = null, tblPayrollHistory = null;

    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));

        LoadPayrollList();
        LoadBill();
        LoadPayrollHistory();

        $('#BillTreeList radio').on('click', 'radio', function () {
            selectClaim(item.CLAIM_ID, 'hdClaimId_frmPayroll');
        });
    });

    function LoadPayrollList() {
        tblPayroll = $("#tblPayroll").DataTable({
            "ajax": {
                "url": "/Payroll/GetPayrollList",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    Loading();
                },
                "data": function (item) {
                    item.payrollCompany = $('#payrollCompany').val();
                    item.product = $('#product').val();
                    item.payrollNo = $('#payrollNo').val();
                    item.companyPayrollNo = $('#CompanyPayrollNo_Modal').val();
                    item.providerPayrollNo = $('#providerPayrollNo').val();
                    item.payrollProvider = $('#payrollProvider').val();
                    item.payrollDate = $('#payrollDate').val();
                    item.payrollPaymentDateStart = $('#payrollPaymentDateStart').val();
                    item.payrollPaymentDateEnd = $('#payrollPaymentDateEnd').val();
                    item.payrollStatus = $('#payrollStatus').val();
                    item.isFilter = $('#payrollIsFilter').val();
                    item.oldPayrollNo = $('#oldPayrollNo').val();
                    item.payrollProviderGroup = $('#payrollProviderGroup').val();
                },
                "complete": function (settings, json) {
                    $.unblockUI();
                    var responseText = JSON.parse(settings.responseText);
                    if (responseText.message != "1") {
                        swAlert(responseText.message);

                    }
                    $("#WhereCondition").val(responseText.whereConditition);
                },
                "error": function () {
                    $.unblockUI();
                }
            },
            "columns": [
                { "data": "COMPANY_NAME", name: "COMPANY_NAME" },
                {
                    "data": "PAYROLL_DATE", name: "PAYROLL_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                {
                    "data": "PAYROLL_TYPE", name: "PAYROLL_TYPE",
                    "render": function (data) {
                        return '<p><strong>' + GetValueOfEnum('Payroll', data) + '</strong></p>';
                    }
                },
                { "data": "PAYROLL_ID", name: "PAYROLL_ID" },
                { "data": "OLD_PAYROLL_ID", name: "OLD_PAYROLL_ID" },
                {
                    "data": "PAYROLL_CATEGORY",
                    "render": function (data) {
                        return '<p><strong>' + GetValueOfEnum('PayrollCategory', data) + '</strong></p>';
                    }
                },
                { "data": "COMPANY_PAYROLL_NO", name: "COMPANY_PAYROLL_NO" },
                {
                    "data": null,
                    "render": function (data) {
                        if (data.PAYROLL_TYPE == '1') {
                            return data.INSURED;
                        }
                        else {
                            return data.PROVIDER_NAME;
                        }
                        return '<p><strong>' + GetValueOfEnum('PayrollCategory', data) + '</strong></p>';
                    } },
                { "data": "EXT_PROVIDER_NO", name: "EXT_PROVIDER_NO" },
                {
                    "data": "EXT_PROVIDER_DATE", name: "EXT_PROVIDER_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                {
                    "data": "PAYMENT_DATE", name: "PAYMENT_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                {
                    "data": "DUE_DATE", name: "DUE_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                { "data": "TOTAL_CLAIM", name: "TOTAL_CLAIM" },
                { "data": "TOTAL_AMOUNT", name: "TOTAL_AMOUNT" },
                {
                    "data": null,
                    "render": function (data) {
                        if (data.STATUS == "0") {
                            return '<div class="islem pro-onay">' +
                                '<div class="btn-group">' +
                                '<span class="onay">' + GetValueOfEnum('PayrollStatus', data.STATUS) + '</span>' +
                                '<a onclick="ChangePayrollStatus(\'Onayla\',\'Zarfı Onaylamak İstediğinize Emin Misiniz ? \',\'info\',\'/Payroll/StatusChange/?PayrollId=' + data.PAYROLL_ID + '&Status=' + data.STATUS + '\')" class="goruntule myIcon icon-warning" data-toggle="modal" data-target="#frmClaimProcessCoverage_Modal" data-tooltip="tooltip" data-placement="bottom" ><i class="fa fa-undo" title="Durum Değiştir"></i></a>' +
                                '</div >' +
                                '</div>';
                        }
                        else if (data.STATUS == "1") {
                            return '<div class="islem pro-onay">' +
                                '<div class="btn-group">' +
                                '<span class="onay">' + GetValueOfEnum('PayrollStatus', data.STATUS) + '</span>' +
                                '<a onclick="ChangePayrollStatus(\'Onay Bekler\',\'Zarfın Durumunu Onay Bekler Olarak Değiştirmek İstediğinize Emin Misiniz ? \',\'info\',\'/Payroll/StatusChange/?PayrollId=' + data.PAYROLL_ID + '&Status=' + data.STATUS + '\')" class="goruntule myIcon icon-warning" data-toggle="modal" data-target="#frmClaimProcessCoverage_Modal" data-tooltip="tooltip" data-placement="bottom" ><i class="fa fa-undo" title="Durum Değiştir"></i></a>' +
                                '</div >' +
                                '</div>';
                        }
                        else {
                            return '<p>' + GetValueOfEnum('PayrollStatus', data.STATUS) + '</p>';
                        }
                    }
                },
                {
                    "data": "PAYROLL_ID", name: "PAYROLL_ID",
                    "render": function (data) {
                        return '<div class="islem">' +
                            '<div class="btn-group">' +
                            '<a onclick="GetBill(' + data + ');" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" ><i class="fa fa-list" title="Faturalar"></i></a>' +
                            '</div>' +
                            '</div>';
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        return '<div class="islem">' +
                            '<div class="btn-group">' +
                            '<a onclick="GetReport(' + data.PAYROLL_ID + ',0);" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" ><i class="fa fa-undo" title="Tazminat Kurum İade Formu"></i></a>' +
                            '<a onclick="GetReport(' + data.PAYROLL_ID + ',1);" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" ><i class="fa fa-money" title="Bordro Örneği"></i></a>' +
                            '</div>' +
                            '</div>';
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        var str = '<div class="islem">' +
                            '<div class="btn-group">' +
                            '<a href="#" onclick="openHistoryPopUp(' + data.PAYROLL_ID + ')" data-id="' + data.PAYROLL_ID + '" data-HistoryTitle="' + data.PAYROLL_ID +'" class="myIcon icon-primary historyDetail"><i class="fa fa-hourglass-start" title="Tarihçe"></i></a>';
                        if (data.STATUS == "0") {
                            str += '<a href="/Payroll/Create/Edit/' + data.PAYROLL_ID + '" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" ><i class="fa fa-pencil-square-o" title="Düzenle"></i></a>' +
                                '<a onclick="GetAllBill(' + data.PAYROLL_ID + ',' + data.PAYROLL_TYPE + ');" class="myIcon icon-success" data-tooltip="tooltip" data-placement="bottom" ><i class="fa fa-plus" title="Fatura Ekle"></i></a>';
                        }
                        str +='</div>' +
                            '</div>';
                        return str;
                    }
                }
            ],
            pageLength: 5,
            "scrollX": true,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [3, "desc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    }

    function openHistoryPopUp(payrollId) {
        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            url: "/Payroll/GetPayrollHistory?payrollId=" + payrollId,
            cache: false,
            contentType: false,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            complete: function () {
                $.unblockUI();
            },
            success: function (data) {
                debugger;
                var responseData = $.parseJSON(data);

                var jsonValue = responseData;
                $('#hdPayrollHistoryList').val(JSON.stringify(jsonValue));
                RefreshTableAllStatus('tblPayrollHistory', 'hdPayrollHistoryList');
                $('#frmPayrollHistory_Modal').modal("toggle");
            },
            error: function (xhr, err) {
                $.unblockUI();

                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
            }
        })
    }

    function SelectClaimBill(frmName) {
        var form = $('#' + frmName);
        var formData = new FormData(form[0]);
        var action = form[0].action;

        $.ajax({
            type: form[0].method,
            contentType: "application/json; charset=utf-8",
            url: "/Payroll/SelectClaim",
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            success: function (data) {
                var responseData = $.parseJSON(data);
                if (responseData.ResultCode == "100") {
                    swal({
                        title: "İşlem Başarılı!",
                        text: responseData.ResultMessage,
                        icon: "success"
                    });
                    $('#frmClaimPayroll_Modal').modal("toggle");

                }
                else {
                    swal({
                        title: "Hata!",
                        text: responseData.ResultCode + " : " + responseData.ResultMessage,
                        icon: "warning"
                    });
                }
                $.unblockUI();
            },
            error: function (xhr, err) {
                $.unblockUI();

                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
            }
        });
    }

    function selectClaim(id, hdinput) {
        debugger;
        $("#" + hdinput).val(id);
    }

    function GetBillList(frmName) {
        $('#divVisible').empty();
        $('#BillTreeList').empty();

        var form = $('#' + frmName);
        var formData = new FormData(form[0]);
        var action = form[0].action;

        $.ajax({
            type: form[0].method,
            contentType: "application/json; charset=utf-8",
            url: action,
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            success: function (data) {
                $.unblockUI();

                $.each(JSON.parse(data), function (i, item) {
                    debugger;

                    var div = document.getElementById('divVisible');
                    var label = document.createElement("label");
                    label.className = "radio-label mr-10 fl rounded";
                    label.setAttribute("for", "ClaimBill-" + item.CLAIM_BILL_ID);
                    //var info = "Fatura No:" + item.BILL_NO + " - Hasar No:" + item.CLAIM_ID;
                    label.appendChild(document.createTextNode("Fatura No:" + item.BILL_NO + " - Hasar No:" + item.CLAIM_ID));
                    var span = document.createElement("SPAN");
                    span.className = "radio-button fr";
                    var i = document.createElement("i");
                    i.className = "fa fa-check";
                    span.appendChild(i);
                    label.appendChild(span);
                    div.appendChild(label);

                    var ul = document.getElementById('BillTreeList');
                    var li = document.createElement("li");
                    li.className = "parent new-list";
                    var div = document.createElement("div");
                    div.className = "parent-tree tree clearfix";
                    var span = document.createElement("SPAN");
                    span.className = "list-name";
                    span.appendChild(document.createTextNode("Fatura No:" + item.BILL_NO + " - Hasar No:" + item.CLAIM_ID));
                    var label = document.createElement("label");
                    label.className = "checkbox mbui-checkbox-custom checkbox-custom-lg fr";
                    var radio = document.createElement("input");
                    radio.type = "radio";
                    radio.name = "radioClaim";
                    //radio.setAttribute("onclick", "selectProvider(" + item.PROVIDER_ID + ", 'hdProvider')");
                    radio.value = item.CLAIM_ID;
                    radio.id = "ClaimBill-" + item.CLAIM_BILL_ID;
                    //radio.setAttribute("data-id", "Provider-" + item.PROVIDER_ID);
                    label.appendChild(radio);
                    var i = document.createElement("i");
                    label.appendChild(i);
                    div.appendChild(span);
                    div.appendChild(label);
                    li.appendChild(div);
                    ul.appendChild(li);
                });
            },
            error: function (xhr, err) {
                $.unblockUI();

                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
            }
        });
    }

    function GetReport(payroll_id,reportType) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Payroll/GetReport?PayrollId=" + payroll_id + "&Type=" + reportType,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            success: function (responseData) {
                $.unblockUI();
                debugger;
                var response = responseData;
                if (response.Code == "100") {
                    $.ajax({
                        url: '/Common/PrintGenerator?url=' + response.FileUrl + '&filename=' + response.FileName,
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            debugger;
                            var response = data;
                            if (typeof (data) != "undefined") {
                                window.location = '/Common/Download?FileGuid=' + response.FileUrl
                                    + '&filename=' + response.FileName;
                            }
                        },
                    });
                }
                else {
                    swal({
                        title: "Hata!",
                        text: responseData.Message,
                        icon: "warning"
                    });
                }
                //window.location = '/Common/Download?fileGuid=' + response.FileGuid
                //    + '&filename=' + response.FileName;

            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
                $.unblockUI();
            }
        });
    }

    function ChangePayrollStatus(title, text, type, href) {

        swal({
            title: title,
            text: text,
            type: type,
            showCancelButton: true,
            cancelButtonText: "Hayır",
            confirmButtonText: "Evet",
            closeOnConfirm: true,
        },
            function (isConfirm) {
                if (isConfirm) {
                    debugger;

                    $.ajax({
                        url: href,
                        type: "POST",
                        dataType: "JSON",
                        data: null,
                        success: function (data) {
                            $.unblockUI();
                            var responseData = $.parseJSON(data);
                            if (responseData.ResultCode == "100") {
                                swal({
                                    title: "İşlem Başarılı!",
                                    text: responseData.ResultMessage,
                                    icon: "success"
                                });
                            }
                            else {
                                $('.btn').css('pointer-events', 'auto');
                                swal({
                                    title: "Hata!",
                                    text: responseData.ResultCode + " : " + responseData.ResultMessage,
                                    icon: "warning"
                                });
                            }
                            tblPayroll.ajax.reload();
                        },
                        error: function (xhr, err) {
                            alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                            alert("responseText: " + xhr.responseText);
                            $.unblockUI();
                        }
                    })
                }
                else {
                    $.unblockUI();

                }
            });
    }

    function GetPayrollList() {
        $('#payrollIsFilter').val("1");
        tblPayroll.ajax.reload();
    }

    function GetBill(payrollId) {
        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            url: "/Payroll/GetBill?payrollId=" + payrollId,
            cache: false,
            contentType: false,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            complete: function () {
                $.unblockUI();
            },
            success: function (data) {
                var responseData = $.parseJSON(data);
                debugger;
                var statusList = responseData.claimStatusCount;
                $('#PROVIZYON_ONAY').val(statusList[4]);
                $('#BEKLEME').val(statusList[0]);
                $('#RET').val(statusList[5]);
                $('#ODENECEK').val(statusList[3]);
                $('#IPTAL').val(statusList[1]);
                $('#ODENDI').val(statusList[2]);


                var jsonValue = responseData.listBill;
                $('#hdBillList').val(JSON.stringify(jsonValue));
                //LoadBill();
                RefreshTableAllStatus('tblBillList', 'hdBillList');
                $('#frmBill_Modal').modal("toggle");
            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
            }
        })
    }

    function GetAllBill(payrollId,paymentMethod) {
        $('#divVisible').empty();
        $('#BillTreeList').empty();
        if (paymentMethod == "0") {
            document.getElementById("divProviderFilterBill").style.display = "none";
        }
        else if (paymentMethod == "1") {
            document.getElementById("divProviderFilterBill").style.display = "block";
        }
        $('#hdPayrollId_frmPayroll').val(payrollId);
        $('#frmClaimPayroll_Modal').modal("toggle");
    }

    function DeleteBill(title, text, type, ClaimId) {
        swal({
            title: title,
            text: text,
            type: type,
            showCancelButton: true,
            cancelButtonText: "Hayır",
            confirmButtonText: "Evet",
            closeOnConfirm: true,
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "post",
                        contentType: "application/json; charset=utf-8",
                        url: "/Payroll/PayrollExit?claimId=" + ClaimId,
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function (xhr) {
                            Loading();
                        },
                        success: function (data) {
                            var responseData = $.parseJSON(data);
                            if (responseData.ResultCode == "100") {
                                swal({
                                    title: "İşlem Başarılı!",
                                    text: responseData.ResultMessage,
                                    icon: "success"
                                });
                                debugger;
                                var jsonValue = responseData.Data.jsonData;
                                $('#hdBillList').val(jsonValue);
                                console.log(jsonValue);
                                RefreshTableAllStatus('tblBillList', 'hdBillList');
                            }
                            else {
                                swal({
                                    title: "Hata!",
                                    text: responseData.ResultCode + " : " + responseData.ResultMessage,
                                    icon: "warning"
                                });
                            }
                            $.unblockUI();
                        },
                        error: function (xhr, err) {
                            alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                            alert("responseText: " + xhr.responseText);
                        }
                    });
                }
                else {
                    $.unblockUI();

                }
            });
    }

    function LoadBill() {
        var tbl = "tblBillList";
        var hdi = "hdBillList";


        var data = JSON.parse($('#' + hdi).val());

        tblBillList = $('#' + tbl).DataTable({
            pageLength: 5,
            language: {
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "",
                "info": "",
                "search": "Arama: "
            },
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "scrollX": true,
            "scrollY": false,
            "scrollCollapse": false,
            "data": data,
            "columns": [
                { "data": "COMPANY_NAME"},
                { "data": "PAYROLL_ID" },
                { "data": "CLAIM_ID" },
                { "data": "FIRST_NAME" },
                { "data": "IDENTITY_NO" },
                { "data": "POLICY_NUMBER" },
                { "data": "POLICY_START_DATE" },
                { "data": "PRODUCT_NAME" },
                { "data": "BILL_NO" },
                { "data": "BILL_DATE" },
                { "data": "STATUS_TEXT" },
                { "data": "PAYMENT_DATE" },
                { "data": "AMOUNT" },
                { "data": "BANK_NAME" },
                { "data": "IBAN", "orderData":14 },
                {
                    "data": null,
                    "render": function (data) {
                        if (data.PAYROLL_STATUS == "0") { //PayrollStatus
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<a onClick="DeleteBill(\'Zarftan Çıkar\',\'Faturayı ' + data.PAYROLL_ID + ' nolu Zarftan Çıkarmak emin misiniz ? \',\'info\',' + data.CLAIM_ID + ');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Zarftan Çıkar"><i class="fa fa-minus"></i></a>' +
                                '</div>' +
                                '</div>';
                        }
                        else {
                            return "";
                        }
                    }
                }
            ]
        });
        RefreshTable(tbl, hdi);
    }

    function LoadPayrollHistory() {
        var tbl = "tblPayrollHistory";
        var hdi = "hdPayrollHistoryList";

        var data = JSON.parse($('#' + hdi).val());

        tblPayrollHistory = $('#' + tbl).DataTable({
            pageLength: 5,
            language: {
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "",
                "info": "",
                "search": "Arama: "
            },
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "data": data,
            "columns": [
                { "data": "PROCESS"},
                { "data": "PROCESS_USER" },
                { "data": "PROCESS_DATE" }
            ]
        });
        RefreshTable(tbl, hdi);
    }

    function GetValueOfEnum(typeName, ordinal) {
        if (ordinal != null) {
            if (typeName == "Payroll") {
                var PayrollTypeList = @Html.Raw(Json.Encode(@ViewBag.PayrollTypeList));
                return PayrollTypeList == null ? "-" : PayrollTypeList[ordinal];
            }
            else if (typeName == "PayrollCategory") {
                var PayrollCategoryTypeList = @Html.Raw(Json.Encode(@ViewBag.PayrollCategoryTypeList));
                return PayrollCategoryTypeList == null ? "-" : PayrollCategoryTypeList[ordinal];
            }
            else if (typeName == "PayrollStatus") {
                var PayrollStatusList = @Html.Raw(Json.Encode(@ViewBag.PayrollStatusList));
                return PayrollStatusList == null ? "-" : PayrollStatusList[ordinal];
            }
        }
        else {
            return "-";
        }
    }


    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });

    function getEnterFunction() {
        GetPayrollList();
    }
</script>