﻿@model  Protein.Web.Models.MediaModel.MediaVM

@Html.HiddenFor(model => model.ObjectId)
@Html.HiddenFor(model => model.MediaObjectType)


<div role="tabpanel" class="tab-pane" id="@Html.Raw(Model.TabName)">

    <div class="col-sm-12">

        <div class="mbui-inside-form mb-20 mt-20 b-full mbui-panel">
            <div class="mbui-inside-header heading-color">

                <h4>Dosya</h4>
                <ul class="mbui-controls">
                    <li>
                        <a tabindex="0" data-toggle="modal" data-target="#Media_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle" id="btnNewMedia">
                            <i class="fa fa-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mbui-body mbui-inside-body ">
                <div class="table-responsive">
                    <table class="table table-custom" id="tblMedias">
                        <thead>
                            <tr>
                                <th>Adı</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <div class="form-group"  name="proceedAndBackButtons" style="display: none;">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="btn-wrapper-left">
                        <a onclick="GoToTab('tabEvent', 'tab9');" class="btn btn-warning btn-sm"> Geri </a>
                        <span id="lblMsg1"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="btn-wrapper-right">
                        <a onclick="GoToTab('tabPayment', 'tab11');" class="btn btn-success btn-sm"> Kaydet ve İlerle </a>
                        <span id="lblMsg1"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {
        FillMedia();
    });
</script>