﻿
@{
    ViewBag.Title = "BankActive";
    Layout = "~/Views/Shared/_ProteinLayout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form mbui-inside-form">
                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Banka</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a class="mbui-add" data-toggle="modal" data-target="#NewBank_Modal" data-tooltip="tooltip" data-placement="bottom" title="Banka Ekle"><i class="fa fa-plus"></i></a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="15">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body mbui-inside-body active Enterclick">
                    <form class="form-horizontal" role="form" action="/Definition/BankActiveList" method="post">

                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">

                                <div class="col-sm-3">
                                    <label for="bankFilterName" class="control-label">Adı</label>
                                    <input name="bankFilterName" class="form-control" id="bankFilterName" placeholder="Banka adı giriniz" type="text" />
                                </div>
                                <div class="col-sm-3">
                                    <label for="bankFilterCode" class="control-label">Kod</label>
                                    <input name="bankFilterCode" class="form-control" id="bankFilterCode" placeholder="Şirket kodu giriniz" type="number" />
                                </div>



                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" onclick="Filter();" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtrele</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-md table-custom mbui-table" id="tblBankList">
                                <thead>
                                    <tr>
                                        <th>Banka Adı</th>
                                        <th>Banka Kodu</th>
                                        <th>Şube İşlemleri</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    @*Banka Ekle*@
    <div class="modal" id="NewBank_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#3c8dbc">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="color:white;"><b>Banka Ekle</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">

                                <form class="form-horizontal" role="form" action="/Definition/BankSave" method="post">


                                    <div class="col-sm-6">
                                        <label for="bankName" class="control-label">Banka Adı</label>
                                        <input name="bankName" class="form-control" id="bankName" placeholder="Banka adı giriniz" required type="text" />
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="bankCode" class="control-label">Banka Kodu</label>
                                        <input name="bankCode" class="form-control" id="bankCode" placeholder="Banka kodu giriniz" required type="number" />
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <button type="submit" class="btn btn-success btn-sm mr-10">Kaydet</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    @*Banka Şube Ekle*@
    <div class="modal" id="NewBankBranchAdd_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#3c8dbc">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="color:white;"><b>Banka Şube Ekle</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">

                                <form class="form-horizontal" role="form" action="/Definition/BankSave" method="post">
                                    <input type="hidden" class="inputHidden" name="bank_ID" id="bank_ID" value="0" />

                                    <div class="col-sm-6">
                                        <label for="bankBranchName" class="control-label">Şube Adı</label>
                                        <input name="bankBranchName" class="form-control" id="bankBranchName" placeholder="Şube adı giriniz" required type="text" />
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="bankBranchCode" class="control-label">Şube Kodu</label>
                                        <input name="bankBranchCode" class="form-control" id="bankBranchCode" placeholder="Şube kodu giriniz" required type="number" />
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <button type="submit" class="btn btn-success btn-sm mr-10">Kaydet</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Banka Şube Görüntüle*@
    <div class="modal" id="NewBankBranch_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#3c8dbc">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="color:white;"><b>Banka Şube</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">

                                <form class="form-horizontal" role="form" action="/Definition/BankBranchList" method="post">
                                    <input type="hidden" class="inputHidden" name="bank_ID" id="bank_ID" value="0" />


                                    <div class="table-responsive">
                                        <table class="table table-md table-custom mbui-table" id="tblBankBranch">
                                            <thead>
                                                <tr>
                                                    <th>Şube Adı</th>
                                                    <th>Şube Kodu</th>
                                                    <th>İşlemler</th>
                                                </tr>
                                            </thead>

                                        </table>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    @*Banka Şube Düzenle*@
    <div class="modal" id="BankBranchEdit_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#3c8dbc">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="color:white;"><b>Banka Şube Düzenle</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">

                                <form class="form-horizontal" role="form" action="/Definition/BankSave" method="post">
                                    <input type="hidden" class="inputHidden" name="bankID" id="bankID" value="0" />
                                    <input type="hidden" class="inputHidden" name="bankBranch_ID" id="bankBranch_ID" value="0" />
                                    <input type="hidden" class="inputHidden" name="isFilterBranch" id="isFilterBranch" value="0" />


                                    <div class="col-sm-6">
                                        <label for="bankBranchEditName" class="control-label">Banka Şube Adı</label>
                                        <input name="bankBranchEditName" class="form-control" id="bankBranchEditName" placeholder="Banka Şube adı giriniz" required type="text" />
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="bankBranchEditCode" class="control-label">Banka Şube Kodu</label>
                                        <input name="bankBranchEditCode" class="form-control" id="bankBranchEditCode" placeholder="Banka Şube kodu giriniz" required type="number" />
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <button type="submit" class="btn btn-success btn-sm mr-10">Kaydet</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
     var table = null;
    $('#isFilter').val("0");
       $(document).ready(function () {
           debugger;
           table = $("#tblBankList").DataTable({
               "ajax": {
                   "url": "/Definition/BankActiveList",
                   "type": "POST",
                   "datatype": "json",
                   "beforeSend": function (xhr) {
                       $.blockUI({ message: $('#domMessage') });
                   },
                   "data": function (a) {
                       a.isFilter = $("#isFilter").val();
                       a.bankFilterCode = $("#bankFilterCode").val();
                       a.bankFilterName = $("#bankFilterName").val();
                   },
                   "complete": function () {
                       $.unblockUI();
                   }
               },
               "columns": [
                   { "data": "Name", "name": "NAME" },
                   { "data": "Code", "name": "CODE" },
                   {
                       "data": null,
                       "render": function (data) {
                           return '<div class="islem">' +
                               '<div class="btn-group fr">' +
                               '<a onclick="GetBankId(\'' + data.Id + '\');" class="myIcon icon-success" data-toggle="modal" data-target="#NewBankBranchAdd_Modal" id="BranchAdd" data-tooltip="tooltip" data-placement="bottom" title="Şube Ekle"><i class="fa fa-plus"></i></a>  <a onclick="GetBankId(\'' + data.Id +'\');"" class="myIcon icon-warning" data-toggle="modal" data-target="#NewBankBranch_Modal"  data-tooltip="tooltip" data-placement="bottom" title="Şube Listesi"><i class="fa fa-list"></i></a>' +
                               '</div>' +
                               '</div>';
                       }
                   },
                


               ],
               pageLength: 10,
               "serverSide": "true",
               "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
               "searching": false,
               "order": [0, "asc"],
               "processing": "true",
               language: {
                   "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                   "emptyTable": "Kayıt Bulunamadı",
                   "infoEmpty": "Kayıt Bulunamadı",
                   "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                   oPaginate: {
                       sNext: 'İleri <i class="fa fa-angle-right"></i>',
                       sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                       sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                       sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                   }
               }
           });

    });
    
  


    var tblBankBranch = null;
    $('#isFilter').val("0");
    $(document).ready(function () {

        tblBankBranch = $("#tblBankBranch").DataTable({
            "ajax": {
                "url": "/Definition/BankBranchList",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                "data": function (a) {
                    a.isFilter = $("#isFilter").val();
                    a.bank_ID = $("#bank_ID").val();
                    return a;
                },
                "complete": function (settings, json) {
                    $.unblockUI();
                }
            },
            "columns": [
                { "data": "Name", "name": "NAME" },
                { "data": "Code", "name": "CODE" },
                {
                    "data": null,
                    "render": function (data) {
                        return '<div class="islem">' +
                            '<div class="btn-group fr">' +
                            '<a onclick="GetBankBranchId(\'' + data.Id + '\' , \'' + data.Name + '\' , \'' + data.Code + '\' ,  \'' + data.BankId + '\');" class="myIcon icon-warning" data-toggle="modal" data-target="#BankBranchEdit_Modal"  data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-edit"></i></a> ' +
                            '<a onclick=" ConfirmDeleteBranch(\'Sil\', \'Silmek istediğinizden emin misiniz ? \', \'warning\', \'' + data.Id + '\',\'' + data.BankId + '\')" class="myIcon icon-danger" data-toggle="modal"  data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash"></i></a>' +
                            '</div>' +
                            '</div>';

                        
                    }
                }


            ],
            pageLength: 10,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });

    });
    function GetBankId(bankId) {
        $('#bank_ID').val(bankId);
        tblBankBranch.ajax.reload();
    }
    function ConfirmDeleteBranch(title, text, type, bankBranchId, bankId) {
        swal({
            title: title,
            text: text,
            type: type,
            showCancelButton: true,
            cancelButtonText: "Hayır",
            confirmButtonText: "Evet",
            closeOnConfirm: true,
        },
            
            function (isConfirm) {
                if (isConfirm) {
                    debugger;
                    $.ajax({
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        url: "/Definition/BankBranchDelete?bankBranchId=" + bankBranchId + '&bankId=' + bankId,
                        cache: false,
                        contentType: false,
                        processData: false,
                        data: null,
                        success: function () {
                           
                            tblBankBranch.ajax.reload();
                        },

                    })
                }
                else {
                    $.unblockUI();

                }
            });
    }

    function GetBankBranchId(bankBranchId, branchName, branchCode, bankId) {
        $('#bankBranch_ID').val(bankBranchId);
        $('#isFilterBranch').val("1");
        $('#bankBranchEditName').val(branchName);
        $('#bankBranchEditCode').val(branchCode);
        $('#bankID').val(bankId);
        
    }

    function Filter() {
        table.ajax.reload();
    }

    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });
    function getEnterFunction() {
        Filter();
    }
</script>