﻿<section class="content">
    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form">

                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" href="/Definition/CityFactorGroup" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="@(ViewBag.CityFactorGroup!=null ? "/Definition/CityFactorGroupFormUpdate" : "/Definition/CityFactorGroupFormSave")" method="post" data-toggle="validator">
                                <fieldset @ViewBag.FormDisabled>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="ProcessGroup" class="control-label"><span class="color-danger">*</span>İşlem Listesi</label>
                                                    <select name="ProcessGroup" class="selectpicker w-100-pr mbui-select bg-white" id="ProcessGroup" title="Seçiniz" required>
                                                        @foreach (var ProcessList in ViewBag.ProcessList)
                                                        {
                                                            <option value="@ProcessList.Id" @(ViewBag.CityFactorGroup != null ? (ViewBag.CityFactorGroup.ProcessListId == ProcessList.Id ? "selected" : "") : "")>@ProcessList.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="cityFactorStartDate" class="control-label"><span class="color-danger">*</span>Başlangıç Tarihi</label>
                                                    <div class='input-group mb-20' id="contractFormStartDate">
                                                        <input value="@(ViewBag.CityFactorGroup!=null ? ViewBag.CityFactorGroup.StartDate : DateTime.Now)" type='text' class="form-control dateMask" name="cityFactorStartDate" id="cityFactorStartDate" required />
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label for="cityFactorEndDate" class="control-label">Bitiş Tarihi</label>
                                                    <div class='input-group mb-20' id="contractFormEndDate">
                                                        <input value="@(ViewBag.CityFactorGroup!=null ? (ViewBag.CityFactorGroup.EndDate ?? "") : "")" type='text' class="form-control dateMask" name="cityFactorEndDate" id="cityFactorEndDate" />
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mbui-inside-form mb-20 b-full mbui-panel">

                                        <div class="mbui-inside-header heading-color">
                                            <h4>İl Katsayıları</h4>
                                            <ul class="mbui-controls">
                                                <li>
                                                    <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                        <span class="mbui-minimize" data-tooltip="tooltip" data-placement="bottom" title="Göster"><i class="fa fa-angle-down"></i></span>
                                                        <span class="mbui-expand" data-tooltip="tooltip" data-placement="bottom" title="Gizle"><i class="fa fa-angle-up"></i></span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>

                                        <input type="hidden" name="hdCityFactorGroupId" value="@(ViewBag.CityFactorGroup != null ? ViewBag.CityFactorGroup.Id :"")" />

                                        <div class="mbui-body mbui-inside-body mbui-panel-scroll">
                                            <div class="table-responsive">
                                                <table class="table table-create table-custom">
                                                    <thead>
                                                        <tr>
                                                            <th>İl</th>
                                                            <th>Katsayı</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        @if (ViewBag.CityFactor == null)
                                                        {
                                                            foreach (var City in ViewBag.CityList)
                                                            {
                                                                <tr>
                                                                    <td>@City.Name</td>
                                                                    <td>
                                                                        <div class="form-group has-feedback">
                                                                            <div class="col-sm-12">
                                                                                <input type="text" name="@City.Id" id="amount" value="1" class="form-control touchspin" minlength="2" maxlength="10" data-step="0.1" data-decimals="2" data-boostat="5" data-maxboostedstep="10" required>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            foreach (var CityFactor in ViewBag.CityFactor)
                                                            {
                                                                <tr>
                                                                    @foreach (var City in ViewBag.CityList)
                                                                    {
                                                                        if (CityFactor.CityId == City.Id)
                                                                        {
                                                                            <td>
                                                                                @City.Name
                                                                                <input type="hidden" name="hdcityId" id="@City.Id" value="@City.Id" />
                                                                            </td>
                                                                            break;
                                                                        }
                                                                    }
                                                                    <td>
                                                                        <input type="text" name="@CityFactor.Id" id="amount" value="@CityFactor.Factor.ToString().Replace(',','.')" class="form-control touchspin" data-min='0' data-max="100" data-step="0.1" data-decimals="2" data-boostat="5" data-maxboostedstep="10" >
                                                                        @**@
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <button type="submit" class="btn btn-success btn-sm mr-10">@(ViewBag.CityFactorGroup != null ? "Güncelle" : "Kaydet")</button>
                                                <button type="reset" class="btn btn-danger btn-sm">İptal</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<script>
$(document).ready(function () {
@(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });
</script>