﻿<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">

                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                </div>

                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="@(ViewBag.DoctorBrach!=null ? "/Definition/DepartmentFormUpdate" :"/Definition/DepartmentFormSave")" method="post" data-toggle="validator">
                                <fieldset @ViewBag.FormDisabled>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label for="departmentName" class="control-label"><span class="color-danger">*</span>Adı</label>
                                            <input value="@(ViewBag.DoctorBrach!=null ? ViewBag.DoctorBrach.Name : "")" name="departmentName" class="form-control" id="departmentName" placeholder="Bölüm adı giriniz" type="text" required />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <button type="submit" class="btn btn-success btn-sm mr-10">@(ViewBag.DoctorBrach!=null ? "Güncelle" : "Kaydet")</button>
                                                <a href="/Definition/Department" class="btn btn-danger btn-sm">İptal</a>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="hdDoctorBranchId" value="@(ViewBag.DoctorBrach!=null ? ViewBag.DoctorBrach.Id : "")" />
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<script>
$(document).ready(function () {
@(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });
</script>