﻿<section class="content">
    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a href="/Definition/ProcessGroupForm?Type=@ViewBag.Type" tabindex="0" class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="10">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>

                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>

                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>

                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>

                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-print">
                                        <i class="PrintExport"></i>
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-pdf">
                                        <i class="PdfExport"></i>
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="ExcelExport"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle import" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="İçe Aktar">
                                <i class="fa fa-download"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Exel
                                    </a>
                                </li>

                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Örnek Dosya
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active Enterclick">
                    <form class="form-horizontal" role="form" action="" method="post">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">
                                <input type="hidden" id="type" name="type" value="@ViewBag.Type" />

                                @if (ViewBag.ProcessListTypeList != null)
                                {
                                    <div class="col-sm-3">
                                        <label for="processListType" class="control-label">İşlem Listesi Tipi</label>
                                        <select name="processListType" class="selectpicker w-100-pr mb-20 mbui-select bg-white" title="Seçiniz" id="processListType" onchange="SetSelectedType();">
                                        @foreach (var ProcessListType in ViewBag.ProcessListTypeList)
                                        {
                                            if (ProcessListType.Key != "0" && ProcessListType.Key != "1")
                                            {
                                                <option value="@ProcessListType.Key">@ProcessListType.Value</option>
                                            }
                                        }
                                        </select>
                                    </div>
                                }

                                @if (ViewBag.Type != "2")
                                {
                                    <div class="col-sm-3">
                                        <label for="processList" class="control-label">@ViewBag.ProcessListTitle</label>
                                        <select name="processList" class="selectpicker w-100-pr mb-20 mbui-select bg-white" id="processList" title="Seçiniz" >
                                            <option value="">TÜMÜ</option>
                                            @foreach (var ProcessList in ViewBag.ProcessListList)
                                            {
                                                <option value="@ProcessList.Id" @(Convert.ToString(ProcessList.Id) == ViewBag.processList ? "selected" : "")>@ProcessList.Name</option>
                                            }
                                        </select>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-3">
                                        <label for="processList" class="control-label">@ViewBag.ProcessListTitle</label>
                                        <select name="processList" class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" id="processList" disabled >
                                            <option value="">TÜMÜ</option>
                                        </select>
                                    </div>
                                }

                                <div class="col-sm-3">
                                    <label for="ProcessGroupName" class="control-label">Adı</label>
                                    <input name="ProcessGroupName" class="form-control" id="ProcessGroupName" type="text" placeholder="Adı giriniz" value="@ViewBag.ProcessGroupName"  onkeydown="if (event.keyCode == 13) { Fclick('tblProcessGroup');
    return false; }" />
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" onclick="FilterClean();" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtreleri Temizle</button>
                                    <button type="button" onclick="Fclick('tblProcessGroup');" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">                       
                            <table class="table table-md table-custom" id="tblProcessGroup">
                                <thead>
                                    <tr>
                                        <th>Adı</th>
                                        <th>İşlem Listesi</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</section>

<script>
var table = null;
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));

        $('.mbui-list .dropdown-menu li a').click(function () {
            var dataShow = $(this).attr('data-value');
            $('.dataTables_length select option').prop('selected', '');
            $(this).closest('.mbui-form').find('.dataTables_length select option[value="' + dataShow + '"]').prop('selected', 'selected').trigger('change');
        });
        var type = $('#type').val();
        table = $("#tblProcessGroup").DataTable({
            "ajax": {
                "url": "/Definition/GetProcessGroupList",
                "type": "POST",
                "datatype": "json",
                "data": function (a) {
                    debugger;
                    a.Type = $('#type').val();
                    a.ProcessGroupName = $('#ProcessGroupName').val();
                    a.processList = $('#processList').val();
                    a.processListType = $('#processListType').val();
                }
            },
            "columns": [
                { "data": "PROCESS_GROUP_NAME", "name": "PROCESS_GROUP_NAME" },
                { "data": "PROCESS_LIST_NAME", "name": "PROCESS_LIST_NAME" },
                {
                    "data": "PROCESS_GROUP_ID",
                    "render": function (data) {
                        return '<div class="islem">' +
                            '<div class="btn-group fr">' +
                            '<a href="/Definition/ProcessGroupForm/Edit/' + data + '?Type=' + type + '" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>' +
                            //'<a href="/Definition/ProcessGroupDelete/' + data + '?Type=' + type + '" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>' +

                            '<a onclick="Confirm(\'Sil\',\'Silmek istediğinizden emin misiniz ? \',\'warning\',\'/Definition/ProcessGroupDelete/ ' + data + '\');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>' +

                            '</div>' +
                            '</div>';
                    }
                }
            ],
            pageLength: 10,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });

        var buttonExcel = new $.fn.dataTable.Buttons(table, {
            buttons: [
                {
                    extend: 'excel',
                    text: ' Excel',
                    className: 'fa fa-file-excel-o',
                    filename: $(".row").children('div').children('div').children('div').children('h3').children('strong').html().replace(' ','').toLowerCase() + 'List',
                    exportOptions: {
                        columns: [0, 1]
                        //modifier: {
                        //    page: 'all'
                        //}
                    }
                }]
        }).container().appendTo($('.ExcelExport'));

        var buttonPdf = new $.fn.dataTable.Buttons(table, {
            buttons: [
                {
                    extend: 'pdf',
                    text: ' Pdf',
                    filename: $(".row").children('div').children('div').children('div').children('h3').children('strong').html().replace(' ','').toLowerCase(),
                    title: $(".row").children('div').children('div').children('div').children('h3').children('strong').html() + ' Pdf Çıktısı',
                    exportOptions: {
                        columns: [0, 1]
                        //modifier: {
                        //    page: 'all'
                        //}
                    },
                    className: 'fa fa-file-pdf-o'
                }]
        }).container().appendTo($('.PdfExport'));


        var buttonPrint = new $.fn.dataTable.Buttons(table, {
            buttons: [
                {
                    extend: 'print',
                    text: ' Yazdır',
                    className: 'fa fa-file-pdf-o',
                    title: $(".row").children('div').children('div').children('div').children('h3').children('strong').html()
                }]
        }).container().appendTo($('.PrintExport'));

    });

    function Fclick(tbl) {
        table.ajax.reload();
    }

    function SetSelectedType() {
        debugger;
        $("#processList").html(""); // clear before appending new list 
        $("#processList").selectpicker("refresh");

        var type = $('#processListType').val();
        $.ajax({
            url: '/Common/FillProcessList',
            type: "POST",
            dataType: "JSON",
            data: { type: type },
            success: function (data) {
                debugger;
                $("#processList").removeAttr("disabled");
                $("#processList").append('<option value="">TÜMÜ</option>');

                $.each(JSON.parse(data), function (i, item) {
                    $("#processList").append($('<option></option>').val(item.Id).html(item.Name));
                }); $("#processList").selectpicker("refresh");
            }
        });


    }

    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });

    function getEnterFunction() {
        Fclick('tblProcessGroup');
    }
</script>