﻿@{
    bool isEdit = ViewBag.isEdit;

    string type = ViewBag.Type;
    string ProcessListTitle = string.Empty;

    switch (type)
    {
        case "0":
            ProcessListTitle = "Tanı Listesi";
            break;
        case "1":
            ProcessListTitle = "İlaç Listesi";
            break;
        default:
            ProcessListTitle = "İşlem Listesi";
            break;
    }
}
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">

                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" href="/Definition/ProcessGroup?Type=@ViewBag.Type" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/Definition/ProcessGroupFormSave" method="post" data-toggle="validator">
                                <fieldset>
                                    <div class="row">

                                        @if (ViewBag.ProcessListTypeList != null)
                                        {
                                            <div class="col-sm-4">
                                                <label for="processListType" class="control-label">İşlem Listesi Tipi</label>
                                                <select name="processListType" class="selectpicker w-100-pr mb-20 mbui-select bg-white" title="Seçiniz" id="processListType">
                                                    @foreach (var ProcessListType in ViewBag.ProcessListTypeList)
                                                    {
                                                        if (ProcessListType.Key != "0" && ProcessListType.Key != "1")
                                                        {
                                                            <option value="@ProcessListType.Key">@ProcessListType.Value</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        }

                                        <div class="col-sm-4">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="ProcessGroupName" class="control-label"><span class="color-danger">*</span>Adı</label>
                                                    <input name="ProcessGroupName" class="form-control" id="ProcessGroupName" type="text" placeholder="Adı giriniz" minlength="1" maxlength="100" value="@(ViewBag.ProcessGroup?.PROCESS_GROUP_NAME)" required />
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="topProcessGroup" class="control-label">@ProcessListTitle </label>
                                                    <div class="input-group">
                                                        <input class="form-control btn-radius-left" type="text" disabled="disabled" value="@(ViewBag.ProcessGroup?.PROCESS_LIST_NAME)" name="ProcessList" id="ProcessList" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default btn-radius-right btn-plr20" type="button" data-toggle="modal" data-target="#frmParentProcessGroup_Modal"><i class="fa fa-sitemap" aria-hidden="true"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" name="hdPROCESS_GROUP_ID" id="hdPROCESS_GROUP_ID" value="@(ViewBag.ProcessGroup!=null ? ViewBag.ProcessGroup.PROCESS_GROUP_ID : "0")" />
                                    <input type="hidden" name="hdProcessListID" id="hdProcessListID" value="@(ViewBag.ProcessGroup?.PROCESS_LIST_ID)" />
                                    <input type="hidden" id="type" name="type" value="@ViewBag.Type" />

                                    <div class="mbui-inside-form mb-20 b-full mbui-panel">

                                        <div class="mbui-inside-header  heading-color">
                                            <h4>İşlemler</h4>
                                            <ul class="mbui-controls">
                                                <li>
                                                    <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                        <span class="mbui-minimize" data-tooltip="tooltip" data-placement="bottom" title="Göster"><i class="fa fa-angle-down"></i></span>
                                                        <span class="mbui-expand" data-tooltip="tooltip" data-placement="bottom" title="Gizle"><i class="fa fa-angle-up"></i></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="none-visible clearfix">
                                            @*işlemler listesi js ile buraya basılır*@
                                            <div class="col-sm-12" id="divProcessListAll">

                                            </div>
                                        </div>

                                        <div class="mbui-body mbui-inside-body active">
                                            <div class="info-wrapper mbui-panel-scroll">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="fl">
                                                            <input type="text" class="form-control search" placeholder="Arama..." value="" />
                                                        </div>

                                                        <div class="position-right">
                                                            <button type="button" class="checkbox_check btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Seç</button>
                                                            <button type="button" class="checkbox_cancel btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Kaldır</button>
                                                            <button type="button" class="checkbox_close btn btn-rounded btn-default btn-md fl mbui-info-btn">Seçimi Tamamla</button>
                                                        </div>
                                                    </div>
                                                </div>

                                                @*işlemler listesi js ile buraya basılır*@
                                                <div class="info-wrapper" id="processList">


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <button type="submit" class="btn btn-success btn-sm mr-10">Kaydet</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="frmParentProcessGroup_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">İşlem Listesi</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post" id="frmProcessList" data-target="validator">
                                    <fieldset>
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-12">
                                                <ul class="tree-list">
                                                    @foreach (var ProcessList in ViewBag.ProcessListList)
                                                    {
                                                        <li class="parent new-list">
                                                            <div class="parent-tree tree clearfix">
                                                                <span>@ProcessList.Name</span>
                                                                <label class="checkbox mbui-checkbox-custom fr">
                                                                    <input name="processList" id="@ProcessList.Id" type="radio" value="@ProcessList.Id" data-text="@ProcessList.Name" required />
                                                                    <i></i>
                                                                </label>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="btn-wrapper-center">
                                            <button type="button" id="btnMediaSave" onclick="selectData('frmProcessList', 'hdProcessList');" class="btn btn-success btn-sm mr-10" data-dismiss="modal">SEÇ</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script id="all-template" type="text/x-custom-template">

    <div class="visible-elements-wrapper">
        <label class="checkbox-label mr-10 fl rounded btn-success" for="${PROCESS_ID}">
            ${NAME} - ${CODE}
            <span><i class="fa fa-times" aria-hidden="true"></i></span>
        </label>
    </div>
</script>

<script id="root-template" type="text/x-custom-template">

    <ul class="tree-list tree-list-with-checkbox" id="root_${PROCESS_ID}">
        <li class="parent new-list">
            <div class="parent-tree tree clearfix">
                <span class="tree-bottun open-tree icon-circle btn-success fl rounded">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
                <span class="list-name">${NAME} - ${CODE}</span>
                <input type="hidden" name="PROCESS_GROUP_PROCESS_ID" value="${PROCESS_GROUP_PROCESS_ID}" />
            </div>
        </li>
    </ul>
</script>

<script id="sub-template" type="text/x-custom-template">
    <ul class="tree-list" id="sub_${PROCESS_ID}">
        <li class="child new-list">
            <div class="tree child-tree clearfix">
                <span class="tree-bottun open-tree icon-circle btn-success fl rounded">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
                <span class="list-name">${NAME} - ${CODE}</span> 
                <input type="hidden" name="PROCESS_GROUP_PROCESS_ID" value="${PROCESS_GROUP_PROCESS_ID}" />
                <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                    <input type="checkbox" value="${PROCESS_ID}" name="subProcess" id="${PROCESS_ID}" ${isChecked}>
                    <i></i>
                </label>
            </div>
        </li>
    </ul>
</script>

<script>
    $(document).ready(function () {
        @(isEdit ? Html.Raw("editData('frmProcessList', 'hdProcessList');") : Html.Raw(""));
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))

    });


    //Template helper
    var allItemTpl = $('#all-template').text().split(/\$\{(.+?)\}/g);
    var rootItemTpl = $('#root-template').text().split(/\$\{(.+?)\}/g);
    var subItemTpl = $('#sub-template').text().split(/\$\{(.+?)\}/g);

    function render(props) {
        return function (tok, i) { return (i % 2) ? props[tok] : tok; };
    }


    function addTemplateRow(template, rowData) {

        var newRow = "";

        switch (template) {

            case "all":
                newRow = allItemTpl.map(render(rowData)).join('');
                $('#divProcessListAll').append(newRow);
                break;

            case "root":
                newRow = rootItemTpl.map(render(rowData)).join('');
                $('#processList').append(newRow);
                break;

            case "sub":
                newRow = subItemTpl.map(render(rowData)).join('');
                $('#root_' + rowData.PARENT_ID + ' li.parent').append(newRow);
                break;

            default:
                break;

        }
    }

    //End template helper

    function selectData(frm, hdi) {

        var form = $('#' + frm);

        var strJSON = "{\"id\":1,";
        strJSON += getJson(form.serializeArray());
        strJSON = strJSON.substring(0, strJSON.length - 1) + "}";
        var data = JSON.parse(strJSON);

        var selectedID = data.processList;
        var selectedValue = data.processListSelectedText;

        $('#ProcessList').val(selectedValue);
        $('#hdProcessListID').val(selectedID);

        console.log("processListSelectedText:" + selectedValue);

        var formData = new FormData(form[0]);

        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            url: "/Definition/Processes",
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {

                $('#divProcessListAll').empty();
                $('#processList').empty();

                var responseData = $.parseJSON(data);

                $.each(responseData, function (index) {
                    var dataItem = responseData[index];
                    debugger;
                    addTemplateRow("all", dataItem);

                    if (dataItem.PARENT_ID == "") {
                        addTemplateRow("root", dataItem);
                    } else {
                        addTemplateRow("sub", dataItem);
                    }
                });

            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
            }
        })

    };

    function editData(frm, hdi) {

        var form = $('#' + frm);

        var dataJSON ='@Html.Raw(ViewBag.Proceses !=null ? ViewBag.Proceses : "")';
        var data = JSON.parse(dataJSON);
        console.log(data);
        @*var selectedJSON = '@Html.Raw(ViewBag.ProcessesSelected != null ? ViewBag.ProcessesSelected : "")';
        var selectedData = JSON.parse(selectedJSON);*@

        $('#divProcessListAll').empty();
        $('#processList').empty();

        $.each(data, function (index) {
            var dataItem = data[index];

            addTemplateRow("all", dataItem);

            //if (selectedData.length > 0) {

            //    if (valueExists(selectedData, "id", dataItem.id)) {
            //        dataItem = $.extend(dataItem, { isChecked: "checked" });
            //    }
            //}

            if (dataItem.PARENT_ID == "") {
                addTemplateRow("root", dataItem);
            } else {
                addTemplateRow("sub", dataItem);
            }

        });

    };

    function valueExists(jsObj, field, value) {
        for (var key in jsObj) {
            if (jsObj[key][field] == value)
                return true;
        }
        return false;
    }

</script>
