﻿@{
    bool isEdit = ViewBag.isEdit;

    String jsonTreeData = ViewBag.TreeData != null ? ViewBag.TreeData : "[]";
}

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">
                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" href="/Definition/ProcessList?Type=@ViewBag.Type" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/Definition/ProcessListCreate" method="post" data-toggle="validator">
                                @*üst form*@
                                <div class="row">
                                    <input type="hidden" id="PROCESS_LIST_ID" name="PROCESS_LIST_ID" value="@(ViewBag.Process!=null ? ViewBag.Process.Id : "0")" />
                                    <input type="hidden" id="type" name="type" value="@ViewBag.Type" />

                                    @if (ViewBag.ProcessListTypeList != null)
                                    {
                                        <div class="col-sm-3">
                                            <label for="processListType" class="control-label"><span class="color-danger">*</span>İşlem Listesi Tipi</label>
                                            <select name="processListType" class="selectpicker w-100-pr mb-20 mbui-select bg-white" title="Seçiniz" id="processListType" required>
                                                @foreach (var ProcessListType in ViewBag.ProcessListTypeList)
                                                {
                                                    if (ProcessListType.Key != "0" && ProcessListType.Key != "1")
                                                    {
                                                        <option value="@ProcessListType.Key">@ProcessListType.Value</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    }

                                    <div class="col-sm-3">
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-12">
                                                <label for="priceType" class="control-label"><span class="color-danger">*</span> Fiyat Tipi</label>
                                                <select name="priceType" class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" id="priceType" required>
                                                    <option value=""></option>
                                                    @foreach (var PriceType in ViewBag.PriceTypeList)
                                                    {
                                                        <option value="@PriceType.Key" @(ViewBag.Process != null ? (PriceType.Key == ViewBag.Process.PriceType ? "selected" : "") : "" )>@PriceType.Value</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-12">
                                                <label for="processListName" class="control-label"><span class="color-danger">*</span>Adı</label>
                                                <input name="processListName" class="form-control" id="processListName" placeholder="Adı giriniz" minlength="1" maxlength="100" type="text" value="@(ViewBag.Process != null ? ViewBag.Process.Name : "")" required />
                                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="col-sm-12" style="padding-top:30px;">
                                                <label class="control-label mr-10 fl pt-0 lh-25">İl bazında katsayı hesabına katılacak mı ? </label>
                                                <div class="onoffswitch greensea inline-block fl">
                                                    <input type="checkbox" name="isFactorCalculeted" class="onoffswitch-checkbox" id="isFactorCalculeted" value="1" @(ViewBag.Process != null ? (ViewBag.Process.IsFactorCalculated == "1" ? "checked" : "") : "")>
                                                    <label class="switch mt-10" for="isFactorCalculeted">
                                                        <div></div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*İşlem Listesi*@
                                <div class="mbui-inside-form mb-20 b-full">

                                    <div class="mbui-inside-header heading-color">
                                        <h4>İşlemler</h4>
                                        <ul class="mbui-controls">
                                            <li>
                                                @*root level ekle butonu*@
                                                <a onclick="setLevel('Root');" id="btnAddRoot" href="" tabindex="0" data-toggle="modal" data-target="#frmPlanNetwork_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mbui-body  mbui-inside-body">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="fl">
                                                    <input type="text" class="form-control search" placeholder="Arama..." value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @*tree*@
                                                <div class="info-wrapper mbui-panel-scroll" id="processList">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*tree json data*@
                                    <input type="hidden" name="hdTreeData" id="hdTreeData" value="[]" />
                                </div>
                                @*end işlem listesi*@

                                @*tüm formun kaydet butonu*@
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="btn-wrapper-center">
                                            <button type="submit" class="btn btn-success btn-sm mr-10">@(isEdit ? "Güncelle" : "Kaydet")</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*frmPlanNetwork_Modal*@
    <div class="modal" id="frmPlanNetwork_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Yeni İşlem Ekle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post" id="frmProcess" data-toggle="validator">

                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-12">
                                                <label for="CODE" class="control-label"><span class="color-danger">*</span>Kodu</label>
                                                <input name="CODE" class="form-control" id="CODE" type="text" placeholder="Kodu giriniz" required />
                                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-12">
                                                <label for="NAME" class="control-label"><span class="color-danger">*</span>Adı</label>
                                                <input name="NAME" class="form-control" id="NAME" type="text" placeholder="Adı giriniz" required />
                                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="AMOUNT" class="control-label"><span class="color-danger">*</span>Tutar</label>
                                                <input type="text" name="AMOUNT" id="AMOUNT" value="1" class="form-control touchspin" minlength="2" maxlength="10" data-step="0.01" data-decimals="2" data-boostat="5" data-maxboostedstep="10" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="btn-wrapper-center">

                                        <input type="hidden" class="inputHidden"  name="ID" id="ID" value="0" />
                                        <input type="hidden" class="inputHidden" name="PARENT_ID" id="PARENT_ID" value="0" />
                                        <input type="hidden" class="inputHidden" name="STATUS" id="STATUS" value="0" />

                                        <input type="hidden" name="hdState" id="hdState" value="Add" />
                                        <input type="hidden" name="hdIndex" id="hdIndex" value="-1" />
                                        <input type="hidden" name="hdTreeLevel" id="hdTreeLevel" value="" />

                                        <button type="button" onclick="addLevel();" class="btn btn-success btn-sm createList mr-10" data-dismiss="modal">Kaydet</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script id="root-template" type="text/x-custom-template">

    <ul class="tree-list" id="root_${index}">
        <li class="parent new-list tree-open">
            <div class="tree clearfix active plan-list">
                <span class="tree-bottun open-tree icon-circle btn-success fl rounded">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </span>
                <span class="list-name">${CODE} - ${NAME} - ${AMOUNT}</span>
                <div class="tree-list-islem-block">
                    @*level 2 butonlar*@
                    <a onclick="setLevel('Sub', ${index});" href="" class="myIcon icon-info" data-toggle="modal" data-target="#frmPlanNetwork_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a onclick="setFormUpdate('Root',${index});" href="" class="myIcon icon-warning" data-toggle="modal" data-target="#frmPlanNetwork_Modal" data-tooltip="tooltip" data-placement="bottom" title="Düzenle">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a onclick="deleteRootRow(${index});" href="#" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </li>
    </ul>

</script>

<script id="sub-template" type="text/x-custom-template">

    <ul class="tree-list" id="sub_${index}">
        <li class="new-list">
            <div class="tree clearfix plan-list">
                <span class="tree-bottun open-tree icon-circle btn-success fl rounded">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </span>
                <span class="list-name">${CODE} - ${NAME} - ${AMOUNT}</span>
                <div class="tree-list-islem-block">
                    <a onclick="setFormUpdate('Sub',${index});" href="" class="myIcon icon-warning" data-toggle="modal" data-target="#frmPlanNetwork_Modal" data-tooltip="tooltip" data-placement="bottom" title="Düzenle">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a onclick="deleteSubRow(${index});" href="#" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </li>
    </ul>

</script>

<script>
    $(document).ready(function () {
@(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))

        /**/
@(isEdit && !string.IsNullOrEmpty(jsonTreeData) ? "BuildTree();" : "")
        /**/

    });

//Template helper
var rootItemTpl = $('#root-template').text().split(/\$\{(.+?)\}/g);
var subItemTpl = $('#sub-template').text().split(/\$\{(.+?)\}/g);

    function render(props) {
        return function (tok, i) { return (i % 2) ? props[tok] : tok; };
    }

    function addRootLevel(dataIndex) {
        debugger;
        var rowData = data[dataIndex];
        var newRow = rootItemTpl.map(render(rowData)).join('');

        $('#root_' + dataIndex).remove();

        var nextRootIndex = 0;

        for (item in data) {
            if (data[item].parentIndex > dataIndex) {
                nextRootIndex = data[item].parentIndex;
                break;
            }
        }
        if (nextRootIndex > 0) {
            $(newRow).insertBefore('#root_' + nextRootIndex);
        } else {
            $('#processList').append(newRow);
        }

        var nextRootIndex = 0;

        for (item in data) {
            if (data[item].parentIndex == dataIndex) {
                addSubLevel(data[item].index, dataIndex);
            } else if (data[item].parentIndex > -1) {
                nextRootIndex = data[item].parentIndex;
            }
        }
    }

    function addSubLevel(dataIndex, parentIndex) {
        debugger;
        var rowData = data[dataIndex];
        var newRow = subItemTpl.map(render(rowData)).join('');

        $('#sub_' + dataIndex).remove();
        
        var rootElement = $('#root_' + parentIndex + ' li.parent');
        var root = rootElement[0];
        if (root.childElementCount > parseInt(dataIndex) - parseInt(parentIndex)) {
            var strIdOfNextElemet = parseInt(dataIndex) + 1;
            strIdOfNextElemet = "sub_" + strIdOfNextElemet;
            $(newRow).insertBefore('#' + strIdOfNextElemet);
        } else {
            $('#root_' + parentIndex + ' li.parent').append(newRow);
        }
    }
//End template helper

//Tree functions

    /**/

    var jsonValue = '@Html.Raw(jsonTreeData)'; //print db data
    /**/

    var data = JSON.parse(jsonValue);
    $('#hdTreeData').val(JSON.stringify(data));
    var selectedRoot = 0;

    function BuildTree() {

        var newRow = "";

        $.each(data, function (index) {
            var dataItem = data[index];

            if (dataItem.parentIndex == "-1") {
                newRow = rootItemTpl.map(render(dataItem)).join('');
                $('#processList').append(newRow);
            } else {
                newRow = subItemTpl.map(render(dataItem)).join('');
                $('#root_' + dataItem.parentIndex + ' li.parent').append(newRow);
            }
        });

    }

    function setLevel(level, rootIndex) {
        debugger;
        //level = Root or Sub
        $('#hdTreeLevel').val(level);
        selectedRoot = rootIndex;
        console.log(level + " level will add.");
    }

    function setFormUpdate(level, index) {
        debugger;
        var rowData = data[index];
        selectedRoot = rowData.parentIndex;

        for (item in rowData) {
            $('#' + item).val(rowData[item]);
        }

        $('#hdTreeLevel').val(level);
        $('#hdState').val('Update');
        $('#hdIndex').val(index);
    }

    function deleteRootRow(index) {
        debugger;
        data[index].STATUS = "1";
        $('#hdTreeData').val(JSON.stringify(data));

        $('#root_' + index).remove();
    }

    function deleteSubRow(index) {
        debugger;
        data[index].STATUS = "1";
        $('#hdTreeData').val(JSON.stringify(data));

        $('#sub_' + index).remove();
    }

    function addLevel() {
        debugger;
        var form = $('#frmProcess');
        form.validate();

        if (form.valid()) {

            var level = $('#hdTreeLevel').val();
            var hdState = $("#hdState").val();

            var formData = form.serializeArray();
            var index = data.length;
            var strJSON = '';

            if (level == "Root") {
                //Set root level data
                debugger;
                if (hdState == "Add") {
                    debugger;
                    //Insert new record
                    strJSON = "{\"index\":" + index + ", \"parentIndex\":-1, ";
                    $.each(formData, function (i, frmfield) {
                        strJSON = strJSON + "\"" + frmfield.name + "\":\"" + frmfield.value + "\",";
                    });

                    //strJSON += "\"Children\":[{}],";

                    strJSON = strJSON.substring(0, strJSON.length - 1) + "}";
                    data.push(JSON.parse(strJSON));

                    //Clean modal form
                    CleanModalForm();

                } else if (hdState == "Update") {
                    debugger;
                    //update record
                    index = $('#hdIndex').val();
                    strJSON = "{\"index\":" + index + ", \"parentIndex\":-1, ";
                    $.each(formData, function (i, frmfield) {
                        strJSON = strJSON + "\"" + frmfield.name + "\":\"" + frmfield.value + "\",";
                    });
                    strJSON = strJSON.substring(0, strJSON.length - 1) + "}";

                    data[index] = (JSON.parse(strJSON));
                    //Clean modal form
                    CleanModalForm();
                }

                addRootLevel(index);

            } else if (level == "Sub") {
                //Set sub level data
                //var parentIndex = selectedRoot;

                if (hdState == "Add") {
                    //Insert new record
                    strJSON = "{\"index\":" + index + ", \"parentIndex\":" + selectedRoot + ", ";
                    $.each(formData, function (i, frmfield) {
                        strJSON = strJSON + "\"" + frmfield.name + "\":\"" + frmfield.value + "\",";
                    });
                    strJSON = strJSON.substring(0, strJSON.length - 1) + "}";
                    data.push(JSON.parse(strJSON));

                    //Clean modal form
                    CleanModalForm();

                } else if (hdState == "Update") {
                    //update record
                    index = $('#hdIndex').val();

                    strJSON = "{\"index\":" + index + ", \"parentIndex\":" + selectedRoot + ", ";
                    $.each(formData, function (i, frmfield) {
                        strJSON = strJSON + "\"" + frmfield.name + "\":\"" + frmfield.value + "\",";
                    });
                    strJSON = strJSON.substring(0, strJSON.length - 1) + "}";

                    data[index] = (JSON.parse(strJSON));
                    //Clean modal form
                    CleanModalForm();
                }

                addSubLevel(index, selectedRoot);
            }

            $('#hdTreeData').val(JSON.stringify(data));

        }

    }

    function CleanModalForm() {

    }


</script>

