/*
|--------------------------------------------------------------------------
| Horizontal Form
|--------------------------------------------------------------------------
*/

.mbui-panel,
mbui-inside-form,
.mbui-form{
  position: relative;
  color: #616f77;
  background: #fff;
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  display:inline-block;
  width: 100%;
}

.mbui-panel.refreshing,
.mbui-form.refreshing,
.mbui-inside-form.refreshing {
    filter: alpha(opacity=30);
    opacity: 0.3;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mbui-header,
.mbui-inside-header{
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 15px;
  position: relative;
    background: #fff;
}

.mbui-header h3,
.mbui-inside-header h3{
  font-weight: 400;
  display: inline-block;
  margin: 0;
}

.mbui-controls {
    position:absolute;
    top:0;
    right:0;
    padding:0;
    margin: 0;
}

.mbui-controls > li {
    display: inline-block;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.mbui-controls > .dropdown .dropdown-menu {
    left: auto;
    border-radius: 0;
    right: -5px;
}

.mbui-controls > .dropdown .dropdown-menu.with-arrow:before {
    content: "";
  position: absolute;
  right: 16px;
  top: -10px;
  height: 0;
  width: 0;
  border-bottom: 9px solid rgba(0, 0, 0, 0.15);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.mbui-controls > .dropdown .dropdown-menu.with-arrow:after {
    content: "";
    position: absolute;
    right: 17px;
    top: -8px;
    height: 0;
    width: 0;
    border-bottom: 8px solid white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.mbui-controls > li > a {
    display: block;
    height: 100%;
    line-height: 42px;
    min-width: 42px;
    padding: 0 10px;
    text-align: center;
    color: #95a2a9;
    text-decoration: none;
}

.mbui-controls > li > a .fa-spin {
    display: none;
}

.mbui-panel .mbui-toggle .mbui-expand,
.mbui-form .mbui-toggle .mbui-expand,
.mbui-inside-form .mbui-inside-toggle .mbui-expand {
    display: block;
}

.mbui-panel.collapsed .mbui-toggle .mbui-expand,
.mbui-form.collapsed .mbui-toggle .mbui-expand,
.mbui-inside-form.collapsed .mbui-inside-toggle .mbui-expand {
    display: none;
}

.mbui-panel .mbui-toggle .mbui-minimize,
.mbui-inside-form .mbui-inside-toggle .mbui-minimize,
.mbui-form .mbui-toggle .mbui-minimize {
    display: none;
}

.mbui-panel.collapsed .mbui-toggle .mbui-minimize,
.mbui-inside-form.collapsed .mbui-inside-toggle .mbui-minimize,
.mbui-form.collapsed .mbui-toggle .mbui-minimize {
    display: block;
}

.mbui-panel.refreshing .mbui-controls > li > a .fa-spin,
.mbui-inside-form.refreshing .mbui-controls > li > a .fa-spin,
.mbui-form.refreshing .mbui-controls > li > a .fa-spin {
    display: block;
}

.mbui-panel.refreshing .mbui-controls > li > a .fa-cog,
.mbui-inside-form.refreshing .mbui-controls > li > a .fa-cog,
.mbui-form.refreshing .mbui-controls > li > a .fa-cog {
    display: none;
}

.closed{
  display:none;
}

.mbui-body{
  padding: 20px 15px 8px;
  position: relative;
    background: #fff;
}

label{
  font-weight: 400;
}

.control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.form-control,
div.inputTags-list{
    color: #616f77;
    outline: 0;
    vertical-align: top;
    background-color: #fff;
    filter: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    border: 1px solid #dbe0e2;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.rounded {
    border-radius: 600px !important;
}

.b-1 {
    border: 1px solid rgba(0, 0, 0, 0.1);;
}

.bb-0 {
    border-bottom: 0;
}

.form-control.underline-input {
    background: none;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    -webkit-appearance: none !important;
    vertical-align: middle;
    padding-left: 0;
    border-color: #dbe0e2;
}

.form-control.underline-input:focus,
.form-control.underline-input:focus:hover {
    border: 0;
    border-bottom: 1px solid;
    border-color: #22beef;
}

.form-control:not(select) {
  -webkit-appearance: none !important;
}

.form-control-static {
    min-height: 34px;
    padding-top: 6px;
    padding-bottom: 7px;
    margin-bottom: 0;
}

.form-control::-webkit-input-placeholder {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #bfc7cb;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}

.form-control::-moz-placeholder {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #bfc7cb;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}

.form-control:-moz-placeholder {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #bfc7cb;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}

.form-control:-ms-input-placeholder {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #bfc7cb;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}

.form-control:hover:not(:disabled) {
  border-color: #b1bac0;
}

.form-control:focus,
.form-control:focus:hover{
    outline: none;
    border: 1px solid #22beef;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mbui-help {
    margin-bottom: 0 !important;
}

.help-block {
    font-size: 12px;
    color: #95a2a9;
}

.mbui-checkbox-custom,
.mbui-checkbox-custom-alt {
  padding-left: 20px;
  cursor: pointer;
}

.mbui-checkbox-custom input,
.mbui-checkbox-custom-alt input {
  position: absolute;
  opacity: 0;
}

.mbui-checkbox-custom input:checked + i,
.mbui-checkbox-custom-alt input:checked + i {
  border-color: #428bca;
  background-color: #428bca;
}

.mbui-checkbox-custom input:checked + i:before,
.mbui-checkbox-custom-alt input:checked + i:before {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.mbui-checkbox-custom input:checked + span .active,
.mbui-checkbox-custom-alt input:checked + span .active {
  display: inherit;
}

.mbui-checkbox-custom input[type='radio'] + i,
.mbui-checkbox-custom input[type='radio'] + i:before,
.mbui-checkbox-custom-alt input[type='radio'] + i,
.mbui-checkbox-custom-alt input[type='radio'] + i:before {
  border-radius: 50%;
}

.mbui-checkbox-custom input[disabled] + i,
.mbui-checkbox-custom-alt input[disabled] + i {
  border-color: #e2e2e2;
  background-color: #f2f2f2;
}

.mbui-checkbox-custom input[disabled] + i:before,
.mbui-checkbox-custom-alt input[disabled] + i:before {
  background-color: #e2e2e2;
}

.mbui-checkbox-custom > i,
.mbui-checkbox-custom-alt > i {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  margin-right: 4px;
  margin-left: -20px;
  line-height: 1;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.mbui-checkbox-custom > i:before,
.mbui-checkbox-custom-alt > i:before {
  position: absolute;
  top: 50%;
  left: -100%;
  width: 0;
  height: 0;
  background-color: transparent;
  content: "";
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 1;
}

.mbui-checkbox-custom > span,
.mbui-checkbox-custom-alt > span {
  margin-left: -20px;
}

.mbui-checkbox-custom > span .active,
.mbui-checkbox-custom-alt > span .active {
  display: none;
}

.mbui-checkbox-custom:hover > i,
.mbui-checkbox-custom-alt:hover > i {
  border-color: #22beef;
}

.mbui-checkbox-custom.checkbox-custom-sm input:checked + i:before,
.mbui-checkbox-custom-alt.checkbox-custom-sm input:checked + i:before {
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
}

.mbui-checkbox-custom.checkbox-custom-sm > i,
.mbui-checkbox-custom-alt.checkbox-custom-sm > i {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  margin-left: -18px;
}

.mbui-checkbox-custom.checkbox-custom-lg input:checked + i:before,
.mbui-checkbox-custom-alt.checkbox-custom-lg input:checked + i:before {
  top: 3px;
  left: 3px;
  width: 22px;
  height: 22px;
}

.mbui-checkbox-custom.checkbox-custom-lg > i,
.mbui-checkbox-custom-alt.checkbox-custom-lg > i {
  width: 30px;
  height: 30px;
}

.mbui-checkbox-custom-alt input:checked + i {
  background-color: transparent;
  border-color: #666;
  color: #666;
}

.mbui-checkbox-custom-alt input:checked + i:before {
  top: 2px;
  left: 2px;
  width: auto;
  height: auto;
  background-color: transparent;
  opacity: 1;
}

.mbui-checkbox-custom-alt input[type='radio']:checked + i:before {
  left: 1px;
}

.mbui-checkbox-custom-alt input[disabled] + i {
  border-color: #e2e2e2;
  background-color: #f2f2f2;
}

.mbui-checkbox-custom-alt input[disabled] + i:before {
  background-color: transparent;
  color: #ccc;
}

.mbui-checkbox-custom-alt > i {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 2px solid #dfdfdf;
}

.mbui-checkbox-custom-alt > i:before {
  content: "\f00c";
  top: 0;
  left: 0;
  display: inline-block;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.mbui-checkbox-custom-alt.checkbox-custom-sm > i:before {
  font-size: 9px;
}

.mbui-checkbox-custom-alt.checkbox-custom-sm input:checked + i:before {
  font-size: 9px;
  top: 1px;
}

.mbui-checkbox-custom-alt.checkbox-custom-lg input:checked + i:before {
  font-size: 18px;
  top: 4px;
  left: 4px;
}

.mbui-mb-10 {
    margin-bottom: 10px !important;
}

.btn.btn-default {
  color: #616f77;
  border-color: #cdd3d7;
}

.btn.btn-default:focus {
  background-color: #ffffff;
  border-color: #b1bac0;
}

.btn.btn-default:hover {
  background-color: #f2f3f4;
}

.btn.btn-default:active,
.btn.btn-default.active {
  background-color: #eaeced;
}

.btn {
    border-radius: 0;
    outline: 0 !important;
}

.input-group .btn {
    border-radius: 2px;
}

.dropdown-menu {
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

.checkbox-inline,
.radio-inline {
    padding-top: 7px;
}

/* Switches */

.inline-block {
    display: inline-block !important;
}

.onoffswitch {
    position: relative;
    width: 40px;
    height: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.onoffswitch.small {
    width: 20px;
    height: 15px;
    margin-top: 3px;
    right: -5px;
}

.onoffswitch.small .onoffswitch-switch {
  right: 6px;
}

.onoffswitch.small .onoffswitch-switch {
  width: 10px;
}

.onoffswitch.small .onoffswitch-inner:before,
.onoffswitch.small .onoffswitch-inner:after {
    height: 15px;
    line-height: 15px;
}

.onoffswitch.medium {
    width: 30px;
    height: 20px;
    margin-top: 3px;
    right: -5px;
}

.onoffswitch.medium .onoffswitch-switch {
  right: 11px;
}

.onoffswitch.medium .onoffswitch-switch {
  width: 15px;
}

.onoffswitch.labeled .onoffswitch-switch {
     right:21px;
}

.onoffswitch.labeled {
    width: 46px;
}

.onoffswitch.medium .onoffswitch-inner:before,
.onoffswitch.medium .onoffswitch-inner:after {
    height: 20px;
    line-height: 20px;
}

.onoffswitch.labeled .onoffswitch-inner:before {
    content: "On";
    padding-left: 7px;
}

.onoffswitch.labeled .onoffswitch-inner:after {
    content: "Off";
    padding-right: 7px;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.2s ease-in 0s;
    -moz-transition: margin 0.2s ease-in 0s;
    transition: margin 0.2s ease-in 0s;
}

.onoffswitch.greensea .onoffswitch-inner:before {
    background-color: #16a085;
}

.onoffswitch.primary .onoffswitch-inner:before {
    background-color: #428bca;
}

.onoffswitch.lightred .onoffswitch-inner:before {
    background-color: #e05d6f;
}

.onoffswitch.drank .onoffswitch-inner:before {
    background-color: #A40778;
}

.onoffswitch.dutch .onoffswitch-inner:before {
    background-color: #1693A5;
}

.onoffswitch.danger .onoffswitch-inner:before {
    background-color: #d9534f;
}

.onoffswitch.hotpink .onoffswitch-inner:before {
    background-color: #FF0066;
}

.onoffswitch.green .onoffswitch-inner:before {
    background-color: #a2d200;
}

.onoffswitch.blue .onoffswitch-inner:before {
  background-color: #418bca;
}

.onoffswitch-inner:before {
    content: "";
    padding-left: 9px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 25px;
    padding: 0;
    line-height: 25px;
    font-size: 9px;
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    -webkit-transform: none;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 9px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #999999;
    text-align: right;

}

.onoffswitch-switch {
    display: block;
    width: 21px;
    margin: 2px;
    background: #FFFFFF;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    -webkit-transition: all 0.2s ease-in 0s;
    -moz-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/*
|--------------------------------------------------------------------------
| Select MUI-FRS-CME-06
|--------------------------------------------------------------------------
*/


.chosen-container {
  font-size: 14px;
}

.chosen-container .chosen-drop {
  border-color: #22beef;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.chosen-container .chosen-results {
  color: #616f77;
}

.chosen-container .chosen-results li {
  font-size: 12px;
}

.chosen-container .chosen-results li.group-result {
  color: #4a555b;
}

.chosen-container .chosen-results li.highlighted {
  background: #798992;
}

.chosen-container-single .chosen-single {
  height: 34px;
  line-height: 1.42857143;
  padding: 6px 12px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background: white;
  color: #616f77;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #dbe0e2;
}

.chosen-container-single .chosen-single div b {
  background-position: 0 7px;
}

.chosen-container-single .chosen-search input[type=text] {
  border-color: #dbe0e2;
  font-size: 12px;
  color: #95a2a9;
}

.chosen-container-multi .chosen-choices {
  background: white;
  border-color: #dbe0e2;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 2px 12px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 28px;
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  color: #bfc7cb;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}

.chosen-container-multi .chosen-choices li.search-choice {
  background: #eaeced;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #616f77;
  font-size: 12px;
  padding: 5px 20px 4px 10px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 6px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  background: white;
  border-color: #22beef;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 7px;
}

.chosen-container-active.chosen-with-drop .chosen-choices {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.chosen-container-active .chosen-choices {
  border-color: #22beef;
}

.input-underline + .chosen-container .chosen-choices {
  background: none;
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
  -webkit-appearance: none !important;
  vertical-align: middle;
  padding-left: 0;
  border-color: #dbe0e2;
}

.input-underline + .chosen-container .chosen-choices:focus:hover {
  border: 0;
  border-bottom: 1px solid #22beef;
}

.chosen-rtl .chosen-search input[type="text"],
.chosen-container-single .chosen-single abbr,
.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-search input[type="text"],
.chosen-container-single .chosen-search,
.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
.chosen-container .chosen-results-scroll-down span,
.chosen-container .chosen-results-scroll-up span {
  background:none;
  position:relative;
}

.chosen-container-single .chosen-single div b:before {
    content: "\f0d7";
    font-family: 'FontAwesome';
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -8px;
    transition: all .3s;
    -webkit-transition: all .3s;
    line-height: 16px;
    color:#9d9d9d;
}

.chosen-container-single.chosen-with-drop .chosen-single div b:before {
    content: "\f0d8";
}

.chosen-container-single .chosen-search:before {
    content: "\f002";
    font-family: 'FontAwesome';
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    right: 15px;
    top: 50%;
    margin-top: -6px;
    line-height: 12px;
    color:#9d9d9d;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 5px;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    background:none;
    font-size: 1px;
    overflow:hidden;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
    position: absolute;
    font-size: 12px;
    content: "\f00d";
    line-height: 12px;
    font-family: 'FontAwesome';
    font-weight: 400;
    color:#9d9d9d;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover:before {
    color:#5c5c5c;
}

/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background:none;
    position:relative;
  }
}

/*
|--------------------------------------------------------------------------
| Slider MUI-FRS-CME-07
|--------------------------------------------------------------------------
*/


.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.slider.slider-horizontal {
  width: 210px;
  height: 20px;
}

.slider.slider-horizontal .slider-track {
  width: 100%;
  margin-top: -5px;
  top: 50%;
  left: 0;
}

.slider.slider-horizontal .slider-selection {
  height: 100%;
  top: 0;
  bottom: 0;
}

.slider.slider-horizontal .slider-handle {
  margin-left: -10px;
  margin-top: -8px;
}

.slider.slider-horizontal .slider-handle.triangle {
  border-width: 0 10px 10px 10px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-color: #e05d6f;
}

.slider.slider-vertical {
  height: 210px;
  width: 20px;
}

.slider.slider-vertical .slider-track {
  height: 100%;
  left: 50%;
  top: 0;
  width: 6px;
  margin-left: -2px;
}

.slider.slider-vertical .slider-selection {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.slider.slider-vertical .slider-handle {
  margin-left: -8px;
  margin-top: -10px;
}

.slider.slider-vertical .slider-handle.triangle {
  border-width: 10px 0 10px 10px;
  width: 1px;
  height: 1px;
  margin-left: 0;
  border-left-color: #e05d6f;
}

.slider.disabled .slider-track {
  cursor: not-allowed;
}

.slider input {
  display: none;
}

.slider .tooltip {
  display: none;
}

.slider .tooltip.top {
  margin-top: -36px;
}

.slider:hover .tooltip {
  display: block;
}

.slider .tooltip-inner {
  white-space: nowrap;
}

.slider .hide {
  display: none;
}

.slider .slider-track {
  position: absolute;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #dbe0e2;
  height: 6px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.slider .slider-selection {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #418bca;
  background-image: none;
  border-radius: 3px;
}

.slider .slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  outline: none;
  background-color: #fff;
  background-image: none;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.slider .slider-handle.round {
  border-radius: 20px;
}

.slider .slider-handle.triangle {
  background: transparent none;
}

#ex1CurrentSliderValLabel {
    margin-left: 10px;
}

/*
|--------------------------------------------------------------------------
| Range Selector MUI-FRS-CME-08
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
| Color Picker MUI-FRS-CME-09
|--------------------------------------------------------------------------
*/

.w-md, .w-240 {
  width: 240px;
}


/*
|--------------------------------------------------------------------------
| Datapicker MUI-FRS-CME-10
|--------------------------------------------------------------------------
*/

.w-xl, .w-360 {
    width: 360px;
}

.w-md, .w-240 {
    width: 240px;
}

.datepicker .input-group-addon{
    cursor:pointer;
}

.datepicker .btn-default .glyphicon {
    top: 2px;
}

.datepicker .btn[disabled] {
    opacity: .3;
}

.datepicker .btn-info {
    color: white !important;
}

.datepicker .btn-info .text-info {
    color: white;
}

.datepicker .btn-info.active {
    background-color: #5bc0de !important;
}

.datepicker td > em {
    color: #95a2a9;
}


/*
|--------------------------------------------------------------------------
| Form Wizard MUI-FRS-FRW-01
|--------------------------------------------------------------------------
*/

.nav-tabs.nav-justified > li > a {
    border: 0;
    border-radius: 0;
}

.nav-tabs.nav-justified > li.active > a,
.nav-tabs.nav-justified > li.active > a:hover,
.nav-tabs.nav-justified > li.active > a:focus {
    border: 0;
}

.tab-nopadding .tab-pane {
    padding: 15px 0;
}

.tab-wizard .nav-tabs > li:before {
    background-color: #428bca;
    bottom: -10px;
    opacity: 1;
    -webkit-transition: width 0.8s;
    -moz-transition: width 0.8s;
    transition: width 0.8s;
}

.tab-wizard .nav-tabs > li > a {
    text-align: left;
    padding-left: 30px;
    position: relative;
    font-size:13px;
}

.tab-wizard .nav-tabs > li > a:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 19px solid transparent;
    border-left: 19px solid #f5f5f5;
    border-top: 19px solid transparent;
    top: 1px;
    right: -18px;
    z-index: 6;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.tab-wizard .nav-tabs > li > a:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #f5f5f5;
    border-top: 20px solid transparent;
    top: 0;
    right: -20px;
    z-index: 5;
}

.tab-wizard .nav-tabs > li > a .wizard-step {
    font-size: 14px;
    font-weight: 700;
    padding: 5px 8px;
    border-radius: 50%;
    background-color: #4a555b;
    color: #eaeaea;
    border: 1px solid #eaeaea;
    margin-top: -2px;
    margin-right: -10px;
    width: 26px;
    height: 26px;
    line-height: 14px;
}

.tab-wizard .nav-tabs > li:first-child > a {
    padding-left: 15px;
}

.tab-wizard .nav-tabs > li:last-child > a:after,
.tab-wizard .nav-tabs > li:last-child > a:before {
    display: none;
}

.tab-wizard .nav-tabs > li:last-child > a .wizard-step {
    margin-right: 0;
}

.tab-wizard .nav-tabs > li > a,
.tab-wizard .nav-tabs > li > a:hover,
.tab-wizard .nav-tabs > li > a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #f5f5f5;
}

.tab-wizard .nav-tabs > li:after,
.tab-wizard .nav-tabs > li:before {
    content: "";
    position: absolute;
    border: 0;
    width: 100%;
    height: 10px;
    background-color: #798992;
    left: 0;
    margin-left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    transition: opacity 0.8s;
}

.tab-wizard .nav-tabs > li:after {
    opacity: .1;
}

.tab-wizard .nav-tabs > li:before {
    background-color: #428bca;
    bottom: -10px;
    opacity: 1;
    -webkit-transition: width 0.8s;
    -moz-transition: width 0.8s;
    transition: width 0.8s;
}

.tab-wizard .nav-tabs > li.active > a:before {
    border-left-color: white;
}

.tab-wizard .nav-tabs > li.active > a .wizard-step {
    background-color: transparent;
    color: #4a555b;
    border-color: #4a555b;
}

.tab-wizard .nav-tabs > li.active > a,
.tab-wizard .nav-tabs > li.active > a:hover {
    background-color: white;
}

.tab-wizard .nav-tabs > li.active:after {
    opacity: 1;
}

.tab-wizard .nav-tabs > li.active:before {
    opacity: 0;
    width: 0;
}

.tab-wizard .nav-tabs > li.disabled > a .wizard-step {
    background-color: transparent;
    color: #eaeaea;
    border-color: #eaeaea;
}

.tab-wizard .nav-tabs > li.active ~ li > a:before {
    border-left-color: white;
}

.tab-wizard .nav-tabs > li.active ~ li > a .wizard-step {
    background-color: transparent;
    color: #eaeaea;
    border-color: #eaeaea;
}

.tab-wizard .nav-tabs > li.active ~ li > a,
.tab-wizard .nav-tabs > li.active ~ li > a:hover {
    background-color: white;
}

.tab-wizard .nav-tabs > li.active ~ li:before {
    opacity: 0;
    width: 0;
}

.tab-wizard .tab-content {
    background-color: white;
}

.tab-wizard .tab-content .tab-pane {
    margin-top: 10px;
}

.tab-wizard .tab-content .pager.wizard {
    margin: 0;
    padding: 0 15px 15px;
}

.tab-wizard .tab-content .pager.wizard > li.disabled > .btn {
    cursor: not-allowed;
    color: #ccc;
    border-color: #eee;
}

.tab-wizard .tab-content .pager.wizard > li.disabled > .btn:hover {
    background-color: white;
}

.tab-wizard .tab-content .pager.wizard > li.previous > .btn {
    float: left;
}

.tab-wizard .tab-content .pager.wizard > li.next > .btn {
    float: right;
}

.tab-animation > .tab-content {
    position: relative;
}

.tab-animation > .tab-content > .tab-pane {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.tab-animation > .tab-content > .tab-pane.active-remove {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
}

.tab-animation > .tab-content > .tab-pane.active-remove-active {
    opacity: 0;
}

.tab-animation > .tab-content > .tab-pane.active-add {
    opacity: 0;
}

.tabs-right.nav-tabs {
    text-align: right;
}

.tabs-right.nav-tabs > li {
    margin-right: -3px;
    float: none;
    display: inline-block;
}

.tabs-right.nav-tabs > li:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 768px) {
    .nav-tabs.nav-justified > li a {
        margin-bottom: 0;
    }
    .nav-tabs.nav-justified > li:after {
        display: none;
    }
    .nav-tabs > li.tabs-title {
        display: none;
    }
}

.tabs-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-wizard .nav-tabs > li::before {
    background-color: #428bca;
    bottom: -10px;
    opacity: 1;
    -webkit-transition: width 0.8s;
    -moz-transition: width 0.8s;
    transition: width 0.8s;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error,
.checkbox-custom.parsley-error > i {
    border-color: #ff7b76 !important;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    border-color: #b2e600 !important;
}

.parsley-errors-list.filled {
    opacity: 1;
    padding: 5px 0 10px;
}
.filled {
    padding: 10px;
    color: white;
}
.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 12px;
    line-height: 0.9em;
    opacity: 0;
    color: #ff7b76 !important;
    transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}

/*
|--------------------------------------------------------------------------
| Progress Bars MUI-UIK-GNE-01
|--------------------------------------------------------------------------
*/

.progress.progress-xxs {
    height: 2px;
    border-radius: 0;
}

.progress.progress-xs {
    height: 6px;
    border-radius: 2px;
}

.progress.progress-sm {
    height: 12px;
    border-radius: 3px;
}

.progress.not-rounded {
    border-radius: 0;
}

.progress-bar-cyan {
    background-color: #22beef;
}

.progress-bar-greensea {
    background-color: #16a085;
}

.progress-bar-dutch {
    background-color: #1693A5;
}

.progress-bar-drank {
    background-color: #A40778;
}

.progress-bar-hotpink {
    background-color: #F06;
}

.progress-bar-amethyst {
    background-color: #cd97eb;
}

.progress-list {
    position: relative;
}

.progress-list .details {
    display: inline-block;
    float: left;
}

.progress-list .status {
    display: inline-block;
    background-color: #ebeef2;
    font-size: 9px;
    padding: 6px;
}


/*
|--------------------------------------------------------------------------
| Ratings MUI-UIK-GNE-02
|--------------------------------------------------------------------------
*/

.block {
    display: block;
}

.text-lg {
    font-size: 18px !important;
}

.text-orange {
    color: #ffc100;
}

.text-cyan {
    color: #22beef;
}


/*
|--------------------------------------------------------------------------
| Buttons MUI-UIK-GNE-03
|--------------------------------------------------------------------------
*/

.btn.btn-greensea {
    background-color: #16a085;
    color: #ffffff;
    border-color: #138a72;
}

.btn.btn-greensea:active,
.btn.btn-greensea.active {
    background-color: #107863;
    border-color: #0f6a58;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn.btn-danger:active, .btn.btn-danger.active {
    background-color: #b52b27;
}


/*
|--------------------------------------------------------------------------
| Carousel MUI-UIK-GNE-04
|--------------------------------------------------------------------------
*/



/*
|--------------------------------------------------------------------------
| Tooltip MUI-UIK-GNE-05
|--------------------------------------------------------------------------
*/

.mt-10{
    margin-top:10px;
}



/*
|--------------------------------------------------------------------------
| Typeahead MUI-UIK-GNE-08
|--------------------------------------------------------------------------
*/

.twitter-typeahead {
    width: 100%;
}

.tt-dropdown-menu, .tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 160px;
    width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.tt-dropdown-menu, .tt-menu {
    list-style: none;
    font-size: 14px;
}

.tt-dropdown-menu .tt-suggestion, .tt-menu .tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor,
.tt-menu .tt-suggestion.tt-cursor,
.tt-dropdown-menu .tt-suggestion:hover,
.tt-menu .tt-suggestion:hover {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    background-color: #f5f5f5;
    color: #262626;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor a,
.tt-menu .tt-suggestion.tt-cursor a,
.tt-dropdown-menu .tt-suggestion:hover a,
.tt-menu .tt-suggestion:hover a {
    color: #262626;
}

.mr-10 {
    margin-right: 10px !important;
}



/*
|--------------------------------------------------------------------------
| Pagination MUI-UIK-GNE-12
|--------------------------------------------------------------------------
*/

.pagination > li:first-child > a,
.pagination > li:last-child > a {
    border-radius: 0;
}



/*
|--------------------------------------------------------------------------
| Labels & Badges MUI-UIK-GNE-13
|--------------------------------------------------------------------------
*/

.badge, .label {
    font-size: 10px;
    font-weight: 400;
}

.bg-red {
    background-color: #ff4a43 !important;
    color: #ffffff !important;
}

.bg-cyan {
    background-color: #22beef !important;
    color: #ffffff !important;
}

.bg-greensea {
    background-color: #16a085 !important;
    color: #ffffff !important;
}

.bg-primary {
    background-color: #428bca !important;
    color: #ffffff !important;
}

.bg-danger {
    background-color: #d9534f !important;
    color: #ffffff !important;
}

.bg-info {
    background-color: #5bc0de !important;
    color: #ffffff !important;
}

.bg-drank {
    background-color: #A40778 !important;
    color: #ffffff !important;
}

.bg-lightred {
    background-color: #e05d6f !important;
    color: #ffffff !important;
}

.bg-dutch {
    background-color: #1693A5 !important;
    color: #ffffff !important;
}

.bg-hotpink {
    background-color: #FF0066 !important;
    color: #ffffff !important;
}



/*
|--------------------------------------------------------------------------
| Button Types MUI-UIK-BTI-01
|--------------------------------------------------------------------------
*/

.mb-10 {
    margin-bottom:10px;
}

.myIcon {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #fff;
}

.myIcon.icon-primary {
    background-color: #428bca;
    color: #ffffff;
}

.myIcon.icon-success {
    background-color: #5cb85c;
    color: #ffffff;
}

.myIcon.icon-warning {
    background-color: #f0ad4e;
    color: #ffffff;
}

.myIcon.icon-danger {
    background-color: #d9534f;
    color: #ffffff;
}

.myIcon.icon-info {
    background-color: #5bc0de;
    color: #ffffff;
}

.myIcon.icon-default {
    background-color: #616f77;
    color: #ffffff;
}

.myIcon.icon-cyan {
    background-color: #22beef;
    color: #ffffff;
}

.myIcon.icon-amethyst {
    background-color: #cd97eb;
    color: #ffffff;
}

.myIcon > .fa {
    speak: none;
    font-size: 26px;
    line-height: 50px;
    display: block;
}

.btn-ef {
    border: none;
    display: inline-block;
    outline: none;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-ef:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-ef.btn-ef-3.btn-default {
    background: #e2e2e2;
    color: #616f77;
}

.btn-ef.btn-ef-3.btn-default:hover {
    background: #c9c9c9;
}

.btn-ef.btn-ef-3.btn-ef-3a {
    padding-left: 50px;
}

.btn-ef.btn-ef-3.btn-ef-3a > i {
    background: rgba(0, 0, 0, 0.05);
}

.btn-ef.btn-ef-3 > i {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 32px;
    font-size: 130%;
    width: 40px;
}

.btn-ef.btn-ef-3.btn-ef-3b {
    padding-left: 45px;
}

.btn-ef.btn-ef-3.btn-ef-3b > i {
    width: 36px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.btn.btn-rounded-10 {
    border-radius: 10px;
}

.btn-ef.btn-ef-3.btn-ef-3c {
    padding-right: 45px;
    overflow: hidden;
}

.btn-ef.btn-ef-3.btn-ef-3c > i {
    left: auto;
    right: -6px;
    font-size: 12px;
    z-index: 2;
}

.btn-ef.btn-ef-3.btn-ef-3c:after {
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
}

.btn-ef.btn-ef-3.btn-ef-3c:hover:after {
    width: 40%;
}

.btn-ef.btn-ef-4 {
    overflow: hidden;
    padding: 6px 30px;
}

.btn-ef.btn-ef-4.btn-default {
    border: 2px solid #ccc;
}

.btn-ef.btn-ef-4.btn-default:hover {
    border: 2px solid #b3b3b3;
}

.btn-ef.btn-ef-4:active, .btn-ef.btn-ef-4.active {
    top: 2px;
}

.btn-ef.btn-ef-4 > i {
    position: absolute;
    height: 100%;
    line-height: 32px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-ef.btn-ef-4.btn-ef-4a > i {
    left: 130%;
    top: 0;
}

.btn-ef.btn-ef-4.btn-ef-4a:hover > i {
    left: 80%;
}

.btn-ef.btn-ef-4.btn-ef-4b > i {
    left: 70%;
    opacity: 0;
    top: 0;
}

.btn-ef.btn-ef-4.btn-ef-4b:hover > i {
    left: 80%;
    opacity: 1;
}

.btn-ef.btn-ef-4.btn-ef-4c > i {
    left: -50%;
    top: 0;
}

.btn-ef.btn-ef-4.btn-ef-4c:hover > i {
    left: 10%;
}

.btn-ef.btn-ef-4.btn-ef-4d > i {
    left: 30%;
    opacity: 0;
    top: 0;
}

.btn-ef.btn-ef-4.btn-ef-4d:hover > i {
    left: 10%;
    opacity: 1;
}

.btn.btn-lightred {
    background-color: #e05d6f;
    color: white;
    border-color: #dc485c;
}

.btn.btn-lightred:hover,
.btn.btn-lightred:active,
.btn.btn-lightred.active {
    background-color: #dc485c;
    border-color: #d9364d;
    color: white;
}



/*
|--------------------------------------------------------------------------
| Button Dropdowns MUI-UIK-BTI-03
|--------------------------------------------------------------------------
*/

.mb-20 {
  margin-bottom: 20px;
}



/*
|--------------------------------------------------------------------------
| Descriptions MUI-UIK-TYP-07
|--------------------------------------------------------------------------
*/

.filled {
    padding: 10px;
    color: white;
}

dl.filled {
    padding: 0;
}

dl.filled dt, dl.filled dd {
    padding: 5px 10px;
}

.bg-dutch.dk {
    background-color: #137f8f !important;
}

.bg-lightred {
    background-color: #e05d6f !important;
    color: white !important;
}

.bg-lightred.dk {
    background-color: #dc485c !important;
}



/*
|--------------------------------------------------------------------------
| Descriptions MUI-UIK-NVA-02
|--------------------------------------------------------------------------
*/

.mbui-body .nav-tabs.tabs-dark {
    background-color: #3f4e62;
}

.mbui-body .nav-tabs > li.active > a,
.mbui-body .nav-tabs > li.active > a:hover,
.mbui-body .nav-tabs > li.active > a:focus {
    box-shadow: inset 0 -3px 0 #428bca;
    border: 0;
    background-color: #e8e8e8;
}

.mbui-body .nav-tabs.tabs-dark > li > a {
    color: rgba(255, 255, 255, 0.5);
}

.mbui-body .nav-tabs > li {
    margin-bottom: 0;
}

.mbui-body .nav-tabs > li > a {
    border: 0;
    border-radius: 0;
    margin-right: 0;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -3px 0 transparent;
    box-shadow: inset 0 -3px 0 transparent;
}

.mbui-body .nav-tabs.tabs-dark > li > a:hover,
.mbui-body .nav-tabs.tabs-dark > li > a:focus {
    background-color: #354252;
    color: rgba(255, 255, 255, 0.8);
}

.mbui-body .nav-tabs.tabs-dark > li.active > a,
.mbui-body .nav-tabs.tabs-dark > li.active > a:hover,
.mbui-body .nav-tabs.tabs-dark > li.active > a:focus {
    background-color: #2b3543;
    color: white;
}

.mbui-body .nav-tabs > li.active:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -4px;
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #428bca;
}

.mbui-body .tabs-menu > li {
    margin-bottom: 1px;
    position: relative;
}

.mbui-body .tabs-menu > li > a {
    display: block;
    background-color: #f7f7f7;
    padding: 10px 15px;
    color: #616f77;
}



.mbui-body .tabs-menu > li > a:hover {
    color: #428bca;
}

.mbui-body .tabs-menu > li.active > a {
    background-color: #428bca;
    color: white;
    font-weight: 700;
}

.mbui-body .tabs-menu > li.active:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #428bca;
    border-top: 6px solid transparent;
    right: -6px;
    top: 15px;
}


/*
|--------------------------------------------------------------------------
| Descriptions MUI-UIK-MDL-01
|--------------------------------------------------------------------------
*/


.modal-content {
    border-radius: 0;
}


/*
|--------------------------------------------------------------------------
| Descriptions MUI-UIK-TLS-01
|--------------------------------------------------------------------------
*/

.mbui-body .tile-widget,
.mbui-body .tile-body,
.mbui-body .tile-footer {
    position: relative;
    padding: 15px;
}

.lined-paper {
    background-color: white;
    background-image: -webkit-linear-gradient(#f6abca 1px, transparent 1px), -webkit-linear-gradient(#f6abca 1px, transparent 1px), -webkit-linear- gradient(#e8e8e8 1px, transparent 1px);
    background-image: -moz-linear-gradient(#f6abca 1px, transparent 1px), -moz-linear-gradient(#f6abca 1px, transparent 1px), -moz-linear-gradient #e8e8e8 1px, transparent 1px;
    background-image: -o-linear-gradient(#f6abca 1px, transparent 1px), -o-linear-gradient(#f6abca 1px, transparent 1px), -o-linear-gradient(#e8e8e8 1px, transparent 1px);
    background-image: linear-gradient(#f6abca 1px, transparent 1px), linear-gradient(#f6abca 1px, transparent 1px), linear-gradient(#e8e8e8 1px, transparent 1px);
    background-size: 1px 1px, 1px 1px, 30px 30px;
    background-repeat: repeat-y, repeat-y, repeat;
    background-position: 62px 0, 66px 0, 0 -1px;
    position: relative;
    padding: 30px 15px 30px 75px !important;
    line-height: 30px;
    font-family: Georgia, serif;
    font-style: italic;
}

.lined-paper p,
.lined-paper ul,
.lined-paper ol {
    margin-bottom: 30px;
}

.text-uppercase {
    text-transform: uppercase;
}

.mbui-header h4.custom-font,
.mbui-inside-header h4.custom-font {
    margin: 0;
    line-height: 26px;
    font-weight:400;
}

.bg-slategray {
    background-color: #3f4e62 !important;
    color: white !important;
}

.bg-tr-black {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: #f2f2f2 !important;
}

.mbui-header.bg-slategray .btn,
.mbui-inside-header.bg-slategray .btn {
    padding: 2px 5px;
    margin-right: -24px;
}


/*
|--------------------------------------------------------------------------
| Counters MUI-UIK-WDG-01
|--------------------------------------------------------------------------
*/

.card-container {
    position: relative;
}

.card-container .card {
    min-height: 110px;
    margin-bottom: 20px;
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
    width: 100%;
    cursor: pointer;
    z-index: 9;
}

.card-container .card .front {
    height: 100%;
    position: relative;
    width: 100%;
    padding: 28px;
    top: 0;
    left: 0;
    z-index: 11;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.text-elg {
     font-size: 32px !important;
     line-height: 34px;
}

.text-strong {
    font-weight: 700;
}

.card-container .card:hover .front {
    z-index: 11;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-container .card:hover .back {
    z-index: 12;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
}

.card-container .card .back {
    position: absolute;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 10;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-179deg);
    transform: rotateY(-179deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

[class*="bg-"]:not(.bg-default):not(.bg-white):not(.bg-tr-white) a:not(.ui-select-choices-row-inner):not(.event-remove) {
    color: rgba(255, 255, 255, 0.7);
}

[class*="bg-"]:not(.bg-default):not(.bg-white):not(.bg-tr-white) a:not(.ui-select-choices-row-inner):not(.event-remove):hover {
    color: rgba(255, 255, 255, 1);
}

.card-container .card .back > .row > div:nth-of-type(2) a {
    background-color: rgba(0, 0, 0, 0.05);
}

.card-container .card .back > .row {
    height: 100%;
    margin: 0;
}

.card-container .card .back > .row > div {
    height: 100%;
    padding: 0;
}

.card-container .card .back > .row > div a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 30px 10px 10px;
}

.card-container .card .back > .row > div a i {
    display: block;
    margin-bottom: 5px;
}

.card-container .card .back > .row > div a:hover {
    text-decoration: none;
    color: #fff !important;
}

.card-container .card .back > .row > div:first-of-type a {
    background-color: rgba(0, 0, 0, 0.1);
}

.card-container .card .back > .row > div:nth-of-type(2) a {
    background-color: rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 420px) {
    .card-container .card .front {
        padding: 28px 10px;
    }
}

.card-container .card .back > .row > div a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 30px 10px 10px;
}

.tile {
    position: relative;
    margin-bottom: 20px;
    color: #616f77;
    background-color: white;
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: opacity 0.25s ease-out;
    -moz-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
}

.tbox {
    display: table;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

.p-30 {
    padding: 30px !important;
}

.bg-amethyst {
    background-color: #cd97eb !important;
    color: white !important;
}

.tbox > .tcol {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
}

.m-0 {
    margin: 0 !important;
}

.text-muted {
    color: #95a2a9;
}

.b-r {
    border-right: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.bg-drank.dk {
    background-color: #8c0666 !important;
}

.thumb {
    width: 60px;
    display: inline-block;
}

.thumb.thumb-sm {
    width: 40px;
}

.thumb.thumb-xl {
    width: 120px;
}

.thumb img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.bg-blue {
    background-color: #418bca !important;
    color: white !important;
}

.text-transparent-white {
    color: rgba(255, 255, 255, 0.5) !important;
}

.bg-blue.dker {
    background-color: #3074ad !important;
}

.p-10 {
    padding: 10px !important;
}

.p-0 {
    padding: 0 !important;
}


/*
|--------------------------------------------------------------------------
| Counters MUI-UIK-WDG-01
|--------------------------------------------------------------------------
*/

.tile .tile-header {
    padding: 8px 15px;
}

.tile .tile-header h1,
.tile .tile-header h2,
.tile .tile-header h3,
.tile .tile-header h4 {
    padding: 0;
    margin: 0;
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.tile .tile-header .mbui-controls > li {
    border-left: none;
}

.tile .tile-header .mbui-controls > li a:hover {
    color:#ffffff;
}

.progress-list .details .title {
    font-family: "Dosis", "Arial", sans-serif;
    line-height: 16px;
}

.mr-5 {
    margin-right: 5px !important;
}

.text-md {
    font-size: 16px !important;
}

.progress-list .details .description {
    text-transform: uppercase;
    font-size: 10px;
    color: #95a2a9;
    line-height: 12px;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.progress.transparent-black {
    background-color: rgba(0, 0, 0, 0.1);
}

.progress.transparent-black .progress-bar {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn.btn-rounded-20 {
    border-radius: 20px;
}

.btn.btn-border {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
}

.btn.btn-border.btn-xs, .btn.btn-border.btn-sm {
    border-width: 1px;
}

.btn.btn-border.btn-white {
    color: #fff;
    border-color: white;
}

.btn.btn-border.btn-white:hover,
.btn.btn-border.btn-white:active,
.btn.btn-border.btn-white.active {
    background-color: rgba(255, 255, 255, 0.1);
}

.text-thin {
    font-weight: 300;
}

.tile-simple .owl-theme .owl-controls {
    margin-top: 0;
}

.tile[class*="bg-"]:not(.bg-default) .owl-theme .owl-controls .owl-page span,
.tile-header[class*="bg-"]:not(.bg-default) .owl-theme .owl-controls .owl-page span,
.tile-widget[class*="bg-"]:not(.bg-default) .owl-theme .owl-controls .owl-page span,
.tile-body[class*="bg-"]:not(.bg-default) .owl-theme .owl-controls .owl-page span,
.tile-footer[class*="bg-"]:not(.bg-default) .owl-theme .owl-controls .owl-page span {
    background: white;
}

.owl-theme .owl-controls .owl-page span {
    width: 10px;
    height: 10px;
    margin: 5px 4px;
    background: #616f77;
    opacity: .3;
}

.owl-theme .owl-controls .owl-page.active span {
    width: 14px;
    height: 14px;
    margin: 3px 4px;
    opacity: .6;
}

.mt-5 {
    margin-top: 5px !important;
}

/*
|--------------------------------------------------------------------------
| Tables & Lists MUI-UIK-WDG-04
|--------------------------------------------------------------------------
*/

.text-lightred {
    color: #e05d6f;
}

.b-solid {
    border-color: #ddd !important;
}

.text-greensea {
    color: #16a085;
}

.text-blue {
    color: #418bca;
}

.tile-body .tab-content > .tab-pane {
    padding: 15px !important;
}

.text-strong {
    font-weight: 700;
}

.form-control.input-unstyled {
    border: 0;
    padding: 0;
    background-color: transparent;
}

.form-control.input-unstyled::-webkit-input-placeholder {
    font-size: 16px;
}

.form-control.input-unstyled::-moz-placeholder {
    font-size: 16px;
}

.form-control.input-unstyled:-moz-placeholder {
    font-size: 16px;
}

.form-control.input-unstyled:-ms-input-placeholder {
    font-size: 16px;
}

.form-control.input-unstyled:focus,
.form-control.input-unstyled:focus:hover {
    border: 0;
}

.widget-todo form .form-control {
    height: 30px;
    margin-bottom: 30px;
}

.btn {
    border-radius: 0;
    outline: 0 !important;
}

.text-lg {
    font-size: 18px !important;
}

.lined-paper p, .lined-paper ul, .lined-paper ol {
    margin-bottom: 30px;
}

.widget-todo .todo-list > li {
    position: relative;
}

.inline {
    display: inline !important;
}

.text-muted {
    color: #95a2a9;
}

.checkbox-custom {
    padding-left: 20px;
    cursor: pointer;
}

.widget-todo .todo-list > li span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.widget-todo .todo-list > li .remove-todo {
    display: none;
}

.widget-todo .todo-list > li:hover .remove-todo {
    display: block;
}

.widget-todo .todo-list > li.completed span {
    text-decoration: line-through;
    color: #bfc7cb;
}

.widget-todo .todo-list > li .checkbox-custom > input {
    display: none;
}

.widget-todo .todo-list > li .checkbox-custom > i {
    margin-left: -74px;
    margin-right: 33px;
    margin-top: -3px;
}

.checkbox-custom input:checked + i {
    border-color: #428bca;
    background-color: #428bca;
}

.checkbox-custom input:checked + i:before {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    background-color: #fff;
}

.checkbox-custom input:checked + span .active {
    display: inherit;
}

.checkbox-custom > i {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 4px;
    margin-left: -20px;
    line-height: 1;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}


.checkbox-custom > i:before {
    position: absolute;
    top: 50%;
    left: -100%;
    width: 0;
    height: 0;
    background-color: transparent;
    content: "";
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 1;
}

.checkbox-custom > span {
    margin-left: -20px;
}

.checkbox-custom > span .active {
    display: none;
}

.checkbox-custom:hover > i,
.checkbox-custom-alt:hover > i{
    border-color: #22beef;
}

.text-danger {
    color: #d9534f;
}

.badge.badge-warning {
    background-color: #f0ad4e;
}

.badge.badge-info {
    background-color: #5bc0de;
}

.badge.badge-success {
    background-color: #5cb85c;
}

.badge.badge-danger {
    background-color: #d9534f;
}

.list-group.no-border .list-group-item {
    border-width: 1px 0;
}

.list-group.no-radius .list-group-item {
    border-radius: 0 !important;
}

/*
|--------------------------------------------------------------------------
| Calendars MUI-UIK-WDG-05
|--------------------------------------------------------------------------
*/

[class*="bg-"]:not(.bg-default):not(.bg-white):not(.bg-tr-white) .dropdown-menu > li > a {
    color: #585858 !important;
}

.tile-header .mbui-controls > li > a:hover {
    color: #616f77;
    text-decoration: none;
}

.tile-header .mbui-controls .mbui-expand {
    display: none;
}

.tile-header.dvd {
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0;
    border-bottom-width: 0px;
}

.tile-header.dvd.dvd-btm {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.widget-calendar .datepicker table thead tr th {
    border-radius: 0;
}

.widget-calendar .datepicker table thead tr:first-child th.prev:hover,
.widget-calendar .datepicker table thead tr:first-child th.next:hover {
    color: white;
    background-color: transparent;
}

.widget-calendar .datepicker table thead tr:first-child th.prev, .widget-calendar .datepicker table thead tr:first-child th.next {
    font-size: 24px;
    padding: 15px 10px;
    color: rgba(255, 255, 255, 0.5);
}

.widget-calendar .datepicker table thead tr:first-child th.picker-switch {
    font-size: 18px;
    font-weight: 300;
}

.widget-calendar .datepicker table thead tr:first-child th.picker-switch:hover {
    background-color: #394759;
}

.widget-calendar .datepicker table thead tr:nth-child(2) th {
    background-color: #354252;
    font-size: 14px;
    line-height: 35px;
}

.widget-calendar .datepicker table tbody tr td:hover {
    background-color: #394759;
}

.widget-calendar .bootstrap-datetimepicker-widget table td.day:hover, .widget-calendar .bootstrap-datetimepicker-widget table td.hour:hover, .widget-calendar .bootstrap-datetimepicker-widget table td.minute:hover, .widget-calendar .bootstrap-datetimepicker-widget table td.second:hover {
    background-color: #394759;
}

.widget-calendar .datepicker table tbody tr td.active {
    background-color: #e05d6f !important;
    border-radius: 50px;
    text-shadow: none;
}

.widget-calendar .picker-switch table td span {
    margin: 2px 0;
}

.widget-calendar .picker-switch table td span:hover {
    background-color: #394759;
}

.widget-calendar .timepicker table td span:hover {
    background-color: #394759;
}

.widget-appointments .b-l {
    border-left: 2px solid rgba(255, 255, 255, 0.2);
}

.b-l {
    border-left: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.widget-appointments .day {
    font-size: 120px;
    line-height: 120px;
    font-weight: 300;
}

.widget-appointments .month {
    font-size: 36px;
    line-height: 56px;
    font-weight: 700;
}

.widget-appointments .owl-carousel .owl-item {
    padding: 0 60px;
}





/*
|--------------------------------------------------------------------------
| Messaging & Chat MUI-UIK-WDG-06
|--------------------------------------------------------------------------
*/

.tile[class*="bg-"]:not(.bg-default) .form-control, .tile-header[class*="bg-"]:not(.bg-default) .form-control, .tile-widget[class*="bg-"]:not(.bg-default) .form-control, .tile-body[class*="bg-"]:not(.bg-default) .form-control, .tile-footer[class*="bg-"]:not(.bg-default) .form-control {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
    color: white;
}

.btn.btn-blue {
    background-color: #418bca;
    color: white;
    border-color: #357ebd;
}

.btn.btn-blue:hover, .btn.btn-blue:active, .btn.btn-blue.active {
    background-color: #357ebd;
    border-color: #3074ad;
    color: white;
}

.btn-ef.btn-ef-7 {
    border-width: 1px;
    border-style: solid;
    padding: 6px 16px 6px 40px;
}

.btn-ef.btn-ef-7.btn-ef-7h span {
    display: inline-block;
    width: 100%;
}

.btn-ef.btn-ef-7.btn-ef-7h i {
    position: absolute;
    left: 0;
    width: 28%;
    font-size: 130%;
    line-height: 1.1;
}

.btn-ef.btn-ef-7.btn-ef-7h.btn-activated i {
    -webkit-animation: scaleUp 0.5s;
    -moz-animation: scaleUp 0.5s;
    animation: scaleUp 0.5s;
}

.tile .tile-header .mbui-controls > li > a:hover {
    color: #616f77;
    text-decoration: none;
}
ul.chats {
    list-style: none;
}

ul.chats > li {
    margin: 20px auto;
    font-size: 12px;
}

ul.chats > li .name,
ul.chats > li .datetime {
    font-size: 14px;
    font-weight: 400;
}

ul.chats > li.in .media-body {
    text-align: left;
    border-left: 3px solid #16a085;
    margin-left: 65px;
    padding-left: 5px;
}

ul.chats > li.in .name {
    color: #16a085;
}

ul.chats > li.out .name {
    color: #e05d6f;
}

ul.chats > li.out .media-body {
    border-right: 3px solid #e05d6f;
    margin-right: 65px;
    text-align: right;
    padding-right: 5px;
}

ul.chats > li .datetime {
    color: #95a2a9;
    font-size: 12px;
}

ul.chats > li .media {
    position: relative;
    z-index: 1;
}

ul.chats > li.in .media:after {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 4px solid transparent;
    border-right: 4px solid #16a085;
    border-top: 4px solid transparent;
    position: absolute;
    top: 18px;
    left: 36px;
    z-index: 1;
}

ul.chats > li.out .media:after {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #e05d6f;
    border-top: 4px solid transparent;
    position: absolute;
    top: 18px;
    right: 36px;
    z-index: 1;
}

.chat-form {
    padding: 10px;
    background-color: #dbe0e2;
    overflow: hidden;
    clear: both;
}

.b-b {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.streamline {
    position: relative;
    z-index: 1;
}

.pb-100{
    padding-bottom:30px !important;
}

.streamline:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #ddd;
    top: 0;
    left: 20px;
    z-index: 1;
}

.streamline:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #ddd;
    bottom: 0;
    left: 15px;
    z-index: 2;
}

.streamline .streamline-post {
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.streamline .streamline-post > aside {
    float: left;
    vertical-align: top;
}

.streamline .streamline-post .post-container,
.streamline .streamline-post .reply-container {
    vertical-align: top;
    padding-left: 55px;
    position: relative;
    z-index: 2;
}

.streamline .streamline-post .post-container:before, .streamline .streamline-post .reply-container:before {
    content: '';
    height: 0;
    width: 0;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #ddd;
    border-top: 7px solid transparent;
    position: absolute;
    top: 13px;
    left: 48px;
}

.streamline .streamline-post .post-container:after, .streamline .streamline-post .reply-container:after {

    content: '';
    height: 0;
    width: 0;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #fff;
    border-top: 6px solid transparent;
    position: absolute;
    top: 14px;
    left: 50px;

}

.streamline .streamline-post .post-replies > li > aside {

    float: left;
    vertical-align: top;

}

.no-bg {
    background-color: transparent !important;
}

.streamline .streamline-form {
    position: absolute;
    width: 100%;
    padding-bottom: 20px;
    z-index: 2;
}

.streamline .streamline-form form {
    padding-left: 55px;
}

.streamline .streamline-form .thumb {
    float: left;
}

.text-active {
    display: none;
}

.active > .text-active {
    display: inline-block;
}

.active > .text-inactive {
    display: none;
}





/*
|--------------------------------------------------------------------------
| Grid MUI-UIK-MSN-01
|--------------------------------------------------------------------------
*/

.masonry-brick.masonry {
    background-color: #e7eaeb !important;
    margin-bottom:15px;
    padding-top:15px;
}

.masonry-brick .tile {
    border-radius: 3px;
    overflow: hidden;
}

.tile.tile-shadow {
    box-shadow: 0 1px 1px rgba(0,0,0,.07);
}

.masonry-brick .brick-meta {
    color: #a3afb7;
    font-size: 12px;
    margin-bottom: 15px;
}

.masonry-brick .brick-meta a {
    color: #a3afb7;
}

.masonry-brick .brick-content {
    color: #76838f;
}

.btn.btn-border {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
}

.masonry-brick .read-more {
    margin-top: 15px;
    padding: 7px 15px;
}

.btn.btn-border.btn-info {
    color: #5bc0de;
}



/*
|--------------------------------------------------------------------------
| Messaging & Chat MUI-UIK-LST-03
|--------------------------------------------------------------------------
*/


.nestable-tree {
    float: none;
    width: auto;
    max-width: none;
}

.dd-item .dd-handle, .dd-dragel .dd-handle {
    background: #f0f9fc;
    border: 1px solid #daf1f8;
    color: #6aa3d5;
    padding: 4px 20px;
    margin-bottom: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0;
}

.dd-item .dd-handle:hover,
.dd-dragel .dd-handle:hover {
    color: #428bca;
    background: #daf1f8;
    border-color: #c5e9f3;
}

.alert {
    padding: 10px 15px;
    border-radius: 0;
    border: 0;
    border-left: 3px solid;
}

.alert.alert-dismissable {
    padding-right: 35px;
}

.alert.alert-warning {
    color: #f0ad4e;
    background-color: #fef9f3;
}

.alert.alert-success {
    color: #5cb85c;
    background-color: #eaf6ea;
}

.alert.alert-cyan {
    color: #22beef;
    background-color: #e0f6fd;
}

.alert.alert-big {
    padding: 15px;
}

.alert.alert-dismissable {
    padding-right: 35px;
}

.alert.alert-lightred {
    color: #e05d6f;
    background-color: #f9dde1;
}



.checkbox-custom, .checkbox-custom-alt {
    padding-left: 20px;
    cursor: pointer;
}

.checkbox-custom input, .checkbox-custom-alt input {
    position: absolute;
    opacity: 0;
}

.checkbox-custom > i, .checkbox-custom-alt > i {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 4px;
    margin-left: -20px;
    line-height: 1;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.checkbox-custom-alt > i {
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 2px solid #dfdfdf;
}

.checkbox-custom.checkbox-custom-sm > i, .checkbox-custom-alt.checkbox-custom-sm > i {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    margin-left: -18px;
}

.checkbox-custom input:checked + i, .checkbox-custom-alt input:checked + i {
    border-color: #428bca;
    background-color: #428bca;
}

.checkbox-custom-alt input:checked + i {
    background-color: transparent;
    border-color: #666;
    color: #666;
}

.checkbox-custom > i::before, .checkbox-custom-alt > i:before {
    position: absolute;
    top: 50%;
    left: -100%;
    width: 0;
    height: 0;
    background-color: transparent;
    content: "";
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 1;
}

.checkbox-custom-alt > i:before {
    content: "\f00c";
    top: 0;
    left: 0;
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 11px;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.checkbox-custom-alt.checkbox-custom-sm > i:before {
    font-size: 9px;
}

.checkbox-custom input:checked + i::before, .checkbox-custom-alt input:checked + i:before {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    background-color: #fff;
}

.checkbox-custom-alt input:checked + i:before {
    top: 2px;
    left: 2px;
    width: auto;
    height: auto;
    background-color: transparent;
    opacity: 1;
}

.checkbox-custom.checkbox-custom-sm input:checked + i:before, .checkbox-custom-alt.checkbox-custom-sm input:checked + i:before {
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
}

.checkbox-custom-alt.checkbox-custom-sm input:checked + i:before {
    font-size: 9px;
    top: 1px;
}

.checkbox-custom input[type="radio"] + i, .checkbox-custom input[type="radio"] + i::before, .checkbox-custom-alt input[type="radio"] + i, .checkbox-custom-alt input[type="radio"] + i::before {
    border-radius: 50%;
}


div.inputTags-list span.inputTags-item {
    background-color: #39a7df;
}

div.inputTags-list span.inputTags-item i {
    font-size: 16px;
}

.mbui-controls > .dropdown .dropdown-menu > li > a:hover {
  color: #4a555b;
}



/*
|--------------------------------------------------------------------------
| Table MUI-TBL-BST-01
|--------------------------------------------------------------------------
*/

select.input-sm {
    height: 30px;
    line-height: 30px;
}

.w-sm, .w-150 {
    width: 150px;
}

.table-responsive {
    overflow-x: visible;
}

.table.table {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.table > thead > tr td, .table > thead > tr th, .table > tbody > tr td, .table > tbody > tr th, .table > tfoot > tr td, .table > tfoot > tr th {
  border-color: #dbe0e2;
}

.table > thead > tr td:last-child, .table > thead > tr th:last-child, .table > tbody > tr td:last-child, .table > tbody > tr th:last-child, .table > tfoot > tr td:last-child, .table > tfoot > tr th:last-child {
  padding-right: 15px;
}

check-toggler, .check-toggler {
  cursor: pointer;
  padding: 2px;
}

check-toggler:before, .check-toggler:before {
  content: "\f00d";
  display: inline-block;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d9534f;
}

check-toggler.checked:before, .check-toggler.checked:before {
  content: "\f00c";
  color: #5cb85c;
}

.tile .tile-header .note {
    display: inline-block;
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #95a2a9;
    font-family: "Dosis", "Arial", sans-serif;
    font-size: 12px;
    margin-left: 5px;
    position: relative;
    top: -2px;
    margin-top: 5px;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #616f77;
    font-size: 12px;
}

table.dataTable.no-footer {
    border-bottom-color: #dbe0e2;
}

/*.dataTables_wrapper .pagination {
    margin: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    margin: 0;
    border: 0;
}*/

/*.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0;
}*/

.dataTables_wrapper .pagination > li > a, .dataTables_wrapper .pagination > li > span {
    padding: 5px 10px;
}

/*.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    border: 0;
}*/

:focus {
    outline: 0 !important;
}

.text-success {
    color: #5cb85c;
}

.text-success {
    color: #3c763d;
}

.text-warning {
    color: #8a6d3b;
}

.text-warning {
    color: #f0ad4e;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
    border-radius: 0;
    border: 0;
    box-shadow: none;
}

.dataTables_wrapper table > tbody .parent td, .dataTables_wrapper table > tbody .parent th {
    background-color: #f5f5f5;
}

.dataTables_wrapper table > tbody .child td, .dataTables_wrapper table > tbody .child th {
    background-color: #fafafa;
}

.dataTables_wrapper table.table-custom > thead td.sorting_asc, .dataTables_wrapper table.table-custom > thead td.sorting_desc, .dataTables_wrapper table.table-custom > thead th.sorting_asc, .dataTables_wrapper table.table-custom > thead th.sorting_desc {
    color: #428bca;
    border-bottom: 3px solid #428bca !important;
    padding-bottom: 4px;
}

.table.table-custom > thead > tr td, .table.table-custom > thead > tr th {
    border-color: #798992;
    border-width: 1px;
    border-top-width: 1px;
    position: relative;
}

table.dataTable thead th.sorting:after, table.dataTable thead th.sorting_asc:after, table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
    top: 16px;

}

.table.table-custom > thead > tr td.sorting:after, .table.table-custom > thead > tr th.sorting:after {
    content: "\f0dc";
    color: #dbe0e2;
}

table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #616f77;
    font-size: 12px;
}

.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    margin-top: 10px;
}




/*
|--------------------------------------------------------------------------
| Table MUI-FRS-FLU-01
|--------------------------------------------------------------------------
*/

.ml-10 {
    margin-left: 10px !important;
}

.checkbox-custom.checkbox-custom-lg > i, .checkbox-custom-alt.checkbox-custom-lg > i {
    width: 30px;
    height: 30px;
}

.checkbox-custom-alt.checkbox-custom-lg input:checked + i:before {
    font-size: 18px;
    top: 4px;
    left: 4px;
}

.fileupload-buttonbar .btn {
    overflow: hidden;
    height: 34px;
}

.fileupload-buttonbar .btn i.glyphicon {
    float: none;
    display: block;
    margin: 0 0 15px 0;
    margin-top: -30px;
    transition: margin-top 0.5s;
}

.fileupload-buttonbar .btn:hover i.glyphicon {
    margin-top: 0;
    transition: margin-top 0.5s;
}




/*
|--------------------------------------------------------------------------
| Table MUI-FRS-IMC-01
|--------------------------------------------------------------------------
*/

.modal-body canvas{
    max-width:100%;
}




/*
|--------------------------------------------------------------------------
| Table MUI-MPS-VMP-01
|--------------------------------------------------------------------------
*/

.jqvmap-zoomin, .jqvmap-zoomout {
    position: absolute;
    left: 10px;
    border-radius: 2px;
    background: #566269;
    padding: 3px 4px;
    color: #fff;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
}

.jqvmap-zoomin {
    top: 10px;
}

.jqvmap-zoomout {
    top: 30px;
}

.jqvmap-region {
    cursor: pointer;
}

.jqvmap-ajax_response {
    width: 100%;
    height: 400px;
}

.jqvmap-label {
    position: absolute;
    display: none;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: smaller;
    padding: 3px 5px;
    z-index: 99;
}




/*
|--------------------------------------------------------------------------
| Radio MUI-FRS-CME-04-04
|--------------------------------------------------------------------------
*/

.btn.btn-radius-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btn.btn-radius-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn.btn-border-radio {
    border-width: 1px;
    border-style: solid;
    border-color: #16bbeb;
}

.btn.btn-radio:hover,
.btn.btn-radio:focus{
    background-color: rgba(22,187,235,0.8);
    color: #ffffff;
}

.btn.btn-radio.active{
    background-color: #16bbeb;
    color: #ffffff;
}

.btn.btn-radio{
    color: #3a5055;
}

.btn.btn-radio.btn-radio-disabled{
    color: #acafb1;
    border-color: #acafb1;
    pointer-events: none;
}




/*
|--------------------------------------------------------------------------
| Radio MUI-FRS-CME-04-05
|--------------------------------------------------------------------------
*/

.mbui-checkbox-custom.second-checkbox > i {
    border: 4px solid #e1e8e8;
}

.mbui-checkbox-custom.second-checkbox:hover > i,
.mbui-checkbox-custom-alt.second-checkbox:hover > i {
  border-color: #16bbeb;
}

.mbui-checkbox-custom.second-checkbox input:checked + i, .mbui-checkbox-custom-alt.second-checkbox input:checked + i {
    border-color: #e1e8e8;
    background-color: #3ab54a;
}

.mbui-checkbox-custom.second-checkbox input:checked + i:before, .mbui-checkbox-custom-alt.second-checkbox input:checked + i:before {
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: #3ab54a;
}



/*
|--------------------------------------------------------------------------
| MUI-FRS-CME-04-06
|--------------------------------------------------------------------------
*/

.btn.btn-image {
    max-width: 140px;
    border-radius: 40px;
    border-color: #e1e8e8;
    -webkit-box-shadow: none;
    box-shadow: none;
    position:relative;
}

.btn.btn-image img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.btn.btn-image:hover img{
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
}

.btn.btn-image.active,
.btn.btn-image:active {
    border-color: #16bbeb;
}

.btn.btn-image img {
    max-width: 100%;
}



/*
|--------------------------------------------------------------------------
| Input Rounded with Icon MUI-FRS-CME-02-13
|--------------------------------------------------------------------------
*/

.btn-radius-right,
.btn-radius-right {
  border-radius:600px;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}

.btn.btn-radius-right,
.btn.btn-radius-right {
  border-radius:600px;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}

.btn-plr20{
  padding:6px 20px !important;
}



/*
|--------------------------------------------------------------------------
| Calendar MUI-CLD-CLD-01-01
|--------------------------------------------------------------------------
*/

.page {
    padding: 20px;
}

.page-full {
    height: 100%;
    padding: 0;
}

.bg-tr-white {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.bg-tr-white.lt {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.p-15 {
    padding: 15px !important;
}

.w-lg, .w-280 {
    width: 280px;
}

.b-0 {
    border: 0 !important;
}

.b-l {
    border-left: 1px solid rgba(0, 0, 0, 0.05) !important;
}



/*
|--------------------------------------------------------------------------
| Panels MUI-***-***-01-01
|--------------------------------------------------------------------------
*/

.mb-10{
    margin-bottom:10px !important;
}

.pl-15{
    padding-left:15px !important;
}

.w-100-pr{
    width:100% !important;
}

.tl{
    text-align: left !important;
}

.btn-group.open .rounded {
    border-radius: 0 !important;
}

.fr{
    float:right !important;
}

.btn-i-a-m {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
}

.dropdown-menu > li > .dropdown-span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu > li > .dropdown-span:focus,
.dropdown-menu > li > .dropdown-span:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.mbui-header.active
.mbui-inside-header.active{
    border-color:#16bbeb;
}

.mbui-header.active,
.mbui-inside-header.active{
    border-color:#16bbeb;
}






/*
|--------------------------------------------------------------------------
| new elements
|--------------------------------------------------------------------------
*/


.b-0{
  border:0 !important;
}

.dropdown.mbui-list.open > a,
.dropdown.mbui-list > a:hover {
    background-color: #16bbeb;
    color: #fff !important;
}

.mbui-filter.active,
.mbui-filter:hover {
    background-color: #f59324;
    color: #fff !important;
}

.mbui-add {
    background-color: #3bb54a;
    color: #fff !important;
}

.bootstrap-select.rounded .btn {
    border-radius: 600px;
}

.bootstrap-select .btn.default:hover{
    outline: none;
    border: 1px solid #22beef !important;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    border: 1px solid #22beef !important;
    background-color: #fff;
}

.btn-rounded{
  border-radius:600px !important;
}

.mb-20 {
  margin-bottom:20px !important;
}

.btn.btn-default.mbui-btn{
    border: 1px solid #f59324;
    background-color: #ffffff;
}

.btn.btn-default.mbui-btn:hover{
    color: #fff;
    background-color: #f59324;
}

/*.dataTable .btn-group, .btn-group-vertical {
    float: right;
}*/

.dataTable .myIcon {
    margin: 5px;
    width: 30px;
    height: 30px;
}

.dataTable .myIcon > .fa {
    font-size: 16px;
    line-height: 30px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
    vertical-align: middle;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-left: 0;
    color: #23527c;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:focus,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #23527c !important;
    background: none;
    background: #eee !important;
    border-color: #ddd;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 1px solid #cacaca;
    background: none;
    background-color: #fff;
    color: #fff !important;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
    pointer-events: none;
}

#basic-usage_length {
    display: none;
}

.fl{
    float:left;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

footer{
  background-color: #f8f8f8;
  padding: 15px 0;
}

footer .copyRights{
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
}


@media screen and (max-width: 992px){
  .collapse.collapse-sm, .collapse.collapse-xs {
      display: block;
  }
}


@media screen and (max-width: 767px){
    table.dataTable tbody th, table.dataTable tbody td {
        border-left: 1px solid #dbe0e2;
        border-right: 1px solid #dbe0e2;
        text-align: center;
    }
}




@media (max-width: 480px) {
  .dataTable .myIcon {
    float: none;
    display: block;
}
}






