﻿@model  Protein.Web.Models.ExportModel.ExportVM


@using (Html.BeginForm("ExportGenerator", "Common", FormMethod.Post, new { id = "ExportModal" }))
{
    <div class="modal" id="modalExport" data-noreset="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Kolonları seç</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                @Html.HiddenFor(m => m.ViewName)
                                @Html.HiddenFor(m => m.WhereCondition)
                                @Html.HiddenFor(m=>m.ExportType)
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-12">
                                                @Html.LabelFor(f => f.IsAllColumns, new { @class = "control-label fl pt-0 mr-10" })
                                                <label class="switch">
                                                    @Html.CheckBoxFor(m => m.IsAllColumns)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-12">
                                                @Html.LabelFor(m=>m.ExportColumns, htmlAttributes:
new { @class = "control-label" })

                                                @Html.ListBoxFor(m => m.selectedExportColumnValue,
new MultiSelectList(Model.ExportColumns, "Name", "DisplayName")
, new { @class = "chosen-select" })
                                            </div>
                                        </div>
                                        <div class="btn-wrapper-center">
                                            <button type="button" id="btnExcel" class="btn btn-success btn-sm mr-10">Excel</button>
                                            <button type="button" disabled id="btnPdf" class="btn btn-success btn-sm mr-10">Pdf</button>
                                            <button type="button" disabled id="btnPrint" class="btn btn-success btn-sm mr-10">Print</button>
                                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">İptal</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    
    $('#IsAllColumns').change(function () {
        if ($(this).is(":checked")) 
            $('#selectedExportColumnValue').prop('disabled', true).trigger("chosen:updated");
        else 
            $('#selectedExportColumnValue').prop('disabled', false).trigger("chosen:updated");
    });
    $("#btnExcel,#btnPdf").click(function () {
        debugger;
        // Tümü seçilmediğinde ve hiçbir kolon eklenmediğinde...
        if ($('#selectedExportColumnValue').val().length == 0 && $('#IsAllColumns:checkbox:checked').length == 0) {
            alert('Kolon seçmediniz!'); return;
        }
       
        var exportType = this.id.replace('btn', '');
        $('#ExportType').val(exportType);
        debugger;
        var _serialize = $('#ExportModal').serialize();
        
        $.ajax({
            url: '/Common/ExportGenerator',
            type: 'POST',
            data: _serialize,
            dataType: 'json',
            success: function (data) {
                $.unblockUI();
                var response = data;
                window.location = '/Common/Download?fileGuid=' + response.FileGuid
                    + '&filename=' + response.FileName;
            },
            beforeSend: function () {
                $.blockUI({ message: $('#domMessage') });
            },
            complete: function () {
                $.unblockUI();
            }
        });
    });

</script>
