﻿@model Protein.Web.Models.HistoryModel.HistoryVM

<!-- Modal -->
<div class="modal" id="frmHistory_Modal" tabindex="-1" role="dialog" aria-labelledby="frmHistory_ModalLabel">
    @Html.HiddenFor(model => model.ViewName)
    @Html.HiddenFor(model => model.HistoryTitle)
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingText" style="color:#ff0000"><b>yükleniyor...</b></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="frmHistory_ModalLabel">@Model.HistoryTitle Tarihçesi </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="historyTable" class="table  table-custom">
                                <thead>
                                    <tr>
                                        <th>Versiyon No</th>
                                        <th>Değişen Alan</th>
                                        <th>Yeni Değer</th>
                                        <th>Eski Değer</th>
                                        <th>Kullanıcı Adı</th>
                                        <th>Değişiklik Tarihi</th>
                                    </tr>
                                </thead>
                                @*<tr>
                                <td>2</td>
                                <td>23/12/2017</td>
                                <td>23/06/2018</td>
                                <td>
                                    <p class="durum color-success">Aktif</p>
                                </td>
                                <td class="islem">
                                    <div class="btn-group fr">
                                        <a href="#" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>
                                    </div>
                                </td>
                            </tr>*@

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(".historyDetail").on("click", function () {
        var prevTable = $("#historyTable").DataTable();
        prevTable.destroy();
        $("#loadingText").show();
        var id = $(this).data("id");
        var title = $(this).data("historytitle");

        $("#frmHistory_Modal").find('h4')[0].innerHTML = $("#frmHistory_Modal").find('h4')[0].innerHTML.split('(')[0];
        $("#frmHistory_Modal").find('h4')[0].innerHTML += "(" + title + ")";

        var params = {
            "Id": id,
            "ViewName": $("#ViewName").val(),
            "HistoryTitle": $("#HistoryTitle").text()
        }

        $.get('/Common/HistoryDetail', params, function (data) {

            var _data = JSON.stringify(data.historyList);
            var json = JSON.parse(_data);

            var table = $("#historyTable").DataTable({
                "data": json,
                "bSort": false,
                "columns": [
                    { "data": "VersionNo" },
                    { "data": "ColumnName" },
                    { "data": "NewValue" },
                    { "data": "OldValue" },
                    { "data": "UserName" },
                    { "data": "ChangesDate" }
                ]
            });
            $("#loadingText").hide();
        });
        //en son
        $("#frmHistory_Modal").modal('toggle');
    });
</script>