﻿@model  Protein.Web.Models.ImportModel.ImportVM

@using (Html.BeginForm("Import_FileUpload", "AsyncJob", FormMethod.Post, new { id = "ImportModal" }))
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ImportObjectType)
    @Html.HiddenFor(model => model.FormId)
    @Html.HiddenFor(model => model.ShowCompanies)
    @Html.HiddenFor(model => model.SelectedCompanyId)
    <div class="modal" id="modalImport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">İçeri alınacak dosyayı seç</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @if (Model.ShowCompanies)
                                {
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <label for="Company" class="control-label"><span class="color-danger">*</span>Sigorta Şirketleri</label>
                                        @*<select tabindex="3" class="chosen-select" id="Companies" name="Companies" title="Seçiniz" required>
                                            <option value=""></option>*@
                                        @Html.DropDownListFor(m => m.SelectedCompany, new SelectList(Model.Companies, "CompanyId", "CompanyName", 0), "Şirket seçiniz", new { @class = "chosen-select" })
                                        @foreach (var Company in Model.Companies)
                                        {
                                            @*<option value="@Company.CompanyId" data-code="@Company.CompanyName">@Company.CompanyName</option>*@
                                        }
                                        @*</select>*@
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="file" class="filestyle" data-buttonText="Dosya seç" data-iconName="fa fa-inbox" id="file" name="file" />
                                </div>
                                <div class="col-md-12">
                                    <div class="btn-wrapper-center">
                                        <button type="submit" id="btnFileUpload" class="btn btn-success btn-sm">Dosyayı Yükle</button>
                                        <button type="button" id="btnCancel" style="display:none;" class="btn btn-danger btn-sm">İptal Et</button>
                                    </div>
                                    <div class="progress progress-striped mt-10">
                                        <div class="progress-bar progress-bar-success">0%</div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group has-feedback">
                                        <div class="col-sm-12">
                                            <div id="result2"></div>
                                            <div id="resultMessage"></div>
                                            <div id="progress"></div>
                                   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="http://malsup.github.io/min/jquery.form.min.js"></script>
<script>
    var intervalId;
    function updateMonitor(status) {
        $("#result2").html(status);
    }

    $("#btnCancel").click(function () {
        var OK = confirm('İptal etmek istediginizden emin misiniz ? ');
        if (OK) {
            updateMonitor("İşlem iptal edildi");
            $('.progress-bar').width('0%')
            $('.progress-bar').html('0%');
            clearInterval(intervalId);
            $('#btnFileUpload').show();
            $('#btnCancel').hide();
        }
    });


    (function () {

        var bar = $('.progress-bar');
        var percent = $('.progress-bar');
        var status = $('#result2');
        var taskId;
        var isSuccess;

        $('#ImportModal').ajaxForm({
            beforeSend: function () {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
                status.html('Dosya yükleniyor...');
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            success: function (data) {
                debugger;
                taskId = data.taskId;
                isSuccess = data.IsSuccess;
                var percentVal = '100%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            complete: function (xhr) {
                debugger;
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
                status.html('Dosya yüklendi. Lütfen bekleyiniz...');
                debugger;

                if (!isSuccess && isSuccess != null) {
                    var resultJson = JSON.parse(xhr.responseText);
            
                    status.html(resultJson.Message);
                    return;
                } else if (isSuccess == null) {
                    return;
                }

                $("#monitors").append($("<p id='" + taskId + "'/>"));
                updateMonitor("Dosyayı içeri alma işlemi başladı. Lütfen bekleyiniz...");
                $("#btnCancel").show();


                @{
                    // TODO Başarısız işlemler silsilesinde kesmesi lazım... (Yusuf)
                    // Count alıp return...
                }


                    intervalId = setInterval(function () {
                        $.post("/AsyncJob/ImportProgress", { id: taskId }, function (data) {
                            var resultJson = JSON.stringify(data);
                            resultJson = JSON.parse(resultJson);

                            if (resultJson.progress >= 100) {
                                debugger;
                                if (resultJson.errorList != null)
                                    updateMonitor("İşlem tamamlandı <br><br><b>HATALAR:</b><br>" + resultJson.errorList);
                                else updateMonitor("İşlem hatasız tamamlandı");
                                bar.width('100%')
                                percent.html('100%');
                                clearInterval(intervalId);
                                $('#btnFileUpload').show();
                                $('#btnCancel').hide();
                                $('#file').val('');

                                SaveData(resultJson.formId);
                            }

                            else {
                                debugger;
                                if (resultJson.ResultMessage != "") {
                                    updateMonitor(resultJson.ResultMessage + " : " + resultJson.progress + "%");
                                } else {
                                    updateMonitor("Dosya içeriye alınıyor. Lütfen bekleyiniz... " + resultJson.progress + "%");
                                }
                                bar.width(resultJson.progress + '%')
                                percent.html(resultJson.progress + '%');
                                $('#btnFileUpload').hide();
                            }
                        });
                    }, 200);

            },
            afterSend: function (data, status) {
                debugger;
            }
        });

    })();
    //$("#btnFileUpload").click(function () {
    //    var _serialize = $("#ImportModal").serialize();
    //    $.ajax({
    //        url: '/Common/Import_FileUpload',
    //        type: 'POST',
    //        data: _serialize,
    //        dataType: 'json',
    //        success: function (data) {
    //            var response = data;
    //            //window.location = '/Common/Download?fileGuid=' + response.FileGuid
    //            //    + '&filename=' + response.FileName;
    //        },
    //        beforeSend: function () {

    //        },
    //        complete: function () {

    //        }
    //    });
    //});
</script>
