﻿@model  Protein.Web.Models.MediaModel.MediaVM



<!-- Modal frmMedia_Modal -->
<div class="modal" id="Media_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmMedia_Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myfrmMedia_Modal">Yeni Dosya Ekle</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    @*Media*@
                    <div class="col-sm-12">
                        <div class="mediaSelect">
                            @using (Html.BeginForm("MediaUploader", "AsyncJob", FormMethod.Post, new { enctype = "multipart/form-data", id = "MediaModal" }))
                            {
                                <fieldset>
                                    @Html.HiddenFor(model => model.BaseId)
                                    @Html.HiddenFor(model => model.MediaId)
                                    @Html.HiddenFor(model => model.MediaObjectType)
                                    @Html.HiddenFor(model => model.ObjectId)
                                    <input type="hidden" class="inputHidden" name="MEDIA_ID" id="MEDIA_ID" value="0" />
                                    <input type="hidden" class="inputHidden" name="PRODUCT_MEDIA_ID" id="PRODUCT_MEDIA_ID" value="0" />
                                    <input type="hidden" class="inputHidden" name="STATUS" id="frmMedia_STATUS" value="0" />
                                    <input type="hidden" class="inputHidden" name="ClientId" id="frmMedia_ClientId" value="0" />

                                    <input type="hidden" name="isOpen" id="frmMedia_isOpen" value="1" />
                                    <div class="form-group has-feedback">
                                        <div class="col-sm-12 mb-20">
                                            @Html.LabelFor(model => model.MediaName, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.MediaName, new { @class = "form-control", required = "required" })
                                            @*<label for="MEDIA_NAME" class="control-label">
                                                <input name="MEDIA_NAME" class="form-control" id="MEDIA_NAME" type="text" required />*@
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12 mb-20">
                                            <label for="MEDIA_PATH" class="control-label"><span class="color-danger">*</span>Dosya</label>
                                            <input type="file" class="filestyle" data-buttonText="Dosya Seç" data-iconName="fa fa-inbox" name="MEDIA_PATH" id="MEDIA_PATH" />
                                        </div>
                                    </div>

                                    <div class="btn-wrapper-center">
                                        @*<button type="button" id="btnfrmMediaSave" onclick="ValidateAndSave('frmMedia', 'hdMedias', 'form3', 'frmMedia_Modal');" class="btn btn-success btn-sm mr-10">Kaydet</button>*@
                                        <button type="submit" id="btnMediaSave" class="btn btn-success btn-sm mr-10">Kaydet</button>
                                    </div>
                                    <div class="progress progress-striped mt-10">
                                        <div class="progress-bar progress-bar-success">0%</div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-12">
                                                <div id="resultMessage"></div>
                                                <div id="progress"></div>
                                                <div id="result" class="asyncResult"></div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://malsup.github.io/min/jquery.form.min.js"></script>
<script>

    (function () {
        debugger;
        var bar = $('.progress-bar');
        var percent = $('.progress-bar');
        var status = $('#result');
       
        $('#MediaModal').ajaxForm({
           
            beforeSend: function () {
                debugger;
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
                status.html('Dosya yükleniyor...');
            },
            uploadProgress: function (event, position, total, percentComplete) {
                debugger;
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                percent.html(percentVal);
            }, success: function (data) {
                debugger;
                taskId = data.taskId;
                isSuccess = data.IsSuccess;
                var percentVal = '100%';
                bar.width(percentVal)
                percent.html(percentVal);
                status.html(data.Message);
            }, complete: function (xhr) {
                debugger;
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
                status.html('Dosya yüklendi. Lütfen bekleyiniz...');

                var resultJson = JSON.parse(xhr.responseText);
                status.html(resultJson.Message);
                if (resultJson.IsSuccess) {
                    FillMedia();
                }
                return;

                //$("#monitors").append($("<p id='" + taskId + "'/>"));
                //updateMonitor("Dosyayı içeri alma işlemi başladı. Lütfen bekleyiniz...");
            },
            afterSend: function (data, status) {
                debugger;
            }
        });

    })();
</script>
