﻿@model Protein.Web.Models.AgencyModel.AgencyVM
@{
    /**/

    Layout = "~/Views/Shared/_ProteinCompanyLayout.cshtml";
}
<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Acente</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle import" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="İçe Aktar">
                                <i class="fa fa-download"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel" data-toggle="modal" data-target="#modalImport" data-tooltip="tooltip" data-placement="bottom" title="" data-original-title="Excel">
                                        <i class="fa fa-file-excel-o"></i> Excel
                                    </a>
                                </li>

                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel" href="~/assets/excelfiles/ACENTESIGORTA.XLSX">
                                        <i class="fa fa-file-excel-o"></i> Örnek Dosya
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="15">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active Enterclick">
                    <form class="form-horizontal" role="form" action="" method="post">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">

                                <div class="col-sm-3">
                                    <label for="agencyCompanyName" class="control-label">Adı</label>
                                    <input name="agencyCompanyName" class="form-control" placeholder="Adı giriniz" type="text" id="agencyCompanyName"  />
                                </div>

                                <div class="col-sm-3">
                                    <label for="agencyCompanyNo" class="control-label">No</label>
                                    <input name="agencyCompanyNo" class="form-control" placeholder="No giriniz" type="number" id="agencyCompanyNo"  />
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group has-feedback">
                                        <div class="col-sm-12">
                                            <label for="agencyCity" class="control-label">İl</label>
                                            <select class="chosen-select" id="agencyCity" title="Seçiniz" name="agencyCity" onchange="FillCounty('agencyCity', 'agencyCounty',0);">
                                                <option value="">SEÇİNİZ</option>
                                                @foreach (var City in ViewBag.CityList)
                                                {
                                                    <option value="@City.Id" >@City.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group has-feedback">
                                        <div class="col-sm-12">
                                            <label for="agencyCounty" class="control-label">İlçe</label>
                                            <select class="chosen-select" id="agencyCounty" title="Seçiniz" name="agencyCounty">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="isFilter" id="isFilter" value="0" />
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button onclick="FilterClean();" type="button" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtreleri Sıfırla</button>

                                    <button onclick="Fclick('tblAgency')" type="button" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtrele</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-md table-custom" id="tblAgency">
                                <thead>
                                    <tr>
                                        <th>Acente No</th>
                                        <th>Acente Adı</th>
                                        <th>İl</th>
                                        <th>İlçe</th>
                                        <th>Aktif / Pasif</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partials/_Import.cshtml", Model.ImportVM)

    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model.ExportVM)
</section>
<script>
var table = null;
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));

        @(Html.Raw(""));

        $('.mbui-list .dropdown-menu li a').click(function () {
            var dataShow = $(this).attr('data-value');
            $('.dataTables_length select option').prop('selected', '');
            $(this).closest('.mbui-form').find('.dataTables_length select option[value="' + dataShow + '"]').prop('selected', 'selected').trigger('change');
        });
        debugger;
        table = $("#tblAgency").DataTable({
            "ajax": {
                "url": "/ProductionCompany/AgencyFilter",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                "data": function (item) {
                    item.agencyCompanyName = $('#agencyCompanyName').val();
                    item.agencyCompanyNo = $('#agencyCompanyNo').val();
                    item.agencyCity = $('#agencyCity').val();
                    item.agencyCounty = $('#agencyCounty').val();
                    item.isFilter = $('#isFilter').val();
                },
                "complete": function (settings, json) {
                    $.unblockUI();
                    var responseText = JSON.parse(settings.responseText);
                    $("#WhereCondition").val(responseText.whereConditition);
                },
            },
            "columns": [
                { "data": "AGENCY_NO", "name": "AGENCY_NO" },
                { "data": "AGENCY_NAME", "name": "AGENCY_NAME" },
                { "data": "CITY_NAME", "name": "CITY_NAME" },
                { "data": "COUNTY_NAME", "name": "COUNTY_NAME" },
                {
                    "data": null,
                    "render": function (data) {
                        if (data != null) {
                            if (data.STATUS == "0") { 
                                return '<p class="durum color-success"><strong>AKTIF</strong></p>';
                            }
                            else if (data.STATUS == "1") {
                                return '<p class="durum color-danger"><strong>PASİF</strong></p>';
                            }
                        }
                    }
                },
                {
                    "data": "AGENCY_ID",
                    "render": function (data) {
                        return '<div class="islem">' +
                            '<div class="btn-group fr">' +
                            '<a target="_blank" href="/ProductionCompany/AgencyForm/Edit/' + data + '" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>' +
                            '</div>';
                    }
                }
           
            ],
            pageLength: 10,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": " ",
                "infoEmpty": " ",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    });

    function Fclick() {
        $('#isFilter').val("1");
        table.ajax.reload();
    }
    debugger;
    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });
    debugger;
    function getEnterFunction() {
        Fclick();
    }
</script>