﻿@model Protein.Web.Models.ImportModel.ImportVM
@{
    Layout = "~/Views/Shared/_ProteinCompanyLayout.cshtml";
}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form mbui-inside-form">
                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Poliçe</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="15">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active Enterclick">
                    <form class="form-horizontal" role="form" action="" method="post">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="product" class="control-label">Ürün</label>
                                    <select name="product" class="chosen-select bg-white" onclick="" title="Seçiniz" id="product">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var Product in ViewBag.productList)
                                        {
                                            <option value="@Product.PRODUCT_ID">@Product.PRODUCT_NAME</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label for="productType" class="control-label">Ürün Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="productType" id="productType" title="Seçiniz">
                                        @foreach (var ProductType in ViewBag.ProductTypeList)
                                        {
                                            <option value="@ProductType.Key">@ProductType.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label for="insurerTCKN" class="control-label">Sigorta Ettiren TCKN/VKN</label>
                                    <input name="insurerTCKN" class="form-control" id="insurerTCKN" type="number" placeholder="Sigorta Ettiren TCKN/VKN giriniz" />
                                </div>

                                <div class="col-sm-3">
                                    <label for="insurerName" class="control-label">Sigorta Ettiren Adı</label>
                                    <input name="insurerName" class="form-control" id="insurerName" type="text" placeholder="Sigorta Ettiren Adı giriniz" />
                                </div>

                                <div class="col-sm-3">
                                    <label for="policyType" class="control-label">Poliçe Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="policyType" id="policyType" title="Seçiniz">
                                        @foreach (var PolicyType in ViewBag.PolicyTypeList)
                                        {
                                            <option value="@PolicyType.Key">@PolicyType.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label for="policyGroup" class="control-label">Poliçe Grubu</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="policyGroup" id="policyGroup" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var PolicyGroup in ViewBag.PolicyGroupList)
                                        {
                                            <option value="@PolicyGroup.Id">@PolicyGroup.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label for="policyNo" class="control-label">Poliçe No</label>
                                    <input name="policyNo" class="form-control" id="policyNo" type="text" placeholder="Poliçe No giriniz" />
                                </div>
                                <div class="col-sm-3">
                                    <label for="policyRenewalNo" class="control-label">Yenileme No</label>
                                    <input name="policyRenewalNo" class="form-control" id="policyRenewalNo" type="number" placeholder="Yenileme No giriniz" />
                                </div>

                                <div class="col-sm-3">
                                    <label for="insuredTCKN" class="control-label">Sigortalı TCKN/VKN/Pasaport No</label>
                                    <input name="insuredTCKN" class="form-control" id="insuredTCKN" type="text" placeholder="Sigortalı TCKN/VKN/Pasaport No giriniz" />
                                </div>

                                <div class="col-sm-3">
                                    <label for="insuredFirstName" class="control-label">Sigortalı Adı</label>
                                    <input name="insuredFirstName" class="form-control" id="insuredFirstName" type="text" placeholder="Sigortalı Adını giriniz" />
                                </div>
                                <div class="col-sm-3">
                                    <label for="insuredLastName" class="control-label">Sigortalı Soyadı</label>
                                    <input name="insuredLastName" class="form-control" id="insuredLastName" type="text" placeholder="Sigortalı Soyadını giriniz" />
                                </div>
                                <div class="col-sm-3">
                                    <label for="policyStartDate" class="control-label">Poliçe Başlangıç Tarih</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control" name="policyStartDate" id="policyStartDate" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="policyStatus" class="control-label">Durumu</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="policyStatus" id="policyStatus" title="Seçiniz">
                                      
                                        @foreach (var PolicyStatus in ViewBag.PolicyStatusList)
                                        {
                                            <option value="@PolicyStatus.Key">@PolicyStatus.Value</option>
                                        }
                                    </select>
                                </div>

                            </div>

                            <input type="hidden" name="isFilter" id="isFilter" value="0" />

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button onclick="FilterClean();" type="button" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtreleri Sıfırla</button>

                                    <button type="button" onclick="Fclick();" class="btn btn-rounded btn-default btn-md fr mbui-btn" id="policyFilter">Filtrele</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-md table-custom" id="tblPolicy">
                                <thead>
                                    <tr>
                                        <th>Sigorta Ettiren</th>
                                        <th>Poliçe Tip</th>
                                        <th>PoliçeNo - YenilemeNo</th>
                                        <th>Ürün Adı</th>
                                        <th>Başlangıç Tarihi - Bitiş Tarihi</th>
                                        <th>Prim</th>
                                        <th>Hasar Durumu</th>
                                        <th>Durum</th>
                                        <th>Detay</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- /.content -->
<script>
    var tblPolicy = null;
    var tblPolicyInsured = null;
    var tblClaimResonHistory = null;
    $(document).ready(function () {
        //LoadClaimReasonHistory();
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));

        $('.mbui-list .dropdown-menu li a').click(function () {
            var dataShow = $(this).attr('data-value');
            $('.dataTables_length select option').prop('selected', '');
            $(this).closest('.mbui-form').find('.dataTables_length select option[value="' + dataShow + '"]').prop('selected', 'selected').trigger('change');
        });

        var input = document.getElementById("policyNo");

        // Execute a function when the user releases a key on the keyboard
        input.addEventListener("keyup", function (event) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Trigger the button element with a click
                document.getElementById("policyFilter").click();
            }
        });

        var input2 = document.getElementById("insurerName");

        // Execute a function when the user releases a key on the keyboard
        input2.addEventListener("keyup", function (event) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Trigger the button element with a click
                document.getElementById("policyFilter").click();
            }
        });

        var input3 = document.getElementById("insurerTCKN");

        // Execute a function when the user releases a key on the keyboard
        input3.addEventListener("keyup", function (event) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Trigger the button element with a click
                document.getElementById("policyFilter").click();
            }
        });

        var type = $('#type').val();
        tblPolicy = $("#tblPolicy").DataTable({
            "ajax": {
                "url": "/ProductionCompany/GetPolicyList",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                "data": function (item) {
                    debugger;
                    item.policyCompany = $('#policyCompany').val();
                    item.insurerName = $('#insurerName').val();
                    item.insurerTCKN = $('#insurerTCKN').val();
                    item.policyGroup = $('#policyGroup').val();
                    item.policyType = $('#policyType').val();
                    item.policyNo = $('#policyNo').val();
                    item.policyStartDate = $('#policyStartDate').val();
                    item.policyRenewalNo = $('#policyRenewalNo').val();
                    item.policyStatus = $('#policyStatus').val();
                    item.product = $('#product').val();
                    item.productType = $('#productType').val();
                    item.insuredFirstName = $('#insuredFirstName').val();
                    item.insuredLastName = $('#insuredLastName').val();
                    item.insuredTCKN = $('#insuredTCKN').val();
                    item.isFilter = $('#isFilter').val();
                },
                "complete": function () {
                    $.unblockUI();
                },
                "error": function () {
                    swal({
                        title: "İşlem Başarısız!",
                        text: "Hem sigortalı hem poliçe bilgileriyle filtreleyerek sorgulama yapamazsınız!",
                        icon: "info"
                    });
                    $.unblockUI();
                }
            },
            "columns": [
                { "data": "INSURER_NAME", "name": "POLICY_ID" },
                { "data": "POLICY_TYPE_TEXT", "name": "POLICY_TYPE_TEXT" },
                { "data": "POLICY_NUMBER_RENEWAL_NO", "name": "POLICY_NUMBER" },
                { "data": "PRODUCT_NAME", "name": "PRODUCT_NAME" },
                { "data": "POLICY_START_DATE", "name": "POLICY_START_DATE" },
                { "data": "PREMIUM", "name": "PREMIUM" },
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        if (data != null) {                                                                   
                            if (data.IS_OPEN_TO_CLAIM == "1") {
                                return '<p class="durum color-success"><strong>AÇIK</strong></p>';
                            }
                            else {
                                return '<p class="durum color-danger"><strong>KAPALI</strong></p>';
                            }
                        }
                    }
                },
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        if (data != null)
                        {
                            if (data.STATUS == "0") { //ProteinEnums.PolicyStatus.TEKLIF
                                return '<p class="durum color-warning"><strong>TEKLİF AŞAMASINDA</strong></p>';
                            }
                            else if (data.STATUS == "1") {//ProteinEnums.PolicyStatus.SILINDI
                                return '<p class="durum color-danger"><strong>SİLİNMİŞ</strong></p>';
                            }
                            else if (data.STATUS == "2") {//ProteinEnums.PolicyStatus.TANZIMLI
                                return '<p class="durum color-success"><strong>TANZİMLİ</strong></p>';
                            }
                            else if (data.STATUS == "3") {//ProteinEnums.PolicyStatus.IPTAL
                                return '<p class="durum color-danger"><strong>İPTAL</strong></p>';
                            }
                            else if (data.STATUS == "4") {//ProteinEnums.PolicyStatus.RET
                                return '<p class="durum color-danger"><strong>RET</strong></p>';
                            }
                            else if (data.STATUS == "5") {//ProteinEnums.PolicyStatus.SURESI_DOLMUS
                                return '<p class="durum color-default"><strong>SÜRESİ DOLMUŞ</strong></p>';
                            }
                        }
                    }
                },

                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        if (data != null) {
                            var returnValue = '<div class="islem"><div class="btn-group fr">';
                            returnValue += '<a target="_blank" href="/ProductionCompany/PolicyForm/View/' + data.POLICY_ID + '" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>';
                            returnValue += '</div></div>';
                            return returnValue;
                        }
                        return '';
                    }
                }

            ],
            pageLength: 10,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [0, "desc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": " ",
                "infoEmpty": " ",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    });
    function GetValueOfEnum(typeName, ordinal) {
        if (ordinal != null) {
            if (typeName == "ClaimReason") {
                var ClaimReasonTypeList = @Html.Raw(Json.Encode(@ViewBag.ClaimReasonTypeList));
                return ClaimReasonTypeList == null ? "-" : ClaimReasonTypeList[ordinal];
            }
        }
        else {
            return "-";
        }
    }

    function GetInsuredbyPolicy(policyId) {
        debugger;
        $('#hdPolicyIdforInsured').val(policyId);
        tblPolicyInsured.ajax.reload();
    }

    function Fclick(table) {
        $('#isFilter').val("1");
        tblPolicy.ajax.reload();
    }

    function SetStatus(status, id) {
        $('#STATUS').val(status);
        $('#STATUSForCancel').val(status);
        $('#STATUSForSAGMER').val(status);
        $('#hdPolicyId').val(id);
        $('#hdPolicyIdForCancel').val(id);
        $('#hdPolicyIdForSAGMER').val(id);

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/ProductionCompany/GetEndEndorsementNo?PolicyId=" + id,
            cache: false,
            contentType: false,
            processData: false,
            data: null,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            success: function (data) {
                $.unblockUI();
                debugger;
                if (typeof data != "undefined" && data != "" && data != "[]") {
                    var dt = $.parseJSON(data);
                    var responseData = dt[0];
                    $('#NO_CANCEL').val(responseData.NO);
                }
                $('#' + modal).modal('toggle');

            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
                $.unblockUI();
            }
        });
    }

    function SetPolicyId(id, modal) {
        $('#hdPolicyId').val(id);
        $('#hdPolicyIdForCancel').val(id);
        $('#hdPolicyIdForSAGMER').val(id);
        $('#STATUS').val("0");
        $('#STATUSForCancel').val("3");
        $('#STATUSForSAGMER').val("2");

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/ProductionCompany/GetEndEndorsementNo?PolicyId="+id,
            cache: false,
            contentType: false,
            processData: false,
            data: null,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            success: function (data) {
                $.unblockUI();
                debugger;
                if (typeof data != "undefined" && data != "" && data != "[]") {
                    var dt = $.parseJSON(data);
                    var responseData = dt[0];
                    $('#NO').val(responseData.NO);
                }
                $('#' + modal).modal('toggle');

            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
                $.unblockUI();
            }
        });
    }

    function SetClaimStatus(id,name) {
        debugger;
        if (name=="Policy") {
            $('#hdPolicyIdForClaimOpen').val(id);
            $('#hdPolicyIdForClaimClose').val(id);
        }
        else {
            $('#hdInsuredIdForClaimOpen').val(id);
            $('#hdInsuredIdForClaimClose').val(id);
        }
    }

    function GetClaimReasonHistory(name,id) {
        debugger;
        if (name=="Policy") {
            $('#hdPolicyId_frmClaimReasonHistory').val(id);
            $('#hdInsuredId_frmClaimReasonHistory').val("0");
        }
        else {
            $('#hdInsuredId_frmClaimReasonHistory').val(id);
            $('#hdPolicyId_frmClaimReasonHistory').val("0");
        }
        tblClaimResonHistory.ajax.reload();
        $('#frmClaimReasonHistory_Modal').modal("toggle");
    }

    debugger;
    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });
    debugger;
    function getEnterFunction() {
        Fclick();
    }
</script>