﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
@RenderPage("~/Views/Shared/Header.cshtml")

<div id="wrapper">

    @RenderPage("~/Views/Shared/LeftSidebar.cshtml")

    <div id="content-wrapper">
        <form action="/Bill/SaveBillList" method="post" id="frmBillList">
            <div class="container-fluid">
                <!-- Icon Cards-->
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card text-white bg-purple o-hidden h-100">
                                <div class="card-body-two">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h5>Fatura Bilgi Girişi</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" value="@ViewBag.ClaimIdList" name="ClaimIdList" id="ClaimIdList" />

                <!-- DataTables Example -->
                <div class="card mb-3">
                    <div class="col-lg-12">
                        <button class="col-lg-2 form-control btn btn-info text-white" type="button" onclick="SaveBillList();">
                            <i class="fas fa-plus"></i> İcmal Oluştur
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" width="100%" cellspacing="0" id="tblClaimList">
                                <thead>
                                    <tr>
                                        <th>Sıra No</th>
                                        <th>Fatura No</th>
                                        <th>Fatura Tarihi</th>
                                        <th>Provizyon No</th>
                                        <th>Provizyon Tipi</th>
                                        <th>Medula No</th>
                                        <th>Provizyon Tarihi</th>
                                        <th>Provizyon Durum</th>
                                        <th>Sigorta Şirketi</th>
                                        <th>Adı Soyadı</th>
                                        <th>TCKN</th>
                                        <th>Anlaşmalı Tutar</th>
                                        <th>Onaylanan Tutar</th>
                                        <th>Sigortalı Payı</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <button class="col-lg-2 form-control btn btn-info text-white" type="button" onclick="SaveBillList();">
                            <i class="fas fa-plus"></i> İcmal Oluştur
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </form>
        @RenderPage("~/Views/Shared/Footer.cshtml")

    </div>
    <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->

@RenderBody()

<script>
    var no = 0;
    $(document).ready(function () {
        $("#tblClaimList").DataTable({
            "ajax": {
                "url": "/Bill/GetClaimBill",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                "data": function (a) {
                    a.ClaimIdList = $('#ClaimIdList').val();
                    return a;
                },
                "complete": function () {
                    $.unblockUI();
                },
                "error": function () {
                    $.unblockUI();
                }
            },
            "columns": [
                {
                    "data": null,
                    "render": function (data) {
                        no++;
                        return no;
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        return '<div class="col-sm-12">' +
                            '<div class="form-group">' +
                            '<input name="billNo_' + data.CLAIM_ID + '" class="form-control" required type="text"/>' +
                            '</div>' +
                            '</div>';
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        debugger;
                        return '<div class="col-sm-12">' +
                            '<div class="form-group">' +
                            '<input type="date" class="form-control" name="billDate_' + data.CLAIM_ID + '" required  />' +
                            '</div>' +
                            '</div>';
                    }
                },
                { "data": "CLAIM_ID", name: "CLAIM_ID" },
                {
                    "data": "CLAIM_TYPE", name: "CLAIM_TYPE",
                    "render": function (data) {
                        return '<p><strong>' + GetValueOfEnum('ClaimType', data) + '</strong></p>';
                    }
                },
                { "data": "MEDULA_NO", name: "MEDULA_NO" },
                {
                    "data": "CLAIM_DATE", name: "CLAIM_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        if (data != null) {
                            if (data.STATUS == "0") { //ProteinEnums.ClaimStatus.GIRIS
                                return '<p class="warning-bold"><strong>GİRİŞ</strong></p>';
                            }
                            else if (data.STATUS == "1") {//ProteinEnums.ClaimStatus.SILINDI
                                return '<p class="error-bold"><strong>SİLİNMİŞ</strong></p>';
                            }
                            else if (data.STATUS == "2") {//ProteinEnums.ClaimStatus.PROVIZYON
                                return '<p class="success-bold"><strong>PROVİZYON</strong></p>';
                            }
                            else if (data.STATUS == "3") {//ProteinEnums.ClaimStatus.BEKLEME
                                return '<p class="warning-bold"><strong>BEKLEME</strong></p>';
                            }
                            else if (data.STATUS == "4") {//ProteinEnums.ClaimStatus.RET
                                return '<p class="error-bold"><strong>RET</strong></p>';
                            }
                            else if (data.STATUS == "5") {//ProteinEnums.ClaimStatus.ÖDENECEK
                                return '<p class="warning-bold"><strong>ÖDENECEK</strong></p>';
                            }
                            else if (data.STATUS == "6") {//ProteinEnums.ClaimStatus.İPTAL
                                return '<p class="error-bold"><strong>İPTAL</strong></p>';
                            }
                            else if (data.STATUS == "7") {//ProteinEnums.ClaimStatus.ÖDENDİ
                                return '<p class="success-bold"><strong>ÖDENDİ</strong></p>';
                            }
                            else if (data.STATUS == "8") {//ProteinEnums.ClaimStatus.BEKLEME
                                return '<p class="warning-bold"><strong>BEKLEME</strong></p>';
                            }
                        }
                    }
                },
                { "data": "COMPANY_NAME", name: "COMPANY_NAME" },
                {
                    "data": null,
                    "render": function (data) {
                        return (data.FIRST_NAME == null ? "-" : data.FIRST_NAME) + " " + (data.LAST_NAME == null ? "-" : data.LAST_NAME);
                    }
                },
                { "data": "IDENTITY_NO", name: "IDENTITY_NO" },
                { "data": "REQUESTED", name: "REQUESTED" },
                { "data": "PAID", name: "PAID" },
                {
                    "data": null,
                    "render": function (data) {
                        var insuredPaid = data.REQUESTED - data.PAID;
                        return parseFloat(Math.round(insuredPaid * 100) / 100).toFixed(2);
                    }
                }
            ],
            "ordering": false,
            pageLength: -1,
            "bPaginate": false,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    });

    function GetValueOfEnum(typeName, ordinal) {
        if (ordinal != null) {
            if (typeName == "ClaimType") {
                var ClaimTypeList = @Html.Raw(Json.Encode(@ViewBag.ClaimTypeList));
                return ClaimTypeList == null ? "-" : ClaimTypeList[ordinal];
            }
        }
        else {
            return "-";
        }
    }

    function SaveBillList() {
        var form = $('#frmBillList');
        form.validate();

        if (form.valid()) {
            var formData = new FormData(form[0]);
            var action = form[0].action;
            debugger;
            $.ajax({
                type: form[0].method,
                contentType: "application/json; charset=utf-8",
                url: action,
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    var responseData = $.parseJSON(data);
                    if (responseData.ResultCode == "100") {
                        window.open("/Bill/Index?payrollId=" + responseData.Data.payrollId, "_self");
                    } else {
                        getErrorMessage("error", responseData.ResultMessage);
                    }
                    $.unblockUI();
                },
                error: function (xhr, err) {
                    $.unblockUI();
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                }
            });
        } else {
            swal({
                title: "İşlem Başarısız!",
                text: "Lütfen Zorunlu Alanları Doldurunuz!",
                icon: "info"
            });
        }
    }
</script>
