﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
@RenderPage("~/Views/Shared/Header.cshtml")

<div id="wrapper">

    @RenderPage("~/Views/Shared/LeftSidebar.cshtml")

    <div id="content-wrapper">
        <form action="/Bill/SaveBillList" method="post" id="frmBillList">
            <div class="container-fluid">
                <!-- Icon Cards-->
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card text-white bg-purple o-hidden h-100">
                                <div class="card-body-two">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h5>İcmal Bilgisi</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <label style="padding-left:10px"><strong>İcmal No</strong>     :  @ViewBag.PayrollId</label><br>
                <label style="padding-left:10px"><strong>İcmal Tarihi</strong> :  @ViewBag.PayrollDate</label><br>
                <label style="padding-left:10px"><strong>İcmal Durum</strong>  :  @ViewBag.PayrollStatus</label><br>

                <input type="hidden" value="@ViewBag.BillList" name="hdBillList" id="hdBillList" />

                <!-- DataTables Example -->
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" width="100%" cellspacing="0" id="tblBillList">
                                <thead>
                                    <tr>
                                        <th>Sıra No</th>
                                        <th>Fatura No</th>
                                        <th>Fatura Tarihi</th>
                                        <th>Provizyon No</th>
                                        <th>Provizyon Tipi</th>
                                        <th>Medula No</th>
                                        <th>Provizyon Tarihi</th>
                                        <th>Provizyon Durum</th>
                                        <th>Sigorta Şirketi</th>
                                        <th>Adı Soyadı</th>
                                        <th>TCKN</th>
                                        <th>Anlaşmalı Tutar</th>
                                        <th>Onaylanan Tutar</th>
                                        <th>Sigortalı Payı</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <a onclick="GetPayrollReport(@ViewBag.PayrollId)" title="İcmal Basım"  class="btn btn-danger text-white " href="#">İcmal Basım</a>
                </div>

            </div>
            <!-- /.container-fluid -->
        </form>
        @RenderPage("~/Views/Shared/Footer.cshtml")

    </div>
    <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->

@RenderBody()

<script>
    var no = 0;
    $(document).ready(function () {
        debugger;
        LoadBill();
    });

    function LoadBill() {
        var tbl = "tblBillList";
        var hdi = "hdBillList";

        var data = JSON.parse($('#' + hdi).val());
        debugger;
        tblBillList = $('#' + tbl).DataTable({
            pageLength: 15,
            language: {
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": " ",
                "info": " ",
                "search": "Arama: ",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            },
            "aLengthMenu": [[10, 15, 25, 50, 75, 100, -1], [10, 15, 25, 50, 75, 100, "Tümü"]],
            "ordering": false,
            "data": data,
            "columns": [
                { "data": "NO" },
                { "data": "BILL_NO" },
                { "data": "BILL_DATE" },
                { "data": "CLAIM_ID" },
                { "data": "CLAIM_TYPE" },
                { "data": "MEDULA_NO" },
                { "data": "CLAIM_DATE" },
                { "data": "STATUS_TEXT" },
                { "data": "COMPANY_NAME" },
                { "data": "INSURED_NAME" },
                { "data": "IDENTITY_NO" },
                { "data": "REQUESTED" },
                { "data": "PAID" },
                { "data": "INSURED_AMOUNT" },
            ]
        });
        RefreshTable('tblBillList', data);
    }

    function GetValueOfEnum(typeName, ordinal) {
        if (ordinal != null) {
            if (typeName == "ClaimType") {
                var ClaimTypeList = @Html.Raw(Json.Encode(@ViewBag.ClaimTypeList));
                return ClaimTypeList == null ? "-" : ClaimTypeList[ordinal];
            }
        }
        else {
            return "-";
        }
    }

    function SaveBillList() {
        var form = $('#frmBillList');
        form.validate();

        if (form.valid()) {
            var formData = new FormData(form[0]);
            var action = form[0].action;
            debugger;
            $.ajax({
                type: form[0].method,
                contentType: "application/json; charset=utf-8",
                url: action,
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    var responseData = $.parseJSON(data);
                    if (responseData.ResultCode == "100") {
                        window.open("/Payroll/Index");
                    } else {
                        getErrorMessage("error", responseData.ResultMessage);
                    }
                    $.unblockUI();
                },
                error: function (xhr, err) {
                    $.unblockUI();
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                }
            });
        } else {
            swal({
                title: "İşlem Başarısız!",
                text: "Lütfen Zorunlu Alanları Doldurunuz!",
                icon: "info"
            });
        }
    }

    function GetPayrollReport(payrollId) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '/Bill/GetPayrollReport?payrollId=' + payrollId,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            success: function (responseData) {
                $.unblockUI();

                var response = responseData;
                if (response.Code == "100") {
                    $.ajax({
                        url: '/Common/PrintGenerator?url=' + response.FileUrl + '&filename=' + response.FileName,
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {

                            var response = data;
                            if (typeof (data) != "undefined") {
                                window.location = '/Common/Download?FileGuid=' + response.FileUrl
                                    + '&filename=' + response.FileName;
                            }
                        },
                    });
                }
                else {
                    swal({
                        title: "Hata!",
                        text: responseData.Message,
                        icon: "warning"
                    });
                }
            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
                $.unblockUI();
            }
        });
    }
</script>
