﻿@{
    // ViewBag.assemblyVersion = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
    ViewBag.assemblyVersion = "1.9.1";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Protein | Dashboard</title>
    @*Tell the browser to be responsive to screen width*@
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/png" href="/assets/images/dark-favicon.png">
    @*Bootstrap 3.3.7*@
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css?v=3.3.7">
    @*Font Awesome*@
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css?v=4.7.0">
    @*Ionicons*@
    <link rel="stylesheet" href="/assets/css/ionicons.min.css?v=2.0.0">
    @*Theme style*@
    <link rel="stylesheet" href="/assets/css/moorAdmin.min.css?v=1.0.0">
    @*Theme skin*@
    <link rel="stylesheet" href="/assets/css/skin-blue.css?v=1.0.0">
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css?v=1.12.4">
    <link rel="stylesheet" href="/assets/css/jquery.dataTables.min.css?v=@(ViewBag.assemblyVersion)">
    <link rel="stylesheet" href="/assets/css/datatables.bootstrap.min.css?v=0.2.1.">
    <link rel="stylesheet" href="/assets/css/dataTables.colReorder.min.css?v=@(ViewBag.assemblyVersion)">
    <link rel="stylesheet" href="/assets/css/dataTables.responsive.css?v=@(ViewBag.assemblyVersion)">
    <link rel="stylesheet" href="/assets/css/dataTables.colVis.min.css?v=@(ViewBag.assemblyVersion)">
    <link rel="stylesheet" href="/assets/css/dataTables.tableTools.min.css?v=@(ViewBag.assemblyVersion)">
    <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css?v=4.7.14">
    <link rel="stylesheet" href="/assets/css/jquery.bootstrap-touchspin.min.css?v=@(ViewBag.assemblyVersion)">
    <link rel="stylesheet" href="/assets/css/chosen.css?v=@(ViewBag.assemblyVersion)">
    <link rel="stylesheet" href="/assets/css/sweetalert.css?v=@(ViewBag.assemblyVersion)">
    @*Moor Elements*@
    <link rel="stylesheet" href="/assets/css/moor-elements.css?v=1.0.0">
    @*Theme custom style*@
    <link rel="stylesheet" href="/assets/css/main.css?v=1.0.0">

    @*jQuery 3*@
    <script src="/assets/js/jquery.min.js?v=1.12.4"></script>
    @*jQuery UI 1.11.4*@
    <script src="/assets/js/jquery-ui.min.js?v=1.11.4"></script>


    @*HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries*@
    @*WARNING: Respond.js doesn't work if you view the page via file://*@
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js?v=3.7.3"></script>
    <script src="/assets/js/respond.min.js?v=1.4.2"></script>
    <![endif]-->
    s
    <script src="/assets/js/modernizr-2.8.3-respond-1.4.2.min.js?v=@(ViewBag.assemblyVersion)"></script>
    @*Google Font*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="loading" id="domMessage" style="display:none; position:absolute;">
        <div class="loadingCenter loadingContainer">
            <div class="loadContainer">
                <div class="loader2"></div>
                <div class="loader3"></div>
                <div class="loader4"></div>
            </div>
            <span> Yükleniyor...</span>
        </div>
    </div>
    <div class="wrapper">

        @RenderPage("~/Views/Shared/Header.cshtml")

        @RenderPage("~/Views/Shared/LeftSidebar.cshtml")

        <div class="content-wrapper">
            @RenderBody()
        </div>

        @RenderPage("~/Views/Shared/Footer.cshtml")

    </div>

    @*Bootstrap 3.3.7*@
    <script src="/assets/js/bootstrap.min.js?v=3.3.7"></script>
    @*Moor Admin App*@
    <script src="/assets/js/moorAdmin.min.js?v=1.0.0"></script>
    <script src="/assets/js/screenfull.min.js?v=2.0.0"></script>
    <script src="/assets/js/jquery.bestupper.min.js?v=2.0.0"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=1.12.4"></script>
    <script src="/assets/js/jquery.dataTables.min.js?v=1.10.7"></script>
    <script src="/assets/js/dataTables.buttons.min.js?v=1.4.2"></script>
    <script src="/assets/js/buttons.flash.min.js?v=1.5.1"></script>
    <script src="/assets/js/jszip.min.js?=v3.1.3"></script>
    <script src="/assets/js/pdfmake.min.js?v=0.1.32"></script>
    <script src="/assets/js/vfs_fonts.js?v=0.1.32"></script>
    <script src="/assets/js/buttons.html5.min.js?v=1.5.1"></script>
    <script src="/assets//js/buttons.print.min.js?v=1.5.1"></script>
    <script src="/assets/js/dataTables.colReorder.min.js?v=1.1.3"></script>
    <script src="/assets/js/dataTables.responsive.min.js?v=1.0.6"></script>
    <script src="/assets/js/dataTables.colVis.min.js?v=1.1.2"></script>
    <script src="/assets/js/dataTables.tableTools.min.js?v=2.2.4"></script>
    <script src="/assets/js/dataTables.bootstrap.js?v=3.3.7"></script>
    <script src="/assets/js/dataTables.treeGrid.js"></script>
    <script src="/assets/js/validator.min.js?v=0.11.9"></script>
    <script src="/assets/js/moment.min.js?v=2.9.0"></script>
    <script src="/assets/js/tr.js?v=1.0.0"></script>
    <script src="/assets/js/bootstrap-datetimepicker.min.js?v=4.7.14"></script>
    <script src="/assets/js/jquery.bootstrap-touchspin.min.js?v=3.0.1"></script>
    <script src="/assets/js/bootstrap-filestyle.min.js?v=1.0.0"></script>
    <script src="/assets/js/chosen.jquery.min.js?v=1.4.2"></script>
    <script src="/assets/js/jquery.maskedinput.min.js?v=1.3.1"></script>
    <script src="~/assets/js/jquery.inputmask.js"></script>
    <script src="/assets/js/sweetalert.min.js?v=@(ViewBag.assemblyVersion)"></script>
    <script src="/assets/js/jquery.blockUI.js?v=2.70.0"></script>
    <script src="/assets/js/jquery.validate.min.js?v=1.16.0"></script>
    <script src="/assets/js/additional-methods.min.js?v=1.16.0"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @*custom js files*@
    <script src="/assets/js/main.js?v=@(ViewBag.assemblyVersion)"></script>
    <script src="/assets/js/form.js?v=@(ViewBag.assemblyVersion)"></script>

</body>
</html>


