﻿<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> @(ViewBag.assemblyVersion)
    </div>
    <strong>Copyright &copy; @(DateTime.Now.Year.ToString()) <a href="http://www.mooryazilim.com">Moor Yazılım</a>.</strong> All rights reserved.
</footer>