body{
	background-color: #3c8dbc;
}

.mbui-form{
	position: relative;
	color: #616f77;
	margin-top: 100px;
	background: #fff;
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition: opacity 0.25s ease-out;
	-moz-transition: opacity 0.25s ease-out;
	transition: opacity 0.25s ease-out;
	display:inline-block;
	width: 100%;
}

.mbui-form.refreshing {
    filter: alpha(opacity=30);
    opacity: 0.3;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mbui-header{
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	padding: 8px 15px;
	position: relative;
}

.mbui-header img {
    display: table;
    margin: 0 auto;
}

.mbui-header h3{
	font-weight: 400;
	display: inline-block;
	margin: 0;
}

.mbui-body{
	padding: 10px 30px 15px;
	position: relative;
}

.control-label{
	font-weight: 400;
}

.form-control {
  color: #616f77;
  border: 1px solid #dbe0e2;
  border-radius: 0;
  -webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
	box-shadow: none;
  outline: 0;
}

.form-control:not(select) {
  -webkit-appearance: none !important;
}

.form-control::-webkit-input-placeholder {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #bfc7cb;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}

.form-control::-moz-placeholder {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #bfc7cb;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}

.form-control:-moz-placeholder {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #bfc7cb;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}

.form-control:-ms-input-placeholder {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #bfc7cb;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}

.form-control:hover:not(:disabled) {
  border-color: #b1bac0;
}

.form-control:focus,
.form-control:focus:hover {
    outline: none;
    border: 1px solid #22beef;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mbui-help {
    margin-bottom: 0 !important;
}
.help-block {
    font-size: 12px;
    color: #95a2a9;
}

.mbui-checkbox-custom {
    padding-left: 20px;
    cursor: pointer;
    font-weight: 400;
    line-height: 27px;
}

.mbui-checkbox-custom input[type="checkbox"] {
    position: absolute;
	margin-top: 4px \9;
	margin-left: -20px;
}

.mbui-checkbox-custom i {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 4px;
    margin-left: -20px;
    line-height: 1;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.form-group {
    margin-bottom: 0;
}

.mbui-checkbox-custom i:before {
    position: absolute;
    top: 50%;
    left: -100%;
    width: 0;
    height: 0;
    background-color: transparent;
    content: "";
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 1;
}

.mbui-checkbox-custom input:checked + i {
    border-color: #428bca;
    background-color: #428bca;
}

.mbui-checkbox-custom input:checked + i:before {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    background-color: #fff;
}

.form-horizontal .checkbox, .form-horizontal .radio {
    display: inline-block;
}

.form-horizontal .checkbox + a, .form-horizontal .radio + a {
    float: right;
    line-height: 27px;
    padding-top: 7px;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}

footer p {
    color:#fff;
    line-height:50px;
	text-align:center;
}

footer p a{
    color:#fff;
	text-decoration:underline;
}


@media screen and (max-width:767px){
	footer {
		position: relative;
	}
}