p.tckn, p.vkn, p.pasaportNo {
    margin: 0 0 0px;
}

.content {
    margin-top: 50px;
    position: relative;
}

.dataTables_scroll .dataTables_scrollBody table-lg thead {
    display: none !important;
}

/* Loading */

.blockUI.blockOverlay {
    z-index: 2000 !important;
}

.blockUI.blockMsg.blockPage {
    z-index: 2001 !important;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background: rgba(255,255,255,.95);
}

.loadingCenter {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loadContainer {
    height: 35px;
    width: 35px;
    float: left;
}

.loadingContainer {
    height: 35px;
    width: 250px;
}

.loadingContainer span {
    font-size: 35px;
    font-style: oblique;
    color: #222d32;
    padding-left: 16px;
    text-shadow: 0px 0px 4px #9CF;
    -webkit-animation: loadingText .4s ease-in-out infinite alternate;
    animation: loadingText .4s ease-in-out infinite alternate;
    line-height: 1;
    z-index:100;
}

.loader2 {
    border-top: 3px solid #3c8dbc;
    border-bottom: 3px solid #3c8dbc;
    border-radius: 50%;
    height: 14px;
    width: 15px;
    margin: 10px;
    position: absolute;
    -webkit-animation: loading 1.2s infinite linear;
    animation: loading 1.2s infinite linear;
}

.loader3 {
    border-left: 3px solid #3c8dbc;
    border-right: 3px solid #3c8dbc;
    border-radius: 50%;
    height: 24px;
    width: 25px;
    margin: 8px 2px;
    position: absolute;
    -webkit-animation: loading 1s infinite linear;
    animation: loading 1s infinite linear;
}

.loader4 {
    border-top: 3px solid #3c8dbc;
    border-bottom: 3px solid #3c8dbc;
    border-radius: 50%;
    height: 34px;
    width: 35px;
    position: absolute;
    -webkit-animation: loading .8s infinite linear;
    animation: loading .8s infinite linear;
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes loadingText {
    to {
        text-shadow: 0 0 2px #9CF, 0 0 3px #9CF, 0 0 4px #69C, 0 0 5px #69C;
    }
}

@keyframes loadingText {
    to {
        text-shadow: 0 0 2px #9CF, 0 0 3px #9CF, 0 0 4px #69C, 0 0 5px #69C;
    }
}

/* Loading Finish */

.navbar.navbar-fixed-top.bg-white {
    margin-left: 230px;
}

.btn-label {
    margin-bottom: 0;
}

.center {
    margin: 0 auto !important;
}

.vertical-tab-content h5 {
    color: #333;
    margin-bottom: 20px;
    padding-left: 10px;
    background: #fff;
    line-height: 43px;
    margin-top: 0;
    text-align: left;
    text-transform: uppercase;
}

.form-control.touchspin {
    text-align: left;
}

.islem p {
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 0;
}

.islem .zarf,
.islem.zarf-ok .zarf-onay p .zarf-islem {
    display: none;
    position: relative;
}

.islem.zarf-ok .zarf-onay p {
    border-radius: 3px;
    border: 1px solid #000;
}

.islem.zarf-no .zarf-ret p {
    background: #d9534f;
    color: #fff;
    border-radius: 3px;
}

.islem.zarf-ok .zarf-onay p .zarf-islem {
    position: absolute;
    top: 1px;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    width: 100%;
}

.islem p .zarf-islem .myIcon {
    margin: 0 3px 3px 0;
    width: 28px;
    height: 28px;
}

    .islem p .zarf-islem .myIcon > .fa {
        line-height: 28px;
    }

.islem.zarf-ok .zarf-onay p:hover {
    background: transparent;
    color: transparent;
    border-color: transparent;
}

    .islem.zarf-ok .zarf-onay p:hover .zarf-islem {
        display: block;
    }

.islem.zarf-null .zarf-check,
.islem.zarf-ok .zarf-onay,
.islem.zarf-no .zarf-ret,
.islem.zarf-default .zarf-finish {
    display: block;
}

    .islem.zarf-default .zarf-finish p {
        background: #5cb85c;
        color: #fff;
        border-radius: 3px;
    }

        .islem.zarf-default .zarf-finish p .zarf-islem {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: none;
            width: 100%;
        }

        .islem.zarf-default .zarf-finish p .zarf-islem {
            display: none;
        }

        .islem.zarf-default .zarf-finish p:hover {
            background: transparent;
        }

            .islem.zarf-default .zarf-finish p:hover .zarf-islem {
                display: block;
            }

.mbui-body .mbui-tabs-container .nav-tabs > li.active > a,
.mbui-body .mbui-tabs-container .nav-tabs > li.active > a:hover,
.mbui-body .mbui-tabs-container .nav-tabs > li.active > a:focus {
    background-color: #367fa9;
}

.mbui-body .mbui-tabs-container .nav-tabs > li.active:after {
    border-top: 4px solid #367fa9;
}

.heading-color .mbui-checkbox-custom-alt > i {
    background-color: #fff;
    border: 2px solid #333;
}

.islem.zarf-null .zarf-check {
    display: table;
}

.vertical-tab-content .mbui-inside-header h4 {
    text-align: left;
}

.vertical-tab-content .mbui-inside-form {
    overflow: hidden;
}

    .vertical-tab-content .mbui-inside-form table.dataTable thead th, table.dataTable thead td {
        padding: 10px 8px;
    }

    .vertical-tab-content .mbui-inside-form .dataTables_wrapper .dataTables_info,
    .vertical-tab-content .mbui-inside-form div.dataTables_paginate ul.pagination {
        display: none;
    }

    .vertical-tab-content .mbui-inside-form .mbui-inside-form.collapsed .mbui-inside-header h4 ~ .mbui-controls > li > a {
        line-height: 36px;
    }

    .vertical-tab-content .mbui-inside-form .mbui-inside-header h4 ~ .mbui-controls > li > a {
        line-height: 42px;
    }

.info-block {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    background: #f5f5f5;
    display: inline-block;
}

    .info-block .info-icon-center {
        margin-bottom: 15px;
        font-size: 48px;
        text-align: center;
    }

    .info-block p {
        color: #535353;
        margin-bottom: 0;
        text-align: center;
    }

    .info-block ul {
        padding-left: 0;
        list-style: none;
        width: 100%;
        background: #fafafa;
        margin-bottom: 0;
        display: inline-block;
        margin-top: 15px;
    }

.br-color {
    border: 2px solid #222d32 !important;
}

.text-color {
    color: #222d32 !important;
    line-height: 30px !important;
}

.br-danger {
    border-color: #b52b27 !important;
}

.color-danger {
    color: #b52b27 !important;
}

.color-warning {
    color: #f0ad4e !important;
}

.color-default {
    color: #616f77 !important;
}

.color-success {
    color: #5cb85c !important;
}

.mt-26 {
    margin-top: 26px !important;
}

.info-block ul > li {
    display: block;
    width: 50%;
    float: left;
}

    .info-block ul > li:first-child {
        border-right: 1px solid #f5f5f5;
    }

    .info-block ul > li > p {
        color: #535353;
        text-align: center;
        line-height: 32px;
    }


.vertical-tab-content .control-label {
    color: #535353;
}

.vertical-tab-info > ul {
    padding-left: 0;
    list-style: none;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    margin-top: 15px;
}

    .vertical-tab-info > ul > li {
        display: block;
        width: 50%;
        float: left;
    }

        .vertical-tab-info > ul > li:first-child {
            border-right: 1px solid #f5f5f5;
        }

        .vertical-tab-info > ul > li:last-child {
            background: #ff0000;
        }

.main-header {
    position: fixed;
    top: 0;
}

.heading-color {
    background-color: #b3d3e5 !important;
    color: #333 !important;
    padding: 1px 15px 0 !important;
    font-style: italic;
}

.main-sidebar {
    padding-bottom: 10px;
    position: fixed;
}

.btn-image-no-br .btn.btn-image {
    border-radius: 0;
}

    .btn-image-no-br .btn.btn-image.active img {
        webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -ms-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }

.mbui-nav .nav > li > a {
    font-size: 14px;
}

.durum {
    text-align: center;
    margin: 0 auto;
    color: #fff;
    display: inline-block;
    border-radius: 3px;
    text-transform: uppercase;
}

.bg-warning {
    background-color: #f0ad4e;
}

.bg-danger {
    background-color: #d9534f;
}

.bg-success {
    background-color: #5cb85c !important;
}

.bg-default {
    background-color: #616f77;
}

.flip-horizontal {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


/*
|--------------------------------------------------------------------------
| Switch Tamplate Styles
|--------------------------------------------------------------------------
*/

.onoffswitch-wrap {
    display: inline-block;
    width: 100%;
    margin-top: 22px;
    height: 34px;
    padding-top: 10px;
}

.onoffswitch input {
    position: absolute;
    opacity: 0;
}

.onoffswitch input + .switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 0.5em;
    width: 2em;
    background: #fa9fbe;
    border-radius: 1em;
    cursor: pointer;
}

.onoffswitch input + .switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #ff3e7f;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    margin-top: -0.25em;
}


.onoffswitch input:checked + .switch {
    background: #5cb85c;
}

.onoffswitch input:checked + .switch div {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    background-color: #5cb85c;
}


/*
|--------------------------------------------------------------------------
| Default Tamplate Styles
|--------------------------------------------------------------------------
*/

img {
    max-width: 100%;
}

.display-none {
    display: none !important;
}

.sign-out i.fa {
    margin-left: 5px;
}

.navbar-brand {
    height: auto;
}

.formModal {
    display: none;
    width: 100%;
    height: auto;
}

.mbui-panel-scroll {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 600px;
    padding-bottom: 15px;
    padding-right: 10px;
}

.popup-scroll.mbui-panel-scroll {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 400px;
}

.has-feedback label.error {
    display: none !important;
}

.table-max-height {
    height: auto;
    overflow-y: scroll;
    max-height: 350px;
}

.mbui-select.bg-white .btn.btn-default:hover {
    border-color: #b1bac0 !important;
}

.mbui-select.bg-white .btn.btn-default:focus:hover,
.mbui-select.bg-white .btn.btn-default:focus {
    border: 1px solid #22beef !important;
}

.chosen-select {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
}

.control-sidebar-dark,
.control-sidebar-lg {
    position: fixed;
}

    .control-sidebar-lg .vertical-tab-container {
        margin-top: 110px;
    }

    .control-sidebar-dark .vertical-tab-container {
        margin-top: 80px;
    }

.table-lg {
    min-width: 1200px !important;
}

.dataTables_scrollBody {
    height: auto !important;
    /*max-height: 350px !important;*/
}

.b-full-blue-dark {
    border: 1px solid #222d32 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.insuredTextarea {
    resize: none;
    color: #ff0000;
}

.table-5-row {
    height: 280px;
}

.table-height-scroll {
    overflow-y: auto;
}

.dataTable .popup .myIcon {
    margin: 3px;
    width: 28px;
    height: 28px;
}

    .dataTable .popup .myIcon > .fa {
        font-size: 14px;
        line-height: 28px;
    }

.col-20 {
    width: 20%;
    padding: 0 15px;
    float: left;
}

.teminatDisabled[disabled="disabled"]:hover,
.teminatDisabled[disabled="disabled"],
.teminatDisabled.active {
    border-color: #cdd3d7 !important;
    pointer-events: none !important;
}

    .teminatDisabled.active .btn.btn-default {
        background: #d0d0d0 !important;
    }

.mt-30 {
    margin-top: 30px !important;
}

.btn-wrapper-center button.btn.btn-success,
.btn-wrapper-center button.btn.btn-danger,
.btn-wrapper-center button.btn.btn-warning {
    text-transform: uppercase !important;
    font-weight: 700 !important;
}

.plan-list {
    cursor: pointer;
}

.new-list .tree .open-tree {
    display: none;
}

.parent.new-list > .tree > .open-tree {
    display: inline-block;
    position: relative;
    z-index: 11;
}

.filestyle.bg-white {
    background: #fff !important;
}

.mbui-panel.collapsed {
    border-radius: 10px;
}

.plan-coverage {
    display: none;
}

    .plan-coverage.active {
        display: block;
    }

.pt-35 {
    padding-top: 35px !important;
}

.tree.active {
    background: #d0d0d0;
}

.mbui-tab-menu,
.mbui-tab-content {
    padding: 0 0 15px 15px;
}

.mbui-tab-content {
    padding: 0 15px 15px 0;
}

.mbui-tabs-heading {
    padding: 0 15px 15px;
    border-bottom: 1px solid #3c8dbc;
}

.mbui-tab-menu .nav-pills > li > a > .fa {
    float: right;
    color: #3c8dbc;
    display: none;
}

.mbui-tab-menu .nav-pills > li.active > a > .fa {
    display: block;
    color: #fff;
}

.mbui-tab-menu .nav-pills > li.active > a {
    color: #fff;
    background-color: #337ab7;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

button.btn,
a.btn {
    text-transform: uppercase;
}

.mbui-header h3, .mbui-inside-header h3 {
    line-height: 24px;
}

.heading-color .mbui-controls > li {
    display: inline-block;
    border-left: 1px solid #367fa9;
}

.heading-color .mbui-controls > li > a {
    background: #5cb85c;
}

.heading-color .mbui-controls > li > a.mbui-inside-toggle {
    color: #000;
    background-color: #b3d3e5;
}



.tab-content .heading-color .mbui-controls {
    background: #5cb85c;
}

    .tab-content .heading-color .mbui-controls .fa-plus,
    .tab-content .heading-color .mbui-controls .fa-file-excel-o {
        color: #fff;
    }

.mbui-panel.collapsed .mbui-inside-header {
    padding: 7.5px 25px;
}

.tree-wrapper {
    display: inline-block;
    width: 100%;
}

.easy-tree-toolbar {
    float: right;
}

    .easy-tree-toolbar > div {
        float: left;
        position: relative;
    }

.tree-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.width-50-pr {
    width: 50% !important;
    float: left;
}

.mt-35 {
    margin-top: 35px !important;
}

.width-33-pr {
    width: 33.3333333% !important;
    float: left;
}

.width-25-pr {
    width: 25% !important;
    float: left;
}

.width-20-pr {
    width: 20% !important;
    float: left;
}

.btn-radius-left-10 {
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.btn-radius-right-10 {
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.width-100-pr {
    width: 100% !important;
}

    .width-100-pr .btn-label input ~ span.btn.btn-radio {
        width: 100% !important;
    }

.btn-wrapper-center.full-btn {
    list-style: none;
    width: 100%;
    display: inline-block;
    padding-left: 0;
}

    .btn-wrapper-center.full-btn li .btn {
        width: 100%;
        font-size: 18px;
    }

.chosen-container {
    width: 100% !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.mt-5 {
    margin-top: 5px !important;
}


.tree-list li > ul {
    padding-left: 20px;
}

.tree-list.tree-list-with-buttons li .tree {
    padding: 6px 145px 6px 55px;
}

/*.modal-body .table-responsive {
    overflow-x: auto;
}*/

.tree-list.tree-list-with-buttons .tree-list .list-name,
.tree-list.tree-list-with-checkbox .tree-list .list-name {
    width: 100%;
    display: block;
    height: 36px;
    oveflow: hidden;
}

.tree-list li .tree {
    border: 1px solid #00acd6;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 6px 12px;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
}

.tree-list-islem-block {
    float: right;
    position: relative;
}

.tree-list-islem-block .myIcon {
    width: 32px;
    height: 32px;
    margin: 0 5px;
}

.tree-list-islem-block .myIcon .fa {
    font-size: 16px;
    line-height: 32px;
}

.tree.active ~ .claim {
    display: block;
}

.icon {
    margin-right: 5px;
}

.tree-list li .tree-bottun {
    cursor: pointer;
}

.tree-list .new-list span > a {
    line-height: 32px;
}

.tree-list .list-name {
    font-size: 16px;
    line-height: 34px;
    overflow: hidden;
    display: block;
    float: left;
    width: 100%;
    position: absolute;
    height: 34px;
    right: 0;
    padding: 0 100px 0 50px;
}

/*.new-list .tree label.checkbox.mbui-checkbox-custom {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -20px;
}*/

.datetimepicker .input-group-addon,
#contractFormEndDate .input-group-addon,
#contractFormStartDate .input-group-addon {
    cursor: pointer;
}

.tree-list > .parent > .tree > .tree-open {
    display: inline !important;
}

.tree-list li.li_selected .tree {
    border-color: #f39c12;
}

.easy-tree {
    background-color: #fff;
    color: #00acd6;
}

    .easy-tree .tree-list li .tree {
        border: 1px solid #00acd6;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        padding: 6px 12px;
        width: 100%;
        display: inline-block;
        margin-bottom: 0;
    }

    .easy-tree li:before {
        border-left: 1px solid #00acd6;
    }

    .easy-tree li:after {
        border-top: 1px solid #00acd6;
    }

    .easy-tree li > span > a {
        color: #00acd6;
    }

    .easy-tree li.parent_li > span:hover, .easy-tree li.parent_li > span:hover + ul li span.tree {
        background: #e5e2e1;
        color: #00acd6;
    }

.banka-block {
    display: none;
}

    .banka-block.ibanRadio {
        display: block;
    }

.btn.btn-default.mbui-btn {
    padding: 6px 32px;
}

.mbui-inside-body .mbui-filter-wrapper {
    display: none;
}

.mbui-inside-body.active .mbui-filter-wrapper {
    display: block !important;
}

.mbui-inside-form .mbui-inside-body {
    display: block;
}

.mbui-inside-form.collapsed .mbui-inside-body {
    display: none;
}

.mbui-inside-form.collapsed .mbui-filter.active {
    background: transparent;
    color: #367fa9 !important;
}

.mbui-inside-form.collapsed .mbui-header, .mbui-inside-form.collapsed .mbui-inside-header {
    border-bottom: 1px solid transparent;
    border-radius: 10px;
}

.mbui-inside-form.collapsed .none-visible {
    display: block;
}

.none-visible .control-label {
    margin-top: 10px;
}

.mbui-header, .mbui-inside-header {
    border-bottom: 1px solid #367fa9;
    background: #3c8dbc;
    color: #fff;
    min-height: 42px;
}

.mbui-controls > li {
    display: inline-block;
    border-left: 1px solid #fff;
}

    .mbui-controls > li > a {
        color: #fff;
        line-height: 42px;
        cursor: pointer;
    }

.mbui-inside-header h4 ~ .mbui-controls > li > a {
    line-height: 42px;
}

.mbui-inside-form.collapsed .mbui-inside-header h4 ~ .mbui-controls > li > a {
    line-height: 43px;
}

.bg-white .mbui-nav .navbar-nav > li > a:active,
.bg-white .mbui-nav .navbar-nav > li > a:focus {
    background: #eeac57 !important;
    color: #fff !important;
}

.w-100 {
    width: 100px !important;
}

.w-110 {
    width: 110px !important;
}

.btn-wrapper-center {
    display: table;
    margin: 0 auto;
    padding-top: 10px;
}

.btn-wrapper-left {
    display: table;
    margin: 0 0 auto 0;
    padding-top: 10px;
}

.btn-wrapper-right {
    display: table;
    margin: 0 0 0 auto;
    padding-top: 10px;
}

.width-auto {
    width: auto !important;
}

.text-align-left {
    text-align: left !important;
}

.text-align-right {
    text-align: right !important;
}

.btn-rounded {
    border-radius: 50px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: none !important;
}

.dataTable .myIcon:hover {
    opacity: 0.9;
}

.width-100 {
    width: 100% !important;
}

.display-inherit {
    display: inherit !important;
}

.none-visible {
    display: none;
    width: 100%;
}

.position-right {
    float: right;
}

.btn.mbui-info-btn {
    background: #fff;
    padding: 6px 18px;
}

.btn.mbui-info-btn {
    background: #fff;
    border-color: #00c0ef;
}

.touchspin {
    text-align: center;
}

.btn.mbui-info-btn:hover {
    background: #00c0ef;
    border-color: #00c0ef;
    color: #fff;
}

.position-left {
    float: left;
}

.checkbox-label {
    padding: 4px 12px;
    display: none;
}

    .checkbox-label.active {
        padding: 4px 12px;
        display: block !important;
    }

    .checkbox-label > span {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 100%;
        text-align: center;
        color: #000;
        font-size: 14px;
        line-height: 16px;
        cursor: pointer;
    }

    .checkbox-label:hover > span {
        color: #d73925;
    }

.radio-label {
    display: none;
    border: 1px solid #00acd6;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 6px 12px;
    width: 100%;
    margin-bottom: 10px;
    line-height: 30px;
    pointer-events: none;
}

    .radio-label.active {
        display: block;
        margin-top: 10px;
    }

    .radio-label .radio-button {
        width: 30px;
        height: 30px;
        display: block;
        border: 1px solid #008d4c;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        background: #00a65a;
        color: #fff;
        font-size: 16px;
    }

.text-icon {
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    border-radius: 100%;
    text-align: center;
    line-height: 32px;
    margin: 5px;
    pointer-events: none;
}

.btn-image .checkbox {
    position: absolute;
    top: 0;
    right: 0;
}

.inside-toggle {
    margin: 8px 0 0 5px;
}

    .inside-toggle span .fa {
        font-size: 20px;
    }

.tree .inside-toggle .mbui-minimize {
    display: block;
}

.tree.active .inside-toggle .mbui-minimize {
    display: none;
}

.tree .inside-toggle .mbui-expand {
    display: none;
}

.tree.active .inside-toggle .mbui-expand {
    display: block;
}

.claim {
    display: none;
}

.parent > ul {
    display: none;
}

.parent.tree-open > ul {
    display: block;
}

.btn-image .mbui-checkbox-custom-alt input:checked + i {
    background-color: #00a65a;
    border-color: #00a65a;
    color: #fff;
}

.mbui-checkbox-custom-alt.btn-image input:checked + i {
    background-color: #00a65a;
    border-color: #00a65a;
    color: #fff;
}


/*****************************/

.bg-white {
    background: #ffffff !important;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: #333;
    font-style: italic;
    font-size: 14px;
    padding: 6px 12px;
}

.mbui-select .btn {
    box-shadow: none !important;
    height: 34px;
}

.mbui-select.bg-white .btn.btn-default {
    background-color: #ffffff;
}

.b-full {
    border: 1px solid #367fa9 !important;
}

.mbui-checkbox-horizontal {
    display: table;
    float: left;
    margin-right: 15px;
}

/* User Profile */
.main-header .navbar-custom-menu, .main-header .navbar-right {
    float: right;
    max-width: 30px;
    margin-right: 10px;
    margin-top: 13px;
    max-height: 30px;
}

.dropdown-menu.getLeft {
    left:-115px !important;
    top:35px;
}

/* start colors */
    .color-danger {
    color: #d9534f !important;
}

.color-info {
    color: #5bc0de !important;
}

.disabled {
    color: #999 !important;
}

/* finish colors */

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    pointer-events: none;
}

.dataTables_length label select {
    /*display: none;*/
}

.btn-label input {
    display: none;
}

    .btn-label input ~ span.btn.btn-radio {
        background-color: #fff;
        border: 1px solid #dbe0e2;
        min-width: 70px;
    }

.btn-label:hover input ~ span.btn.btn-radio {
    background-color: #4ed0f5;
    border-color: #4ed0f5;
    color: #ffffff;
}

.btn-label input:checked ~ span.btn.btn-radio {
    background-color: #16bbeb;
    border-color: #16bbeb;
    color: #ffffff;
}

.btn-label input:disabled ~ span.btn.btn-radio {
    color: #acafb1;
    border-color: #acafb1;
    pointer-events: none;
}

.fl {
    float: left !important;
}

.icon-circle a {
    color: #fff;
    cursor: pointer;
}

.icon-circle {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
}

.lh-25 {
    line-height: 25px !important;
}

.lh-28 {
    line-height: 28px !important;
}

.pt-0 {
    padding-top: 0 !important;
}

div.dataTables_length label {
    display: none;
}

.table input {
    width: auto;
}

.mbui-nav,
.mbui-nav ul {
    width: 100%;
}

    .mbui-nav ul > li {
        width: 20%;
        border-right: 1px solid #eeac57;
        border-bottom: 1px solid #eeac57;
    }

        .mbui-nav ul > li:last-child {
            border-right: 1px solid transparent;
        }

        .mbui-nav ul > li > a {
            text-align: center;
            color: #333 !important;
            text-decoration: none;
        }

            .mbui-nav ul > li > a:hover {
                text-align: center;
                color: #fff !important;
                background: #eeac57 !important;
            }

.content {
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
}

.control-sidebar-bg, .control-sidebar-dark {
    right: -275px;
    width: 280px;
}

.control-sidebar-bg, .control-sidebar-lg {
    right: -555px;
    width: 560px;
}

.vertical-tab-container {
    z-index: 10;
    padding: 0 15px 15px 15px;
    background: #ecf0f5;
    display: inline-block;
    width: 100%;
}

.vertical-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    width: 45px;
    margin-left: -45px;
    float: left;
}

    .vertical-tab-menu div.list-group {
        margin-bottom: 0;
    }

.list-group-item {
    background-color: #f9fafc;
    border: 1px solid transparent;
    padding: 10px 15px 11px;
}

.vertical-tab-menu div.list-group > a {
    margin-bottom: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    font-size: 16px;
}

    .vertical-tab-menu div.list-group > a .fa.fa-share {
        color: #eeac57;
    }

    .vertical-tab-menu div.list-group > a.mbui-share.active {
        background: #eeac57;
        border-radius: 0;
    }

        .vertical-tab-menu div.list-group > a.mbui-share.active .fa-share {
            color: #fff;
        }

    .vertical-tab-menu div.list-group > a .fa.fa-user {
        color: #eeac57;
    }

    .vertical-tab-menu div.list-group > a.mbui-user.active {
        background: #eeac57;
        border-radius: 0;
    }

        .vertical-tab-menu div.list-group > a.mbui-user.active .fa.fa-user {
            color: #fff;
        }

    .vertical-tab-menu div.list-group > a .fa.fa-clock-o {
        color: #64b660;
    }

    .vertical-tab-menu div.list-group > a.mbui-clock.active {
        background: #64b660;
        border-radius: 0;
    }

        .vertical-tab-menu div.list-group > a.mbui-clock.active .fa.fa-clock-o {
            color: #fff;
        }

    .vertical-tab-menu div.list-group > a .fa.fa-check {
        color: #64b660;
    }

    .vertical-tab-menu div.list-group > a.mbui-check.active {
        background: #64b660;
        border-radius: 0;
    }

        .vertical-tab-menu div.list-group > a.mbui-check.active .fa.fa-check {
            color: #fff;
        }

    .vertical-tab-menu div.list-group > a .fa.fa-ban {
        color: #ff0000;
    }

    .vertical-tab-menu div.list-group > a.mbui-ban.active {
        background: #ff0000;
        border-radius: 0;
    }

        .vertical-tab-menu div.list-group > a.mbui-ban.active .fa.fa-ban {
            color: #fff;
        }

    .vertical-tab-menu div.list-group > a .fa.fa-times {
        color: #ff0000;
    }

    .vertical-tab-menu div.list-group > a.mbui-times.active {
        background: #ff0000;
        border-radius: 0;
    }

        .vertical-tab-menu div.list-group > a.mbui-times.active .fa.fa-times {
            color: #fff;
        }

.vertical-tab div.vertical-tab-content:not(.active) {
    display: none;
}

.control-sidebar-dark, .control-sidebar-dark + .control-sidebar-bg,
.control-sidebar-lg, .control-sidebar-lg + .control-sidebar-bg {
    background: #ecf0f5;
    background: transparent;
}

/* .pro-onay .pro-red */

.pro-onay a, .pro-red a, .pro-onay span, .pro-red span {
    display: none;
}

.pro-onay a.onay, .pro-onay span.onay {
    display: block;
}

.pro-onay .btn-group:hover a.onay, .pro-onay .btn-group:hover span.onay {
    display: none;
}

.pro-onay .btn-group:hover a.goruntule, .pro-onay .btn-group:hover span.goruntule {
    display: block;
}

.pro-red a.red, .pro-red span.red {
    display: block;
}

.pro-red .btn-group:hover a.red, .pro-red .btn-group:hover span.red {
    display: none;
}

.pro-red .btn-group:hover a.ekle, .pro-red .btn-group:hover span.ekle {
    display: block;
}

.radio-in-list {
    padding-left: 0;
    list-style: none;
    width: 100%;
    margin-bottom: 20px;
}

.modal-lg {
    width: 1100px;
}

.modal-md {
    width: 900px;
}

.bootstrap-select.btn-group .dropdown-menu {
    max-width: 100%;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    overflow-x: hidden;
}

.btn.btn-default.mbui-btn,
.btn.btn-default.mbui-btn.disabled {
    border: 1px solid #f59324;
    background-color: #ffffff;
    color: #616f77 !important;
}

.btn.btn-default.mbui-btn:hover {
    color: #fff !important;
}


.dropdown-menu > li > a.mbui-print,
.dropdown-menu > li > a.mbui-pdf,
.dropdown-menu > li > a.mbui-exel {
    padding: 0;
}

.mbui-form .mbui-header .mbui-controls .dropdown-menu li .dt-buttons .dt-button {
    width: 100%;
    color: #777;
    padding: 6px 12px;
}




@media (max-width: 1200px) {
    .mbui-nav .nav > li > a {
        font-size: 11px;
    }

    .content-wrapper .content {
        margin-top: 50px !important;
    }

    .mbui-panel-scroll {
        height: auto;
        overflow-y: scroll;
        max-height: 600px;
    }

    .modal-lg {
        width: 900px;
    }
}


@media (max-width: 992px) {

    .skin-blue .main-header .mbui-nav ul > li {
        width: 33.33333333%;
        border-bottom: 1px solid #eeac57;
    }

        .skin-blue .main-header .mbui-nav ul > li:nth-child(3) {
            width: 33.33333333%;
            border-right: 1px solid transparent;
        }

    .modal-lg,
    .modal-md {
        width: 700px;
    }
}


@media (max-width: 768px) {
    .w-360 {
        width: 100% !important;
    }

    .modal-lg,
    .modal-md {
        width: 100%;
    }
}


@media (max-width: 480px) {

    .mbui-inside-header h4 {
        text-align: center;
    }

    .heading-color {
        padding: 1px 10px 0 !important;
    }

    .mbui-controls {
        position: relative;
        display: table;
        margin: 0 auto;
    }

    .heading-color .mbui-controls > li:first-child {
        border-left: 1px solid transparent;
    }

    .mbui-controls > li > a {
        min-width: 33px;
        padding: 0 5px;
    }

    .content-wrapper .content {
        margin-top: 115px !important;
    }

    .control-sidebar.control-sidebar-dark {
        margin-top: 115px !important;
    }

    .control-sidebar.control-sidebar-lg {
        margin-top: 65px !important;
    }
}


/*
|--------------------------------------------------------------------------
| Moor Elements Custom Styles
|--------------------------------------------------------------------------
*/

.mbui-tabs-container {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 0 25px;
}

.form-overflow-x {
    height: auto;
    max-height: 350px;
    overflow-x: auto;
}

input.img-checkbox:checked + label {
    border-color: #16bbeb;
}

.mbui-body .nav-tabs > li.active > a, .mbui-body .nav-tabs > li.active > a:hover, .mbui-body .nav-tabs > li.active > a:focus {
    box-shadow: none;
}

.chosen-container .chosen-results li {
    font-size: 14px;
}

.mbui-body .nav-tabs > li > a {
    pointer-events: none;
}

.mbui-body .nav-tabs > li.active > a {
    pointer-events: auto;
}

.mt-20 {
    margin-top: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.mbui-tabs-container .nav-tabs.nav-justified > li > a {
    border: 1px solid #367fa9;
    border-bottom: 2px solid #367fa9;
}

.mbui-tabs-container .nav-tabs.nav-justified > li.active > a {
    background-color: #367fa9;
    color: #fff;
    border: 1px solid #367fa9;
    border-bottom: 2px solid #367fa9;
}

.col-half-offset {
    margin-left: 4.166666667%
}

.buttonProvision {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonProvisionDecline {
    background-color: #f44336;
}

.buttonBackToProvision {
    background-color: #eeac57;
}

.buttonBackToProvisionApprove {
    background-color: #fff;
    border: 2px solid #eeac57;
    color: orange;
}

.buttonCancel {
    background-color: #fff;
    border: 2px solid #ff0000;
    color: red;
}

.buttonWillBePaid {
    background-color: #fff;
    border: 2px solid #00a65a;
    color: green;
}

.buttonPaid {
    background-color: #00a65a;
}

.buttonPending {
    background-color: #e7e7e7;
    color: black;
}

.btn.mbui-nav-btn {
    background: #fff;
    border-color: #3c8dbc;
    margin: 8px 8px 0px 4px;
}

.dataTables_custom {
    font-size: 10px;
}