﻿@model Protein.Web.Models.ExportModel.ExportVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProteinCompanyLayout.cshtml";
}

@RenderPage("~/Views/Shared/Header.cshtml")
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-header mbui-inside-header">
                <h3><strong>Provizyon Listesi</strong></h3>
                <ul class="mbui-controls">
                    <li>
                        <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                            <i class="fa fa-filter"></i>
                        </a>
                    </li>
                    <li class="dropdown mbui-list">
                        <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                            <i class="fa fa-hashtag"></i>
                        </a>
                        <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                            <li>
                                <a role="button" tabindex="0" data-value="15">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" data-value="25">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" data-value="50">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" data-value="100">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                </a>
                            </li>
                            <li>
                                <a role="button" tabindex="0" data-value="-1">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i>
                                    <i class="ion-ios-infinite" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                            <i class="fa fa-expand"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <form class="form-horizontal" role="form" action="" method="post">

                <div class="mbui-body mbui-inside-body active Enterclick">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <label for="CLAIM_ID" class="control-label">Hasar No</label>
                            <input name="CLAIM_ID" class="form-control" id="CLAIM_ID" placeholder="Hasar No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="MEDULA_NO" class="control-label">Medula No</label>
                            <input name="MEDULA_NO" class="form-control" id="MEDULA_NO" placeholder="Medula No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <select class="chosen-select company" name="COMPANY_ID" id="COMPANY_ID" data-placeholder="Sigorta Şirketi Seçiniz" style="width: 90%;" title="Sigorta Şirketi Seçiniz">
                                <option> </option>
                                <option value="">TÜMÜ</option>
                                @foreach (var item in ViewBag.v_company)
                                {
                                    <option value="@item.COMPANY_ID">@item.COMPANY_NAME</option>
                                }
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="BILL_NO" class="control-label">Fatura No</label>
                            <input name="BILL_NO" class="form-control" id="BILL_NO" placeholder="Zarf No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="PAYROLL_ID" class="control-label">Zarf No</label>
                            <input name="PAYROLL_ID" class="form-control" id="PAYROLL_ID" placeholder="Kurum Zarf No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="POLICY_NUMBER" class="control-label">Poliçe No</label>
                            <input name="POLICY_NUMBER" class="form-control" id="POLICY_NUMBER" placeholder="Poliçe No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <select class="chosen-select" name="CLAIM_TYPE" id="CLAIM_TYPE" style="width: 90%;">
                                <option value="">Hasar Tipini Seçiniz</option>
                                @foreach (var item in ViewBag.ClaimTypeList)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="IDENTITY_NO" class="control-label">TCKN/VKN/Pasaport No</label>
                            <input name="IDENTITY_NO" class="form-control" id="IDENTITY_NO" placeholder="TC Kimlik No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="FIRST_NAME" class="control-label">Sigortalı Adı</label>
                            <input name="FIRST_NAME" class="form-control" id="FIRST_NAME" placeholder="TC Kimlik No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label for="LAST_NAME" class="control-label">Sigortalı Soyadı</label>
                            <input name="LAST_NAME" class="form-control" id="LAST_NAME" placeholder="TC Kimlik No giriniz" type="text" />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input type="date" id="CLAIM_DATE_START" name="CLAIM_DATE_START" class="form-control" placeholder="Hasar Tarihi (<)" required="required">
                            <label for="CLAIM_DATE_START">Hasar Tarihi (&lt;)</label>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input type="date" id="CLAIM_DATE_END" name="CLAIM_DATE_END" maxlength="11" class="form-control" placeholder="Hasar Tarihi (>)" required="required">
                            <label for="CLAIM_DATE_END">Hasar Tarihi (&gt;)</label>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <input type="text" id="INSURER" name="" class="form-control" placeholder="Sigorta Ettiren" required="required">
                            <label for="">Sigorta Ettiren</label>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <select class="chosen-select" name="CLAIM_STATUS" id="CLAIM_STATUS" style="width: 90%;">
                                <option value="">Hasar Durumunu Seçiniz</option>
                                @foreach (var item in ViewBag.ClaimStatusList)
                                {
                                    if (item.Key != "1")
                                    {
                                        <option value="@item.Key">@item.Value</option>

                                    }
                                }
                            </select>
                        </div>


                        <input type="hidden" name="hdclaimId" id="hdClaimId" value="0" />
                        <input type="hidden" id="hdInsuredId" name="hdInsuredId" value="0" />
                        <input type="hidden" name="isFilter" id="isFilter" value="0" />
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="button" onclick="FilterClean();" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtreleri Temizleme</button>
                            <button type="button" onclick="GetClaimList();" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtrele</button>
                        </div>
                    </div>
                </div>
                <div class="mbui-body mbui-inside-body active">

                    <div class="table-responsive">
                        <table class="table table-md table-custom" id="tblClaimList" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Detay Görüntüle</th>
                                    <th>İbraname</th>
                                    <th>Durum</th>
                                    <th>Durum Gerekçesi</th>
                                    <th>Sigorta Ş.</th>
                                    <th>Hasar No</th>
                                    <th>Medula No</th>
                                    <th>Hasar Tipi</th>
                                    <th>Zarf No</th>
                                    @*<th>ZARF</th>*@
                                    <th>TCKN</th>
                                    <th>Adı Soyadı</th>
                                    <th>Hasar Tarihi</th>
                                    <th>Fatura Tarihi</th>
                                    <th>Anlaşmalı Tutar</th>
                                    <th>Onaylanan Tutar</th>
                                    <th>Sigortalı Payı</th>
                                    <th>Durum Değişikliği</th>
                                    @*<th>Eksik Evrak</th>*@
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </form>

        </div>
    </div>



    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model)

</section>



<script>
    var tblClaim = null;
    var selectedClaim = null;
    var selectedClaimId = -1;
    jQuery(document).ready(function () {
        jQuery("#COMPANY_ID").attr("data-placeholder", "Sigorta Şirketi Seçiniz");
        jQuery("#COMPANY_ID").on('chosen:ready', function (ev, args) {
            var sender = args.chosen;
            sender.search_field.attr('placeholder', sender.default_text);
        }).chosen();
    });
    $(document).ready(function () {
        LoadClaimList();

        $('#tblClaimList tbody').on('click', 'tr', function () {
            if ($(this).hasClass('warning-bold')) {
                // $(this).removeClass('selected');

            }
            else {
                tblClaim.$('tr.warning-bold').removeClass('warning-bold');
                $(this).addClass('warning-bold');
                var data = tblClaim.row(this).data();
                SelectClaim(data, data.INSURED_ID, data.CLAIM_ID);
            }
        });


    });

    function ClaimCreate() {
        if (selectedClaim != null) {
            window.open("/ProviderClaimCompany/Create?claimId=" + selectedClaim.CLAIM_ID, "_blank");
        }
        else {
            getErrorMessage("warning", "Tazminat Seçimi Yapınız!");
        }
    }

    function LoadClaimList() {
        tblClaim = $("#tblClaimList").DataTable({
            "ajax": {
                "url": "/ProviderClaimCompany/GetClaimList",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                "data": function (item) {
                    item.CLAIM_ID = $('#CLAIM_ID').val();
                    item.MEDULA_NO = $('#MEDULA_NO').val();
                    item.COMPANY_ID = $('#COMPANY_ID').val();
                    item.BILL_NO = $('#BILL_NO').val();
                    item.PAYROLL_ID = $('#PAYROLL_ID').val();
                    item.POLICY_NUMBER = $('#POLICY_NUMBER').val();
                    item.CLAIM_TYPE = $('#CLAIM_TYPE').val();
                    item.IDENTITY_NO = $('#IDENTITY_NO').val();
                    item.FIRST_NAME = $('#FIRST_NAME').val();
                    item.LAST_NAME = $('#LAST_NAME').val();
                    item.CLAIM_DATE_START = $('#CLAIM_DATE_START').val();
                    item.CLAIM_DATE_END = $('#CLAIM_DATE_END').val();
                    item.INSURER = $('#INSURER').val();
                    item.CLAIM_STATUS = $('#CLAIM_STATUS').val();
                    item.isFilter = $('#isFilter').val();
                },
                "complete": function () {

                    $.unblockUI();
                },
                "error": function () {
                    $.unblockUI();
                }
            },
            "columns": [
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        return '<div class="btn-group fr">' +
                            ' <span><a href="#" onclick="GetClaimGeneralDetails()" class="myIcon icon-primary" data-toggle="tooltip" title="Detayını Görüntüle"><i class="fa fa-search"></i></a></span>' +
                            '</div>';
                    }
                },
                {
                    "data": null, "orderable": false,
                    "render": function (data) {
                        if (data.STATUS == "2") {
                            return '<div class="btn-group fr">' +
                                ' <span><a href="#" onclick="GetReport()"><b>İbraname Bas</b></a></span>' +
                                '</div>';
                        } else {
                            return "";
                        }
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        if (data != null) {
                            if (data.STATUS == "0") { //ProteinEnums.ClaimStatus.GIRIS
                                return '<p class="warning-bold"><strong>GİRİŞ</strong></p>';
                            }
                            else if (data.STATUS == "1") {//ProteinEnums.ClaimStatus.SILINDI
                                return '<p class="error-bold"><strong>SİLİNMİŞ</strong></p>';
                            }
                            else if (data.STATUS == "2") {//ProteinEnums.ClaimStatus.PROVIZYON
                                return '<p class="success-bold"><strong>PROVİZYON</strong></p>';
                            }
                            else if (data.STATUS == "3") {//ProteinEnums.ClaimStatus.BEKLEME
                                return '<p class="warning-bold"><strong>BEKLEME</strong></p>';
                            }
                            else if (data.STATUS == "4") {//ProteinEnums.ClaimStatus.RET
                                return '<p class="error-bold"><strong>RET</strong></p>';
                            }
                            else if (data.STATUS == "5") {//ProteinEnums.ClaimStatus.ÖDENECEK
                                return '<p class="warning-bold"><strong>ÖDENECEK</strong></p>';
                            }
                            else if (data.STATUS == "6") {//ProteinEnums.ClaimStatus.İPTAL
                                return '<p class="error-bold"><strong>İPTAL</strong></p>';
                            }
                            else if (data.STATUS == "7") {//ProteinEnums.ClaimStatus.ÖDENDİ
                                return '<p class="success-bold"><strong>ÖDENDİ</strong></p>';
                            }
                            else if (data.STATUS == "8") {//ProteinEnums.ClaimStatus.BEKLEME
                                return '<p class="warning-bold"><strong>BEKLEME</strong></p>';
                            }
                        }
                    }
                },
                { "data": "REASON_DESCRIPTION", name: "REASON_DESCRIPTION", "orderable": false },
                { "data": "COMPANY_NAME", name: "COMPANY_NAME" },
                { "data": "CLAIM_ID", name: "CLAIM_ID" },
                { "data": "MEDULA_NO", name: "MEDULA_NO" },
                {
                    "data": "CLAIM_TYPE", name: "CLAIM_TYPE",
                    "render": function (data) {
                        return '<p><strong>' + GetValueOfEnum('ClaimType', data) + '</strong></p>';
                    }
                },
                { "data": "PAYROLL_ID", name: "PAYROLL_ID" },
                { "data": "IDENTITY_NO", name: "IDENTITY_NO" },
                {
                    "data": null,
                    "render": function (data) {
                        return (data.FIRST_NAME == null ? "-" : data.FIRST_NAME) + " " + (data.LAST_NAME == null ? "-" : data.LAST_NAME);
                    }
                },
                {
                    "data": "CLAIM_DATE", name: "CLAIM_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                {
                    "data": "PAYROLL_DATE", name: "PAYROLL_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                { "data": "REQUESTED", name: "REQUESTED" },
                { "data": "PAID", name: "PAID" },
                {
                    "data": null,
                    "render": function (data) {
                        var insuredPaid = data.REQUESTED - data.PAID;
                        return parseFloat(Math.round(insuredPaid * 100) / 100).toFixed(2);
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        if (data.PAYROLL_ID == null && (data.STATUS == '0' || data.STATUS == '2' || data.STATUS == '3' || data.STATUS == '8') && data.CLAIM_TYPE!='0') {
                            return '<div class="btn-group fr">' +
                                '<span data-toggle="modal" data-target="#cancelModal"><a href="#" class="myIcon icon-red" data-toggle="tooltip" title="İptal"> <i class="fas fa-ban"></i></a></span>' +
                                '</div>';
                        } else {
                            return "";
                        }
                    }
                }
            ],
            pageLength: 5,
            "scrollX": true,
            "serverSide": "true",
            "aLengthMenu": [[5, 10,25, 50, 75, 100, -1], [5,10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [5, "desc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "sLengthMenu": " _MENU_  Adet Kayıt Listelendi",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    }
    function SelectClaim(claim, insuredId, claimId) {
        debugger;
        if (selectedClaimId != claimId) {
            selectedClaim = claim;
            if (selectedClaim != null) {
                $('#hdClaimId').val(claimId);
                $('#hdInsuredId').val(insuredId);
                if (isGetReport) {
                    GetReport();
                }
                if (isGetDetails) {
                    GetClaimGeneralDetails();
                }
            } else {
                swal({
                    title: "Hata!",
                    text: "Tazminat listesinde seçilen tazminat bulunamadı!",
                    icon: "warning"
                });
                $.unblockUI();
            }
        }
    }
    var isGetReport = false, isGetDetails = false;
    function GetReport() {

        if (selectedClaim != null) {
            isGetReport = false;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/ProviderClaimCompany/GetOtherReport?claimId=' + $('#hdClaimId').val(),
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (responseData) {
                    $.unblockUI();

                    var response = responseData;
                    if (response.Code == "100") {
                        $.ajax({
                            url: '/Common/PrintGenerator?url=' + response.FileUrl + '&filename=' + response.FileName,
                            type: 'POST',
                            dataType: 'json',
                            success: function (data) {

                                var response = data;
                                if (typeof (data) != "undefined") {
                                    window.location = '/Common/Download?FileGuid=' + response.FileUrl
                                        + '&filename=' + response.FileName;
                                }
                            },
                        });
                    }
                    else {
                        swal({
                            title: "Hata!",
                            text: responseData.Message,
                            icon: "warning"
                        });
                    }
                },
                error: function (xhr, err) {
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                    $.unblockUI();
                }
            })
        }
        else {
            isGetReport = true;
        }
    }

    function GetClaimGeneralDetails() {

        if (selectedClaim != null) {
            isGetDetails = false;
            debugger;
            $('#frmClaimDetailsModal').modal("toggle");

            // Hasar Notları
            $.ajax({
                type: "POST",
                url: "/ProviderClaimCompany/GetNoteList?claimId=" + selectedClaim.CLAIM_ID,
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        var responseData = $.parseJSON(data);
                        if (responseData != null && responseData.ResultCode == "100" && responseData.Data.jsonData != null) {
                            var claimNoteList = $.parseJSON(responseData.Data.jsonData);
                            var table = document.getElementById("tblClaimNoteList");
                            var tableBody = document.createElement('TBODY');
                            table.removeChild(table.childNodes[3]);
                            if (claimNoteList != null && claimNoteList.length > 0) {
                                $.each(claimNoteList, function (index) {
                                    var dataItem = claimNoteList[index];
                                    var tr = document.createElement('TR');
                                    var td = document.createElement('TD');
                                    td.appendChild(document.createTextNode("Epikriz"));
                                    tr.appendChild(td);
                                    td = document.createElement('TD');
                                    td.appendChild(document.createTextNode(dataItem.NOTE_DESCRIPTION));
                                    tr.appendChild(td);
                                    tableBody.appendChild(tr);
                                });
                            } else {
                                var tr = document.createElement('TR');
                                var td = document.createElement('TD');
                                td.setAttribute("valign", "top");
                                td.setAttribute("colspan", "4");
                                td.setAttribute("class", "dataTables_empty");
                                td.appendChild(document.createTextNode("Kayıt Bulunamadı"));
                                tr.appendChild(td);
                                tableBody.appendChild(tr);
                            }
                            table.appendChild(tableBody);
                        } else {
                            getErrorMessage("error", responseData.ResultMessage);
                        }
                    } else {
                        getErrorMessage("error", "Hasar notları getirilirken hata oluştu!");
                    }
                    $.unblockUI();
                },
                error: function (xhr, err) {
                    getErrorMessage("error", "Hasar notları getirilirken hata oluştu!");
                    $.unblockUI();
                }
            });

            // Genel sekmesindeki diğer alanlar
            document.getElementById("claimMedulaNo").value = selectedClaim.MEDULA_NO;
            document.getElementById("companyClaimId").value = selectedClaim.COMPANY_CLAIM_ID;
            document.getElementById("claimSourceType").value = GetValueOfEnum('ClaimSource', selectedClaim.SOURCE_TYPE);
            document.getElementById("claimProviderId").value = selectedClaim.PROVIDER_ID;
            document.getElementById("claimProviderName").value = selectedClaim.PROVIDER_NAME;
            document.getElementById("noticeDate").value = formatdate(selectedClaim.NOTICE_DATE);
            document.getElementById("claimBillDate").value = formatdate(selectedClaim.BILL_DATE);
            document.getElementById("claimBillNo").value = selectedClaim.BILL_NO;

            // Sigortalı sekmesindeki alanlar
            document.getElementById("claimInsuredTckn").value = selectedClaim.IDENTITY_NO;
            document.getElementById("claimInsuredFirstName").value = selectedClaim.FIRST_NAME;
            document.getElementById("claimInsuredLastName").value = selectedClaim.LAST_NAME;
            document.getElementById("claimInsuredBirthdate").value = formatdate(selectedClaim.BIRTHDATE);
            document.getElementById("claimInsuredFirstInsuredDate").value = formatdate(selectedClaim.FIRST_INSURED_DATE);
            document.getElementById("claimFirstAmbulantCoverageDate").value = formatdate(selectedClaim.FIRST_AMBULANT_COVERAGE_DATE);
            document.getElementById("claimInsuredFirstCompanyInsuredDate").value = formatdate(selectedClaim.COMPANY_ENTRANCE_DATE);
            document.getElementById("insuredListPolicyNo").value = selectedClaim.POLICY_NUMBER;
            document.getElementById("insuredListPackageName").value = selectedClaim.PACKAGE_NAME;
            document.getElementById("insuredListProductName").value = selectedClaim.PRODUCT_NAME;
            document.getElementById("insurerName").value = selectedClaim.INSURER_NAME;

            // Ödeme sekmesindeki hasarda bulunan alanlar
            document.getElementById("billPaymentType").value = GetValueOfEnum('PaymentType', selectedClaim.BILL_PAYMENT_TYPE);
            document.getElementById("payrollDueDate").value = formatdate(selectedClaim.PAYROLL_DUE_DATE);
            document.getElementById("paymentDate").value = formatdate(selectedClaim.PAYMENT_DATE);
            document.getElementById("paymentAmount").value = selectedClaim.PAID;
            document.getElementById("bankAccountName").value = selectedClaim.BANK_ACCOUNT_NAME;
            document.getElementById("bankAccountIban").value = selectedClaim.IBAN;
            document.getElementById("payrollDate").value = formatdate(selectedClaim.PAYROLL_DATE);
            document.getElementById("payrollType").value = GetValueOfEnum('Payroll', selectedClaim.PAYROLL_TYPE);
            document.getElementById("payrollCategory").value = GetValueOfEnum('PayrollCategory', selectedClaim.PAYROLL_CATEGORY);
            document.getElementById("providerPayrollNo").value = selectedClaim.EXT_PROVIDER_NO;
            document.getElementById("providerPayrollDate").value = formatdate(selectedClaim.EXT_PROVIDER_DATE);
            document.getElementById("billNo").value = selectedClaim.BILL_NO;
            document.getElementById("billDate").value = formatdate(selectedClaim.BILL_DATE);

            // Detay sekemesindeki hasarda bulunan alanlar
            document.getElementById("claimEventDate").value = formatdate(selectedClaim.EVENT_DATE);
            document.getElementById("claimEventType").value = GetValueOfEnum('Event', selectedClaim.EVENT_TYPE);
            document.getElementById("claimEventDescription").value = selectedClaim.EVENT_DESCRIPTION;

            isfetchICD = false;
            isFetchProcess = false;
            isFetchCoverage = false;

            //selectedClaimId = claimId;
            //isICDListFetched = false;
            //isPaymentDetailsFetched = false;
            //isHospitalizationDetailsFetched = false;
            //isExclusionAndTransferListFetched = false;
            //isNoteAndDeclerationListFetched = false;
            //isClaimProcessListFetched = false;
            //isMedicineListFetched = false;
            //isClaimCoverageListFetched = false;

            $('#pills-tab li a').each(function () {
                $(this).removeClass('active');
                $(this).removeClass('show');
            })

            $('#pills-tabContent div').each(function () {
                $(this).removeClass('active');
                $(this).removeClass('show');
            })

            $('#pills-section-one').addClass('active');
            $('#pills-section-one').addClass('show');
            $('#pills-section-one-tab').addClass('show');
            $('#pills-section-one-tab').addClass('active');
        }
        else {
            isGetDetails = true;
        }
    }



    function GetClaimList() {
        $('#isFilter').val(1);
        tblClaim.ajax.reload();
    }

    function GetValueOfEnum(typeName, ordinal) {
        if (ordinal != null) {
            if (typeName == "ClaimStatus") {
                var ClaimStatusList = @Html.Raw(Json.Encode(@ViewBag.ClaimStatusList));
                return ClaimStatusList == null ? "-" : ClaimStatusList[ordinal];
            }
            else if (typeName == "ClaimType") {
                var ClaimTypeList = @Html.Raw(Json.Encode(@ViewBag.ClaimTypeList));
                return ClaimTypeList == null ? "-" : ClaimTypeList[ordinal];
            }
            else if (typeName == "ClaimStatus") {
                var ClaimStatusList = @Html.Raw(Json.Encode(@ViewBag.ClaimStatusList));
                return ClaimStatusList == null ? "-" : ClaimStatusList[ordinal];
            }
            else if (typeName == "ClaimSource") {
                var ClaimSourceList = @Html.Raw(Json.Encode(@ViewBag.ClaimSourceList));
                return ClaimSourceList == null ? "-" : ClaimSourceList[ordinal];
            }
            else if (typeName == "PaymentType") {
                var PaymentTypeList = @Html.Raw(Json.Encode(@ViewBag.PaymentTypeList));
                return PaymentTypeList == null ? "-" : PaymentTypeList[ordinal];
            }
            else if (typeName == "Event") {
                var EventTypeList = @Html.Raw(Json.Encode(@ViewBag.EventTypeList));
                return EventTypeList == null ? "-" : EventTypeList[ordinal];
            }
            else if (typeName == "PayrollCategory") {
                var PayrollCategoryList = @Html.Raw(Json.Encode(@ViewBag.PayrollCategoryList));
                return PayrollCategoryList == null ? "-" : PayrollCategoryList[ordinal];
            }
            else if (typeName == "Payroll") {
                var PayrollTypeList = @Html.Raw(Json.Encode(@ViewBag.PayrollTypeList));
                return PayrollTypeList == null ? "-" : PayrollTypeList[ordinal];
            }
            else if (typeName == "Icd") {
                var IcdTypeList = @Html.Raw(Json.Encode(@ViewBag.IcdTypeList));
                return IcdTypeList == null ? "-" : IcdTypeList[ordinal];
            }
        }
        else {
            return "-";
        }
    }
</script>

<script>
    function LoadClaimICDs(jsonValue) {
        var tbl = "tblIcds";

        if ($('#' + tbl).length > 0) {
            var data = JSON.parse(jsonValue);

            $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": false,
                "columns": [
                    { "data": "ICD_CODE" },
                    { "data": "ICD_NAME" },
                    {
                        "data": null,
                        "render": function (data) {
                            return GetValueOfEnum('Icd', data.ICD_TYPE);
                        }
                    }
                ]
            });
        }
    }

    function LoadClaimProcesses(jsonValue) {
        var tbl = "tblClaimProcesses";

        if ($('#' + tbl).length > 0) {
            var data = JSON.parse(jsonValue);

            $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": false,
                "columns": [
                    { "data": "PROCESS_CODE" },
                    { "data": "PROCESS_NAME" },
                    { "data": "REQUESTED_AMOUNT" }
                ]
            });
        }
    }

    var tblCoverage = null;
    //ClaimCoverages
    function LoadClaimCoverages(jsonValue) {
        var tbl = "tblClaimCoverages";

        if ($('#' + tbl).length > 0) {
            var data = JSON.parse(jsonValue);

            if (tblCoverage == null) {
                tblCoverage = $('#' + tbl).DataTable({
                    pageLength: 10,
                    language: {
                        "emptyTable": "Kayıt Bulunamadı",
                        "infoEmpty": "",
                        "info": "",
                        "search": "Arama: "
                    },
                    "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                    "bPaginate": false,
                    //"data": data,
                    "columns": [
                        { "data": "COVERAGE_NAME" },
                        { "data": "PROCESS_NAME" },
                        { "data": "REQUESTED" },
                        { "data": "AGREED_AMOUNT" },
                        { "data": "PROCESS_LIMIT" },
                        { "data": "COUNT" },
                        { "data": "DAY" },
                        { "data": "COINSURANCE" },
                        { "data": "CONFIRMED" },
                        { "data": "ACCEPTED" },
                        { "data": "EXGRACIA" },
                        { "data": "STOPPAGE" },
                        { "data": "SGK_AMOUNT" },
                        { "data": "INSURED_AMOUNT" },
                        { "data": "PAID" },
                        { "data": "RESULT" }
                    ]
                });
            }
            else {
                RefreshTable(tbl, data);

            }

            debugger;
            var totalRequested = 0.0, totalConfirmed = 0.0, totalPaid = 0.0, totalInsured = 0.0;
            $.each(data, function (index, claimProcessCoverage) {
                totalRequested += parseFloat(claimProcessCoverage.REQUESTED.replace(',', '.'));
                totalConfirmed += parseFloat(claimProcessCoverage.CONFIRMED.replace(',', '.'));
                totalPaid += parseFloat(claimProcessCoverage.PAID.replace(',', '.'));
                totalInsured += parseFloat(claimProcessCoverage.REQUESTED.replace(',', '.')) - parseFloat(claimProcessCoverage.PAID.replace(',', '.'));
            });

            $('#totalRequested').val(totalRequested.toFixed(2));
            $('#totalConfirmed').val(totalConfirmed.toFixed(2));
            $('#totalPaid').val(totalPaid.toFixed(2));
            $('#totalInsured').val(totalInsured.toFixed(2));
        }

    }
</script>

<script>
    $(document).ready(function () {
        LoadClaimICDs("[]");
        LoadClaimProcesses("[]");
        LoadClaimCoverages("[]");
    });
    var isfetchICD = false, isFetchProcess = false, isFetchCoverage = false;
    function GetClaimICDs() {
        debugger;
        if (selectedClaim != null && !isfetchICD) {
            $.ajax({
                url: "/ProviderClaimCompany/ICDs?claimId=" + $('#hdClaimId').val(),
                cache: false,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    debugger;
                    var responseData = $.parseJSON(data);
                    if (responseData != null && responseData.ResultCode == "100") {
                        if (responseData.Data != null && responseData.Data.jsonData != null) {
                            RefreshTable('tblIcds', JSON.parse(responseData.Data.jsonData));
                        } else {
                            RefreshTable('tblIcds', JSON.parse("[]"));
                        }
                        isfetchICD = true;

                        $.unblockUI();
                    } else {
                        swal({
                            title: "Hata!",
                            text: "Hasar tanı bilgilerine ulaşılamadı!",
                            icon: "warning"
                        });
                        $.unblockUI();
                    }
                },
                error: function (xhr, err) {
                    swal({
                        title: "Hata!",
                        text: "Hasar tanıları getirilirken hata oluştu!",
                        icon: "warning"
                    });
                    $.unblockUI();
                }
            });
        }
    }

    function GetClaimProcesses() {
        if (selectedClaim != null && !isFetchProcess) {
            $.ajax({
                url: "/ProviderClaimCompany/Processes?claimId=" + $('#hdClaimId').val(),
                cache: false,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    var responseData = $.parseJSON(data);
                    if (responseData != null && responseData.ResultCode == "100") {
                        if (responseData.Data != null && responseData.Data.jsonData != null) {
                            RefreshTable('tblClaimProcesses', JSON.parse(responseData.Data.jsonData));
                        } else {
                            RefreshTable('tblClaimProcesses', JSON.parse("[]"));

                        }
                        isFetchProcess = true;

                        $.unblockUI();
                    } else {
                        swal({
                            title: "Hata!",
                            text: "Hasar işlem bilgilerine ulaşılamadı!",
                            icon: "warning"
                        });
                        $.unblockUI();
                    }
                },
                error: function (xhr, err) {
                    swal({
                        title: "Hata!",
                        text: "Hasar işlemleri getirilirken hata oluştu!",
                        icon: "warning"
                    });
                    $.unblockUI();
                }
            });
        }
    }

    function GetClaimCoverages() {
        if (selectedClaim != null && !isFetchCoverage) {
            $.ajax({
                url: "/ProviderClaimCompany/Coverages?claimId=" + $('#hdClaimId').val(),
                cache: false,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    var responseData = $.parseJSON(data);
                    if (responseData != null) {
                        LoadClaimCoverages(JSON.parse(data));
                    }
                    isFetchCoverage = true;

                    $.unblockUI();
                },
                error: function (xhr, err) {
                    swal({
                        title: "Hata!",
                        text: "Hasar teminatları getirilirken hata oluştu!",
                        icon: "warning"
                    });
                    $.unblockUI();
                }
            });
        }
    }
</script>