﻿<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form mbui-inside-form">
                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Eksik Evrak Listesi</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a class="mbui-add" data-toggle="modal" data-target="#frmMissingDoc_Modal" data-tooltip="tooltip" data-placement="bottom" title="Eksik Evrak Ekle"><i class="fa fa-plus"></i></a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="15">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" href="/Claim/Index" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                    <input type="hidden" name="hdClaimId" id="hdClaimId" value="@ViewBag.ClaimId" />
                </div>

                <div class="mbui-body mbui-inside-body">
                    <div class="table-responsive">
                        <table class="table table-md table-custom" id="tblMissingDoc">
                            <thead>
                                <tr>
                                    <th>Evrak Adı</th>
                                    <th>Giriş Tarihi</th>
                                    <th>Geliş Tarihi</th>
                                    <th>Kurum İade Tarihi</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmMissingDoc_Modal -->
    <div class="modal" id="frmMissingDoc_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmMissingDoc_Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmMissingDoc_Modal">Eksik Evrak Ekle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="/Claim/AddMissingDoc" method="post" name="frmMissingDoc" id="frmMissingDoc" data-toggle="validator">
                                    <fieldset>
                                        <div class="col-sm-12">
                                            <input type="hidden" id="hdClaimId_MissingDoc" name="hdClaimId" value="@ViewBag.ClaimId" />

                                            <div id="divMissingDocument">
                                                <label for="DOCUMENT_LIST" class="control-label"><span class="color-danger">*</span>Eksik Evrak</label>
                                                <select id="DOCUMENT_LIST" name="DOCUMENT_LIST" data-placeholder="Seçiniz" class="chosen-select" multiple required>
                                                    @foreach (var ClaimMissingDocType in ViewBag.ClaimMissingDocTypeList)
                                                    {
                                                        <option value="@ClaimMissingDocType.Key">@ClaimMissingDocType.Value</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="btn-wrapper-center">
                                            <button type="button" id="btnfrmMissingDocSave" onclick="MissingDocOpr('frmMissingDoc','frmMissingDoc_Modal');" class="btn btn-success btn-sm mr-10">Ekle</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal frmSetMissingDoc_Modal -->
    <div class="modal" id="frmSetMissingDoc_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmSetMissingDoc_Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmSetMissingDoc_Modal">Düzenle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="/Claim/UpdateMissingDocDate" method="post" name="frmSetMissingDoc" id="frmSetMissingDoc" data-toggle="validator">
                                    <fieldset>
                                        <div class="col-sm-12">
                                            <input type="hidden" class="inputHidden" id="hdClaimMisssingDocId" name="hdClaimMisssingDocId" value="0" />

                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="INCOMING_DATE" class="control-label">Geliş Tarihi</label>
                                                        <div class="input-group datepicker">
                                                            <input type="text" class="form-control dateMask" name="INCOMING_DATE" id="INCOMING_DATE_frmSetMissingDoc" value="" />
                                                            <span class="input-group-addon">
                                                                <span class="fa fa-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="btn-wrapper-center">
                                            <button type="button" id="btnfrmSetMissingDocSave" onclick="MissingDocOpr('frmSetMissingDoc','frmSetMissingDoc_Modal');" class="btn btn-success btn-sm mr-10">Güncelle</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
    var tblMissingDoc = null;
    $(document).ready(function () {
        LoadMissingDoc();
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });

    function MissingDocOpr(frmName,modal) {
        var form = $('#' + frmName);
        form.validate();

        if (form.valid()) {

            var formData = new FormData(form[0]);
            $.blockUI({ message: $('#domMessage') });

            var action = form[0].action;

            $.ajax({
                type: form[0].method,
                contentType: "application/json; charset=utf-8",
                url: action,
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    $.unblockUI();
                    var responseData = $.parseJSON(data);
                    if (responseData.ResultCode == "100") {
                        swal({
                            title: "İşlem Başarılı!",
                            text: responseData.ResultMessage,
                            icon: "success"
                        });
                        $('#' + modal).modal("toggle");
                    }
                    else {
                        swal({
                            title: "Hata!",
                            text: responseData.ResultCode + " : " + responseData.ResultMessage,
                            icon: "warning"
                        });
                    }
                    tblMissingDoc.ajax.reload();
                },
                error: function (xhr, err) {
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                    $.unblockUI();
                }
            })
        } else {
            $.unblockUI();
            swal({
                title: "Hata",
                text: "Zorunlu alanları doldurunuz!",
                icon: "success"
            });
        }
    }

    function ConfirmDeleteMissingDoc(title, text, type, href) {
        swal({
            title: title,
            text: text,
            type: type,
            showCancelButton: true,
            cancelButtonText: "Hayır",
            confirmButtonText: "Evet",
            closeOnConfirm: true,
        },
            function (isConfirm) {
                if (isConfirm) {
                    Loading();
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: href,
                        cache: false,
                        contentType: false,
                        processData: false,
                        data: null,
                        success: function (data) {
                            $.unblockUI();
                            var responseData = $.parseJSON(data);
                            if (responseData.ResultCode == "100") {
                                swal({
                                    title: "İşlem Başarılı!",
                                    text: responseData.ResultMessage,
                                    icon: "success"
                                });
                                tblMissingDoc.ajax.reload();
                            }
                            else {
                                swal({
                                    title: "Hata!",
                                    text: responseData.ResultCode + " : " + responseData.ResultMessage,
                                    icon: "warning"
                                });
                            }
                        },
                        error: function (xhr, err) {
                            alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                            alert("responseText: " + xhr.responseText);
                            $.unblockUI();
                        }
                    })
                    //tempdata alerti siler
                    $.getJSON("/Common/ClearTempData?key=Alert", function (data) { });
                }
                else {
                    $.unblockUI();

                }
            });
    }

    function LoadMissingDoc() {
        tblMissingDoc = $("#tblMissingDoc").DataTable({
            "ajax": {
                "url": "/Claim/GetMissingDoc",
                "type": "POST",
                "datatype": "json",
                "data": function (dt) {
                    dt.ClaimId = $('#hdClaimId').val();
                    dt.isAll = "1";
                },
            },

            "columns": [
                {
                    "data": "TYPE",
                    "render": function (data) {
                        return '<p><strong>' + GetValueOfEnum('ClaimMissingDoc', data) + '</strong></p>';
                    }
                },
                {
                    "data": "MISSING_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                {
                    "data": "INCOMING_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                {
                    "data": "RETURN_DATE",
                    "render": function (data) {
                        return data == null ? "-" : formatdate(data);
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        debugger;
                        return '<div class="islem">' +
                            '<div class="btn-group fr">' +
                            '<a onclick="OpenMissingDocUpdateModal(\'' + (data.INCOMING_DATE == null ? "" : formatdate(data.INCOMING_DATE)) + '\',' + data.Id + ',\'frmSetMissingDoc_Modal\')" href="#" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>' +
                            '<a onclick="ConfirmDeleteMissingDoc(\'Sil\', \'Silmek istediğinizden emin misiniz ?\', \'warning\', \'/Claim/DeleteMissingDoc?ClaimMisssingDocId=' + data.Id + '\');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>' +
                            '</div>' +
                            '</div>';
                    }
                }
            ],
            pageLength: 10,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    }

    function OpenMissingDocUpdateModal(date, id, modal) {
        $('#INCOMING_DATE_frmSetMissingDoc').val(date);
        $('#hdClaimMisssingDocId').val(id);
        $('#' + modal).modal("toggle");
    }

    function GetValueOfEnum(typeName, ordinal) {
        if (ordinal != null) {
            if (typeName == "ClaimMissingDoc") {
                var ClaimMissingDocTypeList = @Html.Raw(Json.Encode(@ViewBag.ClaimMissingDocTypeList));
                return ClaimMissingDocTypeList == null ? "-" : ClaimMissingDocTypeList[ordinal];
            }
        }
        else {
            return "-";
        }
    }
</script>