﻿@{

    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_ProteinCompanyLayout.cshtml";
}

@Html.Raw($"Dashboard Bugün : {DateTime.Now}")
<section>
    <div class="row">
        <div class="col-sm-12" style="
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
">
            <div class="mbui-form mbui-inside-form">
                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Kullanım Kılavuzu</strong></h3>
                </div>
                <div class="mbui-inside-body active">
                    <label style="
    font-size: 15px;
    padding: 10px;
">Kullanım klavuzu için<span><a href="~/assets/excelfiles/Sigorta Şirketi Ekranı.pdf" target="_blank" role="button" tabindex="0">tıklayınız.</a></span></label>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });
</script>
