﻿@model Protein.Web.Models.ExportModel.ExportVM

<section class="content">
    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Aktif Sigortalı</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="5">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 5
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="10">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" data-toggle="modal" data-target="#modalExport" class="mbui-exel" style="background-color:green" data-tooltip="tooltip" data-placement="bottom" title="Excel Dışa Aktar">
                                <i class="fa fa-file-excel-o"></i>
                            </a>

                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-toggle="modal" data-target="#modalExport" class="mbui-exel">
                                        <i class="ExcelExport fa fa-file-excel-o"></i> Excel
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active Enterclick">
                    <form class="form-horizontal" role="form" action="/Provider/ProviderGroupFilter" method="post">
                        <div class="col-sm-12">
                            <div class="mbui-filter-wrapper" style="display:none;">
                                <div class="row">

                                    <div class="col-sm-2">
                                        <label for="policyCompany" class="control-label">Sigorta Şirketi</label>
                                        <select tabindex="3" class="chosen-select w-100-pr mbui-select bg-white" multiple title="Seçiniz" name="policyCompany" id="policyCompany" data-placeholder="Sigorta Şirketini Seçiniz...">
                                            <option value="">Tümü</option>
                                            @foreach (var item in ViewBag.CompanyList)
            {
                                <option value="@item.Id">@item.Name</option>
}
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="product" class="control-label">Ürün</label>
                                        <select class="chosen-select w-100-pr mbui-select bg-white" multiple name="product" id="product" title="Seçiniz" data-placeholder="Ürün Seçiniz...">
                                            <option>TÜMÜ</option>
                                            @foreach (var item in ViewBag.ProductList)
            {
                                <option value="@item.Id">@item.Name</option>
}
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="package" class="control-label">Paket</label>
                                        <select class="chosen-select w-100-pr mbui-select bg-white" multiple name="package" id="package" title="Seçiniz" data-placeholder="Paket Seçiniz...">
                                            <option>TÜMÜ</option>
                                            @foreach (var item in ViewBag.PackageList)
            {
                                <option value="@item.Id">@item.Name</option>
}
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="insuredFamilyNo" class="control-label">Aile No</label>
                                        <input name="insuredFamilyNo" class="form-control" id="insuredFamilyNo" type="number" placeholder="Aile No giriniz" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="AgencyNo" class="control-label">Acente No</label>
                                        <input name="AgencyNo" class="form-control" id="AgencyNo" type="text" placeholder="Acente No giriniz" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="AgencyName" class="control-label">Acente Adı</label>
                                        <input name="AgencyName" class="form-control" id="AgencyName" type="text" placeholder="Acente Adı giriniz" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="policyStatus" class="control-label">Poliçe Durumu</label>
                                        <select class="selectpicker w-100-pr mbui-select bg-white" name="policyStatus" id="policyStatus" title="Seçiniz">
                                            @foreach (var PolicyStatus in ViewBag.PolicyStatusList)
            {
                                <option value="@PolicyStatus.Key" title="@PolicyStatus.Value">@PolicyStatus.Value</option>
}
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="policyGroup" class="control-label">Poliçe Grubu</label>
                                        <select class="chosen-select w-100-pr mbui-select bg-white" name="policyGroup" id="policyGroup" title="Seçiniz">
                                            <option value="">TÜMÜ</option>
                                            @foreach (var PolicyGroup in ViewBag.PolicyGroupList)
            {
                                <option value="@PolicyGroup.Id">@PolicyGroup.Name</option>
}
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="policyType" class="control-label">Üretim Tipi</label>
                                        <select class="selectpicker w-100-pr mbui-select bg-white" name="policyType" id="policyType" title="Seçiniz">
                                            @foreach (var PolicyType in ViewBag.PolicyTypeList)
            {
                                <option value="@PolicyType.Key">@PolicyType.Value</option>
}
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="endorsementType" class="control-label">Zeyil Tipi</label>
                                        <select class="selectpicker w-100-pr mbui-select bg-white" name="endorsementType" id="endorsementType" title="Seçiniz">
                                            @foreach (var EndorsementType in ViewBag.EndorsementTypeList)
            {
                                <option value="@EndorsementType.Key">@EndorsementType.Value</option>
}
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="contactType" class="control-label">Sigorta Ettiren Tipi</label>
                                        <select class="selectpicker w-100-pr mbui-select bg-white" name="contactType" id="contactType" title="Seçiniz">
                                            @foreach (var ContactType in ViewBag.ContactTypeList)
            {
                                <option value="@ContactType.Key">@ContactType.Value</option>
}
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="insuredStatus" class="control-label">Sigortalı Durumu</label>
                                        <select class="selectpicker w-100-pr mbui-select bg-white" name="insuredStatus" id="insuredStatus" title="Seçiniz">
                                            @foreach (var InsuredStatus in ViewBag.InsuredStatusList)
            {
                                <option value="@InsuredStatus.Key">@InsuredStatus.Value</option>
}
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="agencyType" class="control-label">Acente Tipi</label>
                                        <select class="selectpicker w-100-pr mbui-select bg-white" name="agencyType" id="agencyType" title="Seçiniz">
                                            @foreach (var AgencyType in ViewBag.AgencyTypeList)
            {
                                <option value="@AgencyType.Key">@AgencyType.Value</option>
}
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="jobType" class="control-label">İş Tipi</label>
                                        <select class="selectpicker w-100-pr mbui-select bg-white" name="jobType" id="jobType" title="Seçiniz">
                                            <option value="">TÜMÜ</option>
                                            <option value="1">Yeni İş</option>
                                            <option value="2">Yenileme</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="renewalGuaranteeType" class="control-label">Yenileme Garanti Tipi</label>
                                        <select class="selectpicker w-100-pr mbui-select bg-white" name="renewalGuaranteeType" id="renewalGuaranteeType" title="Seçiniz">
                                            @foreach (var RenewalGuaranteeType in ViewBag.RenewalGuaranteeTypeList)
            {
                                <option value="@RenewalGuaranteeType.Key" data-content="<span title='@(RenewalGuaranteeType.Value)'>@(RenewalGuaranteeType.Value)</span>">@RenewalGuaranteeType.Value</option>
}
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="vipType" class="control-label">VIP</label>
                                        <select class="selectpicker w-100-pr mbui-select bg-white" name="vipType" id="vipType" title="Seçiniz">
                                            @foreach (var VIPType in ViewBag.VIPTypeList)
            {
                                <option value="@VIPType.Key">@VIPType.Value</option>
}
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="policyNo" class="control-label">Poliçe No</label>
                                        <input name="policyNo" class="form-control" id="policyNo" type="number" placeholder="Poliçe No giriniz" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="policyRenewalNo" class="control-label">Yenileme No</label>
                                        <input name="policyRenewalNo" class="form-control" id="policyRenewalNo" type="number" placeholder="Poliçe Yenileme No giriniz" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="endorsementNo" class="control-label">Zeyil No</label>
                                        <input name="endorsementNo" class="form-control" id="endorsementNo" type="number" placeholder="Zeyil No giriniz" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="insuredTCKN" class="control-label">Sigortalı TCKN/VKN/Past No</label>
                                        <input name="insuredTCKN" class="form-control" id="insuredTCKN" type="text" placeholder="Sigortalı TCKN/VKN/Passport No giriniz" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="insuredName" class="control-label">Sigortalı Adı</label>
                                        <input name="insuredName" class="form-control" id="insuredName" type="text" placeholder="Sigortalı Adı giriniz" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="insuredSurName" class="control-label">Sigortalı Soyadı</label>
                                        <input name="insuredSurName" class="form-control" id="insuredSurName" type="text" placeholder="Sigortalı Soyadı giriniz" />
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="policyStartDateStart" class="control-label">Poliçe Başlangıç Tarihi (&lt;)</label>
                                        <div class='input-group datepicker'>
                                            <input type='text' class="form-control dateMask" name="policyStartDateStart" id="policyStartDateStart" value="" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="policyStartDateEnd" class="control-label">Poliçe Başlangıç Tarihi (&gt;)</label>
                                        <div class='input-group datepicker'>
                                            <input type='text' class="form-control dateMask" name="policyStartDateEnd" id="policyStartDateEnd" value="" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="policyEndDateStart" class="control-label">Poliçe Bitiş Tarihi (&lt;)</label>
                                        <div class='input-group datepicker'>
                                            <input type='text' class="form-control dateMask" name="policyEndDateStart" id="policyEndDateStart" value="" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="policyEndDateEnd" class="control-label">Poliçe Bitiş Tarihi (&gt;)</label>
                                        <div class='input-group datepicker'>
                                            <input type='text' class="form-control dateMask" name="policyEndDateEnd" id="policyEndDateEnd" value="" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="policyIssueDateStart" class="control-label">Poliçe Tanzim Tarihi (&lt;)</label>
                                        <div class='input-group datepicker'>
                                            <input type='text' class="form-control dateMask" name="policyIssueDateStart" id="policyIssueDateStart" value="" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="policyIssueDateEnd" class="control-label">Poliçe Tanzim Tarihi (&gt;)</label>
                                        <div class='input-group datepicker'>
                                            <input type='text' class="form-control dateMask" name="policyIssueDateEnd" id="policyIssueDateEnd" value="" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="activeInsuredDateEnd" class="control-label">Aktif Sigortalı Tarih Aralığı(&gt;)</label>
                                        <div class='input-group datepicker'>
                                            <input type='text' class="form-control dateMask" name="activeInsuredDateEnd" id="activeInsuredDateEnd" value="" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="activeInsuredDateStart" class="control-label">Aktif Sigortalı Tarih Aralığı(&lt;)</label>
                                        <div class='input-group datepicker'>
                                            <input type='text' class="form-control dateMask" name="activeInsuredDateStart" id="activeInsuredDateStart" value="" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>


                                    <div class="col-sm-2">
                                        <label for="endorsementIssueDateStart" class="control-label">Zeyl Tanzim Tarihi (&lt;)</label>
                                        <div class='input-group datepicker'>
                                            <input type='text' class="form-control dateMask" name="endorsementIssueDateStart" id="endorsementIssueDateStart" value="" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="endorsementIssueDateEnd" class="control-label">Zeyl Tanzim Tarihi (&gt;)</label>
                                        <div class='input-group datepicker'>
                                            <input type='text' class="form-control dateMask" name="endorsementIssueDateEnd" id="endorsementIssueDateEnd" value="" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                    <input type="hidden" name="isFilter" id="isFilter" value="0" />

                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="button" onclick="FilterClean()" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtreleri Temizle</button>

                                        <button type="button" onclick="Fclick('tblRptProduction')" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-custom" id="tblRptProduction">
                                <thead>
                                    <tr>
                                        <th>ACENTEADI</th>
                                        <th>ACENTENO</th>
                                        <th>BEYAN_NOTLAR</th>
                                        <th>BILGI_NOTLAR</th>
                                        <th>BRYTIP</th>
                                        <th>CINS</th>
                                        <th>DOGUMTEMTAR</th>
                                        <th>ENDORSEMENT_TYPE</th>
                                        <th>GENDER</th>
                                        <th>GRUPID</th>
                                        <th>GRUPZEYLNO</th>
                                        <th>HOLDINGAD</th>
                                        <th>HOLDINGID</th>
                                        <th>ILKSIGAYKTAR</th>
                                        <th>ILKSIGORTATAR</th>
                                        <th>INDIVIDUAL_TYPE</th>
                                        <th>INSURED_STATUS</th>
                                        <th>IS_VIP</th>
                                        <th>MEDIKAL_NOTLAR</th>
                                        <th>MUAFIYET_ACIKLAMA</th>
                                        <th>PACKAGE_ID</th>
                                        <th>PASAPORTNO</th>
                                        <th>POLBASTAR</th>
                                        <th>POLBITTAR</th>
                                        <th>POLICENO</th>
                                        <th>POLICE_DURUMU</th>
                                        <th>POLICE_TIPI</th>
                                        <th>POLICY_STATUS</th>
                                        <th>POLICY_TYPE</th>
                                        <th>POLID</th>
                                        <th>POLTANTAR</th>
                                        <th>PORTNO</th>
                                        <th>PRIM</th>
                                        <th>PRODUCT_CODE</th>
                                        <th>PRODUCT_ID</th>
                                        <th>REJITAR</th>
                                        <th>RENEWAL_GUARANTEE_TYPE</th>
                                        <th>SIGAD</th>
                                        <th>SIGAKTIF</th>
                                        <th>SIGDOGTAR</th>
                                        <th>SIGETAD</th>
                                        <th>SIGETID</th>
                                        <th>SIGSOYAD</th>
                                        <th>SIRKETAD</th>
                                        <th>SIRKETGIRTAR</th>
                                        <th>SIRKETKOD</th>
                                        <th>TAZMINAT_NOTLAR</th>
                                        <th>TCKN</th>
                                        <th>TEMPAKETAD</th>
                                        <th>TEMPAKETNO</th>
                                        <th>URUN</th>
                                        <th>UYRUK</th>
                                        <th>UYRUK_KODU</th>
                                        <th>VIP</th>
                                        <th>YENIISYENILEME</th>
                                        <th>YENILEMENO</th>
                                        <th>YENILEME_GARANTISI_TARIHI</th>
                                        <th>YGTIP</th>
                                        <th>ZEYLBASTAR</th>
                                        <th>ZEYLCIKISSEBEBI</th>
                                        <th>ZEYLTANTAR</th>
                                        <th>ZEYLTIPI</th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model)
</section>

<script>
    var table = null;
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));

        $('.mbui-list .dropdown-menu li a').click(function () {
            var dataShow = $(this).attr('data-value');
            $('.dataTables_length select option').prop('selected', '');
            $(this).closest('.mbui-form').find('.dataTables_length select option[value="' + dataShow + '"]').prop('selected', 'selected').trigger('change');
        });

        table = $("#tblRptProduction").DataTable({
            "ajax": {
                "url": "/Report/GetActiveInsuredList",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                "data": function (filter) {
                    filter.policyCompany = $('#policyCompany').val();
                    filter.product = $('#product').val();
                    filter.package = $('#package').val();
                    filter.insuredFamilyNo = $('#insuredFamilyNo').val();
                    filter.AgencyNo = $('#AgencyNo').val();
                    filter.AgencyName = $('#AgencyName').val();
                    filter.policyStatus = $('#policyStatus').val();
                    filter.policyGroup = $('#policyGroup').val();
                    filter.policyType = $('#policyType').val();
                    filter.endorsementType = $('#endorsementType').val();
                    filter.contactType = $('#contactType').val();
                    filter.insuredStatus = $('#insuredStatus').val();
                    filter.agencyType = $('#agencyType').val();
                    filter.jobType = $('#jobType').val();
                    filter.renewalGuaranteeType = $('#renewalGuaranteeType').val();
                    filter.vipType = $('#vipType').val();
                    filter.policyNo = $('#policyNo').val();
                    filter.policyRenewalNo = $('#policyRenewalNo').val();
                    filter.endorsementNo = $('#endorsementNo').val();
                    filter.insuredTCKN = $('#insuredTCKN').val();
                    filter.insuredName = $('#insuredName').val();
                    filter.insuredSurName = $('#insuredSurName').val();
                    filter.policyStartDateStart = $('#policyStartDateStart').val();
                    filter.policyStartDateEnd = $('#policyStartDateEnd').val();
                    filter.policyEndDateStart = $('#policyEndDateStart').val();
                    filter.policyEndDateEnd = $('#policyEndDateEnd').val();
                    filter.policyIssueDateStart = $('#policyIssueDateStart').val();
                    filter.policyIssueDateEnd = $('#policyIssueDateEnd').val();
                    filter.endorsementIssueDateStart = $('#endorsementIssueDateStart').val();
                    filter.endorsementIssueDateEnd = $('#endorsementIssueDateEnd').val();
                    filter.activeInsuredDateStart = $('#activeInsuredDateStart').val();
                    filter.activeInsuredDateEnd = $('#activeInsuredDateEnd').val();
                    filter.isFilter = $('#isFilter').val();

                },
                "complete": function (settings, json) {
                    var responseText = JSON.parse(settings.responseText);
                    $("#WhereCondition").val(responseText.whereConditition);
                    $.unblockUI();
                }
            },
            "columns": [
                { "data": "ACENTEADI", "name": "ACENTEADI" },
                { "data": "ACENTENO", "name": "ACENTENO" },
                { "data": "BEYAN_NOTLAR", "name": "BEYAN_NOTLAR" },
                { "data": "BILGI_NOTLAR", "name": "BILGI_NOTLAR" },
                { "data": "BRYTIP", "name": "BRYTIP" },
                { "data": "CINS", "name": "CINS" },
                { "data": "DOGUMTEMTAR", "name": "DOGUMTEMTAR" },
                { "data": "ENDORSEMENT_TYPE", "name": "ENDORSEMENT_TYPE" },
                { "data": "GENDER", "name": "GENDER" },
                { "data": "GRUPID", "name": "GRUPID" },
                { "data": "GRUPZEYLNO", "name": "GRUPZEYLNO" },
                { "data": "HOLDINGAD", "name": "HOLDINGAD" },
                { "data": "HOLDINGID", "name": "HOLDINGID" },
                { "data": "ILKSIGAYKTAR", "name": "ILKSIGAYKTAR" },
                { "data": "ILKSIGORTATAR", "name": "ILKSIGORTATAR" },
                { "data": "INDIVIDUAL_TYPE", "name": "INDIVIDUAL_TYPE" },
                { "data": "INSURED_STATUS", "name": "INSURED_STATUS" },
                { "data": "IS_VIP", "name": "IS_VIP" },
                { "data": "MEDIKAL_NOTLAR", "name": "MEDIKAL_NOTLAR" },
                { "data": "MUAFIYET_ACIKLAMA", "name": "MUAFIYET_ACIKLAMA" },
                { "data": "PACKAGE_ID", "name": "PACKAGE_ID" },
                { "data": "PASAPORTNO", "name": "PASAPORTNO" },
                { "data": "POLBASTAR", "name": "POLBASTAR" },
                { "data": "POLBITTAR", "name": "POLBITTAR" },
                { "data": "POLICENO", "name": "POLICENO" },
                { "data": "POLICE_DURUMU", "name": "POLICE_DURUMU" },
                { "data": "POLICE_TIPI", "name": "POLICE_TIPI" },
                { "data": "POLICY_STATUS", "name": "POLICY_STATUS" },
                { "data": "POLICY_TYPE", "name": "POLICY_TYPE" },
                { "data": "POLID", "name": "POLID" },
                { "data": "POLTANTAR", "name": "POLTANTAR" },
                { "data": "PORTNO", "name": "PORTNO" },
                { "data": "PRIM", "name": "PRIM" },
                { "data": "PRODUCT_CODE", "name": "PRODUCT_CODE" },
                { "data": "PRODUCT_ID", "name": "PRODUCT_ID" },
                { "data": "REJITAR", "name": "REJITAR" },
                { "data": "RENEWAL_GUARANTEE_TYPE", "name": "RENEWAL_GUARANTEE_TYPE" },
                { "data": "SIGAD", "name": "SIGAD" },
                { "data": "SIGAKTIF", "name": "SIGAKTIF" },
                { "data": "SIGDOGTAR", "name": "SIGDOGTAR" },
                { "data": "SIGETAD", "name": "SIGETAD" },
                { "data": "SIGETID", "name": "SIGETID" },
                { "data": "SIGSOYAD", "name": "SIGSOYAD" },
                { "data": "SIRKETAD", "name": "SIRKETAD" },
                { "data": "SIRKETGIRTAR", "name": "SIRKETGIRTAR" },
                { "data": "SIRKETKOD", "name": "SIRKETKOD" },
                { "data": "TAZMINAT_NOTLAR", "name": "TAZMINAT_NOTLAR" },
                { "data": "TCKN", "name": "TCKN" },
                { "data": "TEMPAKETAD", "name": "TEMPAKETAD" },
                { "data": "TEMPAKETNO", "name": "TEMPAKETNO" },
                { "data": "URUN", "name": "URUN" },
                { "data": "UYRUK", "name": "UYRUK" },
                { "data": "UYRUK_KODU", "name": "UYRUK_KODU" },
                { "data": "VIP", "name": "VIP" },
                { "data": "YENIISYENILEME", "name": "YENIISYENILEME" },
                { "data": "YENILEMENO", "name": "YENILEMENO" },
                { "data": "YENILEME_GARANTISI_TARIHI", "name": "YENILEME_GARANTISI_TARIHI" },
                { "data": "YGTIP", "name": "YGTIP" },
                { "data": "ZEYLBASTAR", "name": "ZEYLBASTAR" },
                { "data": "ZEYLCIKISSEBEBI", "name": "ZEYLCIKISSEBEBI" },
                { "data": "ZEYLTANTAR", "name": "ZEYLTANTAR" },
                { "data": "ZEYLTIPI", "name": "ZEYLTIPI" },

              
              

            ],
            pageLength: 5,
            scrollX: true,
            "serverSide": "true",
            "aLengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    });

    function Fclick(tbl) {
        $('#isFilter').val("1");

        table.ajax.reload();
    }

    function FillCompanies() {
            $.ajax({
                url: "/Product/Companies",
                cache: false,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                    console.log('Sigortalı sorgula  - Şirketler sorgulandı!');
                },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        debugger;
                        isCompanyListFetched = true;
                        // verileri dolduralım...
                        // $('#hdCompanies').val(data); -- <input type="hidden" id="hdDoctorBranchs" name="hdDoctorBranchs" />
                        var responseData = $.parseJSON(data);
                        var selectCompanyList = document.getElementById('policyCompany');
                        var optEmpty = document.createElement("option");
                        optEmpty.value = "";
                        optEmpty.innerHTML = "TÜMÜ"; // whatever property it has

                        // then append it to the select element
                        selectCompanyList.appendChild(optEmpty);

                        responseData.forEach(function (company) {
                            debugger;
                            console.log("Şirket : " + company);
                            var opt = document.createElement("option");
                            opt.value = company.Id;
                            opt.innerHTML = company.Name;
                            selectCompanyList.appendChild(opt);
                        });
                        $('#policyCompany').trigger("chosen:updated");
                    }
                    $.unblockUI();
                },
                error: function (xhr, err) {
                    swal({
                        title: "Hata!",
                        text: "Sigorta şirketleri listesi getirilirken hata oluştu!",
                        icon: "warning"
                    });
                    $.unblockUI();
                }
            });
    }

    function GetProducttt(companyInp, productInp, PackageInp) {
        debugger;
        $('#' + PackageInp).html("");
        $('#' + PackageInp).trigger("chosen:updated");

        var companyIdLst = $('#' + companyInp).val();

        $.ajax({
            url: '/Common/FillProductbyCompanyList',
            type: "POST",
            dataType: "JSON",
            data: { companyIdList: companyIdLst },
            success: function (data) {
                debugger;
                $("#" + productInp).html(""); // clear before appending new list

                $.each(JSON.parse(data), function (i, item) {
                    $("#" + productInp).append($('<option></option>').val(item.Id).html(item.Name));
                });
                $("#" + productInp).trigger("chosen:updated");

            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
                $.unblockUI();
            }
        });
    }

    function GetPackage(companyInp, productInp, PackageInp) {

    }

    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });

    function getEnterFunction() {
        Fclick('tblRptProduction');
    }

</script>
