﻿@model Protein.Web.Models.ExportModel.ExportVM

<section class="content">
    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Provizyon Detay Raporu</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="5">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 5
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="10">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-toggle="modal" data-target="#modalExport" class="mbui-exel">
                                        <i class="ExcelExport fa fa-file-excel-o"></i> Excel
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active Enterclick">
                    <form class="form-horizontal" role="form" action="/Provider/ProviderGroupFilter" method="post" id="frmProviderGroup" data-toggle="validator">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="Company" class="control-label">Sigorta Şirketi</label>
                                    <select class="chosen-select w-100-pr mbui-select bg-white" multiple name="Company" id="Company" title="Seçiniz" data-placeholder="Sigorta Şirketini Seçiniz...">
                                        @foreach (var Company in ViewBag.companyList)
                                        {
                                            <option value="@Company.Id">@Company.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="product" class="control-label">Ürün</label>
                                    <select class="chosen-select w-100-pr mbui-select bg-white" multiple name="product" id="product" title="Seçiniz" data-placeholder="Ürün Seçiniz...">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var item in ViewBag.ProductList)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="subproduct" class="control-label">Alt Ürün</label>
                                    <select class="chosen-select w-100-pr mbui-select bg-white" multiple name="subproduct" id="subproduct" title="Seçiniz" data-placeholder="Alt Ürün Seçiniz...">
                                        <option>TÜMÜ</option>
                                        @foreach (var item in ViewBag.SubProductList)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="package" class="control-label">Paket</label>
                                    <select class="chosen-select w-100-pr mbui-select bg-white" multiple name="package" id="package" title="Seçiniz" data-placeholder="Paket Seçiniz...">
                                        <option>TÜMÜ</option>
                                        @foreach (var item in ViewBag.PackageList)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="claimListProvider" class="control-label">Sağlık Merkezi</label>
                                    <select tabindex="3" class="chosen-select w-100-pr mbui-select bg-white" multiple id="claimListProvider" name="claimListProvider" title="Seçiniz" data-placeholder="Sağlık Merkezi Seçiniz...">
                                        @foreach (var ProviderType in ViewBag.claimListProviderTypes)
                                        {
                                            <optgroup label="@ProviderType.Value">
                                                @foreach (var Provider in ViewBag.claimListProviders)
                                                {
                                                    if (Provider.PROVIDER_TYPE == ProviderType.Key)
                                                    {
                                                        <option value="@Provider.PROVIDER_ID">@Provider.PROVIDER_NAME</option>
                                                    }
                                                }
                                            </optgroup>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="providerGroup" class="control-label">Sağlık Merkezi Grubu</label>
                                    <select class="chosen-select w-100-pr mbui-select bg-white" name="providerGroup" id="providerGroup" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var ProviderGroup in ViewBag.ProviderGroupList)
                                        {
                                            <option value="@ProviderGroup.Id">@ProviderGroup.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="providerNo" class="control-label">Kurum Kodu</label>
                                    <input name="providerNo" class="form-control" id="providerNo" type="text" placeholder="Kurum Kodunu giriniz" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="policyGroup" class="control-label">Holding</label>
                                    <select class="chosen-select w-100-pr mbui-select bg-white" name="policyGroup" id="policyGroup" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var PolicyGroup in ViewBag.PolicyGroupList)
                                        {
                                            <option value="@PolicyGroup.Id">@PolicyGroup.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="productType" class="control-label">Ürün Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="productType" id="productType" multiple title="Seçiniz">
                                        @foreach (var ProductType in ViewBag.ProductTypeList)
                                        {
                                            <option value="@ProductType.Key">@ProductType.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="policyType" class="control-label">Üretim Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="policyType" id="policyType" title="Seçiniz">
                                        @foreach (var PolicyType in ViewBag.PolicyTypeList)
                                        {
                                            <option value="@PolicyType.Key">@PolicyType.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="coverageType" class="control-label">Teminat Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="coverageType" id="coverageType" title="Seçiniz">
                                        @foreach (var CoverageType in ViewBag.CoverageTypeList)
                                        {
                                            <option value="@CoverageType.Key">@CoverageType.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">

                                    <label for="claimStatus" class="control-label">Hasar Durumu</label>
                                    <select tabindex="3" class="selectpicker w-100-pr mbui-select bg-white" id="claimStatus" name="claimStatus" multiple title="Seçiniz">
                                        @foreach (var ClaimStatus in ViewBag.ClaimStatusList)
                                        {
                                            if (@ClaimStatus.Key != "0" && @ClaimStatus.Key != "1")
                                            {
                                                <option value="@ClaimStatus.Key">@ClaimStatus.Value</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="claimSource" class="control-label">Üretim Kanalı</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="claimSource" id="claimSource" title="Seçiniz">
                                        @foreach (var ClaimStatus in ViewBag.ClaimSourceList)
                                        {
                                            <option value="@ClaimStatus.Key">@ClaimStatus.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="claimPaymentType" class="control-label">Ödeme Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="claimPaymentType" id="claimPaymentType" title="Seçiniz">
                                        @foreach (var ClaimPaymentType in ViewBag.ClaimPaymentTypeList)
                                        {
                                            <option value="@ClaimPaymentType.Key">@ClaimPaymentType.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="jobType" class="control-label">İş Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="jobType" id="jobType" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        <option value="YENİ İŞ">Yeni İş</option>
                                        <option value="YENİLEME">Yenileme</option>
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="AgencyName" class="control-label">Acente Adı</label>
                                    <input name="AgencyName" class="form-control" id="AgencyName" type="text" placeholder="Acente Adı giriniz" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="AgencyNo" class="control-label">Acente No</label>
                                    <input name="AgencyNo" class="form-control" id="AgencyNo" type="text" placeholder="Acente No giriniz" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="claimListClaimNo" class="control-label">Hasar No</label>
                                    <input name="claimListClaimNo" class="form-control" placeholder="Hasar No giriniz" type="text" id="claimListClaimNo" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="policyNo" class="control-label">Poliçe No</label>
                                    <input name="policyNo" class="form-control" id="policyNo" type="text" placeholder="Poliçe No giriniz" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="payrollId" class="control-label">Zarf No</label>
                                    <input name="payrollId" class="form-control" id="payrollId" type="text" placeholder="Zarf No giriniz" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="oldPayrollId" class="control-label">Eski Zarf No</label>
                                    <input name="oldPayrollId" class="form-control" id="oldPayrollId" type="text" placeholder="Eski Zarf No giriniz" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="extProviderNo" class="control-label">Kurum Zarf No</label>
                                    <input name="extProviderNo" class="form-control" id="extProviderNo" type="text" placeholder="Kurum Zarf No giriniz" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="insuredTCKN" class="control-label">Sigortalı TCKN</label>
                                    <input name="insuredTCKN" class="form-control" id="insuredTCKN" type="number" placeholder="Sigortalı TCKN giriniz" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="insuredName" class="control-label">Sigortalı Adı</label>
                                    <input name="insuredName" class="form-control" id="insuredName" type="text" placeholder="Sigortalı Adı giriniz" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="insuredSurName" class="control-label">Sigortalı Soyadı</label>
                                    <input name="insuredSurName" class="form-control" id="insuredSurName" type="text" placeholder="Sigortalı Soyadı giriniz" />
                                </div>

                                <div class="col-sm-2">
                                    <label for="policyStartDateStart" class="control-label">Poliçe Başlangıç Tarihi (&lt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="policyStartDateStart" id="policyStartDateStart" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="policyStartDateEnd" class="control-label">Poliçe Başlangıç Tarihi (&gt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="policyStartDateEnd" id="policyStartDateEnd" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="claimListClaimDateStart" class="control-label">Hasar Tarihi (&gt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="claimListClaimDateStart" id="claimListClaimDateStart" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="claimListClaimDateEnd" class="control-label">Hasar Tarihi (&lt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="claimListClaimDateEnd" id="claimListClaimDateEnd" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="policyIssueDateStart" class="control-label">Poliçe Tanzim Tarihi (&lt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="policyIssueDateStart" id="policyIssueDateStart" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="policyIssueDateEnd" class="control-label">Poliçe Tanzim Tarihi (&gt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="policyIssueDateEnd" id="policyIssueDateEnd" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="paymentDateStart" class="control-label">Ödeme Tarihi (&lt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="paymentDateStart" id="paymentDateStart" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="paymentDateEnd" class="control-label">Ödeme Tarihi (&gt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="paymentDateEnd" id="paymentDateEnd" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="policyEntranceDateStart" class="control-label">Poliçe Giriş Tarihi (&lt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="policyEntranceDateStart" id="policyEntranceDateStart" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="policyEntranceDateEnd" class="control-label">Poliçe Giriş Tarihi (&gt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="policyEntranceDateEnd" id="policyEntranceDateEnd" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="claimStatusDateStart" class="control-label">Hasar Durum Tarihi (&lt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="claimStatusDateStart" id="claimStatusDateStart" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label for="claimStatusDateEnd" class="control-label">Hasar Durum Tarihi (&gt;)</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="claimStatusDateEnd" id="claimStatusDateEnd" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>



                                <input type="hidden" name="isFilter" id="isFilter" value="0" />
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" onclick="FilterClean()" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtreleri Temizle</button>
                                    <button type="button" onclick="Fclick('tblRptClaimDetailsProvision')" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-custom" id="tblRptClaimDetailsProvision">
                                <thead>
                                    <tr>
                                        <th>ACENTEBOLGE</th>
                                        <th>ACENTENO</th>
                                        <th>BANKAADI</th>
                                        <th>BANK_ACCOUNT_ID</th>
                                        <th>BEYAN</th>
                                        <th>BRYTIP</th>
                                        <th>CLAIM_SOURCE_TYPE</th>
                                        <th>CLAIM_STATUS</th>
                                        <th>CLAIM_TYPE</th>
                                        <th>DOKTORADI</th>
                                        <th>EPIKRIZ_NOTU</th>
                                        <th>ESKI_ICMALNO</th>
                                        <th>FATURANO</th>
                                        <th>FATURATARIHI</th>
                                        <th>FATURATUTAR</th>
                                        <th>GRUPID</th>
                                        <th>HASARTAR</th>
                                        <th>HESAPADI</th>
                                        <th>HESAPNO</th>
                                        <th>HSRALTSTAT</th>
                                        <th>HSRSTATAD</th>
                                        <th>HSRSTATTAR</th>
                                        <th>IBANNO</th>
                                        <th>ICMALNO</th>
                                        <th>ICMALTAR</th>
                                        <th>ID</th>
                                        <th>IHBARTAR</th>
                                        <th>ILAC_HIZMET_BILGISI</th>
                                        <th>ISTISNA</th>
                                        <th>KAYNAKADI</th>
                                        <th>KURUMADI</th>
                                        <th>KURUMGRUP</th>
                                        <th>KURUMGRUPAD</th>
                                        <th>KURUMTICARIUNVAN</th>
                                        <th>KURUMTIPI</th>
                                        <th>KURUMVKN</th>
                                        <th>KURUM_ADRES</th>
                                        <th>KURUM_IL</th>
                                        <th>KURUM_ILCE</th>
                                        <th>MEDULATAKIPNO</th>
                                        <th>NORMAL_NOT</th>
                                        <th>NOTLAR</th>
                                        <th>ODEMETARIHI</th>
                                        <th>ODEMEYERIACIKLAMA</th>
                                        <th>ODENEBILIRTUTAR</th>
                                        <th>ODENENTUTAR</th>
                                        <th>POLBASTAR</th>
                                        <th>POLBITTAR</th>
                                        <th>POLICENO</th>
                                        <th>POLICETIPI</th>
                                        <th>POLTANTAR</th>
                                        <th>PRODUCT_ID</th>
                                        <th>PROVIDER_ID</th>
                                        <th>PROVIDER_TYPE</th>
                                        <th>PROVIZYON_NO</th>
                                        <th>SIGETID</th>
                                        <th>SIGORTALIPAYI</th>
                                        <th>SIGORTALI_ADI</th>
                                        <th>SIGORTALI_SOYADI</th>
                                        <th>SIGORTALI_YAS</th>
                                        <th>SIGORTA_ETTIREN</th>
                                        <th>SIRKETAD</th>
                                        <th>SIRKETKOD</th>
                                        <th>SUBEADI</th>
                                        <th>SUBPRODUCT_ID</th>
                                        <th>TANIBILGILERI</th>
                                        <th>TANI_NOTU</th>
                                        <th>TCKN</th>
                                        <th>TEDAVI_NOTU</th>
                                        <th>URUNADI</th>
                                        <th>URUNKODU</th>
                                        <th>UZMANLIKALANI</th>
                                        <th>YENILEMENO</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model)
</section>

<script>
    var table = null;
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));

        $('.mbui-list .dropdown-menu li a').click(function () {
            var dataShow = $(this).attr('data-value');
            $('.dataTables_length select option').prop('selected', '');
            $(this).closest('.mbui-form').find('.dataTables_length select option[value="' + dataShow + '"]').prop('selected', 'selected').trigger('change');
        });

        table = $("#tblRptClaimDetailsProvision").DataTable({
            "ajax": {
                "url": "/Report/GetRptClaimDetailsProvision",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                "data": function (filter) {
                    filter.Company = $('#Company').val();
                    filter.product = $('#product').val();
                    filter.subproduct = $('#subproduct').val();
                    filter.package = $('#package').val();
                    filter.claimListProvider = $('#claimListProvider').val();
                    filter.providerGroup = $('#providerGroup').val();
                    filter.providerNo = $('#providerNo').val();
                    filter.policyGroup = $('#policyGroup').val();
                    filter.productType = $('#productType').val();
                    filter.policyType = $('#policyType').val();
                    filter.coverageType = $('#coverageType').val();
                    filter.claimStatus = $('#claimStatus').val();
                    filter.claimSource = $('#claimSource').val();
                    filter.claimPaymentType = $('#claimPaymentType').val();
                    filter.jobType = $('#jobType').val();
                    filter.AgencyName = $('#AgencyName').val();
                    filter.AgencyNo = $('#AgencyNo').val();
                    filter.claimListClaimNo = $('#claimListClaimNo').val();
                    filter.policyNo = $('#policyNo').val();
                    filter.insuredTCKN = $('#insuredTCKN').val();
                    filter.insuredName = $('#insuredName').val();
                    filter.insuredSurName = $('#insuredSurName').val();
                    filter.policyStartDateStart = $('#policyStartDateStart').val();
                    filter.policyStartDateEnd = $('#policyStartDateEnd').val();
                    filter.claimListClaimDateStart = $('#claimListClaimDateStart').val();
                    filter.claimListClaimDateEnd = $('#claimListClaimDateEnd').val();
                    filter.policyIssueDateStart = $('#policyIssueDateStart').val();
                    filter.policyIssueDateEnd = $('#policyIssueDateEnd').val();
                    filter.paymentDateStart = $('#paymentDateStart').val();
                    filter.paymentDateEnd = $('#paymentDateEnd').val();
                    filter.policyEntranceDateStart = $('#policyEntranceDateStart').val();
                    filter.policyEntranceDateEnd = $('#policyEntranceDateEnd').val();
                    filter.claimStatusDateStart = $('#claimStatusDateStart').val();
                    filter.claimStatusDateEnd = $('#claimStatusDateEnd').val();
                    filter.payrollId = $('#payrollId').val();
                    filter.oldPayrollId = $('#oldPayrollId').val();
                    filter.extProviderNo = $('#extProviderNo').val();

                    filter.isFilter = $('#isFilter').val();
                },
                "complete": function (settings, json) {
                    var responseText = JSON.parse(settings.responseText);
                    $("#WhereCondition").val(responseText.whereConditition);
                    $.unblockUI();
                }
            },
            "columns": [
                { "data": "ACENTEBOLGE", "name": "ACENTEBOLGE" },
                { "data": "ACENTENO", "name": "ACENTENO" },
                { "data": "BANKAADI", "name": "BANKAADI" },
                { "data": "BANK_ACCOUNT_ID", "name": "BANK_ACCOUNT_ID" },
                { "data": "BEYAN", "name": "BEYAN" },
                { "data": "BRYTIP", "name": "BRYTIP" },
                { "data": "CLAIM_SOURCE_TYPE", "name": "CLAIM_SOURCE_TYPE" },
                { "data": "CLAIM_STATUS", "name": "CLAIM_STATUS" },
                { "data": "CLAIM_TYPE", "name": "CLAIM_TYPE" },
                { "data": "DOKTORADI", "name": "DOKTORADI" },
                { "data": "EPIKRIZ_NOTU", "name": "EPIKRIZ_NOTU" },
                { "data": "ESKI_ICMALNO", "name": "ESKI_ICMALNO" },
                { "data": "FATURANO", "name": "FATURANO" },
                { "data": "FATURATARIHI", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "FATURATUTAR", "name": "FATURATUTAR" },
                { "data": "GRUPID", "name": "GRUPID" },
                { "data": "HASARTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "HESAPADI", "name": "HESAPADI" },
                { "data": "HESAPNO", "name": "HESAPNO" },
                { "data": "HSRALTSTAT", "name": "HSRALTSTAT" },
                { "data": "HSRSTATAD", "name": "HSRSTATAD" },
                { "data": "HSRSTATTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "IBANNO", "name": "IBANNO" },
                { "data": "ICMALNO", "name": "ICMALNO" },
                { "data": "ICMALTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "ID", "name": "ID" },
                { "data": "IHBARTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "ILAC_HIZMET_BILGISI", "name": "ILAC_HIZMET_BILGISI" },
                { "data": "ISTISNA", "name": "ISTISNA" },
                { "data": "KAYNAKADI", "name": "KAYNAKADI" },
                { "data": "KURUMADI", "name": "KURUMADI" },
                { "data": "KURUMGRUP", "name": "KURUMGRUP" },
                { "data": "KURUMGRUPAD", "name": "KURUMGRUPAD" },
                { "data": "KURUMTICARIUNVAN", "name": "KURUMTICARIUNVAN" },
                { "data": "KURUMTIPI", "name": "KURUMTIPI" },
                { "data": "KURUMVKN", "name": "KURUMVKN" },
                { "data": "KURUM_ADRES", "name": "KURUM_ADRES" },
                { "data": "KURUM_IL", "name": "KURUM_IL" },
                { "data": "KURUM_ILCE", "name": "KURUM_ILCE" },
                { "data": "MEDULATAKIPNO", "name": "MEDULATAKIPNO" },
                { "data": "NORMAL_NOT", "name": "NORMAL_NOT" },
                { "data": "NOTLAR", "name": "NOTLAR" },
                { "data": "ODEMETARIHI", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "ODEMEYERIACIKLAMA", "name": "ODEMEYERIACIKLAMA" },
                { "data": "ODENEBILIRTUTAR", "name": "ODENEBILIRTUTAR" },
                { "data": "ODENENTUTAR", "name": "ODENENTUTAR" },
                { "data": "POLBASTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "POLBITTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "POLICENO", "name": "POLICENO" },
                { "data": "POLICETIPI", "name": "POLICETIPI" },
                { "data": "POLTANTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "PRODUCT_ID", "name": "PRODUCT_ID" },
                { "data": "PROVIDER_ID", "name": "PROVIDER_ID" },
                { "data": "PROVIDER_TYPE", "name": "PROVIDER_TYPE" },
                { "data": "PROVIZYON_NO", "name": "PROVIZYON_NO" },
                { "data": "SIGETID", "name": "SIGETID" },
                { "data": "SIGORTALIPAYI", "name": "SIGORTALIPAYI" },
                { "data": "SIGORTALI_ADI", "name": "SIGORTALI_ADI" },
                { "data": "SIGORTALI_SOYADI", "name": "SIGORTALI_SOYADI" },
                { "data": "SIGORTALI_YAS", "name": "SIGORTALI_YAS" },
                { "data": "SIGORTA_ETTIREN", "name": "SIGORTA_ETTIREN" },
                { "data": "SIRKETAD", "name": "SIRKETAD" },
                { "data": "SIRKETKOD", "name": "SIRKETKOD" },
                { "data": "SUBEADI", "name": "SUBEADI" },
                { "data": "SUBPRODUCT_ID", "name": "SUBPRODUCT_ID" },
                { "data": "TANIBILGILERI", "name": "TANIBILGILERI" },
                { "data": "TANI_NOTU", "name": "TANI_NOTU" },
                { "data": "TCKN", "name": "TCKN" },
                { "data": "TEDAVI_NOTU", "name": "TEDAVI_NOTU" },
                { "data": "URUNADI", "name": "URUNADI" },
                { "data": "URUNKODU", "name": "URUNKODU" },
                { "data": "UZMANLIKALANI", "name": "UZMANLIKALANI" },
                { "data": "YENILEMENO", "name": "YENILEMENO" },
            ],
            pageLength: 5,
            scrollX: true,
            scrollY: false,
            "serverSide": "true",
            "aLengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });

    });

    function Fclick(tbl) {
        $('#isFilter').val("1");
        table.ajax.reload();
    }

    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });

    function getEnterFunction() {
        Fclick('tblRptClaimDetailsProvision');
    }

</script>


