﻿
@{
    Layout = "~/Views/Shared/_ProteinLayout.cshtml";
}

@model Protein.Web.Models.ExportModel.ExportVM

<section class="content">
    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Hasar Prim Raporu</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="5">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 5
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="10">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-toggle="modal" data-target="#modalExport" class="mbui-exel">
                                        <i class="ExcelExport fa fa-file-excel-o"></i> Excel
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active Enterclick">
                    <form class="form-horizontal" role="form" action="/Provider/ProviderGroupFilter" method="post" id="frmProviderGroup" data-toggle="validator">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="company" class="control-label">Sigorta Şirketi</label>
                                    <select class="chosen-select bg-white" name="company" id="company" title="Seçiniz" onchange="FillProduct('company', 'product', '1', 'subProduct');">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var Company in ViewBag.CompanyList)
                                        {
                                            <option value="@Company.Id">@Company.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label for="product" class="control-label">Ürün</label>
                                    <select name="product" class="selectpicker w-100-pr mbui-select bg-white" onchange="FillPackage('product','package','1')" multiple title="Seçiniz" id="product"></select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="productType" class="control-label">Ürün Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" multiple name="productType" id="productType" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var product in ViewBag.productType)
                                        {
                                            <option value="@product.Key">@product.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="package" class="control-label">Paket</label>
                                    <select name="package" class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" id="package"> </select>

                                </div>

                                <div class="col-sm-3">
                                    <label for="AgencyNo" class="control-label">Acente No</label>
                                    <input name="AgencyNo" class="form-control" id="AgencyNo" type="text" placeholder="Acente No giriniz" />
                                </div>

                                <div class="col-sm-3">
                                    <label for="policyNo" class="control-label">Poliçe No</label>
                                    <input name="policyNo" class="form-control" id="policyNo" type="text" placeholder="Poliçe No giriniz" />
                                </div>

                                <div class="col-sm-3">
                                    <label for="PolicyType" class="control-label">Poliçe Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="PolicyType" id="PolicyType" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var Policetip in ViewBag.PolicyType)
                                        {
                                            <option value="@Policetip.Key">@Policetip.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label for="policyStatus" class="control-label">Durumu</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" name="policyStatus" id="policyStatus" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var PolicyStatus in ViewBag.PolicyStatusList)
                                        {
                                            <option value="@PolicyStatus.Key">@PolicyStatus.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="insuredName" class="control-label">Sigortalı Adı Soyadı</label>
                                    <input name="insuredName" class="form-control" id="insuredName" type="text" placeholder="Sigortalı Adı Soyadını giriniz" />
                                </div>

                                <div class="col-sm-3">
                                    <label for="policyGroup" class="control-label">Poliçe Grubu</label>
                                    <select class="chosen-select bg-white" name="policyGroup" id="policyGroup" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var PolicyGroup in ViewBag.PolicyGroupList)
                                        {
                                            <option value="@PolicyGroup.Id">@PolicyGroup.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="insuredNo" class="control-label">Sigorta No</label>
                                    <input name="insuredNo" class="form-control" id="insuredNo" type="text" placeholder="Sigortalı No giriniz" />
                                </div>
                                <div class="col-sm-3">
                                    <label for="Tckn" class="control-label">TCKN</label>
                                    <input name="Tckn" class="form-control" id="Tckn" type="text" placeholder="TCKN giriniz" />
                                </div>
                                <div class="col-sm-3">
                                    <label for="issueDate" class="control-label">Tanzim Tarihi</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="issueDate" id="issueDate" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>

                                </div>




                                <div class="col-sm-3">
                                    <label for="startDate" class="control-label">Başlangıç Tarihi</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="startDate" id="startDate" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="endDate" class="control-label">Bitiş Tarihi</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="endDate" id="endDate" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <input type="hidden" name="isFilter" id="isFilter" value="0" />


                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" onclick="FilterClean()" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtreleri Temizle</button>
                                    <button type="button" onclick="Fclick('tblRptClaimPremium')" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-custom" id="tblRptClaimPremium">
                                <thead>
                                    <tr>
                                        <th>SIRKETKOD</th>
                                        <th>SIRKETAD</th>
                                        <th>AGENCY_ID</th>
                                        <th>ACENTENO</th>
                                        <th>ACENTEAD</th>
                                        <th>POLICENO</th>
                                        <th>GRUPID</th>
                                        <th>YENILEMENO</th>
                                        <th>YENIISYENILEME</th>
                                        <th>BASTAR</th>
                                        <th>BITTAR</th>
                                        <th>TANTAR</th>
                                        <th>SIGETID</th>
                                        <th>SIGETTIREN</th>
                                        <th>HOLDINGID</th>
                                        <th>HOLDINGAD</th>
                                        <th>POLICY_STATUS</th>
                                        <th>POLICEDURUMU</th>
                                        <th>POLICY_TYPE</th>
                                        <th>POLICETIPI</th>
                                        <th>PRODUCT_ID</th>
                                        <th>PRODUCT_CODE</th>
                                        <th>URUN</th>
                                        <th>POLID</th>
                                        <th>PORTNO</th>
                                        <th>SIGORTALI</th>
                                        <th>INDIVIDUAL_TYPE</th>
                                        <th>BRYTIP</th>
                                        <th>TCKN</th>
                                        <th>KOMISYON</th>
                                        <th>TOPLAM_SURE</th>
                                        <th>KALANSURE</th>
                                        <th>PRIM</th>
                                        <th>VERGI</th>
                                        <th>KAZPRIM</th>
                                        <th>FATTUTARI</th>
                                        <th>HPORAN</th>
                                        <th>PACKAGE_ID</th>
                                        <th>PLAN</th>
                                        <th>PAKETAD</th>
                                        <th>ORT_YAS</th>
                                        <th>TALEPTUTAR</th>
                                        <th>KABULTUTAR</th>
                                        <th>ONAYTUTAR</th>
                                        <th>SIRKETTUTAR</th>
                                        <th>ACNILKOD</th>
                                        <th>ACNILAD</th>
                                        <th>ACNILCE</th>
                                        <th>SIGILKOD</th>
                                        <th>SIGILAD</th>
                                        <th>SIGILCE</th>
                                        <th>ZEYLBASTAR</th>
                                        <th>IPTALTAR</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model)
</section>

<script>
    var table = null;
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));

        $('.mbui-list .dropdown-menu li a').click(function () {
            var dataShow = $(this).attr('data-value');
            $('.dataTables_length select option').prop('selected', '');
            $(this).closest('.mbui-form').find('.dataTables_length select option[value="' + dataShow + '"]').prop('selected', 'selected').trigger('change');
        });
        debugger;
        table = $("#tblRptClaimPremium").DataTable({
            "ajax": {
                "url": "/Report/GetRptClaimPremium",
                "type": "POST",
                "datatype": "json",
                "beforeSend": function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                "data": function (filter) {
                    filter.company = $('#company').val();
                    filter.product = $('#product').val();
                    filter.package = $('#package').val();
                    filter.AgencyNo = $('#AgencyNo').val();
                    filter.policyNo = $('#policyNo').val();
                    filter.insuredName = $('#insuredName').val();
                    filter.insuredNo = $('#insuredNo').val();
                    filter.Tckn= $('#Tckn').val();
                    filter.startdate= $('#startdate').val();
                    filter.enddate = $('#enddate').val();
                    filter.PolicyType = $('#PolicyType').val();
                    filter.productType = $('#productType').val();
                    filter.policyStatus = $('#policyStatus').val();
                    filter.issueDate = $('#issueDate').val();
                    filter.policyGroup = $('#policyGroup').val();
                    filter.isFilter = $('#isFilter').val();

                },
                "complete": function (settings, json) {
                    var responseText = JSON.parse(settings.responseText);
                    $("#WhereCondition").val(responseText.whereConditition);
                    $.unblockUI();
                }
            },
            "columns": [
                { "data": "SIRKETKOD", "name": "SIRKETKOD" },
                { "data": "SIRKETAD", "name": "SIRKETAD" },
                { "data": "AGENCY_ID", "name": "AGENCY_ID" },
                { "data": "ACENTENO", "name": "ACENTENO" },
                { "data": "ACENTEAD", "name": "ACENTEAD" },
                { "data": "POLICENO", "name": "POLICENO" },
                { "data": "GRUPID", "name": "GRUPID" },
                { "data": "YENILEMENO", "name": "YENILEMENO" },
                { "data": "YENIISYENILEME", "name": "YENIISYENILEME" },
                { "data": "BASTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "BITTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "TANTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "SIGETID", "name": "SIGETID" },
                { "data": "SIGETTIREN", "name": "SIGETTIREN" },
                { "data": "HOLDINGID", "name": "HOLDINGID" },
                { "data": "HOLDINGAD", "name": "HOLDINGAD" },
                { "data": "POLICY_STATUS", "name": "POLICY_STATUS" },
                { "data": "POLICEDURUMU", "name": "POLICEDURUMU" },
                { "data": "POLICY_TYPE", "name": "POLICY_TYPE" },
                { "data": "POLICETIPI", "name": "POLICETIPI" },
                { "data": "PRODUCT_ID", "name": "PRODUCT_ID" },
                { "data": "PRODUCT_CODE", "name": "PRODUCT_CODE" },
                { "data": "URUN", "name": "URUN" },
                { "data": "POLID", "name": "POLID" },
                { "data": "PORTNO", "name": "PORTNO" },
                { "data": "SIGORTALI", "name": "SIGORTALI" },
                { "data": "INDIVIDUAL_TYPE", "name": "INDIVIDUAL_TYPE" },
                { "data": "BRYTIP", "name": "BRYTIP" },
                { "data": "TCKN", "name": "TCKN" },
                { "data": "KOMISYON", "name": "KOMISYON" },
                { "data": "TOPLAM_SURE", "name": "TOPLAM_SURE" },
                { "data": "KALANSURE", "name": "KALANSURE" },
                { "data": "PRIM", "name": "PRIM" },
                { "data": "VERGI", "name": "VERGI" },
                { "data": "KAZPRIM", "name": "KAZPRIM" },
                { "data": "FATTUTARI", "name": "FATTUTARI" },
                { "data": "HPORAN", "name": "HPORAN" },
                { "data": "PACKAGE_ID", "name": "PACKAGE_ID" },
                { "data": "PLAN", "name": "PLAN" },
                { "data": "PAKETAD", "name": "PAKETAD" },
                { "data": "ORT_YAS", "name": "ORT_YAS" },
                { "data": "TALEPTUTAR", "name": "TALEPTUTAR" },
                { "data": "KABULTUTAR", "name": "KABULTUTAR" },
                { "data": "ONAYTUTAR", "name": "ONAYTUTAR" },
                { "data": "SIRKETTUTAR", "name": "SIRKETTUTAR" },
                { "data": "ACNILKOD", "name": "ACNILKOD" },
                { "data": "ACNILAD", "name": "ACNILAD" },
                { "data": "ACNILCE", "name": "ACNILCE" },
                { "data": "SIGILKOD", "name": "SIGILKOD" },
                { "data": "SIGILAD", "name": "SIGILAD" },
                { "data": "SIGILCE", "name": "SIGILCE" },
                { "data": "ZEYLBASTAR", "render": function (data) { return data == null ? "-" : formatdate(data); } },
                { "data": "IPTALTAR", "name": "IPTALTAR" },
            ],
            pageLength: 5,
            scrollX: true,
            scrollY: false,
            "serverSide": "true",
            "aLengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });

    });

    function Fclick(tbl) {
        $('#isFilter').val("1");

        table.ajax.reload();
    }

    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });

    function getEnterFunction() {
        Fclick('tblRptClaimPremium');
    }

</script>


