﻿
@model Protein.Web.Models.ExportModel.ExportVM
@{
    ViewBag.Title = "GetPayrollReport";
    Layout = "~/Views/Shared/_ProteinLayout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>İcmal Gönderim Raporu</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="5">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 5
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="10">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-toggle="modal" data-target="#modalExport" class="mbui-exel">
                                        <i class="ExcelExport fa fa-file-excel-o"></i> Excel
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active Enterclick">
                    <form class="form-horizontal" role="form" action="/Provider/ProviderGroupFilter" method="post" id="frmProviderGroup" data-toggle="validator">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="company" class="control-label">Sigorta Adı</label>
                                    <select class="chosen-select bg-white" name="company" id="company" title="Seçiniz" onchange="FillProduct('company', 'product', '1', 'subProduct');">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var Company in ViewBag.CompanyList)
                                        {
                                            <option value="@Company.Id">@Company.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label for="providerPayrollNo" class="control-label">Kurum İcmal No</label>
                                    <input name="providerPayrollNo" class="form-control" id="providerPayrollNo" type="text" placeholder="Kurum İcmal No giriniz" />
                                </div>

                                <div class="col-sm-3">
                                    <label for="PayrollNo" class="control-label">Zarf No</label>
                                    <input name="PayrollNo" class="form-control" id="PayrollNo" type="text" placeholder="Zarf No giriniz" />
                                </div>
                                <div class="col-sm-3">
                                    <label for="oldPayrollNo" class="control-label">Eski Zarf No</label>
                                    <input name="oldPayrollNo" class="form-control" id="oldPayrollNo" type="text" placeholder="Eski Zarf No giriniz" />
                                </div>

                                <div class="col-sm-3">
                                    <label for="ProviderName" class="control-label">Kurum Adı</label>
                                    <select class="chosen-select bg-white" name="ProviderName" id="ProviderName" title="Seçiniz">
                                        <option value="">Seçiniz</option>
                                        @foreach (var ProviderType in ViewBag.claimListProviderTypes)
                                        {
                                            <optgroup label="@ProviderType.Value">
                                                @foreach (var Provider in ViewBag.ProviderList)
                                                {
                                                    if (Provider.PROVIDER_TYPE == ProviderType.Key)
                                                    {
                                                        <option value="@Provider.PROVIDER_ID">@Provider.PROVIDER_NAME</option>
                                                    }
                                                }
                                            </optgroup>
                                        }
                                    </select>
                                </div>

                                  <div class="col-sm-3">
                                    <label for="providerGroup" class="control-label">Kurum Grubu</label>
                                    <select class="chosen-select bg-white" name="providerGroup" id="providerGroup" title="Seçiniz">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var providerGroup in ViewBag.providerGroupList)
                                        {
                                            <option value="@providerGroup.Id">@providerGroup.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label for="claimCategory" class="control-label">Hasar Tipi</label>
                                    <select class="chosen-select bg-white" name="claimCategory" id="claimCategory" title="Seçiniz">

                                        @foreach (var PayrollCat in ViewBag.PayrollCategory)
                                        {
                                            <option value="@PayrollCat.Key">@PayrollCat.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="claimType" class="control-label">Hasar Ödeme Yöntemi</label>
                                    <select class="chosen-select bg-white" name="policyGroup" id="policyGroup" title="Seçiniz">

                                        @foreach (var PayrollType in ViewBag.PayrollType)
                                        {
                                            <option value="@PayrollType.Key">@PayrollType.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label for="payrollChangeVerificationDate" class="control-label">Zarf Durum Değişikliği</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="payrollChangeVerificationDate" id="payrollChangeVerificationDate" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="claimStatus" class="control-label">Hasar Durumu</label>
                                    <select class="chosen-select bg-white w-100-pr mbui-select bg-white" name="claimStatus" id="claimStatus" title="Seçiniz">
                                        @foreach (var ClaimStatus in ViewBag.ClaimStatusList)
                                        {
                                            <option value="@ClaimStatus.Key">@ClaimStatus.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">


                                    <input type="hidden" name="isFilter" id="isFilter" value="0" />


                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="button" onclick="FilterClean()" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtreleri Temizle</button>
                                        <button type="button" onclick="Fclick()" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-custom" id="tblRptPayroll">
                                    <thead>
                                        <tr>
                                            <th>Şirket Adı</th>
                                            <th>Kurum İcmal No</th>
                                            <th>Zarf No</th>
                                            <th>Kurum Adı</th>
                                            <th>Hasar Tipi</th>
                                            <th>Hasar Ödeme Yöntemi</th>
                                            <th>Fatura Adet</th>
                                            <th>Talep Tutar</th>
                                            <th>Ödenen Tutar</th>
                                            <th>Vade Tarihi</th>
                                            <th>İşlemi Yapan Personel</th>
                                            <th>Eski Zarf No</th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model)
</section>
<script>
    var table = null;
    $(document).ready(function () {
        $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));
            debugger;
            table = $("#tblRptPayroll").DataTable({
                "ajax": {
                    "url": "/Report/GetPayrollReportList",
                    "type": "POST",
                    "datatype": "json",
                    "data": function (a) {

                        a.providerPayrollNo = $('#providerPayrollNo').val();
                        a.company = $('#company').val();
                        a.PayrollNo = $('#PayrollNo').val();
                        a.ProviderName = $('#ProviderName').val();
                        a.claimType = $('#claimType').val();
                        a.claimCategory = $('#claimCategory').val();
                        a.oldPayrollNo = $('#oldPayrollNo').val();
                        a.claimStatus = $('#claimStatus').val();
                        a.providerGroup = $('#providerGroup').val();
                        a.payrollChangeVerificationDate = $('#payrollChangeVerificationDate').val();
                        a.isFilter = $('#isFilter').val();
                        return a;
                    }
                },
                "columns": [
                    { "data": "COMPANY_NAME", "name": "COMPANY_NAME" },
                    { "data": "EXT_PROVIDER_NO", "name": "EXT_PROVIDER_NO" },
                    { "data": "PAYROLL_ID", "name": "PAYROLL_ID" },
                    { "data": "PROVIDER_NAME", "name": "PROVIDER_NAME" },
                    { "data": "PAYROLL_CATEGORY_TEXT", "name": "PAYROLL_CATEGORY_TEXT" },
                    { "data": "PAYROLL_TYPE_TEXT", "name": "PAYROLL_TYPE_TEXT" },
                    { "data": "CLAIM_COUNT", "name": "CLAIM_COUNT" },
                    { "data": "REQUESTED_AMOUNT", "name": "REQUESTED_AMOUNT" },
                    { "data": "PAID_AMOUNT", "name": "PAID_AMOUNT" },
                    {
                        "data": "DUE_DATE", "name": "DUE_DATE",
                        "render": function (data) {
                            return data == null ? "-" : formatdate(data);
                        }},
                    { "data": "USERNAME", "name": "USERNAME" },
                    {
                        "data": "VERIFICATION_DATE", "name": "VERIFICATION_DATE",
                        "render": function (data) {
                            return data == null ? "-" : formatdate(data);
                        }
                    }

                ],
                pageLength: 5,
                "serverSide": "true",
                "aLengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "Tümü"]],
                "searching": false,
                "order": [0, "asc"],
                "processing": "true",
                language: {
                    "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "Kayıt Bulunamadı",
                    "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                    oPaginate: {
                        sNext: 'İleri <i class="fa fa-angle-right"></i>',
                        sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                        sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                        sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                    }
                }
            });

        });
    });
    function Fclick() {
        $('#isFilter').val("1");

        table.ajax.reload();
    }

    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });

    function getEnterFunction() {
        Fclick();
    }

</script>