﻿
@model Protein.Web.Models.ExportModel.ExportVM
@{
    ViewBag.Title = "GetPayrollReport";
    Layout = "~/Views/Shared/_ProteinLayout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>İcmal Gönderim Raporu</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="5">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 5
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="10">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-toggle="modal" data-target="#modalExport" class="mbui-exel">
                                        <i class="ExcelExport fa fa-file-excel-o"></i> Excel
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active Enterclick">
                    <form class="form-horizontal" role="form" action="/Provider/ProviderGroupFilter" method="post" id="frmProviderGroup" data-toggle="validator">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="company" class="control-label">Sigorta Şirketi Adı</label>
                                    <select class="chosen-select bg-white" name="company" id="company" title="Seçiniz" onchange="FillProduct('company', 'product', '1', 'subProduct');">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var Company in ViewBag.CompanyList)
                                        {
                                            <option value="@Company.Id">@Company.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="payrollStatus" class="control-label">İcmal Durum</label>
                                    <select class="chosen-select bg-white" name="payrollStatus" id="payrollStatus" title="Seçiniz">
                                   
                                        @foreach (var payrollStatus in ViewBag.payrollStatus)
                                        {
                                            <option value="@payrollStatus.Key">@payrollStatus.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="PayrollNo" class="control-label">İcmal No</label>
                                    <input name="PayrollNo" class="form-control" id="PayrollNo" type="text" placeholder="İcmal No giriniz" />
                                </div>
                                <div class="col-sm-3">
                                    <label for="providerPayrollNo" class="control-label">Kurum İcmal No</label>
                                    <input name="providerPayrollNo" class="form-control" id="providerPayrollNo" type="text" placeholder="Kurum İcmal No giriniz" />
                                </div>
                                <div class="col-sm-3">
                                    <label for="CompanyPayrollNo" class="control-label">Sigorta Şirketi İcmal No</label>
                                    <input name="CompanyPayrollNo" class="form-control" id="CompanyPayrollNo" type="text" placeholder="Sigorta Şirketi İcmal No giriniz" />
                                </div>


                                <div class="col-sm-3">
                                    <label for="providerNo" class="control-label">Kurum Kodu</label>
                                    <input name="providerNo" class="form-control" id="providerNo" type="text" placeholder="Kurum Kodu Giriniz.." />
                                </div>

                                <div class="col-sm-3">
                                    <label for="ProviderName" class="control-label">Kurum Adı</label>
                                    <select class="chosen-select bg-white" name="ProviderName" id="ProviderName" title="Seçiniz">
                                        <option value="">Seçiniz</option>
                                        @foreach (var ProviderType in ViewBag.claimListProviderTypes)
                                        {
                                            <optgroup label="@ProviderType.Value">
                                                @foreach (var Provider in ViewBag.ProviderList)
                                                {
                                                    if (Provider.PROVIDER_TYPE == ProviderType.Key)
                                                    {
                                                        <option value="@Provider.PROVIDER_ID">@Provider.PROVIDER_NAME</option>
                                                    }
                                                }
                                            </optgroup>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="providerGroup" class="control-label">Kurum Grubu</label>
                                    <select tabindex="3" class="chosen-select w-100-pr mbui-select bg-white" multiple title="Seçiniz" name="providerGroup" id="providerGroup" data-placeholder="Kurum Grubu Seçiniz...">
                                        <option value="">Tümü</option>
                                        @foreach (var item in ViewBag.ProviderGroup)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label for="ProviderTax" class="control-label">Kurum VKN</label>
                                    <input name="ProviderTax" class="form-control" id="ProviderTax" type="text" placeholder="Kurum VKN Giriniz.." />
                                </div>
                                <div class="col-sm-3">
                                    <label for="payrollDate" class="control-label">İcmal Tarihi</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="payrollDate" id="payrollDate" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <label for="payrollChangeVerificationDate" class="control-label">İcmal Onay Tarihi</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="payrollChangeVerificationDate" id="payrollChangeVerificationDate" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <label for="payrollDueDate" class="control-label">Vade Tarihi</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="payrollDueDate" id="payrollDueDate" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="paymentDate" class="control-label">Ödeme Tarihi</label>
                                    <div class='input-group datepicker'>
                                        <input type='text' class="form-control dateMask" name="paymentDate" id="paymentDate" value="" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-3">


                                    <input type="hidden" name="isFilter" id="isFilter" value="0" />


                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="button" onclick="FilterClean()" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtreleri Temizle</button>
                                        <button type="button" onclick="Fclick()" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-custom" id="tblRptPayroll">
                                    <thead>
                                        <tr>
                                            <th>Şirket Adı</th>
                                            <th>İcmal Durum</th>
                                            <th>İcmal No</th>
                                            <th>Kurum İcmal No</th>
                                            <th>Sigorta Şirketi İcmal No</th>
                                            <th>İcmal Tarihi</th>
                                            <th>İcmal Onay Tarihi</th>
                                            <th>Vade Tarihi</th>
                                            <th>Ödeme Tarihi</th>
                                            <th>İcmal Tutar</th>
                                            <th>Kurum Kodu</th>
                                            <th>Kurum Adı</th>
                                            <th>Kurum Grubu</th>
                                            <th>Kurum Tic Ünvan</th>
                                            <th>Kurum VKN</th>
                                            <th>Banka Adı</th>
                                            <th>Banka Şube</th>
                                            <th>Hesap No</th>
                                            <th>Hesap Adı</th>
                                            <th>IBAN</th>


                                        </tr>
                                    </thead>
                                </table>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model)
</section>
<script>
    var table = null;
    $(document).ready(function () {
        $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));
            debugger;
            table = $("#tblRptPayroll").DataTable({
                "ajax": {
                    "url": "/Report/GetPayrollDetailList",
                    "type": "POST",
                    "datatype": "json",
                    "data": function (a) {

                        a.company = $('#company').val();
                        a.payrollStatus = $('#payrollStatus').val();
                        a.PayrollNo = $('#PayrollNo').val();
                        a.providerPayrollNo = $('#providerPayrollNo').val();
                        a.CompanyPayrollNo = $('#CompanyPayrollNo').val();
                        a.providerNo = $('#providerNo').val();
                        a.ProviderName = $('#ProviderName').val();
                        a.providerGroup = $('#providerGroup').val();
                        a.ProviderTax = $('#ProviderTax').val();
                        a.payrollDate = $('#payrollDate').val();
                        a.payrollDueDate = $('#payrollDueDate').val();
                        a.paymentDate = $('#paymentDate').val();
                        a.isFilter = $('#isFilter').val();
                        return a;
                    }
                },
                "columns": [
                    { "data": "COMPANY_NAME", "name": "COMPANY_NAME" },
                    { "data": "PAYROLL_STATUS", "name": "PAYROLL_STATUS" },
                    { "data": "PAYROLL_ID", "name": "PAYROLL_ID" },
                    { "data": "COMPANY_PAYROLL_ID", "name": "COMPANY_PAYROLL_ID" },
                    {
                        "data": "PAYROLL_DATE", "name": "PAYROLL_DATE",
                        "render": function (data) {
                            return data == null ? "-" : formatdate(data);
                        }
                    },
                    {
                        "data": "VERIFICATION_DATE", "name": "VERIFICATION_DATE",
                        "render": function (data) {
                            return data == null ? "-" : formatdate(data);
                        }
                    },
                    {
                        "data": "DUE_DATE", "name": "DUE_DATE",
                        "render": function (data) {
                            return data == null ? "-" : formatdate(data);
                        }
                    },
                    {
                        "data": "PAYMENT_DATE", "name": "PAYMENT_DATE",
                        "render": function (data) {
                            return data == null ? "-" : formatdate(data);
                        }
                    },
                    { "data": "PAYMENT_DATE", "name": "PAYMENT_DATE" },
                    { "data": "PAID_AMOUNT", "name": "PAID_AMOUNT" },
                    { "data": "PROVIDER_ID", "name": "PROVIDER_ID" },
                    { "data": "PROVIDER_NAME", "name": "PROVIDER_NAME" },
                    { "data": "PROVIDER_GROUP_NAME", "name": "PROVIDER_GROUP_NAME" },
                    { "data": "PROVIDER_TITLE", "name": "PROVIDER_TITLE" },
                    { "data": "TAX_NUMBER", "name": "TAX_NUMBER" },
                    { "data": "PROVIDER_TITLE", "name": "PROVIDER_TITLE" }


                ],
                pageLength: 5,
                "serverSide": "true",
                "aLengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "Tümü"]],
                "searching": false,
                "order": [0, "asc"],
                "processing": "true",
                language: {
                    "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "Kayıt Bulunamadı",
                    "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                    oPaginate: {
                        sNext: 'İleri <i class="fa fa-angle-right"></i>',
                        sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                        sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                        sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                    }
                }
            });

        });
    });
    function Fclick() {
        $('#isFilter').val("1");

        table.ajax.reload();
    }

    $(".Enterclick input").keyup(function (event) {
        if (event.keyCode === 13) {
            getEnterFunction();
        }
    });

    function getEnterFunction() {
        Fclick();
    }

</script>