﻿@{
    Layout = null;
    // ViewBag.assemblyVersion = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
    ViewBag.assemblyVersion = "1.9.1";

}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Protein | Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/png" href="~/assets/images/dark-favicon.png">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/assets/css/ionicons.min.css">
    <!-- Theme custom style -->
    <link rel="stylesheet" href="~/assets/css/loginMain.css">
    <link rel="stylesheet" href="~/assets/css/sweetalert.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body>
    <div class="wrapper">
        <header></header>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                            <div class="mbui-form">
                                <div class="mbui-header">
                                    <img src="~/assets/images/protein-dark-logo.png" alt="Protein">
                                </div>
                                <div class="mbui-body">
                                    <form id="formLogin" class="form-horizontal" role="form" action="/Dashboard/Login" method="post" data-toggle="validator">
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-12">
                                                <label for="inputEmail" class="control-label">Kullanıcı Adı</label>
                                                <input class="form-control" id="inputEmail" name="inputEmail" placeholder="Lütfen kullanıcı adınızı giriniz" value="@ViewBag.inputEmail" required>
                                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                <div class="help-block with-errors">Lütfen kullanıcı adınızı giriniz</div>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-12">
                                                <label for="inputPassword" class="control-label">Şifre</label>
                                                <input class="form-control" id="inputPassword" name="inputPassword" placeholder="Lütfen şifrenizi giriniz" type="password" value="@ViewBag.inputPassword" required>
                                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                <div class="help-block with-errors">Lütfen Şifrenizi giriniz</div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin-bottom:15px;">
                                            <div class="col-sm-12">
                                                <label class="checkbox mbui-checkbox-custom">
                                                    <input checked="" type="checkbox"><i></i>
                                                    Beni Hatırla
                                                </label>
                                                @*<a href="forgot-password.html" title="Şifremi Unuttum">Şifremi Unuttum</a>*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button type="submit" class="btn btn-rounded btn-primary btn-sm">Giriş</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                        <p><strong>Copyright &copy; 2018 <a href="http://mooryazilim.com">Moor Yazılım.</a></strong> All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/validator.min.js"></script>
    @*<script src="~/assets/js/main.js"></script>*@
    <script src="~/assets/js/sweetalert.min.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    @*Bootstrap 3.3.7*@
    <script src="/assets/js/bootstrap.min.js?v=3.3.7"></script>
    @*Moor Admin App*@
    <script src="/assets/js/moorAdmin.min.js?v=1.0.0"></script>
    <script src="/assets/js/screenfull.min.js?v=2.0.0"></script>
    <script src="/assets/js/jquery.bestupper.min.js?v=2.0.0"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=1.12.4"></script>
    <script src="/assets/js/jquery.dataTables.min.js?v=1.10.7"></script>
    <script src="/assets/js/dataTables.buttons.min.js?v=1.4.2"></script>
    <script src="/assets/js/buttons.flash.min.js?v=1.5.1"></script>
    <script src="/assets/js/jszip.min.js?=v3.1.3"></script>
    <script src="/assets/js/pdfmake.min.js?v=0.1.32"></script>
    <script src="/assets/js/vfs_fonts.js?v=0.1.32"></script>
    <script src="/assets/js/buttons.html5.min.js?v=1.5.1"></script>
    <script src="/assets//js/buttons.print.min.js?v=1.5.1"></script>
    <script src="/assets/js/dataTables.colReorder.min.js?v=1.1.3"></script>
    <script src="/assets/js/dataTables.responsive.min.js?v=1.0.6"></script>
    <script src="/assets/js/dataTables.colVis.min.js?v=1.1.2"></script>
    <script src="/assets/js/dataTables.tableTools.min.js?v=2.2.4"></script>
    <script src="/assets/js/dataTables.bootstrap.js?v=3.3.7"></script>
    <script src="/assets/js/validator.min.js?v=0.11.9"></script>
    <script src="/assets/js/moment.min.js?v=2.9.0"></script>
    <script src="/assets/js/tr.js?v=1.0.0"></script>
    <script src="/assets/js/bootstrap-datetimepicker.min.js?v=4.7.14"></script>
    <script src="/assets/js/jquery.bootstrap-touchspin.min.js?v=3.0.1"></script>
    <script src="/assets/js/bootstrap-filestyle.min.js?v=1.0.0"></script>
    <script src="/assets/js/chosen.jquery.min.js?v=1.4.2"></script>
    <script src="/assets/js/jquery.maskedinput.min.js?v=1.3.1"></script>

    <script src="/assets/js/sweetalert.min.js?v=@(ViewBag.assemblyVersion)"></script>
    <script src="/assets/js/jquery.blockUI.js?v=2.70.0"></script>
    <script src="/assets/js/jquery.validate.min.js?v=1.16.0"></script>
    <script src="/assets/js/additional-methods.min.js?v=1.16.0"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @*custom js files*@
    <script src="/assets/js/main.js?v=@(ViewBag.assemblyVersion)"></script>
    <script src="/assets/js/form.js?v=@(ViewBag.assemblyVersion)"></script>


    <script>
        $('.input').keypress(function (e) {
            if (e.which == 13) {
                $('form#formLogin').submit();
                return false;
            }
        });
        $(document).ready(function () {
            $("#inputEmail").focus();
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });

    </script>
</body>
</html>
