﻿<section class="content">
    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Kategori</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a href="/User/CategoryForm" tabindex="0" class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li><li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li><li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="15">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li><li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li><li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li><li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li><li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-print">
                                        <i class="fa fa-print" aria-hidden="true"></i> Yazdır
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-pdf">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Pdf
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Excel
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle import" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="İçe Aktar">
                                <i class="fa fa-download"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Excel
                                    </a>
                                </li>

                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel" href="~/assets/excelfiles/KURUM_GRUBU.xlsx">
                                        <i class="fa fa-file-excel-o"></i> Örnek Dosya
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active">
                    <form class="form-horizontal" role="form" action="/User/CategoryFilter" method="post">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3">
                                    <label for="categoryParent" class="control-label">Üst Kategori</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" name="categoryParent" id="categoryParent">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var Category in ViewBag.ParentList)
                                        {
                                            <option value="@Category.Id" @(Convert.ToString(Category.Id) == ViewBag.categoryParent ? "selected" : "")>@Category.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="categoryOrganization" class="control-label">Organizasyon</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" name="categoryOrganization" id="categoryOrganization">
                                        <option value="">TÜMÜ</option>
                                        @foreach (var Organization in ViewBag.OrganizationList)
                                        {
                                            <option value="@Organization.Id" @(Convert.ToString(Organization.Id) == ViewBag.categoryOrganization ? "selected" : "")>@Organization.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="categoryName" class="control-label">Adı</label>
                                    <input name="categoryName" class="form-control" id="categoryName" placeholder="Adı giriniz" type="text" value="@ViewBag.categoryName"  />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-md table-custom">
                                <thead>
                                    <tr>
                                        <th>Adı</th>                                       
                                        <th>Üst Kategori Adı</th>                                       
                                        <th>Organizasyon Adı</th>                                        
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var category in ViewBag.CategoryList)
                                    {
                                    <tr>
                                        <td>@category.CATEGORY_NAME</td>                                       
                                        <td>@category.PARENT_NAME</td>
                                        <td>@category.ORGANIZATION_NAME</td>
                                        <td class="islem">
                                            <div class="btn-group fr">
                                                @*<a href="/User/CategoryForm/View/@category.CATEGORY_ID" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>*@
                                                <a href="/User/CategoryForm/Edit/@category.CATEGORY_ID" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>
                                                <a onclick="Confirm('Sil','Silmek istediğinizden emin misiniz?','warning','/User/CategoryDelete/@category.CATEGORY_ID');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });

</script>