﻿<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">
                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a onclick="Confirm('İptal', 'İptal etmek istediğinizden emin misiniz?', 'warning', '/User/Personnel');" role="button" tabindex="0" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/User/PersonnelFormSave" method="post" data-toggle="validator">
                                <fieldset>
                                    <div class="row">

                                        @*<div class="col-sm-4">
                                                <div class="form-group has-feedback">
                                                    <div class="col-sm-12">
                                                        <label for="contactType" class="control-label"><span class="color-danger">*</span>Tipi</label>
                                                        <select name="contactType" class="selectpicker w-100-pr mbui-select bg-white" id="contactType" title="Seçiniz" required>
                                                            @foreach (var ContactType in ViewBag.ContactTypeList)
                                                            {
                                                                <option value="@ContactType.Key" @(ViewBag.Contact != null && ContactType.Key == ViewBag.Contact.Type ? "selected" : "" )>@ContactType.Value</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>*@

                                        <div class="col-sm-4">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="contactTitle" class="control-label">Ünvan</label>
                                                    <input value="@(ViewBag.Contact!=null ? ViewBag.Contact.Title : "")" name="contactTitle" class="form-control" id="contactTitle" minlength="1" maxlength="200" placeholder="Ünvan giriniz" type="text" />
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="contactTaxNumber" class="control-label">Vergi Numarası</label>
                                                        <input value="@(ViewBag.Contact!=null ? ViewBag.Contact.TaxNumber : "")" name="contactTaxNumber" class="form-control" id="contactTaxNumber" minlength="1" maxlength="100" placeholder="Vergi numarası giriniz" type="text" />
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                    </div>
                                                </div>
                                            </div>*@

                                        @*<div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="contactTaxOffice" class="control-label">Vergi Dairesi</label>
                                                        <input value="@(ViewBag.Contact!=null ? ViewBag.Contact.TaxOffice : "")" name="contactTaxOffice" class="form-control" id="contactTaxOffice" minlength="1" maxlength="100" placeholder="Vergi dairesi giriniz" type="text" />
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                    </div>
                                                </div>
                                            </div>*@

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label for="contactIdentityNo" class="control-label"><span class="color-danger">*</span>TCKN</label>
                                                    <input value="@(ViewBag.Contact!=null ? ViewBag.Contact.IdentityNo : "")" name="contactIdentityNo" class="form-control tcknMask" id="contactIdentityNo" minlength="11" maxlength="11" placeholder="TCKN giriniz" type="text" />
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="col-sm-4">
                                                <div class="form-group has-feedback">
                                                    <div class="col-sm-12">
                                                        <label for="personProfessionType" class="control-label"><span class="color-danger">*</span>Meslek Tipi</label>
                                                        <select name="personProfessionType" class="selectpicker w-100-pr mbui-select bg-white" id="personProfessionType" title="Seçiniz" required>
                                                            @foreach (var ProfessionType in ViewBag.ProfessionTypeList)
                                                            {
                                                                <option value="@ProfessionType.Key" @(ViewBag.Person != null && ProfessionType.Key == ViewBag.Person.ProfessionType ? "selected" : "" )>@ProfessionType.Value</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>*@

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label for="personFirstName" class="control-label"><span class="color-danger">*</span>Adı</label>
                                                    <input value="@(ViewBag.Person!=null ? ViewBag.Person.FirstName : "")" name="personFirstName" class="form-control" id="personFirstName" minlength="1" maxlength="100" placeholder="Adı giriniz" type="text" required />
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="personMiddleName" class="control-label">İkinci Adı</label>
                                                        <input value="@(ViewBag.Person!=null ? ViewBag.Person.MiddleName : "")" name="personMiddleName" class="form-control" id="personMiddleName" minlength="1" maxlength="100" placeholder="İkinci adı giriniz" type="text" />
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                    </div>
                                                </div>
                                            </div>*@

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label for="personLastName" class="control-label"><span class="color-danger">*</span>Soyadı</label>
                                                    <input value="@(ViewBag.Person!=null ? ViewBag.Person.LastName : "")" name="personLastName" class="form-control" id="personLastName" minlength="1" maxlength="100" placeholder="Soyadı giriniz" type="text" required />
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="personNationality" class="control-label">Uyruğu</label>
                                                        <select class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" name="personNationality" id="personNationality" required>
                                                            @foreach (var Country in ViewBag.CountryList)
                                                            {
                                                                <option value="@Country.Id" @(ViewBag.Person != null && Country.Id == ViewBag.Person.NationalityId ? "selected" : "")>@Country.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>*@

                                        @*<div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="personLicenseNo" class="control-label">Ehliyet No</label>
                                                        <input value="@(ViewBag.Person!=null ? ViewBag.Person.LicenseNo : "")" name="personLicenseNo" class="form-control" id="personLicenseNo" minlength="1" maxlength="20" placeholder="Ehliyet No giriniz" type="text" />
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                    </div>
                                                </div>
                                            </div>*@

                                        @*<div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="personBirthplace" class="control-label">Doğum Yeri</label>
                                                        <input value="@(ViewBag.Person!=null ? ViewBag.Person.Birthplace : "")" name="personBirthplace" class="form-control" id="personBirthplace" minlength="1" maxlength="100" placeholder="Doğum Yeri giriniz" type="text" />
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                    </div>
                                                </div>
                                            </div>*@

                                        @*<div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="personNameOfFather" class="control-label">Baba Adı</label>
                                                        <input value="@(ViewBag.Person!=null ? ViewBag.Person.NameOfFather : "")" name="personNameOfFather" class="form-control" id="personNameOfFather" minlength="1" maxlength="100" placeholder="Baba Adı giriniz" type="text" />
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                    </div>
                                                </div>
                                            </div>*@

                                        @*<div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="personPassportNo" class="control-label">Pasaport No</label>
                                                        <input value="@(ViewBag.Person!=null ? ViewBag.Person.PassportNo : "")" name="personPassportNo" class="form-control" id="personPassportNo" minlength="1" maxlength="20" placeholder="Pasaport No giriniz" type="text" />
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                    </div>
                                                </div>
                                            </div>*@

                                        @*<div class="col-sm-4">
                                                <div class="form-group has-feedback">
                                                    <div class="col-sm-12">
                                                        <label for="personMaritalStatus" class="control-label"><span class="color-danger">*</span>Medeni Hal</label>
                                                        <select name="personMaritalStatus" class="selectpicker w-100-pr mbui-select bg-white" id="personMaritalStatus" title="Seçiniz">
                                                            @foreach (var MaritalStatus in ViewBag.MaritalStatusList)
                                                            {
                                                                <option value="@MaritalStatus.Key" @(ViewBag.Person != null && MaritalStatus.Key == ViewBag.Person.MaritalStatus ? "selected" : "" )>@MaritalStatus.Value</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>*@

                                        <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label for="userName" class="control-label"><span class="color-danger">*</span>Kullanıcı Adı</label>
                                                        <input value="@(ViewBag.User!=null ? ViewBag.User.Username : "")" name="userName" class="form-control" id="userName" minlength="1" maxlength="45" placeholder="Kullanıcı Adı giriniz" type="text" style="text-transform:lowercase" required />
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                    </div>
                                                </div>
                                            </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label for="userEmail" class="control-label"><span class="color-danger">*</span>E-Posta</label>
                                                    <input value="@(ViewBag.User!=null ? ViewBag.User.Email : "")" name="userEmail" class="form-control" id="userEmail" minlength="1" maxlength="100" placeholder="E-Posta Adı giriniz" type="email" required />
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label for="userMobile" class="control-label"><span class="color-danger">*</span>Cep Telefonu</label>
                                                    <input value="@(ViewBag.User!=null ? ViewBag.User.Mobile : "")" name="userMobile" class="form-control phoneMask" id="userMobile" minlength="1" maxlength="20" placeholder="Cep Telefonu giriniz" type="text" required />
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="personBirthdate" class="control-label">Doğum Tarihi</label>
                                                    <div class='input-group datepicker'>
                                                        <input type='text' class="form-control dateMask" name="personBirthdate" value="@(ViewBag.Person!=null ? Convert.ToString(ViewBag.Person.Birthdate) : "")" id="personBirthdate" />
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="personGender" class="control-label">Cinsiyet</label>
                                                    <select name="personGender" class="selectpicker w-100-pr mbui-select bg-white" id="personGender" title="Seçiniz">
                                                        @foreach (var Gender in ViewBag.GenderList)
                                                        {
                                                            <option value="@Gender.Key" @(ViewBag.Person != null && Gender.Key == ViewBag.Person.Gender ? "selected" : "" )>@Gender.Value</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <button type="submit" class="btn btn-success btn-sm mr-10">@(ViewBag.Personnel != null ? "Güncelle" : "Kaydet")</button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="hdPersonnelId" value="@(ViewBag.Personnel != null ? ViewBag.Personnel.Id : "0")" />
                                    <input type="hidden" name="contact" value="@(ViewBag.Contact != null ? ViewBag.Contact.Id : "0")" />
                                    <input type="hidden" name="user" value="@(ViewBag.User != null ? ViewBag.User.Id : "0")" />
                                    <input type="hidden" name="person" value="@(ViewBag.Person != null ? ViewBag.Person.Id : "0")" />
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<script>

    $(document).ready(function () {

        $('#userName').bind('keyup', function () {
            $(this).val($(this).val().replace(/[^a-z1-9]/i, ""))
        });

        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });

</script>