﻿

<section class="content">
    <div class="row">
        <div class="col-sm-12">

            <div class="mbui-form mbui-inside-form">

                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Personel</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a href="/User/PersonnelForm" tabindex="0" class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="15">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-print">
                                        <i class="fa fa-print" aria-hidden="true"></i> Yazdır
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-pdf">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Pdf
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Excel
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle import" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="İçe Aktar">
                                <i class="fa fa-download"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Excel
                                    </a>
                                </li>

                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel" href="~/assets/excelfiles/KURUM_GRUBU.xlsx">
                                        <i class="fa fa-file-excel-o"></i> Örnek Dosya
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body mbui-inside-body active">
                    <form class="form-horizontal" role="form" action="/User/PersonnelFilter" method="post">
                        <div class="mbui-filter-wrapper" style="display:none;">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3">
                                    <label for="contactIdentityNo" class="control-label">TCKN</label>
                                    <input name="contactIdentityNo" class="form-control" id="contactIdentityNo" placeholder="TCKN giriniz" type="text" value="@ViewBag.contactIdentityNo" />
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="userUsername" class="control-label">Kullanıcı Adı</label>
                                    <input name="userUsername" class="form-control" id="userUsername" placeholder="Kullanıcı adı giriniz" type="text" value="@ViewBag.userUsername" />
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="userEmail" class="control-label">E-Posta</label>
                                    <input name="userEmail" class="form-control" id="userEmail" placeholder="E-Posta giriniz" type="email" value="@ViewBag.userEmail" />
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="userMobile" class="control-label">Cep Telefonu</label>
                                    <input name="userMobile" class="form-control" id="userMobile" placeholder="Cep telefonu giriniz" type="text" value="@ViewBag.userMobile" />
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="personFirstName" class="control-label">Adı</label>
                                    <input name="personFirstName" class="form-control" id="personFirstName" placeholder="Adı giriniz" type="text" value="@ViewBag.personFirstName" />
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label for="personLastName" class="control-label">Soyadı</label>
                                    <input name="personLastName" class="form-control" id="personLastName" placeholder="Soyadı giriniz" type="text" value="@ViewBag.personLastName" />
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-rounded btn-default btn-md fr mbui-btn mt-10">Filtrele</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-md table-custom">
                                <thead>
                                    <tr>
                                        <th>Adı</th>
                                        <th>Soyadı</th>
                                        <th>TCKN</th>
                                        <th>Cep Telefonu</th>
                                        <th>E-Posta</th>
                                        <th>Kullanıcı Adı</th>
                                        <th>Durum</th>
                                        <th>İşlemler</th>
                                        <th>Kadro</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var personnel in ViewBag.PersonnelList)
                                    {
                                    <tr>
                                        <td>@personnel.FIRST_NAME</td>
                                        <td>@personnel.LAST_NAME</td>
                                        <td>@personnel.IDENTITY_NO</td>
                                        <td>@personnel.MOBILE</td>
                                        <td>@personnel.EMAIL</td>
                                        <td>@personnel.USERNAME</td>
                                        @if (personnel.STATUS == ((int)Protein.Common.Enums.ProteinEnums.Status.AKTIF).ToString())
                                        {
                                            <td class="islem pro-onay">
                                                <div class="btn-group">
                                                    <span class="onay"><p class="durum color-success"><strong>Aktif</strong></p></span>
                                                    <a onclick="Confirm('Personel durum değişikliği','Pasif etmek istediğinizden emin misiniz?','warning','/User/UpdateStatus/@personnel.PERSONNEL_ID');" class="goruntule myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Pasif Et"><i class="fa fa-times"></i></a>
                                                </div>
                                            </td>
                                        }
                                        else if (personnel.STATUS == ((int)Protein.Common.Enums.ProteinEnums.Status.PASIF).ToString())
                                        {
                                            <td class="islem pro-onay">
                                                <div class="btn-group">
                                                    <span class="onay"><p class="durum color-danger"><strong>PASİF</strong></p></span>
                                                    <a onclick="Confirm('Personel durum değişikliği','Aktif etmek istediğinizden emin misiniz?','warning','/User/UpdateStatus/@personnel.PERSONNEL_ID');" class="goruntule myIcon icon-success" data-tooltip="tooltip" data-placement="bottom" title="Aktif Et"><i class="fa fa-check"></i></a>
                                                </div>
                                            </td>
                                        }
                                        <td class="islem">
                                            <div class="btn-group fr">
                                                <a onclick="RefreshPasword(@personnel.PERSONNEL_ID);" class="myIcon icon-cyan" data-tooltip="tooltip" data-placement="bottom" title="Şifre Yenile"><i class="fa fa-refresh"></i></a>
                                                        @*<a href="/User/PersonnelForm/View/@personnel.PERSONNEL_ID" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>*@
                                                        <a href="/User/PersonnelForm/Edit/@personnel.PERSONNEL_ID" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>
                                                        <a onclick="Confirm('Sil','Silmek istediğinizden emin misiniz?','warning','/User/PersonnelDelete/@personnel.PERSONNEL_ID');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                        </td>
                                        <td class="islem">
                                            <div class="btn-group fr">
                                                @*<a href="/User/PersonnelForm/View/@personnel.PERSONNEL_ID" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>*@
                                                <a href="/User/PersonnelCadres/@personnel.PERSONNEL_ID" class="myIcon icon-success" data-tooltip="tooltip" data-placement="bottom" title="Kadrolar"><i class="fa fa-tasks"></i></a>
                                                <a href="/User/PersonnelAssignCadre/@personnel.PERSONNEL_ID" class="myIcon icon-cyan" data-tooltip="tooltip" data-placement="bottom" title="Kadro Ata"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });

    function RefreshPasword(personnelId) {
        $.ajax({
            url: '/User/RefreshPassword?personnelId=' + personnelId,
            type: "POST",
            dataType: "JSON",
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            success: function (data) {
                    debugger;
                    swal({
                        title: "İşlem Başarılı!",
                        text: "Şifre İlgili Kullanıcıya Mail Gönderildi!",
                        icon: "success"
                    });
                
                $.unblockUI();
            },
            error: function (xhr, err) {
                swal({
                    title: "Hata!",
                    text: "Şifre Gönderilirken Hata Oluştu!",
                    icon: "warning"
                });
                $.unblockUI();
            }
        });
    }

</script>