﻿<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">
                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a onclick="Confirm('İptal', 'İptal etmek istediğinizden emin misiniz?', 'warning', '/User/Unit');" role="button" tabindex="0" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/User/UnitFormSave" method="post" data-toggle="validator">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group has-feedback">
                                                <div class="col-sm-12">
                                                    <label for="unitName" class="control-label"><span class="color-danger">*</span>Adı</label>
                                                    <input value="@(ViewBag.Unit!=null ? ViewBag.Unit.Name : "")" name="unitName" class="form-control" id="unitName" minlength="1" maxlength="100" placeholder="Birim adı giriniz" type="text" required />
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label for="unitOrganization" class="control-label"><span class="color-danger">*</span>Organizasyon</label>
                                                    <select class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" name="unitOrganization" id="unitOrganization" required>
                                                        <option value="">SEÇİNİZ</option>
                                                        @foreach (var Organization in ViewBag.OrganizationList)
                                                        {
                                                            <option value="@Organization.Id" @(Convert.ToString(Organization.Id) == ViewBag.unitOrganization ? "selected" : "")>@Organization.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="unitParent" class="control-label">Üst Birim</label>
                                            <select class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" name="unitParent" id="unitParent">
                                                <option value="">SEÇİNİZ</option>
                                                @foreach (var Unit in ViewBag.ParentList)
                                                {
                                                    <option value="@Unit.Id" @(Convert.ToString(Unit.Id) == ViewBag.unitParent ? "selected" : "")>@Unit.Name</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="col-sm-4">

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="btn-wrapper-center">
                                                <button type="submit" class="btn btn-success btn-sm mr-10">@(ViewBag.Unit != null ? "Güncelle" : "Kaydet")</button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="hdUnitId" value="@(ViewBag.Unit != null ? ViewBag.Unit.Id : "0")" />
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<script>

    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
    });

</script>