/*!
 * Start Bootstrap - SB Admin v5.0.1 (https://startbootstrap.com/template-overviews/sb-admin)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-sb-admin/blob/master/LICENSE)
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#pills-tab li .disabled-tab {
    background-color: #eee;
    color: white;
}

#wrapper #content-wrapper {
  overflow-x: hidden;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 80px;
}

.card.card-login.mx-auto.mt-5 {
    -webkit-box-shadow: 10px 7px 43px 0px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 10px 7px 43px 0px rgba(0,0,0,0.80);
    box-shadow: 10px 7px 43px 0px rgba(14, 13, 14, 0.8);
}

a#userDropdown {
    font-size: 30px;
}



body.fixed-nav #content-wrapper {
  margin-top: 56px;
  padding-left: 90px;
}

body.fixed-nav.sidebar-toggled #content-wrapper {
  padding-left: 0;
}

.card-header {
    background-color: white;
    border-bottom: white;
    margin: auto;
}

.table-responsive  {
  background-color: #fff;
}

button#sidebarToggle {
    margin: 10px 0 0 0;
}

.header-button {
    margin: 5px 0 0 0;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #343a40!important;
    background: radial-gradient(ellipse at top, #55a587 , transparent), radial-gradient(ellipse at bottom, #3fff7a, transparent);
}

/* Loading */

.blockUI.blockOverlay {
    z-index: 2000 !important;
}

.blockUI.blockMsg.blockPage {
    z-index: 2001 !important;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background: rgba(255,255,255,.95);
}

.loadingCenter {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loadContainer {
    height: 35px;
    width: 35px;
    float: left;
}

.loadingContainer {
    height: 35px;
    width: 250px;
}

    .loadingContainer span {
        font-size: 35px;
        font-style: oblique;
        color: #222d32;
        padding-left: 16px;
        text-shadow: 0px 0px 4px #9CF;
        -webkit-animation: loadingText .4s ease-in-out infinite alternate;
        animation: loadingText .4s ease-in-out infinite alternate;
        line-height: 1;
        z-index: 100;
    }

.loader2 {
    border-top: 3px solid #3c8dbc;
    border-bottom: 3px solid #3c8dbc;
    border-radius: 50%;
    height: 14px;
    width: 15px;
    margin: 10px;
    position: absolute;
    -webkit-animation: loading 1.2s infinite linear;
    animation: loading 1.2s infinite linear;
}

.loader3 {
    border-left: 3px solid #3c8dbc;
    border-right: 3px solid #3c8dbc;
    border-radius: 50%;
    height: 24px;
    width: 25px;
    margin: 8px 2px;
    position: absolute;
    -webkit-animation: loading 1s infinite linear;
    animation: loading 1s infinite linear;
}

.loader4 {
    border-top: 3px solid #3c8dbc;
    border-bottom: 3px solid #3c8dbc;
    border-radius: 50%;
    height: 34px;
    width: 35px;
    position: absolute;
    -webkit-animation: loading .8s infinite linear;
    animation: loading .8s infinite linear;
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes loadingText {
    to {
        text-shadow: 0 0 2px #9CF, 0 0 3px #9CF, 0 0 4px #69C, 0 0 5px #69C;
    }
}

@keyframes loadingText {
    to {
        text-shadow: 0 0 2px #9CF, 0 0 3px #9CF, 0 0 4px #69C, 0 0 5px #69C;
    }
}

/* Loading Finish */

/* Datatable*/

div.dataTables_wrapper div.dataTables_info {
    font-size: 11px;
}
div .dataTables_length {
    font-size: 11px;
}
.pagination li a {
  font-size: 11px;
}

table tr td{
  font-size: 11px;
}

table td {
    vertical-align: middle !important;
}

table thead tr th,table tfoot tr th{
  font-size: 13px;
}

input,input::-webkit-input-placeholder {
    font-size: 13px !important;

}

/*Tab Ayarları Başlangıç*/
.card .nav-link {
  display: block;
  padding: .5rem 1rem;
  font-size: 22px;
  color: #314379;
  border: 1px solid;
  margin: 5px 0.5rem;
  border-radius: 0px !important;
  background-color: #fff;
}

.card .nav-pills .nav-link.active,.card .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #343a40!important;
    background: radial-gradient(ellipse at top, #278892, transparent), radial-gradient(ellipse at bottom, #1b1265, transparent);
    -webkit-box-shadow: 5px 7px 33px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 5px 7px 33px 0px rgba(0,0,0,0.42);
  box-shadow: 5px 7px 33px 0px rgba(14, 13, 14, 0.42);
}
.card .nav-link:focus,.card .nav-link:hover {
    text-decoration: none;
    color: #327f5d;
}

.card ul#pills-tab {
    margin: auto;
    border: 1px solid;
    background-color: #2a4462!important;
    background: radial-gradient(ellipse at top, #2f3a3c, transparent), radial-gradient(ellipse at bottom, #16a2b8, transparent);
}

.color-danger {
    color: #b52b27 !important;
}

/*Tab Ayarları Bitiş */

@media (min-width: 768px) {
  body.fixed-nav #content-wrapper {
    padding-left: 225px;
  }
  body.fixed-nav.sidebar-toggled #content-wrapper {
    padding-left: 90px;
  }
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.navbar-nav .form-inline .input-group {
  width: 100%;
}

.navbar-nav .nav-item.active .nav-link {
  color: #fff;
}

.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
}

.navbar-nav .nav-item.dropdown.show .dropdown-toggle::after {
  content: '\f107';
}

.navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.navbar-nav .nav-item .nav-link:focus {
  outline: none;
}

.navbar-nav .nav-item .nav-link .badge {
  position: absolute;
  margin-left: 0.75rem;
  top: 0.3rem;
  font-weight: 400;
  font-size: 0.5rem;
}

@media (min-width: 768px) {
  .navbar-nav .form-inline .input-group {
    width: auto;
  }
}

.bg-gradient {
  background-color: #343a40!important;
  background: radial-gradient(ellipse at top, #221d4c , transparent), radial-gradient(ellipse at bottom, #126584, transparent);
}


.bg-gradient-login {
  background-color: #343a40!important;
  background: radial-gradient(ellipse at top, #1e4a5a, transparent), radial-gradient(ellipse at bottom, #4b3cca, transparent);
}

.sidebar {
  width: 90px !important;
  background-color: #212529;
  min-height: calc(100vh - 56px);
  background-color: #343a40!important;
  background: radial-gradient(ellipse at top, #1e4a5a, transparent), radial-gradient(ellipse at bottom, #4b3cca, transparent);
}

.sidebar .nav-item:last-child {
  margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
  text-align: center;
  padding: 0.75rem 1rem;
  width: 90px;
}

.sidebar .nav-item .nav-link span {
  font-size: 0.65rem;
  display: block;
}

.sidebar .nav-item .dropdown-menu {
  position: absolute !important;
  -webkit-transform: none !important;
  transform: none !important;
  left: calc(90px + 0.5rem) !important;
  margin: 0;
}

.sidebar .nav-item .dropdown-menu.dropup {
  bottom: 0;
  top: auto !important;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after {
  display: none;
}

.sidebar .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.sidebar.toggled {
  width: 0 !important;
  overflow: hidden;
}

@media (min-width: 768px) {
  .sidebar {
    width: 225px !important;
  }
  .sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 225px;
  }
  .sidebar .nav-item .nav-link span {
    font-size: 1rem;
    display: inline;
  }
  .sidebar .nav-item .dropdown-menu {
    position: static !important;
    margin: 0 1rem;
    top: 0;
  }
  .sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: block;
  }
  .sidebar.toggled {
    overflow: visible;
    width: 90px !important;
  }
  .sidebar.toggled .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .sidebar.toggled .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 90px;
  }
  .sidebar.toggled .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
  }
  .sidebar.toggled .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(90px + 0.5rem) !important;
    margin: 0;
  }
  .sidebar.toggled .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
  }
  .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
    display: none;
  }
}

.sidebar.fixed-top {
  top: 56px;
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0rem;
    opacity: 0.4;
    font-size: 2rem;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

:root {
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
}

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

.form-label-group {
  position: relative;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-size: 13px;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

footer.sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% - 90px);
  height: 80px;
  background-color: #e9ecef;
}

footer.sticky-footer .copyright {
  line-height: 1;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  footer.sticky-footer {
    width: calc(100% - 225px);
  }
}

@media (max-width: 1200px) {

  .form-label-group > label {
    font-size: 10px;
  }

}

body.sidebar-toggled footer.sticky-footer {
  width: 100%;
}

@media (min-width: 768px) {
  body.sidebar-toggled footer.sticky-footer {
    width: calc(100% - 90px);
  }
}

/*My Created Default Css*/
.bg-purple {
    background-color: #6917d2!important;
    color: #fff;
}
.bg-purple:hover {
    background-color: #5719a7!important;
    color: #fff;
}



.icon-boldOrange {
    border:2px solid #DE6000;
    background-color: transparent;
    color: #DE6000;
    transition: all 0.30s;
}
.icon-boldOrange:hover {
  border:2px solid #DE6000;
  background-color: #DE6000;
  color: white;
  transition: all 0.30s;
  -webkit-box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
  -moz-box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
  box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
}
.icon-yellow {
    border:2px solid #B3B30C;
    background-color: transparent;
    color: #B3B30C;
    transition: all 0.30s;
}
.icon-yellow:hover {
  border:2px solid #B3B30C;
  background-color: #B3B30C;
  color: white;
  transition: all 0.30s;
  -webkit-box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
  -moz-box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
  box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
}
.icon-boldBlue {
    border:2px solid #09787D;
    background-color: transparent;
    color: #09787D;
    transition: all 0.30s;
}
.icon-boldBlue:hover {
  border:2px solid #09787D;
  background-color: #09787D;
  color: white;
  transition: all 0.30s;
  -webkit-box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
  -moz-box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
  box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
}

.icon-purple {
    border:2px solid #5719a7;
    background-color: transparent;
    color: #5719a7;
    transition: all 0.30s;
}
.icon-purple:hover {
  border:2px solid #5719a7;
  background-color: #5719a7;
  color: white;
  transition: all 0.30s;
  -webkit-box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
  -moz-box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
  box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
}

.icon-green {
    border:2px solid #8cb908;
    background-color: transparent;
    color: #8cb908;
    transition: all 0.30s;
}
.icon-green:hover {
  border:2px solid #8cb908;
  background-color: #8cb908;
  color: white;
  transition: all 0.30s;
  -webkit-box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
  -moz-box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
  box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
}

.icon-orange {
    border:2px solid orange;
    background-color: transparent;
    color: orange;
    transition: all 0.30s;
}
.icon-orange:hover {
  border:2px solid orange;
  background-color: orange;
  color: white;
  transition: all 0.30s;
  -webkit-box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
  -moz-box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
  box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
}

.icon-blue {
    border:2px solid #3a92c1;
    background-color: transparent;
    color: #3a92c1;
    transition: all 0.30s;
}
.icon-blue:hover {
  border: 2px solid #3a92c1;
  background-color: #3a92c1;
  color: white;
  transition: all 0.30s;
  -webkit-box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
-moz-box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
}

.icon-red {
  border:2px solid #ad1818;
  background-color: transparent;
  color: #ad1818;
  transition: all 0.10s;
}
.icon-red:hover {
  border:2px solid #ad1818;
  background-color: #ad1818;
  color: white;
  transition: all 0.10s;
  -webkit-box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
-moz-box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
box-shadow: 5px 6px 64px 3px rgba(94,94,94,1);
}

.myIcon {
    font-size: 11px;
    padding: 9px;
    border-radius: 20%;
    margin: 0px 10px 0px 0px;
    transition: all 0.50s;
}

.myIcon:hover {
    border-radius: 100%;
    transition: all 0.50s;
}

.myIcon i {
transition: all 0.45s;
    transform: rotate(0deg);
}

.myIcon:hover i {
transition: all 0.50s;
    transform: rotate(360deg);
}

.fr {
    float: right !important;
    width: 100%;
}

.btn-group.fr span {
    margin: 10px;
}
.btn-group, .btn-group-vertical {
    position: relative;
    vertical-align: middle;
}

.col-yd{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding: 1px 15px;
}

.card-body h3 {
  font-weight: 200 !important;
}

.card-head-text {
  margin: 15px;
  color: #16a2b8;
}

.card-head-text-two {
  margin: 12px;
  color: #fff;
  font-size: 16px;
}

.border-section {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0px;
}

.border-section-two {
    border: 1px solid #488ecb;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px;
    background-color: #000000!important;
    background: radial-gradient(ellipse at top, #428bca, transparent), radial-gradient(ellipse at bottom, #000000, transparent);
}

.border-section-three {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 50px;
    margin: 5px 20px;
}


.add-list {
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #343a40!important;
  background: radial-gradient(ellipse at top, #16a2b8, transparent), radial-gradient(ellipse at bottom, #16a2b8, transparent);
}

.add-list a {
  float: right;
  height: 40px;
  width: 40px;
  border-radius: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
}

.add-list a:hover i {
  transition: all 0.80s;
  font-size: 16px;
  -webkit-box-shadow: 10px 6px 64px 3px rgba(94,94,94,1);
  -moz-box-shadow: 10px 6px 64px 3px rgba(94,94,94,1);
  box-shadow: 10px 6px 64px 3px rgba(94,94,94,1);
}

.add-list a i {
  font-size: 16px;
  transition: all 0.80s;
}

.modal-dialog {
    max-width: 750px;

}

table td .fa-check-square {
font-size: 35px;
color: #a5d638;
}

table td .fa-window-close {
font-size: 31px;
color: #9c3737;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin-bottom: 0;
}

/*Custom File İnput Ayarları */
label.btn.btn-secondary {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: darkmagenta;
}
.custom-file-input:lang(en)~.custom-file-label::after {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900 !important;
    content: "\f093";
    background-color: #6917d2;
    color: white;
}

.badge {
    font-size: 100%;
    float: right;
}

.hide-block {
  display: none;
}

.error-bold {
  font-weight: bolder;
  color:red;
}

.success-bold {
  font-weight: bolder;
  color:green;
}

.warning-bold {
  font-weight: bolder;
  color:orange;
}

.group-btn-input  {
    margin-top: 15px;
}

.row.group-btn-input .col-sm-8 {
    padding: 0px;
}

.row.group-btn-input .col-sm-4 {
    padding: 0px;
}

.row.group-btn-input .col-sm-4 button{
    border-top-left-radius: 0px;
    border-bottom-left-radius:0px;
    height: 73%;
}

.row.group-btn-input .col-sm-8 input{
    border-top-right-radius: 0px;
    border-bottom-right-radius:0px;
}

/*Toastr And Sweetalert*/
.toast-error {
    background-color: #ab1d1d !important;
    opacity: 0.95 !important;
}
.toast-warning {
    background-color: #ea8e18 !important;
    opacity: 0.95 !important;
}

.toast-info {
  background-color: #17a2b8!important;
  opacity: 0.95 !important;
}

.toast-success {
    background-color: #7bbb42 !important;
    opacity: 0.95 !important;
}

.swal-footer {
    text-align: center;
}

.view-bar {
  position: fixed;
  right: 0;
  z-index: 100;
}

.view-bar .collapse-width {
  width: 750px !important;
  background-color: #fff;
}

.view-bar a {
  text-align: center;
   width: 50px;
   background-color: #fff;
   color: #234860;
}

.view-bar-icon a.active {
    background-color: #16a2b8;
    color: #ffffff;
}

.view-bar-icon a.active.collapsed {
    background-color: #fff;
    color: #234860;
}

.view-bar .view-bar-content .collapse {
   background-color: #fff;
   transition: all 0.80s;
   overflow: hidden;
   -webkit-box-shadow: 10px 10px 64px 0px rgba(112,112,112,1);
   -moz-box-shadow: 10px 10px 64px 0px rgba(112,112,112,1);
   box-shadow: 10px 10px 64px 0px rgba(112,112,112,1);

}

.view-bar-icon {
    display: inline-grid;
    background-color: #234860;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.view-bar-icon a {
  margin-bottom:5px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.5rem;
}

.card-body-two {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
}

.card-body-two h5 {
  font-weight: 400;
  margin-top: 10px;
  margin-left: 10px;
}

.hide-corparate-menu{
  display: none;
}

.btn-info {
    background-color: #17a2b8 !important;
}

a.hide-corparate {
    font-size: 15px;
}

.form-label-group > textarea, .form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
}

.form-label-group > textarea{
    font-size:13px;
    padding-top:20px;
}

.form-label-group textarea:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

textarea::placeholder {
    color: transparent !important;
}

@media (max-width: 1200px) {
.col-yd {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	max-width: 33.33%;
  }

    .hide-corparate-menu {
        display: block;
    }

    .hide-corparate {
        display: none;
    }
}

@media (max-width: 992px) {
.col-yd{
	-webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  }

 

 
  .view-bar {
    position: relative;
    left: 0;
    z-index: 100;
  }
  .view-bar .collapse-width {
    width: 100% !important;
  }
  .view-bar-icon {
    width: 100%;
  }
  .view-bar a {
    width: 100%;
    height: 40px;
}
  .view-bar-icon a i {
  font-size: 26px;
  margin-top: 5px;
  }
}
@media (max-width: 768px) {
.col-yd{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
  }
  .add-list a {
    float: left;

  }

}
@media (max-width: 576px) {
  .col-yd{
  		-webkit-box-flex: 0;
  		-ms-flex: 0 0 100%;
  		flex: 0 0 100%;
  		max-width: 100%;
  }
}

@media (max-width: 480px) {
.col-yd{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
}

.add-list a {
  float: center;
  height: 100%;
  width: 50px;
  border-radius: 0px;
  margin-left: 10px;
}
.add-list i {
font-size: 12px;
margin-top: 0px
}

}
