﻿@{
    bool isEdit = ViewBag.isEdit ?? false;

    string jsonParameters = String.IsNullOrEmpty(ViewBag.Parameters) ? "[]" : ViewBag.Parameters;

    string COVERAGE_NAME = string.Empty;
    string BRANCH_ID = string.Empty;
    string COVERAGE_ID = string.Empty;
    string COVERAGE_TYPE = string.Empty;
    string IS_TAX = string.Empty;
    string LOCATION_TYPE = string.Empty;

    if (isEdit)
    {
        if (ViewBag.Coverage != null)
        {
            var coverage = ViewBag.Coverage;

            COVERAGE_NAME = Convert.ToString(coverage.COVERAGE_NAME);
            BRANCH_ID = Convert.ToString(coverage.BRANCH_ID);
            COVERAGE_ID = Convert.ToString(coverage.COVERAGE_ID);
            COVERAGE_TYPE = Convert.ToString(coverage.COVERAGE_TYPE);
            IS_TAX = Convert.ToString(coverage.IS_TAX);
            LOCATION_TYPE = Convert.ToString(coverage.LOCATION_TYPE);
        }
    }
}

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">
                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" href="/Product/Coverage" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/Product/CoverageSave" method="post" id="frmProcessList" data-toggle="validator">
                                <div class="row">

                                    <div class="col-sm-4">
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-12">
                                                <input type="hidden" id="hdCOVERAGE_ID" name="hdCOVERAGE_ID" value="@(String.IsNullOrEmpty(COVERAGE_ID) ? "0" : COVERAGE_ID)" />
                                                <label class="control-label text-align-left"><span class="color-danger">*</span>Branş</label>
                                                <div class="btn-group width-100-pr">
                                                    @foreach (var Branch in ViewBag.BranchList)
                                                    {
                                                        <label class="btn-label width-50-pr" for="Branch/@Branch.Id">
                                                            <input type="radio" name="coverageBranch" value="@Branch.Id" id="Branch/@Branch.Id" @(BRANCH_ID == Convert.ToString(Branch.Id) ? "checked" : "" ) />
                                                            <span class="btn btn-radio btn-border-radio btn-radius">
                                                                @Branch.Name
                                                            </span>
                                                        </label>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-12">
                                                <label class="control-label text-align-left"><span class="color-danger">*</span>Tipi </label>
                                                <select name="COVERAGE_TYPE" class="selectpicker w-100-pr mbui-select bg-white" id="COVERAGE_TYPE" title="Seçiniz">
                                                    <option value="">Seçiniz</option>
                                                    @foreach (var CoverageType in ViewBag.CoverageTypeList)
                                                    {
                                                        <option value="@CoverageType.Key" @(COVERAGE_TYPE == Convert.ToString(CoverageType.Key) ? "selected" : "" )>@CoverageType.Value</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-12">
                                                <label for="LOCATION_TYPE" class="control-label"><span class="color-danger">*</span>Geçerli Olduğu Coğrafya</label>
                                                <select name="LOCATION_TYPE" class="selectpicker w-100-pr mbui-select bg-white" id="LOCATION_TYPE" title="Seçiniz">
                                                    <option value="">Seçiniz</option>
                                                    @foreach (var LocationType in ViewBag.LocationTypeList)
                                                    {
                                                        <option value="@LocationType.Key" @(LOCATION_TYPE == Convert.ToString(LocationType.Key) ? "selected" : "" )>@LocationType.Value</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-12">
                                                <label for="COVERAGE_NAME" class="control-label text-align-left"><span class="color-danger">*</span>Adı</label>
                                                <input name="COVERAGE_NAME" class="form-control" id="COVERAGE_NAME" type="text" required="required" value="@COVERAGE_NAME" />
                                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="IS_TAX" class="control-label fl pt-0 mr-10 mt-30">BSMV İşlemlerine Katılacak mi?</label>
                                                <label class="switch mt-35">
                                                    <input type="checkbox" id="IS_TAX" name="IS_TAX" value="1" @((String.IsNullOrEmpty(IS_TAX) || IS_TAX=="0") ? "" : "checked" ) />
                                                    <div></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mbui-inside-form mb-20 b-full mbui-panel">
                                    <div class="mbui-inside-header heading-color">
                                        <h4>Entegrasyon Parametreleri</h4>
                                        <ul class="mbui-controls">
                                            <li>
                                                <a onclick="CreateData('frmParameter')" tabindex="0" data-toggle="modal" data-target="#frmParameter_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                    <span class="mbui-minimize" data-tooltip="tooltip" data-placement="bottom" title="Göster"><i class="fa fa-angle-down"></i></span>
                                                    <span class="mbui-expand" data-tooltip="tooltip" data-placement="bottom" title="Gizle"><i class="fa fa-angle-up"></i></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mbui-body mbui-inside-body active">
                                        <div class="table-responsive">
                                            <table class="table table-md table-custom" id="tblCoverageParameters">
                                                <thead>
                                                    <tr>
                                                        <th>Sistem</th>
                                                        <th>Alan</th>
                                                        <th>Değer</th>
                                                        <th>İşlemler</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <input type="hidden" id="hdCoverageParameters" name="hdCoverageParameters" value="[]" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mbui-form mb-20 b-full">
                                    <div class="row row-eq-height">
                                        <div class="col-sm-4" style="border-right:1px solid #367fa9;">
                                            <h4 class="mbui-tabs-heading">İşlem Listesi</h4>
                                            <div class="mbui-tab-menu">
                                                <ul class="nav nav-pills nav-stacked">
                                                    @foreach (var ProcessList in ViewBag.ProcessList)
                                                    {
                                                        <li class="">
                                                            <a onclick="selectProcessList('@ProcessList.Id','hdCOVERAGE_ID','hdProcess')" data-toggle="pill" href="#">
                                                                @ProcessList.Name
                                                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <input type="hidden" name="hdProcessListID" id="hdProcessListID" value="0" />
                                        <div class="col-sm-8">
                                            <h4 class="mbui-tabs-heading">İşlemleri Seçiniz</h4>
                                            <div class="mbui-tab-content">
                                                <div class="tab-content">

                                                    <div class="mbui-inside-form mb-20 b-full mbui-panel" id="Process" style="display: none;">
                                                        <div class="mbui-inside-header heading-color">
                                                            <h4>Kapsadığı İşlemler</h4>
                                                        </div>
                                                        <div class="mbui-body mbui-inside-body active">
                                                            <div class="info-wrapper">
                                                                <div class="form-group">
                                                                    <div class="col-sm-12">
                                                                        <div class="fl">
                                                                            <input type="text" class="form-control search" placeholder="Arama.." value="" />
                                                                        </div>

                                                                        @*<div class="position-right">
                                                                            <button type="button" class="checkbox_check btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Seç</button>
                                                                            <button type="button" class="checkbox_cancel btn btn-rounded btn-default btn-md fl mbui-info-btn mr-10">Tümünü Kaldır</button>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                                @*işlemler listesi js ile buraya basılır*@
                                                                <div class="info-wrapper mbui-panel-scroll" id="processList">


                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-sm-12">      
                                                                        <div class="position-right">                                                                          
                                                                            <button type="button"  onclick="MessagePopup()" class="btn btn-rounded btn-primary btn-md fl btn-success">Seçimi Kaydet</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="hdProcess" id="hdProcess" value="@(ViewBag.Processs!=null ? ViewBag.Processs : "[]")" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="btn-wrapper-center">
                                            <button onclick="Save()" type="submit" class="btn btn-success btn-sm mr-10">@(isEdit ? "Güncelle" : "Kaydet")</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal frmParameter_Modal -->
    <div class="modal" id="frmParameter_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmParameter_Modal">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmParameter_Modal">Entegrasyon Parametresi</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="/Product/SaveCoverageParameter" method="post" id="frmParameter"  data-toggle="validator">
                                    <input type="hidden" class="inputHidden" name="PARAMETER_ID" id="PARAMETER_ID" value="0" />
                                    <input type="hidden" name="COVERAGE_ID" id="COVERAGE_ID_frmParameter" value="@(String.IsNullOrEmpty(COVERAGE_ID) ? "0" : COVERAGE_ID)" />
                                    <input type="hidden" class="inputHidden" name="COVERAGE_PARAMETER_ID" id="COVERAGE_PARAMETER_ID" value="0" />
                                    <input type="hidden" class="inputHidden" name="STATUS" id="frmParameter_STATUS" value="0" />
                                    <input type="hidden" class="inputHidden" name="ClientId" id="frmParameter_ClientId" value="0" />

                                    <div class="form-group has-feedback">
                                        <div class="col-sm-12">
                                            <label for="SYSTEM_TYPE" class="control-labe"><span class="color-danger">*</span>Sistem Tipi</label>
                                            <select name="SYSTEM_TYPE" class="selectpicker w-100-pr mbui-select bg-white" id="SYSTEM_TYPE" required="required" title="Seçiniz">  
                                                @foreach (var SystemType in ViewBag.SystemTypeList)
                                                {
                                                    <option value="@SystemType.Key">@SystemType.Value</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="KEY" class="control-label">Alan</label>
                                            <input name="KEY" class="form-control" id="KEY" type="text" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="VALUE" class="control-label">Değer</label>
                                            <input name="VALUE" class="form-control" id="VALUE" type="text" required="required" />
                                        </div>
                                    </div>
                                    <div class="btn-wrapper-center">
                                        <button type="button" id="btnfrmParameterSave" onclick="SaveCoverageParameter('frmParameter'); /*addData('frmParameter', 'hdCoverageParameters'); RefreshTable('tblCoverageParameters','hdCoverageParameters');MessagePopup()*/" class="btn btn-success btn-sm mr-10" data-dismiss="modal">Kaydet</button>
                                        @*<button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">İptal</button>*@
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script id="root-template" type="text/x-custom-template">

    <ul class="tree-list tree-list-with-checkbox" id="root_${PROCESS_ID}">
        <li class="parent new-list">
            <div class="parent-tree tree clearfix">
                <span class="tree-bottun open-tree icon-circle btn-success fl rounded">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
                <span class="list-name">${NAME}</span>
                <input type="hidden" name="PROCESS_GROUP_PROCESS_ID" value="${PROCESS_GROUP_PROCESS_ID}" />
                <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                    <input onchange="selectProcess(${PROCESS_ID}, 'hdProcess', ${PROCESS_LIST_ID})" type="checkbox" value="${PROCESS_ID}" name="rootProcess" id="${PROCESS_ID}" ${isChecked}>
                    <i></i>
                </label>
            </div>
        </li>
    </ul>
</script>

<script id="sub-template" type="text/x-custom-template">
    <ul class="tree-list tree-list-with-checkbox" id="sub_${PROCESS_ID}">
        <li class="child new-list">
            <div class="tree child-tree clearfix">
                <span class="tree-bottun open-tree icon-circle btn-success fl rounded">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
                <span class="list-name">${NAME}</span>
                <input type="hidden" name="PROCESS_GROUP_PROCESS_ID" value="${PROCESS_GROUP_PROCESS_ID}" />
                <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                    <input onchange="selectProcess(${PROCESS_ID},'hdProcess', ${PROCESS_LIST_ID})" type="checkbox" value="${PROCESS_ID}" name="subProcess" id="${PROCESS_ID}" ${isChecked}>
                    <i></i>
                </label>
            </div>
        </li>
    </ul>
</script>

<script>
    $(document).ready(function () {
        LoadParameter();
        /**/
@(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
        /**/

    });

    function Save() {
        $.blockUI({ message: $('#domMessage') });
    }

    function SaveCoverageParameter(frmName) {
        var form = $('#' + frmName);
        form.validate();
        debugger;
        if (form.valid()) {
            var formData = new FormData(form[0]);
            $.ajax({
                type: form[0].method,
                contentType: "application/json; charset=utf-8",
                url: form[0].action,
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    debugger;
                    var responseData = $.parseJSON(data);

                    if (responseData != null && responseData.ResultCode == "100") {
                        if (responseData.Data != null && responseData.Data.jsonData != null) {
                            $('#hdCoverageParameters').val(responseData.Data.jsonData);
                            RefreshTable('tblCoverageParameters', 'hdCoverageParameters');
                        }
                    } else {
                        swal({
                            title: "Hata!",
                            text: responseData.ResultMessage,
                            icon: "warning"
                        });
                    }
                    $.unblockUI();

                },
                error: function (xhr, err) {
                    debugger;
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                    $.unblockUI();

                }
            });
        }
    }

//Template helper
    var headItemTpl = $('#head-template').text().split(/\$\{(.+?)\}/g);
    var rootItemTpl = $('#root-template').text().split(/\$\{(.+?)\}/g);
    var subItemTpl = $('#sub-template').text().split(/\$\{(.+?)\}/g);

    function render(props) {
        return function (tok, i) { return (i % 2) ? props[tok] : tok; };
    }

    function selectProcess(id, hdi) {
        var clicks = $('#' + id).data('clicks');

        debugger;
        if ($('#' + id).is(":checked") == false) { //success turn not success
            var hiddenInput = $("#" + hdi);

            var jsons = new Array();
            jsons = JSON.parse(hiddenInput.val());

            $.each(jsons, function (i, item) {
                debugger;
                if (item.PROCESS_ID == id) {
                    item.STATUS = "1";
                }

            });

            var hdValue = JSON.stringify(jsons);
            hiddenInput.val(hdValue);
            console.log(hdValue);
        } else {
            $.ajax({
                url: '/Product/AddProcess?Status=0',
                type: "POST",
                dataType: "JSON",
                data: { processId: id },
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    debugger;
                    if (data != "[]") {
                        //var responseData = $.parseJSON(data);
                        var hiddenInput = $("#" + hdi);
                        var hdValue = "";
                        if (hiddenInput.val() != "[]") {
                            var val = hiddenInput.val();
                            hdValue = val.substring(0, val.length - 1) + "," + data.substring(1, data.length);
                        } else {
                            hdValue = data;
                        }
                        hiddenInput.val(hdValue);
                    }
                    $.unblockUI();

                },
                error: function (xhr, err) {
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                    $.unblockUI();

                }
            });
        }
        $('#' + id).data("clicks", !clicks);
    }

    function addTemplateRow(template, rowData) {

        var newRow = "";

        switch (template) {

            case "root":
                newRow = rootItemTpl.map(render(rowData)).join('');
                $('#processList').append(newRow);
                break;

            case "sub":
                newRow = subItemTpl.map(render(rowData)).join('');
                $('#root_' + rowData.PARENT_ID + ' li.parent').append(newRow);
                break;

            default:
                break;

        }
    }

//End template helper

    function selectProcessList(processId, coverage, hdprocess) {
        var process = $('#' + hdprocess).val();
        var coverageId = $('#' + coverage).val();
        var processJson = JSON.parse(process);
        debugger;
        console.log(process);
        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            url: "/Product/GetProcesses?processId=" + processId + "&coverageId=" + coverageId,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            success: function (data) {

                $('#processList').empty();

                var responseData = $.parseJSON(data);
                debugger;
                document.getElementById("Process").style.display = "block";
                $.each(responseData, function (index) {
                    var dataItem = responseData[index];

                    //$.each(processJson, function (k, elm) {
                    //    debugger;
                    //    if (elm.PROCESS_LIST_ID == dataItem.PROCESS_LIST_ID) {
                    //        if (elm.PROCESS_ID == dataItem.PROCESS_ID) {
                    //            dataItem.isChecked = "checked";
                    //        }
                    //    }
                    //});

                    if (dataItem.PARENT_ID == "") {
                        addTemplateRow("root", dataItem);
                    } else {
                        addTemplateRow("sub", dataItem);
                    }
                    

                });
                $.unblockUI();
            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
                $.unblockUI();

            }
        })

    };

    function editData(frm, hdi) {

        var form = $('#' + frm);

        /**/
        var dataJSON = '@Html.Raw(ViewBag.Proceses != null ? ViewBag.Proceses : "")';
        /**/
        var data = JSON.parse(dataJSON);

        /**/
        var selectedJSON = '@Html.Raw(ViewBag.ProcessesSelected != null ? ViewBag.ProcessesSelected : "")';
        /**/
        var selectedData = JSON.parse(selectedJSON);
        $('#processList').empty();

        $.each(data, function (index) {
            var dataItem = data[index];

            if (selectedData.length > 0) {

                if (valueExists(selectedData, "id", dataItem.id)) {
                    dataItem = $.extend(dataItem, { isChecked: "checked" });
                }
            }

            if (dataItem.PARENT_ID == "") {
                addTemplateRow("root", dataItem);
            } else {
                addTemplateRow("sub", dataItem);
            }

        });

    };

    function valueExists(jsObj, field, value) {
        for (var key in jsObj) {
            if (jsObj[key][field] == value)
                return true;
        }
        return false;
    }

    function ConfirmDeleteAndSave(title, text, type,parameterId,coverageParameterId) {
        swal({
            title: title,
            text: text,
            type: type,
            showCancelButton: true,
            cancelButtonText: "Hayır",
            confirmButtonText: "Evet",
            closeOnConfirm: true,
        },
            function (isConfirm) {

                debugger;

                if (isConfirm) {
                    $.ajax({
                        type: "post",
                        contentType: "application/json; charset=utf-8",
                        url: "/Product/DeleteCoverageParameter?parameterId=" + parameterId + "&coverageParameterId=" + coverageParameterId,
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            $.blockUI({ message: $('#domMessage') });
                        },
                        success: function (data) {
                            debugger;
                            var responseData = $.parseJSON(data);

                            if (responseData != null && responseData.ResultCode == "100") {
                                if (responseData.Data != null && responseData.Data.jsonData != null) {
                                    $('#hdCoverageParameters').val(responseData.Data.jsonData);
                                    RefreshTable('tblCoverageParameters', 'hdCoverageParameters');
                                }
                            } else {
                                swal({
                                    title: "Hata!",
                                    text: responseData.ResultMessage,
                                    icon: "warning"
                                });
                            }
                            $.unblockUI();

                        },
                        error: function (xhr, err) {
                            debugger;
                            alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                            alert("responseText: " + xhr.responseText);
                            $.unblockUI();

                        }
                    });
                    //deleteData(hdi, data);
                    //RefreshTable(tbl, hdi);
                    //tempdata alerti siler
                    $.getJSON("/Common/ClearTempData?key=Alert", function (data) { });
                }
            });
    }


    function LoadParameter() {
        var frm = "frmParameter"
        var tbl = "tblCoverageParameters";
        var hdi = "hdCoverageParameters";
        var updateFunc = "UpdateParameter";
        var targetfrm = "";

        if ($('#' + tbl).length > 0) {

            /**/
            var jsonValue = '@Html.Raw(jsonParameters)';
            /**/
            var data = JSON.parse(jsonValue);
            $('#' + hdi).val(JSON.stringify(data));

            var table = $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": false,
                "data": data,
                "columns": [
                    { "data": "SYSTEM_TYPESelectedText" },
                    { "data": "KEY" },
                    { "data": "VALUE" },
                    {
                        "data": null,
                        "render": function (data) {
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<a href="#" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"  data-toggle="modal" data-target="#' + frm + '_Modal" data-title="Düzenle" onclick="' + updateFunc + '(\'' + frm + '\',\'' + hdi + '\',\'' + data.id + '\');RefreshTable(\'' + tbl + '\',\'' + hdi + '\');">' +
                                '<i class="fa fa-pencil-square-o"></i>' +
                                '</a >' +
                                '<a href="#" class="myIcon icon-danger" onclick="ConfirmDeleteAndSave(\'Sil\',\'Silmek istediğinizden emin misiniz ? \',\'warning\',' + data.id + ',' + data.COVERAGE_PARAMETER_ID+');" data-tooltip="tooltip" data-placement="bottom" title="Sil">' +
                                '<i class="fa fa-trash-o"></i>' +
                                '</a >' +
                                '</div>' +
                                '</div>';
                        }
                    }
                ]
            });
            RefreshTable(tbl, hdi);
        }
    }

    function UpdateParameter(frm, hdi, id) {

        var hiddenInput = $("#" + hdi);
        var jsons = new Array();
        jsons = JSON.parse(hiddenInput.val());

        $.each(jsons, function (i, item) {

            if (item.id == id) {

                $('#' + frm + '_ClientId').val(id);

                $('#PARAMETER_ID').val(item.PARAMETER_ID);
                $('#COVERAGE_PARAMETER_ID').val(item.COVERAGE_PARAMETER_ID);

                $('#SYSTEM_TYPE').val(item.SYSTEM_TYPE).change();
                $('#KEY').val(item.KEY);
                $('#VALUE').val(item.VALUE);

                $('#btnParameterSave').html("GÜNCELLE");
            }
        });
    }


    function MessagePopup() {
       
        swal({
            title: "İşlem Başarılı!",
            text: "Tüm veriler başarılı kaydedildi",
            icon: "success"
        });

    }
</script>