﻿<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">
                <div class="mbui-header">
                    <h3><strong>Teminat</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a href="/Product/CoverageForm" tabindex="0" class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li><li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li><li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="15">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li><li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li><li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li><li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li><li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-print">
                                        <i class="fa fa-print" aria-hidden="true"></i> Yazdır
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-pdf">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Pdf
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Exel
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle import" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="İçe Aktar">
                                <i class="fa fa-download"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Exel
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Örnek Dosya
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body mbui-inside-body active">
                    <form class="form-horizontal" role="form" onkeydown="if (event.keyCode == 13) { Filter('tblNetwork');  return false; }" method="post">

                        <div class="mbui-filter-wrapper">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="covarageType" class="control-label">Tipi</label>
                                    <select class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" name="covarageType" id="covarageType">
                                        @foreach (var item in ViewBag.v_coverage)
                                        {
                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label for="covarageName" class="control-label">Adı</label>
                                    <input name="covarageName" class="form-control" placeholder="Adı giriniz" type="text" id="covarageName" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button onclick="Filter('tblCoverage')" type="button" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtrele</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-md table-custom" id="tblCoverage">
                                <thead>
                                    <tr>
                                        <th>Tipi</th>
                                        <th>Adı</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                @*<tbody>
                                    @foreach (var item in ViewBag.Result)
                                    {
                                        <tr>
                                            <td>@item.COVERAGE_TYPE_TEXT</td>
                                            <td>@item.COVERAGE_NAME</td>
                                            <td class="islem">
                                                <div class="btn-group fr">
                                                    <a href="/Product/CoverageForm/Edit/@item.COVERAGE_ID" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>
                                                    <a onclick="Confirm('Sil','Silmek istediğinizden emin misiniz ?','warning','/Product/CoverageDelete/@item.COVERAGE_ID');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>
                                                    <a onclick="Confirm('Kopyala','Kopyalama yapmak istediğinizden emin misiniz ?','warning','/Product/CoverageClone/@item.COVERAGE_ID');" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Klonlama"><i class="fa fa-clone"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>*@
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var table = null;
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));

        $('.mbui-list .dropdown-menu li a').click(function () {
            var dataShow = $(this).attr('data-value');
            $('.dataTables_length select option').prop('selected', '');
            $(this).closest('.mbui-form').find('.dataTables_length select option[value="' + dataShow + '"]').prop('selected', 'selected').trigger('change');
        });

        table = $("#tblCoverage").DataTable({
            "ajax": {
                "url": "/Product/GetCoverageList",
                "type": "POST",
                "datatype": "json",
                "data": function (a) {
                    a.covarageType = $('#covarageType').val();
                    a.covarageName = $('#covarageName').val();
                }
            },
            "columns": [
                { "data": "COVERAGE_TYPE_TEXT", "name": "COVERAGE_TYPE" },
                { "data": "COVERAGE_NAME", "name": "COVERAGE_NAME" },
                {
                    "data": "COVERAGE_ID",
                    "render": function (data) {
                        return '<div class="islem">' +
                            '<div class="btn-group fr">' +
                            '<a href="/Product/CoverageForm/Edit/' + data +'" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>'+
                            '<a onclick="Confirm(\'Sil\',\'Silmek istediğinizden emin misiniz ? \',\'warning\',\'/Product/CoverageDelete/ ' + data + '\');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>' +
                            '<a onclick="Confirm(\'Kopyala\',\'Kopyalama yapmak istediğinizden emin misiniz ?\',\'warning\',\'/Product/CoverageClone/ ' + data + '\');  Loading();" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Klonlama"><i class="fa fa-clone"></i></a>' +
                            '</div>' +
                            '</div>';
                    }
                }
            ],
            pageLength: 10,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    });

    function Filter(tbl) {
        table.ajax.reload();
    }
</script>