﻿@model Protein.Web.Models.ExportModel.ExportVM
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form mbui-inside-form">
                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Paket</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a href="/Product/PackageForm" tabindex="0" class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-filter active" data-tooltip="tooltip" data-placement="bottom" title="Filtrele">
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="15">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="modal" data-target="#modalExport" data-tooltip="tooltip" data-placement="bottom" title="Dışa Aktar">
                                <i class="fa fa-share-square-o"></i>
                            </a>
                            @*<ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                    <li>
                                        <a role="button" tabindex="0" class="mbui-print">
                                            <i class="fa fa-print" aria-hidden="true"></i> Yazdır
                                        </a>
                                    </li>
                                    <li>
                                        <a role="button" tabindex="0" class="mbui-pdf">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Pdf
                                        </a>
                                    </li>
                                    <li>
                                        <a role="button" tabindex="0" class="mbui-exel">
                                            <i class="fa fa-file-excel-o"></i> Exel
                                        </a>
                                    </li>
                                </ul>*@
                        </li>
                        <li class="dropdown">
                            <a role="button" tabindex="0" class="dropdown-toggle import" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="İçe Aktar">
                                <i class="fa fa-download"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Exel
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" class="mbui-exel">
                                        <i class="fa fa-file-excel-o"></i> Örnek Dosya
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body mbui-inside-body active">
                    <form class="form-horizontal" role="form" action="" method="post">
                        <div class="mbui-filter-wrapper">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="company" class="control-label">Sigorta Şirketi</label>
                                    <select name="company" class="chosen-select" id="company" title="Seçiniz" onchange="FillProduct('company', 'product', '0', 'subProduct');">
                                        <option value="">Tümü</option>
                                        @foreach (var item in ViewBag.v_company)
                                        {
                                            <option value="@item.COMPANY_ID">@item.COMPANY_NAME</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="product" class="control-label">Ürün</label>
                                    <select name="product" class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" id="product" onchange="FillSubProduct('product', 'subProduct');">
                                        <option value="">Seçiniz</option>
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label for="subProduct" class="control-label">Alt Ürün</label>
                                    <select name="subProduct" class="selectpicker w-100-pr mbui-select bg-white" title="Seçiniz" id="subProduct" onchange="FillPlan('subProduct', 'plan');">
                                        <option value="">Seçiniz</option>
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label for="packageNo" class="control-label">No</label>
                                    <input name="packageNo" class="form-control" id="packageNo" type="text" placeholder="No giriniz" />
                                </div>
                                <div class="col-sm-3">
                                    <label for="packageName" class="control-label">Adı</label>
                                    <input name="packageName" class="form-control" id="packageName" type="text" placeholder="Adı giriniz" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button onclick="Fclick('tblPackage')" type="button" class="btn btn-rounded btn-default btn-md fr mbui-btn">Filtrele</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-md table-custom" id="tblPackage">
                                <thead>
                                    <tr>
                                        <th>Sigorta Şirketi</th>
                                        <th>Ürün</th>
                                        <th>Alt Ürün</th>
                                        <th>No</th>
                                        <th>Adı</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                @*<tbody>
                                        @foreach (var item in ViewBag.Result)
                                        {
                                            <tr>
                                                <td>@item.COMPANY_NAME</td>
                                                <td>@item.PRODUCT_CODE</td>
                                                <td>@item.SUBPRODUCT_CODE</td>
                                                <td>@item.PACKAGE_NO</td>
                                                <td>@item.PACKAGE_NAME</td>
                                                <td class="islem">
                                                    <div class="btn-group fr">
                                                        <a onclick="Confirm('Kopyala','Kopyalama yapmak istediğinizden emin misiniz ?','warning','/Product/PackageClone/@item.PACKAGE_ID');" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Klonlama"><i class="fa fa-clone"></i></a>
                                                        <a href="/Product/PackageForm/Edit/@item.PACKAGE_ID" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>
                                                        <a onclick="Confirm('Sil','Silmek istediğinizden emin misiniz ?','warning','/Product/PackageDelete/@item.PACKAGE_ID');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>*@
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partials/_Export.cshtml", Model)
</section>

<script>
var table = null;
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));

        $('.mbui-list .dropdown-menu li a').click(function () {
            var dataShow = $(this).attr('data-value');
            $('.dataTables_length select option').prop('selected', '');
            $(this).closest('.mbui-form').find('.dataTables_length select option[value="' + dataShow + '"]').prop('selected', 'selected').trigger('change');
        });
        var type = $('#type').val();
        table = $("#tblPackage").DataTable({
            "ajax": {
                "url": "/Product/GetPackageList",
                "type": "POST",
                "datatype": "json",
                "data": function (item) {
                    item.company = $('#company').val();
                    item.product = $('#product').val();
                    item.subProduct = $('#subProduct').val();
                    item.packageNo = $('#packageNo').val();
                    item.packageName = $('#packageName').val();

                }
            },
            "columns": [
                { "data": "COMPANY_NAME", "name": "COMPANY_NAME" },
                { "data": "PRODUCT_CODE", "name": "PRODUCT_CODE" },
                { "data": "SUBPRODUCT_CODE", "name": "SUBPRODUCT_CODE" },
                { "data": "PACKAGE_NO", "name": "PACKAGE_NO" },
                { "data": "PACKAGE_NAME", "name": "PACKAGE_NAME" },
                {

                    "data": null,
                    "render": function (data) {
                        if (data.IS_INSURED_PACKAGE=="0") {
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<a href="/Product/PackageForm/Edit/' + data.PACKAGE_ID + '" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>' +

                                '<a onclick="Confirm(\'Sil\',\'Silmek istediğinizden emin misiniz ? \',\'warning\',\'/Product/PackageDelete/ ' + data.PACKAGE_ID + '\');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>' +

                                '<a onclick="Confirm(\'Kopyala\',\'Kopyalama yapmak istediğinizden emin misiniz ?\',\'warning\',\'/Product/PackageClone/' + data.PACKAGE_ID + '\');  Loading();" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Klonlama"><i class="fa fa-clone"></i></a>'
                            '</div>' +
                                '</div>';
                        }
                        else {
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<a href="/Product/PackageForm/View/' + data.PACKAGE_ID + '" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Görüntüle"><i class="fa fa-search"></i></a>' +
                                '<a onclick="Confirm(\'Kopyala\',\'Kopyalama yapmak istediğinizden emin misiniz ?\',\'warning\',\'/Product/PackageClone/' + data.PACKAGE_ID + '\');  Loading();" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Klonlama"><i class="fa fa-clone"></i></a>'
                                '</div>' +
                                '</div>';
                        }
                    }
                }
            ],
            pageLength: 10,
            "serverSide": "true",
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "searching": false,
            "order": [0, "asc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    });

    function Fclick(tbl) {
        table.ajax.reload();
    }
</script>