﻿@{
    string jsonTreeData = ViewBag.PlanCoverage ?? "[]";

    string jsonContractedVariation = ViewBag.ContractedVariation ?? "[]";

    string jsonNonAgreementVariation = ViewBag.NonAgreementVariation ?? "[]";

    string jsonUrgentVariation = ViewBag.UrgentVariation ?? "[]";
    bool isEdit = false; isEdit = ViewBag.isEdit ?? false;

    
}

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">
                <div class="mbui-header">
                    <h3><strong>Plan Ekle</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" href="/Product/Plan/@ViewBag.SubproductId" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" role="form" action="/Product/PlanSave" method="post" id="frmPlan">
                                <input type="hidden" name="hdSubproductId" id="hdSubproductId" value="@ViewBag.SubproductId" />
                                <input type="hidden" name="hdPlanId" id="hdPlanId" value="@(ViewBag.Plan!=null ? ViewBag.Plan.PLAN_ID :" 0")" />

                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label for="planName" class="control-label"><span class="color-danger">*</span>Adı</label>
                                        <input name="planName" class="form-control" id="planName" type="text" value="@(ViewBag.Plan!=null ? ViewBag.Plan.PLAN_NAME :" ")" required/>
                                    </div>
                                    <input type="hidden" name="hdPlanName" id="hdPlanName" value="@(ViewBag.Plan != null ? ViewBag.Plan.PLAN_NAME : " ")" />
                                    <div class="col-sm-4">
                                        <button type="button" style="margin-top:28px" id="btnPlanSave" onclick="SavePlan('frmPlan', 'hdPlanId', 'planName', 'hdPlanName');" class="btn btn-success btn-sm createList mr-10"> @(isEdit ? "Güncelle" : "Kaydet")</button>
                                    </div>
                                </div>

                                <div class="mbui-inside-form mb-20 b-full" id="divPlan" style="display:@(isEdit ? "block" : "none")">
                                    <div class="mbui-inside-header heading-color">
                                        <h4>Teminat - Network Eşlemesi</h4>
                                        <ul class="mbui-controls">
                                            <li>
                                                @*root level ekle butonu*@
                                                <a onclick="CreateData('frmCoverageNetwork'); SavePlan('frmPlan', 'hdPlanId', 'planName', 'hdPlanName'); " id="btnAddRoot" tabindex="0" data-toggle="modal" data-target="#frmCoverageNetwork_Modal" data-tooltip="tooltip" data-placement="bottom" class="mbui-add" title="Yeni Teminat - Network Eşlemesi Ekle">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mbui-body  mbui-inside-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @*tree json data*@
                                                <input type="hidden" name="hdTreeData" id="hdTreeData" value="[]" />

                                                @*tree*@
                                                <div class="info-wrapper mbui-panel-scroll" id="processList">

                                                </div>
                                            </div>
                                            <div class="col-lg-6" id="divVariationList" style="display:none;">
                                                <div class="plan-coverage muayene emergency-block">
                                                    <div class="col-sm-12">
                                                        <div class="mbui-tabs-container clearfix b-full">
                                                            <input type="hidden" name="isSubVariationClone" id="isSubVariationClone" value="0" />
                                                            <!-- Nav tabs -->
                                                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                                                <li id="tabList1" role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">ANLAŞMALI</a></li>
                                                                <li id="tabList2" role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">ANLAŞMASIZ</a></li>
                                                                <li id="tabList3" role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">ACİL</a></li>
                                                            </ul>

                                                            <!-- Tab panes -->
                                                            <div class="tab-content">

                                                                @*Anlaşmalı*@
                                                                <div role="tabpanel" class="tab-pane active" id="tab1">
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group">
                                                                            <input type="hidden" name="AGR_ID" id="AGR_ID" value="0" />
                                                                            <div class="col-sm-6">
                                                                                <label for="AGR_AGREEMENT_TYPE" class="control-label"><span class="color-danger">*</span><b>Tipi</b></label>
                                                                                <select name="AGR_AGREEMENT_TYPE" class="selectpicker w-100-pr mbui-select bg-white" id="AGR_AGREEMENT_TYPE" title="Seçiniz" data-size="5" onchange="SelectType('AGR_AGREEMENT_TYPE','AGR_NUMBER_LIMIT','AGR_DAY_LIMIT','AGR_SESSION_COUNT')">
                                                                                    @foreach (var AgreementType in ViewBag.AgreementTypeList)
                                                                                    {
                                                                                        <option value="@AgreementType.Key">@AgreementType.Value</option>
                                                                                    }
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">

                                                                                    <div style="padding:0 0 0 15px;" class="col-sm-9 ">
                                                                                        <label for="AGR_PRICE_LIMIT" class="control-label"><b>Limit</b></label>
                                                                                        <input name="AGR_PRICE_LIMIT" class="form-control touchspin money" data-decimals="0" data-step="1" data-max="9999999999" data-verticalbuttons="true" data-verticalupclass="fa fa-plus" data-verticaldownclass="fa fa-minus" id="AGR_PRICE_LIMIT" type="number" placeholder="Limit giriniz" value="" />
                                                                                    </div>

                                                                                    <div style="padding:0 15px 0 0;" class="col-sm-3 ">
                                                                                        <button class="form-control" style="margin:27px 0 0 0;" type="button" data-targetfactorid="AGR_PRICE_FACTOR" data-targetpricelimitid="AGR_PRICE_LIMIT" name="endless" id="endless" onclick="Endless.call(this,event);"><big><i>&infin;</i></big></button>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="AGR_PRICE_FACTOR" class="control-label"><b>Çarpan</b></label>
                                                                                <input name="AGR_PRICE_FACTOR" class="form-control touchspin money " data-decimals="2" data-step="0.01" data-max="100" data-verticalbuttons="true" data-verticalupclass="fa fa-plus" data-verticaldownclass="fa fa-minus" id="AGR_PRICE_FACTOR" type="number" placeholder="Çarpan giriniz" value="" />
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="AGR_CURRENCY_ID" class="control-label"><span class="color-danger">*</span><b>Döviz</b></label>
                                                                                <select name="AGR_CURRENCY_ID" class="selectpicker w-100-pr mbui-select bg-white" id="AGR_CURRENCY_ID" title="Seçiniz" data-size="5">
                                                                                    @foreach (var CurrencyType in ViewBag.CurrencyTypeList)
                                                                                    {
                                                                                        <option value="@CurrencyType.Key">@CurrencyType.Value</option>
                                                                                    }
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="AGR_COINSURANCE_RATIO" class="control-label"><span class="color-danger">*</span><b>Koasürans Oranı</b></label>
                                                                                <input name="AGR_COINSURANCE_RATIO" class="form-control touchspin money" value="0" data-decimals="0" data-step="1" data-max="100" data-verticalbuttons="true" data-verticalupclass="fa fa-plus" data-verticaldownclass="fa fa-minus" id="AGR_COINSURANCE_RATIO" type="number" placeholder="Koasürans Oranı Giriniz" />
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="AGR_NUMBER_LIMIT" class="control-label"><b>Adet Limiti</b></label>
                                                                                <input name="AGR_NUMBER_LIMIT" class="form-control" id="AGR_NUMBER_LIMIT" type="text" placeholder="Adet Limiti giriniz" disabled />
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="AGR_DAY_LIMIT" class="control-label"><b>Günlük Limiti</b></label>
                                                                                <input name="AGR_DAY_LIMIT" class="form-control" id="AGR_DAY_LIMIT" type="text" placeholder="Günlük Limiti giriniz" disabled />
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="AGR_SESSION_COUNT" class="control-label"><b>Seans Limiti</b></label>
                                                                                <input name="AGR_SESSION_COUNT" class="form-control" id="AGR_SESSION_COUNT" type="text" placeholder="Seans Limiti giriniz" disabled />
                                                                            </div>

                                                                            <div class="col-sm-6">
                                                                                <label for="AGR_EXEMPTION_TYPE" class="control-label"><b>Muafiyet Tipi</b></label>
                                                                                <select name="AGR_EXEMPTION_TYPE" class="selectpicker w-100-pr mbui-select bg-white" id="AGR_EXEMPTION_TYPE" title="Seçiniz" data-size="5">
                                                                                    @foreach (var ExemptionType in ViewBag.ExemptionTypeList)
                                                                                    {
                                                                                        <option value="@ExemptionType.Key">@ExemptionType.Value</option>
                                                                                    }
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="AGR_EXEMPTION_LIMIT" class="control-label"><b>Muafiyet Limiti</b></label>
                                                                                <input name="AGR_EXEMPTION_LIMIT" class="form-control" id="AGR_EXEMPTION_LIMIT" type="number" placeholder="Muafiyet Limiti giriniz" />
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-sm-12">
                                                                        <div class="btn-wrapper-center">
                                                                            <label for="checkNAG" class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg mr-10 fl">
                                                                                <input type="checkbox" value="1" name="checkNAG" id="checkNAG">
                                                                                <i></i> <b>Anlaşmasız</b>
                                                                            </label>

                                                                            <label for="checkEMG" class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fl">
                                                                                <input type="checkbox" value="1" name="checkEMG" id="checkEMG">
                                                                                <i></i> <b>Acil</b>
                                                                            </label>
                                                                        </div>
                                                                    </div>


                                                                    <div class="btn-wrapper-center">
                                                                        <button type="button" onclick="VariationValidate('frmPlan', 'hdAGRList','AGR','isSubVariationClone');" class="btn btn-success btn-sm createList mr-10 mt-10">Kaydet</button>
                                                                    </div>
                                                                </div>

                                                                @*Anlaşmasız*@
                                                                <div role="tabpanel" class="tab-pane" id="tab2">
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group">
                                                                            <input type="hidden" name="NAG_ID" id="NAG_ID" value="0" />
                                                                            <div class="col-sm-6">
                                                                                <label for="NAG_AGREEMENT_TYPE" class="control-label"><span class="color-danger">*</span><b>Tipi</b></label>
                                                                                <select name="NAG_AGREEMENT_TYPE" class="selectpicker w-100-pr mbui-select bg-white" id="NAG_AGREEMENT_TYPE" title="Seçiniz" data-size="5" onchange="SelectType('NAG_AGREEMENT_TYPE','NAG_NUMBER_LIMIT','NAG_DAY_LIMIT','NAG_SESSION_COUNT')">
                                                                                    @foreach (var AgreementType in ViewBag.AgreementTypeList)
                                                                                    {
                                                                                        <option value="@AgreementType.Key">@AgreementType.Value</option>
                                                                                    }
                                                                                </select>
                                                                            </div>
                                                                            @*<div class="col-sm-6">
                                                        <label for="NAG_PRICE_LIMIT" class="control-label">Limit</label>
                                                        <input name="NAG_PRICE_LIMIT" class="form-control touchspin money" data-decimals="0" data-step="1" data-max="9999999999" data-verticalbuttons="true" data-verticalupclass="fa fa-plus" data-verticaldownclass="fa fa-minus" id="NAG_PRICE_LIMIT" type="number" placeholder="Limit giriniz" value="" />
                                                    </div>*@

                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">

                                                                                    <div style="padding:0 0 0 15px;" class="col-sm-9 ">
                                                                                        <label for="NAG_PRICE_LIMIT" class="control-label"><b>Limit</b></label>
                                                                                        <input name="NAG_PRICE_LIMIT" class="form-control touchspin money" data-decimals="0" data-step="1" data-max="9999999999" data-verticalbuttons="true" data-verticalupclass="fa fa-plus" data-verticaldownclass="fa fa-minus" id="NAG_PRICE_LIMIT" type="number" placeholder="Limit giriniz" value="" />
                                                                                    </div>

                                                                                    <div style="padding:0 15px 0 0;" class="col-sm-3 ">
                                                                                        <button class="form-control" style="margin:27px 0 0 0;" type="button" data-targetfactorid="NAG_PRICE_FACTOR" data-targetpricelimitid="NAG_PRICE_LIMIT" name="endless" id="endless" onclick="Endless.call(this,event);"><big><i>&infin;</i></big></button>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="NAG_PRICE_FACTOR" class="control-label"><b>Çarpan</b></label>
                                                                                <input name="NAG_PRICE_FACTOR" class="form-control touchspin money" data-decimals="2" data-step="0.01" data-max="100" data-verticalbuttons="true" data-verticalupclass="fa fa-plus" data-verticaldownclass="fa fa-minus" id="NAG_PRICE_FACTOR" type="number" placeholder="Çarpan giriniz" />
                                                                            </div>

                                                                            <div class="col-sm-6">
                                                                                <label for="NAG_CURRENCY_ID" class="control-label"><span class="color-danger">*</span><b>Döviz</b></label>
                                                                                <select name="NAG_CURRENCY_ID" class="selectpicker w-100-pr mbui-select bg-white" id="NAG_CURRENCY_ID" title="Seçiniz" data-size="5">
                                                                                    @foreach (var CurrencyType in ViewBag.CurrencyTypeList)
                                                                                    {
                                                                                        <option value="@CurrencyType.Key">@CurrencyType.Value</option>
                                                                                    }
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="NAG_COINSURANCE_RATIO" class="control-label"><span class="color-danger">*</span><b>Koasürans Oranı</b></label>
                                                                                <input name="NAG_COINSURANCE_RATIO" class="form-control touchspin money" value="0" data-decimals="0" data-step="1" data-max="100" data-verticalbuttons="true" data-verticalupclass="fa fa-plus" data-verticaldownclass="fa fa-minus" id="NAG_COINSURANCE_RATIO" type="number" placeholder="Koasürans Oranı Giriniz" />
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="NAG_NUMBER_LIMIT" class="control-label"><b>Adet Limiti</b></label>
                                                                                <input name="NAG_NUMBER_LIMIT" class="form-control" id="NAG_NUMBER_LIMIT" type="text" placeholder="Adet Limiti giriniz" disabled />
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="NAG_DAY_LIMIT" class="control-label"><b>Günlük Limiti</b></label>
                                                                                <input name="NAG_DAY_LIMIT" class="form-control" id="NAG_DAY_LIMIT" type="text" placeholder="Günlük Limiti giriniz" disabled />
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="NAG_SESSION_COUNT" class="control-label"><b>Seans Limiti</b></label>
                                                                                <input name="NAG_SESSION_COUNT" class="form-control" id="NAG_SESSION_COUNT" type="text" placeholder="Seans Limiti giriniz" disabled />
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="NAG_EXEMPTION_TYPE" class="control-label"><b>Muafiyet Tipi</b></label>
                                                                                <select name="NAG_EXEMPTION_TYPE" class="selectpicker w-100-pr mbui-select bg-white" id="NAG_EXEMPTION_TYPE" title="Seçiniz" data-size="5">
                                                                                    @foreach (var ExemptionType in ViewBag.ExemptionTypeList)
                                                                                    {
                                                                                        <option value="@ExemptionType.Key">@ExemptionType.Value</option>
                                                                                    }
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="NAG_EXEMPTION_LIMIT" class="control-label"><b>Muafiyet Limiti</b></label>
                                                                                <input name="NAG_EXEMPTION_LIMIT" class="form-control" id="NAG_EXEMPTION_LIMIT" type="number" placeholder="Muafiyet Limiti giriniz" />
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="btn-wrapper-center">
                                                                        <button type="button" onclick="VariationValidate('frmPlan', 'hdNAGList','NAG','isSubVariationClone');" class="btn btn-success btn-sm createList mr-10 mt-10">Kaydet</button>
                                                                    </div>
                                                                </div>

                                                                @*Acil*@
                                                                <div role="tabpanel" class="tab-pane" id="tab3">
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group">
                                                                            <input type="hidden" name="EMG_ID" id="EMG_ID" value="0" />
                                                                            <div class="col-sm-6">
                                                                                <label for="EMG_AGREEMENT_TYPE" class="control-label"><span class="color-danger">*</span><b>Tipi</b></label>
                                                                                <select name="EMG_AGREEMENT_TYPE" class="selectpicker w-100-pr mbui-select bg-white" id="EMG_AGREEMENT_TYPE" title="Seçiniz" data-size="5" onchange="SelectType('EMG_AGREEMENT_TYPE','EMG_NUMBER_LIMIT','EMG_DAY_LIMIT','EMG_SESSION_COUNT')">
                                                                                    @foreach (var AgreementType in ViewBag.AgreementTypeList)
                                                                                    {
                                                                                        <option value="@AgreementType.Key">@AgreementType.Value</option>
                                                                                    }
                                                                                </select>
                                                                            </div>
                                                                            @*<div class="col-sm-6">
                                                        <label for="EMG_PRICE_LIMIT" class="control-label">Limit</label>
                                                        <input name="EMG_PRICE_LIMIT" class="form-control touchspin money" data-decimals="0" data-step="1" data-max="9999999999" data-verticalbuttons="true" data-verticalupclass="fa fa-plus" data-verticaldownclass="fa fa-minus" id="EMG_PRICE_LIMIT" type="number" placeholder="Limit giriniz" value="" />
                                                    </div>*@

                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">

                                                                                    <div style="padding:0 0 0 15px;" class="col-sm-9 ">
                                                                                        <label for="EMG_PRICE_LIMIT" class="control-label"><b>Limit</b></label>
                                                                                        <input name="EMG_PRICE_LIMIT" class="form-control touchspin money" data-decimals="0" data-step="1" data-max="9999999999" data-verticalbuttons="true" data-verticalupclass="fa fa-plus" data-verticaldownclass="fa fa-minus" id="EMG_PRICE_LIMIT" type="number" placeholder="Limit giriniz" value="" />
                                                                                    </div>

                                                                                    <div style="padding:0 15px 0 0;" class="col-sm-3 ">
                                                                                        <button class="form-control" style="margin:27px 0 0 0;" type="button" data-targetfactorid="EMG_PRICE_FACTOR" data-targetpricelimitid="EMG_PRICE_LIMIT" name="endless" id="endless" onclick="Endless.call(this,event);"><big><i>&infin;</i></big></button>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="EMG_PRICE_FACTOR" class="control-label"><b>Çarpan</b></label>
                                                                                <input name="EMG_PRICE_FACTOR" class="form-control touchspin money" data-decimals="2" data-step="0.01" data-max="100" data-verticalbuttons="true" data-verticalupclass="fa fa-plus" data-verticaldownclass="fa fa-minus" id="EMG_PRICE_FACTOR" type="number" placeholder="Çarpan giriniz" />
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="EMG_CURRENCY_ID" class="control-label"><span class="color-danger">*</span><b>Döviz</b></label>
                                                                                <select name="EMG_CURRENCY_ID" class="selectpicker w-100-pr mbui-select bg-white" id="EMG_CURRENCY_ID" title="Seçiniz" data-size="5">
                                                                                    @foreach (var CurrencyType in ViewBag.CurrencyTypeList)
                                                                                    {
                                                                                        <option value="@CurrencyType.Key">@CurrencyType.Value</option>
                                                                                    }
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="EMG_COINSURANCE_RATIO" class="control-label"><span class="color-danger">*</span><b>Koasürans Oranı</b></label>
                                                                                <input name="EMG_COINSURANCE_RATIO" class="form-control touchspin money" value="0" data-decimals="0" data-step="1" data-max="100" data-verticalbuttons="true" data-verticalupclass="fa fa-plus" data-verticaldownclass="fa fa-minus" id="EMG_COINSURANCE_RATIO" type="number" placeholder="Koasürans Oranı Giriniz" />
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="EMG_NUMBER_LIMIT" class="control-label"><b>Adet Limiti</b></label>
                                                                                <input name="EMG_NUMBER_LIMIT" class="form-control" id="EMG_NUMBER_LIMIT" type="text" placeholder="Adet Limiti giriniz" disabled />
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="EMG_DAY_LIMIT" class="control-label"><b>Günlük Limiti</b></label>
                                                                                <input name="EMG_DAY_LIMIT" class="form-control" id="EMG_DAY_LIMIT" type="text" placeholder="Günlük Limiti giriniz" disabled />
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="EMG_SESSION_COUNT" class="control-label"><b>Seans Limiti</b></label>
                                                                                <input name="EMG_SESSION_COUNT" class="form-control" id="EMG_SESSION_COUNT" type="text" placeholder="Seans Limiti giriniz" disabled />
                                                                            </div>

                                                                            <div class="col-sm-6">
                                                                                <label for="EMG_EXEMPTION_TYPE" class="control-label"><b>Muafiyet Tipi</b></label>
                                                                                <select name="EMG_EXEMPTION_TYPE" class="selectpicker w-100-pr mbui-select bg-white" id="EMG_EXEMPTION_TYPE" title="Seçiniz" data-size="5">
                                                                                    @foreach (var ExemptionType in ViewBag.ExemptionTypeList)
                                                                                    {
                                                                                        <option value="@ExemptionType.Key">@ExemptionType.Value</option>
                                                                                    }
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label for="EMG_EXEMPTION_LIMIT" class="control-label"><b>Muafiyet Limiti</b></label>
                                                                                <input name="EMG_EXEMPTION_LIMIT" class="form-control" id="EMG_EXEMPTION_LIMIT" type="number" placeholder="Muafiyet Limiti giriniz" />
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="btn-wrapper-center">
                                                                        <button type="button" onclick="VariationValidate('frmPlan', 'hdEMGList','EMG','isSubVariationClone');" class="btn btn-success btn-sm createList mr-10 mt-10">Kaydet</button>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <input type="hidden" name="selectedPlanCoverage" id="selectedPlanCoverage" value="0" />
                                            <input type="hidden" name="hdAGRList" id="hdAGRList" value="[]" />
                                            <input type="hidden" name="hdNAGList" id="hdNAGList" value="[]" />
                                            <input type="hidden" name="hdEMGList" id="hdEMGList" value="[]" />
                                        </div>

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal frmPlanNetwork_Modal-->
    <div class="modal" id="frmCoverageNetwork_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Teminat - Network Eşlemesi</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="/Product/CoverageNetworkSave" method="post" id="frmCoverageNetwork">
                                    <div class="form-group">
                                        <input type="hidden" class="inputHidden" name="PLAN_COVERAGE_ID" id="PLAN_COVERAGE_ID" value="0" />
                                        <input type="hidden" class="inputHidden" name="PARENT_ID" id="PARENT_ID" value="0" />
                                        <input type="hidden" class="inputHidden" name="STATUS" id="STATUS" value="0" />

                                        <input type="hidden" class="inputHidden" name="ClientId" id="frmCoverageNetwork_ClientId" value="0" />
                                        <input type="hidden" name="isOpen" id="frmCoverageNetwork_isOpen" value="1" />
                                        @*<input type="hidden" name="hdState" id="hdState" value="Add" />
                                            <input type="hidden" name="hdIndex" id="hdIndex" value="-1" />
                                            <input type="hidden" name="hdTreeLevel" id="hdTreeLevel" value="" />*@

                                        <div class="col-sm-12">
                                            <label for="COVERAGE_ID" class="control-label"><span class="color-danger">*</span>Teminat</label>
                                            <select name="COVERAGE_ID" class="chosen-select" id="COVERAGE_ID" title="Seçiniz" required>
                                                <option value="0"></option>
                                                @foreach (var Coverage in ViewBag.CoverageList)
                                                {
                                                <option value="@Coverage.COVERAGE_ID">@Coverage.COVERAGE_NAME (@(((Dictionary<string, string>)ViewBag.CoverageTypeList)[Coverage.COVERAGE_TYPE]))</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="LOCATION_TYPE" class="control-label"><span class="color-danger">*</span>Coğrafi Kapsam Tipi</label>
                                            <select name="LOCATION_TYPE" class="selectpicker w-100-pr mbui-select bg-white" id="LOCATION_TYPE" title="Seçiniz" required>
                                                @foreach (var LocationType in ViewBag.LocationTypeList)
                                                {
                                                    <option value="@LocationType.Key">@LocationType.Value</option>
                                                }
                                            </select>
                                        </div>
                                        <input type="hidden" class="inputHidden" name="LOCATION_TYPE" id="hdLOCATION_TYPE" value="" disabled />
                                        <div class="col-sm-12">
                                            <label for="PLAN_COVERAGE_NAME" class="control-label">Plandaki Adı</label>
                                            <input name="PLAN_COVERAGE_NAME" class="form-control" id="PLAN_COVERAGE_NAME" type="text" placeholder="Adı giriniz" />
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="NETWORK" class="control-label"><span class="color-danger">*</span>Network</label>
                                            <select class="chosen-select" id="NETWORK" name="NETWORK" title="Seçiniz" required>
                                                <option value="0"></option>
                                                @foreach (var Network in ViewBag.NetworkList)
                                                {
                                                    <option value="@Network.Id">@Network.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <input type="hidden" class="inputHidden" name="NETWORK" id="hdNETWORK" value="" disabled />

                                    </div>
                                    <div class="btn-wrapper-center">
                                        <button type="button" id="btnfrmCoverageNetworkSave" onclick="ValidateAndSave('frmCoverageNetwork', 'hdTreeData', 'frmPlan', 'frmCoverageNetwork_Modal','COVERAGE_ID');" class="btn btn-success btn-sm createList mr-10"> Kaydet</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script id="root-template" type="text/x-custom-template">

    <ul class="tree-list" id="root_${PLAN_COVERAGE_ID}">
        <li class="parent new-list tree-open">
            <div class="tree clearfix active plan-list" onclick="GetValiation(${PLAN_COVERAGE_ID},'root')">
                <span class="tree-bottun open-tree icon-circle btn-success fl rounded">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </span>
                <span class="list-name" title="${COVERAGE_IDSelectedText} - ${NETWORKSelectedText}" >${COVERAGE_NAME} - ${NETWORK_NAME}</span>
                <div class="tree-list-islem-block">
                    @*level 2 butonlar*@
                    <a onclick="CreateData('frmCoverageNetwork'); settLevel('Sub','${PLAN_COVERAGE_NAME}','${LOCATION_TYPE}','${NETWORK}', ${PLAN_COVERAGE_ID});" href="#" class="myIcon icon-info" data-toggle="modal" data-target="#frmCoverageNetwork_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a onclick="settLevel('Root','${PLAN_COVERAGE_NAME}','${LOCATION_TYPE}','${NETWORK}', ${PLAN_COVERAGE_ID}); settFormUpdate('Root',${PLAN_COVERAGE_ID});" href="#" class="myIcon icon-warning " data-toggle="modal" data-target="#frmCoverageNetwork_Modal" data-tooltip="tooltip" data-placement="bottom" title="Düzenle">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a onclick="ConfirmDeleteAndSave('hdTreeData',${PLAN_COVERAGE_ID});" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</script>

<script id="sub-template" type="text/x-custom-template">
    <ul class="tree-list" id="sub__${PLAN_COVERAGE_ID}">
        <li class="new-list">
            <div class="tree clearfix plan-list" onclick="GetValiation(${PLAN_COVERAGE_ID},'sub')">
                <span class="tree-bottun open-tree icon-circle btn-success fl rounded">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </span>
                <span class="list-name" title="${COVERAGE_IDSelectedText} - ${NETWORKSelectedText}" >${COVERAGE_NAME} - ${NETWORK_NAME}</span>
                <div class="tree-list-islem-block">
                    <a onclick="settLevel('Sub','${PLAN_COVERAGE_NAME}','${LOCATION_TYPE}','${NETWORK}', ${PLAN_COVERAGE_ID});settFormUpdate('Sub', ${PLAN_COVERAGE_ID});" href="#" class="myIcon icon-warning " data-toggle="modal" data-target="#frmCoverageNetwork_Modal" data-tooltip="tooltip" data-placement="bottom" title="Düzenle">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a onclick="ConfirmDeleteAndSave('hdTreeData',${PLAN_COVERAGE_ID});" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</script>

<script>
    var IsPoolType = false; // HAVUZ GRUP - HAVUZ HOLDİNG VEYA YILLIK SEÇİLDİĞİNDE GÜNLÜK ADET VE ADET LİMİTİNİ AYNI ANDA GİREMEZ.
    $(document).ready(function () {
        /**/
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""))
        /**/
        $('.mbui-body .nav-tabs > li > a').css('pointer-events', 'auto');
        BuildTree();

        //LIMIT - FAKTOR KONTROLÜ
        $("input[type=number]").keyup(function () {

            var inputSelectedId = $(this).attr('id');
            if (inputSelectedId.indexOf("_PRICE_FACTOR") > 0 || inputSelectedId.indexOf("_PRICE_LIMIT") > 0) {
                var inputTargetId = inputSelectedId.indexOf('_FACTOR') > 0 ? inputSelectedId.replace("_FACTOR", "_LIMIT") :
                                                                             inputSelectedId.replace("_LIMIT", "_FACTOR");
                if ($(this).val().length > 0)
                    $("#" + inputTargetId).val("");
            }
        });

        //GÜNLÜK - ADETLİK KONTROLÜ
        $("input[type=text]").keyup(function () {

            var inputSelectedId = $(this).attr('id');
            if (inputSelectedId.indexOf("_NUMBER_LIMIT") > 0 || inputSelectedId.indexOf("_DAY_LIMIT") > 0) {
                var inputTargetId = inputSelectedId.indexOf('_NUMBER_LIMIT') > 0 ? inputSelectedId.replace("_NUMBER_LIMIT", "_DAY_LIMIT") :
                                                                                   inputSelectedId.replace("_DAY_LIMIT", "_NUMBER_LIMIT");
                if ($(this).val().length > 0)
                    $("#" + inputTargetId).val("");
            }
        });

    });

    var jsonValue = '@Html.Raw(jsonTreeData)';
    var data = JSON.parse(jsonValue);
    $('#hdTreeData').val(JSON.stringify(data));

    var jsonContractedVariation = '@Html.Raw(jsonContractedVariation)';
    var dataContractedVariation = JSON.parse(jsonContractedVariation);
    $('#hdAGRList').val(JSON.stringify(dataContractedVariation));

    var jsonNonAgreementVariation = '@Html.Raw(jsonNonAgreementVariation)';
    var dataNonAgreementVariation = JSON.parse(jsonNonAgreementVariation);
    $('#hdNAGList').val(JSON.stringify(dataNonAgreementVariation));

    var jsonUrgentVariation = '@Html.Raw(jsonUrgentVariation)';
    var dataUrgentVariation = JSON.parse(jsonUrgentVariation);
    $('#hdEMGList').val(JSON.stringify(dataUrgentVariation));

    function ValidateAndSave(frm, hdi, frmName, modalId, coverage) {

        var form = $('#' + frm);
        $.validator.setDefaults({ ignore: ":hidden:not(.chosen-select)" })

        form.validate();

        if (form.valid()) {
            var resume = true;
            var planCoverageId = $('#PLAN_COVERAGE_ID').val();
            var coverageId = $('#' + coverage).val();
            var treeData = $('#hdTreeData').val();
            $.each(JSON.parse(treeData), function (j, elm) {
                if (elm.COVERAGE_ID == coverageId && elm.PLAN_COVERAGE_ID != planCoverageId) {
                    swal({
                        title: "Hata!",
                        text: "Aynı Teminat Birden Fazla Teminat-Network Eşlemesine Kaydedilemez.",
                        icon: "warning"
                    });
                    resume = false;
                    return false;
                }
            });
            if (resume) {
                addData(frm, hdi);
                var formData = $("#" + frmName).serializeArray();

                $.ajax({
                    url: form[0].action,
                    type: form[0].method,
                    dataType: "JSON",
                    data: formData,
                    beforeSend: function (xhr) {
                        $.blockUI({ message: $('#domMessage') });
                    },
                    success: function (dat) {
                        data = JSON.parse(dat);
                        $('#hdTreeData').val(JSON.stringify(data));
                        BuildTree();
                        $.unblockUI();
                        swal({
                            title: "İşlem Başarılı!",
                            text: "Teminat-Network Eşleşmesi Başarıyla Kaydedildi",
                            icon: "success"
                        });
                    },
                    error: function (xhr, err) {
                        alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                        alert("responseText: " + xhr.responseText);
                        $.unblockUI();

                    }
                });
                $("#" + modalId).modal("toggle");
            }
        } else {
            swal({
                title: "Hata",
                text: "Zorunlu alanları doldurunuz!",
                icon: "success"
            });
        }
    }

    function VariationValidate(frm, hdi, typ,isSubCloneInput) {
        var isValidate = true;
        if (typeof typ != "undefined" && typ != "") {
            /*PROT-14*/
            if ($('#' + typ + '_AGREEMENT_TYPE').val() == "" || $('#' + typ + '_COINSURANCE_RATIO').val() == "" || $('#' + typ + '_CURRENCY_ID').val() == "") {
                swal({
                    title: "Hata",
                    text: "Zorunlu alanları doldurunuz!",
                    icon: "warning"
                });
                isValidate = false;
                return false;
            }
            if ($('#' + typ + '_PRICE_LIMIT').val() == "" && $('#' + typ + '_PRICE_FACTOR').val() == "") {
                swal({
                    title: "Hata",
                    text: "Limit veya Çarpan Değerlerinden En Az Birinin Girilmesi Gerekmektedir!",
                    icon: "warning"
                });
                isValidate = false;
                return false;

            }
            var type = $('#' + typ + '_AGREEMENT_TYPE').val();
            if (type == "1" && $('#' + typ + '_NUMBER_LIMIT').val() == "") {
                swal({
                    title: "Hata",
                    text: "Adet Limiti Girişi Yapınız!",
                    icon: "warning"
                });
                isValidate = false;
                return false;

            }
            if (type == "3" && $('#' + typ + '_DAY_LIMIT').val() == "") {
                swal({
                    title: "Hata",
                    text: "Gün Limiti Girişi Yapınız!",
                    icon: "warning"
                });
                isValidate = false;
                return false;

            }
            if ((type == "4" || type == "5" || type == "0") && $('#' + typ + '_NUMBER_LIMIT').val() != "" && $('#' + typ + '_DAY_LIMIT').val() != "") {
                swal({
                    title: "Hata",
                    text: "Gün Limiti ve Adet Limiti Aynı Anda Girilemez!",
                    icon: "warning"
                });
                isValidate = false;
                return false;

            }
            if (type == "7" && $('#' + typ + '_SESSION_COUNT').val() == "") {
                swal({
                    title: "Hata",
                    text: "Seans Limiti Girişi Yapınız!",
                    icon: "warning"
                });
                isValidate = false;
                return false;

            }
            /*END PROT-14*/
            if (isValidate) {
                var isSubClone = $('#' + isSubCloneInput).val();
                if (isSubClone == "0") {
                    VariationSave(frm, hdi, typ,"0");
                }
                else {
                    swal({
                        title: "Kopyalama",
                        text: "Ana Teminatın ANLAŞMALI, ANLAŞMASIZ ve ACİL bilgileri alt teminatlara kopyalansın mı?",
                        type: "info",
                        showCancelButton: true,
                        cancelButtonText: "Hayır",
                        confirmButtonText: "Evet",
                        closeOnConfirm: true,
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                VariationSave(frm, hdi, typ,"1");
                            }
                            else {
                                VariationSave(frm, hdi, typ, "0");
                            }
                        });
                }
            }
        }
    }
    
    function Endless(event) {
        var targetPriceId = $(this).data("targetpricelimitid");
        var targetFactorId = $(this).data("targetfactorid");

        $('#' + targetPriceId).val('9999999999');
        $('#' + targetFactorId).val('');

    }

    function VariationSave(frm, hdi, typ,isSubClone) {
        debugger;
        var form = $("#" + frm);
        var formData = new FormData(form[0]);
        var planCoverageId = $('#selectedPlanCoverage').val();
        $.ajax({
            type: "POST",
            url: "/Product/VariationSave?Type=" + typ + "&isSubClone=" + isSubClone,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            success: function (dat) {
                var responseData = JSON.parse(dat);
                var agr = responseData[0], nag = responseData[1], emg = responseData[2];

                $('#hdAGRList').val(JSON.stringify(agr));
                $('#hdNAGList').val(JSON.stringify(nag));
                $('#hdEMGList').val(JSON.stringify(emg));
                GetValiation(planCoverageId);
                $.unblockUI();
                swal({
                    title: "İşlem Başarılı!",
                    text: "Teminat-Network Varyasyon Değerleri Başarıyla Kaydedildi",
                    icon: "success"
                });
            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
                $.unblockUI();
            }
        });
    }

    function SavePlan(frm, hdPlanId, inputName, hdPlanName) {
        var form = $('#' + frm);
        var Id = $('#' + hdPlanId).val();
        var name = $('#' + inputName).val();
        var hdName = $('#' + hdPlanName).val();
        debugger;
        if (name == "")
            $('#' + inputName).val("-");
        if (Id == "0" || (name != hdName)) {
            
            var formData = new FormData(form[0]);
            $.ajax({
                type: form[0].method,
                contentType: "application/json; charset=utf-8",
                url: form[0].action,
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                },
                success: function (data) {
                    var responseData = $.parseJSON(data);
                    $.each(responseData, function (c,item) {
                        $("#" + hdPlanId).val(item.PLAN_ID);
                        $("#" + hdPlanName).val(item.PLAN_NAME);
                    });
                    settLevel('Root');
                    document.getElementById("divPlan").style.display = "block";
                    $.unblockUI();
                },
                error: function (xhr, err) {
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                    $.unblockUI();
                }
            });
        }
        else {
            settLevel('Root');
        }
    }

    function SelectType(type, numberLimit, dayLimit, sessionLimit) {
        var type = $('#' + type).val();
        IsPoolType = false;
        if (type == "1") { //ADETLİK
            $('#' + numberLimit).val("");
            $('#' + dayLimit).val("");
            $('#' + sessionLimit).val("");

            $('#' + numberLimit).prop('disabled', '');
            $('#' + dayLimit).prop('disabled', 'disabled');
            $('#' + sessionLimit).prop('disabled', 'disabled');
        }
        else if (type == "2" || type == "6" || type == "8") { //FATURA BAŞINA - REÇETE BAŞINA - VİZİTE BAŞINA
            $('#' + numberLimit).val("");
            $('#' + dayLimit).val("");
            $('#' + sessionLimit).val("");

            $('#' + numberLimit).prop('disabled', 'disabled');
            $('#' + dayLimit).prop('disabled', 'disabled');
            $('#' + sessionLimit).prop('disabled', 'disabled');
        }
        else if (type == "3") { // GÜNLÜK
            $('#' + numberLimit).val("");
            $('#' + dayLimit).val("");
            $('#' + sessionLimit).val("");

            $('#' + numberLimit).prop('disabled', 'disabled');
            $('#' + dayLimit).prop('disabled', '');
            $('#' + sessionLimit).prop('disabled', 'disabled');
        }
        else if (type == "4" || type == "5" || type == "0") { // HAVUZ GRUP - HAVUZ HOLDİNG - YILLIK
            $('#' + numberLimit).val("");
            $('#' + dayLimit).val("");
            $('#' + sessionLimit).val("");

            $('#' + numberLimit).prop('disabled', '');
            $('#' + dayLimit).prop('disabled', '');
            $('#' + sessionLimit).prop('disabled', 'disabled');
            IsPoolType = true;
        }
        else if (type == "7") { // SEANS BAŞINA
            $('#' + numberLimit).val("");
            $('#' + dayLimit).val("");
            $('#' + sessionLimit).val("");

            $('#' + numberLimit).prop('disabled', '');
            $('#' + dayLimit).prop('disabled', 'disabled');
            $('#' + sessionLimit).prop('disabled', '');
        }
    }

    //Template helper
    var rootItemTpl = $('#root-template').text().split(/\$\{(.+?)\}/g);
    var subItemTpl = $('#sub-template').text().split(/\$\{(.+?)\}/g);
    function render(props) {
        return function (tok, i) { return (i % 2) ? props[tok] : tok; };
    }
    //End Template Helper

    function adddRootLevel(dataIndex) {
        var rowData = data[dataIndex];
        var newRow = rootItemTpl.map(render(rowData)).join('');
        $('#processList').append(newRow);
    }

    function adddSubLevel(dataIndex, parentIndex) {
        var rowData = data[dataIndex];
        var newRow = subItemTpl.map(render(rowData)).join('');

        //$('#sub_' + dataIndex).remove();

        $('#root_' + parentIndex + ' li.parent').append(newRow);
    }

    function BuildTree() {
        var newRow = "";
        $('#processList').empty();
        if (data.length == 0 || data == "[]") {
            document.getElementById("divVariationList").style.display = "none";
        }
        $.each(data, function (index, dt) {
            debugger;
            if (dt.STATUS != "1") {
                dt.COVERAGE_NAME = dt.COVERAGE_IDSelectedText != null ? dt.COVERAGE_IDSelectedText.substring(0, 10) : "";
                dt.NETWORK_NAME = dt.NETWORKSelectedText != null ? dt.NETWORKSelectedText.substring(0, 10) : "";

                if (dt.PARENT_ID == "-1") {
                    newRow = rootItemTpl.map(render(dt)).join('');
                    $('#processList').append(newRow);
                } else {
                    newRow = subItemTpl.map(render(dt)).join('');
                    $('#root_' + dt.PARENT_ID + ' li.parent').append(newRow);
                }
            }
        });

    }

    function FillCoverage(sourceSelectedBox, targetSelectBox) {
        var IdList = $('#' + sourceSelectedBox).val();
        $.ajax({
            url: '/Common/FillCoverage',
            type: "POST",
            dataType: "JSON",
            data: { coverageIdList: IdList },
            success: function (data) {
                $("#" + targetSelectBox).html(""); // clear before appending new list

                $("#" + targetSelectBox).append('<option value="">Seçiniz</option>');
                $.each(JSON.parse(data), function (i, item) {
                    $("#" + targetSelectBox).append($('<option></option>').val(item.Id).html(item.Name));
                }); $("#" + targetSelectBox).selectpicker("refresh");
            }
        });
    }

    function settLevel(level, name, location, network, rootIndex) {
        var nameVal = $('#hdPlanName').val();
        debugger;
        if (level == "Sub") {
            $('#LOCATION_TYPE').val(location).change().prop('disabled', 'disabled');
            $('#hdNETWORK').val(network).prop('disabled', '');
            $('#hdLOCATION_TYPE').val(location).prop('disabled', '');

            $('#NETWORK').val(network).prop('disabled', 'disabled').trigger("chosen:updated");
            $('#PARENT_ID').val(rootIndex);
        }
        else {
            $('#LOCATION_TYPE').prop('disabled', '');
            $('#NETWORK').prop('disabled', '').trigger("chosen:updated");

            $('#hdNETWORK').prop('disabled', 'disabled');
            $('#hdLOCATION_TYPE').prop('disabled', 'disabled');
        }

    }

    function settFormUpdate(level, id) {

        $.each(data, function (index, dt) {
            debugger;
            if (dt.PLAN_COVERAGE_ID == id) {
                var rowData = dt;

                for (item in rowData) {
                    if (item == "COVERAGE_ID" || item == "NETWORK")
                        $('#' + item).val(rowData[item]).trigger("chosen:updated");
                    else {
                        $('#' + item).val(rowData[item]).change();
                    }
                }
            }
        });
        $("#btnfrmCoverageNetworkSave").html("GÜNCELLE");
        $('#frmCoverageNetwork_isOpen').val("1");
    }

    function deletteRow(hdi, id) {

        $.each(data, function (index, dt) {
            if (dt.PLAN_COVERAGE_ID == id) {
                dt.STATUS = "1";
                dt.isOpen = "1";
            }
        });
        $('#hdTreeData').val(JSON.stringify(data));
        var formData = $("#frmPlan").serializeArray();
        $.ajax({
            url: "/Product/CoverageNetworkSave",
            type: "POST",
            dataType: "JSON",
            data: formData,
            beforeSend: function (xhr) {
                $.blockUI({ message: $('#domMessage') });
            },
            success: function (dat) {
                data = JSON.parse(dat);
                $('#hdTreeData').val(JSON.stringify(data));
                document.getElementById("divVariationList").style.display = "none";
                BuildTree();
                $.unblockUI();
                swal({
                    title: "Silme İşlemi Başarılı!",
                    text: "Teminat-Network Eşleşmesi Başarıyla Silindi.",
                    icon: "success"
                });
            },
            error: function (xhr, err) {
                alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                alert("responseText: " + xhr.responseText);
                $.unblockUI();
            }
        });
    }

    function ConfirmDeleteAndSave(hdi, id) {

        swal({
            title: "Sil",
            text: "Silmek istediğinizden emin misiniz ?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "Hayır",
            confirmButtonText: "Evet",
            closeOnConfirm: true,
        },
            function (isConfirm) {

                if (isConfirm) {

                    deletteRow(hdi, id);
                }
            });
    }

    function GetValiation(planCoverageId,type) {
        var id = planCoverageId;
        ClearVariation();

        if (type == "root") {
            $('#isSubVariationClone').val("1");
        } else {
            $('#isSubVariationClone').val("0");
        }

        document.getElementById("divVariationList").style.display = "block";
        $('#selectedPlanCoverage').val(id);
        $('#tab1').addClass('active');
        $('#tab2').removeClass('active');
        $('#tab3').removeClass('active');

        $('#tabList1').addClass('active');
        $('#tabList2').removeClass('active');
        $('#tabList3').removeClass('active');


        var jsonContracted = JSON.parse($('#hdAGRList').val());
        
        $.each(jsonContracted, function myfunction(index, dataItem) {
            if (dataItem.PLAN_COVERAGE_ID == id) {
                debugger;

                $('#AGR_ID').val(dataItem.AGR_ID);
                $('#AGR_AGREEMENT_TYPE').val(dataItem.AGR_AGREEMENT_TYPE).change();
                $('#AGR_PRICE_LIMIT').val(dataItem.AGR_PRICE_LIMIT);
                $('#AGR_PRICE_FACTOR').val(dataItem.AGR_PRICE_FACTOR);
                $('#AGR_CURRENCY_ID').val(dataItem.AGR_CURRENCY_ID).change();
                $('#AGR_NUMBER_LIMIT').val(dataItem.AGR_NUMBER_LIMIT);
                $('#AGR_DAY_LIMIT').val(dataItem.AGR_DAY_LIMIT);
                $('#AGR_COINSURANCE_RATIO').val(dataItem.AGR_COINSURANCE_RATIO);
                $('#AGR_EXEMPTION_TYPE').val(dataItem.AGR_EXEMPTION_TYPE).change();
                $('#AGR_EXEMPTION_LIMIT').val(dataItem.AGR_EXEMPTION_LIMIT);
                $('#AGR_SESSION_COUNT').val(dataItem.AGR_SESSION_COUNT);

                return false;
            }
        });

        var jsonNonAgreement = JSON.parse($('#hdNAGList').val());
        console.log(jsonNonAgreement);
        $.each(jsonNonAgreement, function myfunction(index, dataItem) {
            if (dataItem.PLAN_COVERAGE_ID == id) {
                $('#NAG_ID').val(dataItem.NAG_ID);
                $('#NAG_AGREEMENT_TYPE').val(dataItem.NAG_AGREEMENT_TYPE).change();
                $('#NAG_PRICE_LIMIT').val(dataItem.NAG_PRICE_LIMIT);
                $('#NAG_PRICE_FACTOR').val(dataItem.NAG_PRICE_FACTOR);
                $('#NAG_CURRENCY_ID').val(dataItem.NAG_CURRENCY_ID).change();
                $('#NAG_NUMBER_LIMIT').val(dataItem.NAG_NUMBER_LIMIT);
                $('#NAG_DAY_LIMIT').val(dataItem.NAG_DAY_LIMIT);
                $('#NAG_COINSURANCE_RATIO').val(dataItem.NAG_COINSURANCE_RATIO);
                $('#NAG_EXEMPTION_TYPE').val(dataItem.NAG_EXEMPTION_TYPE).change();
                $('#NAG_EXEMPTION_LIMIT').val(dataItem.NAG_EXEMPTION_LIMIT);
                $('#NAG_SESSION_COUNT').val(dataItem.NAG_SESSION_COUNT);

                return false;
            }
        });

        var jsonUrgent = JSON.parse($('#hdEMGList').val());
        console.log(jsonUrgent);
        $.each(jsonUrgent, function myfunction(index, dataItem) {
            if (dataItem.PLAN_COVERAGE_ID == id) {
                $('#EMG_ID').val(dataItem.EMG_ID);
                $('#EMG_AGREEMENT_TYPE').val(dataItem.EMG_AGREEMENT_TYPE).change();
                $('#EMG_PRICE_LIMIT').val(dataItem.EMG_PRICE_LIMIT);
                $('#EMG_PRICE_FACTOR').val(dataItem.EMG_PRICE_FACTOR);
                $('#EMG_CURRENCY_ID').val(dataItem.EMG_CURRENCY_ID).change();
                $('#EMG_NUMBER_LIMIT').val(dataItem.EMG_NUMBER_LIMIT);
                $('#EMG_DAY_LIMIT').val(dataItem.EMG_DAY_LIMIT);
                $('#EMG_COINSURANCE_RATIO').val(dataItem.EMG_COINSURANCE_RATIO);
                $('#EMG_EXEMPTION_TYPE').val(dataItem.EMG_EXEMPTION_TYPE).change();
                $('#EMG_EXEMPTION_LIMIT').val(dataItem.EMG_EXEMPTION_LIMIT);
                $('#EMG_SESSION_COUNT').val(dataItem.EMG_SESSION_COUNT);

                return false;
            }
        });
    }

    function ClearVariation(){
        $('#AGR_ID').val(0);
        $('#AGR_AGREEMENT_TYPE').val("").change();
        $('#AGR_PRICE_LIMIT').val("");
        $('#AGR_PRICE_FACTOR').val("");
        $('#AGR_CURRENCY_ID').val(1).change();
        $('#AGR_NUMBER_LIMIT').val("");
        $('#AGR_DAY_LIMIT').val("");
        $('#AGR_COINSURANCE_RATIO').val("");
        $('#AGR_EXEMPTION_TYPE').val("").change();
        $('#AGR_EXEMPTION_LIMIT').val("");
        $('#AGR_SESSION_COUNT').val("");

        $('#NAG_ID').val(0);
        $('#NAG_AGREEMENT_TYPE').val("").change();
        $('#NAG_PRICE_LIMIT').val("");
        $('#NAG_PRICE_FACTOR').val("");
        $('#NAG_CURRENCY_ID').val(1).change();
        $('#NAG_NUMBER_LIMIT').val("");
        $('#NAG_DAY_LIMIT').val("");
        $('#NAG_COINSURANCE_RATIO').val("");
        $('#NAG_EXEMPTION_TYPE').val("").change();
        $('#NAG_EXEMPTION_LIMIT').val("");
        $('#NAG_SESSION_COUNT').val("");


        $('#EMG_ID').val(0);
        $('#EMG_AGREEMENT_TYPE').val("").change();
        $('#EMG_PRICE_LIMIT').val("");
        $('#EMG_PRICE_FACTOR').val("");
        $('#EMG_CURRENCY_ID').val(1).change();
        $('#EMG_NUMBER_LIMIT').val("");
        $('#EMG_DAY_LIMIT').val("");
        $('#EMG_COINSURANCE_RATIO').val("");
        $('#EMG_EXEMPTION_TYPE').val("").change();
        $('#EMG_EXEMPTION_LIMIT').val("");
        $('#EMG_SESSION_COUNT').val("");
    }

</script>