﻿<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form mbui-inside-form">
                <div class="mbui-header mbui-inside-header">
                    <h3><strong>Plan Listesi</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a href="/Product/PlanForm/@ViewBag.SubproductId" tabindex="0" class="mbui-add" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                        <li class="dropdown mbui-list">
                            <a role="button" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" data-tooltip="tooltip" data-placement="bottom" title="Kayıt Sayısı">
                                <i class="fa fa-hashtag"></i>
                            </a>
                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a role="button" tabindex="0" data-value="10">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 10
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="25">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 25
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="50">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 50
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="100">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i> 100
                                    </a>
                                </li>
                                <li>
                                    <a role="button" tabindex="0" data-value="-1">
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        <i class="ion-ios-infinite" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a role="button" tabindex="0" class="mbui-fullscreen" data-tooltip="tooltip" data-placement="bottom" title="Tam Ekran">
                                <i class="fa fa-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body mbui-inside-body">
                    <div class="table-responsive">
                        <table class="table table-md table-custom" id="tblPlan">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Sigorta Şirketi</th>
                                    <th>Ürün</th>
                                    <th>Alt Ürün</th>
                                    <th>Adı</th>
                                    <th>Durum</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Plan in ViewBag.Plans)
                                {
                                    <tr>
                                        <td>@Plan.PLAN_ID</td>
                                        <td>@Plan.COMPANY_NAME</td>
                                        <td>@Plan.PRODUCT_NAME</td>
                                        <td>@Plan.SUBPRODUCT_NAME</td>
                                        <td>@Plan.PLAN_NAME</td>
                                        @if (Plan.STATUS == "0")
                                        {
                                            <td>
                                                <p class="durum color-success"><strong>Aktif</strong></p>
                                            </td>
                                        }
                                        else if (Plan.STATUS == "2")
                                        {
                                            <td>
                                                <p class="durum color-default"><strong>Pasif</strong></p>
                                            </td>
                                        }
                                        else if (Plan.STATUS == "1")
                                        {
                                            <td>
                                                <p class="durum color-danger"><strong>Silinmiş</strong></p>
                                            </td>
                                        }
                                        <td class="islem popup">
                                            <div class="btn-group fr">
                                                <a href="/Product/PlanForm/Edit/@Plan.PLAN_ID" class="myIcon icon-warning" data-tooltip="tooltip" data-placement="bottom" title="Düzenle"><i class="fa fa-pencil-square-o"></i></a>
                                                <a onclick="Confirm('Sil','Silmek istediğinizden emin misiniz ?','warning','/Product/PlanDelete/@Plan.PLAN_ID');" class="myIcon icon-danger" data-tooltip="tooltip" data-placement="bottom" title="Sil"><i class="fa fa-trash-o"></i></a>
                                                <a onclick="Confirm('Kopyala','Kopyalama yapmak istediğinizden emin misiniz ?','warning','/Product/PlanClone/@Plan.PLAN_ID');  Loading();" class="myIcon icon-primary" data-tooltip="tooltip" data-placement="bottom" title="Klonlama"><i class="fa fa-clone"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        @(!String.IsNullOrEmpty(TempData["Alert"].ToString()) ? Html.Raw(TempData["Alert"].ToString()) : Html.Raw(""));
        
        $('#tblPlan').DataTable({
            pageLength: 10,
            language: {
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "",
                "info": ""
            },
            "searching": false,
            "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
            "columns": [
                { "visible": false, "type": "num" },
                {},
                {},
                {},
                {},
                {},
                {}
            ],
            "order": [0, "desc"],
            "processing": "true",
            language: {
                "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                "emptyTable": "Kayıt Bulunamadı",
                "infoEmpty": "Kayıt Bulunamadı",
                "info": "Gösterilen _START_ ile _END_ arası _TOTAL_ kayıt",
                oPaginate: {
                    sNext: 'İleri <i class="fa fa-angle-right"></i>',
                    sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                    sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                    sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                }
            }
        });
    });

</script>