﻿@model Protein.Web.Models.MediaModel.MediaVM
@{
    bool isEdit = ViewBag.isEdit ?? false;
    bool isClone = ViewBag.isClone ?? false;
    //notlar
    string jsonNotes = ViewBag.Notes != null ? ViewBag.Notes : "[]";

    //Ekler
    string jsonMedias = ViewBag.Medias != null ? ViewBag.Medias : "[]";

    //Özel Şart
    string jsonRuleSpecial = ViewBag.RuleSpecialList != null ? ViewBag.RuleSpecialList : "[]";

    //Ek Protocol
    string jsonRuleExtra = ViewBag.RuleExtraList != null ? ViewBag.RuleExtraList : "[]";

    string SUBPRODUCT_TYPE = string.Empty;
    string SUBPRODUCT_NAME = string.Empty;
    string SUBPRODUCT_DESCRIPTION = string.Empty;
    string REGISTRY_DATE = string.Empty;
    string SBM_NO = string.Empty;
    string SUBPRODUCT_CODE = string.Empty;
    string SUBPRODUCT_ID = string.Empty;
    string PRODUCT_ID = string.Empty;
    string IS_SBM_TRANSFER = string.Empty;
    string AGREED_AMOUNT = string.Empty;

    if (isEdit || isClone)
    {
        isEdit = true;

        if (ViewBag.Subproduct != null)
        {
            //Genel bilgilerk
            var subproduct = ViewBag.Subproduct;

            SUBPRODUCT_TYPE = Convert.ToString(subproduct.SUBPRODUCT_TYPE);
            SUBPRODUCT_NAME = Convert.ToString(subproduct.SUBPRODUCT_NAME);
            SUBPRODUCT_DESCRIPTION = Convert.ToString(subproduct.SUBPRODUCT_DESCRIPTION);
            REGISTRY_DATE = Convert.ToString(subproduct.REGISTRY_DATE);
            SUBPRODUCT_CODE = Convert.ToString(subproduct.SUBPRODUCT_CODE);
            SUBPRODUCT_ID = Convert.ToString(subproduct.SUBPRODUCT_ID);
            PRODUCT_ID = Convert.ToString(subproduct.PRODUCT_ID);
            IS_SBM_TRANSFER = Convert.ToString(subproduct.IS_SBM_TRANSFER);
            AGREED_AMOUNT = string.IsNullOrEmpty(Convert.ToString(subproduct.AGREED_AMOUNT)) ? "" : Convert.ToString(subproduct.AGREED_AMOUNT).Replace(',', '.');
        }
    }
}
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="mbui-form">
                <div class="mbui-header">
                    <h3><strong>@ViewBag.Title</strong></h3>
                    <ul class="mbui-controls">
                        <li>
                            <a role="button" tabindex="0" href="/Product/Subproduct/@(ViewBag.ProductId ?? "0")" data-tooltip="tooltip" data-placement="bottom" title="Kapat">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mbui-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mbui-tabs-container clearfix b-full">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-justified" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">GENEL</a></li>
                                    <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">NOT</a></li>
                                    <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">DOSYA</a></li>
                                    <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">ÖZEL ŞART</a></li>
                                    <li role="presentation"><a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">EK PROTOKOL</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">

                                    @*Genel Bilgiler*@
                                    <div role="tabpanel" class="tab-pane active" id="tab1">
                                        <form class="form-horizontal" role="form" id="form1" action="/Product/SubproductSaveStep1" method="post" data-toggle="validator">
                                            <fieldset>
                                                <div class="col-sm-12 mt-10">

                                                    <!-- General Tab - UI Elements -->
                                                    <div class="row">

                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <label class="control-label text-align-left">Tipi </label>
                                                                    <div class="btn-group width-100-pr">
                                                                        <label class="btn-label width-50-pr" for="newAltProductSaglik">
                                                                            <input type="radio" name="SUBPRODUCT_TYPE" value="0" id="newAltProductSaglik" @(SUBPRODUCT_TYPE == "0" ? "checked" : "") />
                                                                            <span class="btn btn-radio btn-border-radio btn-radius-left-10">
                                                                                Ferdi
                                                                            </span>
                                                                        </label>
                                                                        <label class="btn-label width-50-pr" for="newAltProductSeyahat">
                                                                            <input type="radio" name="SUBPRODUCT_TYPE" value="1" id="newAltProductSeyahat" @(SUBPRODUCT_TYPE == "1" ? "checked" : "") />
                                                                            <span class="btn btn-radio btn-border-radio btn-radius-right-10">
                                                                                Grup
                                                                            </span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-4" @(isEdit ? "style=display:block" : "style=display:none")>
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="SUBPRODUCT_CODE" class="control-label"><span class="color-danger">*</span>Kodu</label>
                                                                    <input name="SUBPRODUCT_CODE" class="form-control" id="SUBPRODUCT_CODE" type="text" disabled="disabled" value="@SUBPRODUCT_CODE" required />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-4">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="SUBPRODUCT_NAME" class="control-label"><span class="color-danger">*</span>Kısa Adı</label>
                                                                    <input name="SUBPRODUCT_NAME" class="form-control" id="SUBPRODUCT_NAME" type="text" value="@SUBPRODUCT_NAME" required />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-4">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="SUBPRODUCT_DESCRIPTION" class="control-label"><span class="color-danger">*</span>Uzun Adı</label>
                                                                    <input name="SUBPRODUCT_DESCRIPTION" class="form-control" id="SUBPRODUCT_DESCRIPTION" type="text" value="@SUBPRODUCT_DESCRIPTION" required />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-4">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="sagmerRegistryDate" class="control-label">SAGMER Tescil Tarihi</label>
                                                                    <div class='input-group datepicker mb-20'>
                                                                        <input type='text' class="form-control dateMask" name="sagmerRegistryDate" id="sagmerRegistryDate" value="@ViewBag.SagmerRegistryDate" />
                                                                        <span class="input-group-addon">
                                                                            <span class="fa fa-calendar"></span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-4">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="sagmerNo" class="control-label">SAGMER No</label>
                                                                    <input name="sagmerNo" class="form-control" id="sagmerNo" type="text" placeholder="SAGMER Numarasını giriniz" value="@ViewBag.SagmerNo" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="onoffswitch-wrap">
                                                                        <label for="packageIsSagmer" class="control-label fl pt-0 mr-10">SAGMER’e gönderilecek mi?</label>
                                                                        <div class="onoffswitch greensea inline-block fl">
                                                                            <input type="checkbox" id="packageIsSagmer" name="subProductIsSagmer" value="1" @(IS_SBM_TRANSFER == "0" ? "" : "checked") />
                                                                            <label class="switch mt-5" for="packageIsSagmer">
                                                                                <div></div>
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        @*<div class="col-sm-4">
            <label for="agreedAmount" class="control-label">Anlaşma Tutarı</label>
            <input name="agreedAmount" class="form-control touchspin money" data-decimals="2" data-step="0.01" data-min="0.01" data-max="999999999999999.99" data-verticalbuttons="true" data-verticalupclass="fa fa-plus" data-verticaldownclass="fa fa-minus" id="agreedAmount" type="number" placeholder="Anlaşma tutarını giriniz" value="@AGREED_AMOUNT"/>
        </div>*@

                                                    </div>

                                                    <!-- General Tab - Save Button -->
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <div class="btn-wrapper-center">
                                                                <a onclick="SaveData('form1');" class="btn btn-success btn-sm"> @(isEdit ? "Güncelle" : "Kaydet")</a>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- General Tab - Hidden Inputs -->
                                                    <div>
                                                        <input type="hidden" id="hdSubproductId2" name="hdSubproductId" value="@(String.IsNullOrEmpty(SUBPRODUCT_ID) ? "0" : SUBPRODUCT_ID)" />
                                                        <input type="hidden" name="PRODUCT_ID" id="PRODUCT_ID" value="@(ViewBag.ProductId ?? "0")" />
                                                        <input type="hidden" value="@(ViewBag.SAGMER_REGISTRY_DATE_PARAMETER_ID == null ? "0":ViewBag.SAGMER_REGISTRY_DATE_PARAMETER_ID)" id="hdSagmerRegistryDateParameterId" name="hdSagmerRegistryDateParameterId" />
                                                        <input type="hidden" value="@(ViewBag.SAGMER_REGISTRY_DATE_SUBPRODUCT_PARAMETER_ID ==null ? "0" :  ViewBag.SAGMER_REGISTRY_DATE_SUBPRODUCT_PARAMETER_ID )" id="hdSagmerRegistryDateSubproductParameterId" name="hdSagmerRegistryDateSubproductParameterId" />
                                                        <input type="hidden" value="@(ViewBag.SAGMER_NO_PARAMETER_ID == null ? "0":ViewBag.SAGMER_NO_PARAMETER_ID)" id="hdSagmerNoParameterId" name="hdSagmerNoParameterId" />
                                                        <input type="hidden" value="@(ViewBag.SAGMER_NO_SUBPRODUCT_PARAMETER_ID ==null ? "0" :  ViewBag.SAGMER_NO_SUBPRODUCT_PARAMETER_ID )" id="hdSagmerNoSubproductParameterId" name="hdSagmerNoSubproductParameterId" />
                                                        <input type="hidden" id="hdRule" name="hdRule" value="[]" />
                                                        <input type="hidden" id="hdRuleGrup" name="hdRuleGrup" value="[]" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                    @*Note*@
                                    <div role="tabpanel" class="tab-pane" id="tab2">

                                        <form class="form-horizontal" role="form" action="/Product/SubproductSaveStep2" method="post" id="form2">
                                            <fieldset>
                                                <div class="col-sm-12">
                                                    <div class="mbui-inside-form mb-20 mt-20 b-full mbui-panel">
                                                        <div class="mbui-inside-header heading-color">
                                                            <h4>Not</h4>
                                                            <ul class="mbui-controls">
                                                                <li>
                                                                    <a onclick="CreateData('frmNote');" tabindex="0" data-toggle="modal" data-target="#frmNote_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                                                        <i class="fa fa-plus"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="mbui-body mbui-inside-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-create table-custom" id="tblNotes">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Tipi</th>
                                                                            <th>Açıklama</th>
                                                                            <th>İşlemler</th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" value="[]" id="hdNotes" name="hdNotes" />
                                                    <input type="hidden" value="@(String.IsNullOrEmpty(SUBPRODUCT_ID) ? "0" : SUBPRODUCT_ID)" id="hdSubproductId2" name="hdSubproductId" />

                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                    @*Ekler*@
                                    @Html.Partial("~/Views/Shared/Partials/Modules/MediaList.cshtml", Model)

                                    @*Özel Şartlar*@
                                    <div role="tabpanel" class="tab-pane" id="tab4">
                                        <form class="form-horizontal" role="form" action="/Product/SubproductSaveStep4" method="post" id="form4">
                                            <fieldset>
                                                <div class="col-sm-12">

                                                    <div class="mbui-form mbui-inside-form mb-20 mt-20 b-full mbui-panel ">
                                                        <div class="mbui-inside-header heading-color">
                                                            <h4>Özel Şartlar</h4>
                                                            <ul class="mbui-controls">
                                                                <li>
                                                                    <a onclick="CreateData('frmRuleGroupSpecial')" tabindex="0" data-toggle="modal" data-target="#frmRuleGroupSpecial_Modal" data-tooltip="tooltip" data-placement="bottom" title="Kural Grubu Ekle">
                                                                        <i class="fa"><b style="color:white">G</b></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a onclick="CreateData('frmRuleSpecial')" tabindex="0" data-toggle="modal" data-target="#frmRuleSpecial_Modal" data-tooltip="tooltip" data-placement="bottom" title="Kural Ekle">
                                                                        <i class="fa"><b style="color:white">K</b></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="mbui-body mbui-inside-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-create table-custom" id="tblRuleSpecial">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Kural Grubu Adı</th>
                                                                            <th>Kural Kategorisi</th>
                                                                            <th>Kural Adı</th>
                                                                            <th>Sonuç</th>
                                                                            <th>Kalıtıldığı Öğe</th>
                                                                            <th>Katıldığı Öğe Kodu</th>
                                                                            <th>İşlemler</th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <input type="hidden" value="@(String.IsNullOrEmpty(SUBPRODUCT_ID) ? "0" : SUBPRODUCT_ID)" id="hdSubproductId4" name="hdSubproductId" />
                                                    <input type="hidden" value="@(String.IsNullOrEmpty(PRODUCT_ID) ? "0" : PRODUCT_ID)" id="hdProductId4" name="hdProductId" />
                                                    <input type="hidden" value="[]" id="hdRuleSpecial" name="hdRuleSpecial" />
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                    @*Ek Protokol*@
                                    <div role="tabpanel" class="tab-pane" id="tab5">
                                        <form class="form-horizontal" role="form" action="/Product/SubproductSaveStep5" method="post" id="form5">
                                            <fieldset>
                                                <div class="col-sm-12">

                                                    <div class="mbui-form mbui-inside-form mb-20 mt-20 b-full mbui-panel ">
                                                        <div class="mbui-inside-header heading-color">
                                                            <h4>Ek Protokoller</h4>
                                                            <ul class="mbui-controls">
                                                                <li>
                                                                    <a onclick="CreateData('frmRuleGroupExtra')" tabindex="0" data-toggle="modal" data-target="#frmRuleGroupExtra_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                                                        <i class="fa"><b style="color:white">G</b></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a onclick="CreateData('frmRuleExtra')" tabindex="0" data-toggle="modal" data-target="#frmRuleExtra_Modal" data-tooltip="tooltip" data-placement="bottom" title="Ekle">
                                                                        <i class="fa"><b style="color:white">K</b></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="mbui-body mbui-inside-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-create table-custom" id="tblRuleExtra">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Kural Grubu Adı</th>
                                                                            <th>Kural Kategorisi</th>
                                                                            <th>Kural Adı</th>
                                                                            <th>Sonuç</th>
                                                                            <th>İşlemler</th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" value="@(String.IsNullOrEmpty(SUBPRODUCT_ID) ? "0" : SUBPRODUCT_ID)" id="hdSubproductId5" name="hdSubproductId" />
                                                    <input type="hidden" value="[]" id="hdRuleExtra" name="hdRuleExtra" />
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmNote_Modal -->
    <div class="modal" id="frmNote_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmNote_Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmNote_Modal">Yeni Not Ekle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        @*Note*@
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post" id="frmNote" data-toggle="validator">
                                    <fieldset>
                                        <input type="hidden" class="inputHidden" name="NOTE_ID" id="NOTE_ID" value="0" />
                                        <input type="hidden" class="inputHidden" name="SUBPRODUCT_NOTE_ID" id="SUBPRODUCT_NOTE_ID" value="0" />
                                        <input type="hidden" class="inputHidden" name="STATUS" id="frmNote_STATUS" value="0" />
                                        <input type="hidden" class="inputHidden" name="ClientId" id="frmNote_ClientId" value="0" />
                                        <input type="hidden" name="isOpen" id="frmNote_isOpen" value="1" />

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="NOTE_TYPE" class="control-label"><span class="color-danger">*</span>Tipi</label>
                                                <select name="NOTE_TYPE" class="selectpicker w-100-pr mbui-select bg-white" id="NOTE_TYPE" title="Seçiniz" required>
                                                    @foreach (var NoteType in ViewBag.NoteTypeList)
                                                    {
                                                        <option value="@NoteType.Key">@NoteType.Value</option>
                                                    }
                                                </select>
                                                <div class="form-group has-feedback">
                                                    <div class="col-sm-12">
                                                        <label class="control-label mr-10" for="NOTE_DESCRIPTION"><span class="color-danger">*</span>Açıklama </label>
                                                        <textarea class="form-control" name="NOTE_DESCRIPTION" id="NOTE_DESCRIPTION" placeholder="Açıklama Yazınız" rows="5" minlength="1" maxlength="4000" required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-wrapper-center">
                                            <button type="button" id="btnfrmNoteSave" onclick="ValidateAndSave('frmNote', 'hdNotes', 'form2', 'frmNote_Modal');" class="btn btn-success btn-sm mr-10">Kaydet</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmMedia_Modal -->
    @Html.Partial("~/Views/Shared/Partials/_Media.cshtml", Model)

    <!-- Modal frmRuleSpecial_Modal -->
    <div class="modal" id="frmRuleSpecial_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmRuleSpecial_Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmRuleSpecial_Modal">Özel Şart Seçimi</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        @*Kural*@
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post" name="frmRuleSpecial" id="frmRuleSpecial">
                                    <fieldset>
                                        <input type="hidden" class="inputHidden" name="STATUS" id="frmRuleSpecial_STATUS" value="0" />
                                        <input type="hidden" class="inputHidden" name="ClientId" id="frmRuleSpecial_ClientId" value="0" />

                                        <input type="hidden" name="RULE_TYPE" id="frmRuleSpecial_RULE_TYPE" value="0" />
                                        <input type="hidden" class="inputHidden" name="RULE_SUBPRODUCT_ID" id="frmRuleSpecial_RULE_SUBPRODUCT_ID" value="0" />
                                        <input type="hidden" name="isOpen" id="frmRuleSpecial_isOpen" value="1" />

                                        <div class="mbui-inside-form mb-20 b-full mbui-panel">
                                            <div class="mbui-inside-header heading-color">
                                                <h4>Kural Listesi</h4>
                                                <ul class="mbui-controls">
                                                    <li>
                                                        <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                            <span class="mbui-minimize"><i class="fa fa-angle-down"></i></span>
                                                            <span class="mbui-expand"><i class="fa fa-angle-up"></i></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="mbui-body mbui-inside-body active">
                                                <div class="info-wrapper">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <div class="fl">
                                                                <input type="text" class="form-control search" placeholder="Arama.." value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="tree-list mbui-panel-scroll">
                                                        @foreach (var Rule in ViewBag.RuleList)
                                                        {
                                                            <li class="parent new-list">
                                                                <div class="parent-tree tree clearfix">
                                                                    <span class="list-name" data-tooltip="tooltip" data-placement="bottom" title="@(Rule.RULE_NAME + (Rule.RULE_CATEGORY_TYPE != null ? (" / " + ((Dictionary<string, string>)ViewBag.RuleCategoryTypeList)[Rule.RULE_CATEGORY_TYPE]) : ""))">@(Rule.RULE_NAME + (Rule.RULE_CATEGORY_TYPE != null ? (" / " + ((Dictionary<string, string>)ViewBag.RuleCategoryTypeList)[Rule.RULE_CATEGORY_TYPE]) : ""))</span>
                                                                    <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                        <input type="checkbox" value="@(Rule.RULE_ID+"-"+Rule.RULE_NAME)" class="display-none" name="chkRule" id="@(Rule.RULE_ID+"-"+Rule.RULE_NAME)" data-id="@Rule.RULE_ID" />
                                                                        <i></i>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-wrapper-center">
                                            <button type="button" id="btnfrmRuleSpecialSave" onclick="ValidateAndSave('frmRuleSpecial', 'hdRuleSpecial', 'form4', 'frmRuleSpecial_Modal');" class="btn btn-success btn-sm mr-10" data-dismiss="modal">Kaydet</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmRuleGroupSpecial_Modal -->
    <div class="modal" id="frmRuleGroupSpecial_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmRuleGroupSpecial_Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmRuleGroupSpecial_Modal">Kural Grubu Seçimi</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post" name="frmRuleGroupSpecial" id="frmRuleGroupSpecial">
                                    <fieldset>
                                        <input type="hidden" class="inputHidden" name="STATUS" id="frmRuleGroupSpecial_STATUS" value="0" />
                                        <input type="hidden" class="inputHidden" name="ClientId" id="frmRuleGroupSpecial_ClientId" value="0" />

                                        <input type="hidden" name="RULE_TYPE" id="frmRuleGroupSpecial_RULE_TYPE" value="0" />
                                        <input type="hidden" class="inputHidden" name="RULE_SUBPRODUCT_ID" id="frmRuleGroupSpecial_RULE_SUBPRODUCT_ID" value="0" />
                                        <input type="hidden" name="isOpen" id="frmRuleGroupSpecial_isOpen" value="1" />

                                        <div class="mbui-inside-form mb-20 b-full mbui-panel">
                                            <div class="mbui-inside-header heading-color">
                                                <h4>Kural Grubu Listesi</h4>
                                                <ul class="mbui-controls">
                                                    <li>
                                                        <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                            <span class="mbui-minimize"><i class="fa fa-angle-down"></i></span>
                                                            <span class="mbui-expand"><i class="fa fa-angle-up"></i></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="mbui-body mbui-inside-body active">
                                                <div class="info-wrapper">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <div class="fl">
                                                                <input type="text" class="form-control search" placeholder="Arama.." value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="tree-list mbui-panel-scroll">
                                                        @foreach (var RuleGroup in ViewBag.RuleGroupList)
                                                        {
                                                            <li class="parent new-list">
                                                                <div class="parent-tree tree clearfix">
                                                                    <span class="list-name">@(RuleGroup.Name)</span>
                                                                    <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                        <input type="checkbox" value="@(RuleGroup.Name)" class="display-none" name="chkRuleGroup" id="@(RuleGroup.Name)" data-id="@RuleGroup.Id" />
                                                                        <i></i>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-wrapper-center">
                                            <button type="button" id="btnfrmRuleGroupSpecialSave" onclick="ValidateAndSave('frmRuleGroupSpecial', 'hdRuleSpecial', 'form4', 'frmRuleGroupSpecial_Modal');" class="btn btn-success btn-sm mr-10" data-dismiss="modal">Kaydet</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmRuleExtra_Modal -->
    <div class="modal" id="frmRuleExtra_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmRuleExtra_Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmRuleSpecial_Modal">Özel Şart Seçimi</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        @*Kural*@
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post" name="frmRuleExtra" id="frmRuleExtra">
                                    <fieldset>
                                        <input type="hidden" class="inputHidden" name="STATUS" id="frmRuleExtra_STATUS" value="0" />
                                        <input type="hidden" class="inputHidden" name="ClientId" id="frmRuleExtra_ClientId" value="0" />

                                        <input type="hidden" name="RULE_TYPE" id="frmRuleExtra_RULE_TYPE" value="1" />
                                        <input type="hidden" class="inputHidden" name="RULE_SUBPRODUCT_ID" id="frmRuleExtra_RULE_SUBPRODUCT_ID" value="0" />
                                        <input type="hidden" name="isOpen" id="frmRuleExtra_isOpen" value="1" />

                                        <div class="mbui-inside-form mb-20 b-full mbui-panel">
                                            <div class="mbui-inside-header heading-color">
                                                <h4>Kural Listesi</h4>
                                                <ul class="mbui-controls">
                                                    <li>
                                                        <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                            <span class="mbui-minimize"><i class="fa fa-angle-down"></i></span>
                                                            <span class="mbui-expand"><i class="fa fa-angle-up"></i></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="mbui-body mbui-inside-body active">
                                                <div class="info-wrapper">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <div class="fl">
                                                                <input type="text" class="form-control search" placeholder="Arama.." value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="tree-list mbui-panel-scroll">
                                                        @foreach (var Rule in ViewBag.RuleList)
                                                        {
                                                            <li class="parent new-list">
                                                                <div class="parent-tree tree clearfix">
                                                                    <span class="list-name" data-tooltip="tooltip" data-placement="bottom" title="@(Rule.RULE_NAME + (Rule.RULE_CATEGORY_TYPE != null ? (" / " + ((Dictionary<string, string>)ViewBag.RuleCategoryTypeList)[Rule.RULE_CATEGORY_TYPE]) : ""))">@(Rule.RULE_NAME + (Rule.RULE_CATEGORY_TYPE != null ? (" / " + ((Dictionary<string, string>)ViewBag.RuleCategoryTypeList)[Rule.RULE_CATEGORY_TYPE]) : ""))</span>
                                                                    <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                        <input type="checkbox" value="@(Rule.RULE_ID+"-"+Rule.RULE_NAME)" class="display-none" name="chkRule" id="@(Rule.RULE_ID+"-"+Rule.RULE_NAME)" data-id="@Rule.RULE_ID" />
                                                                        <i></i>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-wrapper-center">
                                            <button type="button" id="btnfrmRuleSpecialSave" onclick="ValidateAndSave('frmRuleExtra', 'hdRuleExtra', 'form5', 'frmRuleExtra_Modal');" class="btn btn-success btn-sm mr-10" data-dismiss="modal">Kaydet</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal frmRuleGroupExtra_Modal -->
    <div class="modal" id="frmRuleGroupExtra_Modal" tabindex="-1" role="dialog" aria-labelledby="myfrmRuleGroupExtra_Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myfrmRuleGroupExtra_Modal">Kural Grubu Seçimi</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="">
                                <form class="form-horizontal" role="form" action="" method="post" name="frmRuleGroupExtra" id="frmRuleGroupExtra">
                                    <fieldset>
                                        <input type="hidden" class="inputHidden" name="STATUS" id="frmRuleGroupExtra_STATUS" value="0" />
                                        <input type="hidden" class="inputHidden" name="ClientId" id="frmRuleGroupExtra_ClientId" value="0" />

                                        <input type="hidden" name="RULE_TYPE" id="frmRuleGroupExtra_RULE_TYPE" value="1" />
                                        <input type="hidden" class="inputHidden" name="RULE_SUBPRODUCT_ID" id="frmRuleGroupExtra_RULE_SUBPRODUCT_ID" value="0" />
                                        <input type="hidden" name="isOpen" id="frmRuleGroupExtra_isOpen" value="1" />

                                        <div class="mbui-inside-form mb-20 b-full mbui-panel">
                                            <div class="mbui-inside-header heading-color">
                                                <h4>Kural Grubu Listesi</h4>
                                                <ul class="mbui-controls">
                                                    <li>
                                                        <a role="button" tabindex="0" class="mbui-inside-toggle">
                                                            <span class="mbui-minimize"><i class="fa fa-angle-down"></i></span>
                                                            <span class="mbui-expand"><i class="fa fa-angle-up"></i></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="mbui-body mbui-inside-body active">
                                                <div class="info-wrapper">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <div class="fl">
                                                                <input type="text" class="form-control search" placeholder="Arama.." value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="tree-list mbui-panel-scroll">
                                                        @foreach (var RuleGroup in ViewBag.RuleGroupList)
                                                        {
                                                            <li class="parent new-list">
                                                                <div class="parent-tree tree clearfix">
                                                                    <span class="list-name">@(RuleGroup.Name)</span>
                                                                    <label class="checkbox mbui-checkbox-custom-alt checkbox-custom-lg fr">
                                                                        <input type="checkbox" value="@(RuleGroup.Name)" class="display-none" name="chkRuleGroup" id="@(RuleGroup.Name)" data-id="@RuleGroup.Id" />
                                                                        <i></i>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-wrapper-center">
                                            <button type="button" id="btnfrmRuleGroupExtraSave" onclick="ValidateAndSave('frmRuleGroupExtra', 'hdRuleExtra', 'form5', 'frmRuleGroupExtra_Modal');" class="btn btn-success btn-sm mr-10" data-dismiss="modal">Kaydet</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
        $(document).ready(function () {
            LoadNote();
            LoadRuleSpecial();
            LoadRuleExtra();
            @(isEdit ? Html.Raw("$('.mbui-body .nav-tabs > li > a').css('pointer-events', 'auto');") : Html.Raw(""));

        });

        function ValidateAndSave(frm, hdi, frmName, modalId) {

            var formData = $("#" + frm).serializeArray();
            var hiddenInput = $("#" + hdi);
            var jsons = new Array();
            var strJSON = "";

            var form = $('#' + frm);
            form.validate();

            if (form.valid()) {
                addData(frm, hdi);
                SaveData(frmName);

                $("#" + modalId).modal("toggle");

            } else {
                swal({
                    title: "Hata",
                    text: "Zorunlu alanları doldurunuz!",
                    icon: "success"
                });
            }
        }

        function SaveData(frmName) {

            debugger

            var form = $('#' + frmName);
            form.validate();

            if (form.valid()) {


                var formData = new FormData(form[0]);

                $.ajax({
                    type: form[0].method,
                    contentType: "application/json; charset=utf-8",
                    url: form[0].action,
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function (xhr) {
                        $.blockUI({ message: $('#domMessage') });
                        console.log('btnSave disabled');
                        $('btn').css('pointer-events', 'none');
                    },
                    success: function (data) {
                        debugger

                        $('btn').css('pointer-events', 'auto');
                        $.unblockUI();

                        var responseData = $.parseJSON(data);
                        if (responseData.ResultCode == "100") {
                            $('.btn').css('pointer-events', 'auto');

                            swal({
                                title: "Kayıt İşlemi Başarılı!",
                                text: "Tüm veriler başarılı kaydedildi",
                                icon: "success"
                            });
                        }
                        else {
                            $('.btn').css('pointer-events', 'auto');
                            swal({
                                title: "Hata!",
                                text: responseData.ResultCode + " : " + responseData.ResultMessage,
                                icon: "warning"
                            });
                        }
                        switch (frmName) {

                            case "form1":
                                $('.mbui-body .nav-tabs > li > a').css('pointer-events', 'auto');
                                $("#hdSagmerRegistryDateParameterId").val(responseData.Data.sagmerRegistryDateParameterId);
                                $("#hdSagmerRegistryDateSubproductParameterId").val(responseData.Data.sagmerRegistryDateSubproductParameterId);
                                $("#hdSagmerNoParameterId").val(responseData.Data.sagmerNoParameterId);
                                $("#hdSagmerNoSubproductParameterId").val(responseData.Data.sagmerNoSubproductParameterId);
                                $("#SUBPRODUCT_CODE").val(responseData.Data.subproductCode);

                                $('input[name="ObjectId"]').val(responseData.Data.subproductId);
                                var hdSubProductIds = document.getElementsByName("hdSubproductId");
                                for (i = 0; i < hdSubProductIds.length; i++) {
                                    hdSubProductIds[i].value = responseData.Data.subproductId;
                                }
                                break;

                            case "form2":
                                $("#hdNotes").val(responseData.Data.jsonData);
                                RefreshTable('tblNotes', 'hdNotes');
                                break;

                            case "form3":
                                $("#hdMedias").val(responseData.Data.jsonData);
                                RefreshTable('tblMedias', 'hdMedias');
                                break;

                            case "form4":
                                $("#hdRuleSpecial").val(responseData.Data.jsonData);
                                RefreshTable('tblRuleSpecial', 'hdRuleSpecial');
                                break;

                            case "form5":
                                $("#hdRuleExtra").val(responseData.Data.jsonData);
                                RefreshTable('tblRuleExtra', 'hdRuleExtra');
                                break;

                            default:
                                break;
                        };

                    },
                    error: function (xhr, err) {
                        $('.btn').css('pointer-events', 'auto');
                        $.unblockUI();
                    }
                })
            } else {
                $.unblockUI();
                swal({
                    title: "İşlem Başarısız!",
                    text: "Lütfen Zorunlu Alanları Doldurunuz!",
                    icon: "info"
                });

            }
        }

        function ConfirmDeleteAndSave(title, text, type, hdi, data, tbl, targetFrm) {
            swal({
                title: title,
                text: text,
                type: type,
                showCancelButton: true,
                cancelButtonText: "Hayır",
                confirmButtonText: "Evet",
                closeOnConfirm: true,
            },
                function (isConfirm) {

                    debugger;

                    if (isConfirm) {
                        deleteData(hdi, data);
                        SaveData(targetFrm);
                        RefreshTable(tbl, hdi);
                        //tempdata alerti siler
                        $.getJSON("/Common/ClearTempData?key=Alert", function (data) { });
                    }
                });
        }

        function LoadNote() {
            var frm = "frmNote"
            var tbl = "tblNotes";
            var hdi = "hdNotes";
            var targetfrm = "form2";
            var updateFunc = "UpdateNote";

            if ($('#' + tbl).length > 0) {

                var jsonValue = '@Html.Raw(jsonNotes)';
                var data = JSON.parse(jsonValue);
                $('#' + hdi).val(JSON.stringify(data));

                var table = $('#' + tbl).DataTable({
                    pageLength: 10,
                    language: {
                        "emptyTable": "Kayıt Bulunamadı",
                        "infoEmpty": "",
                        "info": "",
                        "search": "Arama: "
                    },
                    "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                    "bPaginate": false,
                    "data": data,
                    "columns": [
                        { "data": "NOTE_TYPESelectedText" },
                        { "data": "NOTE_DESCRIPTION" },
                        {
                            "data": "id",
                            "render": function (data) {
                                return '<div class="islem">' +
                                    '<div class="btn-group fr">' +
                                    '<a href="#" class="myIcon icon-warning"  data-toggle="modal" data-target="#' + frm + '_Modal" data-tooltip="tooltip" data-placement="bottom" title="Düzenle" onclick="' + updateFunc + '(\'' + frm + '\',\'' + hdi + '\',\'' + data + '\');RefreshTable(\'' + tbl + '\',\'' + hdi + '\');">' +
                                    '<i class="fa fa-pencil-square-o"></i>' +
                                    '</a >' +
                                    '<a href="#" class="myIcon icon-danger" onclick="ConfirmDeleteAndSave(\'Sil\',\'Silmek istediğinizden emin misiniz ? \',\'warning\',\'' + hdi + '\',\'' + data + '\',\'' + tbl + '\', \'' + targetfrm + '\');" data-tooltip="tooltip" data-placement="bottom" title="Sil">' +
                                    '<i class="fa fa-trash-o"></i>' +
                                    '</a >' +
                                    '</div>' +
                                    '</div>';
                            }
                        }
                    ]
                });
                RefreshTable(tbl, hdi);
            }
        }

        function UpdateNote(frm, hdi, id) {

            var hiddenInput = $("#" + hdi);
            var jsons = new Array();
            jsons = JSON.parse(hiddenInput.val());

            $.each(jsons, function (i, item) {

                if (item.id == id) {

                    $('#' + frm + '_ClientId').val(id);

                    $('#NOTE_ID').val(item.NOTE_ID).change();
                    $('#SUBPRODUCT_NOTE_ID').val(item.SUBPRODUCT_NOTE_ID).change();

                    $('#NOTE_TYPE').val(item.NOTE_TYPE).change();
                    $('#NOTE_DESCRIPTION').val(item.NOTE_DESCRIPTION).change();

                    $('#btn' + frm + 'Save').html("GÜNCELLE");
                }
            });
        }

        function LoadMedia() {
            var frm = "frmMedia"
            var tbl = "tblMedias";
            var hdi = "hdMedias";
            var targetfrm = "form3";
            var updateFunc = "UpdateMedia";

            if ($('#' + tbl).length > 0) {

                var jsonValue = '@Html.Raw(jsonMedias)';
                var data = JSON.parse(jsonValue);
                $('#' + hdi).val(JSON.stringify(data));

                var table = $('#' + tbl).DataTable({
                    pageLength: 10,
                    language: {
                        "emptyTable": "Kayıt Bulunamadı",
                        "infoEmpty": "",
                        "info": "",
                        "search": "Arama: "
                    },
                    "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                    "bPaginate": false,
                    "data": data,
                    "columns": [
                        { "data": "MEDIA_NAME" },
                        {
                            "data": "id",
                            "render": function (data) {
                                return '<div class="islem">' +
                                    '<div class="btn-group fr">' +
                                    '<a href="#" class="myIcon icon-warning"  data-toggle="modal" data-target="#' + frm + '_Modal" data-tooltip="tooltip" data-placement="bottom" title="Düzenle" onclick="' + updateFunc + '(\'' + frm + '\',\'' + hdi + '\',\'' + data + '\');RefreshTable(\'' + tbl + '\',\'' + hdi + '\');">' +
                                    '<i class="fa fa-pencil-square-o"></i>' +
                                    '</a >' +
                                    '<a href="#" class="myIcon icon-danger" onclick="ConfirmDeleteAndSave(\'Sil\',\'Silmek istediğinizden emin misiniz ? \',\'warning\',\'' + hdi + '\',\'' + data + '\',\'' + tbl + '\', \'' + targetfrm + '\');" data-tooltip="tooltip" data-placement="bottom" title="Sil">' +
                                    '<i class="fa fa-trash-o"></i>' +
                                    '</a >' +
                                    '</div>' +
                                    '</div>';
                            }
                        }
                    ]
                });

                RefreshTable(tbl, hdi);

            }

        }

        function UpdateMedia(frm, hdi, id) {

            var hiddenInput = $("#" + hdi);
            var jsons = new Array();
            jsons = JSON.parse(hiddenInput.val());

            $.each(jsons, function (i, item) {

                if (item.id == id) {

                    $('#' + frm + '_ClientId').val(id);

                    $('#MEDIA_ID').val(item.MEDIA_ID).change();
                    $('#SUBPRODUCT_MEDIA_ID').val(item.SUBPRODUCT_MEDIA_ID).change();

                    $('#MEDIA_NAME').val(item.MEDIA_NAME);

                    $('#btn' + frm + 'Save').html("GÜNCELLE");
                }
            });
        }

        function LoadRuleSpecial() {
            var frm = "frmRuleSpecial"
            var tbl = "tblRuleSpecial";
            var hdi = "hdRuleSpecial";
            var targetfrm = "form4";

            if ($('#' + tbl).length > 0) {
                var jsonValue = '@Html.Raw(jsonRuleSpecial)';
                var data = JSON.parse(jsonValue);
                $('#' + hdi).val(JSON.stringify(data));

                var table = $('#' + tbl).DataTable({
                    pageLength: 10,
                    language: {
                        "emptyTable": "Kayıt Bulunamadı",
                        "infoEmpty": "",
                        "info": "",
                        "search": "Arama: "
                    },
                    "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                    "bPaginate": true,
                    "data": data,
                    "columns": [
                        { "data": "RULE_GROUP" },
                        { "data": "RULE_CATEGORY" },
                        { "data": "RULE_NAME" },
                        { "data": "RESULT" },
                        { "data": "INHERITED_NAME" },
                        { "data": "INHERITED_CODE" },
                        {
                            "data": null,
                            "render": function (data) {
                                if (data.IsInherited == "1") {
                                    return '<div class="islem">' +
                                        '<div class="btn-group fr">' +
                                        '<a href="#" class="myIcon icon-danger" onclick="ConfirmDeleteAndSave(\'Sil\',\'Silmek istediğinizden emin misiniz ? \',\'warning\',\'' + hdi + '\',\'' + data.id + '\',\'' + tbl + '\',\'' + targetfrm + '\');" data-tooltip="tooltip" data-placement="bottom" title="Sil">' +
                                        '<i class="fa fa-trash-o"></i>' +
                                        '</a >' +
                                        '</div>' +
                                        '</div>';
                                }
                                else {
                                    return '';
                                }
                            }
                        }
                    ]
                });
                RefreshTable(tbl, hdi);
            }
        }

    function LoadRuleExtra() {
        var frm = "frmRuleExtra";
        var tbl = "tblRuleExtra";
        var hdi = "hdRuleExtra";
        var targetfrm = "form5";

        if ($('#' + tbl).length > 0) {
            var jsonValue = '@Html.Raw(jsonRuleExtra)';
            var data = JSON.parse(jsonValue);
            $('#' + hdi).val(JSON.stringify(data));

            var table = $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": true,
                "data": data,
                "columns": [
                    { "data": "RULE_GROUP" },
                    { "data": "RULE_CATEGORY" },
                    { "data": "RULE_NAME" },
                    { "data": "RESULT" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return '<div class="islem">' +
                                '<div class="btn-group fr">' +
                                '<a href="#" class="myIcon icon-danger" onclick="ConfirmDeleteAndSave(\'Sil\',\'Silmek istediğinizden emin misiniz ? \',\'warning\',\'' + hdi + '\',\'' + data + '\',\'' + tbl + '\',\'' + targetfrm + '\');" data-tooltip="tooltip" data-placement="bottom" title="Sil">' +
                                '<i class="fa fa-trash-o"></i>' +
                                '</a >' +
                                '</div>' +
                                '</div>';
                        }
                    }
                ]
            });
            RefreshTable(tbl, hdi);
        }
    }

</script>
