﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var provider = ViewBag.Provider;
    string name = String.IsNullOrEmpty(provider.PROVIDER_NAME) ? " " : provider.PROVIDER_NAME;
    string code = String.IsNullOrEmpty(provider.OFFICIAL_CODE) ? " " : provider.OFFICIAL_CODE;
    string providerGroupName = String.IsNullOrEmpty(provider.PROVIDER_GROUP_NAME) ? " " : provider.PROVIDER_GROUP_NAME;
    string revisionDate = provider.REVISION_DATE==null ? " " : provider.REVISION_DATE.ToString("dd-MM-yyyy");
    string title = String.IsNullOrEmpty(provider.PROVIDER_TITLE) ? " " : provider.PROVIDER_TITLE;
    string taxOffice = String.IsNullOrEmpty(provider.TAX_OFFICE) ? " " : provider.TAX_OFFICE;
    string taxNumber = String.IsNullOrEmpty(Convert.ToString(provider.TAX_NUMBER)) ? " " : Convert.ToString(provider.TAX_NUMBER);
    string stoppage = String.IsNullOrEmpty(provider.STOPPAGE_OVERWRITE) ? " " : provider.STOPPAGE_OVERWRITE;
    string identityNo = String.IsNullOrEmpty(provider.IDENTITY_NO) ? " " : Convert.ToString(provider.IDENTITY_NO);
    string isEBill = String.IsNullOrEmpty(provider.IS_E_BILL) ? " " : provider.IS_E_BILL;
    string address = String.IsNullOrEmpty(provider.ADDRESS) ? " " : provider.ADDRESS;
    string district = String.IsNullOrEmpty(provider.DISTRICT) ? " " : provider.DISTRICT;
    string city = String.IsNullOrEmpty(provider.CITY_NAME) ? " " : provider.CITY_NAME;
    string county = String.IsNullOrEmpty(provider.COUNTY_NAME) ? " " : provider.COUNTY_NAME;
    string phone = String.IsNullOrEmpty(provider.PHONE_NO) ? " " : provider.PHONE_NO;

    //Doktor bilgileri
    string jsonDoctors = ViewBag.Doctors != null ? ViewBag.Doctors : "[]";

    //Yetkili Bilgileri
    string jsonContacts = ViewBag.Contacts != null ? ViewBag.Contacts : "[]";
}

@RenderPage("~/Views/Shared/Header.cshtml")

<div id="wrapper">

    @RenderPage("~/Views/Shared/LeftSidebar.cshtml")

    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Icon Cards-->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card text-white bg-info o-hidden h-100">
                            <div class="card-body-two">
                                <div class="card-body-icon">
                                    <i class="fas fa-fw fa-cogs"></i>
                                </div>
                                <h5>Kurum Bilgilerini Güncelleme</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="card mb-3">
                    <div class="card-header">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-section-one-tab" data-toggle="pill" href="#pills-section-one" role="tab" aria-controls="pills-section-one" aria-selected="true">GENEL</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-section-two-tab" data-toggle="pill" href="#pills-section-two" role="tab" aria-controls="pills-section-two" aria-selected="false">DOKTOR</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-section-three-tab" data-toggle="pill" href="#pills-section-three" role="tab" aria-controls="pills-section-three" aria-selected="false">YETKİLİ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-section-four-tab" data-toggle="pill" href="#pills-section-four" role="tab" aria-controls="pills-section-four" aria-selected="false">BANKA</a>
                            </li>
                            @*<li class="nav-item">
                                <a class="nav-link" id="pills-section-five-tab" data-toggle="pill" href="#pills-section-five" role="tab" aria-controls="pills-section-five" aria-selected="false">DOSYA</a>
                            </li>*@
                        </ul>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-section-one" role="tabpanel" aria-labelledby="pills-section-one-tab">
                            <div class="card-body">
                                <div class="card-head border-section">
                                    <h5 class="card-head-text-two">Genel Bilgiler</h5>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" disabled="disabled" value="@name" id="name" class="form-control" placeholder="Adı" required="required">
                                                    <label for="name">Adı</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" disabled="disabled" value="@code" id="code" class="form-control" placeholder="Resmi Kodu" required="required">
                                                    <label for="code">Resmi Kodu</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="coporateType" disabled="disabled" value="@ViewBag.ProviderType" class="form-control" placeholder="Kurum Tipi" required="required">
                                                    <label for="coporateType">Kurum Tipi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="linkGroup" class="form-control" disabled="disabled" value="@providerGroupName" placeholder="Bağlı Olduğu Grup" required="required">
                                                    <label for="linkGroup">Bağlı Olduğu Grup</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input id="revisionDate" disabled="disabled" value="@revisionDate" class="form-control" placeholder="Revizyon Tarihi" required="required">
                                                    <label for="revisionDate">Revizyon Tarihi</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-head border-section">
                                    <h5 class="card-head-text">Ticari Bilgileri</h5>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="commercialTitle" class="form-control" disabled="disabled" value="@title" placeholder="Ticari Unvanı" required="required">
                                                    <label for="commercialTitle">Ticari Unvanı</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="taxOffice" class="form-control" disabled="disabled" value="@taxOffice" placeholder="Vergi Dairesi" required="required">
                                                    <label for="taxOffice">Vergi Dairesi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="number" id="taxNumber" class="form-control" disabled="disabled" value="@taxNumber" placeholder="Vergi Dairesi" required="required">
                                                    <label for="taxNumber">Vergi Numarası</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="stopajValue" class="form-control" disabled="disabled" value="@stoppage" placeholder="Stopaj Değeri" required="required">
                                                    <label for="stopajValue">Stopaj Değeri</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="tcknNumber" class="form-control" disabled="disabled" value="@identityNo" placeholder="Vergi Dairesi" required="required">
                                                    <label for="tcknNumber">TCKN</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="can-toggle">
                                                <input id="a" type="checkbox" disabled="disabled" />
                                                <label for="a">
                                                    @if (isEBill == "1")
                                                    {
                                                        <div class="can-toggle__switch" data-checked="Evet" data-unchecked="Hayır"></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="can-toggle__switch" data-checked="Hayır" data-unchecked="Evet"></div>
                                                    }
                                                    <div class="can-toggle__label-text">E-Fatura Mükellefi</div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-head border-section">
                                    <h5 class="card-head-text">Adres Bilgileri</h5>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <textarea rows="3" id="commercialAddress" class="form-control" disabled="disabled" required="required" placeholder="Adres">@address</textarea>
                                                    <label for="address">Adres</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="district" class="form-control" disabled="disabled" value="@district" placeholder="Semt" required="required">
                                                    <label for="district">Semt</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="province" class="form-control" disabled="disabled" value="@city" placeholder="İl" required="required">
                                                    <label for="province">İl</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input type="text" id="county" class="form-control" disabled="disabled" value="@county" placeholder="İlçe" required="required">
                                                    <label for="county">İlçe</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="form-label-group">
                                                    <input id="phone" class="form-control" disabled="disabled" value="@phone" placeholder="Telefon Numarası" required="required">
                                                    <label for="phone">Telefon Numarası</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="pills-section-two" role="tabpanel" aria-labelledby="pills-section-two-tab">
                            <div class="card-body">
                                <div class="card mb-3">
                                    <div class="add-list">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h2 class="card-head-text-two">Doktor Listesi</h2>
                                            </div>
                                            <div class="col-md-6">
                                                <span><a href="#" onclick="CreateData('frmDoctor');" class="btn btn-success" data-toggle="tooltip" title="Doktor Ekle"><i class="fa fa-plus"></i> </a></span>
                                                <!--a href="#" class="btn btn-info" data-toggle="tooltip" title="Dosyayı İndir"><i class="fas fa-download"></i> </a-->
                                                <!--span data-toggle="modal" data-target="#doctorUploadModal"><a href="#" class="btn bg-purple" data-toggle="tooltip" title="Örnek Dosyayı Yükle"><i class="fas fa-upload"></i> </a></span-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" width="100%" cellspacing="0" id="tblDoctors">
                                                <thead>
                                                    <tr>
                                                        <th>Bölüm / Doktor Branş</th>
                                                        <th>Unvanı</th>
                                                        <th>Diploma No</th>
                                                        <th>Sicil No</th>
                                                        <th>Adı</th>
                                                        <th>Soyadı</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-section-three" role="tabpanel" aria-labelledby="pills-section-three-tab">
                            <div class="card-body">
                                <div class="card mb-3">
                                    <div class="add-list">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h2 class="card-head-text-two">Yetkili Listesi</h2>
                                            </div>
                                            <div class="col-md-6">
                                                <span><a href="#" onclick="CreateData('frmStaff');" class="btn btn-success" data-toggle="tooltip" title="Doktor Ekle"><i class="fa fa-plus"></i> </a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" width="100%" cellspacing="0" id="tblContacts">
                                                <thead>
                                                    <tr>
                                                        <th>Unvanı</th>
                                                        <th>Adı</th>
                                                        <th>Soyadı</th>
                                                        <th>Telefon Numarası</th>
                                                        <th>Dahili Numarası</th>
                                                        <th>Mobil Tel. Numarası</th>
                                                        <th>E-posta</th>
                                                        <th>Kurum Grubu Yetkilisi</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-section-four" role="tabpanel" aria-labelledby="pills-section-four-tab">
                            <div class="card-body">
                                <div class="card mb-3">
                                    <div class="add-list">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h2 class="card-head-text-two">Banka Listesi</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-short table-bordered" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Banka Adı</th>
                                                        <th>IBAN</th>
                                                        <th>Hesap Numarası</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var bank in ViewBag.Banks)
                                                    {
                                                        <tr>
                                                            <td>@bank.BANK_NAME</td>
                                                            <td>@bank.IBAN</td>
                                                            <td>@bank.BANK_ACCOUNT_NO</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="tab-pane fade" id="pills-section-five" role="tabpanel" aria-labelledby="pills-section-five-tab">
                            <div class="card-body">
                                <div class="card mb-3">
                                    <div class="add-list">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h2 class="card-head-text-two">Dosyalar</h2>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="#" class="btn btn-success" data-toggle="modal" data-target="#fileUploadModal"><i class="fa fa-plus"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-short table-bordered" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Dosya Adı</th>
                                                        <th>Dosya</th>
                                                        <th>İşlem</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var media in ViewBag.Medias)
                                                    {
                                                        <tr>
                                                            <td>@media.MediaName</td>
                                                            <td>@media.FileName</td>
                                                            <td>
                                                                <div class="btn-group fr">
                                                                    <span>
                                                                        <a href="#" class="myIcon icon-green" data-toggle="tooltip" title="İndir" onclick="MediaDownloader(@media.MediaId)">
                                                                            <i class="fas fa-download"></i>
                                                                        </a>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>

    @RenderPage("~/Views/Shared/Footer.cshtml")
</div>
<!-- /#wrapper -->

@RenderBody()

<script>
    $(document).ready(function () {
        LoadDoctors();
        LoadContacts();
    });

    function ValidateAndSave(frm) {
        var form = $('#' + frm);
        $.validator.setDefaults({ ignore: ":hidden:not(.chosen-select)" })

        form.validate();

        if (form.valid()) {
             SaveData(frm);
            $("#" + frm + "_Modal").modal("toggle");
        } else {
            getErrorMessage("warning", "Zorunlu alanları doldurunuz!");
        }
    }

    //Form save steps
    function SaveData(frmName) {
        debugger;

        var form = $('#' + frmName);
        form.validate();

        if (form.valid()) {

            var formData = new FormData(form[0]);

            debugger;
            $.ajax({
                type: form[0].method,
                contentType: "application/json; charset=utf-8",
                url: form[0].action,
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function (xhr) {
                    $.blockUI({ message: $('#domMessage') });
                    console.log('btnSave disabled');
                    $('.btn').css('pointer-events', 'none');
                },
                success: function (data) {
                    sessionStorage.ProviderFormisChanged = false;
                    $.unblockUI();
                    var responseData = $.parseJSON(data);

                    if (responseData.ResultCode == "100") {
                        $('.btn').css('pointer-events', 'auto');
                        if (frmName == "form1") {
                            getErrorMessage("success", responseData.ResultMessage);
                        }
                        else {
                            getErrorMessage("success", "Tüm veriler başarılı kaydedildi");
                        }
                    }
                    else if (responseData.ResultCode == "") {

                    }
                    else {
                        $('.btn').css('pointer-events', 'auto');
                        getErrorMessage("error", responseData.ResultMessage);
                    }
                    debugger;
                    switch (frmName) {
                        case "form1":
                            $('.mbui-body .nav-tabs > li > a').css('pointer-events', 'auto');
                            $("#hdCorporateId").val(responseData.Data.corporateId);
                            $("#hdContactId").val(responseData.Data.providerContactId);
                            $("#hdAddressId").val(responseData.Data.providerAdressId);
                            $("#hdUserId").val(responseData.Data.UserId);
                            $("#hdProviderUserId").val(responseData.Data.providerUserId);
                            $("#hdPhoneId").val(responseData.Data.phoneId);
                            $("#hdProviderPhoneId").val(responseData.Data.providerPhoneId);
                            $('input[name="ObjectId"]').val(responseData.Data.providerId);
                            $('#providerCode').val(responseData.Data.providerId);

                            var hdProviderIds = document.getElementsByName("hdProviderId");

                            for (i = 0; i < hdProviderIds.length; i++) {
                                hdProviderIds[i].value = responseData.Data.providerId;
                            }
                            break;

                        case "frmDoctor":
                            RefreshTable('tblDoctors', JSON.parse(responseData.Data.jsonData));
                            break;

                        case "frmStaff":
                            RefreshTable('tblContacts', JSON.parse(responseData.Data.jsonData));
                            break;

                        case "form4":
                            $("#hdBanks").val(responseData.Data.jsonData);
                            RefreshTable('tblBanks', 'hdBanks');
                            break;

                        case "form5":
                            $("#hdNotes").val(responseData.Data.jsonData);
                            RefreshTable('tblNotes', 'hdNotes');
                            break;

                        case "form6":
                            $("#hdMedias").val(responseData.Data.jsonData);
                            RefreshTable('tblMedias', 'hdMedias');
                            break;



                        default:
                            break;
                    };

                },
                error: function (xhr, err) {
                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    alert("responseText: " + xhr.responseText);
                    $.unblockUI();
                }
            })
        } else {
            $.unblockUI();
            getErrorMessage("warning", "Zorunlu alanları doldurunuz!");
        }
    }

    //Doctors
    function LoadDoctors() {
        var tbl = "tblDoctors";

        if ($('#' + tbl).length > 0) {
        var jsonValue = '@Html.Raw(jsonDoctors)';

            var data = JSON.parse(jsonValue);

            $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "processing": "Kayıtlar Listeleniyor... Lütfen Bekleyiniz...",
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "search": "Arama: ",
                    "info": "",
                    oPaginate: {
                        sNext: 'İleri <i class="fa fa-angle-right"></i>',
                        sPrevious: '<i class="fa fa-angle-left"></i> Geri',
                        sFirst: '<i class="fa fa-angle-double-left"></i> İlk',
                        sLast: 'Son <i class="fa fa-angle-double-right"></i>'
                    }
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "data": data,          
                "bPaginate": false,
                "columns": [
                    { "data": "DOCTOR_BRANCH_NAME" },
                    { "data": "STAFF_TITLE" },
                    { "data": "DIPLOMA_NO" },
                    { "data": "REGISTER_NO" },
                    { "data": "FIRST_NAME" },
                    { "data": "LAST_NAME" }
                ]
            });
        }
    }

    function LoadContacts() {
        var tbl = "tblContacts";

        if ($('#' + tbl).length > 0) {

            /**/
            var jsonValue = '@Html.Raw(jsonContacts)';
            /**/
            var data = JSON.parse(jsonValue);

            $('#' + tbl).DataTable({
                pageLength: 10,
                language: {
                    "emptyTable": "Kayıt Bulunamadı",
                    "infoEmpty": "",
                    "info": "",
                    "search": "Arama: "
                },
                "aLengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "Tümü"]],
                "bPaginate": false,
                "data": data,
                "columns": [
                    { "data": "STAFF_TITLE" },
                    { "data": "FIRST_NAME" },
                    { "data": "LAST_NAME" },
                    { "data": "PHONE_NO" },
                    { "data": "EXTENSION" },
                    { "data": "MOBILE_PHONE_NO" },
                    { "data": "EMAIL_ADDRESS" },
                    {
                        "data": "IS_GROUP_ADMIN",
                        "render": function (data) {
                            return data == "1" ? '<i class="far fa-check-square"></i>' : '<i class="far fa-window-close"></i>';
                        }

                    },
                ]
            });
        }
    }

    function MediaDownloader(MediaId) {
        debugger;
        $.ajax({
            type: 'POST',
            url: '/Common/DownloadByMediaId/',
            data: '{ "MediaID": ' + MediaId + ' }',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (returnValue) {
                debugger;
                if (returnValue.IsNull == false) {
                    window.location = '/Common/Download?fileGuid=' + returnValue.FileGuid
                        + '&filename=' + returnValue.FileName;
                }
            }
        });
    }
</script>