﻿<div class="modal fade" id="frmStaff_Modal" tabindex="-1" role="dialog" aria-labelledby="authorizedModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="authorizedModalLabel">Yetki</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="form-horizontal" role="form" action="/Provider/StaffSave" method="post" id="frmStaff">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="STAFF_TITLE" name="STAFF_TITLE" class="form-control" placeholder="Ünvanı" required="required">
                                    <label for="STAFF_TITLE">Ünvanı</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="STAFF_FIRST_NAME" name="STAFF_FIRST_NAME" maxlength="11" class="form-control" placeholder="Adı" required="required">
                                    <label for="STAFF_FIRST_NAME">Adı</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="STAFF_LAST_NAME" name="STAFF_LAST_NAME" maxlength="11" class="form-control" placeholder="Soyadı" required="required">
                                    <label for="STAFF_LAST_NAME">Soyadı</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="STAFF_PHONE_NO" name="STAFF_PHONE_NO" maxlength="11" class="form-control" placeholder="Telefon Numarası" required="required">
                                    <label for="STAFF_PHONE_NO">Telefon Numarası</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="STAFF_EXTENSION" name="STAFF_EXTENSION" maxlength="11" disabled="disabled" class="form-control" placeholder="Dahili Numarası" required="required">
                                    <label for="STAFF_EXTENSION">Dahili Numarası</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="number" id="STAFF_MOBILE_PHONE_NO" name="STAFF_MOBILE_PHONE_NO" maxlength="11" class="form-control" placeholder="Mobil Tel. Numarası" required="required">
                                    <label for="STAFF_MOBILE_PHONE_NO">Mobil Tel. Numarası</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="email" id="STAFF_EMAIL" name="STAFF_EMAIL" class="form-control" placeholder="E-posta" required="required">
                                    <label for="STAFF_EMAIL">E-posta</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="can-toggle">
                                <input id="STAFF_IS_GROUP_ADMIN" name="STAFF_IS_GROUP_ADMIN" type="checkbox" />
                                <label for="STAFF_IS_GROUP_ADMIN">
                                    <div class="can-toggle__label-text">Kurum Grubu Yetkilisi Mi ?</div>
                                    <div class="can-toggle__switch" data-checked="Evet" data-unchecked="Hayır"></div>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <button type="button" id="btnfrmStaffSave" onclick="ValidateAndSave('frmStaff');" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>